.mouseCrownsView-group.favourite .mouseCrownsView-group-header .mouseCrownsView-crown,
.mouseCrownsView-group.favourite .mouseCrownsView-group-header-name {
  display: inline-block;
}

.mouseCrownsView-group-header-subtitle {
  margin-left: 0;
}

.mouseCrownsView-group-mouse-favouriteButton {
  left: 2px;
  top: 2px;
}

.mouseCrownsView .pt.event {
  border-radius: 50%;
}

.mouseCrownsView #copyCrownsButton {
  width: 16px !important;
  height: 16px !important;
  border: none;
}

.mouseCrownsView .pt {
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 2px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.mouseCrownsView button.ptbtn {
  font-size: 13px !important;
  background-color: #9fcad8 !important;
  border: 1px solid #008cba;
}

.mouseCrownsView button.ptbtn img {
  width: 20px !important;
  height: 20px !important;
}

.mouseCrownsView #powerTypeBtns {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.mouseCrownsView-crown.powerCrown {
  background-size: contain !important;
}

.mouseCrownsView .toolBar {
  position: absolute;
  right: 9px;
  top: -1px;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: flex-end;
  float: none!important;
  padding: 1px;
  background-color: #d1d1d1;
  border: 1px solid #a7a7a7;
  border-radius: 0 5px 0 5px;
}
