/* General styles */
#mousehuntContainer.PageCamp {
  background: url(https://i.mouse.rip/bg-wood.png);
  box-shadow: inset 0 0 8px 0 #755e40;
}

.mousehuntFooter-image {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 13px;
  color: transparent;
  background-image: none;
}

.campPage-trap {
  border: 1px solid #9d917f;
}

.campPage-trap-friendList.full,
.campPage-trap-itemStats,
.campPage-trap-trapEffectiveness,
.campPage-trap-armedItem,
.campPage-trap-armedItem.bait,
.campPage-trap-armedItem.bait.inactive,
.campPage-trap-armedItem.skin,
div#minluck-list {
  border: 1px solid #d3cecb;
  border-radius: 3px;
  box-shadow: -1px 1px 3px 0 #d3cecb inset;
}

div#minluck-list {
  margin-top: 10px;
}

.campPage-trap-friendList.full {
  background-color: #fbf8f6;
}

.campPage-trap-armedItem.weapon .campPage-trap-armedItem-image,
.campPage-trap-armedItem.base .campPage-trap-armedItem-image {
  background-position: -1px -1px;
  background-size: 72px;
}

span.campPage-trap-baitQuantity {
  right: -1px;
  bottom: -1px;
  border-color: #d3cecb;
  border-right: none;
  border-bottom: none;
}

/* recipe page */
.mousehuntHud-page-tabContent.crafting .mousehuntHud-page-subTabContent {
  padding: none;
  background: none;
  border: none;
  box-shadow: none;
}

.mousehuntHud-page-tabContent.crafting .mousehuntHud-page-subTabContent-margin {
  padding: 0;
  border: none;
  box-shadow: none;
}

/* subtabs */
.mousehuntHud-page-subTabContent-prefix-filter-options {
  border: 1px solid #8595b0;
  border-radius: 10px;
}

.active.mousehuntHud-page-subTabContent-prefix-filter-option:first-child {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.active.mousehuntHud-page-subTabContent-prefix-filter-option:last-child {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

a.mousehuntHud-page-subTabContent-prefix-filter-option {
  border: 1px solid #8595b0;
  border-top: none;
  border-bottom: none;
}

.mousehuntHud-page-subTabContent-prefix-filter-option:first-child,
.mousehuntHud-page-subTabContent-prefix-filter-option:last-child {
  border: none;
}

.mousehuntHud-page-subTabHeader.active span,
.mousehuntHud-page-subTabHeader:hover span,
.mousehuntHud-page-subTabHeader:focus span {
  color: #fff;
  background-color: #8595b0;
  box-shadow: none;
}

.mousehuntHud-page-subTabHeader span {
  color: #3b5998;
  background: none;
  border-color: #3b5998;
}

.mousehuntHud-page-subTabHeader-prefix,
.mousehuntHud-page-subTabContent-prefix-filter span:first-child {
  display: none;
}

.mousehuntHud-page-subTabHeader-container {
  text-align: center;
}

.mousehuntHud-page-subTabContent-prefix.clear-block {
  margin-left: 30px;
}

/* hunters profile */
.mouseCrownsView-group-mice.favourites > .empty ~ .empty {
  display: none;
}

.scoreboardTableView-availableScoreboards {
  width: 180px;
}

/* Gift window spacing */
.giftSelectorView-content-subtitle {
  padding: 10px 0;
}

/* Gift of the day width */
.giftSelectorView-giftContainer .giftSelectorView-gift.gift_of_the_day {
  width: 20%;
}

/* Marketplace search */
.marketplaceView-header-searchContainer {
  right: 30px !important;
}

/* Team member */
.teamPage-memberRow-identity .teamPage-member-nameContainer {
  width: auto;
}

/* make armed cheese button more visible */
.mousehuntArmNowButton.active {
  filter: hue-rotate(104deg);
}

.mousehuntArmNowButton.active:hover {
  filter: hue-rotate(104deg) brightness(1.2);
}

.mousehuntArmNowButton {
  filter: brightness(1);
}

.mousehuntArmNowButton:hover {
  filter: brightness(1.2);
}

/* make menu sb bold */
.mousehuntHeaderView a.superBrie .quantity {
  font-weight: 600;
}

/* speed up horn transition and make it bigger and stuff */
a.huntersHornView__horn.huntersHornView__horn--default.huntersHornView__horn--ready:hover {
  transition: all .2s .15s;
}

a.huntersHornView__horn.huntersHornView__horn--default.huntersHornView__horn--ready .huntersHornView__hornBannerImage {
  transition: all .6s;
}

a.huntersHornView__horn.huntersHornView__horn--default.huntersHornView__horn--ready:hover .huntersHornView__hornBannerImage {
   filter: saturate(1.8);
}

/* golded shield fun */
a.mousehuntHud-shield.golden {
  transition: all .6s;
}

a.mousehuntHud-shield.golden:hover {
  filter: opacity(.85);
}

/* bigger menu icons */
.mousehuntHud-menu ul li ul li a .icon {
  top: 5px;
  left: 2px;
  width: 22px;
  height: 22px;
}

/* maps */
.treasureMapRootView-subTab-label {
  display: none;
}

.treasureMapView-block-search {
  bottom: 0;
}

/* events */

/* ronza */
.MiniEventRonzaChromeBitCampHUD-completeQuantity.MiniEventRonzaChromeBitCampHUD-chromeBitQuantity {
  padding: 2px 3px;
  font-size: 13px;
}


/* cleaner trap image on camp page, hide auras a LE until hovered */
.trapImageView-layer.limitedEdition {
  top: unset;
  bottom: -270px;
  left: -135px;
  background-size: 200px;
}

.trapImageView-layer.limitedEdition,
.trapImageView-trapAura.active,
.trapImageView-zoomButton {
  opacity: 0;
}

.trapImageView:hover .trapImageView-layer.limitedEdition,
.trapImageView:hover .trapImageView-trapAura.active,
.trapImageView:hover .trapImageView-zoomButton {
  opacity: 1;
}

/* fix zoom button position */
a.trapImageView-zoomButton {
  top: 85%;
}

/* bigger env icon */
.mousehuntHud-environmentIcon {
  width: 50px;
  height: 50px;
  margin-top: -9px;
}

.mousehuntHud-environmentIconWrapper {
  width: 50px;
  height: 0;
  border: 1px solid #8a6d3e;
}
