.ancientCityHUD-total.mousehuntTooltipParent {
  top: 34px;
  right: 135px;
  left: 552px;
  width: unset;
  padding: 11px 5px;
  font-size: 12px;
  font-weight: 900;
  text-shadow: 0 0 1px #000;
}

.ancientCityHUD-total.mousehuntTooltipParent .mousehuntTooltip {
  font-weight: 400;
  text-shadow: none;
}

.ancientCityHUD-countDown {
  top: 0;
  right: 10px;
  font-size: 36px;
  text-shadow: 2px 2px 2px #171717;
}

.ancientCityHUD-bossLabel {
  text-shadow: 2px 2px 2px #171717;
}

.ancientCityHUD-tier-number {
  margin-top: 4px;
  margin-right: -4px;
  text-shadow: 1px 1px 2px #171717;
}

.ancientCityHUD-progress {
  margin-left: 1px;
  background: #e8da17;
  border-radius: 1px;
}

span.ancientCityHUD-alertLevel {
  position: absolute;
  right: 3px;
  bottom: 2px;
  left: 1px;
  text-align: center;
  text-shadow: 1px 1px 2px #171717;
}

.ancientCityHUD-districtName {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 13px;
  color: #c6c6c6;
}

.ancientCityHUD-item-quantity {
  position: absolute;
  top: 1px;
  padding: 0 4px;
  margin-left: 3px !important;
  font-size: 11px;
  line-height: unset;
  text-align: center;
  background-color: #000;
  border-radius: 5px;
}

.ancientCityHUD-item:nth-child(1) .ancientCityHUD-item-name,
.ancientCityHUD-item:nth-child(2) .ancientCityHUD-item-name,
.ancientCityHUD-item:nth-child(3) .ancientCityHUD-item-name,
.ancientCityHUD-item:nth-child(4) .ancientCityHUD-item-name,
.ancientCityHUD-item:nth-child(5) .ancientCityHUD-item-name {
  width: 96px;
  margin-left: 47px;
  font-size: 11px;
  font-weight: 900;
  text-align: center;
  text-shadow: 0 0 1px #000;
  border-radius: 20px;
}

.ancientCityHUD-item:hover .ancientCityHUD-item-location,
.ancientCityHUD-item:focus .ancientCityHUD-item-location {
  position: absolute;
  top: unset;
  bottom: -25px;
  padding: 3px;
  font-size: 9px;
  color: #000;
  text-align: center;
  background: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 2px 3px 4px #666;
}

.ancientCityHUD-item {
  top: 5px;
}

.ancientCityHUD-bossSecretLabel {
  font-size: 13px;
  text-shadow: 0 1px 1px #3d3d3d;
}

.ancientCityHUD.secret .ancientCityHUD-bossContainer:active {
  background-position: 0 0;
}

.ancientCityHUD {
  background-image: url(https://i.mouse.rip/hud-zokor-updated.png);
  filter: drop-shadow(0 3px 5px #0a0803);
}

.ancientCityHUD-tier {
  background-image: url(https://i.mouse.rip/hud-zokor-alert.png);
}

.ancientCityHUD-bossContainer.active .ancientCityHUD-bossLabel.active,
.ancientCityHUD-bossContainer.defeated .ancientCityHUD-bossLabel.defeated {
  top: 20px;
  left: 46px;
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
}

.ancientCityHUD-districtName-f .ancientCityHUD-bossName {
  color: #11f400;
}

.ancientCityHUD-districtName-h .ancientCityHUD-bossName {
  color: #21e2ff;
}

.ancientCityHUD-districtName-s .ancientCityHUD-bossName {
  color: #e96300;
}

.ancientCityHUD-districtName-y .ancientCityHUD-bossName {
  color: #d851ff;
}

.ancientCityHUD-districtName-t .ancientCityHUD-bossName {
  color: #ffe400;
}

.huntersHornView__message.huntersHornView__message--active.oil-charm-warning .huntersHornMessageView--unknown_error .huntersHornMessageView__content::before {
  display: none;
}

.huntersHornView__message.huntersHornView__message--active.oil-charm-warning .huntersHornMessageView--unknown_error {
  border-image-source: url(https://i.mouse.rip/horn-message-blank-pink.png);
}

.ancientCityHUD-bossNameDefeated {
  margin-left: 5px;
  font-size: 11px;
  color: #c6c6c6;
}

.ancientCityHUD-bossContainer.defeated .ancientCityHUD-bossLabel.defeated.stealth-view {
  inset: 12px 0 0 40px;
  width: auto;
  line-height: 1.2;
}

.ancientCityHUD-bossContainer.defeated .ancientCityHUD-bossLabel.defeated.stealth-view .stealth-remaining {
  font-size: 26px;
}

.ancientCityHUD-bossContainer {
  background-image: url(https://i.mouse.rip/hud-zokor-doors.png);
}

.ancientCityHUD-f .ancientCityHUD-progress {
  background-color: #11f400;
  box-shadow: 0 -5px 5px #0a8f00 inset;
}

.ancientCityHUD-h .ancientCityHUD-progress {
  background-color: #21e2ff;
  box-shadow: 0 -5px 5px #009fb8 inset;
}

.ancientCityHUD-s .ancientCityHUD-progress {
  background-color: #e96300;
  box-shadow: 0 -5px 5px #853700 inset;
}

.ancientCityHUD-y .ancientCityHUD-progress {
  background-color: #d851ff;
  box-shadow: 0 -5px 5px #b800eb inset;
}

.ancientCityHUD-t .ancientCityHUD-progress {
  background-color: #ffe400;
  box-shadow: 0 -5px 5px #998a00 inset;
}

.ancientCityHUD-item.active::after {
  display: none;
}

.ancientCityHUD-f .ancientCityHUD-item.active .ancientCityHUD-item-quantity.quantity {
  background-color: #004d00;
}

.ancientCityHUD-h .ancientCityHUD-item.active .ancientCityHUD-item-quantity.quantity {
  background-color: #004651;
}

.ancientCityHUD-s .ancientCityHUD-item.active .ancientCityHUD-item-quantity.quantity {
  background-color: #4d2a00;
}

.ancientCityHUD-y .ancientCityHUD-item.active .ancientCityHUD-item-quantity.quantity {
  background-color: #4d004d;
}

.ancientCityHUD-t .ancientCityHUD-item.active .ancientCityHUD-item-quantity.quantity {
  background-color: #4d4d00;
}

.ancientCityHUD-startGame {
  position: absolute;
  top: 12px;
  left: 440px;
}

.ancientCityHUD-startGame:hover {
  cursor: pointer;
  filter: brightness(1.4);
}

.ancientCityHUD-startGame::after {
  display: block;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url(https://i.mouse.rip/memory-game-icon.png);
  background-size: contain;
}

.ancientCityHUD-powerTypeWarning {
  top: 40px;
  left: 90px;
  max-width: 459px;
  background-color: #ffbfbf;
}
