.moussuPicchuHUD-torchQuantity.quantity {
  font-size: 12px;
  background-color: #fff;
  border-radius: 4px;
}

.moussuPicchuHUD .mousehuntItem-quantity.quantity {
  right: 0;
  bottom: -8px;
  left: 0;
  font-size: 11px;
}

.moussuPicchuHUD-itemContainer {
  top: 150px;
  right: 7px;
  left: 7px;
  background-color: #320717;
  border-radius: 5px;
  box-shadow: 0 -7px 0 #320717;
}

a.moussuPicchuHUD-footer-item-action.mousehuntArmNowButton {
  top: 8px;
  right: -1px;
  transform: scale(0.8);
}

.moussuPicchuHUD-footer-item-name {
  width: auto;
  font-size: 9px;
}

.moussuPicchuHUD-footer-item.dragon_scale_crafting_item.mousehuntTooltipParent {
  width: 20%;
}

.moussuPicchuHUD-footer-item.gouda_cheese,
.moussuPicchuHUD-footer-item.super_brie_cheese {
  width: 26%;
}

.moussuPicchuHUD-footer-item.glowing_gruyere_cheese {
  width: 28%;
}

.moussuPicchuHUD-itemBlock.mousehuntTooltipParent.dragon_bait {
  left: 310px;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 120px;
}

.moussuPicchuHUD-powerType.moussuPicchuHUD-powerType {
  box-shadow: none;
}

.moussuPicchuHUD-footer-item-tooltip-baitRow .mousehuntArmNowButton[data-item-type="swiss_cheese"],
.moussuPicchuHUD-footer-item-tooltip-baitRow .mousehuntArmNowButton[data-item-type="brie_cheese"] {
  display: block;
}

.moussuPicchuHUD-footer-item.dragon_scale_crafting_item .mousehuntTooltip {
  text-align: center;
}

.moussuPicchuHUD-footer-item .mousehuntTooltip {
  bottom: 130%;
}

.moussuPicchuHUD-footer-item-image {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-size: cover;
}

.moussuPicchuHUD-footer-item:nth-child(3) .mousehuntTooltip {
  right: -30px;
  left: -30px;
}

.moussuPicchuHUD .mousehuntItem-image {
  width: 38px;
  height: 38px;
}

.moussuPicchuHUD .mousehuntItem.active .mousehuntItem-image::after {
  box-shadow: inset 0 0 9px 2px #74e776;
}

.moussuPicchuHUD-background {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: inset 0 5px 10px -2px #321c1e;
}

.moussuPicchuHUD-background.wind {
  top: 2px;
  left: 8px;
}

.moussuPicchuHUD-background.storm {
  top: 3px;
  left: 8px;
}

.moussuPicchuHUD-powerTypeWarning.active.useless {
  right: 200px;
  left: 200px;
  padding: 5px;
  color: #870808;
  background-color: #ffbfbf;
  border-color: #ff8a7c;
}

.moussuPicchuHUD-powerType.wind,
.moussuPicchuHUD-powerType.wind.active,
.moussuPicchuHUD-powerType.rain,
.moussuPicchuHUD-powerType.rain.active {
  filter: hue-rotate(90deg) opacity(0.6);
  background-position: center;
  box-shadow: none;
}

.moussuPicchuHUD-powerType.rain,
.moussuPicchuHUD-powerType.rain.active {
  background-image: url(https://www.mousehuntgame.com/images/powertypes/shadow.png);
}

.moussuPicchuHUD-powerType.wind,
.moussuPicchuHUD-powerType.wind.active {
  background-image: url(https://www.mousehuntgame.com/images/powertypes/arcane.png);
}

.moussuPicchuHUD-powerType.wind.active {
  filter: opacity(0.8);
}

a.moussuPicchuHUD-powerType:hover {
  transform: scale(1.5);
}

a.moussuPicchuHUD-powerType {
  transition: transform 0.2s ease-out;
}
