/* Utility */
.transparent-text {
  color: transparent;
}

.text-black {
  color: #000;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.full-opacity {
  opacity: 1;
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.outline {
  outline: 1px solid #f00;
}

.sort-button {
  top: 7px;
  bottom: 10px;
  left: 7px;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  cursor: pointer;
  content: '';
  border-top: 9px solid #777;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.sort-button.reverse {
  border-top: 0;
  border-right: 6px solid transparent;
  border-bottom: 9px solid #777;
  border-left: 6px solid transparent;
}

.sort-button.unsorted {
  opacity: 0.5;
}
