/* hiding date for entries that come with a hunt */
.journal .content .entry.short.refine_pollutinum .journalbody .journaldate,
.journal .content .entry.short.torch_charm_event .journalbody .journaldate,
.journal .content .entry.short.unstable_charm_trigger .journalbody .journaldate,
.journal .content .entry.short.tournamentpointswithloot .journalbody .journaldate,
.journal .content .entry.short.tournamentpoints .journalbody .journaldate,
.journal .content .entry.short.rift-bristlewoods-acolyteSandStolen .journalbody .journaldate,
.journal .content .entry.short.rift-bristlewoods-lootBooster .journalbody .journaldate,
.journal .content .entry.short.super_rift_vacuum_trigger .journalbody .journaldate,
.journal .content .entry.short.queso_canyon_queso_pumped .journalbody .journaldate,
.journal .content .entry.short.custom.chesla_trap_trigger .journalbody .journaldate,
.journal .content .entry.short.wordCount.minimalJournal .journalbody .journaldate,
.journal .content .entry.short.folkloreForest.folkloreForest-lootFuelBoost .journalbody .journaldate,
.journal .content .entry.short.labyrinth.labyrinth-chooseDoor .journalbody .journaldate,
.journal .content .entry.short.labyrinth.labyrinth-intersection .journalbody .journaldate,
.journal .content .entry.short.misc.custom.chesla_trap_trigger .journalbody .journaldate,
.journal .content .entry.short.misc.custom.birthday_factory.claim_package .journaldate,
.journal .content .entry.short.rift-whisker-woods-increase .journalbody .journaldate {
  display: none;
}

/* duplicate these from hg styles just to be sure */
.journal .content .log_summary.stats .journaldate,
.journal .entry.birthday2018-anniversary-trap-trigger .journaldate,
.journal .birthday2015-trayComplete-special .journaldate,
.journal .train_station.progress .journaldate,
.journal .entry.furoma_base_trigger .journaldate,
.journal .entry.living_grove_base_trigger .journaldate,
.journal .entry.desert_heater_base_trigger .journaldate,
.journal .entry.queso_cannonstorm_base_trigger .journaldate,
.journal .entry.aurora_base_trigger .journaldate,
.journal .entry.timepiece_trigger .journaldate,
.journal .entry.vegetation_base_trigger .journaldate,
.journal .entry.electromagnetic_base_trigger .journaldate,
.journal .entry.pirate_sleigh_trigger .journaldate,
.journal .entry.slac_in_a_box_trigger .journaldate,
.journal .entry.regulator_base_trigger .journaldate,
.journal .entry.rift_mist_diffuser_trigger .journaldate,
.journal .entry.spring_hunt_relic_hunter_egg_drop .journaldate,
.journal .entry.denture_base_saved_trigger .journaldate,
.journal .entry.denture_base_decay_trigger .journaldate,
.journal .entry.printing_press_base_journal_entry .journaldate,
.journal .entry.lunar_lantern .journaldate,
.journal .entry.mousoleum .journaldate,
.journal .entry.labyrinth-lantern .journaldat,
.journal .entry.labyrinth-base-burnClue .journaldate,
.journal .entry.labyrinth-clue .journaldate,
.journal .entry.riftFuroma-energyLost .journaldate {
  display: none !important;
}
