/* Hide the period */
.entry.short.log_summary.stats .fullstop {
  display: none;
}

.journal .entry .journalbody .journaltext .lucky::after {
  position: relative;
  top: unset;
  display: inline;
  margin: 0;
  background: unset;
}

.journal .entry .journaltext br::after {
  content: " ";
}

.journal .entry .journaltext br:last-child,
.journal .content .entry .journaltext > br:last-of-type,
.journal .content .entry .journaltext > br:first-of-type {
  display: none;
}

.journal .content .entry .journaltext > br + br:last-of-type {
  display: block;
}

.journal .entry.catchsuccessloot .journaltext br,
.journal .entry.luckycatchsuccess .journaltext br,
.journal .entry.relicHunter_catch .journaltext br::after,
.journal .entry.relicHunter_complete .journaltext br::after {
  content: "";
}

.unstable_charm_trigger .journaltext a:last-of-type::after,
.journaltext .loot:last-of-type::after,
.journaltext .lucky:last-of-type::after,
.journaltext .item:last-of-type::after,
.entry.short.supplytransferitem .journaltext a::after,
.entry.gloomyGreenwood-incense .journaltext::after,
.journal .entry.relicHunter_complete .journaltext b:last-of-type::after,
.entry.halloween_boiling_cauldron.brew_finished a:last-of-type::after,
.entry.halloween_boiling_cauldron.brew_removed a:last-of-type::after,
.entry.badge .journaltext a::after,
.entry.folkloreForest-farmToTable .journaltext a:last-of-type::after,
.entry.folkloreForest-forewordFarm.folkloreForest-plantStarted .journaltext a::after,
.entry.festiveSpiritLootBoost .journaltext a::after,
.entry.golemUpgraded .journaltext a::after,
.entry.workshopPartProduced .journaltext a::after,
.entry.adventureBook-journal.goal .journaltext b::after,
.entry.donationComplete .journaltext a:last-of-type::after {
  display: inline;
  content: ".";
}

.journaltext .better-journal-list a.lucky:last-of-type::after,
.journaltext .better-journal-list a.item:last-of-type::after,
.journaltext .better-journal-list a.loot:last-of-type::after,
.entry.alchemists_cookbook_base_bonus .journaltext .loot:last-of-type::after,
.entry.short.dailyreward a:last-of-type::after,
.entry.folkloreForest-plantStarted,
.entry.short.supplytransferitem .journaltext #friend-data-wrapper a::after .entry.short.craft.convertible_open a.item::after {
  content: "";
}

.journal .entry a.lucky::after {
  top: 0;
  left: 0;
  width: unset;
  height: unset;
  background: none;
}
