/* Hide the period */
.entry.short.log_summary.stats .fullstop {
  display: none;
}

.journal .entry .journalbody .journaltext .lucky::after {
  position: relative;
  top: unset;
  display: inline;
  background: unset;
}

.journal .entry .journaltext br::after {
  content: " ";
}

.journal .entry .journaltext br,
.journal .entry.relicHunter_catch .journaltext br::after {
  content: "";
}

.journaltext > *:last-child::after {
  display: inline;
  content: ".";
}

.journal .entry a.lucky::after {
  top: 0;
  left: 0;
  width: unset;
  height: unset;
  background: none;
}
