.mh-ui-gold,
.mh-ui-points {
  position: relative;
  margin-left: 22px;
}

.mh-ui-gold::after,
.mh-ui-points::after {
  position: absolute;
  inset: -4px 0 0 -22px;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url(https://www.mousehuntgame.com/images/items/stats/transparent_thumb/dccbaeebbdfa745340ff9363749f35ba.png?cv=2);
  background-position: center;
  background-size: contain;
}

.mh-ui-points::after {
  top: -1px; /* visually align it */
  background-image: url(https://www.mousehuntgame.com/images/items/stats/transparent_thumb/eeebc1c32b4242b95f75041be7275980.png?cv=2);
}
