/* Progress log */
.journal .entry.log_summary .journalbody {
  margin-left: 10px;
}

.journal .entry.log_summary .journaltext b {
  display: block;
  padding-top: 1em;
  font-weight: 900;
}

/* Progress log */
.mh-ui-progress-log-link {
  display: block;
  width: 100px;
  margin: 1em auto;
}

.log_summary tbody {
  display: block;
  margin: 0;
}

.entry.short.log_summary {
  background-color: #fff;
}

#overlayPopup.hunting_summary .label {
  padding: 5px;
  font-size: 13px;
  background-color: #eee;
  border: 1px solid #ccc;
}

.journal .content .log_summary table td.value {
  padding-right: 10px;
  font-size: 12px;
  line-height: 24px;
}

.journal .content .log_summary table {
  display: flex;
  justify-content: center;
  width: 330px;
}

.journal .content .log_summary table td.field {
  padding-left: 10px;
}

.journal .content .log_summary table td.field.mice,
.journal .content .log_summary table td.field.points,
.journal .content .log_summary table td.field.gold,
.journal .content .log_summary table td.field.loot {
  padding: 0 0 4px;
  font-size: 12px;
  text-align: center;
}

.journal .content .log_summary table tr:nth-child(7) {
  outline: none;
}

.journal .content .log_summary table td.spacer {
  display: none;
}

.journal .content .log_summary table th {
  border-color: #c6c6c6;
}

#overlayPopup.hunting_summary .leftColumn,
#overlayPopup.hunting_summary .rightColumn {
  margin-bottom: 20px;
}

#overlayPopup.hunting_summary .title {
  margin: 10px;
  font-size: 19px;
  text-align: center;
}

#overlayPopup.hunting_summary .baitContainer,
#overlayPopup.hunting_summary .lootContainer {
  display: grid;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

#overlayPopup.hunting_summary .lootContainer {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


#overlayPopup.hunting_summary .baitContainer .label,
#overlayPopup.hunting_summary .lootContainer .label {
  border-top: none;
  border-right: none;
  border-left: none;
}

#overlayPopup.hunting_summary .baitContainer .label {
  grid-column: span 2;
}

#overlayPopup.hunting_summary .lootContainer .label {
  grid-column: span 4;
}

#overlayPopup.hunting_summary .lootContainer a .wrapper {
  padding: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#overlayPopup.hunting_summary .miceContainer a {
  display: grid;
  grid-template-columns: 0 50px auto;
  align-items: center;
  padding: 6px 0;
  font-size: 10px;
  line-height: 14px;
}

#overlayPopup.hunting_summary .miceContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: start stretch;
}

#overlayPopup.hunting_summary .miceContainer .catches {
  float: none;
  font-size: 11px;
}

#overlayPopup.hunting_summary .miceContainer a img {
  margin: 0 3px;
}

#overlayPopup.hunting_summary .baitContainer a {
  display: inline-block;
  float: none;
  width: auto;
}

#overlayPopup.hunting_summary .lootContainer a {
    width: 160px;
}

#overlayPopup.hunting_summary .baitContainer a .wrapper {
  font-size: 10px;
}

#overlayPopup.hunting_summary .baitContainer a img {
  width: 35px;
  height: auto;
  margin-top: 6px;
}

#overlayPopup.hunting_summary .baitContainer a b {
  display: inline-block;
  padding-bottom: 6px;
}

.reportTitle {
  padding-bottom: 0.5em;
  font-size: 1.5em;
}

.reportSubtitle {
  padding-bottom: 0.75em;
  font-size: 1.125em;
}
