.journal .entry .journalbody .journaltext {
  font-size: 11px;
}

.journal .entry .journalbody .journaltext p {
  margin: 0;
  font-size: 11px;
}

.journaltext .lucky::after {
  width: 14px;
  height: 14px;
  background-image: url(https://www.mousehuntgame.com/images/ui/camp/trap/stat_luck.png);
  background-size: cover;
}
