.big-timer.huntersHornView__timer.huntersHornView__timer--default.countdown {
  position: absolute;
  top: 40px;
  left: 185px;
  z-index: 100;
  transform: scale(2.2);
}

.big-timer.huntersHornView__timer.huntersHornView__timer--default.countdown::after {
  position: absolute;
  top: 6px;
  right: 5px;
  left: 5px;
  font-size: 14px;
  text-align: center;
  content: "Next Hunt";
  background: linear-gradient(180deg, #fef2b8 0%, #ecdfae 100%);
}
