.halloweenBoilingCauldronHUD-bait-quantity {
  top: 31px;
  left: 40px;
  font-size: 11px;
}

.halloweenBoilingCauldronHUD-bait-ingredientQuantity {
  top: 47px;
  width: 38px;
  font-size: 11px;
}

.halloweenBoilingCauldronHUD-extract-quantity.quantity {
  line-height: 22px;
}

.halloweenBoilingCauldronHUD-extract-mouseDrake-quantity.quantity {
  line-height: 23px;
}

.halloweenBoilingCauldronHUD-bait-quantity,
.halloweenBoilingCauldronHUD-bait-ingredientQuantity,
.halloweenBoilingCauldronHUD-extract-quantity.quantity,
.halloweenBoilingCauldronHUD-extract-mouseDrake-quantity.quantity,
.halloweenBoilingCauldronHUD-instantFinish-quantity {
  text-shadow: 1px 1px 1px #282828;
}

body .halloweenBoilingCauldronHUD-bait.basic_baits .halloweenBoilingCauldronHUD-bait-quantity {
  top: 29px;
  left: 42px;
  width: 58px;
  padding-right: 8px;
  background: linear-gradient(0deg, #2b3320 0%, #4b5837 50%, #2b3320 100%);
  border: 1px solid #6f8d70;
  border-radius: 6px;
}

body .halloweenBoilingCauldronHUD-bait.basic_baits.active .halloweenBoilingCauldronHUD-bait-quantity {
  background: linear-gradient(0deg, #03461a 0%, #03792d 50%, #03461a 100%);
  border-color: #03d14c;
}

a.halloweenBoilingCauldronHUD-cauldron-boundingBox {
  font-size: 14px;
}

.halloweenBoilingCauldronHUD-cauldron-imageContainer .halloweenBoilingCauldronHUD-cauldron-queue-brewTime {
  width: auto;
  padding-right: 4px;
  font-size: 19px;
  color: #f9e8b1;
  text-align: center;
  text-shadow: 1px 1px 1px #515b3a;
  background-image: none;
}

.halloweenBoilingCauldronHUD-cauldron-tooltip {
  top: 0;
  height: 50px;
  font-size: 13px;
  line-height: 1.2;
  background-color: #16372b;
  transition: 0.3s ease-in-out;
}

.halloweenBoilingCauldronHUD-cauldron-tooltip i {
  font-size: 15px;
  color: #f8e7b0;
}

.halloweenBoilingCauldronHUD-cauldron-tooltip b {
  font-weight: 400;
  color: #ccc;
}

.halloweenBoilingCauldronHUD-bait-cauldronButton {
  box-shadow: none;
}

.halloweenBoilingCauldronHUD-cauldron.active:hover .halloweenBoilingCauldronHUD-cauldron-instantFinishButton {
  opacity: 1;
}

.halloweenBoilingCauldronHUD-cauldron-instantFinishButton {
  display: block;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.halloweenBoilingCauldronHUD-shutdownButton {
  left: 271px;
  width: 198px;
}

.itemPurchaseView-container.apothecary .itemPurchaseView-content-name {
  display: block;
  padding-top: 3px;
}

.itemPurchaseView-container.apothecary .itemPurchaseView-image-container {
  background-color: transparent;
}

.itemPurchaseView-container.apothecary .itemPurchaseView-action-purchaseHelper-owned {
  padding-left: 0;
  margin: 0;
  text-shadow: none;
  background-color: transparent;
  border: none;
}

.itemPurchaseView-container.apothecary .itemPurchaseView-content-description {
  height: 80px;
}

.itemPurchaseView-container.apothecary.no_gold_cost .itemPurchaseView-action-goldGost {
  display: none;
}

.itemPurchaseView-container.apothecary .itemPurchaseView-action-itemCost-table {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  background-color: #e8f2e5;
}

.itemPurchaseView-container.apothecary .itemPurchaseView-action-itemCost-table-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 50px;
  padding: 0;
  margin: 0;
}

.itemPurchaseView-container.apothecary .itemPurchaseView-action-quantity {
  margin-top: -1px;
}

.itemPurchaseView-container.apothecary .itemPurchaseView-action-quantity input {
  width: 90px;
}

.itemPurchaseView-container.apothecary .itemPurchaseView-action-container {
  height: 130px;
}

.itemPurchaseView-container.apothecary .itemPurchaseView-action-itemCost-table-cell a {
  padding: 20px 6px 20px 29px;
  font-size: 13px;
  background-position: -10px 50%;
  background-size: 42px;
}

.itemPurchaseView-container.apothecary .itemPurchaseView-action-itemCost-table .itemPurchaseView-action-itemCost-table-cell.cost {
  width: 20%;
  font-size: 17px;
  font-weight: 400;
  text-shadow: 1px 1px 1px #788c59;
}

.itemPurchaseView-container.apothecary .itemPurchaseView-content-container {
  background-color: transparent;
}

.halloweenBoilingCauldronHUD-dialog-boonImage {
  display: flex;
  align-items: center;
}

.halloweenBoilingCauldronHUD-dialog-reward.complete::after {
  top: 45px;
  filter: drop-shadow(0 5px 6px #000);
  transform: rotate(348deg);
}

a.halloweenBoilingCauldronHUD-dialog-closeButton {
  top: 0;
  right: -6px;
  width: 46px;
  height: 38px;
  background-size: 100%;
}

#overlayPopup.halloweenBoilingCauldronRecipePopup #jsDialogClose {
  top: 146px;
  right: 22px;
  z-index: 1;
  width: 46px;
  height: 37px;
  color: transparent;
  background-size: cover;
}

#overlayPopup.halloweenBoilingCauldronRecipePopup #jsDialogClose:hover {
  background-size: cover;
}

.halloweenBoilingCauldronRecipeView-recipe-ingredientContainer table {
  border: none;
}

.halloweenBoilingCauldronRecipeView-recipe-ingredientContainer {
  padding: 0;
  border-radius: 5px;
}

.halloweenBoilingCauldronRecipeView-recipe-ingredient-header {
  display: none;
}

.halloweenBoilingCauldronRecipeView-recipe-ingredientContainer td:first-child {
  padding-left: 10px;
}

.halloweenBoilingCauldronRecipeView-recipe-ingredientContainer td:last-child {
  padding-right: 10px;
}

.halloweenBoilingCauldronRecipeView-recipe-ingredientContainer td {
  font-size: 12px;
}

.halloweenBoilingCauldronRecipeView-recipe-description {
  line-height: 1.3;
  color: #4c4d37;
}

.halloweenBoilingCauldronRecipeView-recipe-mouse {
  font-size: 11px;
}

.halloweenBoilingCauldronRecipeView-recipe-mice-list.num_5 .halloweenBoilingCauldronRecipeView-recipe-mouse {
  width: 33%;
}

.halloweenBoilingCauldronHUD-cauldron-queue-brewTime {
  margin-top: -4px;
  margin-left: 3px;
  font-size: 13px;
  text-shadow: 0 1px 1px #efd28e;
  background-color: #efd28e;
  background-position-y: bottom;
  border-radius: 10px;
}

.empty .halloweenBoilingCauldronHUD-cauldron-queue-brewTime {
  background-color: transparent;
}

.halloweenBoilingCauldronRecipeView-cauldron-queueSlot.cauldron .halloweenBoilingCauldronHUD-cauldron-queue-brewTime {
  padding-top: 2px;
  font-size: 13px;
  font-weight: 900;
}

.halloweenBoilingCauldronRecipeView-content {
  font-size: 12px;
}

.hudLocationContent .halloweenBoilingCauldronHUD-cauldron-imageContainer .halloweenBoilingCauldronHUD-cauldron-queue-brewTime {
  padding-right: 4px;
  margin-top: 2px;
  background-color: transparent;
}

.campHudSpookyShuffleView__quantity {
  font-size: 12px;
}

.fuelActive .halloweenBoilingCauldronHUD-reward-progress-bar {
  transition: all 0.2s ease-in-out;
}

.fuelActive .halloweenBoilingCauldronHUD-cauldron-imageContainer {
  background-image: url(https://i.mouse.rip/mh-improved/cauldrons.png);
  filter: drop-shadow(2px 4px 6px #ff8b1c);
}

.fuelActive a.halloweenBoilingCauldronHUD-moreInfoButton {
  filter: hue-rotate(256deg);
}

.halloweenBoilingCauldronHUD.fuelReveal .halloweenBoilingCauldronHUD-candle {
  animation-delay: 0.5s;
}

.halloweenBoilingCauldronHUD-yield-huntsRemaining {
  right: 30px;
  left: 30px;
  height: 6px;
  border-width: 1px;
  border-radius: 0;
}

.halloweenBoilingCauldronHUD-yield-huntsRemaining-progress-bar {
  height: 5px;
  background-color: #03cd4a;
  box-shadow: inset 0 0 2px 0 #037e2d;
}

.halloweenBoilingCauldronHUD-dialog-state.item .halloweenBoilingCauldronHUD-dialog-title {
  margin-right: 20px;
}

.halloweenBoilingCauldronRecipeView-brewButton {
  border-radius: 3px;
}

.halloweenBoilingCauldronRecipeView-recipeList {
  height: 480px;
}

.halloweenBoilingCauldronHUD-overlay {
  z-index: 90;
}

.halloweenBoilingCauldronHUD-ingredientInformationTitle {
  text-shadow: -2px 2px #182a15;
}

.halloweenBoilingCauldronHUD-dialog-state.auto_brew .halloweenBoilingCauldronHUD-dialog-title {
  color: #d1dac8;
  border-bottom: none;
}

.halloweenBoilingCauldronHUD-dialog-subTitle {
  font-family: inherit;
  color: #d1dac8;
}

.halloweenBoilingCauldronHUD-autoBrew-top .halloweenBoilingCauldronHUD-ingredientInformationContainer.ingredients > span {
  padding-bottom: 3px;
  margin-top: -3px;
}

.halloweenBoilingCauldronHUD-ingredientInformation.cauldron_potion_ingredient_stat_item,
.halloweenBoilingCauldronHUD-ingredientInformation.cauldron_instant_finish_stat_item {
  font-size: 18px;
}

.halloweenBoilingCauldronHUD-autoBrew-receivedExtract {
  width: 95px;
  padding: 4px;
  margin-top: 6px;
  margin-bottom: -10px;
  font-size: 16px;
}

.halloweenBoilingCauldronHUD-autoBrew-bottomContainer.conversion .halloweenBoilingCauldronHUD-itemThumbnail {
  width: 45px;
  height: 45px;
}

.halloweenBoilingCauldronHUD-autoBrew-bottomContainer.conversion > div:first-child {
  font-size: 11px;
  color: #bbc4b2;
}

.halloweenBoilingCauldronHUD-autoBrew-top .halloweenBoilingCauldronHUD-ingredientInformationContents {
  align-items: center;
}

.halloweenBoilingCauldronHUD-ingredientInformation.cauldron_potion_ingredient_stat_item .halloweenBoilingCauldronHUD-itemThumbnail,
.halloweenBoilingCauldronHUD-ingredientInformation.cauldron_instant_finish_stat_item .halloweenBoilingCauldronHUD-itemThumbnail {
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
}

.halloweenBoilingCauldronHUD-ingredientInformationContainer.result::before,
.halloweenBoilingCauldronHUD-ingredientInformationContainer.ingredients::before {
  filter: drop-shadow(3px 5px 1px #000);
}

.halloweenBoilingCauldronHUD-ingredientInformationContainer.ingredients::after {
  filter: drop-shadow(-3px 5px 1px #000);
}

.halloweenBoilingCauldronHUD-autoBrew-middle .halloweenBoilingCauldronHUD-bulkConversion-button {
  filter: drop-shadow(3px 5px 1px #000);
}

.halloweenBoilingCauldronHUD.auto_brew .halloweenBoilingCauldronHUD-dialog-closeButton {
  top: -1px;
  right: 5px;
}

.halloweenBoilingCauldronHUD-autoBrew-footer .halloweenBoilingCauldronHUD-bait .halloweenBoilingCauldronHUD-bait-ingredientQuantity {
  font-size: 13px;
}

.halloweenBoilingCauldronRecipeView-recipeRow:hover {
  background-color: #fefbee;
}

.halloweenBoilingCauldronRecipeView-recipeRow.sticky::after,
.halloweenBoilingCauldronRecipeView-recipeRow:hover::after {
  border-color: #f6dea0;
}

.halloweenBoilingCauldronRecipeView-recipeRow.sticky {
  background-color: #96ea86;
}

.halloweenBoilingCauldronRecipeView-cauldron .halloweenBoilingCauldronRecipeView-cauldron-frame {
  background-color: rgb(251 146 255 / 50%);
}

.halloweenBoilingCauldronHUD-instantFinish-image:hover,
.halloweenBoilingCauldronHUD-extract-image:hover,
.halloweenBoilingCauldronHUD-extract-mouseDrake-image:hover {
  background-size: 100%;
  transform: scale(1.1);
}

.halloweenBoilingCauldronRecipeView-cauldron.selected .halloweenBoilingCauldronRecipeView-cauldron-frame {
  background-color: #fb92ff;
}

.halloweenBoilingCauldronRecipeView-recipe-action {
  padding-bottom: 10px;
}

.halloweenBoilingCauldronRecipeView-recipeRow {
  border-bottom: 1px solid #dcbd70;
}

.halloweenBoilingCauldronRecipeView-recipeRow.greater_radioactive_blue_cheese_potion::before {
  top: -30px;
}

.halloweenBoilingCauldronRecipeView-recipeRow.halloween_extract_cauldron_recipe::before {
  top: -25px;
}

.halloweenBoilingCauldronRecipeView-recipeRow-skulls {
  opacity: 0.3;
}

.halloweenBoilingCauldronRecipeView-cauldron-queueSlot .halloweenBoilingCauldronHUD-cauldron-queue {
  padding: 10px;
}

.halloweenBoilingCauldronHUD-cauldron-queue .halloweenBoilingCauldronHUD-yield-image {
  margin-top: 5px;
  margin-left: -5px;
}

.halloweenBoilingCauldronRecipeView-cauldron-queueSlot .halloweenBoilingCauldronHUD-yield-image {
  width: 42px;
  height: 42px;
  margin-top: 0;
  margin-left: 4px;
  background-size: cover;
}

.halloweenBoilingCauldronRecipeView-cauldron-queueSlot.cauldron .halloweenBoilingCauldronHUD-cauldron-queue.active .halloweenBoilingCauldronHUD-yield-image {
  width: 50px;
  height: 50px;
  margin-left: 0;
}

.halloweenBoilingCauldronRecipeView-recipe-name {
  font-size: 15px;
}

.halloweenBoilingCauldronHUD-cauldron.active .halloweenBoilingCauldronHUD-cauldron-yieldContainer {
  width: 52px;
  padding: 2px;
  margin-top: -3px;
  background-image: url(https://www.mousehuntgame.com/images/ui/events/halloween_boiling_cauldron/queue_item.png);
  background-size: contain;
}

.halloweenBoilingCauldronHUD-cauldron .halloweenBoilingCauldronHUD-cauldron-imageContainer {
  padding-left: 5px;
}

.halloweenBoilingCauldronRecipeView-cauldron-queueSlot {
  margin: 0 8px;
}

.halloweenBoilingCauldronRecipeView-tab.potion {
  width: 74px;
  height: 117px;
  margin-top: -12px;
  background-size: cover;
}

.halloweenBoilingCauldronRecipeView-tab.potion.hover {
  width: 74px;
}

.halloweenBoilingCauldronRecipeView-tab.cheese {
  width: 68px;
  height: 98px;
  margin-top: -3px;
  background-size: cover;
}

.halloweenBoilingCauldronRecipeView-tab.cheese.hover {
  width: 68px;
}

.halloweenBoilingCauldronRecipeView-recipeRow-cost {
  height: 40px;
  margin-right: 0;
  font-size: 13px;
  line-height: 3;
  background-size: 35px;
}

.halloweenBoilingCauldronRecipeView-recipeRow.disabled:hover .halloweenBoilingCauldronRecipeView-thumb {
  filter: grayscale(0.3);
}

.halloweenBoilingCauldronRecipeView-cauldronTooltip {
  font-size: 12px;
  line-height: 1.3;
  background: #9ff4d4;
}

.halloweenBoilingCauldronRecipeView-cauldronTooltip b {
  display: block;
  margin-top: -3px;
  font-size: 11px;
}

.halloweenBoilingCauldronRecipeView-recipe-ingredientContainer .error {
  color: #bd0000;
}
.halloweenBoilingCauldronHUD-cauldron-queue-brewTime {
  display: none;
}

.cauldron .halloweenBoilingCauldronHUD-cauldron-queue-brewTime {
  display: block;
}

.cauldron.halloweenBoilingCauldronRecipeView-cauldron-queueSlot .halloweenBoilingCauldronHUD-yield-image {
  margin-top: 0;
}

.halloweenBoilingCauldronRecipeView-cauldron-queueSlot .halloweenBoilingCauldronHUD-yield-image {
  margin-top: 6px;
}
