.schoolOfSorceryCourseView__background--arcane_101_course {
  background-image: url(https://i.mouse.rip/sos/background_arcane.png);
}

.schoolOfSorceryCourseView__background--shadow_101_course {
  background-image: url(https://i.mouse.rip/sos/background_shadow.png);
}

.schoolOfSorceryCourseView__background--exam_course {
  background-image: url(https://i.mouse.rip/sos/background_exam.png);
}
