.folkloreForestRegionView-trapWarningContainer {
  top: 40%;
}

.headsUpDisplaySchoolOfSorceryView .folkloreForestRegionView-trapWarningContainer {
  right: 160px;
  left: 160px;
  padding: 5px;
}

.folkloreForestRegionView-warning {
  border: none;
}

.schoolOfSorceryCourseView__dropOutButton {
  height: 19px;
}

.schoolOfSorceryTranscriptDialogView__courseSummaryIcon {
  width: 30px;
  height: 30px;
  background-size: cover;
}

.schoolOfSorceryCourseView__magicProgressBarLabel {
  top: 45px;
  left: 30%;
  padding: 3px;
  color: #ddd;
  background-color: #3c3c3c;
  border: 1px solid #1f1f1f;
}

.schoolOfSorceryCourseView__content:hover .schoolOfSorceryCourseView__stream--short,
.schoolOfSorceryCourseView__content:hover .schoolOfSorceryCourseView__glow,
.schoolOfSorceryCourseView__content:hover .schoolOfSorceryCourseView__explosion {
  animation-play-state: unset;
}

.schoolOfSorceryCourseView__explosion {
  animation-timing-function: unset;
}

.schoolOfSorceryCourseView__powerTypeRecommendationText.schoolOfSorceryCourseView__powerTypeRecommendationText--usingCorrectPowerType {
  position: relative;
  width: 0;
  color: transparent;
  visibility: hidden;
}

.schoolOfSorceryCourseView__powerTypeRecommendationText.schoolOfSorceryCourseView__powerTypeRecommendationText--usingCorrectPowerType::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2px;
  width: 13px;
  height: 13px;
  color: #70e923;
  visibility: visible;
  content: "";
  background-image: url(https://www.mousehuntgame.com/images/ui/hud/meadow_checkmark.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.schoolOfSorceryCourseView__powerTypeRecommendationContainer {
  top: 130px;
}

.schoolOfSorceryCourseView__powerTypeIcon {
  filter: drop-shadow(-1px -1px 2px #000);
}

.schoolOfSorceryCourseView__powerTypeWarningIcon {
  top: 6px;
  width: 20px;
  height: 19px;
  background-image: url(https://i.mouse.rip/map-marker.png);
  filter: hue-rotate(320deg);
  background-position: 50% -3px;
  background-size: 20px;
  border-radius: 50%;
}

.headsUpDisplaySchoolOfSorceryView__wandQuantity.quantity {
  top: 7px;
  font-size: 12px;
}

.schoolOfSorceryCourseView__huntsRemainingContainer {
  font-size: 17px;
  color: #ddd;
  opacity: 0.9;
}

.schoolOfSorceryCourseView__magicProgressBarLabel .schoolOfSorceryCourseView__magicProgressValue--overcharged {
  color: #74f623;
}

.schoolOfSorceryCourseView__spellforceQuanitity {
  font-size: 16px;
  text-shadow:
    0 0 0 #444,
    1px 0 0 #444,
    0 1px 0 #444,
    -1px 0 0 #444,
    0 -1px 0 #444,
    -1px -1px 0 #444,
    1px -1px 0 #444,
    -1px 1px 0 #444,
    1px 1px 0 #444;
  filter: none;
}

.schoolOfSorceryCourseView__dropOutButton,
.headsUpDisplaySchoolOfSorceryView__disarmPreferenceButton,
.headsUpDisplaySchoolOfSorceryView__viewTranscriptButton {
  opacity: 0.7;
  transition: opacity 0.2s;
}

.schoolOfSorceryCourseView__dropOutButton:hover,
.headsUpDisplaySchoolOfSorceryView__disarmPreferenceButton:hover,
.headsUpDisplaySchoolOfSorceryView__viewTranscriptButton:hover {
  filter: none;
  opacity: 1;
}

.headsUpDisplaySchoolOfSorcery__inventoryBlock::before,
.headsUpDisplaySchoolOfSorcery__inventoryBlockQuantity {
  background-color: #0b4e7f;
  border-color: #008cf3;
}

.headsUpDisplaySchoolOfSorceryView__disarmPreferenceButton,
.headsUpDisplaySchoolOfSorceryView__viewTranscriptButton,
.headsUpDisplaySchoolOfSorceryView__baitCraftableContainer {
  filter: hue-rotate(125deg);
}

.headsUpDisplaySchoolOfSorceryView__baitImage,
.headsUpDisplaySchoolOfSorceryView__baitIngredientImage,
.headsUpDisplaySchoolOfSorceryView__baitBuyButton {
  filter: hue-rotate(-125deg);
}

.headsUpDisplaySchoolOfSorceryView__baitImage:hover,
.headsUpDisplaySchoolOfSorceryView__baitIngredientImage:hover,
.headsUpDisplaySchoolOfSorceryView__baitBuyButton:hover {
  filter: hue-rotate(-125deg) brightness(1.2);
}

.folkloreForestRegionView-basicBaitContainer {
  filter: hue-rotate(170deg);
}

.folkloreForestRegionView-basicBait .folkloreForestRegionView-bait-image {
  filter: hue-rotate(-170deg);
}

.folkloreForestRegionView-basicBaitContainer:hover {
  filter: hue-rotate(170deg) brightness(1.1);
}

.schoolOfSorceryCourseView__huntRemainingText--highlight {
  font-size: 22px;
  text-shadow: none;
  vertical-align: bottom;
}

.schoolOfSorceryCourseView__magicProgressBarLabel--bossMode {
  left: -52%;
}

.headsUpDisplaySchoolOfSorcery__inventoryBlock.highlight::before {
  background-color: #3ecb9e;
}

.headsUpDisplaySchoolOfSorcery__inventoryBlock.highlight .headsUpDisplaySchoolOfSorcery__inventoryBlockQuantity {
  background-color: #276f91;
  border-color: #1e6571;
}

.schoolOfSorceryTranscriptDialogView__courseSummaryNumberBlock {
  justify-self: center;
  padding-right: 4px;
  font-size: 15px;
}

.schoolOfSorceryTranscriptDialogView__courseSummaryHeader .schoolOfSorceryTranscriptDialogView__courseSummaryNumberBlock {
  font-size: 13px;
}

.schoolOfSorceryTranscriptDialogView__courseSummaryName {
  width: unset;
  margin-left: 0;
  font-size: 13px;
}

.schoolOfSorceryTranscriptDialogView__courseSummaryHeader .schoolOfSorceryTranscriptDialogView__courseSummaryName {
  margin-right: -55px;
}

.headsUpDisplaySchoolOfSorceryView__fuelQuantity.quantity {
  color: #fff;
  background-color: rgb(100 200 125 / 30%);
}

.schoolOfSorceryCourseView__spellforceAvatar {
  filter: drop-shadow(0 10px 1px #000);
}

.headsUpDisplaySchoolOfSorceryView__lootPerCatchItemImage {
  width: 25px;
  height: 25px;
  margin-top: -2px;
  filter: drop-shadow(-1px 2px 2px #000);
}

.headsUpDisplaySchoolOfSorceryView__lootPerCatchItemText {
  color: #90dd31;
  text-shadow: 1px 1px #000;
}

/* Correctly align the bait switching loading spinner */
.headsUpDisplaySchoolOfSorceryView__baitImage.busy::after {
  top: calc(50% - 1px);
  left: calc(50% - 1px);
}

/* Better buttons */
.headsUpDisplaySchoolOfSorceryView__wandButton {
  font-weight: 900;
  text-shadow: 1px 1px 1px #a8c3fa;
}

.schoolOfSorceryCourseView__dropOutButton,
.headsUpDisplaySchoolOfSorceryView__fuelToggleButton::before {
  font-weight: 900;
  text-shadow: 1px 1px 1px #b5f1bc;
}

/* Better doors */
.schoolOfSorceryHallwayView__startCourse--disabled {
  color: #fff;
  filter: grayscale(1);
  background-position-y: unset;
  opacity: 0.6;
}

.schoolOfSorceryHallwayView__courseSelectionContainer.schoolOfSorceryHallwayView__courseSelectionContainer--arcane_101_course,
.schoolOfSorceryHallwayView__courseSelectionContainer.schoolOfSorceryHallwayView__courseSelectionContainer--shadow_101_course,
.schoolOfSorceryHallwayView__courseSelectionContainer.schoolOfSorceryHallwayView__courseSelectionContainer--exam_course {
  position: relative;
}

.schoolOfSorceryHallwayView__courseSelectionContainer.schoolOfSorceryHallwayView__courseSelectionContainer--arcane_101_course::before,
.schoolOfSorceryHallwayView__courseSelectionContainer.schoolOfSorceryHallwayView__courseSelectionContainer--shadow_101_course::before,
.schoolOfSorceryHallwayView__courseSelectionContainer.schoolOfSorceryHallwayView__courseSelectionContainer--exam_course::before {
  position: absolute;
  top: 1px;
  left: 55px;
  display: block;
  width: 24px;
  height: 24px;
  content: "";
  background: url(https://www.mousehuntgame.com/images/powertypes/arcane.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.schoolOfSorceryHallwayView__courseSelectionContainer.schoolOfSorceryHallwayView__courseSelectionContainer--shadow_101_course::before {
  background-image: url(https://www.mousehuntgame.com/images/powertypes/shadow.png);
}

.schoolOfSorceryHallwayView__courseSelectionContainer.schoolOfSorceryHallwayView__courseSelectionContainer--exam_course::before {
  background-image: url(https://www.mousehuntgame.com//images/ui/hud/school_of_sorcery/exam_icon.png);
}

.schoolOfSorceryHallwayView__courseSelectionContainer.schoolOfSorceryHallwayView__courseSelectionContainer--arcane_101_course .schoolOfSorceryHallwayView__startCourse,
.schoolOfSorceryHallwayView__courseSelectionContainer.schoolOfSorceryHallwayView__courseSelectionContainer--shadow_101_course .schoolOfSorceryHallwayView__startCourse,
.schoolOfSorceryHallwayView__courseSelectionContainer.schoolOfSorceryHallwayView__courseSelectionContainer--exam_course .schoolOfSorceryHallwayView__startCourse {
  top: 120px;
}

.schoolOfSorceryHallwayView__courseSelectionContainer.schoolOfSorceryHallwayView__courseSelectionContainer--arcane_101_course .schoolOfSorceryHallwayView__entryCostItemImage,
.schoolOfSorceryHallwayView__courseSelectionContainer.schoolOfSorceryHallwayView__courseSelectionContainer--shadow_101_course .schoolOfSorceryHallwayView__entryCostItemImage {
  margin-left: 3px;
}

.schoolOfSorceryHallwayView__entryCostItemQuantity {
  font-weight: 900;
}

.schoolOfSorceryHallwayView__entryCost {
  filter: drop-shadow(1px 1px 1px #000);
}

.schoolOfSorceryEnrollCourseDialogView__courseBossDrop {
  bottom: 5px;
}

.schoolOfSorceryEnrollCourseDialogView__courseInfoContainer {
  padding-top: 10px;
}

.schoolOfSorceryEnrollCourseDialogView__course {
  height: 160px;
  background-color: #fff5dd;
}

.schoolOfSorceryEnrollCourseDialogView__courseStats {
  padding-top: 5px;
}

.schoolOfSorceryEnrollCourseDialogView__course--exam_course .schoolOfSorceryEnrollCourseDialogView__examPowerTypeSwitchWarning {
  top: unset;
  bottom: 10px;
}

.schoolOfSorceryEnrollCourseDialogView__courseStat {
  background-color: #fbe3a7;
}

.schoolOfSorceryEnrollCourseDialogView__course:hover::after,
.schoolOfSorceryEnrollCourseDialogView__course--active::after {
  position: absolute;
  inset: -2px;
  content: "";
  border: 2px solid #008cf3;
  border-radius: 6px;
}

.schoolOfSorceryEnrollCourseDialogView__course--active::after {
  outline: 2px solid #5fb4f1;
}

.schoolOfSorceryEnrollCourseDialogView__course.schoolOfSorceryEnrollCourseDialogView__course--disabled:hover::after {
  border: none;
}

.schoolOfSorceryCourseView__beam--enemy::after {
  position: absolute;
  top: -13px;
  right: -14px;
  z-index: 10;
  width: 60px;
  height: 70px;
  content: "";
  background-image: url(https://www.mousehuntgame.com/images/ui/hud/school_of_sorcery/course/beam/wand_glow_arcane.png);
  background-repeat: no-repeat;
  background-position: left;
  border-radius: 0;
  opacity: 0.6;
  transform: scaleX(-1);
}

.schoolOfSorceryCourseView__beam--shadow.schoolOfSorceryCourseView__beam--enemy::after {
  background-image: url(https://www.mousehuntgame.com/images/ui/hud/school_of_sorcery/course/beam/wand_glow_shadow.png);
}

.schoolOfSorceryCourseView__beam--exam_course.schoolOfSorceryCourseView__beam--arcane.schoolOfSorceryCourseView__beam--enemy::after {
  background-image: url(https://www.mousehuntgame.com/images/ui/hud/school_of_sorcery/course/beam/glow_boss_arcane.png);
}

.schoolOfSorceryCourseView__beam--exam_course.schoolOfSorceryCourseView__beam--shadow.schoolOfSorceryCourseView__beam--enemy::after {
  background-image: url(https://www.mousehuntgame.com/images/ui/hud/school_of_sorcery/course/beam/glow_boss_shadow.png);
}

.schoolOfSorceryCourseView__beam--player::after {
  position: absolute;
  top: -10px;
  left: -13px;
  z-index: 10;
  width: 60px;
  height: 70px;
  content: "";
  background-image: url(https://www.mousehuntgame.com/images/ui/hud/school_of_sorcery/course/beam/glow_player.png);
  background-repeat: no-repeat;
  background-position: left;
  border-radius: 0;
  opacity: 0.6;
}

.schoolOfSorceryCourseView__streamContainer.schoolOfSorceryCourseView__streamContainer--player {
  margin-top: -3px;
}

.schoolOfSorceryCourseView__streamContainer.schoolOfSorceryCourseView__streamContainer--enemy {
  margin-top: -2px;
}

.schoolOfSorceryCourseView__beamIntersection.schoolOfSorceryCourseView__beamIntersection--arcane {
  margin-top: -8px;
}

.schoolOfSorceryCourseView__streamContainer--player {
  border-top-left-radius: 60%;
  border-bottom-left-radius: 60%;
}

.schoolOfSorceryTranscriptDialogView__courseSummaryRow {
  display: grid;
  grid-template-columns: 70px 1fr 1fr 1fr;
  justify-items: stretch;
}

.schoolOfSorceryTranscriptDialogView__courseSummaryRow.schoolOfSorceryTranscriptDialogView__courseSummaryHeader .schoolOfSorceryTranscriptDialogView__courseSummaryName {
  grid-column: span 2;
  margin-right: 0;
  margin-left: 50px;
}

.headsUpDisplaySchoolOfSorceryView__standardBaitTooltip.mousehuntTooltip {
  width: 120px;
}

.headsUpDisplaySchoolOfSorceryView__baitCraftableContainer .mousehuntTooltip {
  right: -25px;
  left: -25px;
}

.schoolOfSorceryCourseView__courseName.schoolOfSorceryCourseView__courseName--highest {
  color: #954f2d;
}

.schoolOfSorceryCourseView__highestMarker {
  position: absolute;
  top: 0;
  right: 24px;
  width: 20px;
  height: 20px;
  filter: hue-rotate(160deg);
  opacity: 0.6;
}

.schoolOfSorceryCourseView__highestMarker:hover,
.schoolOfSorceryCourseView__highestMarker:focus {
  cursor: pointer;
  filter: hue-rotate(300deg);
  opacity: 1;
}

.schoolOfSorceryCourseView__powerTypeRecommendation {
  color: #ccc;
}

.schoolOfSorceryCourseView__powerTypeText {
  margin-right: -10px;
  margin-left: 10px;
  font-size: 12px;
  color: #ddd;
}

.schoolOfSorceryCourseView__powerTypeText b {
  font-size: 16px;
}
