.mh-improved-favorite-setups-button {
  position: relative;
  display: block;
  padding: 5px 10px;
  margin: 5px 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 31px;
  color: #4e300b;
  cursor: pointer;
  background: #f6f3eb;
  border: 1px solid #d3cecb;
  border-radius: 4px;
  box-shadow: -1px 1px 3px #d3cecb inset;
}

.mh-improved-favorite-setups-button-label {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 100;
  color: #926944;
  vertical-align: bottom;
}

.mh-improved-favorite-setups-button:hover {
  text-decoration: none;
}

.mh-dark-mode .pageFrameView #mousehuntContainer.PageCamp .mh-improved-favorite-setups-button:hover {
  background-color: #494949;
}

.mh-improved-favorite-setups-blueprint-container {
  position: absolute;
  inset: 0;
  color: #4e300b;
}

.mh-improved-favorite-setups-blueprint-container .header {
  margin-top: 10px;
  font-size: 13px;
  color: #926944;
  text-align: center;
}

.mh-improved-favorite-setups-blueprint-container .content {
  position: absolute;
  inset: 35px 5px 10px;
  overflow-y: auto;
}

.mh-improved-favorite-setups-blueprint-container .row {
  display: grid;
  grid-template-columns: 1fr 30px repeat(4, 45px);
  align-items: center;
  height: auto;
  min-height: 50px;
  padding: 3px;
  margin-bottom: 7px;
  background: #fff;
  border: 1px solid #ceb7a6;
  border-radius: 5px;
}

.mh-improved-favorite-setups-blueprint-container .location-favorites {
  padding: 10px 0;
  margin: 10px 0;
}

.mh-improved-favorite-setups-blueprint-container .row.location-favorite {
  background-color: #fdfacf;
}

.mh-improved-favorite-setups-blueprint-container .row.location-favorite:last-child {
  margin-bottom: 0;
}

.mh-improved-favorite-setups-blueprint-container .row .campPage-trap-itemBrowser-favorite-item-image {
  width: 100%;
  height: 45px;
  border-radius: 0;
}

.mh-improved-favorite-setups-blueprint-container .row.editing {
  grid-template-columns: 1fr repeat(4, 40px);
}

.mh-improved-favorite-setups-blueprint-container .controls {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}

.mh-improved-favorite-setups-blueprint-container .row.editing .controls {
  align-items: flex-end;
}

.mh-improved-favorite-setups-blueprint-container .button-wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.mh-improved-favorite-setups-blueprint-container .row.editing .button-wrapper {
  align-self: flex-end;
  margin-right: 5px;
}

.mh-improved-favorite-setups-blueprint-container .campPage-trap-itemBrowser-favorite-item {
  width: 100%;
}

.mh-improved-favorite-setups-blueprint-container .controls .label {
  padding: 0 1px;
  font-size: 12px;
  text-align: center;
}

.mh-improved-favorite-setups-blueprint-container .controls .action {
  padding: 4px 6px;
  font-size: 11px;
  font-weight: 400;
  line-height: inherit;
}

.mh-improved-favorite-setups-blueprint-container .controls .action.arm {
  padding: 4px 10px;
}

.mh-improved-favorite-setups-blueprint-container .edit {
  position: absolute;
  right: 10px;
}

.mh-improved-favorite-setups-blueprint-container .controls .delete,
.mh-improved-favorite-setups-blueprint-container .editing .controls .delete,
.mh-improved-favorite-setups-blueprint-container .editing .controls .edit-setup,
.mh-improved-favorite-setups-blueprint-container.editing .controls .edit-setup,
.mh-improved-favorite-setups-blueprint-container .controls .save-setup,
.mh-improved-favorite-setups-blueprint-container .controls .cancel-setup,
.mh-improved-favorite-setups-blueprint-container.editing .controls .arm,
.mh-improved-favorite-setups-blueprint-container .editing .controls .arm {
  display: none;
}

.mh-improved-favorite-setups-blueprint-container .editing .controls .delete,
.mh-improved-favorite-setups-blueprint-container .editing .controls .save-setup,
.mh-improved-favorite-setups-blueprint-container .editing .controls .cancel-setup {
  display: block;
}

.mh-improved-favorite-setups-blueprint-container .row.flash {
  background-color: #b9ffb9;
}

.mh-improved-favorite-setups-blueprint-container .controls input {
  width: 150px;
}

.row.editing .campPage-trap-itemBrowser-favorite-item::after {
  position: absolute;
  right: 5px;
  bottom: -8px;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 0;
  content: "edit";
  background-color: rgb(238 238 238 / 93%);
  border: 1px solid #585858;
  border-radius: 5px;
}

.row.editing .campPage-trap-itemBrowser-favorite-item:hover::after {
  background-color: #ccc;
}

.mh-improved-favorite-setups-blueprint-container .editing .campPage-trap-itemBrowser-favorite-item:hover .campPage-trap-itemBrowser-favorite-item-image {
  opacity: 0.8;
}

.mh-improved-favorite-setups-component-picker-popup-body-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.mh-improved-favorite-setups-component-picker .prefix,
.mh-improved-favorite-setups-component-picker .content {
  background-color: #f6f3eb;
}

.mh-improved-favorite-setups-component-picker .content .content {
  max-height: 90vh;
  overflow: auto;
}

.mh-improved-favorite-setups-component-picker .campPage-trap-itemBrowser-item {
  width: auto;
  max-width: 300px;
}

.mh-improved-favorite-setups-component-picker-popup-search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.mh-improved-favorite-setups-component-picker-popup-search input {
  width: 350px;
  padding: 10px;
}

.mh-improved-favorite-setups-component-picker .campPage-trap-itemBrowser-item-description {
  margin-left: 0;
}

.mh-improved-favorite-setups-component-picker .trinket .campPage-trap-itemBrowser-item-content {
  width: 80%;
}

a.random-title::after {
  position: absolute;
  top: 2px;
  right: -19px;
  box-sizing: border-box;
  display: block;
  width: 17px;
  height: 17px;
  padding: 9px;
  margin: 1px;
  content: "";
  background-color: #fff;
  border-radius: 50%;
  /* stylelint-disable-next-line */
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" /></svg>');
}

a.random-title:hover::after {
  background-color: #ddd;
}

@keyframes mh-improved-favorite-setups-component-picker-popup-search-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

a.random-title.loading::after {
  animation: mh-improved-favorite-setups-component-picker-popup-search-loading 1s linear infinite;
}

.mh-improved-favorite-setups-blueprint-container .editing .controls .label {
  position: relative;
  align-self: flex-start;
}

.mh-improved-favorite-setups-blueprint-container .row .mh-improved-favorite-setups-power-type-wrapper .campPage-trap-itemBrowser-favorite-item-image {
  width: 25px;
  height: 25px;
  opacity: 0.8;
}

.mh-improved-favorite-setups-component-picker-popup .campPage-trap-itemBrowser-item-statContainer {
  width: 75%;
  margin-top: 5px;
}

.mh-improved-favorite-setups-component-picker-popup .campPage-trap-itemBrowser-item-content {
  width: 80%;
}

.mh-improved-favorite-setups-blueprint-container .editing .campPage-trap-itemBrowser-item-powerType {
  display: none;
}

.mh-improved-favorite-setups-blueprint-container .campPage-trap-itemBrowser-item-powerType {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25px;
}

.mh-improved-favorite-setups-blueprint-container .campPage-trap-itemBrowser-item-powerType.hidden {
  visibility: hidden;
}

.mh-improved-favorite-setups-blueprint-container .campPage-trap-itemBrowser-item-powerType::before {
  box-sizing: border-box;
  background-color: transparent;
  border: none;
}

.mh-improved-favorite-setups-blueprint-container .row:hover .controls .action.arm {
  outline: 2px solid #eab35d;
}

.mh-improved-favorite-setups-blueprint-container .row.editing .campPage-trap-itemBrowser-favorite-item-image {
  height: 40px;
}

.mh-improved-favorite-setups-blueprint-container .row.editing .move-buttons {
  display: flex;
}

.mh-improved-favorite-setups-blueprint-container .row .move-buttons {
  position: absolute;
  bottom: 20px;
  left: 28px;
  display: none;
  flex-direction: row;
  align-items: center;
}

.mh-improved-favorite-setups-blueprint-container .row.editing a.move-down::after,
.mh-improved-favorite-setups-blueprint-container .row.editing a.move-up::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.4;
}

.mh-improved-favorite-setups-blueprint-container .row.editing a.move-up::after {
  position: absolute;
  right: 13px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 17a.75.75 0 0 1-.75-.75V5.612L5.29 9.77a.75.75 0 0 1-1.08-1.04l5.25-5.5a.75.75 0 0 1 1.08 0l5.25 5.5a.75.75 0 1 1-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0 1 10 17Z" clip-rule="evenodd" /></svg>'); /* stylelint-disable-line */
}

.mh-improved-favorite-setups-blueprint-container .row.editing a.move-down::after {
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 3a.75.75 0 0 1 .75.75v10.638l3.96-4.158a.75.75 0 1 1 1.08 1.04l-5.25 5.5a.75.75 0 0 1-1.08 0l-5.25-5.5a.75.75 0 1 1 1.08-1.04l3.96 4.158V3.75A.75.75 0 0 1 10 3Z" clip-rule="evenodd" /></svg>'); /* stylelint-disable-line */
}

.mh-improved-favorite-setups-blueprint-container .row.editing a.move-down:hover::after,
.mh-improved-favorite-setups-blueprint-container .row.editing a.move-up:hover::after {
  opacity: 1;
}

.mh-improved-favorite-setups-blueprint-container .row:last-child .move-down {
  display: none;
}

.mh-improved-favorite-setups-blueprint-container .row:nth-child(2) .move-up {
  display: none;
}

.pageFrameView #mousehuntContainer.PageCamp .mh-improved-favorite-setups-button:hover {
  background-color: #fdfaf2;
}

.mh-dark-mode .pageFrameView .mh-improved-favorite-setups-blueprint-container .campPage-trap-itemBrowser-item-powerType::after {
  color: #000;
}

.mh-dark-mode .mh-improved-favorite-setups-button-label {
  color: #e0d3b3;
}

.mousehuntHeaderView .menuItem.mousehunt-improved-favorite-setups-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 25px;
  padding: 0;
  opacity: 0.5;
}

.mousehuntHeaderView .menuItem.mousehunt-improved-favorite-setups-icon:hover {
  opacity: 1;
}

.mousehunt-improved-favorite-setups-icon::before {
  display: block;
  width: 15px;
  height: 15px;
  content: "";
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z" clip-rule="evenodd" /></svg>'); /* stylelint-disable-line */
  background-repeat: no-repeat;
  background-size: contain;
}
