.mh-improved-favorite-setups-button {
  margin: 10px 0;
}

.mh-improved-favorite-setups-button-label {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 100;
  color: #926944;
  vertical-align: bottom;
}

.mh-improved-favorite-setups-blueprint-container {
  position: absolute;
  inset: 10px;
  padding: 5px 6px;
  margin-left: 10px;
  color: #4e300b;
  background: #f6f3eb;
  border: 1px solid #534022;
  border-radius: 3px;
  box-shadow: -1px -1px 2px #d3cecb inset;
}

.mh-improved-favorite-setups-blueprint-container .header {
  margin: 10px 0;
  font-size: 13px;
  color: #926944;
  text-align: center;
}

.mh-improved-favorite-setups-blueprint-container .content {
  position: absolute;
  inset: 50px 5px 10px;
  overflow-y: auto;
}

.mh-improved-favorite-setups-blueprint-container .row {
  display: grid;
  grid-template-columns: 1fr repeat(4, 50px);
  padding: 3px;
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #ceb7a6;
  border-radius: 5px;
}

.mh-improved-favorite-setups-blueprint-container .controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.mh-improved-favorite-setups-blueprint-container .button-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.mh-improved-favorite-setups-blueprint-container .campPage-trap-itemBrowser-favorite-item {
  width: 100%;
}

.mh-improved-favorite-setups-blueprint-container .controls .label {
  font-size: 13px;
  text-align: center;
}

.mh-improved-favorite-setups-blueprint-container .controls .action {
  padding: 4px 6px;
  font-size: 11px;
  font-weight: 400;
  line-height: inherit;
}

.mh-improved-favorite-setups-blueprint-container .edit {
  position: absolute;
  right: 10px;
}

.mh-improved-favorite-setups-blueprint-container .controls .delete,
.mh-improved-favorite-setups-blueprint-container .editing .controls .delete,
.mh-improved-favorite-setups-blueprint-container .editing .controls .edit-setup,
.mh-improved-favorite-setups-blueprint-container.editing .controls .edit-setup,
.mh-improved-favorite-setups-blueprint-container .controls .save-setup,
.mh-improved-favorite-setups-blueprint-container .controls .cancel-setup,
.mh-improved-favorite-setups-blueprint-container.editing .controls .arm,
.mh-improved-favorite-setups-blueprint-container .editing .controls .arm {
  display: none;
}

.mh-improved-favorite-setups-blueprint-container.editing .controls .delete,
.mh-improved-favorite-setups-blueprint-container .editing .controls .save-setup,
.mh-improved-favorite-setups-blueprint-container .editing .controls .cancel-setup {
  display: block;
}

.mh-improved-favorite-setups-blueprint-container .row.flash {
  background-color: #b9ffb9;
}

.mh-improved-favorite-setups-blueprint-container .controls input {
  width: 115px;
}

.row.editing .campPage-trap-itemBrowser-favorite-item::after {
  position: absolute;
  right: 5px;
  bottom: 0;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 0;
  content: "edit";
  background-color: rgb(238 238 238 / 93%);
  border: 1px solid #585858;
}

.row.editing .campPage-trap-itemBrowser-favorite-item:hover::after {
  background-color: #ddd;
}

.mh-improved-favorite-setups-component-picker-popup-body-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.mh-improved-favorite-setups-component-picker .prefix,
.mh-improved-favorite-setups-component-picker .content {
  background-color: #f6f3eb;
}

.mh-improved-favorite-setups-component-picker .content .content {
  max-height: 90vh;
  overflow: auto;
}

.mh-improved-favorite-setups-component-picker .campPage-trap-itemBrowser-item {
  width: auto;
  max-width: 300px;
}

.mh-improved-favorite-setups-component-picker-popup-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.mh-improved-favorite-setups-component-picker-popup-search input {
  width: 350px;
  padding: 10px;
}

.mh-improved-favorite-setups-component-picker .campPage-trap-itemBrowser-item-description {
  margin-left: 0;
}

.mh-improved-favorite-setups-component-picker .trinket .campPage-trap-itemBrowser-item-content {
  width: 80%;
}

a.random-title::after {
  position: absolute;
  top: 4px;
  right: -19px;
  display: block;
  width: 12px;
  height: 12px;
  padding: 2px;
  content: "";
  /* stylelint-disable-next-line prettier/prettier */
  background: url(data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" /></svg>);
  background-color: #fff;
  border-radius: 50%;
}

a.random-title:hover::after {
  background-color: #ddd;
}

@keyframes mh-improved-favorite-setups-component-picker-popup-search-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

a.random-title.loading::after {
  animation: mh-improved-favorite-setups-component-picker-popup-search-loading 1s linear infinite;
}

.mh-improved-favorite-setups-blueprint-container .editing .controls .label {
  position: relative;
  place-self: self-end;
}
