.mh-journal-privacy-enabled #journalContainer .entry:not(.badge) a[href*="profile.php"],
.mh-journal-privacy-enabled #journalContainer .entry.socialGift .journaltext a,
.mh-journal-privacy-enabled #journalContainer .relicHunter_complete > .journalbody > .journaltext > b:nth-child(6),
.mh-journal-privacy-enabled #journalContainer .wanted_poster-complete > .journalbody > .journaltext > b:nth-child(8),
.mh-journal-privacy-enabled #journalContainer .journal__hunter-name,
.mh-journal-privacy-enabled .mh-journal-privacy-name {
  display: inline-block;
  filter: blur(5px);
  transition: all 0.3s;
}

.mh-journal-privacy-enabled #journalContainer .entry:not(.badge) #friend-data-wrapper a[href*="profile.php"] {
  color: #000;
}

.mh-journal-privacy-enabled #journalContainer .entry:not(.badge) a[href*="profile.php"]:hover,
.mh-journal-privacy-enabled #journalContainer .entry:not(.badge) a[href*="profile.php"]:focus,
.mh-journal-privacy-enabled #journalContainer .entry.socialGift .journaltext a:hover,
.mh-journal-privacy-enabled #journalContainer .entry.socialGift .journaltext a:focus,
.mh-journal-privacy-enabled #journalContainer .relicHunter_complete > .journalbody > .journaltext > b:nth-child(6):hover,
.mh-journal-privacy-enabled #journalContainer .relicHunter_complete > .journalbody > .journaltext > b:nth-child(6):focus,
.mh-journal-privacy-enabled #journalContainer .wanted_poster-complete > .journalbody > .journaltext > b:nth-child(8):hover,
.mh-journal-privacy-enabled #journalContainer .wanted_poster-complete > .journalbody > .journaltext > b:nth-child(8):focus #journalContainer .journal__hunter-name:hover,
.mh-journal-privacy-enabled #journalContainer .journal__hunter-name:focus,
.mh-journal-privacy-enabled .mh-journal-privacy-name:hover,
.mh-journal-privacy-enabled .mh-journal-privacy-name:focus {
  display: inline;
  filter: initial;
}
