.mh-ui-labyrinth-step-counter {
  padding-right: 5px;
  margin-left: 5px;
  font-weight: 900;
  background-color: #000;
}

/* Make the clue counter bigger */
.labyrinthHUD-clueBar-totalContainer {
  z-index: 10;
  width: auto;
  padding-left: 4px;
  font-size: 12px;
  border-radius: 6px;
  outline: 2px solid #000;
}

.labyrinthHUD-clue {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
}

.labyrinthHUD-clue-name {
  overflow: visible;
  text-overflow: unset;
}

.mh-ui-labyrinth-clue-count {
  padding-left: 4px;
  font-weight: 900;
  color: #050505;
}

.y .labyrinthHUD-clue-name,
.y .mh-ui-labyrinth-clue-count {
  background-color: rgb(216 81 255 / 40%);
}

.h .labyrinthHUD-clue-name,
.h .mh-ui-labyrinth-clue-count {
  background-color: rgb(33 226 255 / 40%);
}

.s .labyrinthHUD-clue-name,
.s .mh-ui-labyrinth-clue-count {
  background-color: rgb(233 99 0 / 40%);
}

.t .labyrinthHUD-clue-name,
.t .mh-ui-labyrinth-clue-count {
  background-color: rgb(255 228 0 / 40%);
}

.f .labyrinthHUD-clue-name,
.f .mh-ui-labyrinth-clue-count {
  background-color: rgb(17 244 0 / 40%);
}

.m .labyrinthHUD-clue-name,
.m .mh-ui-labyrinth-clue-count {
  color: #d3c5c5;
  background-color: rgb(106 106 106 / 40%);
}

/* Make the quantity counters bigger */
.labyrinthHUD-item-quantity,
.labyrinthHUD-scrambleDoors-quantity,
.labyrinthHUD-scrambleClues-quantity,
.labyrinthHUD-toggleLantern-quantity.quantity {
  position: absolute;
  top: 6px;
  padding: 0 5px;
  font-size: 12px;
  text-align: center;
  background-color: #000;
  border-radius: 5px;
}

.labyrinthHUD-item-quantity.quantity {
  top: 6px;
  left: 5px;
  display: block;
  width: 30px;
  margin: 0 !important;
}

.labyrinthHUD-scrambleDoors-quantity,
.labyrinthHUD-scrambleClues-quantity,
.labyrinthHUD-toggleLantern-quantity.quantity {
  display: inline-flex;
  align-items: center;
  width: auto;
  height: 18px;
  margin-right: 11px;
}

.labyrinthHUD-scrambleClues-quantity.quantity {
  left: -6px;
}

.labyrinthHUD-toggleLantern-quantity.quantity {
  right: -5px;
}

.labyrinthHUD-scrambleDoors-quantity.quantity {
  top: 0.5px;
  right: -7px;
  height: 9.5px;
  padding: 4px;
  pointer-events: none; /* allow for actually clicking the scramble button */
}

.labyrinthHUD-scrambleClues:hover .labyrinthHUD-scrambleClues-name,
.labyrinthHUD-scrambleClues.disabled .labyrinthHUD-scrambleClues-name,
.labyrinthHUD-scrambleClues:focus .labyrinthHUD-scrambleClues-name,
.labyrinthHUD-scrambleClues-name {
  position: relative;
  left: 75px;
  width: 0;
  color: transparent !important;
  text-shadow: none;
  pointer-events: none;
}

.labyrinthHUD-scrambleClues-name::after {
  position: absolute;
  top: 0;
  right: -30px;
  display: block;
  width: 50px;
  color: #eee;
  text-align: center;
  text-shadow: 0 0 1px #000;
  content: "Compass Magnet";
}

.labyrinthHUD-item:nth-child(1) .labyrinthHUD-item-name,
.labyrinthHUD-item:nth-child(2) .labyrinthHUD-item-name,
.labyrinthHUD-item:nth-child(3) .labyrinthHUD-item-name,
.labyrinthHUD-item:nth-child(4) .labyrinthHUD-item-name,
.labyrinthHUD-item:nth-child(5) .labyrinthHUD-item-name {
  width: 96px;
  margin-left: 47px;
  font-size: 11px;
  font-weight: 900;
  text-align: center;
  text-shadow: 0 0 1px #000;
  background: linear-gradient(180deg, rgb(112 112 112 / 0%) 0%, rgb(168 168 168 / 100%) 50%, rgb(112 112 112 / 0%) 100%);
  border-radius: 20px;
}

.labyrinthHUD-item:hover .labyrinthHUD-item-location,
.labyrinthHUD-item:focus .labyrinthHUD-item-location {
  position: absolute;
  top: unset;
  bottom: -25px;
  padding: 3px;
  font-size: 9px;
  color: #000;
  text-align: center;
  background: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 2px 3px 4px #666;
}

/* hunts to go */
.mh-ui-labyrinth-door-text {
  position: absolute;
  inset: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  color: #fff;
  opacity: 0.8;
}

.mh-ui-laby-steps {
  margin-bottom: 3px;
  font-size: 13px;
}

.labyrinthHUD-doorContainer {
  position: relative;
}

/* hunts to go - door background */
.labyrinthHUD-door.disabled.mystery {
  filter: brightness(0.4);
}

/* Highlight the best door */
.labyrinthHUD-door.mh-ui-labyrinth-highlight {
  filter: brightness(1.1);
}

.labyrinthHUD-door.mh-ui-labyrinth-highlight::before {
  position: absolute;
  top: 5px;
  right: 15px;
  z-index: 1;
  width: 25px;
  height: 25px;
  overflow: hidden;
  content: "";
  background: url(https://www.mousehuntgame.com/images/ui/events/winter_hunt_2013/checkmark.png?asset_cache_version=2) no-repeat;
  background-size: contain;
}

.labyrinthHUD-confirm-padding .labyrinthHUD-door.mh-ui-labyrinth-highlight::after {
  background: none;
}

/* Popup summary */
.labyrinthHUD-clueDrawer {
  padding-bottom: 11px;
  font-size: 11px;
}

.labyrinthHUD-clueDrawer-description {
  padding: 5px 0 10px;
  line-height: 17px;
  color: #fafafa;
  text-align: center;
}

.labyrinthHUD-clueDrawer-clue {
  margin: 10px 0;
}

.labyrinthHUD-clueDrawer-clue.tier-1 .labyrinthHUD-clueDrawer-exit.tier-1::after,
.labyrinthHUD-clueDrawer-clue.tier-2 .labyrinthHUD-clueDrawer-exit.tier-2::after,
.labyrinthHUD-clueDrawer-clue.tier-3 .labyrinthHUD-clueDrawer-exit.tier-3::after {
  background: none;
}

.labyrinthHUD-clueDrawer-exit {
  top: 0;
  bottom: 0;
  width: 1px;
  height: 10px;
  background: #8d8d8d;
  border-radius: 0;
}

.labyrinthHUD-clueDrawer-bar {
  height: 10px;
  border-radius: 0;
  opacity: 0.9;
}

.labyrinthHUD-clueDrawer-barFrame {
  margin-right: 3px;
  border: 1px solid #585858;
  border-radius: 0;
}

.y .labyrinthHUD-clueDrawer-name,
.y .labyrinthHUD-clueDrawer-quantity {
  border-bottom: 1px solid #d851ff;
}

.h .labyrinthHUD-clueDrawer-name,
.h .labyrinthHUD-clueDrawer-quantity {
  border-bottom: 1px solid #21e2ff;
}

.s .labyrinthHUD-clueDrawer-name,
.s .labyrinthHUD-clueDrawer-quantity {
  border-bottom: 1px solid #e96300;
}

.t .labyrinthHUD-clueDrawer-name,
.t .labyrinthHUD-clueDrawer-quantity {
  border-bottom: 1px solid #ffe400;
}

.f .labyrinthHUD-clueDrawer-name,
.f .labyrinthHUD-clueDrawer-quantity {
  border-bottom: 1px solid #11f400;
}

.labyrinthHUD-clueDrawer-name {
  padding-left: 3px;
  margin-right: -3px;
}

.labyrinthHUD-clueDrawer-quantity {
  padding-right: 3px;
  margin-left: -3px;
}

/* retreat button */
.hudLocationContent a.labyrinthHUD-retreatButton {
  color: #707070 !important;
  background-color: rgb(0 0 0 / 50%);
}

.hudLocationContent a.labyrinthHUD-retreatButton:hover {
  color: #eee !important;
}

/* clue count on hover */
.labyrinthHUD-hallway-padding:hover .labyrinthHUD-hallway-tile.complete::after,
.labyrinthHUD-hallway-padding:hover .labyrinthHUD-hallway-tile.complete.bad::after,
.labyrinthHUD-hallway-padding:hover .labyrinthHUD-hallway-tile.complete.good_1::after,
.labyrinthHUD-hallway-padding:hover .labyrinthHUD-hallway-tile.complete.good_2::after,
.labyrinthHUD-hallway-padding:hover .labyrinthHUD-hallway-tile.complete.good_3::after,
.labyrinthHUD-hallway-padding:hover .labyrinthHUD-hallway-tile.complete.good_4::after,
.labyrinthHUD-hallway-padding:hover .labyrinthHUD-hallway-tile.complete.good_5::after,
.labyrinthHUD-hallway-padding:hover .labyrinthHUD-hallway-tile.complete.good_6::after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 15px;
  font-weight: 900;
  color: #000;
  text-align: center;
  text-shadow: 0 0 4px #c7ffad;
  content: "";
}

.labyrinthHUD-hallway-padding:hover .labyrinthHUD-hallway-tile.complete::after {
  color: #343434;
  text-shadow: none;
  content: "0";
}

.labyrinthHUD-hallway-padding:hover .labyrinthHUD-hallway-tile.complete.bad::after {
  color: #c69898;
  text-shadow: none;
  content: "1";
}

.labyrinthHUD-hallway-padding:hover .labyrinthHUD-hallway-tile.complete.good_1::after {
  content: "1";
}

.labyrinthHUD-hallway-padding:hover .labyrinthHUD-hallway-tile.complete.good_2::after {
  content: "2";
}

.labyrinthHUD-hallway-padding:hover .labyrinthHUD-hallway-tile.complete.good_3::after {
  content: "3";
}

.labyrinthHUD-hallway-padding:hover .labyrinthHUD-hallway-tile.complete.good_4::after {
  content: "4";
}

.labyrinthHUD-hallway-padding:hover .labyrinthHUD-hallway-tile.complete.good_5::after {
  content: "5";
}

.labyrinthHUD-hallway-padding:hover .labyrinthHUD-hallway-tile.complete.good_6::after {
  content: "6";
}

.labyrinthHUD-hallway-tile.active {
  z-index: 6;
  outline: 1px solid #bbf8fa;
}

@keyframes mh-improved-lantern-swing {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-5deg);
  }

  75% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.mh-ui-labyrinth-lantern-reminder {
  position: absolute;
  bottom: 0;
  left: -8px;
  width: 75px;
  height: 75px;
  background: url(https://www.mousehuntgame.com/images/items/stats/transparent_thumb/d1c4774c7afebe379bef83d30b81f069.png?cv=2) 0 0 no-repeat;
  filter: drop-shadow(1px 0 8px #f6eac3);
  background-size: contain;
  transform-origin: bottom;
  animation: mh-improved-lantern-swing 1s ease-out 1;
}

.labyrinthHUD-toggleLantern-name.active {
  animation: portalPulse 1.5s infinite;
}

@media (prefers-reduced-motion: reduce) {
  .mh-ui-labyrinth-lantern-reminder,
  .labyrinthHUD-toggleLantern-name.active {
    animation: none;
  }
}

.labyrinthHUD-clueDrawer-barPadding {
  padding: 1px 4px 0 1px;
}

.labyrinthHUD-confirmDescription.chooseDoor b {
  font-size: 13px;
}

.labyrinthHUD-scrambleClues.disabled .labyrinthHUD-scrambleClues-name,
.labyrinthHUD-scrambleClues.disabled:hover .labyrinthHUD-scrambleClues-name {
  color: transparent !important;
  text-shadow: none;
}

/* Door labels */
a.labyrinthHUD-door.labyrinthHUD-door-category-y::after,
a.labyrinthHUD-door.labyrinthHUD-door-category-h::after,
a.labyrinthHUD-door.labyrinthHUD-door-category-s::after,
a.labyrinthHUD-door.labyrinthHUD-door-category-t::after,
a.labyrinthHUD-door.labyrinthHUD-door-category-f::after {
  position: absolute;
  right: 19px;
  bottom: 4px;
  left: 19px;
  padding: 1px 2px 0;
  font-size: 13px;
  text-align: center;
  text-shadow: 0 1px 1px #3d3d3d;
  content: "";
  background-color: #50306a;
  border-radius: 1px;
  box-shadow: inset 0 0 4px 0 #636363;
}

a.labyrinthHUD-door.labyrinthHUD-door-category-y::after {
  content: "Fealty";
  background-color: rgb(216 81 255 / 60%);
}

a.labyrinthHUD-door.labyrinthHUD-door-category-h::after {
  content: "Tech";
  background-color: rgb(33 226 255 / 60%);
}

a.labyrinthHUD-door.labyrinthHUD-door-category-s::after {
  content: "Scholar";
  background-color: rgb(233 99 0 / 60%);
}

a.labyrinthHUD-door.labyrinthHUD-door-category-t::after {
  font-size: 11px;
  content: "Treasury";
  background-color: rgb(255 228 0 / 60%);
}

a.labyrinthHUD-door.labyrinthHUD-door-category-f::after {
  font-size: 12px;
  content: "Farming";
  background-color: rgb(17 244 0 / 60%);
}

/* Fit the labels */
.labyrinthHUD-door-name-padding span {
  margin-top: -25px;
}

.labyrinthHUD-door-image::after {
  filter: drop-shadow(0 1px 1px #242424);
  transform: scale(1.5);
}

/* brighten the hallway a tiny bit */
.labyrinthHUD-hallway-background {
  filter: brightness(1.2);
}

.labyrinthHUD-clueBar-totalContainer.mh-ui-labyrinth-100clues {
  background-color: #479f49;
}

.mh-ui-labyrinth-tile-clicked {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.mh-ui-labyrinth-tile-clicked-fade-in {
  opacity: 1;
}

.labyrinthHUD-secretContainer {
  font-weight: 900;
  background-color: transparent;
  border: none;
  box-shadow: none;
  mix-blend-mode: overlay;
}

.labyrinthHUD-confirmDescription .labyrinthHUD-exit {
  top: -4px;
}

.ancientCityHUD-bossContainer.mousehuntTooltipParent.ancientCityHUD-boss-n.hiddenDistrict:active {
  background-position: 0 0;
}
