.mh-return-raffles.message {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: #f9f9f9;
}

.notificationMessageList .tab {
  scroll-behavior: smooth;
}

.mh-return-raffles.message .actions {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  float: none;
}

.notificationMessageList .message.done {
  background-color: #bffdd2;
}

.notificationMessageList .message.skipped {
  background-color: #dfdfdf;
}
