.mh-ui-progress-log-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mh-ui-progress-log-title {
  text-align: center;
}

.mh-ui-progress-log-title .reportTitle {
  padding: 5px 0;
  font-size: 1.5em;
  font-weight: 900;
}

.mh-ui-progress-log-table {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding-bottom: 10px;
  border-bottom: 1px solid #c6c6c6;
}

.mh-ui-progress-log-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #c6c6c6;
}

.mh-ui-progress-log-group-title {
  font-size: 13px;
  font-weight: 900;
}

.mh-ui-progress-log-group-values {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5px 0;
}

.mh-ui-progress-log-cell-entry {
  font-size: 13px;
  text-align: right;
}

.mh-ui-progress-log-cell-entry.mh-ui-progress-log-cell-entry-title {
  text-align: left;
}

.mousehuntActionButton.tiny.mh-ui-progress-log-link {
  width: unset;
  padding: 10px;
  font-size: 12px;
}

.journal .content .log_summary table {
  display: none;
}
