#mouse-data-wrapper {
  position: absolute;
  z-index: 999999;
  box-sizing: border-box;
  display: block;
  width: 300px;
  height: 100px;
  background: linear-gradient(#decebb 5%, #f0eddf 50%);
  border: 1px solid #9a8872;
  border-radius: 10px;
  box-shadow: 0 1px 5px -1px #5e5e5e;
}

.mouse-data-wrapper-loading {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 90%;
  background-image: url(https://www.mousehuntgame.com/images/ui/loaders/drip_spinner.gif?asset_cache_version=2);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55px;
}

#mouse-data-wrapper .mouse-data {
  display: grid;
  grid-template-columns: 90px 1fr;
  gap: 10px;
  align-items: center;
  height: 95px;
}

#mouse-data-wrapper .mouse-image {
  height: 80px;
  margin-left: 10px;
  border: 1px solid #25211e;
  border-radius: 5px;
}

#mouse-data-wrapper .mouse-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80px;
  margin-right: 10px;
}

#mouse-data-wrapper .mouse-name {
  font-size: 12px;
  font-weight: 900;
}

.mouse-catch-stats {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 0 20px;
  margin-right: 10px;
  font-size: 10px;
}

.mouse-catch-stats div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 1.5;
}
