version: 2
updates:
  - package-ecosystem: "npm" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    reviewers:
      - "bradp"
    versioning-strategy: increase
    groups:
      dev-dependencies:
        patterns:
          - "*"
