.mousehunt-improved-settings .PagePreferences__section {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #e0cfb4;
}

.mousehunt-improved-settings .PagePreferences__title {
  padding-bottom: 10px;
  margin: 0;
}

.mousehunt-improved-settings .PagePreferences__titleText {
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  font-family: system-ui, sans-serif;
  font-weight: 200;
}

.mousehunt-improved-settings .PagePreferences__settingNameText {
  color: #000;
}

.mousehunt-improved-settings .PagePreferences__settingNameText:hover {
  text-decoration: none;
}

.mousehunt-improved-settings .mhui-setting-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 0;
  height: 0;
  border-right: 6px solid transparent;
  border-bottom: 9px solid #999;
  border-left: 6px solid transparent;
  transition: transform 0.15s;
}

.mousehunt-improved-settings .mhui-setting-toggle.toggled {
  transform: rotate(-180deg);
}

.mousehunt-improved-settings .toggled .PagePreferences__titleText,
.mousehunt-improved-settings .toggled .PagePreferences__title {
  padding: 0;
}

.mousehunt-improved-settings .toggled .PagePreferences__separator,
.mousehunt-improved-settings .toggled .PagePreferences__sectionWrapper,
.mousehunt-improved-settings .toggled #mousehunt-improved-settings-location-hud-wrapper {
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

#mousehunt-improved-settings-design-custom-background,
#mousehunt-improved-settings-design-custom-hud,
#mousehunt-improved-settings-design-custom-horn,
#mousehunt-improved-settings-design-custom-shield,
#mousehunt-improved-settings-feature-ultimate-checkmark-show,
.mousehunt-improved-settings .PagePreferences__settingsList {
  position: relative;
  gap: 0;
  padding: 5px 0 5px 45px;
  border-color: #f2ebde;
  border-top: 1px solid #f2ebde;
  border-left: none;
}

#mousehunt-improved-settings-advanced .PagePreferences__settingsList,
#mousehunt-improved-settings-design .PagePreferences__settingsList,
#mousehunt-improved-settings-element-hiding .PagePreferences__settingsList {
  padding-left: 10px;
}

.mousehunt-improved-settings .PagePreferences__settingsList:not(.PagePreferences__subSetting)::before,
#mousehunt-improved-settings-feature-ultimate-checkmark-show::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  width: 25px;
  height: auto;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  opacity: 0.4;
  transition: opacity 0.1s ease-out;
  will-change: transform;
}

.mousehunt-improved-settings .PagePreferences__setting {
  gap: 5px;
  align-items: center;
  padding-right: 5px;
  margin: 3px 0;
}

.mousehunt-improved-settings .PagePreferences__setting .PagePreferences__settingAction {
  margin-bottom: 0;
}

.mousehunt-improved-settings .PagePreferences__settingDefault,
#mousehunt-improved-settings-beta-experiments > .PagePreferences__setting .PagePreferences__settingAction,
#mousehunt-improved-settings-location-hud-wrapper .PagePreferences__settingDescription,
#mousehunt-improved-settings-location-hud-wrapper .PagePreferences__settingsList .PagePreferences__settingDefault {
  display: none;
}

.mousehunt-improved-settings .PagePreferences__settingName {
  font-family: system-ui, sans-serif;
  font-weight: 400;
}

.mousehunt-improved-settings .PagePreferences__settingDescription {
  display: none; /* TODO: maybe not? */
  max-width: 550px;
  padding: 5px 0;
  font-family: system-ui, sans-serif;
  font-weight: 400;
}

.mousehunt-improved-settings .PagePreferences__subSetting .PagePreferences__settingDescription {
  padding-bottom: 0;
}

.mousehunt-improved-settings .PagePreferences__subSetting .PagePreferences__settingDescription.empty-description,
.mousehunt-improved-settings .PagePreferences__settingDescription.empty-description {
  padding: 0;
}

.mousehunt-improved-settings .PagePreferences__settingsList .PagePreferences__subSetting {
  display: none;
  padding: 5px 10px 5px 5px;
  margin-left: 5px;
  border-top: none;
  border-left: 1px solid #f2ebde;
}

#mousehunt-improved-settings-location-hud .PagePreferences__title {
  margin-bottom: 5px;
  border-bottom: 1px solid #f2ebde;
}

#mousehunt-improved-settings-advanced.toggled .PagePreferences__title,
#mousehunt-improved-settings-location-hud.toggled .PagePreferences__title {
  margin-bottom: 0;
  border: none;
}

.mousehunt-improved-settings .PagePreferences__settingsList.active .PagePreferences__subSetting {
  display: block;
}

.mousehunt-improved-settings .PagePreferences__settingsList .PagePreferences__subSetting:nth-child(odd) {
  background-color: #f4f4f4;
}

.PagePreferences__subSetting .PagePreferences__settingName {
  font-size: 12px;
  line-height: 1;
}

.mousehunt-improved-settings .PagePreferences__settingsList.active .PagePreferences__subSetting .PagePreferences__setting {
  display: flex;
  padding: 0;
  margin: 0;
}

.mousehunt-improved-settings .active.highlight .mousehuntSettingSlider::before {
  box-shadow: 0 0 3px #0ac2c2 inset;
}

/* Fields */
.mousehunt-improved-settings .inputBoxContainer.multiSelect {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  max-width: 400px;
}

.mousehunt-improved-settings .inputBox.multiSelect {
  margin-right: 4px;
  font-size: 11px;
}

#mousehunt-improved-settings-better-better-send-supplies-pinned-items .inputBox.multiSelect {
  max-width: 160px;
}

#mousehunt-improved-settings-design .inputBox.multiSelect {
  width: 200px;
}

/* Multi toggle row */
.mousehunt-improved-settings .PagePreferences__subSetting .multi-toggle-row .PagePreferences__settingName {
  font-size: 10px;
  line-height: 1.75;
}

.mousehunt-improved-settings .PagePreferences__settingsList.multi-toggle-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 15px;
  place-items: end end;
  padding: 0;
  border: none;
}

.mousehunt-improved-settings .PagePreferences__settingsList .multi-toggle-row .PagePreferences__settingsList {
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

.mousehunt-improved-settings .PagePreferences__subSetting .mousehuntSettingSlider {
  display: block;
  width: 40px;
  height: 16px;
}

.mousehunt-improved-settings .PagePreferences__subSetting .mousehuntSettingSlider::after {
  width: 14px;
  height: 14px;
}

.mousehunt-improved-settings .PagePreferences__subSetting .mousehuntSettingSlider.active::after {
  left: calc(100% - 14px);
}

.mousehunt-improved-settings .PagePreferences__settingsList-textarea .PagePreferences__setting,
.mousehunt-improved-settings .PagePreferences__settingsList-input .PagePreferences__setting {
  display: grid;
  grid-template-columns: 1fr 400px;
}

.mousehunt-improved-settings input,
.mousehunt-improved-settings textarea {
  width: 100%;
  font-family: monospace;
  font-size: 12px;
  background-color: #eee;
  border: 1px solid #ccc;
}

.mousehunt-improved-settings textarea {
  min-height: 45px;
}

/* Weird fields */
#mousehunt-improved-settings-design-custom-background > div > div > .PagePreferences__settingName,
#mousehunt-improved-settings-design-custom-hud > div > div > .PagePreferences__settingName,
#mousehunt-improved-settings-design-custom-horn > div > div > .PagePreferences__settingName,
#mousehunt-improved-settings-design-custom-shield > div > div > .PagePreferences__settingName,
#mousehunt-improved-settings-feature-ultimate-checkmark-show > div > div > .PagePreferences__settingName,
#mousehunt-improved-settings-advanced-override-flags > div > div > .PagePreferences__settingName,
#mousehunt-improved-settings-advanced-override-styles > div > div > .PagePreferences__settingName {
  font-size: 15px;
  line-height: 1;
}

#mousehunt-improved-settings-location-hud-wrapper .PagePreferences__settingAction,
.mousehunt-improved-settings .multi-toggle .mousehuntSettingSlider {
  display: block;
  transform: scale(0.75);
}

/* Location HUD */
#mousehunt-improved-settings-location-hud-wrapper {
  display: flex;
  flex-flow: column wrap;
  gap: 0 5px;
  place-content: center start;
  align-content: stretch;
  align-items: stretch;
  height: 375px;
}

div#mousehunt-improved-settings-location-hud-location-huds-enabled-region-living-garden {
  margin-top: auto;
}

#mousehunt-improved-settings-location-hud-wrapper .PagePreferences__settingsList {
  padding: 0 5px 0 10px;
  margin-left: 0;
  background-color: inherit;
  border: none;
}

#mousehunt-improved-settings-location-hud-wrapper .PagePreferences__settingsList:nth-child(2n) {
  background-color: #eee;
}

#mousehunt-improved-settings-location-hud-wrapper .PagePreferences__settingsList.highlight {
  background-color: #7af7f8;
}

#mousehunt-improved-settings-location-hud-wrapper .PagePreferences__settingsList .PagePreferences__setting {
  display: flex;
  gap: 0;
  height: 25px;
  padding: 0;
  margin: 0;
}

#mousehunt-improved-settings-location-hud-wrapper .PagePreferences__settingsList .PagePreferences__settingName {
  font-size: 11px;
}

/* Advanced Settings */
#mousehunt-improved-settings-advanced {
  position: relative;
}

#mousehunt-improved-settings-advanced-mh-improved-advanced-settings {
  position: absolute;
  top: 10px;
  right: 50px;
  padding: 0;
  border: none;
}

#mousehunt-improved-settings-feature-quick-send-supplies-items .inputBoxContainer .multiSelect {
  max-width: 150px;
  margin-right: 4px;
}

#mousehunt-improved-settings-better-better-send-supplies-pinned-items .inputBoxContainer.multiSelect {
  max-width: 550px;
}

/* import/export */
#mousehunt-improved-settings-feature-quick-send-supplies-items .multiSelect {
  width: 375px;
}

.mousehunt-improved-settings-export-popup-content {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 10px 20px;
}

.mousehunt-improved-settings-export-popup-tip {
  display: flex;
  grid-column: 1 / 3;
  align-items: center;
}

.mousehunt-improved-settings-export-popup-buttons-buttons,
.mousehunt-improved-settings-export-popup-buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
  justify-content: flex-end;
}

.mousehunt-improved-settings-export-popup-left {
  align-items: stretch;
}

.mousehunt-improved-settings-export-popup-content textarea {
  height: 90%;
  min-height: 400px;
  padding: 10px;
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  font-size: 12px;
  background-color: #f6f6f6;
  border: 1px solid #b3b3b3;
}

.mousehunt-improved-settings-export-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: auto;
}

.mousehunt-improved-settings-export-details .export-reset {
  color: #ff4242;
}

.mousehunt-improved-settings-export-details hr {
  width: 100%;
  height: 1px;
  background-color: #b3b3b3;
  border: none;
}

.mousehunt-improved-settings-export-details code {
  padding: 3px;
}

.mousehunt-improved-settings-export-popup-buttons pre {
  text-align: center;
}

.mh-ui-success-message.settings-export-save-success,
.mh-ui-success-message.settings-export-copy-success {
  position: absolute;
  right: -25px;
  bottom: 50px;
  left: -25px;
  padding: 4px;
}

.mh-ui-success-message.settings-export-copy-success {
  top: 25px;
  bottom: unset;
}

.mh-ui-success-message.settings-export-save-success {
  bottom: 100px;
}

.mousehunt-improved-settings-export-popup-content .dragover {
  background-color: #f0f0f0;
  border-color: #ffb503;
  box-shadow: inset 0 0 6px 0 #f4e82f;
}

.mousehunt-improved-settings-export-popup .suffix {
  display: none;
}

/* top menu */
.pageFrameView .mousehuntHeaderView .menuItem.mousehunt-improved-icon-menu {
  width: 20px;
  padding: 0 5px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAFX0lEQVRoge3XbYgdVx3H8e85Z87cp7kPc+/u3rvZZDfZPJLEVpI+pQklBWvSSIxWQkFfKCjoiyq+ExXpFoIIPiD6SgT7QgSRglCkSqUkVhu0aWtMW+OSTdJ0H9jsZu/u3se5d2bO8cVa6SuJWNgrzOfVmXe/HzPn/M9AIpFIJBKJRCKxWcRmB7hbUx+tjgz5uU83W0GjvrT+wncvtRcB1GYHuxvnzm4dO/OFE78cKRa+WMnFZ7aOFffsTS09d+EdjNzscHfjwJGjnyzvOPLAG395i7C5Tj4jP7Zt8sApAGezw/0nUyAXDw8/NVLd+/TcTCej6gu0TYpeq6WiqHQOeH4g98CPvvx4amJLdr+Io28eeujeTxV3PsJzP/ges396EYNE5xQinaXTN5MD9QZ+/52zRW+09HChWHi8UCp/olCb2JYdmmB57jY3r0zTaliQMQSGtX6L++4tf2gQCoifPvXI9v33THxmtFZ6ojBUm8jVdpfdygFIu8QLv2HtZoP6wgphTzA6DH4eKkISGTHu/OosavTw4TEh0qvHvvZK838JMgXiAsjh/chcBzlUqCpvLK92TJa1V/TddDbn1mq+brYCv9Vs3zMynDs0VMkfKVVHDmYrW7Su7EYWJsEtY6MuUeMSt/8+zepcm26vR0padEoyUlZsG8kzt2yGnX2nHztRmnjwh8uLnbf/+Oyj00YKq4QkDg1KK1zXwRhAghJIIYWKolBLqZSjpBJSOtbaVBzHrsQ6p6VSUkppLHWtlHbS6Yx2HU9KfClVOZVJFXekdDmXz0snnUek8ljhgNRgoN+4TdS6Qn/lFrTeZfrKDTCadmBY7cL27Qq/lMIrZ3DyxSHHV+qJaPby7urogzu9clWAwGKxBiwgxPumnbXwr2cLGGMIw1jEscF1HRydBqkQxMioASYC2wYs2qsgUyWkzmKNIQ7atFfnEWGLuNei1wvohyHtO0uUs33ml5rIMKBHil69jrEGLaDiKYb9NBnfI5PbWnZm3rwVdtod+ulZk/McEQd9jLEb4S3IKETEESY2CEBYi2VjbexGXYOwza6Je5G1UgphrJBhZKWVQiklyaQcelayFghCJI4jkUKgHIe4H9NuR/iVIrWax+WLV6kMuSihaPQsuw9OMnNtAT8vqY4qtoyk8fJZdNplbXVeOb5XenZ83/DOO+8Eb0ibvxzJwCqtAA3K3ZjVMUgVGSsdixHWYKRCYTDSRkZZYVQpjh1lrTY21FEUuTYOU3EcZWNjM7ExXmxF2VNU+pEpakXNYKph2NTNTpeoG7JyY4l3/yFZXOhw/boBo+gruNMOkY0mtYpke9FQq2XJFnJoP0/GmjVhLeL175+uLN2Kmqd+/NveB3Ow/PuLExeeOa4AJ0PGdTzHDVqBa4NuOlK27Ep5ECEfjvr9E1G/MZ5WHbp9Q7cbcX22y+J6nzVdZEsqJh2uc6AmmdhTxS+kkUMVZpeDpwdikL32k8Oa+rZH47D1ea3aD5XG86M2CnR7tcX0vGZ5qcnKwhz37/PYNV6i6OcQ5RI3Z9a/NBAF3nN+6rhTdIt7QtM7mSvrJ9O+PBQJ6cxfa3Ll9Tc5et8I42MeupjFqVV5+9X1kwNV4D0WxKVzZ7ZKHX3OEDzTMWlx49oMx45UGd5ZxQro2wIvv3x9dCALvN+lb3/8aNf1fn5t+uqOk0/upbJ3F4gPM/fSL17a9dlff2Tgr9P3f+P5V7SX//pY1V+/eH6GXlfQWvhrd6V++1tszNfBF5nmi4VS/EI2jrj6uz/Yub9d/NkDX734Z/6ffinPTx13nFxwTAunWXfzb536ygd75CcSiUQikUgkEv+9fwI8xC/BC1L8/wAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.pageFrameView .mousehuntHeaderView .menuItem.mousehunt-improved-icon-menu:hover {
  width: 20px;
  padding: 0 5px;
  overflow: visible;
  cursor: pointer;
  background: url(https://www.mousehuntgame.com/images/ui/hgbar/menuItem.png) 0 -30px repeat-x;
  border-top-right-radius: 10px;
}

.pageFrameView .mousehuntHeaderView .menuItem.mousehunt-improved-icon-menu:hover::after {
  position: absolute;
  inset: 0;
  content: "";
  background: url(https://i.mouse.rip/mh-improved/icon.png) no-repeat center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.mh-dark-mode .pageFrameView .mousehuntHeaderView .menuItem.mousehunt-improved-icon-menu:hover {
  background: #000;
}

.mousehunt-improved-settings em {
  font-style: italic;
}
