.mousoleumHUD-buildWall.mousoleumHUD-wall-state {
  transform: scale(1.1);
}

.mousoleumHUD-bait .mousehuntItem-image {
  background-color: transparent;
}

.mousoleumHUD-plankContainer {
  font-size: 13px;
}

.mousoleumHUD-plankContainer .mousoleumHUD-quantity {
  margin-left: -3px;
  font-size: 12px;
  background: linear-gradient(90deg, #2f2f55 0%, rgb(0 0 0 / 0%) 100%);
  background-color: #2f2f55;
  border-radius: 30px;
}
