#overlayPopup.mh-vrift-popup .jsDialogContainer {
  background: linear-gradient(#20216f, #703271, #20216f);
  outline: 1px solid #20216f;
}

#overlayPopup.mh-vrift-popup .title {
  padding: 10px;
  font-size: 18px;
  color: #fff;
}

.mh-vrift-sim-results {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 0 1em;
  color: #fff;
}

.mh-vrift-sim-results .stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1rem;
  margin-bottom: 2em;
}

.mh-vrift-sim-results .result {
  display: flex;
  place-content: center space-between;
}

.mh-vrift-sim-results .label {
  width: 100%;
  padding-left: 10px;
  font-size: 13px;
  line-height: 30px;
  color: #eaeaea;
  vertical-align: middle;
  background-color: rgb(195 195 195 / 10%);
  border-radius: 5px;
}

.mh-vrift-sim-results .value {
  position: relative;
  left: -25px;
  width: 35px;
  font-size: 14px;
  line-height: 30px;
  color: #eaeaea;
  text-align: center;
  background: linear-gradient(#07041d, #4d3bac);
  border: 1px solid #6d86de;
  border-radius: 5px;
}

.mh-vrift-sim-results .eclipses {
  padding: 10px;
  margin-bottom: 2em;
  font-size: 13px;
  background-color: rgb(195 195 195 / 10%);
  border-radius: 5px;
}

.mh-vrift-sim-results .eclipses h3 {
  padding-bottom: 11px;
  font-size: 16px;
  color: #fff;
}

.mh-vrift-sim-results .eclipses .header {
  padding-bottom: 3px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: unset;
  color: rgb(175 175 175 / 85%);
  border-bottom: 1px solid rgb(175 175 175 / 85%);
}

.mh-vrift-sim-results .eclipses li {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  text-align: right;
}

.mh-vrift-sim-results .eclipses .guaranteed {
  color: #80e472;
}

.mh-vrift-sim-results .number {
  text-align: left;
}

.valourRiftHUD-dialog-inventory-item-quantity.quantity {
  min-width: 30px;
  font-size: 12px;
  font-weight: 900;
  line-height: 20px;
  text-align: center;
  text-shadow: none;
  background-color: #282659;
  box-shadow: none;
}

.valourRiftHUD-dialog-inventory-item-name {
  text-align: center;
}

.valourRiftHUD-towerUpgradeLevel-costTotal {
  font-size: 14px;
}

span.valourRiftHUD-towerUpgrade-currentValue {
  font-size: 13px;
  font-weight: 900;
  line-height: 20px;
  color: #fff;
  background-color: #282659;
}

.valourRiftHUD-towerUpgrade-currentValueContainer {
  display: block;
  line-height: 20px;
  vertical-align: middle;
}

.valourRiftHUD-towerUpgrade-header-title {
  padding: 10px;
  font-size: 15px;
}

.valourRiftHUD-towerUpgrade-header {
  display: grid;
  grid-template-columns: 150px 1fr;
  place-items: center stretch;
}

.valourRiftHUD-towerUpgrade-content {
  padding: 10px;
}

.valourRiftHUD-powerUp.canUpgrade::after {
  top: 6px;
  left: 13px;
  filter: drop-shadow(1px 4px 6px #40f5ff) hue-rotate(73deg);
  box-shadow: 0 0 6px 3px #2d9ba2;
}

.valourRiftHUD-powerUp-level span {
  margin-left: -1px;
  border-radius: 0;
}

.valourRiftHUD-powerUp-level:first-child span {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.valourRiftHUD-powerUp-level:last-child span {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.valourRiftHUD-powerUp-currentLevel {
  top: 9px;
  right: 8px;
  width: 23px;
  padding: 2px;
  font-size: 15px;
  line-height: 27px;
  color: #fff;
  background: radial-gradient(circle, #4d3bac 0%, #1a115b 100%);
  border: none;
  border-radius: 10px 15px 15px 10px;
  box-shadow: inset 0 0 2px 1px #171717;
}

.valourRiftHUD-powerUp.hunt_limit .valourRiftHUD-powerUp-currentLevel {
  font-size: 11px;
}

.valourRiftHUD-gauntletBait-quantity.quantity {
  top: 45px;
  font-size: 13px;
  font-weight: 900;
}

.valourRiftHUD-towerLoot-quantity.quantity {
  font-size: 12px;
  font-weight: 900;
}

.valourRiftHUD-bait-quantity.quantity {
  width: 60px;
  font-size: 13px;
  line-height: 18px;
}

.valourRiftHUD-crafting-quantity.quantity {
  width: 42px;
  font-size: 12px;
}

.valourRiftHUD-fuelContainer-quantity.quantity {
  z-index: 1;
  padding: 1px 2px;
  margin-top: -7px;
  margin-right: -3px;
  font-size: 14px;
  background-color: #281c55;
  border: 1px solid #7db4dc;
  box-shadow: 0 0 0 1px #7eaacd;
}

.valourRiftHUD-fuelContainer-buyButton {
  top: -4px;
  left: 98px;
}

.valourRiftHUD-previewTower {
  top: 45px;
  left: 580px;
  filter: grayscale(1);
  opacity: 0.6;
}

.valourRiftHUD-previewTower.mh-vrift-sim-link {
  top: 43px;
  left: 550px;
  width: 21px;
  height: 21px;
  color: transparent;
  background-image: url(https://i.mouse.rip/mh-improved/sim.png);
  filter: grayscale(1);
  opacity: 0.4;
}

.valourRiftHUD-previewTower.mh-vrift-sim-link:hover {
  opacity: 0.8;
}

span.valourRiftHUD-huntsRemaining-value {
  margin-right: 5px;
  font-size: 15px;
  font-weight: 900;
  line-height: 14px;
}

span.valourRiftHUD-stepsTaken-value {
  font-size: 13px;
  font-weight: 900;
  color: #2d2964;
}

#mh-vrift-floor-name {
  position: absolute;
  top: 2px;
  right: 25px;
  left: 25px;
  z-index: 1;
  height: 20px;
  font-family: Rockwell, "Rockwell Nova", "Roboto Slab", "DejaVu Serif", "Sitka Small", serif;
  font-size: 21px;
  font-variant: petite-caps;
  color: #ebfffd;
  text-shadow: 0 0 1px #62fff3;
  background-color: #231857;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  -webkit-text-stroke: 1px #4fc5bc;
}

.valourRiftHUD-currentFloor:hover #mh-vrift-floor-name,
.valourRiftHUD-state.tower:hover #mh-vrift-floor-name,
.valourRiftHUD-currentFloor:focus #mh-vrift-floor-name,
.valourRiftHUD-state.tower:focus #mh-vrift-floor-name {
  opacity: 1;
}

.bottom.mh-vrift-floor-tooltip {
  right: -60px;
  bottom: -40px;
  left: -70px;
  font-size: 11px;
}

.bottom.mh-vrift-floor-tooltip .mousehuntTooltip-arrow {
  display: none;
}

.valourRiftHUD-stepsTaken .mousehuntTooltip {
  top: -5px;
  left: 107%;
  width: auto;
  min-width: 170px;
}

.valourRiftHUD-huntsRemaining .mousehuntTooltip {
  top: 5px;
  left: 105%;
  width: auto;
  min-width: 335px;
}

.valourRiftPopupClaim-lootLog-name {
  font-size: 12px;
}

.valourRiftPopup-towerStat .valourRiftPopup-label {
  font-size: 14px;
}

.valourRiftPopupClaim-stats-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center center;
  padding: 5px 0 5px 15px;
  margin: 20px;
  text-align: unset;
}

.valourRiftPopup-towerStat .valourRiftPopup-value {
  font-size: 25px;
  line-height: 30px;
}

.valourRiftPopup-towerStat {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: auto;
  text-align: center;
}

.valourRiftPopup-towerStat.wide {
  width: unset;
}

.valourRiftPopup-towerStat:last-child {
  margin-right: -110px;
}

.valourRiftPopupClaim-cacheLoot-image {
  box-shadow: none;
}

.valourRiftPopupClaim-lootLog .itemImage {
  box-shadow: none;
}

.valourRiftPopupClaim-footer {
  margin-top: -40px;
}

.valourRiftPopupClaim-chest-floor {
  filter: drop-shadow(0 0 5px #fee198);
}

.valourRiftPopupClaim-cacheLoot.robbery_slot_a .valourRiftPopupClaim-cacheLoot-image {
  filter: drop-shadow(0 5px 10px #fe8f21);
  box-shadow: none;
}

.valourRiftPopupClaim-cacheLoot.research_slot_b .valourRiftPopupClaim-cacheLoot-image {
  filter: drop-shadow(0 5px 10px #28a938);
  box-shadow: none;
}

.valourRiftPopupClaim-cacheLoot .mousehuntTooltip .mousehuntTooltip-arrow,
.valourRiftPopupClaim-cacheLoot.robbery_slot_a .mousehuntTooltip::after,
.valourRiftPopupClaim-cacheLoot.research_slot_b .mousehuntTooltip::after {
  display: none;
}

.valourRiftPopupClaim-cacheLoot.robbery_slot_a .valourRiftPopupClaim-cacheLoot-image::before,
.valourRiftPopupClaim-cacheLoot.research_slot_b .valourRiftPopupClaim-cacheLoot-image::before {
  top: unset;
  right: -2px;
  bottom: 0;
  width: 30px;
  height: 30px;
  content: "";
}

.valourRiftPopupClaim-lootLogTitle {
  color: #462605;
}

.valourRiftPopupClaim-newFloorRecord {
  grid-column: span 3;
}

.valourRiftPopupIllustrated-inventoryCostContainer {
  right: 0;
  left: 80px;
  width: 352px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
}

.valourRiftPopupIllustrated.enterTower .valourRiftHUD-highestFloor {
  font-size: 12px;
  font-weight: 900;
  color: #f2bc7d;
}

.valourRiftPopupIllustrated.enterTower .valourRiftHUD-highestFloorReachedContainer {
  top: 72px;
  right: 69px;
  display: flex;
  padding: 3px 6px;
  background-color: #3f354d;
  border: 1px solid #2f283a;
  border-radius: 4px;
}

.valourRiftPopupIllustrated.enterTower .valourRiftHUD-augmentation-description {
  display: flex;
  font-size: 12px;
  font-style: normal;
  line-height: 13px;
}

.valourRiftPopupIllustrated.enterTower .valourRiftHUD-augmentation-cost-quantity {
  margin-top: 3px;
  margin-left: -14px;
  font-size: 14px;
  box-shadow:
    1px -4px 2px 0 #310f3c inset,
    0 0 3px 3px #b06fd3 inset;
}

.valourRiftPopupIllustrated.enterTower .valourRiftHUD-augmentation-cost-image {
  background-color: #c7c8c6;
  background-position: -1px -1px;
}

.valourRiftPopupIllustrated.enterTower .valourRiftHUD-augmentation-cost.error .valourRiftHUD-augmentation-cost-quantity {
  color: #ccc;
  background-color: #744444;
}

.valourRiftPopupIllustrated.enterTower .valourRiftHUD-augmentation-cost.error .valourRiftHUD-augmentation-cost-image {
  filter: grayscale(1);
  box-shadow: 0 0 2px 2px #744444;
}

.valourRiftPopupIllustrated.enterTower a[data-type="tu"] .valourRiftHUD-augmentation-description {
  font-size: 10px;
  line-height: 10px;
}

.valourRiftPopupIllustrated.enterTower a.valourRiftHUD-augmentation.locked {
  filter: grayscale(0.8) opacity(0.6);
}

.valourRiftPopupIllustrated.enterTower .valourRiftHUD-dialog-inventory-item-name {
  padding-right: 6px;
  font-size: 12px;
  line-height: 12px;
}

.valourRiftHUD-tower .valourRiftHUD-tower-sprite-name,
.valourRiftHUD-tower .valourRiftHUD-tower-sprite.step,
.valourRiftHUD-tower .valourRiftHUD-tower-sprite.player,
.valourRiftHUD-tower .valourRiftHUD-tower-sprite.floor .valourRiftHUD-tower-sprite-image::before {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.valourRiftHUD-tower:hover .valourRiftHUD-tower-sprite.step,
.valourRiftHUD-tower:hover .valourRiftHUD-tower-sprite.player,
.valourRiftHUD-tower:hover .valourRiftHUD-tower-sprite.floor .valourRiftHUD-tower-sprite-image::before {
  opacity: 0.4;
}

.valourRiftHUD-tower:hover .valourRiftHUD-tower-sprite.player:hover {
  opacity: 1;
}

.valourRiftHUD-tower-sprite.floor .valourRiftHUD-tower-sprite-name {
  font-size: 11px;
  mix-blend-mode: hard-light;
}

.valourRiftHUD.tower .valourRiftHUD-huntsRemaining .valourRiftHUD-state.tower,
.valourRiftHUD.tower .valourRiftHUD-stepsTaken .valourRiftHUD-state.tower {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;
}

.valourRiftHUD.tower .valourRiftHUD-state.tower {
  font-size: 10px;
}

.valourRiftHUD-powerUp .valourRiftHUD-powerUpIcon {
  top: 2px;
  left: 2px;
  width: 44px;
  height: 45px;
}

.valourRiftHUD-powerUp-title {
  margin-top: -3px;
  margin-left: 2px;
  font-size: 13px;
}

a.valourRiftHUD-gauntletBait-image {
  background-color: #694481;
  outline: 1px solid #564065;
}

a.valourRiftHUD-bait-image {
  background-color: #6d90de;
  outline: 2px solid #4f71bc;
  box-shadow: 0 0 0 2px #5071bc;
}

.valourRiftHUD-towerLoot-thumb:hover {
  transform: scale(2.2);
}

.valourRiftHUD-towerLoot-thumb {
  background-size: 80%;
  transition: 0.2s;
  transform: scale(1.7);
}

a.valourRiftHUD-gauntletBait-image.active {
  filter: drop-shadow(0 5px 5px #68b868);
}

.floor_8 .valourRiftHUD-currentFloor {
  filter: hue-rotate(125deg);
  mix-blend-mode: color-dodge;
}

.floor_8 .valourRiftHUD-floorProgress-barContainer {
  filter: hue-rotate(110deg);
}

.eclipse.floor_8 .valourRiftHUD-floorProgress-barContainer {
  filter: brightness(1.2);
  animation: fortRoxlairPulse 2s 3;
}

.valourRiftHUD-tower-sprite.floor_8 .valourRiftHUD-tower-sprite-image {
  filter: saturate(1.2);
  box-shadow: inset 0 10px 25px 5px #000;
}

.valourRiftHUD-floorProgress-boss {
  top: -2px;
  z-index: 2;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  outline: 2px solid #6c87be;
  box-shadow: 0 0 2px 2px #231855;
}

@keyframes mh-improved-player-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes mh-improved-player-flipped-spin {
  0% {
    transform: scaleX(-1) rotate(0deg);
  }

  100% {
    transform: scaleX(-1) rotate(360deg);
  }
}

@keyframes mh-improved-large-player-spin {
  0% {
    transform: scale(2) rotate(0deg);
  }

  100% {
    transform: scale(2) rotate(360deg);
  }
}

@keyframes mh-improved-large-player-flipped-spin {
  0% {
    transform: scale(-2, 2) rotate(0deg);
  }

  100% {
    transform: scale(-2, 2) rotate(360deg);
  }
}

.mh-improved-player-spin {
  animation: mh-improved-player-spin 0.7s linear 1;
}

.flipped .mh-improved-player-spin {
  animation: mh-improved-player-flipped-spin 0.7s linear 1;
}

.mh-improved-player-spin.mh-improved-player-large {
  animation: mh-improved-large-player-spin 0.7s linear 1;
}

.flipped .mh-improved-player-spin.mh-improved-player-large {
  animation: mh-improved-large-player-flipped-spin 0.7s linear 1;
}

.valourRiftHUD-crafting-image {
  background-position: center;
  background-size: 120%;
}

.valourRiftHUD-tower-sprite.player .valourRiftHUD-tower-sprite-image.mh-improved-player-large {
  transform: scale(2);
}

.valourRiftHUD-tower-sprite.player.flipped .valourRiftHUD-tower-sprite-image.mh-improved-player-large {
  transform: scale(-2, 2);
}

.valourRiftHUD {
  filter: drop-shadow(0 2px 1px #25266a);
}

.valourRiftHUD.tower .valourRiftHUD-huntsRemaining .valourRiftHUD-state.tower {
  gap: 0;
  margin-right: -3px;
}
