.message .messageText,
.journal .entry .journalbody {
  position: relative;
}

#friend-data-wrapper {
  box-shadow: 0px 1px 5px -1px #5e5e5e;
  border-radius: 10px;
  top: -140px;
  position: absolute;
  right: -25px;
  width: 390px;
  border: 1px solid #9a8872;
}

#friend-data-wrapper .friendsPage-friendRow {
  margin-bottom: 0;
}

#friend-data-wrapper .friendsPage-friendRow-imageContainer {
  margin-left: 5px;
  position: relative;
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: top;
}

#friend-data-wrapper .friendsPage-friendRow-content {
  width: 268px;
  min-height: 75px;
}

#friend-data-wrapper .friendsPage-friendRow-titleBar-icon {
  height: 45px;
  left: 0px;
  top: -7px;
}

#friend-data-wrapper .friendsPage-friendRow-titleBar-name {
  font-size: 14px;

}

#friend-data-wrapper .friendsPage-friendRow-titleBar {
  padding-left: 50px;
}

#friend-data-wrapper .friendsPage-friendRow-titleBar-titleDetail {
  left: 50px;
}

#friend-data-wrapper .friendsPage-friendRow-environment-icon {
  margin-left: -10px;
  margin-right: 7px;
}

#friend-data-wrapper .friendsPage-friendRow-environment-name {
  font-size: 12px;
}

#friend-data-wrapper .friendsPage-friendRow .friendsPage-friendRow-actions {
  position: absolute;
  right: 3px;
  top: 38px;
}

#friend-data-wrapper .userInteractionButtonsView-button {
  background-size: 35px;
  height: 35px;
  width: 35px;
}
#friend-data-wrapper .userInteractionButtonsView-button {
  background-size: 40px;
  height: 40px;
  width: 40px;
}

#friend-data-wrapper .mousehuntTooltip {
  background: white;
  position: absolute;
  left: -20px;
  height: auto;
  width: auto;
}

#friend-data-wrapper .mousehuntTooltip .userInteractionButtonsView-button-label {
  line-height: normal !important;
}

#friend-data-wrapper .friendsPage-friendRow-statsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  overflow: hidden;
}

#friend-data-wrapper .friendsPage-friendRow-stat {
  font-size: 9px;
  width: auto;
  display: flex !important;
  align-items: center;
}

.hunterInfoView-wrapper #friend-data-wrapper .friendsPage-friendRow-statsContainer .friendsPage-friendRow-stat-value {
  font-size: 9px;
  font-weight: normal;
}

#friend-data-wrapper .friendsPage-friendRow-stat-label,
#friend-data-wrapper .friendsPage-friendRow-stat.team {
  display: none !important;
}
