.entry.short.misc.custom.larryGift::after {
  position: absolute;
  top: 20px;
  right: -5px;
  display: block;
  width: 61px;
  height: 61px;
  content: "";
  background-image: url(https://www.mousehuntgame.com/images/ui/onboarding/info_arrow_larry.png?asset_cache_version=2);
  filter: opacity(0.4) saturate(0.3);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: contain;
  transition: filter 0.2s;
  transform: scaleX(-1) rotate(-5deg);
  transform-origin: center;
}

.entry.short.misc.custom.larryGift:hover::after {
  filter: opacity(1) saturate(1);
}

.entry.short.misc.custom.larryGift .journalbody {
  margin-right: 45px;
}
