/* Make the gifts entry normal height and scrollable */
.socialGift.socialGift-send .journaltext {
  max-height: 60px;
  padding-right: 10px;
  padding-left: 80px;
  margin-right: -3px;
  margin-bottom: -4px;
  margin-left: -80px;
  overflow-y: auto;
  box-shadow: inset 0 -20px 15px -16px #9d9d9d;
}

.journal .entry.socialGift.socialGift-send .journalbody .journaltext {
  margin-right: -2px;
  margin-left: -85px;
}

/* hide the friends popup for gifts as it nests and breaks the layout */
.socialGift.socialGift-send .journaltext #friend-data-wrapper {
  display: none;
}

.journal .entry.socialGift-send {
  padding-bottom: 0;
}
