ul.better-journal-list {
  margin-left: 15px;
  list-style: disc;
}

.better-journal-list a::after {
  content: "" !important;
}

.journal .content .entry .journaltext .better-journal-list {
  line-height: 19px;
}
