.journal .content .entry.valentines_matchmaker {
  background-position: left;
  animation: mh-improved-background-slide 240s ease-in-out infinite;
}

@media (prefers-reduced-motion: reduce) {
  .journal .content .entry.valentines_matchmaker {
    animation: none;
  }
}
