.mh-dark-mode  .pageFrameView #mousehuntContainer.PageCamp .adventureBookBanner-goalPadding {
  background-color: transparent;
}

.mh-dark-mode .pageFrameView #mousehuntContainer.PageCamp .adventureBookBanner-adventureName {
  color: #000;
}

.mh-dark-mode .mousehuntActionButton {
  box-shadow: 1px 1px 1px #535151;
}

.mh-dark-mode .journal .relicHunter_complete,
.mh-dark-mode .journal .relicHunter_start,
.mh-dark-mode .journal .content .catchsuccessloot {
  color: #fff !important;
  background-color: #2e2e2e;
}

.mh-dark-mode .journal a {
  color: #009adf;
}

.entry.short.supplytransferitem {
  background: url(https://i.mouse.rip/upscaled/item-add.png) no-repeat 10px center;
  background-color: var(--mhdm-dark7);
}

.entry.short.supplytransferitem a {
  color: #0c5271;
}

.mh-dark-mode .item_set {
  background-color: (--mhdm-black);
}

.mh-dark-mode .itemPurchaseView-action-goldGost {
  background-color: #0e0e0e;
  border-color: #242424;
}

.mh-dark-mode .itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-container {
  color: #fff;
  background-color: #242424;
}

.mh-dark-mode .inventoryPage-item-recipeOptions li {
  color: #000;
}

.mh-dark-mode .mouse-ar-wrapper:nth-child(odd) {
  background-color: #323232;
}

.mh-dark-mode .inventoryPage-item-recipeOptions li {
  color: #2c2c2c;
}

.mh-dark-mode .mouseview-has-mhct .mouse-ar-wrapper:nth-child(odd) {
  background-color: #323232;
}

.mh-dark-mode .treasureMapView-environment.active .treasureMapView-environment-title {
  background-color: #38727b;
}

.mh-dark-mode #overlayPopup.treasureMapPopup .treasureMapView-environment.active .treasureMapView-environment-title a, .mh-dark-mode #overlayPopup.treasureMapPopup .treasureMapView-environment.wrong .treasureMapView-environment-title a, .mh-dark-mode .treasureMapView-environment-progress {
  color: #fff;
}

.mh-dark-mode .treasureMapView-environment.wrong .treasureMapView-environment-title {
  background-color: #862f2f;
}

.mh-dark-mode #sorted-mice-container .mouse-container-selected, .mh-dark-mode  #sorted-mice-container .mouse-container:hover, .mh-dark-mode #sorted-mice-container .mouse-container:focus {
  background-color: #2c2c2c;
}

.mh-dark-mode #sorted-mice-container .mouse-container-selected .mouse-extra-info {
  background-color: #2c2c2c;
  border-top-color: #000;
}

.mh-dark-mode .mhct-data {
  background-color: #2c2c2c;
  border-top-color: #000;
}

.mh-dark-mode .mhct-row:nth-child(odd) {
  background-color: #191919;
}

.mh-dark-mode .pageFrameView #overlayPopup.treasureMapPopup .treasureMapRootView-content a.messageBoardView-message-delete {
  color: transparent;
}
