/* Utility */
.transparent-text {
  color: transparent;
}

.text-black {
  color: #000;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.full-opacity {
  opacity: 1;
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.outline {
  outline: 1px solid #f00;
}

.sort-button {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 1px;
  cursor: pointer;
  content: '';
  border-top: 9px solid #777;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.sort-button.reverse {
  border-top: 0;
  border-right: 6px solid transparent;
  border-bottom: 9px solid #777;
  border-left: 6px solid transparent;
}

.sort-button.unsorted {
  opacity: 0.5;
}

.no-click {
  pointer-events: none;
}

.mh-ui-fade {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.mh-ui-fade-in {
  opacity: 1;
}

.mh-ui-fade-out {
  opacity: 0;
}

.mh-ui-error-message,
.mh-ui-success-message {
  z-index: 21;
  padding: 1px 3px;
  font-size: 10px;
  color: #160404;
  background-color: #f5b9b9;
  border: 1px solid #803e3e;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 #5e5e5e;
}

.mh-ui-success-message {
  background-color: #a3ea85;
  border: 1px solid #3e803e;
}

@keyframes mh-ui-sway-side-to-side {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Lets make that shield look great */
a.mousehuntHud-shield.golden {
  top: 3px;
  left: 12px;
  background-image: url(https://www.mousehuntgame.com/images/mousehunt_gold_logo.png?asset_cache_version=2);
  background-size: contain;
  transition: opacity 0.3s ease-in-out;
}

a.mousehuntHud-shield.golden:hover,
a.mousehuntHud-shield.golden:focus {
  opacity: 0.9;
}
