/* hack to make the settings page look better until some of this gets moved to mousehunt-improved and settings move to the browser */
.PagePreferences .mousehuntHud-page-tabContent.game_settings.mousehunt-improved-settings .PagePreferences__setting .settingRow-action-inputContainer.select.busy::before,
.PagePreferences .mousehuntHud-page-tabContent.game_settings.mousehunt-improved-settings .PagePreferences__setting .settingRow-action-inputContainer.select.completed::before {
  top: 30px;
  right: -25px;
  left: unset;
}

.PagePreferences .mousehuntHud-page-tabContent.game_settings.mousehunt-improved-settings .PagePreferences__settingDefault {
  display: none;
}

.PagePreferences .mousehuntHud-page-tabContent.game_settings.mousehunt-improved-settings .PagePreferences__titleText {
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.PagePreferences .mousehuntHud-page-tabContent.game_settings.mousehunt-improved-settings .toggle.toggled {
  transform: rotate(270deg);
}

.PagePreferences .mousehuntHud-page-tabContent.game_settings.mousehunt-improved-settings .toggle {
  transform-origin: center;
}

#mousehunt-improved-settings-location-hud .PagePreferences__titleText {
  grid-column: span 3;
}

.PagePreferences .mousehuntHud-page-tabContent.game_settings.mousehunt-improved-settings .PagePreferences__settingDescription {
  max-width: 500px;
}

.PagePreferences .mousehuntHud-page-tabContent.game_settings.mousehunt-improved-settings .settingRow-label {
  padding: 10px 0;
}

.PagePreferences .mousehuntHud-page-tabContent.game_settings.mousehunt-improved-settings .inputBoxContainer.multiSelect {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.PagePreferences .mousehuntHud-page-tabContent.game_settings.mousehunt-improved-settings .inputBox.multiSelect {
  max-width: 125px;
  margin-right: 4px;
}

.PagePreferences .mousehuntHud-page-tabContent.game_settings.mousehunt-improved-settings select {
  font-size: 11px;
}

.mousehunt-improved-settings .PagePreferences__settingsList:nth-child(even) {
  background-color: #eee;
  border-radius: 4px;
}

.mousehunt-improved-settings .PagePreferences__settingsList {
  padding: 5px;
}

.PagePreferences .mousehunt-improved-settings .PagePreferences__setting {
  gap: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
}

#mousehunt-improved-settings .PagePreferences__settingAction {
  padding: 0;
  margin: 0;
}

#mousehunt-improved-settings .PagePreferences__settingDescription {
  font-size: 12px;
}

.mousehunt-improved-settings  .PagePreferences__title {
  padding: 10px;
  border: 1px solid #e0cfb4;
}

/* Sub-settings */
#mousehunt-improved-settings-mousehunt-improved-better-travel-default-to-simple-travel,
#mousehunt-improved-settings-mousehunt-improved-better-travel-show-alphabetized-list,
#mousehunt-improved-settings-mousehunt-improved-better-travel-show-reminders,
#mousehunt-improved-settings-mousehunt-improved-send-supplies-pinned-items,
#mousehunt-improved-settings-feature-modules-quick-send-supplies-items,
#mousehunt-improved-settings-feature-modules-gift-buttons-send-order,
#mousehunt-improved-settings-feature-modules-gift-buttons-ignore-bad-gifts,
#mousehunt-improved-settings-feature-modules-gift-buttons-close-on-send {
  padding-left: 30px;
}

#mousehunt-improved-settings-mousehunt-improved-better-travel-default-to-simple-travel .PagePreferences__settingName,
#mousehunt-improved-settings-mousehunt-improved-better-travel-show-alphabetized-list .PagePreferences__settingName,
#mousehunt-improved-settings-mousehunt-improved-better-travel-show-reminders .PagePreferences__settingName,
#mousehunt-improved-settings-mousehunt-improved-send-supplies-pinned-items .PagePreferences__settingName,
#mousehunt-improved-settings-feature-modules-quick-send-supplies-items .PagePreferences__settingName,
#mousehunt-improved-settings-feature-modules-gift-buttons-send-order .PagePreferences__settingName,
#mousehunt-improved-settings-feature-modules-gift-buttons-ignore-bad-gifts .PagePreferences__settingName,
#mousehunt-improved-settings-feature-modules-gift-buttons-close-on-send .PagePreferences__settingName {
  font-size: 13px;
}

#mousehunt-improved-settings-feature-modules-gift-buttons-send-order .inputBox.multiSelect,
#mousehunt-improved-settings-feature-modules-gift-buttons-ignore-bad-gifts .inputBox.multiSelect,
#mousehunt-improved-settings-feature-modules-custom-shield .inputBox.multiSelect {
  max-width: unset;
}

/* Location HUD */
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList {
  padding: 0 5px 0 10px;
  background-color: inherit;
}

#mousehunt-improved-settings-location-hud .PagePreferences__settingsList:nth-child(6),
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList:nth-child(7),
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList:nth-child(8),
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList:nth-child(12),
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList:nth-child(13),
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList:nth-child(14),
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList:nth-child(18),
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList:nth-child(19),
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList:nth-child(20),
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList:nth-child(24),
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList:nth-child(25),
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList:nth-child(26),
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList:nth-child(30),
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList:nth-child(31),
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList:nth-child(32),
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList:nth-child(36),
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList:nth-child(37),
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList:nth-child(38),
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList:nth-child(42),
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList:nth-child(43),
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList:nth-child(44),
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList:nth-child(48),
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList:nth-child(49),
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList:nth-child(50) {
  background-color: #eee;
  border-radius: 4px;
}

#mousehunt-improved-settings-location-hud .PagePreferences__settingsList .PagePreferences__settingName {
  font-size: 11px;
}

#mousehunt-improved-settings-location-hud .settings-subheader,
#mousehunt-improved-settings-location-hud .PagePreferences__separator {
  grid-column: span 3;
}

#mousehunt-improved-settings-location-hud .PagePreferences__settingsList .PagePreferences__setting .settingRow-action-inputContainer,
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList .PagePreferences__setting .description {
  padding: 0;
  vertical-align: middle;
}

#mousehunt-improved-settings-location-hud .PagePreferences__settingsList .PagePreferences__settingDefault {
  display: none;
}

#mousehunt-improved-settings-location-hud .PagePreferences__setting {
  padding: 0;
  margin-bottom: -10px;
}

#mousehunt-improved-settings-location-hud .PagePreferences__settingName {
  font-size: 11px;
}

#mousehunt-improved-settings-location-hud #mousehunt-improved-settings-location-hud-train_station.PagePreferences__settingsList .PagePreferences__settingName {
  font-size: 10px;
}

#mousehunt-improved-settings-location-hud .PagePreferences__settingAction {
  transform: scale(.75);
}

#mousehunt-improved-settings-location-hud {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 40px;
  justify-items: stretch;
  margin: 0;
}

#mousehunt-improved-settings-location-hud .PagePreferences__settingsList .PagePreferences__setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  border-bottom: none;
}

#mousehunt-improved-settings-location-hud .PagePreferences__settingsList .PagePreferences__setting .PagePreferences__settingLabel,
#mousehunt-improved-settings-location-hud .PagePreferences__settingsList .PagePreferences__setting .PagePreferences__settingAction {
  display: inline-block;
  padding: 0;
  vertical-align: middle;
}

/* Export Settings */
.mousehunt-improved-export-settings {
  position: absolute;
  top: 13px;
  right: 10px;
}

#mousehunt-improved-settings-mousehunt-improved-settings-overrides-override-styles textarea,
#mousehunt-improved-settings-mousehunt-improved-settings-overrides-override-flags input {
  width: 350px;
  min-width: 250px;
  max-width: 350px;
  margin-left: -25px;
  font-family: monospace;
  color: #000;
  background-color: #dcdcdc;
  border: 1px solid #ccc;
}

#mousehunt-improved-settings-feature-modules-quick-send-supplies-items .multiSelect {
  width: 375px;
}

.mousehunt-improved-settings-export-popup-content {
    display: grid;
    grid-template-columns: 1fr 100px;
    gap: 30px;
}
.mousehunt-improved-settings-export-popup-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
  justify-content: flex-end;
}

.mousehunt-improved-settings-export-popup-content textarea {
  width: 100%;
  height: auto;
  min-height: 350px;
  font-family: monospace;
  font-size: 12px;
}

.mousehunt-improved-settings-export-popup .suffix {
  display: none;
}

.settingRow-action-inputContainer.textarea {
  display: flex;
  gap: 5px;
  align-items: center;
}

.PagePreferences__title.toggled .PagePreferences__settingsList,
.PagePreferences__title.toggled .PagePreferences__separator {
  display: none;
}
