/* hack to make the settings page look better until some of this gets moved to mh-utils and settings move to the browser */
.PagePreferences .mousehuntHud-page-tabContent.game_settings.mousehunt-improved-settings .PagePreferences__setting .settingRow-action-inputContainer.select.busy::before,
.PagePreferences .mousehuntHud-page-tabContent.game_settings.mousehunt-improved-settings .PagePreferences__setting .settingRow-action-inputContainer.select.completed::before {
  top: 30px;
  right: -25px;
  left: unset;
}

.PagePreferences .mousehuntHud-page-tabContent.game_settings.mousehunt-improved-settings .settingRow-label {
  padding: 10px 0;
}

.inputBoxContainer.multiSelect {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.inputBox.multiSelect {
  max-width: 130px;
}

#mh-utils-settings-location-hud .settings-subheader,
#mh-utils-settings-location-hud .PagePreferences__separator {
  grid-column: span 3;
}

#mh-utils-settings-location-hud .PagePreferences__settingsList .PagePreferences__setting .settingRow-action-inputContainer,
#mh-utils-settings-location-hud .PagePreferences__settingsList .PagePreferences__setting .description {
  padding: 0;
  vertical-align: middle;
}

#mh-utils-settings-location-hud .PagePreferences__settingsList .PagePreferences__settingDefault {
  display: none;
}

#mh-utils-settings-location-hud .PagePreferences__settingName {
  font-size: 12px;
}

#mh-utils-settings-location-hud .PagePreferences__setting {
  padding: 0;
}

#mh-utils-settings-location-hud .PagePreferences__settingAction {
  padding: 0;
  margin: 0;
}

#mh-utils-settings-mousehunt-improved-better-travel-default-to-simple-travel,
#mh-utils-settings-mousehunt-improved-better-travel-show-alphabetized-list,
#mh-utils-settings-mousehunt-improved-better-travel-show-reminders,
#mh-utils-settings-mousehunt-improved-send-supplies-pinned-items,
#mh-utils-settings-feature-modules-quick-send-supplies-items,
#mh-utils-settings-feature-modules-gift-buttons-send-order,
#mh-utils-settings-feature-modules-gift-buttons-ignore-bad-gifts {
  max-width: 670px;
  margin-left: 30px;
}

#mh-utils-settings-location-hud .PagePreferences__settingsList .name,
#mh-utils-settings-mousehunt-improved-better-travel-default-to-simple-travel .name,
#mh-utils-settings-mousehunt-improved-better-travel-show-alphabetized-list .name,
#mh-utils-settings-mousehunt-improved-better-travel-show-reminders .name,
#mh-utils-settings-mousehunt-improved-send-supplies-pinned-items .name,
#mh-utils-settings-feature-modules-quick-send-supplies-items .name,
#mh-utils-settings-feature-modules-gift-buttons-send-order .name,
#mh-utils-settings-feature-modules-gift-buttons-ignore-bad-gifts .name {
  font-size: 12px;
}

#mh-utils-settings-feature-modules-gift-buttons-send-order .inputBox.multiSelect,
#mh-utils-settings-feature-modules-gift-buttons-ignore-bad-gifts .inputBox.multiSelect {
  max-width: unset;
}

/* Location HUD */
#mh-utils-settings-location-hud {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 40px;
  justify-items: stretch;
  margin: 0;
}


#mh-utils-settings-location-hud .PagePreferences__settingsList .PagePreferences__setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  border-bottom: none;
}

#mh-utils-settings-location-hud .PagePreferences__settingsList .PagePreferences__setting .PagePreferences__settingLabel,
#mh-utils-settings-location-hud .PagePreferences__settingsList .PagePreferences__setting .PagePreferences__settingAction {
  display: inline-block;
  padding: 0;
  vertical-align: middle;
}
