#mh-improved-m400-travel {
  left: 15px;
}

.m400-helper-hidden,
.campPage-quests-objective-container.locked .campPage-quests-objective-content,
.campPage-quests-footer-smash-icon,
.campPage-quests-footer-smash-warning {
  display: none;
}

.campPage-quests-objective-container .campPage-quests-objective-thumb {
  width: 35px;
  height: 25px;
}

.campPage-quests-objective-content {
  width: calc(100% - 35px);
}

.campPage-quests-objective-container.locked .campPage-quests-objective-thumb {
  width: 100%;
  margin: 0 auto;
  opacity: .4;
}

.campPage-quests-footer-smash {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 4px;
  font-size: 9.75px;
  border-radius: 3px;
  box-shadow: none;
}

#mh-m400-research-smash-warning {
  position: absolute;
  bottom: 28px;
  left: 30px;
  display: block;
  max-width: 250px;
  line-height: 16px;
  text-align: left;
}
