#mh-improved-m400-travel {
  left: 15px;
}

.m400-helper-hidden,
.campPage-quests-objective-container.locked .campPage-quests-objective-content,
.campPage-quests-footer-smash-icon,
.campPage-quests-footer-smash-warning {
  display: none;
}

.campPage-quests-objective-container .campPage-quests-objective-thumb {
  width: 35px;
  height: 25px;
}

.campPage-quests-objective-content {
  width: calc(100% - 35px);
}

.campPage-quests-objective-container.locked .campPage-quests-objective-thumb {
  width: 100%;
  margin: 0 auto;
  opacity: 0.4;
}

.campPage-quests-footer-smash {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 4px;
  font-size: 9.75px;
  text-decoration: underline;
  border-radius: 3px;
  box-shadow: none;
}

#mh-research-smash-warning {
  position: absolute;
  bottom: 28px;
  left: 30px;
  display: block;
  max-width: 250px;
  line-height: 16px;
  text-align: left;
}

#overlayPopup.zugzwangsLibraryQuestShopPopup .errorText {
  padding: 10px 0;
  color: #da1717;
}

#overlayPopup.zugzwangsLibraryQuestShopPopup .questLink .image {
  width: 57px;
}

#overlayPopup.zugzwangsLibraryQuestShopPopup .questLink .image img {
  width: 40px;
  height: 40px;
  margin: 0;
}

#overlayPopup.zugzwangsLibraryQuestShopPopup .questLink .actions {
  margin-left: -19px;
}

#overlayPopup.zugzwangsLibraryQuestShopPopup .questLink .content b {
  display: block;
  padding: 5px 0;
  font-size: 12px;
  color: #000;
}

#overlayPopup.zugzwangsLibraryQuestShopPopup .questLink .content {
  color: #909090;
}

#overlayPopup.zugzwangsLibraryQuestShopPopup .questLink .requirements b {
  display: inline-block;
  padding: 7px;
}

#overlayPopup.zugzwangsLibraryQuestShopPopup .questLink .item img,
#overlayPopup.zugzwangsLibraryQuestShopPopup .questLink br {
  display: none;
}

#overlayPopup.zugzwangsLibraryQuestShopPopup .questContainer {
  height: auto;
  overflow-y: visible;
}

#overlayPopup.zugzwangsLibraryQuestShopPopup a.questLink {
  display: flex;
  align-items: center;
}

#overlayPopup.zugzwangsLibraryQuestShopPopup a.questLink:hover {
  cursor: default;
}

.mh-m400-travel {
  margin-top: -2px;
  margin-left: 10px;
}

.mh-m400-quest .campPage-quests-objective-progress,
.mh-m400-quest .campPage-quests-objective-progressBar {
  display: none;
}
