/* Favorite mice section, hide everything but the first mouse */
.mh-improved-fancy-profile .hunterInfoView-favoritesBlock-content-mouseContainer,
.mh-improved-fancy-profile .hunterInfoView-favoritesBlock-content-container-arrow.right,
.mh-improved-fancy-profile .hunterInfoView-favoritesBlock-content-tabDot-container,
.mh-improved-fancy-profile .hunterInfoView-favoritesBlock-content-mouseLabel,
.mh-improved-fancy-profile .hunterInfoView-wrapper .friendsPage-friendRow-titleBar-icon,
.mh-improved-fancy-profile .journalContainer .top,
.mh-improved-fancy-profile .journalContainer .bottom,
.mh-improved-fancy-profile .trapImageView-tooltip-trapAura-expiry span {
  display: none;
}

.mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-favoritesBlock-content-mouseContainer:first-child {
  display: inline-block;
}

.mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-favoritesBlock-content-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* glazy mouse best mouse */
.mh-improved-fancy-profile .hunterInfoView-favoritesBlock-content-chunk::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 110px;
  font-size: 13px;
  line-height: 2;
  color: #772b0a;
  content: "glazy mouse best mouse";
}

/* main hunter card */
.mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-idCardBlock .friendsPage-friendRow {
  background: linear-gradient(#b389a1 5%, #f0dfee 50%) !important;
  border-radius: 6px;
}

.mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-hunterId {
  color: #252525 !important;
  background-color: #dcf7ff !important;
}

.mh-improved-fancy-profile .hunterInfoView-wrapper div.messageBoardView-message-container,
.mh-improved-fancy-profile .hunterInfoView-wrapper .friendsProfileView-container,
.mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-favoritesBlock .hunterInfoView-favoritesBlock-body,
.mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-achievementsBlock .mousehuntTabContentContainer,
.mh-improved-fancy-profile .hunterInfoView-achievementsBlock .mousehuntTabContentContainer-padding,
.mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-trapBlock-header-title-container,
.mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-trapBlock-footer,
.mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-trapBlock-footer-stats {
  background: #f0dfee !important;
  background-color: #f0dfee !important;
  border-color: #de72ba;
  box-shadow: none;
}

.mh-improved-fancy-profile .hunterInfoView-wrapper div.messageBoardView-message-container {
  border: 1px solid #de72ba;
}

.mh-improved-fancy-profile .hunterInfoView-wrapper .messageBoardView-title,
.mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-favoritesBlock-header,
.mh-improved-fancy-profile .hunterInfoView-achievementsBlock .mousehuntTabHeaderContainer .mousehuntTabHeader,
.mh-improved-fancy-profile .hunterInfoView-achievementsBlock .mousehuntTabHeaderContainer .mousehuntTabHeader.active {
  background: linear-gradient(#dcf7ff 45%, #8af1ee 55%);
}

/* corkboard */
.mh-improved-fancy-profile .hunterInfoView-corkBoardBlock .messageBoardView-message,
.mh-improved-fancy-profile .hunterInfoView-corkBoardBlock .messageBoardView-message.new {
  background: #f8eff6;
  border-color: #de72ba !important;
}

.mh-dark-mode .mh-improved-fancy-profile .hunterInfoView-corkBoardBlock .messageBoardView-message {
  background: #513d4c;
}

.PageHunterProfile .pageFrameView .mh-improved-fancy-profile .mousehuntPage-content textarea {
  background-color: #f8eff7;
  border-color: #de72ba;
}

.mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-idCardBlock-stats,
.mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-idCardBlock-teamInfo-container::before,
.mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-idCardBlock-teamInfo-container,
.mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-idCardBlock-stats-horn-container,
.mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-idCardBlock-stats-huntingSince,
.mh-improved-fancy-profile .hunterInfoView-wrapper .campPage-trap-trapStat,
.mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-trapBlock-setup-trap-slot-quantity {
  background: #dcf7ff !important;
  border-color: #80b5b4 !important;
}

.mh-improved-fancy-profile .journalContainer .content {
  padding: 0;
  margin: 0;
  background: transparent !important;
}

.mh-improved-fancy-profile .jlarge {
  overflow: hidden;
}

.mh-improved-fancy-profile .journal .content .entry,
.mh-improved-fancy-profile .journal .content .entry:last-child {
  background-color: #f0dfee;
  border-color: #de72ba;
}

.mh-improved-fancy-profile .journal .content .entry.short.travel {
  background-color: #f2f2f2;
}

.mh-improved-fancy-profile .friendsPage-friendRow-image-border {
  background-image: none;
}

.mh-improved-fancy-profile .friendsPage-friendRow-image {
  inset: 4px;
  border: 1px solid #513645;
  border-radius: 10px;
}

.mh-improved-fancy-profile .friendsPage-friendRow .friendsPage-friendRow-titleBar {
  margin-bottom: 10px;
  margin-left: -4px;
  background: linear-gradient(#dcf7ff 45%, #89f0ee 55%);
  border-color: #8af1ef;
}

.mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-trapBlock-header-thumbnail-image {
  border-color: #de72ba;
  box-shadow: none;
}

.mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-trapBlock-header-title-container {
  top: 1px;
  height: 59px;
  border-top: none;
  border-bottom: 1px solid #de72ba;
  border-radius: 7px 50px 0 0;
}

.mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-trapBlock-header-container {
  padding-top: 1px;
  border: 1px solid #de72ba;
}

.mh-improved-fancy-profile .hunterInfoView-wrapper .friendsPage-friendRow-titleBar-name {
  margin-left: -25px;
}

.mh-improved-fancy-profile .hunterInfoView-wrapper .friendsPage-friendRow-titleBar-titleDetail {
  top: 0;
  right: 10px;
  left: unset;
  font-weight: 900;
}

.mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-idCardBlock-teamInfo-container {
  height: 37px;
}

.mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-idCardBlock {
  z-index: 0;
  height: 220px;
}

.mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-idCardBlock-stats {
  padding: 7px 0;
}

.PageHunterProfile .pageFrameView .mh-improved-fancy-profile.PageHunterProfile .friendsPage-friendRow-statsContainer,
.mh-improved-fancy-profile .friendsPage-friendRow-statsContainer {
  color: #513645;
  background-color: #d2c0ec;
  border-top: 1px solid #be9bbc;
  border-radius: 0 0 6px 6px;
  box-shadow: none;
}

.mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-idCardBlock-goldenShield {
  filter: hue-rotate(148deg);
}

.mh-improved-fancy-profile .loyaltyBadgeView-years-text::before {
  content: "4";
}

.mh-improved-fancy-profile .loyaltyBadgeView .loyaltyBadgeView-years-text {
  top: 6px;
  font-size: 20px;
  color: #4b5554;
  text-shadow: 0 0 0 #969696;
}

.mh-improved-fancy-profile .loyaltyBadgeView {
  background-image: url(https://www.mousehuntgame.com/images/ui/profile/loyalty-badge-3-year.png);
  filter: hue-rotate(237deg);
}

.mh-improved-fancy-profile .userInteractionButtonsView-button {
  filter: hue-rotate(170deg) opacity(0.6);
}

.mh-improved-fancy-profile .hunterInfoView-idCardBlock-stats-horn-image {
  filter: hue-rotate(250deg);
}

.mh-improved-fancy-profile .userInteractionButtonsView-relationship .userInteractionButtonsView-button,
.mh-improved-fancy-profile .userInteractionButtonsView-relationship .userInteractionButtonsView-button:hover,
.mh-improved-fancy-profile .userInteractionButtonsView-relationship .userInteractionButtonsView-button:focus,
.mh-improved-fancy-profile .userInteractionButtonsView-relationship .userInteractionButtonsView-button:active {
  filter: none;
}

.mh-improved-fancy-profile .userInteractionButtonsView-button:hover {
  filter: hue-rotate(220deg) opacity(1);
}

.mh-improved-fancy-profile .friendsProfileView-randomFriend {
  background-color: #c3f0ff;
}

.mh-improved-fancy-profile .friendsProfileView-randomFriend:hover {
  background-color: #93c9db;
}

.mh-improved-fancy-profile .campPage-trap-trapStat.luck .value span::after {
  content: "0";
}

.mh-improved-fancy-profile .trapImageView-tooltip-trapAura-expiry::after {
  content: "never! 🎉️ infinite aura!";
}

.mh-improved-fancy-profile .hunterInfoView-achievementsBlock .mousehuntTabHeaderContainer .mousehuntTabHeader:hover,
.hunterInfoView-achievementsBlock .mousehuntTabHeaderContainer .mousehuntTabHeader:focus {
  background: linear-gradient(#dcf7ff 45%, #8adff1 55%);
}

.mh-improved-fancy-profile #friend-data-wrapper .userInteractionButtonsView-button,
.mh-improved-fancy-profile #friend-data-wrapper .userInteractionButtonsView-button:hover {
  filter: none !important;
}

.mh-improved-fancy-profile #friend-data-wrapper .friendsPage-friendRow-statsContainer {
  background-color: transparent;
  box-shadow: 0 10px 30px #cdb495 inset;
}

.mh-dark-mode .mh-improved-fancy-profile .hunterInfoView-wrapper .friendsPage-friendRow-titleBar-titleDetail {
  color: #8e5d8b;
}

.PageHunterProfile .pageFrameView .mh-improved-fancy-profile .hunterInfoView-wrapper .mousehuntTabHeader span,
.PageHunterProfile .pageFrameView .mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-favoritesBlock-header,
.mh-improved-fancy-profile .hunterInfoView-wrapper .messageBoardView-title,
.mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-favoritesBlock-header,
.mh-improved-fancy-profile .hunterInfoView-achievementsBlock .mousehuntTabHeaderContainer .mousehuntTabHeader,
.mh-improved-fancy-profile .hunterInfoView-achievementsBlock .mousehuntTabHeaderContainer .mousehuntTabHeader.active {
  color: #615d5d !important;
  background: linear-gradient(#dcf7ff 45%, #8adff1 55%);
  border-color: #de72ba;
  border-radius: 7px 7px 0 0;
  box-shadow: none;
}

.pageFrameView #mousehuntContainer.PageHunterProfile.mh-improved-fancy-profile .campPage-trap-itemStats,
.pageFrameView #mousehuntContainer.PageHunterProfile.mh-improved-fancy-profile .campPage-trap-itemStats .campPage-trap-trapStat .value,
.pageFrameView #mousehuntContainer.PageHunterProfile.mh-improved-fancy-profile .campPage-trap-itemStats .campPage-trap-trapStat .value b,
.PageHunterProfile .pageFrameView .mh-improved-fancy-profile .hunterInfoView-wrapper .journalEntries,
.PageHunterProfile .pageFrameView .mh-improved-fancy-profile .pagerView-container,
.PageHunterProfile .pageFrameView .mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-trapBlock-setup-items,
.PageHunterProfile .pageFrameView .mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-achievementsBlock .mousehuntTabHeader::before,
.PageHunterProfile .pageFrameView .mh-improved-fancy-profile .hunterInfoView-wrapper .mousehuntTabHeader::before,
.PageHunterProfile .pageFrameView .mh-improved-fancy-profile .hunterInfoView-wrapper .mousehuntTabHeader.active span,
.PageHunterProfile .pageFrameView .mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-achievementsBlock .mousehuntTabHeader:hover span {
  color: #615d5d;
  background-color: transparent;
}

.PageHunterProfile .pageFrameView .mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-trapBlock-header-title,
.PageHunterProfile .pageFrameView .mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-treasureMaps-right-cluesFound-label,
.PageHunterProfile .pageFrameView .mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-treasureMaps-right-cluesFound,
.PageHunterProfile .pageFrameView .mh-improved-fancy-profile .friendsProfileView-container,
.PageHunterProfile .pageFrameView .mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-achievementsBlock .mousehuntTabContentContainer,
.PageHunterProfile .pageFrameView .mh-improved-fancy-profile .friendsPage-friendRow {
  color: #615d5d;
}

.PageHunterProfile .pageFrameView .mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-trapBlock-setup-trap-slot,
.PageHunterProfile .pageFrameView .mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-trapBlock-setup-trap-slot.middle {
  top: -2px;
  overflow: hidden;
  border-color: #99448e;
  border-radius: 9px;
  outline: 1px solid #f0dfee;
  box-shadow:
    1px -1px 0 3px #f0dfee,
    -1px -1px 0 3px #f0dfee;
}

.PageHunterProfile .pageFrameView .mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-trapBlock-setup-items {
  padding: 0;
  margin: 0 10px;
  background-color: #f0dfee;
  border-radius: 10px;
  box-shadow:
    0 -6px 0 1px #f0dfee,
    -23px 10px 0 -19px #f0dfee,
    27px 10px 0 -19px #f0dfee,
    0 -6px 0 2px #de72ba;
}

.PageHunterProfile .pageFrameView .mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-trapBlock-setup-container {
  border-color: #de72ba;
}

.PageHunterProfile .pageFrameView .mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-idCardBlock,
.PageHunterProfile .pageFrameView .mh-improved-fancy-profile .hunterInfoView-wrapper .hunterInfoView-favoritesBlock {
  border-color: #de72ba;
  box-shadow: none;
}
