.mh-improved-developer .hunterInfoView-verifiedUserImage,
.mh-improved-contributor .hunterInfoView-verifiedUserImage,
.mh-improved-supporter .hunterInfoView-verifiedUserImage {
  width: 14.5px;
  height: 17.5px;
  background: url(https://i.mouse.rip/mh-improved/tada-badge.png) no-repeat;
  background-size: contain;
}

.mh-improved-supporter .hunterInfoView-verifiedUserImage {
  background: url(https://i.mouse.rip/mh-improved/star-badge.png) no-repeat;
  background-position-y: -1px;
  background-size: contain;
}

.mh-improved-developer .friendsPage-friendRow-image:hover::after,
.mh-improved-developer .friendsPage-friendRow-image:focus::after,
.mh-improved-developer .friendsPage-friendRow-image:active::after,
.mh-improved-contributor .friendsPage-friendRow-image:hover::after,
.mh-improved-contributor .friendsPage-friendRow-image:focus::after,
.mh-improved-contributor .friendsPage-friendRow-image:active::after,
.mh-improved-supporter .friendsPage-friendRow-image:focus::after,
.mh-improved-supporter .friendsPage-friendRow-image:hover::after,
.mh-improved-supporter .friendsPage-friendRow-image:active::after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  font-size: 22px;
  color: #fff;
  content: "";
  /* stylelint-disable-next-line */
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><pathd="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"/></svg>');
  filter: drop-shadow(0 0 2px #000);
  background-repeat: no-repeat;
  background-size: contain;
}
