.harbourHUD-map-mapImage {
  height: 155px;
  transition: 0.3s ease-in-out;
  transform-origin: bottom center;
}

.harbourHUD-mapContainer:hover .harbourHUD-map-mapImage {
  transform: scale(1.1);
}

.harbourHUD-mouse-name {
  text-shadow:
    1px 1px 2px #000,
    0 0 4px #fff;
}

.harbourHUD-popup-title {
  text-shadow: none;
}

.harbour-popup .harbourHUD-area-mice {
  display: flex;
  justify-content: center;
}

.harbourHUD-mouse.uncaught {
  transition: 0.2s ease-in-out;
}

.harbourHUD-mouse.uncaught:hover {
  transform: scale(1.1);
}
