.treasureMapView-hunter-image,
.treasureMapView-block-content-heading-image,
.treasureMapListingsTableView-profilePic {
  border-radius: 3px;
}

.treasureMapView-block-content-heading-image {
  box-shadow: 0 0 1px 1px #999;
}

.treasureMapListingsTableView-owner {
  margin-top: 5px;
}
