.entry.short.misc.custom.refine_pollutinum .journaltext a::before {
  display: none;
}

.entry.short.misc.custom.refine_pollutinum .journaltext a {
  padding: 0;
}

/* stylelint-disable prettier/prettier */
.spring_hunt_charge_trinket_effect .journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=chocolatium_stat_item"]::before,
.spring_hunt_relic_hunter_egg_drop .journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=relic_hunter_egg_convertible"]::before {
  display: none;
}

.spring_hunt_charge_trinket_effect .journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=chocolatium_stat_item"],
.spring_hunt_relic_hunter_egg_drop .journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=relic_hunter_egg_convertible"] {
  padding-left: unset;
}

.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=fulminas_gift_convertible"] {
  padding-left: 22px;
}

.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=amber_queso_stat_item"] {
  position: relative;
  padding-left: 15px;
}

.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=2014_throwable_snowball_stat_item"]::before {
  top: -1px;
  left: -1px;
}

.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=map_clue_stat_item"]::before {
  left: 1px;
}

.journaltext a[href*="https://www.mousehuntgame.com/item.php?item_type=poetic_plank_stat_item"]::before,
.journaltext a[href*="https://www.mousehuntgame.com/item.php?item_type=cauldron_potion_ingredient_stat_item"]::before,
.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=amber_queso_stat_item"]::before,
.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=fulminas_gift_convertible"]::before,
.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=storm_egg_convertible"]::before,
.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=prize_credit_stat_item"]::before {
  left: 0;
}

.journaltext a[href*="https://www.mousehuntgame.com/item.php?item_type=recycled_essence_crafting_item"]::before,
.journaltext a[href*="https://www.mousehuntgame.com/item.php?item_type=extra_coarse_salt_crafting_item"]::before,
.journaltext a[href*="https://www.mousehuntgame.com/item.php?item_type=essence_a_crafting_item"]::before,
.journaltext a[href*="https://www.mousehuntgame.com/item.php?item_type=spooky_trinket"]::before,
.journaltext a[href*="https://www.mousehuntgame.com/item.php?item_type=dreaded_trinket"]::before,
.journaltext a[href*="https://www.mousehuntgame.com/item.php?item_type=cackle_trinket"]::before,
.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=printing_press_charge_stat_item"]::before,
.journaltext a[href*="https://www.mousehuntgame.com/item.php?item_type=chrome_bit_stat_item"]::before {
  left: -1px;
}

/* stylelint-enable prettier/prettier */
