.riftBristleWoodsHUD-footer-item-quantity.quantity {
  top: 30px;
  padding: 2px 4px;
  font-size: 12px;
}

.riftBristleWoodsHUD-footer-item-tooltip-baitRow-image .riftBristleWoodsHUD-footer-item-quantity {
  top: 15px;
  right: -3px;
  padding: 0 3px;
  font-size: 9px;
}

.riftBristleWoodsHUD-footer-itemGroup.wide .riftBristleWoodsHUD-footer-item-image:first-child .riftBristleWoodsHUD-footer-item-quantity {
  top: 27px;
}

.riftBristleWoodsHUD-chamberProgressQuantity {
  top: 71px;
  left: 7px;
  z-index: 1;
  width: 50px;
  padding: 0 6px;
  text-shadow: none;
  background-color: #fefae9;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: inset 1px -1px 3px 1px #d1caaa;
}

.riftBristleWoodsHUD-portalEquipment.lootBooster .riftBristleWoodsHUD-footer-item-quantity {
  top: 22px;
  right: unset;
  left: 5px;
}

.riftBristleWoodsHUD-footer-item-image.active.highlight {
  border-color: #03ff95;
  box-shadow: 0 0 10px #00ec00 inset;
}

.riftBristleWoodsHUD-chamberProgressBar span {
  filter: hue-rotate(53deg);
  box-shadow: -2px 1px 4px 1px #6e496d inset;
}

.riftBristleWoodsHUD-portal.closed.disabled {
  filter: grayscale(1);
  opacity: 0.5;
}

.riftBristleWoodsHUD-statusEffect .riftBristleWoodsHUD-statusEffect-iconContainer .riftBristleWoodsHUD-statusEffect-icon.ac.active::after,
.riftBristleWoodsHUD-statusEffect .riftBristleWoodsHUD-statusEffect-iconContainer .riftBristleWoodsHUD-statusEffect-icon.ng.active::after,
.riftBristleWoodsHUD-statusEffect .riftBristleWoodsHUD-statusEffect-iconContainer .riftBristleWoodsHUD-statusEffect-icon.ex.active::after,
.riftBristleWoodsHUD-statusEffect .riftBristleWoodsHUD-statusEffect-iconContainer .riftBristleWoodsHUD-statusEffect-icon.fr.active::after,
.riftBristleWoodsHUD-statusEffect .riftBristleWoodsHUD-statusEffect-iconContainer .riftBristleWoodsHUD-statusEffect-icon.st.active::after,
.riftBristleWoodsHUD-statusEffect .riftBristleWoodsHUD-statusEffect-iconContainer .riftBristleWoodsHUD-statusEffect-icon.un.active::after {
  position: absolute;
  top: 38px;
  width: 53px;
  padding: 3px;
  margin-left: -17px;
  text-align: center;
  background-color: #338053;
  border: 2px solid #00ff95;
  border-radius: 7px 7px 10px 10px;
}

.riftBristleWoodsHUD-statusEffect .riftBristleWoodsHUD-statusEffect-iconContainer .riftBristleWoodsHUD-statusEffect-icon.fr.active::after,
.riftBristleWoodsHUD-statusEffect .riftBristleWoodsHUD-statusEffect-iconContainer .riftBristleWoodsHUD-statusEffect-icon.st.active::after,
.riftBristleWoodsHUD-statusEffect .riftBristleWoodsHUD-statusEffect-iconContainer .riftBristleWoodsHUD-statusEffect-icon.un.active::after {
  margin-left: -45px;
  background-color: #623b2c;
  border: 2px solid #d52a0b;
}

/* positve status effects */
.riftBristleWoodsHUD-statusEffect .riftBristleWoodsHUD-statusEffect-iconContainer .riftBristleWoodsHUD-statusEffect-icon.ac.active::after {
  content: "Influence";
}

.riftBristleWoodsHUD-statusEffect .riftBristleWoodsHUD-statusEffect-iconContainer .riftBristleWoodsHUD-statusEffect-icon.ng.active::after {
  text-decoration: line-through;
  content: "Paladins";
}

.riftBristleWoodsHUD-statusEffect .riftBristleWoodsHUD-statusEffect-iconContainer .riftBristleWoodsHUD-statusEffect-icon.ex.active::after {
  content: "4 portals";
}

/* negative status effects */
.riftBristleWoodsHUD-statusEffect .riftBristleWoodsHUD-statusEffect-iconContainer .riftBristleWoodsHUD-statusEffect-icon.un.active::after {
  content: "No Luck";
}

.riftBristleWoodsHUD-statusEffect .riftBristleWoodsHUD-statusEffect-iconContainer .riftBristleWoodsHUD-statusEffect-icon.fr.active::after {
  content: "Frozen";
}

.riftBristleWoodsHUD-statusEffect .riftBristleWoodsHUD-statusEffect-iconContainer .riftBristleWoodsHUD-statusEffect-icon.st.active::after {
  content: "Pursued";
}

.riftBristleWoodsHUD-acolyteChamber-sandDetails,
.riftBristleWoodsHUD-acolyteChamber-acolyteChargeDetails {
  top: 66px;
  left: 404px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  font-size: 13px;
  background-color: #3e1d11;
  border-width: 2px;
}

.riftBristleWoodsHUD-acolyteChamber-sandDetails {
  left: 188px;
}

.riftBristleWoodsHUD-acolyteChamber-obeliskPercent {
  margin-left: -2px;
  font-size: 14px;
  font-weight: 400;
  background-color: #6e460b;
}

.riftBristleWoodsHUD-footer-item-tooltip-baitRow .mousehuntArmNowButton {
  display: block;
}

.riftBristleWoodsHUD-chamberSpecificText.acolyte_chamber {
  color: #4b3d17;
}

a.riftBristleWoodsHUD-acolyteChamber-retreat.mousehuntActionButton.tiny.cancel {
  margin-top: 6px;
  margin-left: 51px;
  font-size: 9px;
  box-shadow: none;
  opacity: 0.8;
}

a.riftBristleWoodsHUD-acolyteChamber-retreat.mousehuntActionButton.tiny.cancel:hover {
  opacity: 1;
}

.riftBristleWoodsHUD-acolyteStats.bronze::after {
  position: absolute;
  top: 1px;
  right: 40px;
  width: 20px;
  height: 17px;
  padding: 0 5px;
  content: "";
  background-color: #4b3d30;
  background-image: url(https://www.mousehuntgame.com//images/ui/crowns/crown_bronze.png);
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 -1px 0 1px #5b5041;
}

.riftBristleWoodsHUD-acolyteStats {
  top: -1px;
  right: 0;
  box-sizing: border-box;
  padding: 0 5px;
  background-color: #4b3d30;
  background-blend-mode: multiply;
  border: 1px solid #5b5041;
  border-bottom: none;
  border-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.riftBristleWoodsHUD-acolyteStats::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: -1px;
  height: 2px;
  content: "";
  background-color: #4b3d30;
}

.mousehuntTooltip .riftBristleWoodsHUD-footer-item-quantity.quantity {
  top: 4px;
  left: 31px;
  width: 33px;
  border: 1px solid #a6a6a6;
  box-shadow: none;
}

.mousehuntTooltip .riftBristleWoodsHUD-footer-item-tooltip-baitRow-name {
  margin-left: 50px;
}

.mousehuntTooltip .riftBristleWoodsHUD-footer-item-tooltip-baitRow .mousehuntArmNowButton {
  right: -3px;
}

.riftBristleWoodsHUD-footer-item-image {
  background-color: #e0cdbd;
}

.riftBristleWoodsHUD-portalEquipment.disabled .riftBristleWoodsHUD-footer-item-quantity {
  top: 27px;
  padding: 0 3px;
  font-size: 9px;
  opacity: 0.9;
}

.riftBristleWoodsHUD-portalContainer {
  margin-top: -1px;
  border-top: 2px solid #5b4d3f;
  border-top-left-radius: 3px;
  box-shadow:
    -4px 2px 0 -2px #2e2014,
    -1px -1px 0 1px #514236;
}

.riftBristleWoodsHUD-chamberDetails {
  background-color: #312822;
}

.riftBristleWoodsHUD-chamberSpecificText.icebreak_chamber,
.riftBristleWoodsHUD-chamberSpecificText.silence_chamber,
.riftBristleWoodsHUD-chamberSpecificText.stalker_chamber,
.riftBristleWoodsHUD-chamberSpecificText.treasury_chamber,
.riftBristleWoodsHUD-chamberSpecificText.lucky_chamber {
  line-height: 2;
}

.riftBristleWoodsHUD-chamberSpecificText.potion_chamber {
  line-height: 1.5;
}

.riftBristleWoodsHUD-chamberDetails-image-padding {
  margin-right: 4px;
  margin-left: -2px;
  background-color: #817871;
  border-color: #d1caaa;
  border-radius: 10px;
}

.riftBristleWoodsHUD-chamberDetails-imageContainer.floatl {
  margin: 0;
}

.riftBristleWoodsHUD-chamberDetails-imageContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.riftBristleWoodsHUD-chamberDetails-image:nth-last-child(3),
.riftBristleWoodsHUD-chamberDetails-image:nth-last-child(3) ~ .riftBristleWoodsHUD-chamberDetails-image {
  width: auto;
}

a.riftBristleWoodsHUD-portal.timewarp_chamber {
  filter: drop-shadow(0 1px 4px #fbd400);
}

.riftBristleWoodsHUD-portal-name span {
  font-size: 11px;
  text-shadow: 0 2px #000;
}
