.muridaeMarketHud .shop .visit:hover {
  background-image: url(https://i.mouse.rip/btn_visit_on.png);
}

.muridaeMarketHud .quantity {
  display: flex;
  align-items: center;
  height: 16px;
  margin-top: 1px;
  font-size: 14px;
  color: #e3d0b2;
  text-shadow: 1px 1px 2px #533a20;
}
