.shopsPage-header-container,
.itemPurchaseView-container.kingsCartItem .itemPurchaseView-content-accordion,
.itemPurchaseView-action-itemCost.required .itemPurchaseView-action-itemCost-table-cell.owned,
.itemPurchaseView-container.flaming_spice_crafting_item.kingsCartItem,
.itemPurchaseView-container.dragonshard_sparkling_nest_convertible.kingsCartItem,
.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-itemCost-description,
.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-itemCost-title,
.hasShop .itemPurchaseView-container.super_brie_cheese,
.hasShop .itemPurchaseView-container.donation {
  display: none !important;
}

.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-itemCost-table-cell.cost {
  width: 0;
  font-size: 0;
}

.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-container {
  display: block;
  min-height: 90px;
}

.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-itemCost-table {
  opacity: 0.75;
}

.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-itemCost.required {
  position: absolute;
  right: -11px;
  bottom: -11px;
  width: 202px;
}

.itemPurchaseView-container.kingsCartItem.expanded .itemPurchaseView-content-details,
.itemPurchaseView-container.kingsCartItem .itemPurchaseView-content-details {
  height: auto;
  max-height: 75px;
  overflow-y: auto;
}

.itemPurchaseView-action-form.clear-block {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.itemPurchaseView-container.own_max {
  opacity: 0.3;
}

.shopCustomization .itemPurchaseView-container.own_max .itemPurchaseView-content-container .itemViewStatBlock {
  display: none;
}

.itemPurchaseView-container.own_max .itemPurchaseView-content-container .itemPurchaseView-content-description {
  height: 30px;
  overflow-y: scroll;
}

.itemPurchaseView-container.own_max .itemPurchaseView-action-state {
  max-height: 65px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.itemPurchaseView-container.own_max .itemPurchaseView-image {
  height: 40px;
}

.itemPurchaseView-content-skin {
  margin-top: -10px;
  margin-bottom: 5px;
}

.itemPurchaseView-content-skin b {
  display: none;
}

.itemPurchaseView-content-description {
  margin-top: 5px;
  margin-bottom: 6px;
  color: #626262;
}

.itemPurchaseView-action-itemCost-title {
  display: none;
}

.itemPurchaseView-action-itemCost-description {
  display: none;
}

.itemPurchaseView-action-itemCost-table {
  width: 252px;
  padding: 0 5px;
  padding-bottom: 0;
  margin-right: -11px;
  margin-left: -11px;
  background: #f9f9f9;
}

.itemPurchaseView-action-itemCost-table a {
  mix-blend-mode: multiply;
}

.itemPurchaseView-action-itemCost-table-cell.cost {
  width: 45px;
  padding-left: 10px;
  background-size: contain;
}

.itemPurchaseView-action-itemCost-table-row.error {
  background-color: #ffadad8c;
}

.itemPurchaseView-action-itemCost-table-row {
  display: grid;
  grid-template-columns: 1fr 15fr 1fr;
  align-items: center;
  justify-items: stretch;
  width: 100%;
  padding: 5px;
  margin: 0 -5px;
}

.itemPurchaseView-action-goldGost {
  padding: 5px;
  padding-left: 25px;
  font-size: 1.3em;
  font-weight: 400;
  text-align: left;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-right: none;
  border-left: none;
}

.itemPurchaseView-action-quantity {
  width: auto;
  margin: 0 5px 0 10px;
}

.itemPurchaseView-action-quantity span {
  display: none;
}

.itemPurchaseView-action-quantity input {
  width: 100%;
  padding: 3px;
  margin: 0;
}

a.itemPurchaseView-action-form-button.buy,
a.itemPurchaseView-action-form-button.sell {
  width: auto;
  height: 21px;
  margin-top: 0;
  font-weight: 400;
  line-height: 21px;
}

a.itemPurchaseView-action-form-button.buy {
  height: 21px;
  margin-left: 5px;
  background: #f4e830;
}

a.itemPurchaseView-action-form-button.sell {
  margin-left: 5px;
  background: #b3edff;
}

.itemPurchaseView-container.cannot_sell .itemPurchaseView-action-form-button.sell,
.itemPurchaseView-container.cannot_buy .itemPurchaseView-action-form-button.buy {
  filter: grayscale(1) opacity(0.75);
}

.itemPurchaseView-action-purchaseHelper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.itemPurchaseView-container.no_gold_cost .itemPurchaseView-action-goldGost {
  display: block;
}

.itemPurchaseView-action-purchaseHelper-maxPurchases-container {
  display: none;
}

.itemPurchaseView-action-purchaseHelper-owned {
  position: absolute;
  top: 11px;
  right: 5px;
  display: inline-flex;
  align-items: center;
  height: 28px;
  font-style: italic;
  background-color: #f9f9f9;
}

span.itemPurchaseView-action-owned {
  margin-left: 2px;
}

.itemPurchaseView-action-purchaseHelper-error {
  height: auto;
}

.itemPurchaseView-container.own_max .itemPurchaseView-action-purchaseHelper-maxPurchasesLimitReached {
  display: none;
}

.itemPurchaseView-container.own_max .itemPurchaseView-action-container {
  display: block;
  width: 250px;
}

.itemPurchaseView-action-kingsCreditCostContainer {
  display: none;
}

.itemPurchaseView-action-container {
  padding: 10px 0 0;
}

.itemPurchaseView-content-accordion {
  display: none;
}

/* Marketplace close button - make the normal X button */
#overlayPopup .marketplaceView input.button:first-child {
  position: absolute;
  top: -3px !important;
  right: -10px !important;
  display: block;
  width: 28px;
  height: 27px;
  padding: 0;
  overflow: hidden;
  text-align: center;
  text-indent: 34px;
  background-image: url(https://www.mousehuntgame.com/images/ui/backgrounds/jsDialogCloseButton.png?asset_cache_version=2);
  background-repeat: no-repeat;
  border: none;
  border-bottom: 0;
  border-left: 0;
  box-shadow: none;
}

#overlayPopup .marketplaceView input.button:first-child:hover,
#overlayPopup .marketplaceView input.button:first-child:focus {
  background-color: transparent;
  background-image: url(https://www.mousehuntgame.com/images/ui/backgrounds/jsDialogCloseButton.png?asset_cache_version=2);
  background-repeat: no-repeat;
  background-position: 0 -27px;
  border-bottom: none;
  border-left: none;
}

/* Hide the marketplace footer */
#overlayPopup.marketplaceViewPopup .suffix {
  display: none;
}

/* Items that have retired items as cost */
.kings_cart .hasShop .cannot_buy.super_dragonbane_trinket,
.kings_cart .hasShop .cannot_buy.extrme_dragonbane_trinket,
.kings_cart .hasShop .cannot_buy.wild_tonic_remote_pumping_trinket,
.kings_cart .hasShop .cannot_buy.hot_spice_crafting_item,
.kings_cart .hasShop .cannot_buy.flaming_spice_crafting_item,
.kings_cart .hasShop .cannot_buy.dragonshard_sparkling_nest_convertible,
.itemPurchaseView-container.eggstra_trinket.cannot_buy.no_gold_cost,
.itemPurchaseView-container.eggstra_charge_trinket.cannot_buy.no_gold_cost {
  display: none !important;
}

/* Align stats that were moved to the description */
.shopCustomization .itemViewStatBlock-padding {
  display: flex;
  align-items: center;
}

.shopCustomization .itemViewStatBlock,
.shopCustomization .itemViewStatBlock-stat {
  margin-top: 10px;
  border: none;
}

.shopCustomization .itemViewStatBlock-stat {
  padding: 2px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.shopCustomization .itemViewStatBlock-stat-label {
  margin-right: 0;
  margin-left: -3px;
  background: none;
}

.shopCustomization .itemViewStatBlock-stat-value {
  max-width: unset;
  margin-right: 5px;
  background: none;
  border-radius: 0;
}

.shopCustomization .itemPurchaseView-container .itemViewStatBlock-stat.cheeseEffect {
  width: auto;
  border-bottom: 1px solid #ccc;
}

.shopCustomization .itemPurchaseView-container .itemViewStatBlock-stat.cheeseEffect .itemViewStatBlock-stat-value {
  width: auto;
  max-width: 150px;
}

.item_set {
  background-color: #eecf2a45;
  border: none;
}

/* Trap stats in store */
.shopCustomization .itemViewStatBlock.horizontal .itemViewStatBlock-padding {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.shopCustomization .itemPurchaseView-container .itemViewStatBlock.horizontal .itemViewStatBlock-stat.title,
.shopCustomization .itemPurchaseView-container .itemViewStatBlock.horizontal .itemViewStatBlock-stat.cheeseEffect {
  width: 60px;
}

.shopCustomization .itemPurchaseView-container .itemViewStatBlock-stat.title,
.itemPurchaseView-container .itemViewStatBlock-stat.powerType {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
  line-height: 14px;
  border: 1px solid #ccc;
}

.shopCustomization .itemViewStatBlock.horizontal .itemViewStatBlock-stat-label {
  display: inline-block;
  padding: 0;
}

.shopCustomization .itemViewStatBlock.horizontal .itemViewStatBlock-stat-value {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
}

.shopCustomization .itemViewStatBlock.horizontal .itemViewStatBlock-stat {
  display: flex;
  align-items: center;
  min-width: 65px;
  padding: 2px;
  margin: 0;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.shopCustomization .itemViewStatBlock.horizontal .itemViewStatBlock-stat-value span {
  display: inline-block;
  padding: 0;
}

.shopCustomization .itemViewStatBlock.horizontal .itemViewStatBlock-stat.cheeseEffect .itemViewStatBlock-stat-value {
  font-size: 9px;
}

.shopCustomization .itemViewStatBlock-stat.title {
  margin-top: 0;
}
