.shopsPage-header-container,
.itemPurchaseView-container.kingsCartItem .itemPurchaseView-content-accordion,
.itemPurchaseView-action-itemCost.required .itemPurchaseView-action-itemCost-table-cell.owned,
.itemPurchaseView-container.flaming_spice_crafting_item.kingsCartItem,
.itemPurchaseView-container.dragonshard_sparkling_nest_convertible.kingsCartItem,
.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-itemCost-description,
.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-itemCost-title,
.hasShop .itemPurchaseView-container.super_brie_cheese,
.hasShop .itemPurchaseView-container.donation {
  display: none !important;
}

.itemPurchaseView-action-form.clear-block,
.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-form {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.itemPurchaseView-container.own_max {
  opacity: 0.3;
}

.itemPurchaseView-container.own_max:hover,
.itemPurchaseView-container.own_max:focus {
  opacity: 1;
}

.itemPurchaseView-container.own_max .itemPurchaseView-content-container .itemPurchaseView-content-description {
  overflow-y: scroll;
}

.itemPurchaseView-action-quantity span,
.itemPurchaseView-action-purchaseHelper-maxPurchases-container,
.itemPurchaseView-content-accordion,
.itemPurchaseView-action-kingsCreditCostContainer,
.itemPurchaseView-container.own_max .itemPurchaseView-action-purchaseHelper-maxPurchasesLimitReached,
.shopCustomization .itemPurchaseView-container.own_max .itemPurchaseView-content-container .itemViewStatBlock,
.shopCustomization .itemPurchaseView-container.own_max .itemViewStatBlock-stat.title,
.shopCustomization .itemPurchaseView-container.own_max .itemViewStatBlock-stat.powerType,
.itemPurchaseView-content-skin b,
a.itemPurchaseView-image-trapPreview-link,
.itemPurchaseView-action-itemCost-title,
.itemPurchaseView-action-itemCost-description {
  display: none;
}

.itemPurchaseView-content-skin {
  margin-top: -10px;
  margin-bottom: 5px;
}

.itemPurchaseView-content-description {
  max-height: 100px;
  margin-top: 0;
  margin-bottom: 0;
  overflow-y: auto;
  color: #626262;
}

.itemPurchaseView-action-itemCost-table {
  width: 252px;
  padding: 0 5px;
  padding-bottom: 0;
  margin-right: -11px;
  margin-left: -11px;
  background: #f9f9f9;
}

.itemPurchaseView-action-itemCost-table-cell.cost {
  width: 45px;
  padding-left: 10px;
  background-size: contain;
}

.itemPurchaseView-action-itemCost-table-row.error {
  background-color: #ffadad8c;
}

.itemPurchaseView-action-itemCost-table-row {
  display: grid;
  grid-template-columns: 1fr 15fr 1fr;
  align-items: center;
  justify-items: stretch;
  width: 100%;
  padding: 5px;
  margin: 0 -5px;
}

.itemPurchaseView-action-goldGost {
  padding: 5px;
  padding-left: 25px;
  font-size: 1.3em;
  font-weight: 400;
  text-align: left;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-right: none;
  border-left: none;
}

.itemPurchaseView-action-quantity {
  width: auto;
  margin: 0 5px 0 10px;
}

.itemPurchaseView-action-quantity input {
  width: 100%;
  padding: 3px;
  margin: 0;
}

a.itemPurchaseView-action-form-button.buy,
a.itemPurchaseView-action-form-button.sell {
  width: auto;
  height: 21px;
  margin-top: 0;
  font-weight: 400;
  line-height: 21px;
}

a.itemPurchaseView-action-form-button.buy {
  height: 21px;
  margin-left: 7px;
  background: #f4e830;
}

a.itemPurchaseView-action-form-button.sell {
  margin-left: 7px;
  background: #b3edff;
}

.itemPurchaseView-container.cannot_sell .itemPurchaseView-action-form-button.sell,
.itemPurchaseView-container.cannot_buy .itemPurchaseView-action-form-button.buy {
  filter: grayscale(1) opacity(0.75);
}

.itemPurchaseView-action-purchaseHelper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.itemPurchaseView-container.no_gold_cost .itemPurchaseView-action-goldGost {
  display: block;
}

.itemPurchaseView-action-purchaseHelper-owned {
  position: absolute;
  top: 11px;
  right: 5px;
  display: inline-flex;
  align-items: center;
  height: 28px;
  font-style: italic;
}

span.itemPurchaseView-action-owned {
  margin-left: 2px;
}

.itemPurchaseView-action-purchaseHelper-error {
  height: auto;
}

.itemPurchaseView-container.own_max .itemPurchaseView-action-container {
  display: block;
  width: 250px;
}

.itemPurchaseView-action-container {
  padding: 10px 0 0;
}

/* Marketplace close button - make the normal X button */
#overlayPopup .marketplaceView input.button:first-child {
  position: absolute;
  top: -3px !important;
  right: -10px !important;
  display: block;
  width: 28px;
  height: 27px;
  padding: 0;
  overflow: hidden;
  text-align: center;
  text-indent: 34px;
  background-image: url(https://www.mousehuntgame.com/images/ui/backgrounds/jsDialogCloseButton.png?asset_cache_version=2);
  background-repeat: no-repeat;
  border: none;
  border-bottom: 0;
  border-left: 0;
  box-shadow: none;
}

#overlayPopup .marketplaceView input.button:first-child:hover,
#overlayPopup .marketplaceView input.button:first-child:focus {
  background-color: transparent;
  background-image: url(https://www.mousehuntgame.com/images/ui/backgrounds/jsDialogCloseButton.png?asset_cache_version=2);
  background-repeat: no-repeat;
  background-position: 0 -27px;
  border-bottom: none;
  border-left: none;
}

a.itemPurchaseView-content-skin-link {
  padding-left: 26px;
  background-size: 23px;
}

/* Hide the marketplace footer */
#overlayPopup.marketplaceViewPopup .suffix {
  display: none;
}

/* Items that have retired items as cost */
.kings_cart .hasShop .cannot_buy.super_dragonbane_trinket,
.kings_cart .hasShop .cannot_buy.extrme_dragonbane_trinket,
.kings_cart .hasShop .cannot_buy.wild_tonic_remote_pumping_trinket,
.kings_cart .hasShop .cannot_buy.hot_spice_crafting_item,
.kings_cart .hasShop .cannot_buy.flaming_spice_crafting_item,
.kings_cart .hasShop .cannot_buy.dragonshard_sparkling_nest_convertible,
.itemPurchaseView-container.eggstra_trinket.cannot_buy.no_gold_cost,
.itemPurchaseView-container.eggstra_charge_trinket.cannot_buy.no_gold_cost {
  display: none !important;
}

/* Align stats that were moved to the description */
.shopCustomization .itemViewStatBlock-padding {
  display: flex;
  align-items: center;
}

.shopCustomization .itemViewStatBlock,
.shopCustomization .itemViewStatBlock-stat {
  margin-top: 10px;
  border: none;
}

.shopCustomization .itemViewStatBlock-stat {
  padding: 2px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.shopCustomization .itemViewStatBlock-stat-label {
  margin-right: 0;
  background: none;
}

.shopCustomization .itemViewStatBlock-stat-value {
  max-width: unset;
  background: none;
  border-radius: 0;
}

.shopCustomization .itemPurchaseView-container .itemViewStatBlock-stat.cheeseEffect {
  width: auto;
  border-bottom: 1px solid #ccc;
}

.shopCustomization .itemPurchaseView-container .itemViewStatBlock-stat.cheeseEffect .itemViewStatBlock-stat-value {
  width: auto;
  max-width: 150px;
}

.item_set {
  background-color: #eecf2a45;
  border: none;
}

/* Trap stats in store */
.shopCustomization .itemViewStatBlock.horizontal .itemViewStatBlock-padding {
  display: flex;
  flex-flow: row wrap;
  row-gap: 5px;
  align-items: center;
  justify-content: flex-start;
}

.shopCustomization .itemPurchaseView-container .itemViewStatBlock.horizontal .itemViewStatBlock-stat.title,
.shopCustomization .itemPurchaseView-container .itemViewStatBlock.horizontal .itemViewStatBlock-stat.cheeseEffect {
  width: 60px;
}

.shopCustomization .itemPurchaseView-container .itemViewStatBlock-stat.title,
.itemPurchaseView-container .itemViewStatBlock-stat.powerType {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
  line-height: 14px;
  border: 1px solid #ccc;
}

.shopCustomization .itemViewStatBlock.horizontal .itemViewStatBlock-stat-label {
  display: inline-block;
  padding: 0;
}

.shopCustomization .itemViewStatBlock.horizontal .itemViewStatBlock-stat-value {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
}

.shopCustomization .itemViewStatBlock.horizontal .itemViewStatBlock-stat {
  display: flex;
  align-items: center;
  min-width: 65px;
  padding: 2px;
  margin: 0;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.shopCustomization .itemViewStatBlock.horizontal .itemViewStatBlock-stat-value span {
  display: inline-block;
  padding: 0;
}

.shopCustomization .itemViewStatBlock.horizontal .itemViewStatBlock-stat.cheeseEffect .itemViewStatBlock-stat-value {
  font-size: 9px;
}

.shopCustomization .itemViewStatBlock-stat.title {
  margin-top: 0;
}

/* kings cart */
.itemPurchaseView-container.kingsCartItem {
  cursor: initial;
}

.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-container {
  display: table-cell;
  width: 250px;
  min-height: unset;
  color: #000;
  background: #eee;
  box-shadow: none;
}

.mh-dark-mode .itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-container {
  color: #fff;
  background-color: #242424;
}

.itemPurchaseView-container .itemPurchaseView-content-details,
.itemPurchaseView-container.kingsCartItem .itemPurchaseView-content-details {
  height: 100%;
}

.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-state.view {
  padding-top: unset;
}

.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-itemCost.consumed,
.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-goldGost,
.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-marketplace,
.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-confirm-refund-container {
  display: block !important;
}

.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-goldGost {
  opacity: .4;
}

.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-quantity {
  display: block;
  width: auto;
}

.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-quantity input {
  width: 100%;
  margin-top: 0;
}

.itemPurchaseView-container.kingsCartItem .itemPurchaseView-content-details::after {
  display: none;
}

.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-confirm-button-row a,
.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-complete-title {
  color: #3b5998;
}

span.itemPurchaseView-action-confirm-refund.noRefund {
  position: relative;
  display: block;
  color: transparent;
}

span.itemPurchaseView-action-confirm-refund.noRefund::after {
  position: absolute;
  top: 10px;
  right: 0;
  left: 0;
  height: 10px;
  color: #000;
  content: "Cannot be refunded.";
}

.itemPurchaseView-container.has_refund_value .itemPurchaseView-action-confirm-refund.hasRefund {
  margin-top: 20px;
}

.itemPurchaseView-action-confirm-title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
}

.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-complete-title,
.itemPurchaseView-container .itemPurchaseView-action-complete-title,
.itemPurchaseView-action-complete-title,
.itemPurchaseView-action-armed-title {
  margin: 10px;
  font-weight: 400;
  color: #000;
}

.itemPurchaseView-container .itemPurchaseView-action-state.complete a.itemPurchaseView-action-complete-return {
  position: relative;
  display: block;
  float: none;
  margin: 0;
  color: transparent;
}

.itemPurchaseView-container .itemPurchaseView-action-state.complete a.itemPurchaseView-action-complete-return::after {
  position: absolute;
  top: 10px;
  right: 78px;
  left: 78px;
  padding: 10px 15px;
  line-height: 10px;
  color: #000;
  text-shadow: 0 0 1px #fff;
  content: "Continue";
  background-color: #fff600;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #fff, 1px 1px 1px #fff;
}

/* limit one items */

.itemPurchaseView-container.marketplace_buy_regal_stool_collectible.kingsCartItem.cannot_sell.own_max,
.itemPurchaseView-container.marketplace_sell_regal_display_case_collectible.kingsCartItem.cannot_sell.own_max,
.itemPurchaseView-container.kings_calibrator_message_item.kingsCartItem.cannot_sell.own_max {
  display: none !important;
}

.itemPurchaseView-action-itemCost-table-row.error .itemPurchaseView-action-itemCost-table-cell.cost {
  color: #a21010;
}

.mh-dark-mode .itemPurchaseView-action-goldGost {
  background-color: #0e0e0e;
  border-color: #242424;
}
