#supplytransfer .tabContent.recipient .listContainer .actions {
  display: none;
}

#supplytransfer .listContainer a.element.recipient {
  width: 81px;
  height: 71px;
  white-space: nowrap;
}

#supplytransfer .tabContent.recipient .listContainer span.content {
  font-size: 12px;
}

#supplytransfer .listContainer a.element.item.pinned:hover,
#supplytransfer .listContainer a.element:hover {
  background-color: #d8f0ff;
}

#supplytransfer .listContainer a.element.item {
  display: grid;
  grid-template-rows: 60px 20px;
  align-content: space-around;
  justify-items: center;
  width: 85px;
  height: 90px;
}

#supplytransfer .listContainer a.element.item,
#supplytransfer .listContainer a.element.recipient {
  border-radius: 5px;
  box-shadow: 0 1px 2px -2px #1f1f1f;
}

#supplytransfer .listContainer a.element:hover,
#supplytransfer .listContainer a.element:focus,
#supplytransfer .listContainer a.element.recipient:hover,
#supplytransfer .listContainer a.element.recipient:focus {
  border-color: #b3b3b3;
}

#supplytransfer .itemList a.element .quantity {
  bottom: 20px;
}

#supplytransfer .tabContent.item .listContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: auto;
  margin-left: 75px;
}

#supplytransfer .categoryMenu {
  width: 70px;
  padding-left: 5px;
  background-color: #fff;
}

#supplytransfer .categoryMenu a {
  margin-bottom: 1px;
  font-size: 12px;
  text-align: left;
}

#supplytransfer .itemList a.element .itemImage img {
  width: 60px;
  height: 60px;
}

#supplytransfer .listContainer a.element .details {
  font-size: 11px;
}

#supplytransfer .categoryMenu a:hover,
#supplytransfer .categoryMenu a:focus,
#supplytransfer .categoryMenu a:active {
  padding-left: 5px;
  margin-left: -5px;
  text-decoration: none;
  background-color: #d8f0ff;
}

#supplytransfer .drawer {
  padding-bottom: 40px;
  margin-bottom: 10px;
}

.mhui-supply-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  margin-left: 0;
  line-height: 20px;
}

input.mhui-supply-search-input {
  padding: 9px;
  margin-right: -2px;
}

form.mhui-supply-search-form {
  display: flex;
  align-items: center;
}

#supplytransfer .drawer .tabContent .searchContainer {
  position: absolute;
  top: -5px;
  right: 26px;
}

#supplytransfer .drawer .tabContent h2 {
  display: inline-block;
  min-width: 230px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-left: 8px;
  font-size: 15px;
  font-weight: 400;
  line-height: unset;
  border: none;
}

#supplytransfer .listContainer a.element.item.hidden {
  display: none;
}

.mhui-supply-sort-wrapper a,
.mhui-supply-sort-wrapper img {
  width: 35px;
  height: 20px;
}

.mhui-supply-sort-wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
  margin-right: 5px;
}

.mhui-supply-sort-wrapper a {
  margin: 0 4px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 2px 2px 3px #cdc9c6 inset;
}

.mhui-supply-sort-wrapper a:hover,
.mhui-supply-sort-wrapper a.focus {
  background-color: #cac0b2;
}

#supplytransfer .listContainer a.element.item.pinned {
  background-color: #aef5f7;
}

.mhui-supply-quick-quantity-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.mhui-supply-quick-quantit-max {
  width: 53px;
}

.friendList.listContainer {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #ccc;
}
