#supplytransfer .tabContent.recipient .listContainer .actions {
  display: none;
}

#supplytransfer .listContainer a.element.recipient {
  width: auto;
  height: 120px;
  white-space: nowrap;
  background-color: #fff;
}

#supplytransfer .tabContent.recipient .listContainer span.content {
  font-size: 12px;
}

#supplytransfer .listContainer a.element.item {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  width: auto;
  height: 100px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#supplytransfer .listContainer a.element.item,
#supplytransfer .listContainer a.element.recipient {
  border-radius: 5px;
  box-shadow: 0 1px 2px -2px #1f1f1f;
}

#supplytransfer .listContainer a.element:hover,
#supplytransfer .listContainer a.element.recipient:hover,
#supplytransfer .listContainer a.element.item.pinned:hover,
#supplytransfer .tabs .tab .image:hover,
#supplytransfer .tabs .tab .image.empty:hover {
  color: #3b5998;
  background-color: #d8f0ff;
  border-color: #ccc;
}

#supplytransfer .tabContent.item .listContainer {
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  width: 550px;
  height: 100%;
  max-height: 80vh;
  margin-bottom: 0;
  margin-left: 90px;
}

#supplytransfer .categoryMenu {
  width: 90px;
  background: none;
}

#supplytransfer .categoryMenu a {
  margin-bottom: 1px;
  font-size: 12px;
  text-align: left;
}

#supplytransfer .itemList .element .itemImage img {
  width: 60px;
  height: 60px;
}

#supplytransfer .listContainer a.element .details {
  width: 90px;
  margin: 0 auto;
  font-size: 11px;
  text-align: center;
}

#supplytransfer .categoryMenu a:hover,
#supplytransfer .categoryMenu a:focus,
#supplytransfer .categoryMenu a:active {
  padding-left: 5px;
  margin-left: -5px;
  text-decoration: none;
  background-color: #d8f0ff;
}

.mhui-supply-search {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  margin: 5px 5px 15px;
  border-bottom: 1px solid #ccc;
}

#supplytransfer .drawer .tabContent .searchContainer {
  position: absolute;
  top: -5px;
  right: 0;
}

#supplytransfer .drawer .tabContent h2 {
  padding: 0;
  margin: 0;
  margin-right: auto;
  font-size: 14px;
  border: none;
}

#supplytransfer .listContainer a.element.item.hidden {
  display: none;
}

.mhui-supply-sort-wrapper a,
.mhui-supply-sort-wrapper img {
  width: 35px;
  height: 20px;
}

.mhui-supply-sort-wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  margin-right: 10px;
}

.mhui-supply-sort-wrapper a {
  margin: 0 4px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 2px 2px 3px #cdc9c6 inset;
}

.mhui-supply-sort-wrapper a:hover,
.mhui-supply-sort-wrapper a.focus {
  background-color: #cac0b2;
}

#supplytransfer .listContainer a.element.item.pinned {
  background-color: #aef5f7;
}

.mhui-supply-quick-quantity-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.mhui-supply-quick-quantity-max {
  width: 53px;
}

#supplytransfer .friendList.listContainer {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #ccc;
}

#supplytransfer .tabs .tab.recipient .image.empty::after,
#supplytransfer .tabs .tab.item .image.empty::after {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3b5998;
  cursor: pointer;
  content: "";
}

#supplytransfer .tabs .tab.recipient .image.empty::after {
  content: "Select Friend";
}

#supplytransfer .tabs .tab.item .image.empty::after {
  content: "Select Item";
}

#supplytransfer .drawer .tabContent.confirm #supplytransfer-confirm-text {
  padding: 0;
}

#supplytransfer .tabs .tab.confirm {
  display: none;
}

#supplytransfer .tabs .tab.recipient .image.empty,
#supplytransfer .tabs .tab.item .image.empty {
  position: relative;
  margin-bottom: -20px;
  background-image: none;
}

#supplytransfer .tabs .tab .image {
  background: #ccc;
  border: 1px solid #eee;
}

.PageSupplyTransfer .flexibleDialogWarmBrown {
  padding: 0;
  background: none;
  box-shadow: none;
}

#supplytransfer .drawer {
  width: unset;
  height: 100%;
  max-height: unset;
  padding: 5px;
  border: none;
}

#supplytransfer {
  position: relative;
}

#supplytransfer .tabs {
  position: sticky;
  top: 50px;
  z-index: 1;
  width: auto;
  padding: 10px 10px 0;
  margin-top: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 2px -2px #1f1f1f;
}

#supplytransfer .tabs .tab .image,
#supplytransfer .tabs .tab .image.empty {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#supplytransfer .drawer .listContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px 0;
}

#supplytransfer .listContainer.friendList img {
  width: 85px;
  height: 85px;
  padding-bottom: 5px;
  border: none;
  border-radius: 3px;
}

#supplytransfer .tabs .tab:hover {
  background: transparent;
}

#supplytransfer .tabContent.item {
  margin: -5px;
}

span.mhui-supply-sort-label {
  color: #000;
}

#supplytransfer .itemList a.element .itemImage {
  width: 60px;
  height: 60px;
  padding: 5px;
  overflow: visible;
}

#supplytransfer .drawer .tabContent {
  position: relative;
  height: 100%;
  max-height: unset;
}

#supplytransfer .tabs .tab .image .img,
#supplytransfer .tabs .tab .image {
  width: 80px;
  height: 80px;
}

#supplytransfer .tabs .tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#supplytransfer .itemImage .quantity {
  right: 0;
  bottom: 0;
  background-color: rgb(255 255 255 / 60%);
}

#supplytransfer .tab .itemImage .quantity {
  bottom: 10px;
}

#supplytransfer .listContainer a.element.item.pinned .itemImage .quantity {
  background-color: rgb(174 245 247 / 60%);
}

.mousehuntPage-content #supplytransfer .drawer .listContainer,
.mousehuntPage-content #supplytransfer .drawer .tabContent,
.mousehuntPage-content #supplytransfer .drawer {
  height: auto;
  max-height: unset;
}
