/* Align the friends checkbox on the scoreboard */
.scoreboardTableView-friends,
.scoreboardTableView-weekly {
  margin-top: 1px;
  vertical-align: middle;
}

/* Fix the team icon */
body .mousehuntHud-menu .friends .team .icon {
  background-image: url(https://www.mousehuntgame.com/images/ui/hud/menu/team.png?asset_cache_version=2);
}

body .mousehuntHud-menu .scoreboards .icon {
  background-image: url(https://www.mousehuntgame.com/images/ui/hud/menu/scoreboard.png?asset_cache_version=2);
}

body .mousehuntHud-menu .forum .icon {
  background-image: url(https://www.mousehuntgame.com/images/ui/hud/menu/forum.png?asset_cache_version=2);
}

/* Top menu, fix dropdown arrow direction */
.mousehuntHeaderView .menuItem.dropdown .arrow {
  top: 10px;
  transform: rotate(180deg);
}

.mousehuntHeaderView .menuItem.dropdown.expanded .arrow {
  top: 5px;
}

/* Fix HUD shadow */
.mousehuntHud-marbleDrawer {
  background:
    url(https://www.mousehuntgame.com/images/ui/hud/mousehuntHudPedestal.gif?asset_cache_version=2) -46px 0 no-repeat,
    url(https://www.mousehuntgame.com/images/ui/hud/mousehuntHudPedestal.gif?asset_cache_version=2) 731px 0 no-repeat,
    url(https://i.mouse.rip/mh-improved/marble-shadow.png) 6px 0 no-repeat,
    url(https://www.mousehuntgame.com/images/ui/backgrounds/hud_bg_blue_repeating.png?asset_cache_version=2) repeat-y bottom center;
}

/* Fix arrow outline showing */
.mousehuntTooltip.left .mousehuntTooltip-arrow::after {
  right: -6px;
}

.mousehuntTooltip.right .mousehuntTooltip-arrow::after {
  left: -6px;
}

/* remove "craft 12 items" from the ranks that already have it. */
.hunterTitle .titles .title:nth-child(17) .description ul li:last-child,
.hunterTitle .titles .title:nth-child(18) .description ul li:last-child,
.hunterTitle .titles .title:nth-child(19) .description ul li:last-child {
  display: none;
}

/* fix the bad border color for current rank */
.hunterTitle .titles .userLevel .description {
  border-color: #957432;
}

/* Overflow location names */
.mh-location-ss_huntington_ii .mousehuntHud-environmentName,
.mh-location-pinnacle_chamber .mousehuntHud-environmentName,
.mh-location-great_gnarled_tree .mousehuntHud-environmentName,
.mh-location-rift_bristle_woods .mousehuntHud-environmentName {
  position: absolute;
  top: -5px;
  left: 0;
  padding: 4px 13px 3px 0;
  margin-top: 32px;
  overflow: visible;
  background: linear-gradient(1deg, #d8c8a0 1%, #ddcfaa 61%, #efe3ce);
  border-top-right-radius: 75px;
}

/* Full width for the map link text box */
input.treasureMapView-shareLinkInput {
  width: 95%;
  margin: 0 auto;
}

/* Original wwrift rage font size */
.riftWhiskerWoodsHUD-zone-rageLevel {
  font-size: 14px;
}

/* ronzas window */
span.chromeBitImage,
span.voucherImage {
  vertical-align: middle;
}

/* Don't show the clue circle for the blank profile of empty map slots */
.treasureMapView-hunter.empty .treasureMapView-hunter-miceCaught {
  display: none;
}

/* Make facebook images correct size even when facebook is blocked */
img[src*="https://graph.facebook.com"].treasureMapView-hunter-image {  /* stylelint-disable-line prettier/prettier */
  width: 44px;
  height: 44px;
}

.treasureMapView-environment-hunters img[src*="https://graph.facebook.com"].treasureMapView-hunter-image {  /* stylelint-disable-line prettier/prettier */
  width: 20px;
  height: 20px;
}

/* Fix the tutorial overlay shadow */
#overlayBg.larryOffice {
  width: 100%;
  height: 100%;
  background: transparent;
}

#overlayBg.larryOffice::after {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  content: "";
  background-color: rgb(80 80 80 / 90%);
}

.dropdownContent {
  color: #000;
}

.accountVerificationRewardsView__step.claimed {
  background-image: url(https://www.mousehuntgame.com/images/ui/backgrounds/checkmark.png?asset_cache_version=2);
  background-size: 30px;
}

.accountVerificationRewardsView__step.can_claim {
  background-image: none;
}

/* Fix the account settings forms unnecessarily wrapping text */
.PreferencesPage__dialogForm .PreferencesPage__formLabel {
  flex: 1;
}

.PreferencesPage__dialogForm .PreferencesPage__formInput {
  flex: 1.8;
}

.PreferencesPage__dialogForm form {
  padding-left: 18px;
}

/* Vertical align the quantity input and open button on convertible dialogs */
.itemView-action-convertForm {
  display: flex;
  align-items: center;
}

.itemView-action-convert-quantity {
  top: 0;
}

/* Fix the weird footer width */
.pageFrameView-column.left,
.pageFrameView-column.right {
  margin-bottom: -140px;
}

/* Make the collectibles tab show the full text */
a.mousehuntHud-page-tabHeader.collectibles span {
  padding-top: 6px;
  overflow: visible !important;
  font-size: 13px;
  text-overflow: unset !important;
  white-space: normal !important;
}

.claimGiftPage__giftQuantity {
  background: #fff777;
  border: 1px solid #b5814e;
}

/* Make the inbox arrow color match on hover */
#messengerUINotification .tabs a:hover .arrow {
  border-color: transparent transparent transparent #eee;
}
