.mousehuntHud-gameInfo .mousehuntHud-menu {
  position: relative;
  top: unset;
  left: unset;
  display: inline;
  width: unset;
  height: unset;
  padding-top: unset;
  padding-left: unset;
  background: unset;
}
