.mousoleumHUD-buildWall.mousoleumHUD-wall-state {
  transform: scale(1.1);
}

.mousoleumHUD-bait .mousehuntItem-image {
  background-color: transparent;
}

.mousoleumHUD-plankContainer {
  font-size: 13px;
}

.mousoleumHUD-quantity.quantity {
  font-size: 12px;
  line-height: 15px;
}

.mousoleumHUD {
  background-image: url(https://i.mouse.rip/mousoleum-bg.png);
  filter: drop-shadow(0 -5px 3px #333);
}
