/* not really a userscript but close enough */
#mhhh_flash_message_div {
  position: fixed !important;
  top: unset !important;
  right: 10px;
  bottom: 10px;
  left: unset !important;
  width: auto !important;
  font-weight: 400 !important;
  white-space: nowrap;
  background-color: #bff890 !important;
  border-radius: 10px;
  box-shadow: 0 1px 3px -1px #000 !important;
  opacity: 1 !important;
}
