/* Free up space for dashboard */
.mousehuntHeaderView-gameTabs .menuItem.chat,
.mousehuntHeaderView-gameTabs .community {
  display: none;
}

.mousehuntHeaderView .menuItem.dropdown.dashboard {
  cursor: initial;
}

.mousehuntHeaderView .dashboard .dropdownContent {
  width: 420px;
}

.dashboardWrapper {
  max-height: 60vh;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #d7e2f1;
  box-shadow: 0 5px 10px #8f8f8f;
}

.dashboardRefresh {
  display: block;
  margin: 10px auto;
}

.regionWrapper {
  margin-bottom: 5px;
  border: 1px solid #c5c5c5;
}

.regionName {
  padding: 3px 0 2px 5px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 900;
  background-color: #f4f7fc;
  border-bottom: 1px solid #c5c5c5;
}

.regionName:first-child {
  margin-top: 0;
}

.locationWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 25px;
  padding: 7px 5px;
  background-color: #fff;
}

.locationWrapper.locationWrapper-rift_valour {
  height: 35px;
}

.locationWrapper:nth-child(even) {
  background-color: #f1f1f1;
}

.locationImageWrapper {
  display: inline-flex;
  flex: 0;
}

img.locationImage {
  width: 28px;
  height: 28px;
  border-radius: 3px;
  outline: 1px solid #838282;
}

.locationName {
  position: relative;
  flex-grow: 1;
  min-width: 105px;
  margin-left: 10px;
  font-size: 12px;
}

.locationProgress p {
  margin: 0;
  line-height: 1;
  text-align: right;
}

.locationProgress {
  text-align: right;
}

.locationProgress .stats {
  margin-top: -10px;
  text-align: right;
}

.noLocationData {
  font-size: 12px;
  text-align: center;
}

.dashboard-fi-tiles span {
  display: inline-block;
  width: 18px;
  height: 24px;
  color: transparent;
  background-image: url(https://www.mousehuntgame.com/images/ui/hud/floating_islands/mods.png?v=1&asset_cache_version=2);
  background-position-x: 354px;
  background-size: 354px;
}

.dashboard-fi-tiles .inactive {
  background-position-y: 51px;
}

.dashboard-fi-tiles .glass {
  background-position-x: 354px;
}

.dashboard-fi-tiles .ore,
.dashboard-fi-tiles .ore_bonus {
  background-position-x: 330px;
}

.dashboard-fi-tiles .curd {
  background-position-x: 308px;
}

.dashboard-fi-tiles .pirate,
.dashboard-fi-tiles .sky_pirate {
  background-position-x: 286px;
}

.dashboard-fi-tiles .key {
  background-position-x: 263px;
}

.dashboard-fi-tiles .warden-wind,
.dashboard-fi-tiles .wind_shrine {
  background-position-x: 240px;
}

.dashboard-fi-tiles .warden-rain,
.dashboard-fi-tiles .rain_shrine {
  background-position-x: 217px;
}

.dashboard-fi-tiles .warden-frost,
.dashboard-fi-tiles .frost_shrine {
  background-position-x: 196px;
}

.dashboard-fi-tiles .warden-fog,
.dashboard-fi-tiles .fog_shrine {
  background-position-x: 173px;
}

.dashboard-fi-tiles .sprocket {
  background-position-x: 151px;
}

.dashboard-fi-tiles .bangle {
  background-position-x: 129px;
}

.dashboard-fi-tiles .wing {
  background-position-x: 106px;
}

.dashboard-fi-tiles .silk {
  background-position-x: 84px;
}

.dashboard-fi-tiles .glore {
  background-position-x: 65px;
}

.dashboard-fi-tiles .seal {
  background-position-x: 43px;
}

.dashboard-fi-tiles .jade {
  background-position-x: 20px;
}
