.journal .entry .journalbody {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 80px;
}

.journal .entry {
  position: relative;
  border: 1px solid #a4a4a4;
  border-bottom: none;
}

.journal .entry:last-child {
  border-bottom: 1px solid #a4a4a4;
}

/* Images */
.journal .entry .journalimage {
  position: absolute;
  top: 0;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: auto;
}

.shop_purchase .journal .entry .journalimage {
  margin: 15px 0 0 10px;
}

.journal .entry .journalimage a:hover,
.journal .entry .journalimage a:focus {
  padding: 1px;
  margin: -1px;
  overflow: visible;
}

.journal .entry .journalimage a {
  display: inline-block;
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.journal .entry a img {
  width: 64px;
  height: auto;
  padding: 0;
  margin: -2px;
  border: 1px solid #000;

  /* mix-blend-mode: darken; */
}

.journal .entry a:hover img,
.journal .entry a:focus img {
  border: none;
  outline: 2px solid #e70;
  mix-blend-mode: normal;
}

/* Text */
.journal .entry .journalbody .journaltext {
  line-height: 16px;
}

.journal .entry .journaltext b {
  font-weight: 400;
}

.journal .entry .journaltext p:first-of-type {
  margin-top: 0;
}

.journal .entry .journaltext * {
  line-height: 20px;
}

/* Hide lucky clover */
.journal .entry .journaltext .lucky::after {
  /* display: none; */
}

/* Hide lucky clover on mouse image */
.journal .entry.luckycatchsuccess .journalimage::after {
  background: none;
}

/* Date */
.journal .entry .journalbody .journaldate {
  display: inline-block;
  width: calc(100% - 10px);
  padding-bottom: 3px;
  margin-bottom: 10px;
  font-size: 11px;
  font-weight: 100;
  color: #626262;
  border-bottom: 1px solid #717171;
}

/* hide the BONUS HUNT banner on bonus hunts */
.journal .content .bonuscatchsuccess,
.journal .content .bonuscatchfailure {
  box-shadow: none;
}

.journal .content .bonuscatchsuccess::after,
.journal .content .bonuscatchfailure::after,
.journal .content .bonuscatchsuccess::before,
.journal .content .bonuscatchfailure::before {
  content: none;
  background: none;
}

.mouseView-image {
  box-shadow: none;
}

/* Donations */
.donationComplete .journalimage img {
  mix-blend-mode: normal;
}

/* Frift sad droid image */
.journal .entry.riftFuroma-energyLost .journalbody {
  margin-left: 80px;
}

.journal .entry.riftFuroma-energyLost .journalbody::before {
  position: absolute;
  top: 0;
  left: -15px;
  display: block;
  width: 75px;
  height: 80px;
  content: "";
  background-image: url(https://www.mousehuntgame.com/images/ui/hud/rift_furoma/droid.png?asset_cache_version=2);
  filter: grayscale(1);
  background-repeat: no-repeat;
  background-position: 0 -100px;
  background-size: 110%;
  mix-blend-mode: luminosity;
}

.journal .entry.riftFuroma {
  position: relative;
}

.journal .content .entry.travel,
.journal .content .entry.captchasolved,
.journal .content .supplytransferitem,
.journal .content .entry.socialGift,
.journal .content .entry.relicHunter_start,
.journal .content .entry.relicHunter_complete,
.journal .content .entry.torch_charm_event,
.journal .content .entry.marketplace.marketplace_complete_listing,
.journal .content .entry.marketplace.marketplace_create_listing,
.journal .content .entry.marketplace.marketplace_cancel_listing,
.journal .content .entry.marketplace.marketplace_claim_listing,
.journal .content .entry.catchfailuredamage,
.journal .content .entry.catchfailure,
.journal .content .entry.attractionfailurestale,
.journal .content .entry.floatingIslands.discoveredMod,
.journal .content .entry.floatingIslands.dirigibleTravel,
.journal .content .entry.floatingIslands.defeatedEnemy,
.journal .content .entry.floatingIslands.defeatedVaultEnemy,
.journal .content .entry.floatingIslands.fullyExplored,
.journal .content .entry.sunken_city.zone,
.journal .content .entry.train_station.stoke_furnace,
.journal .content .entry.mousoleum.damage_wall,
.journal .content .entry.mousoleum.repair_wall,
.journal .content .entry.iceberg_advance_prevented,
.journal .content .entry.iceberg_advance,
.journal .content .entry.iceberg_defeated,
.journal .content .entry.iceberg_phase_change,
.journal .content .entry.world_aspect_normal,
.journal .content .entry.jetStreamAuraActivated,
.journal .content .entry.birthday2018-rewind-charm,
.journal .content .entry.relicHunter_slayer_aura_relic_bonus {
  background-position: 10px center;
}

.journal .content .entry.minimalJournalImage {
  background-position: 15px center !important;
  background-size: 40px;
}

/* bigger ftc image */
.journal .content .entry.catchfailure {
  background-position: 0;
  background-size: 75px;
}

/* potion drops */
.journal .content .entry.alchemists_cookbook_base_bonus {
  background-position: 10px;
  background-size: 55px !important;
}

.journal .content .entry.alchemists_cookbook_base_bonus .journalbody {
  margin-left: 80px;
}

.journal .minimalJournalImage.champions_fire_loot,
.journal .minimalJournalImage.moved_forward {
  background-position: 10px !important;
  background-size: 50px;
}

/* UC */
.journal .content .ultimate_intact,
.journal .content .ultimate_pop {
  background-position: 10px;
}

.journal .content .ultimate_intact::after,
.journal .content .ultimate_pop::after {
  position: absolute;
  top: 17px;
  left: 11px;
  width: 48px;
  height: 48px;
  content: "";
  outline: 1px solid #22eab4;
}

/* Progress log */
.journal .entry.log_summary .journalbody {
  margin-left: 10px;
}

.journal .entry.log_summary .journaltext b {
  display: block;
  padding-top: 1em;
  font-weight: 900;
}

/* Progress log */
.mh-ui-progress-log-link {
  display: block;
  width: 90px;
  margin: 1em auto;
}

.log_summary tbody {
  display: block;
  margin: 0;
}

.entry.short.log_summary {
  background-color: #fff;
}

#overlayPopup.hunting_summary .label {
  padding: 5px;
  font-size: 13px;
  background-color: #eee;
  border: 1px solid #ccc;
}

.journal .content .log_summary table td.value {
  padding-right: 10px;
  font-size: 12px;
  line-height: 24px;
}

.journal .content .log_summary table {
  display: flex;
  justify-content: center;
  width: 330px;
}

.journal .content .log_summary table td.field {
  padding-left: 10px;
}

.journal .content .log_summary table td.field.mice,
.journal .content .log_summary table td.field.points,
.journal .content .log_summary table td.field.gold,
.journal .content .log_summary table td.field.loot {
  padding: 0 0 4px;
  font-size: 12px;
  text-align: center;
}

.journal .content .log_summary table tr:nth-child(7) {
  outline: none;
}

.journal .content .log_summary table td.spacer {
  display: none;
}

.journal .content .log_summary table th {
  border-color: #c6c6c6;
}

#overlayPopup.hunting_summary .leftColumn,
#overlayPopup.hunting_summary .rightColumn {
  margin-bottom: 20px;
}

#overlayPopup.hunting_summary .title {
  margin: 10px;
  font-size: 19px;
  text-align: center;
}

#overlayPopup.hunting_summary .baitContainer,
#overlayPopup.hunting_summary .lootContainer {
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

#overlayPopup.hunting_summary .baitContainer .label,
#overlayPopup.hunting_summary .lootContainer .label {
  border-top: none;
  border-right: none;
  border-left: none;
}

#overlayPopup.hunting_summary .lootContainer a .wrapper {
  padding: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#overlayPopup.hunting_summary .miceContainer a {
  display: grid;
  grid-template-columns: 0 50px auto;
  align-items: start;
  padding: 6px 0;
  font-size: 10px;
  line-height: 14px;
}

#overlayPopup.hunting_summary .miceContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-items: stretch;
}

#overlayPopup.hunting_summary .miceContainer .catches {
  float: none;
  font-size: 11px;
}

#overlayPopup.hunting_summary .miceContainer a img {
  margin: 0 3px;
}

#overlayPopup.hunting_summary .baitContainer .label {
  grid-column: 1 5;
}

#overlayPopup.hunting_summary .baitContainer a {
  display: inline-block;
  float: none;
}

#overlayPopup.hunting_summary .baitContainer a .wrapper {
  font-size: 10px;
}

#overlayPopup.hunting_summary .baitContainer a img {
  width: 35px;
  height: auto;
  margin-top: 6px;
}

#overlayPopup.hunting_summary .baitContainer a b {
  display: inline-block;
  padding-bottom: 6px;
}

.reportTitle {
  padding-bottom: 0.5em;
  font-size: 1.5em;
}

.reportSubtitle {
  padding-bottom: 0.75em;
  font-size: 1.125em;
}

/* Hide set journal link and center detailed journal link */
.journal-detailLinkContainer a:first-child {
  display: none;
}

.journal-detailLinkContainer {
  text-align: center;
}

/* Make the detailed journal link less obnoxious */
a.journal-detailLink.full {
  font-size: 11px;
  text-transform: lowercase;
  background: none;
}

a.journal-detailLink.full::before {
  text-transform: capitalize;
  content: "View ";
}

a.journal-detailLink.full::after {
  content: " →";
}

.pagerView-container {
  background: transparent;
}

.pagerView-link {
  border: none;
}

/* Hide the period */
.entry.short.log_summary.stats .fullstop {
  display: none;
}

.socialGift.socialGift-send .journaltext {
  max-height: 50px;
  padding-bottom: 6px;
  margin-bottom: -3px;
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: inset -5px -4px 7px -4px #9d9d9d;
}

.journal .entry.socialGift-send {
  padding-bottom: 0;
}

.journal .entry .journalbody .journaltext .loot:last-child::after,
.journal .entry .journalbody .journaltext .lucky::after,
.journal .entry .journalbody .journaltext .luck:last-child::after {
  content: ".";
}

.journal .entry .journalbody .journaltext .lucky::after {
  position: relative;
  top: unset;
  display: inline;
  background: unset;
}

.journal .entry .journaltext br {
  content: "";
}

.journal .entry .journaltext br::after {
  content: " ";
}

/* nicer shade of green for prize mice */
.journal .content .catchsuccessprize {
  background-color: #7dea7d;
}

/* hiding date for entries that come with a hunt */
.entry.short.tournamentpointswithloot .journaldate,
.entry.short.tournamentpoints .journaldate,
.entry.short.unstable_charm_trigger .journaldate,
.entry.short.rift-bristlewoods-acolyteSandStolen .journaldate,
.entry.short.rift-bristlewoods-lootBooster .journaldate,
.entry.short.super_rift_vacuum_trigger .journaldate {
  display: none;
}

.journal .entry.short.super_rift_vacuum_trigger {
  box-shadow: 0 0 20px 0 #c997de inset;
}

.journal .entry.short.custom.super_rift_vacuum_trigger {
  background-size: 50px;
  background-position: 10px 5px;
}

/* tournament points */
/* acolyte sand stolen */
.entry.short.tournamentpointswithloot,
.entry.short.tournamentpoints,
.entry.short.rift-bristlewoods-acolyteSandStolen {
  padding: 2px;
  background: #dbd1b4;
}

.entry.short.rift-bristlewoods-acolyteSandStolen {
  background: #ffc16e;
}

.entry.short.tournamentpointswithloot .journalbody,
.entry.short.tournamentpoints .journalbody,
.entry.short.rift-bristlewoods-acolyteSandStolen .journalbody {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 5px 5px 10px;
  font-style: italic;
  white-space: normal;
}

/* nicer shade of gray and better image for brift */
.journal .entry.burroughs_rift.danger_zone {
  background-color: #ccdfe2;
  background-position: 10px center;
  background-size: 59px;
}

/* unstable charm results */
.entry.short.misc.custom.unstable_charm_trigger {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 35px;
  padding-left: 5px;
  font-size: 10px;
  font-style: italic;
  line-height: 15px;
  background-color: #e1f9ff;
}

.entry.short.misc.custom.unstable_charm_trigger .journalimage {
  width: 40px;
}

.entry.short.misc.custom.unstable_charm_trigger .journalimage img {
  width: 40px;
  height: 40px;
  mix-blend-mode: multiply;
}

.entry.short.misc.custom.unstable_charm_trigger .journalbody {
  margin-left: 58px;
}

/* adventure book status */
.adventureBookBanner-container {
  padding-bottom: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  line-height: 16px;
  background-color: #fbf8f6;
  border: 1px solid #d3cecb;
  border-radius: 3px;
  box-shadow: inset -1px 1px 3px 0 #d3cecb;
}

.adventureBookBanner-adventureName {
  padding: 15px 5px 0;
  margin-left: 75px;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 15px;
  color: #373737;
  background: transparent;
  border-radius: 0;
}

.adventureBookBanner-adventureName span {
  display: none;
}

.adventureBookBanner-goalContainer {
  right: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: none;
  box-shadow: none;
}

.adventureBookBanner-adventureImage {
  background-image: none !important;
}

.adventureBookBanner-goalPadding {
  margin-left: 75px;
}

.adventureBookBanner-goalImage {
  position: absolute;
  top: -25px;
  left: 10px;
  width: 60px;
  height: 60px;
}

.adventureBookBanner-goalName {
  width: auto;
  height: auto;
}

.adventureBookBanner-goalEnvironment {
  display: inline;
}

.adventureBookBanner-goalName-padding .adventureBookBanner-goalEnvironment::before {
  content: ". ";
}

.adventureBookBanner-moreInfo {
  position: absolute;
  right: 5px;
  bottom: -6px;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 1px;
  padding-left: 10px;
  font-size: 9px;
  color: #3b5998;
  background: none;
  box-shadow: none;
}

.adventureBookBanner-goalName-padding {
  display: block;
  width: auto;
  height: auto;
}

.adventureBookBanner-goalName-padding span {
  display: block;
}

.adventureBookBanner-moreInfo::after {
  content: " →";
}

.adventureBookBanner-container:hover .adventureBookBanner-moreInfo {
  color: #3b5998;
  text-decoration: underline;
  text-shadow: none;
  background: none;
  box-shadow: none;
}
