div#select2-drop.marketplaceView-header-search-dropdown .select2-result-label {
  white-space: nowrap;
}

div#select2-drop.marketplaceView-header-search-dropdown .select2-result-sub .select2-result-label {
  display: grid;
  grid-template-columns: 30px 4fr 1fr;
  place-items: center start;
  padding-left: 1px;
}

div#select2-drop.marketplaceView-header-search-dropdown .friendsPage-filter-environment-thumb {
  width: 25px;
  height: 25px;
  border-radius: 0;
  box-shadow: none;
}

.marketplaceView-item-quickListings .marketplaceView-table-listing-quantity:hover,
.marketplaceView-item-quickListings .marketplaceView-table-listing-quantity:focus {
  text-decoration: underline;
}

a.marketplaceView-goldValue.marketplaceView-quantityNotGold::after {
  display: none;
  background-image: none;
}

label.mhui-marketplace-search-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  color: #fff;
  border-radius: 10px;
}

/* Marketplace search */
.marketplaceView-header-searchContainer {
  top: 5px;
  right: 30px !important;
  height: 70px;
}

.marketplaceView-header-search-title {
  margin-bottom: 2px;
}

.marketplaceView-item-leftBlock {
  margin-top: 20px;
}

.marketplaceView-itemImage .limitedEdition {
  display: none;
}

.marketplaceHome-blockItem.small .marketplaceView-itemImage {
  width: 70px;
  height: 70px;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.marketplaceHome-blockItem.small .marketplaceView-item-imageContainer {
  width: auto;
}

.marketplaceView-favouriteButton {
  top: -4px;
  bottom: unset;
}

.marketplaceHome-blockItem.small .marketplaceView-favouriteButton {
  top: -14px;
  right: 5px;
}

.marketplaceHome-blockItem.small .marketplaceView-favouriteButton:hover {
  right: 3px;
  bottom: -6px;
}

.marketplaceView-item-imageContainer .marketplaceView-favouriteButton:hover,
.marketplaceView-table-image .marketplaceView-favouriteButton:hover {
  right: 1px;
  bottom: -4px;
  border: none;
  outline: 2px solid #ccc;
}

.marketplaceHome-block.favourites .marketplaceView-favouriteButton:hover {
  right: 5px;
  bottom: -4px;
  border: none;
  outline: 2px solid #ccc;
}

.marketplaceView-item-imageContainer:hover .marketplaceView-favouriteButton.disabled {
  display: none;
}

tr.open td.marketplaceView-table-name {
  white-space: nowrap;
}

.marketplaceListing .marketplaceView-itemImage.favourite {
  border: none;
  box-shadow: none;
}

.marketplaceView-item h1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mh-improved-marketplace-item-title-actions {
  display: inline-flex;
  flex-grow: 1;
  gap: 5px;
  justify-content: end;
  margin-right: 5px;
}

.marketplaceView-item.view .mousehuntCharacterGuideBox .mousehuntCharacterGuideBox-content {
  margin-left: 80px;
}

.marketplaceView-item-averagePrice,
.marketplaceView-item-averagePrice span {
  font-size: 12px;
}

.marketplaceView-table-chartImage {
  position: absolute;
  top: 0;
  right: -30px;
  bottom: 0;
  height: 49px;
  pointer-events: none;
  opacity: 0.5;
}

tr:hover .marketplaceView-table-chartImage {
  opacity: 1;
}

td.marketplaceView-table-name {
  position: relative;
}

.marketplaceView-header-search-dropdown .select2-search {
  margin-top: 5px;
}

.marketplaceHome-block-statTitle {
  display: flex;
  gap: 3px;
  align-items: center;
}

.marketplaceHome-block-statTitle .marketplaceHome-block-viewAll {
  top: unset;
  display: block;
  vertical-align: middle;
}

.marketplaceView h1 {
  border: none;
}

.marketplaceView-browse-filter label {
  display: flex;
  align-items: center;
}

.marketplaceView-item-rightBlock .mousehuntCharacterGuideBox-content li {
  background-position-y: -2px;
}

.marketplaceView-item-input input {
  padding: 4px;
}

.marketplaceView-itemImage.favourite {
  box-shadow: none;
}

.marketplaceView-table tr.empty {
  background: #f9f9f9 !important;
}

.marketplaceView-browse-sidebar-link:hover {
  padding-right: 9px;
  margin-right: 1px;
}

.marketplaceView-browse-sidebar-link {
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
}

.marketplaceHome-block-viewAll {
  border-color: #000;
}

#markethuntInfobox #infoboxSbPrice {
  margin-right: 4px;
}

.marketplaceHome-blockItem-status.recommended {
  background-image: url(https://i.mouse.rip/mp/recommended.png);
}

.marketplaceHome-blockItem-status.expensive {
  background-image: url(https://i.mouse.rip/mp/high_value.png);
}

.marketplaceView-trendIcon.up {
  background-image: url(https://i.mouse.rip/mp/price_up.png);
}

.marketplaceView-trendIcon.rising {
  background-image: url(https://i.mouse.rip/mp/price_rising.png);
}

.marketplaceView-header-search-dropdown {
  width: 225px !important;
}

.marketplaceView-header-search-dropdown .select2-results {
  width: 210px;
}

.marketplaceView-header-search-dropdown .select2-result-unselectable.select2-disabled {
  display: none;
}
