.journal.theme_living_garden .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_living_garden_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_living_garden .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_living_garden_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_living_garden .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_living_garden_wide_bottom.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_halloween_2013 .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_halloween_2013_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_halloween_2013 .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_halloween_2013_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_halloween_2013 .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_halloween_2013_wide_bottom.png?asset_cache_version=2) no-repeat scroll right bottom;
}

.journal.theme_halloween_2014 .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_halloween_2014_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_halloween_2014 .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_halloween_2014_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_halloween_2014 .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_halloween_2014_wide_bottom.png?asset_cache_version=2) no-repeat scroll right bottom;
}

.journal.theme_winter_hunt_2012 .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2012_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_winter_hunt_2012 .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2012_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_winter_hunt_2012 .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2012_wide_bottom.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_winter_hunt_2013 .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2013_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_winter_hunt_2013 .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2013_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_winter_hunt_2013 .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2013_wide_bottom.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_western .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_western_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_western .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_western_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_western .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_western_wide_bottom.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_regal .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_regal_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_regal .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_regal_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_regal .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_regal_wide_bottom.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_polluted .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_polluted_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_polluted .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_polluted_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_polluted .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_polluted_wide_bottom.png?asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_birthday_six .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_birthday_six_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_birthday_six .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_birthday_six_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_birthday_six .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_birthday_six_wide_bottom.png?asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_birthday_seven .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_birthday_seven_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_birthday_seven .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_birthday_seven_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_birthday_seven .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_birthday_seven_wide_bottom.png?asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_birthday_eight .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_birthday_eight_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_birthday_eight .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_birthday_eight_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_birthday_eight .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_birthday_eight_wide_bottom.png?asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_birthday_nine .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_birthday_nine_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_birthday_nine .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_birthday_nine_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_birthday_nine .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_birthday_nine_wide_bottom.png?asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_airship .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_airship_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_airship .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_airship_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_airship .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_airship_wide_bottom.png?asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_chrome .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_chrome_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_chrome .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_chrome_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_chrome .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_chrome_wide_bottom.png?asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_football .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_football_wide_top.png?v=2&asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_football .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_football_wide_middle.png?v=2&asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_football .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_football_wide_bottom.png?v=2&asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_mega_tournament .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_mega_tournament_wide_top.png?v=2&asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_mega_tournament .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_mega_tournament_wide_middle.png?v=2&asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_mega_tournament .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_mega_tournament_wide_bottom.png?v=2&asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_burroughs_rift .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_burroughs_rift_wide_top.png?v=2&asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_burroughs_rift .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_burroughs_rift_wide_middle.png?v=2&asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_burroughs_rift .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_burroughs_rift_wide_bottom.png?v=2&asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_bristle_woods_rift .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_bristle_woods_rift_wide_top.png?v=2&asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_bristle_woods_rift .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_bristle_woods_rift_wide_middle.png?v=2&asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_bristle_woods_rift .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_bristle_woods_rift_wide_bottom.png?v=2&asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_winter_hunt_2014 .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2014_wide_top.png?v=2&asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_winter_hunt_2014 .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2014_wide_middle.png?v=2&asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_winter_hunt_2014 .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2014_wide_bottom.png?v=2&asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_fungal .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_fungal_wide_top.png?v=2&asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_fungal .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_fungal_wide_middle.png?v=2&asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_fungal .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_fungal_wide_bottom.png?v=2&asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_relic_hunter .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_relic_hunter_wide_top.png?v=2&asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_relic_hunter .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_relic_hunter_wide_middle.png?v=2&asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_relic_hunter .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_relic_hunter_wide_bottom.png?v=2&asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_labyrinth .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_labyrinth_wide_top.png?v=2&asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_labyrinth .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_labyrinth_wide_middle.png?v=2&asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_labyrinth .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_labyrinth_wide_bottom.png?v=2&asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_rift_hallowen .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_rift_halloween_wide_top.png?v=2&asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_rift_hallowen .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_rift_halloween_wide_middle.png?v=2&asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_rift_hallowen .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_rift_halloween_wide_bottom.png?v=2&asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_winter_hunt_2015 .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2015_wide_top.png?v=2&asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_winter_hunt_2015 .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2015_wide_middle.png?v=2&asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_winter_hunt_2015 .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2015_wide_bottom.png?v=2&asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_gnawnian_games .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_gnawnian_games_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_gnawnian_games .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_gnawnian_games_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_gnawnian_games .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_gnawnian_games_wide_bottom.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_pillowcase .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_pillowcase_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_pillowcase .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_pillowcase_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_pillowcase .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_pillowcase_wide_bottom.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_ghostship .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_ghostship_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_ghostship .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_ghostship_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_ghostship .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_ghostship_wide_bottom.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_moussu_picchu .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_moussu_picchu_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_moussu_picchu .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_moussu_picchu_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_moussu_picchu .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_moussu_picchu_wide_bottom.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_lightning_slayer .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_lightning_slayer_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_lightning_slayer .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_lightning_slayer_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_lightning_slayer .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_lightning_slayer_wide_bottom.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_winter_hunt_2016 .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2016_wide_top.png?v=2&asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_winter_hunt_2016 .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2016_wide_middle.png?v=2&asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_winter_hunt_2016 .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2016_wide_bottom.png?v=2&asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_snow_golem .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_snow_golem_wide_top.png?v=2&asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_snow_golem .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_snow_golem_wide_middle.png?v=2&asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_snow_golem .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_snow_golem_wide_bottom.png?v=2&asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_birthday_ten .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_birthday_ten_wide_top.png?v=2&asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_birthday_ten .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_birthday_ten_wide_middle.png?v=2&asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_birthday_ten .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_birthday_ten_wide_bottom.png?v=2&asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_queso_canyon .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_queso_canyon_wide_top.png?v=2&asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_queso_canyon .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_queso_canyon_wide_middle.png?v=2&asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_queso_canyon .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_queso_canyon_wide_bottom.png?v=2&asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_admirals_ship .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_admirals_ship_wide_top.png?v=2&asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_admirals_ship .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_admirals_ship_wide_middle.png?v=2&asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_admirals_ship .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_admirals_ship_wide_bottom.png?v=2&asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_winter_hunt_2018 .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2018_wide_top.png?v=2&asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_winter_hunt_2018 .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2018_wide_middle.png?v=2&asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_winter_hunt_2018 .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2018_wide_bottom.png?v=2&asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_lny_2019 .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_lny_2019_wide_top.png?v=2&asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_lny_2019 .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_lny_2019_wide_middle.png?v=2&asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_lny_2019 .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_lny_2019_wide_bottom.png?v=2&asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_lny_2020 .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_lny_2020_wide_top.png?v=2&asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_lny_2020 .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_lny_2020_wide_middle.png?v=2&asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_lny_2020 .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_lny_2020_wide_bottom.png?v=2&asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_lny_2021 .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_lny_2021_wide_top.png?v=2&asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_lny_2021 .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_lny_2021_wide_middle.png?v=2&asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_lny_2021 .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_lny_2021_wide_bottom.png?v=2&asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_lny_2022 .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_lny_2022_wide_top.png?v=2&asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_lny_2022 .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_lny_2022_wide_middle.png?v=2&asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_lny_2022 .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_lny_2022_wide_bottom.png?v=2&asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_lny_2023 .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_lny_2023_wide_top.png?v=2&asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_lny_2023 .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_lny_2023_wide_middle.png?v=2&asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_lny_2023 .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_lny_2023_wide_bottom.png?v=2&asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_super_brie_factory .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_super_brie_factory_wide_top.png?v=2&asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_super_brie_factory .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_super_brie_factory_wide_middle.png?v=2&asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_super_brie_factory .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_super_brie_factory_wide_bottom.png?v=2&asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_party_charm .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_party_charm_wide_top.png?v=2&asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_party_charm .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_party_charm_wide_middle.png?v=2&asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_party_charm .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_party_charm_wide_bottom.png?v=2&asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_halloween_2019 .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_halloween_2019_wide_top.png?v=2&asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_halloween_2019 .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_halloween_2019_wide_middle.png?v=2&asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_halloween_2019 .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_halloween_2019_wide_bottom.png?v=2&asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_winter_hunt_2019 .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2019_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_winter_hunt_2019 .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2019_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_winter_hunt_2019 .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2019_wide_bottom.png?asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_winter_hunt_2020 .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2020_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_winter_hunt_2020 .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2020_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_winter_hunt_2020 .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2020_wide_bottom.png?asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_winter_hunt_2021 .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2021_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_winter_hunt_2021 .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2021_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_winter_hunt_2021 .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2021_wide_bottom.png?asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_winter_hunt_2022 .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2022_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_winter_hunt_2022 .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2022_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_winter_hunt_2022 .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_winter_hunt_2022_wide_bottom.png?asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_pumpkin_patch .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_pumpkin_patch_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_pumpkin_patch .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_pumpkin_patch_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_pumpkin_patch .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_pumpkin_patch_wide_bottom.png?asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_spring_hunt_2021 .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_spring_hunt_2021_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_spring_hunt_2021 .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_spring_hunt_2021_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_spring_hunt_2021 .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_spring_hunt_2021_wide_bottom.png?asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_gloomy_greenwood .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_gloomy_greenwood_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_gloomy_greenwood .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_gloomy_greenwood_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_gloomy_greenwood .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_gloomy_greenwood_wide_bottom.png?asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_birthday_thirteen .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_birthday_thirteen_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_birthday_thirteen .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_birthday_thirteen_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_birthday_thirteen .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_birthday_thirteen_wide_bottom.png?asset_cache_version=2) no-repeat scroll left top;
}

.journal.theme_birthday_fourteen .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_birthday_fourteen_wide_top.png?v=2&asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_birthday_fourteen .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_birthday_fourteen_wide_middle.png?v=2&asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_birthday_fourteen .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_birthday_fourteen_wide_bottom.png?v=2&asset_cache_version=2) no-repeat scroll left top;
}

.journal.theme_birthday_fifteen .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_birthday_fifteen_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_birthday_fifteen .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_birthday_fifteen_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_birthday_fifteen .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_birthday_fifteen_bottom.png?asset_cache_version=2) no-repeat scroll left top;
}

.journal.theme_table_of_contents .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_table_of_contents_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_table_of_contents .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_table_of_contents_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_table_of_contents .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_table_of_contents_wide_bottom.png?asset_cache_version=2) no-repeat scroll center bottom;
}

.journal.theme_bountiful_beanstalk .top {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_bountiful_beanstalk_wide_top.png?asset_cache_version=2) no-repeat scroll left bottom;
}

.journal.theme_bountiful_beanstalk .content {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_bountiful_beanstalk_wide_middle.png?asset_cache_version=2) repeat-y scroll left bottom;
}

.journal.theme_bountiful_beanstalk .bottom {
	background: url(https://www.mousehuntgame.com/images/ui/journal/themes/journal_bountiful_beanstalk_wide_bottom.png?asset_cache_version=2) no-repeat scroll 100% 0;
}

/* Background made transparent */
.journal.theme_halloween .top {
	background: url(https://i.mouse.rip/upscaled-themes/journal_halloween_wide_top.png) no-repeat scroll left bottom;
}

.journal.theme_halloween .content {
	background: url(https://i.mouse.rip/upscaled-themes/journal_halloween_wide_middle.png) repeat-y scroll left bottom;
}

.journal.theme_halloween .bottom {
	background: url(https://i.mouse.rip/upscaled-themes/journal_halloween_wide_bottom.png) no-repeat scroll left bottom;
}

.journal.theme_halloween_2013 .top,
.journal.theme_halloween_2014 .top,
.journal.theme_winter_hunt_2013 .top,
.journal.theme_regal .top,
.journal.theme_polluted .top,
.journal.theme_birthday_six .top,
.journal.theme_birthday_seven .top,
.journal.theme_birthday_eight .top,
.journal.theme_birthday_nine .top,
.journal.theme_airship .top,
.journal.theme_chrome .top,
.journal.theme_football .top,
.journal.theme_mega_tournament .top,
.journal.theme_burroughs_rift .top,
.journal.theme_bristle_woods_rift .top,
.journal.theme_winter_hunt_2014 .top,
.journal.theme_fungal .top,
.journal.theme_relic_hunter .top,
.journal.theme_labyrinth .top,
.journal.theme_rift_hallowen .top,
.journal.theme_winter_hunt_2015 .top,
.journal.theme_gnawnian_games .top,
.journal.theme_pillowcase .top,
.journal.theme_ghostship .top,
.journal.theme_moussu_picchu .top,
.journal.theme_lightning_slayer .top,
.journal.theme_winter_hunt_2016 .top,
.journal.theme_snow_golem .top,
.journal.theme_birthday_ten .top,
.journal.theme_queso_canyon .top,
.journal.theme_admirals_ship .top,
.journal.theme_winter_hunt_2018 .top,
.journal.theme_lny_2019 .top,
.journal.theme_lny_2020 .top,
.journal.theme_lny_2021 .top,
.journal.theme_lny_2022 .top,
.journal.theme_lny_2023 .top,
.journal.theme_super_brie_factory .top,
.journal.theme_party_charm .top,
.journal.theme_halloween_2019 .top,
.journal.theme_winter_hunt_2019 .top,
.journal.theme_winter_hunt_2020 .top,
.journal.theme_winter_hunt_2021 .top,
.journal.theme_winter_hunt_2022 .top,
.journal.theme_pumpkin_patch .top,
.journal.theme_spring_hunt_2021 .top,
.journal.theme_gloomy_greenwood .top,
.journal.theme_birthday_thirteen .top,
.journal.theme_birthday_fourteen .top,
.journal.theme_birthday_fifteen .top,
.journal.theme_table_of_contents .top,
.journal.theme_bountiful_beanstalk .top,
.journal.theme_halloween .bottom,
.journal.theme_halloween_2013 .bottom,
.journal.theme_halloween_2014 .bottom,
.journal.theme_winter_hunt_2013 .bottom,
.journal.theme_regal .bottom,
.journal.theme_polluted .bottom,
.journal.theme_birthday_six .bottom,
.journal.theme_birthday_seven .bottom,
.journal.theme_birthday_eight .bottom,
.journal.theme_birthday_nine .bottom,
.journal.theme_airship .bottom,
.journal.theme_chrome .bottom,
.journal.theme_football .bottom,
.journal.theme_mega_tournament .bottom,
.journal.theme_burroughs_rift .bottom,
.journal.theme_bristle_woods_rift .bottom,
.journal.theme_winter_hunt_2014 .bottom,
.journal.theme_fungal .bottom,
.journal.theme_relic_hunter .bottom,
.journal.theme_labyrinth .bottom,
.journal.theme_rift_hallowen .bottom,
.journal.theme_winter_hunt_2015 .bottom,
.journal.theme_gnawnian_games .bottom,
.journal.theme_pillowcase .bottom,
.journal.theme_ghostship .bottom,
.journal.theme_moussu_picchu .bottom,
.journal.theme_lightning_slayer .bottom,
.journal.theme_winter_hunt_2016 .bottom,
.journal.theme_snow_golem .bottom,
.journal.theme_birthday_ten .bottom,
.journal.theme_queso_canyon .bottom,
.journal.theme_admirals_ship .bottom,
.journal.theme_winter_hunt_2018 .bottom,
.journal.theme_lny_2019 .bottom,
.journal.theme_lny_2020 .bottom,
.journal.theme_lny_2021 .bottom,
.journal.theme_lny_2022 .bottom,
.journal.theme_lny_2023 .bottom,
.journal.theme_super_brie_factory .bottom,
.journal.theme_party_charm .bottom,
.journal.theme_halloween_2019 .bottom,
.journal.theme_winter_hunt_2019 .bottom,
.journal.theme_winter_hunt_2020 .bottom,
.journal.theme_winter_hunt_2021 .bottom,
.journal.theme_winter_hunt_2022 .bottom,
.journal.theme_pumpkin_patch .bottom,
.journal.theme_spring_hunt_2021 .bottom,
.journal.theme_gloomy_greenwood .bottom,
.journal.theme_birthday_fourteen .bottom,
.journal.theme_birthday_fifteen .bottom,
.journal.theme_table_of_contents .bottom,
.journal.theme_bountiful_beanstalk .bottom,
.journal.theme_birthday_thirteen .bottom {
    background-size: cover;
}

.journal.theme_living_garden .top,
.journal.theme_western .top,
.journal.theme_halloween .top,
.journal.theme_winter_hunt_2012 .top {
  background-size: contain;
}

.journal.theme_living_garden .bottom,
.journal.theme_western .bottom,
.journal.theme_halloween .bottom,
.journal.theme_winter_hunt_2012 .top {
  background-position: top center;
  background-size: contain;
}

.journal.theme_halloween .content,
.journal.theme_halloween_2013 .content,
.journal.theme_halloween_2014 .content,
.journal.theme_winter_hunt_2012 .content,
.journal.theme_winter_hunt_2013 .content,
.journal.theme_regal .content,
.journal.theme_polluted .content,
.journal.theme_birthday_six .content,
.journal.theme_birthday_seven .content,
.journal.theme_birthday_eight .content,
.journal.theme_birthday_nine .content,
.journal.theme_airship .content,
.journal.theme_chrome .content,
.journal.theme_football .content,
.journal.theme_mega_tournament .content,
.journal.theme_burroughs_rift .content,
.journal.theme_bristle_woods_rift .content,
.journal.theme_winter_hunt_2014 .content,
.journal.theme_fungal .content,
.journal.theme_relic_hunter .content,
.journal.theme_labyrinth .content,
.journal.theme_rift_hallowen .content,
.journal.theme_winter_hunt_2015 .content,
.journal.theme_gnawnian_games .content,
.journal.theme_pillowcase .content,
.journal.theme_ghostship .content,
.journal.theme_moussu_picchu .content,
.journal.theme_lightning_slayer .content,
.journal.theme_winter_hunt_2016 .content,
.journal.theme_snow_golem .content,
.journal.theme_birthday_ten .content,
.journal.theme_queso_canyon .content,
.journal.theme_admirals_ship .content,
.journal.theme_winter_hunt_2018 .content,
.journal.theme_lny_2019 .content,
.journal.theme_lny_2020 .content,
.journal.theme_lny_2021 .content,
.journal.theme_lny_2022 .content,
.journal.theme_lny_2023 .content,
.journal.theme_super_brie_factory .content,
.journal.theme_party_charm .content,
.journal.theme_halloween_2019 .content,
.journal.theme_winter_hunt_2019 .content,
.journal.theme_winter_hunt_2020 .content,
.journal.theme_winter_hunt_2021 .content,
.journal.theme_winter_hunt_2022 .content,
.journal.theme_pumpkin_patch .content,
.journal.theme_spring_hunt_2021 .content,
.journal.theme_gloomy_greenwood .content,
.journal.theme_birthday_fourteen .content,
.journal.theme_birthday_fifteen .content,
.journal.theme_table_of_contents .content,
.journal.theme_bountiful_beanstalk .content,
.journal.theme_birthday_thirteen .content {
    background-size: contain;
}
