.journal.theme_admirals_ship .top {
  height: 43px;
}

.journal.theme_admirals_ship .bottom {
  height: 52px;
}

.journal.theme_birthday_eight .bottom {
  height: 52px;
}

.journal.theme_birthday_fifteen .bottom {
  height: 52px;
}

.journal.theme_birthday_fourteen .top {
  height: 43px;
}

.journal.theme_birthday_six .bottom {
  height: 52px;
}

.journal.theme_ghostship .bottom {
  height: 52px;
}

.journal.theme_halloween_2013 .bottom {
  height: 51px;
}

.journal.theme_halloween_2014 .bottom {
  height: 53px;
  background-position: 0 -1px;
  background-size: contain;
}

.journal.theme_labyrinth .bottom {
  height: 53px;
}

.journal.theme_lightning_slayer .bottom {
  height: 52px;
}

.journal.theme_living_garden .top {
  height: 25px;
  background-size: contain;
}

.journal.theme_living_garden .bottom {
  height: 27px;
}

.journal.theme_moussu_picchu .bottom {
  height: 52px;
}

.journal.theme_party_charm .top {
  margin-bottom: -1px;
}

.journal.theme_regal .bottom {
  height: 44px;
}

.journal.theme_table_of_contents .bottom {
  height: 53px;
}

.journal.theme_western .top {
  height: 25px;
}

.journal.theme_western .bottom {
  height: 27px;
}

.journal.theme_winter_hunt_2012 .bottom {
  height: 27px;
}

.journal.theme_winter_hunt_2022 .bottom {
  height: 54px;
}

.journal.theme_school_of_sorcery .bottom {
  height: 53px;
}
