.riftFuromaHUD-craftingPopup-recipe-part .itemImage,
.floatingIslandsHUD .upsellItemActionView-cost-image,
.giftSelectorView-inbox-gift-thumb .itemImage,
.giftSelectorView-inbox-giftRow.paidgift .giftSelectorView-inbox-gift-thumb .itemImage,
.giftSelectorView-claimableGift-itemContainer .itemImage,
.adventureBookPopup-adventure-details-block-step-thumb,
.valourRiftPopupClaim-lootLog .itemImage,
.valourRiftPopupClaim-cacheLoot-image,
.MHCheckoutCartTableView-reward-image,
.MHCheckoutCartTableView .trapImageView,
.labyrinthHUD-confirmItem,
.travelPage-map-pieces-detail-image img,
.halloweenBoilingCauldronRecipeView-thumb,
.lunarNewYear2018-claimRow-image .itemImage,
.forewordFarmHarvestBin-itemImage.itemImage,
.lunarNewYearCampPopup-content-block-image,
.superBrieFactoryVendingMachineView-item-imageContainer,
.fortRoxHUD-dialog-requiredItem .itemImage,
.campPage-trap-armedItem-empty {
  box-shadow: none;
}

.floatingIslandsHUD-dialog-state.craftExtraRichSkyCheese .floatingIslandsHUD-dialog-image,
.springHuntHUD-dialog-item-image .itemImage.large,
.springHuntHUD-dialog-item-image .floatingIslandsAirship,
.MiniEventBigJackPopup-block-item-image,
.forewordFarmHarvestBin-itemImage.itemImage,
.marketplaceView-itemImage,
.mousehuntHud-userStat.bait .icon,
.itemView-thumbnail.large,
.itemView-thumbnail {
  background-color: transparent;
}

.marketplaceView-dialog-confirm-imageContainer .marketplaceView-item-image,
.QuestKingsGiveawayCampHUD__dialogItem .itemImage,
.springHuntHUD-dialog-item-image,
.journal .entry.convertible_open img,
.MiniEventGiveawayCampHUD-dialog-item .itemImage,
.journal .entry.craft.item img,
.itemPurchaseView-container.apothecary .itemPurchaseView-image,
.marketplaceView-itemImage,
.itemView-thumbnail,
.campPage-trap-armedItem.bait .campPage-trap-armedItem-image,
.mousoleumHUD-crafting-recipe-result-image,
.floatingIslandsHUD .upsellItemActionView-cost-image,
.enterPortal .warpathHUD-dialog-image .itemImage,
.campPage-trap-armedItem-image {
  border: none;
}

.notificationMessageList .message img.item {
  border: none !important;
}

.campPage-trap-armedItem-empty {
  background: none;
}

.treasureMapDialogView.acknowledge .treasureMapDialogView-highlightItem .itemImage,
.greatWinterHuntNewYearsDialogView__itemImage,
.convertibleOpenView-item-image {
  background-size: cover;
}

.marketplaceView-item-image,
.itemImage {
  background-size: 100%;
}

.halloweenBoilingCauldronRecipeView-recipe-image,
.riftFuromaHUD-craftingPopup-recipe-part .itemImage,
.floatingIslandsHUD-dialog-state.craftExtraRichSkyCheese .floatingIslandsHUD-dialog-image,
.floatingIslandsHUD .upsellItemActionView-cost-image,
.treasureMapOpenChestView-chestImage,
.campPage-trap-armedItem.bait .campPage-trap-armedItem-image,
.campPage-trap-armedItem-image {
  background-size: contain;
}

.MHCheckout-featuredItem-image.large {
  background-size: 100px;
}

.campPage-trap-armedItem.skin .campPage-trap-armedItem-empty {
  color: transparent;
}

.mousehuntHud-userStat .icon {
  width: 28px;
  height: 28px;
  background-size: 100%;
  border: none;
  box-shadow: none;
}

.inventoryPage-confirmPopup-itemRow-image .itemImage img {
  width: 80px;
  height: 80px;
}

.treasureMapView-allyCell {
  padding: 5px 2px;
}

.treasureMapRootView-footer-item-thumb {
  background-color: #fff;
}

.mousehuntHud-userStat:hover .icon,
.mousehuntHud-userStat:focus .icon,
.mousehuntHud-userStat.active .icon {
  filter: drop-shadow(0 0 3px #ffde00);
  box-shadow: none;
}

.springEggHuntCampHUD-charm-thumb.active {
  background-color: rgb(121 163 44 / 53%);
}

.springEggHuntCampHUD-charm-thumb {
  padding: 1px;
  border: none;
}

.marketplaceView-itemImage img {
  border-radius: 0;
}

/* Map pieces titles */
.travelPage-map-pieces-detail-environment-title img {
  width: auto;
  height: 20px;
}

.travelPage-map-pieces-detail-environment-title {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.travelPage-map-pieces-detail-environment-title-name {
  margin-left: 5px;
}

.travelPage-map-pieces-detail-environments-label {
  margin-bottom: 10px;
}

.travelPage-map-environment-detail-title img {
  max-width: 25px;
}

/* GWH gifts */
.gift-padding img {
  width: 75px;
}

.itemImage img {
  width: auto;
  max-width: 80px;
}

.journal .relicHunter_slayer_aura_relic_bonus {
  background-image: url(https://www.mousehuntgame.com/images/items/collectibles/large/a6e804d0d9eeb22ff01660a144521ff1.png);
}

.adventureBookPopup-title-icon {
  top: 5px;
  width: auto;
  height: 25px;
}

.adventureBookPopup-title.active .adventureBookPopup-title-icon {
  left: 5px;
}

.journal .entry.socialGift,
.journal .content .marketplacepurchase,
.journal .content .supplytransferitem,
.journal .content .toolbarinstalled {
  background-image: url(https://i.mouse.rip/item_add.png);
}

.journal .content .marketplacesale,
.journal .content .supplytransfergold {
  background-image: url(https://i.mouse.rip/gold_add.png);
}

.journal .content .travel {
  background-image: url(https://i.mouse.rip/travel.png);
}

#overlayPopup.zugzwangsLibraryQuestShopPopup .questLink .requirements img {
  max-width: 14px;
}

.friendsPage-friendRow-stat.gold .friendsPage-friendRow-stat-icon,
.marketplaceView-goldValue::after {
  background-image: url(https://i.mouse.rip/mp-gold.png);
}

.springHuntHUD-popup-tabContentContainer.loading::after,
.eggSweeper-layer.loading::after,
.giftSelectorView-friendContainer.loading,
.itemPurchaseView-container.loading .itemPurchaseView-action-state.loading,
.itemView-loading::after,
.journalContainer.loading .journalEntries::after,
.MHCheckoutReviewCartPageView-paymentLoader::after,
.MHCheckoutTermsOfServicePageView,
.messageBoardView-loader,
.mouseListView-categoryContent-loading,
.mouseView-image.loading,
.newsArchivesListView.loading .newsArchivesListView-page::after,
.scoreboardTableView.loading .scoreboardTableView-results::after,
.halloweenMemoryGame-content.loading,
.trapSelectorView__codexBrowser .loading,
.treasureMapDialogView.loading .treasureMapDialogView-content,
.treasureMapListingsTableView-loading-mouse,
.treasureMapRootView-content.loading,
.treasureMapView-block-content.loading::after,
.userSelector-table tr.loading td,
.mousehuntHud-page-tabContent-loading,
.mousehuntHud-page-subTabContent-loading,
.mousehuntPage-loading,
.adversariesPage-categoryContent-loading,
.campPage-trap-itemBrowser-items .loading,
.campPage-trap-trapEffectivenessContainer .loading,
.campPage-tabs-tabContent-loading,
.friendsPage-friendList-content.busy::after,
.tournamentPage-tournamentRow-loading,
.adventCalendarView-gift.busy::after,
.springHuntHUD-dialog-loading,
.giftSelectorView-content-selectedFriend-loading,
.giftSelectorView-confirmOverlay.loading .giftSelectorView-confirmPopup-content,
.giftSelectorView-inbox-loading,
.riftFuromaHUD-craftingPopup-padding-loading,
.marketplaceView-item-image,
.campPage-trap-friendList.loading .campPage-trap-friendList-loading,
.campPage-trap-itemBrowser-armed .loading,
.teamPage-acivity-loading {
  background-image: url(https://i.mouse.rip/mouse-loading.gif);
}

div.userSelectorView-userList.loading::after {
  background:
    url(https://i.mouse.rip/mouse-loading.gif) 50% 50% no-repeat,
    url(https://www.mousehuntgame.com/images/ui/backgrounds/overlay.png) 0 0 repeat;
}

.mousehuntCharacterGuideBox {
  background-image: url(https://i.mouse.rip/larry_circle_large.png);
}

.friendsPage-friendRow-stat.points .friendsPage-friendRow-stat-icon {
  background-image: url(https://www.mousehuntgame.com/images/items/stats/transparent_thumb/eeebc1c32b4242b95f75041be7275980.png);
}

.itemViewPopup .itemViewContainer.torn_page .itemView-thumbnail {
  background-image: url(https://i.mouse.rip/plankrun-upscaled.png) !important;
}

.draconicDepthsClaimDuplicatorChestDialogView:has(#burn:checked) .itemImage {
  background-image: url(https://www.mousehuntgame.com/images/items/crafting_items/large/b153b90267ed411dee9a3a406e30170f.png) !important;
}
