.journal .entry img,
.notificationMessageList .message img.item {
  border: none !important;
}

.giftSelectorView-inbox-gift-thumb .itemImage,
.giftSelectorView-claimableGift-itemContainer .itemImage {
  box-shadow: none;
}

.mousehuntHud-userStat .icon {
  width: 27px;
  height: 27px;
  border: none;
  box-shadow: none;
}

.campPage-trap-armedItem-empty {
  background: none;
  box-shadow: none;
}

.campPage-trap-armedItem.bait .campPage-trap-armedItem-image,
.campPage-trap-armedItem-image {
  top: 3px;
  left: 3px;
  border: none;
}

.mousehuntHud-userStat.bait .icon {
  background-color: transparent;
}

.adventureBookPopup-adventure-details-block-step-thumb {
  box-shadow: none;
}

.itemView-thumbnail {
  border: none;
}

.inventoryPage-confirmPopup-itemRow-image .itemImage img {
  width: 80px;
  height: 80px;
}

.treasureMapView-allyCell {
  padding: 6px 3px;
}

.treasureMapView-allyCell .treasureMapView-componentContainer {
  width: 170px;
  background: none;
}

.treasureMapView-allyCell .treasureMapView-componentThumb {
  width: 40px;
  height: 40px;
}

.treasureMapRootView-footer-item-thumb {
  background-color: #fff;
}

.mousehuntHud-userStat:hover .icon,
.mousehuntHud-userStat:focus .icon,
.mousehuntHud-userStat.active .icon {
  filter: drop-shadow(0 0 3px #ffde00);
  box-shadow: none;
}

.marketplaceView-itemImage {
  background-color: transparent;
  border: none;
}

.marketplaceHome-block.featured .marketplaceView-itemImage {
  border: 1px solid #a0a0a0;
}

.MHCheckout-featuredItem-image.large {
  background-size: 100px;
}

.MHCheckoutCartTableView-reward-image,
.MHCheckoutCartTableView .trapImageView {
  box-shadow: none;
}

.giftSelectorView-friendRow-returnImage {
  border: none;
}

/* SEH */
.springHuntHUD-dialog-item-image {
  border: none;
}

.springEggHuntCampHUD-charm-thumb.active {
  background-color: #79a32c87;
}

.springEggHuntCampHUD-charm-thumb {
  padding: 1px;
  border: none;
}

/* SEH Choco shop item background */
.springHuntHUD-dialog-item-image .itemImage.large {
  background-color: transparent;
}

.springHuntHUD-dialog-item-image .floatingIslandsAirship {
  background-color: transparent;
}

.convertibleOpenView-item-image {
  background-size: cover;
}

.valourRiftPopupClaim-lootLog .itemImage,
.valourRiftPopupClaim-cacheLoot-image {
    box-shadow: none;
}

.marketplaceView-itemImage img {
  border-radius: 0;
}
