.campHudSnowballShowdownView__disabled {
  top: 45px;
}

.advent-calendar-spoilers .adventCalendarView-gift .adventCalendarView-gift-label,
.advent-calendar-spoilers .adventCalendarView-gift .adventCalendarView-gift-image {
  display: none;
}

.mousehuntActionButton.tiny.toggle-advent-calendar-spoilers {
  position: absolute;
  left: 20px;
  font-size: 12px;
}

.advent-calendar-spoilers .adventCalendarView-content {
  background: url(https://i.mouse.rip/calendar_bg.jpg);
}

.adventCalendarView-subtitle {
  padding: 10px;
  font-size: 12px;
  line-height: 19px;
  background-color: #d3ddfe;
}

.adventCalendarView-gift.canClaim {
  filter: brightness(1.5);
}

.adventCalendarView-gift-rewardContainer {
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: rgb(211 221 254);
  border-radius: 0;
}

.adventCalendarView-gift-reward-close {
  padding: 2px 4px 5px 6px;
  font-size: 13px;
  font-weight: 900;
  color: #e03a3a;
  background-color: #b1bfed;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
}

.adventCalendarView-gift-reward-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.adventCalendarView-gift-item,
.adventCalendarView-gift-item img {
  width: 55px;
  height: 55px;
}

.adventCalendarView-title {
  background-color: #d3ddfe;
  border-width: 1px;
}

.adventCalendarView-header {
  background-color: #e2ebee;
}

.campHudSnowballShowdownView__imageContainer {
  height: 35px;
  margin-top: -5px;
  background: rgb(218 188 155 / 60%);
  border-radius: 13px;
}

.campHudSnowballShowdownView__image {
  height: 35px;
  background-position: bottom center;
}

.campHudSnowballShowdownView__snowball .campHudSnowballShowdownView__image {
  background-position: center 5px;
}

.campHudSnowballShowdownView__quantity {
  padding: 1px;
  font-size: 13px;
  color: #133850;
  text-align: center;
  background-color: #a8d3e0;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px #2174ab;
}

button.campHudSnowballShowdownView__buyButton {
  display: none;
}

.campHudSnowballShowdownView__item:hover button.campHudSnowballShowdownView__buyButton,
.campHudSnowballShowdownView__item:focus button.campHudSnowballShowdownView__buyButton,
.campHudSnowballShowdownView__item:active button.campHudSnowballShowdownView__buyButton {
  position: absolute;
  right: -1px;
  bottom: -2px;
  display: block;
  width: 17px;
  height: 17px;
  background-size: cover;
}

.snowballShowdownView-reward-subtitle,
.snowballShowdownView-rewardsTitle {
  display: none;
}

.snowballShowdownView-rewardsContainer {
  overflow: hidden;
  border-radius: 10px;
}

.snowballShowdownView-reward-image {
  height: 120px;
}

.snowballShowdownView-reward-item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.snowballShowdownView-reward-item-name span {
  display: inline;
}

.snowballShowdownView-reward-item-name {
  display: inline-block;
  height: unset;
  text-align: center;
}

.snowballShowdownView-reward-item .itemImage {
  float: none;
  width: unset;
  height: unset;
}

.snowballShowdownView-reward-item .itemImage img {
  width: 45px;
  height: auto;
}

.snowballShowdownView-item-quantity {
  padding: 1px 5px;
  font-size: 12px;
}

.snowballShowdownView-item-name {
  margin: 0 4px;
  font-size: 11px;
}

.snowballShowdownView-item {
  box-shadow:
    0 -7px 8px #ccc inset,
    0 0 0 3px #3e71be;
}

.snowballShowdownView-message {
  display: inline-block;
  width: auto;
  padding: 8px;
  font-size: 10px;
  background: #3e71be;
  border-radius: 4px;
  box-shadow: 0 0 1px #103060 inset;
}

.snowballShowdownView-messageContainer {
  padding: 0;
  background: none;
  box-shadow: none;
}

.snowballShowdownView-item::after {
  filter: drop-shadow(-2px 2px 0 #3e71be) drop-shadow(1px -2px 0 #3e71be);
}

.snowballShowdownView-board-row-cell.available:hover,
.snowballShowdownView-board-row-cell.available:focus {
  cursor: pointer;
  box-shadow: inset 0 0 1px 3px #3e71be;
}

.snowballShowdownView-board-row-cell.hit {
  box-shadow: inset 0 0 0 3px #b8ffe3;
}

.winter_hunt_profile_tree_possible_gifts .gift {
  width: 20%;
}

.campHudSnowballShowdownView__quantityContainer.possibleAmount {
  display: none;
  margin-top: 7px;
}

.campHudSnowballShowdownView--hasSnowballShowdown:hover .campHudSnowballShowdownView__quantityContainer.possibleAmount,
.campHudSnowballShowdownView--hasSnowballShowdown:focus .campHudSnowballShowdownView__quantityContainer.possibleAmount {
  display: flex;
}

.possibleAmount .campHudSnowballShowdownView__quantity {
  background-color: #d2e8ef;
  box-shadow: inset 0 0 0 1px #7ebde7;
}
