.inventoryPage-item.component .inventoryPage-item-imageContainer .itemImage {
  margin: 0 auto;
  border: none;
  border-radius: 0;
}

.inventoryPage-item-content-action {
  margin: 10px 0;
}

.inventoryPage-item-content-description {
  height: auto;
  overflow: hidden auto;
}

.inventoryPage-item.torn_page .inventoryPage-item-name,
.inventoryPage-item.stat .inventoryPage-item-name,
.inventoryPage-item.collectible .inventoryPage-item-name,
.inventoryPage-item.message_item .inventoryPage-item-name {
  margin-left: 10px;
}

.inventoryPage-item.torn_page .inventoryPage-item-imageContainer,
.inventoryPage-item.stat .inventoryPage-item-imageContainer,
.inventoryPage-item.collectible .inventoryPage-item-imageContainer,
.inventoryPage-item.message_item .inventoryPage-item-imageContainer {
  margin-top: 0;
}

.inventoryPage-item-name {
  padding: 10px;
  font-size: 1.3em;
  background-color: transparent;
  border: none;
}

.inventoryPage-item-name abbr {
  text-decoration: none;
}

.mousehuntHud-page-subTabContent.trinket.show_tags.trinket.active .mousehuntHud-page-subTabContent-prefix:first-child {
  display: none;
}

.inventoryPage-tagContent-tagTitle {
  display: flex;
  align-items: center;
  padding: 0 5px 10px;
  margin: 0;
  font-size: 1.4em;
  border: none;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-tagContent-tagGroup {
  padding: 8px 0 8px 8px;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-tagContent-tagTitle {
  padding: 0 0 10px;
  font-size: 14px;
  font-weight: 400;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-tagContent-listing {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 3px;
  place-content: center flex-start;
  align-items: stretch;
}

.mousehuntHud-page-subTabContent.hammer .mousehuntHud-page-subTabContent.hammer .inventoryPage-item {
  width: 68px;
  margin: 0;
  margin-right: 3px;
  background-color: #fff;
  border-radius: 10px;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-item:nth-child(7n) {
  margin-right: 0;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-item {
  height: auto;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 9px;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-item:hover .inventoryPage-item-margin {
  background-color: #e3e3e3;
  box-shadow: none;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-item .tooltip,
.mousehuntHud-page-subTabContent.hammer .inventoryPage-item .newTooltip {
  display: none;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-item:hover .newTooltip {
  left: 50%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 100px;
  padding: 0;
  border: none;
  transform: translateX(-50%);
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-item:hover .newTooltip .inventoryPage-item-margin {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-item:hover .tooltip .inventoryPage-item-margin {
  text-align: center;
  background-color: transparent;
  outline: none;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-item.small .tooltip.newTooltip .itemImage {
  float: none;
  width: 60px;
  height: 60px;
  overflow: visible;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-item.small .tooltip.newTooltip .itemImage img {
  width: 55px;
  height: 55px;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-item:hover .newTooltip .inventoryPage-item-content-nameContainer,
.mousehuntHud-page-subTabContent.hammer .inventoryPage-item:hover .newTooltip .inventoryPage-item-content-name {
  height: auto;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-item:hover .newTooltip .inventoryPage-item-content-name span {
  min-width: 60px;
}

a.inventoryPage-item-larryLexicon {
  display: none;
}

.inventoryPage-item-content-description-text {
  max-height: 125px;
  padding: 0;
  font-size: 10px;
  line-height: 16px;
  color: #6e6e6e;
}

.inventoryPage-item.base .inventoryPage-item-content-description-text,
.inventoryPage-item.weapon .inventoryPage-item-content-description-text,
.inventoryPage-item.trinket .inventoryPage-item-content-description-text {
  height: auto;
}

.inventoryPage-item.full.weapon .quantity,
.inventoryPage-item.full.base .quantity {
  display: none;
}

.inventoryPage-item .itemImage {
  margin-bottom: 10px;
  overflow: visible;
}

.inventoryPage-item-recipeOptions li {
  margin-left: 5px;
  background-color: #fffcdb;
  border-style: solid;
}

.inventoryPage-item.small .itemImage .quantity {
  overflow: visible;
}

.mousehuntHud-page-subTabContent.recipe .inventoryPage-item .itemImage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
}

.mousehuntHud-page-subTabContent.recipe .inventoryPage-item .itemImage img {
  width: 50px;
  height: 50px;
}

.inventoryPage-item-content-description-consumedItem {
  width: calc(33% - 3px);
  margin-right: 3px;
}

.inventoryPage-item-content-description-consumedItem-image {
  margin-left: 0;
}

.inventoryPage-item-content-description-consumedItem.error {
  gap: 2px;
  background-color: rgb(245 221 221 / 82%);
  border-radius: 7px;
}

/* search bar */
input.inventoryPage-tagDirectory-searchBar-input {
  width: auto;
  min-width: 50%;
  margin-right: 10px;
}

.mousehuntHud-page-subTabContent-prefix.clear-block {
  height: 25px;
  color: transparent;
}

.inventoryPage-tagDirectory-searchBar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 0;
  color: transparent;
}

/* plankrun pages */
.inventoryPage-item.torn_page .quantity {
  display: none;
}

.inventoryPage-item.torn_page .itemImage img {
  width: 50px;
  min-width: unset;
  height: 50px;
  min-height: unset;
}

.inventoryPage-item.full.torn_page {
  width: 32%;
  margin: 5px;
}

.inventoryPage-item.torn_page .inventoryPage-item-name {
  padding-right: 0;
  font-size: 1em;
}

.inventoryPage-item.torn_page .itemImage {
  width: 40px;
  height: 40px;
  margin-top: -5px;
}

.inventoryPage-item.torn_page .inventoryPage-item-contentContainer {
  margin: 0;
}

.inventoryPage-item.torn_page .inventoryPage-item-content-action div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  margin-right: 15px;
}

.inventoryPage-item.torn_page .inventoryPage-item-content-description {
  display: none;
}

.inventoryPage-item.torn_page input.viewFront,
.inventoryPage-item.torn_page input.viewBack {
  display: inline-block;
  padding: 2px 4px;
  color: #000;
  text-shadow: 0 0 1px #fff;
  background-color: #f4e830;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow:
    0 -5px 8px -2px #ffae00 inset,
    1px 1px 1px #eee;
}

.inventoryPage-craftingTable-title {
  display: none;
}

.mousehuntHud-page-subTabContent.crafting_table .inventoryPage-craftingTable {
  width: 20%;
  background: #f6f3eb;
  border: 1px solid #d3cecb;
  border-radius: 3px;
  box-shadow: inset -1px 1px 3px 0 #d3cecb;
}

.mousehuntHud-page-subTabContent.crafting_table .inventoryPage-item.small .itemImage img {
  width: 70px;
  height: 70px;
}

.mousehuntHud-page-subTabContent.crafting_table .mousehuntHud-page-subTabContent-margin {
  width: 78%;
}

.inventoryPage-craftingTable-slot-item.itemImage {
  margin-bottom: 10px;
}

.inventoryPage-craftingTable-slot-item-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17px;
  margin: 0;
  background: transparent;
  border: 1px solid #ccc;
}

.inventoryPage-craftingTable-slot-item-controls input {
  height: 24px;
  margin-top: -1px;
}

.inventoryPage-craftingTable-action {
  margin: 10px;
  background: none;
  border: none;
}

.inventoryPage-craftingTable-slot-item[data-owned="1"] .inventoryPage-craftingTable-slot-item-controls-increment {
  opacity: 0.2;
}

.inventoryPage-craftingTable-slot {
  width: 120px;
  padding: 5px;
  margin: 5px;
  background: #f6f3eb;
  border: 1px solid #d3cecb;
  border-radius: 3px;
  box-shadow: inset -1px 1px 3px 0 #d3cecb;
}

.inventoryPage-craftingTable-slotContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  background-color: #f6f3eb;
}

.inventoryPage-craftingTable-slot-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.inventoryPage-craftingTable-slot-item.empty .inventoryPage-craftingTable-slot-item-controls {
  display: none;
}

.inventoryPage-craftingTable-slot-item.empty .inventoryPage-craftingTable-slot-item-nameContainer {
  display: none;
}

.inventoryPage-craftingTable-slot-item.empty .inventoryPage-craftingTable-slot-item-name {
  color: transparent;
}

.inventoryPage-craftingTable-slot-item-quantity {
  display: none;
}

.inventoryPage-craftingTable-slot-item-name {
  font-size: 11px;
  font-weight: 100;
}

.inventoryPage-craftingTable-slot-item-nameContainer {
  width: 100%;
  height: auto;
  margin: 5px;
}

.inventoryPage-craftingTable-slot-item img,
.inventoryPage-craftingTable-slot-item .itemImage,
.inventoryPage-craftingTable-slot-item .itemImage img {
  width: 35px;
  height: 35px;
}

a.inventoryPage-item-larryLexicon.tsitu-lock-convertible {
  top: 5px;
  right: 5px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px !important;
  padding: 2px;
  font-size: 13px;
  border: 1px solid #bebebe;
  border-radius: 50%;
  opacity: 0.5;
}

a.inventoryPage-item-larryLexicon.tsitu-lock-convertible:hover {
  opacity: 1;
}

.inventoryPage-tagContent-tagTitle.tsitu-lock-convertible {
  position: absolute;
  top: -10px;
  right: 0;
}

/* Mark items that have an action with a different color */
.inventoryPage-item.small.message_item .inventoryPage-item-margin {
  border-color: #48b0a9;
}

.inventoryPage-item.small.message_item .inventoryPage-item-content-name {
  color: #368f89;
}

.mhui-craft-warning-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  padding: 10px;
  font-size: 10px;
  font-weight: 900;
  background: #f5c7c7;
  border: 1px solid #e07878;
  border-radius: 5px;
  animation: 0.4s mh-improved-shake-light 0.7s 1;
}

@media (prefers-reduced-motion: reduce) {
  .mhui-craft-warning-tooltip {
    animation: none;
  }
}

#jsDialogAjaxSuffix {
  position: relative;
}

.inventoryPage-item .itemImage .limitedEdition {
  top: -1px;
  left: -5px;
  z-index: 1;
}

#overlayPopup.itemViewPopup .itemViewContainer.message_item .button {
  margin: 10px 0 0;
}

.inventoryPage-item.base .inventoryPage-item-content-description-text,
.inventoryPage-item.weapon .inventoryPage-item-content-description-text {
  max-height: 115px;
  overflow: visible;
}

.inventoryPage-confirmPopup-itemTable {
  display: flex;
  flex-direction: column;
}

.inventoryPage-confirmPopup-itemRow-description-name {
  margin-bottom: 5px;
}

.inventoryPage-confirmPopup-itemRow-description-owned {
  margin-bottom: 5px;
  font-size: 12px;
}

.inventoryPage-confirmPopup-itemRow-quantity {
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}

/* Dont' show the "open:" text when it's half width items */
.inventoryPage-item-content-action > span {
  display: none;
}

.inventoryPage-item .item_set::after {
  position: absolute;
  top: 8px;
  right: 3px;
  display: block;
  width: 28px;
  height: 28px;
  content: "";
  background-image: url(https://www.mousehuntgame.com/images/items/stats/large/cb301652677b77c9abd3a99622aa3ca7.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.2;
}

.inventoryPage-item:hover .item_set::after {
  opacity: 1;
}

.mh-dark-mode .pageFrameView .itemViewStatBlock {
  border: none;
}

.mh-dark-mode .inventoryPage-item .item_set::before {
  color: #2c2c2c;
}

.inventoryPage-item:hover .item_set::before {
  color: #2c2c2c;
}

.inventoryPage-item.trinket .inventoryPage-item-content-description {
  min-height: 120px;
}

.inventoryPage-item.trinket .itemViewStatBlock.trinket {
  float: right;
  width: 90px;
  margin: 0 5px;
}

/* hide the warnings on naughty maps and rainbows maps */
.inventoryPage-item-content-description-text div[style="border: 1px red dotted; padding: 5px; font-size: 10px;"],
.inventoryPage-item-content-description-text b[style="color:red; font-size: 14px;"] {
  display: none;
}

/* hide extra line breaks on rainbow maps */
.inventoryPage-item[data-item-type="rainbow_scroll_case_convertible"] .inventoryPage-item-content-description-text br,
.inventoryPage-item[data-item-type="party_size_rainbow_scroll_case_convertible"] .inventoryPage-item-content-description-text br {
  display: none;
}

.inventoryPage-item-content-action span {
  margin-right: 5px;
}

.inventoryPage-item.small .inventoryPage-item-margin {
  border-color: #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 2px -2px #1f1f1f;
}

.inventoryPage-item.small:hover .inventoryPage-item-margin,
.inventoryPage-item.small:focus .inventoryPage-item-margin {
  background-color: #d8f0ff;
  border-color: #ccc;
  box-shadow: 0 1px 2px -2px #1f1f1f;
}

.mousehuntHud-page-subTabContent.trinket .mousehuntHud-page-subTabContent-prefix {
  display: none;
}

.new-tooltip-loading::after {
  position: absolute;
  inset: 1px;
  content: "";
  background:
    url(https://www.mousehuntgame.com/images/ui/loaders/drip_spinner.gif) center no-repeat,
    url(https://www.mousehuntgame.com/images/ui/backgrounds/overlay.png) 0 0 repeat;
  border-radius: 5px;
}

.inventoryPage-item.small .tooltip {
  padding: 10px;
}

.inventoryPage-item-content-description-consumedItemContainer {
  margin-top: 0;
}

.crafting .recipe .inventoryPage-item-margin {
  padding-bottom: 0;
}

.crafting .recipe .inventoryPage-item .mousehuntActionButton {
  padding: 2px;
  margin-top: -5px !important;
}

.crafting .recipe .inventoryPage-item-name {
  margin-bottom: 0;
}

.mousehuntHud-page-subTabContent.crafting_table .inventoryPage-item .inventoryPage-item-margin {
  padding: 0;
  margin: 0;
}

.inventoryPage-item-recipeOptions li.inactive {
  background: #ededed;
  opacity: 0.5;
}

.inventoryPage-item-recipeOptions li.inactive:hover {
  opacity: 1;
}

.inventoryPage-item-recipeOptions li.selected {
  border-color: #fc6;
}

.inventoryPage-item-recipeOptions li:hover,
.inventoryPage-item-recipeOptions li.inactive:hover {
  border-color: #bbb;
}

.inventoryPage-item.potion .inventoryPage-item-button {
  margin: 5px 0 0 5px;
}

.inventoryPage-item.small:hover .tooltip {
  max-width: 250px;
}

.inventoryPage-item.small:hover .tooltip .description {
  max-height: 58px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inventoryPage-item.small:hover .tooltip .inventoryPage-item-button {
  margin-top: 10px;
}

.inventoryPage-shieldExpiry {
  display: none;
}

.search .inventoryPage-tagContent-tagTitle .inventoryPage-tagContent-name {
  padding-right: 5px;
}
