.tiny-item {
  display: grid;
  grid-template-columns: 25px 2fr 1fr 1fr;
  place-items: center stretch;
}

.tiny-item-image {
  width: 20px;
  height: 20px;
}

.tiny-item .inventoryPage-item-button.button {
  padding: 0;
  font-size: 11px;
}

.tiny-item .inventoryPage-item-content-action {
  justify-self: flex-end;
  margin: 0;
}

.tiny-item:nth-child(even) {
  background-color: #eee;
  border-radius: 5px;
}

.tiny-item:hover,
.tiny-item:nth-child(even):hover {
  background-color: #d8f0ff;
  border-radius: 5px;
}

.tiny-item-stats {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  gap: 4px;
}

.tiny-item-action {
  position: relative;
  display: none;
  gap: 5px;
  justify-self: center;
  margin-bottom: 0;
}

.tiny-item:hover .tiny-item-action {
  display: flex;
}

.mousehuntActionButton.tiny.tiny-item-view {
  padding: 1px 5px;
  margin-bottom: 0;
}

.inventoryPage-item .mousehuntActionButton.tiny.tiny-item-view {
  margin: 0 !important;
}

.all-group .inventoryPage-tagContent-tagTitle::after {
  width: 0;
  height: 0;
  margin-left: 5px;
  content: "";
  border-right: 5px solid transparent;
  border-bottom: 5px solid #999;
  border-left: 5px solid transparent;
  transition: transform 0.15s;
}

.all-group.toggled .inventoryPage-tagContent-tagTitle::after {
  transform: rotate(-180deg);
}

.tiny-item-action.busy::after {
  position: absolute;
  inset: 0;
  display: block;
  content: "";
  background: url(https://www.mousehuntgame.com/images/ui/loaders/small_spinner.gif) center no-repeat;
  background-color: rgb(255 255 255 / 50%);
  border-radius: 4px;
}
