.mh-ui-gold,
.mh-ui-points {
  position: relative;
  margin-left: 20px;
}

.mh-ui-gold::after,
.mh-ui-points::after {
  position: absolute;
  inset: -2px 0 0 -20px;
  width: 18px;
  height: 18px;
  content: "";
  background-image: url(https://www.mousehuntgame.com/images/items/stats/transparent_thumb/dccbaeebbdfa745340ff9363749f35ba.png);
  background-position: center;
  background-size: contain;
}

.mh-ui-points::after {
  background-image: url(https://www.mousehuntgame.com/images/items/stats/transparent_thumb/eeebc1c32b4242b95f75041be7275980.png);
}
