.mh-improved-onboarding-1 {
  margin-top: 45px;
  margin-left: -65px;
}

.mh-improved-onboarding-2 {
  margin-top: -50px;
  margin-left: -30px;
}

.mh-improved-onboarding strong {
  font-weight: 900;
}
