body .mousehuntHud-marbleDrawer {
  background:
    url(https://www.mousehuntgame.com/images/ui/hud/mousehuntHudPedestal.gif) -46px 0 no-repeat,
    url(https://www.mousehuntgame.com/images/ui/hud/mousehuntHudPedestal.gif) 731px 0 no-repeat,
    url(https://i.mouse.rip/mh-improved/custom-hud/hud-blueprint.png) repeat-y top center;
}
