.userInteractionButtonsView-buttonGroup {
  position: relative;
}

.quickSendWrapper {
  position: absolute;
  top: -50px;
  left: 60px;
  z-index: 10;
  display: none;
  min-width: 130px;
  padding: 7px 4px;
  font-size: 10px;
  color: #000;
  text-align: center;
  background: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 2px 3px 4px #666;
  transform: translate(-50%);
}

.treasureMapView-hunter-wrapper .quickSendWrapper {
  top: 60px !important;
}

.userInteractionButtonsView-buttonGroup:hover .quickSendWrapper,
.quickSendWrapper:hover {
  display: block;
}

.treasureMapView-hunter-wrapper:hover .quickSendWrapper {
  top: 30px;
  display: block;
}

.journal .entry .journaltext input.quickSendInput,
.mousehuntPage-content input.quickSendInput,
.quickSendInput {
  width: 65px;
  padding: 1px;
  font-size: 12px;
  border: 1px solid #000;
}

.quickSendButton {
  cursor: pointer;
}

.journal .entry a .quickSendWrapper img,
.quickSendWrapper img {
  width: 25px;
  height: auto;
  border: none;
}

.quickSendGoWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.itemsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.quickSendItemRadio {
  display: none;
}

.quickSendItem {
  margin: 0 2px;
  cursor: pointer;
  opacity: 0.5;
}

.quickSendItem.selected {
  border-radius: 10px;
  box-shadow:
    0 0 0 2px #fff,
    0 0 2px 4px #7dea7d;
  opacity: 1;
}

.quickSendItem:hover,
.quickSendItem:focus {
  opacity: 1;
}

.quickSendItem:focus,
.quickSendItem:hover img {
  transform: scale(1.3);
}

.quickSendItem.selected:focus,
.quickSendItem.selected:hover img,
.quickSendItem.selected:focus img {
  transform: scale(1);
}

.quickSendmessage {
  position: absolute;
  bottom: 30px;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  pointer-events: none;
  background-color: #ffa;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 0 #000;
  opacity: 0;
  transition: opacity 0.5s;
}

.teamPage-memberRow-actions .quickSendButton.mousehuntActionButton.tiny {
  max-width: 30px !important;
  margin: 0;
}

.mh-ui-quick-send-error,
.mh-ui-quick-send-success {
  position: absolute;
  bottom: -30px;
}

.friendsPage-community-hunterResult .quickSendWrapper {
  top: -55px;
  left: 35px;
}
