.userInteractionButtonsView-buttonGroup {
  position: relative;
}

.quickSendWrapper {
  position: absolute;
  top: -75px;
  right: -60%;
  left: -60%;
  z-index: 10;
  min-width: 150px;
  padding: 10px 15px;
  font-size: 10px;
  color: #000;
  text-align: center;
  background: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 2px 3px 4px #666;
}

.quickSendInput {
  width: 75px;
  padding: 1px;
}

.quickSendButton {
  cursor: pointer;
}

.quickSendWrapper img {
  width: 35px;
  height: auto;
}

.quickSendGoWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.itemsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.quickSendItemRadio {
  display: none;
}

.quickSendItem {
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.5;
}

.quickSendItem.selected {
  border-radius: 10px;
  outline: 1px solid #76d063;
  opacity: 1;
}

.quickSendItem:hover,
.quickSendItem:focus {
  opacity: 0.9;
}

.quickSendmessage {
  position: absolute;
  bottom: 50px;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  pointer-events: none;
  background-color: #ffa;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 0 #000;
  opacity: 0;
  transition: opacity 0.5s;
}
