.campPage-trap-friendContainer span,
.campPage-trap-trapEffectiveness span {
  color: #8e6642;
}

.journaltext .luckyCatch {
  color: #42802b;
}

.friendsPage-subduedLink {
  background-color: #747474;
}

.marketplaceHome-blockMenu {
  color: #757575;
}

.treasureMapRootView-footer-item-quantity {
  background: #6a6a74;
}
