/* Overflow location names */
.mh-location-ss_huntington_ii .mousehuntHud-environmentName,
.mh-location-pinnacle_chamber .mousehuntHud-environmentName,
.mh-location-great_gnarled_tree .mousehuntHud-environmentName,
.mh-location-rift_bristle_woods .mousehuntHud-environmentName {
  position: absolute;
  top: -5px;
  left: 0;
  padding: 4px 13px 3px 0;
  margin-top: 32px;
  overflow: visible;
  background: linear-gradient(1deg, #d8c8a0 1%, #ddcfaa 61%, #efe3ce);
  border-top-right-radius: 75px;
}
