body .mousehuntHud-menu .friends .team .icon {
  background-image: url(https://www.mousehuntgame.com/images/ui/hud/menu/team.png);
}

body .mousehuntHud-menu .scoreboards > a > .icon {
  background-image: url(https://www.mousehuntgame.com/images/ui/hud/menu/scoreboard.png);
}

body .mousehuntHud-menu .forum .icon {
  background-image: url(https://www.mousehuntgame.com/images/ui/hud/menu/forum.png);
}
