/* selector typo in HG css files */
.mousehuntHud-shield.larrys_football_challenge.golden {
  background-image: url(https://www.mousehuntgame.com/images/ui/elements/header_world_cup_golden_shield.png);
}

/* Don't hide the close button as much. */
.itemView-loading {
  z-index: 0;
  border-top-right-radius: 20px;
}

.PageNews {
  background-size: cover;
}
