/* Fix arrow outline showing */
.mousehuntTooltip.top .mousehuntTooltip-arrow::after {
  top: -16px;
}

.mousehuntTooltip.left .mousehuntTooltip-arrow::after {
  right: -6px;
}

.mousehuntTooltip.right .mousehuntTooltip-arrow::after {
  left: -6px;
}
