/* Fix arrow outline showing */
.mousehuntTooltip.top .mousehuntTooltip-arrow::after {
  top: -16px;
  left: -13px;
  border-width: 13px;
}

.mousehuntTooltip.left .mousehuntTooltip-arrow::after {
  right: -10px;
  bottom: -13px;
  border-width: 13px;
}

.mousehuntTooltip.right .mousehuntTooltip-arrow::after {
  bottom: -13px;
  left: -10px;
  border-width: 13px;
}

.mousehuntTooltip.bottom .mousehuntTooltip-arrow::after {
  bottom: -16px;
  left: -13px;
  border-width: 13px;
}
