.mh-ui-keyboard-shortcuts-popup-content h2 {
  margin-bottom: 10px;
}

.mh-ui-keyboard-shortcut {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
}

.mh-ui-keyboard-shortcut:last-child {
  border-bottom: none;
}

.mh-ui-keyboard-shortcut .description {
  flex-grow: 1;
  font-size: 11px;
}

.mh-ui-keyboard-shortcut kbd {
  width: 175px;
  height: 11px;
  padding: 3px;
  font-family: monospace;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow:
    0 1px rgb(0 0 0 / 20%),
    0 0 0 2px #fff inset;
}

.mh-ui-keyboard-shortcut .edit-controls {
  margin-right: 10px;
}

.mh-ui-keyboard-shortcut .edit-controls a {
  display: none;
}

.mh-ui-keyboard-shortcut .edit-controls .edit,
.mh-ui-keyboard-shortcuts-popup-content.editing .mh-ui-keyboard-shortcut.editing .edit-controls a,
.mh-ui-keyboard-shortcut:focus .edit-controls .reset,
.mh-ui-keyboard-shortcut:active .edit-controls .reset,
.mh-ui-keyboard-shortcut:focus .edit-controls .edit,
.mh-ui-keyboard-shortcut:active .edit-controls .edit,
.mh-ui-keyboard-shortcut:focus .edit-controls .clear,
.mh-ui-keyboard-shortcut:active .edit-controls .clear,
.mh-ui-keyboard-shortcut.editing .edit-controls .edit {
  display: inline-block;
  margin-left: 10px;
}

.mh-ui-keyboard-shortcuts-popup-content.editing .mh-ui-keyboard-shortcut .edit-controls a {
  display: none;
}

.mh-ui-keyboard-shortcut.saved kbd {
  background-color: #baf3ba;
  box-shadow:
    0 1px rgb(0 0 0 / 20%),
    0 0 0 2px #daffda inset;
}

.mh-ui-keyboard-shortcut.error kbd {
  background-color: #fda0a0;
  box-shadow:
    0 1px rgb(0 0 0 / 20%),
    0 0 0 2px #ff8e8e inset;
}

.mh-ui-keyboard-shortcut.editing kbd {
  background-color: #cce8ff;
  box-shadow:
    0 1px rgb(0 0 0 / 20%),
    0 0 0 2px #acd9ff inset;
}

.mh-ui-keyboard-shortcut.editing .description {
  color: #3b5998;
}

.mh-ui-keyboard-shortcut.editing {
  background-color: #eff8ff;
}

.mh-ui-keyboard-shortcuts-popup-content-category summary {
  padding: 10px;
  font-size: 14px;
  background-color: #eee;
}

.mh-ui-keyboard-shortcuts-popup-content-category {
  margin: 10px 0;
  border: 1px solid #929292;
}

.mh-ui-keyboard-shortcut:nth-child(even) {
  background-color: #eee;
}

.mh-ui-keyboard-shortcuts-popup-content-category-list {
  border-top: 1px solid #929292;
}
