.mh-ui-keyboard-shortcuts-popup-content h2 {
  margin-bottom: 10px;
}

.mh-ui-keyboard-shortcuts-popup-content-list {
  margin: 0 30px;
}

.mh-ui-keyboard-shortcut {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
}

.mh-ui-keyboard-shortcut:last-child {
  border-bottom: none;
}

.mh-ui-keyboard-shortcut .description {
  flex-grow: 1;
}

.mh-ui-keyboard-shortcut kbd {
  width: 160px;
  height: 15px;
  padding: 3px;
  font-family: monospace;
  font-size: 13px;
  text-align: center;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow:
    0 1px rgb(0 0 0 / 20%),
    0 0 0 2px #fff inset;
}

.mh-ui-keyboard-shortcut .edit-controls {
  margin-right: 10px;
}

.mh-ui-keyboard-shortcut .edit-controls a {
  display: none;
}

.mh-ui-keyboard-shortcuts-popup-content.editing .mh-ui-keyboard-shortcut.editing .edit-controls a,
.mh-ui-keyboard-shortcut:hover .edit-controls .reset,
.mh-ui-keyboard-shortcut:focus .edit-controls .reset,
.mh-ui-keyboard-shortcut:active .edit-controls .reset,
.mh-ui-keyboard-shortcut:hover .edit-controls .edit,
.mh-ui-keyboard-shortcut:focus .edit-controls .edit,
.mh-ui-keyboard-shortcut:active .edit-controls .edit,
.mh-ui-keyboard-shortcut:hover .edit-controls .clear,
.mh-ui-keyboard-shortcut:focus .edit-controls .clear,
.mh-ui-keyboard-shortcut:active .edit-controls .clear,
.mh-ui-keyboard-shortcut.editing .edit-controls .edit {
  display: inline-block;
  margin-left: 10px;
}

.mh-ui-keyboard-shortcuts-popup-content.editing .mh-ui-keyboard-shortcut .edit-controls a {
  display: none;
}

.mh-ui-keyboard-shortcut.saved kbd {
  background-color: #baf3ba;
  box-shadow:
    0 1px rgb(0 0 0 / 20%),
    0 0 0 2px #daffda inset;
}

.mh-ui-keyboard-shortcut.error kbd {
  background-color: #fda0a0;
  box-shadow:
    0 1px rgb(0 0 0 / 20%),
    0 0 0 2px #ff8e8e inset;
}

.mh-ui-keyboard-shortcut.editing kbd {
  background-color: #cce8ff;
  box-shadow:
    0 1px rgb(0 0 0 / 20%),
    0 0 0 2px #acd9ff inset;
}

.mh-ui-keyboard-shortcut.editing .description {
  color: #125c99;
}

.mh-ui-keyboard-shortcut.editing {
  background-color: #eff8ff;
}
