.journal .relicHunter_slayer_aura_relic_bonus {
  background-image: url(https://www.mousehuntgame.com/images/items/collectibles/large/a6e804d0d9eeb22ff01660a144521ff1.png);
  background-repeat: no-repeat;
  background-size: 45px !important;
}

.journal .entry.generic_falure,
.journal .entry.pollutinum_stolen {
  background: #ffbfbf;
}

.journal .entry.travel {
  background-color: #f4eed0;
}

.journal .content .captchasolved {
  background-image: url(https://i.mouse.rip/puzzlenew.png);
}

.journal .entry.adventureBook-journal li {
  margin-left: 15px;
}

.journal .entry.adventureBook-journal.goal {
  background-color: #89defe;
}

.journal .entry.adventureBook-journal .journaltext b {
  font-weight: 900;
}

.journal .entry.adventureBook-journal .journaltext b:first-of-type {
  font-weight: 400;
}
