#OnboardArrow.onboardPopup.top .canShare:not(.firstCatch, .titlechange) .larryTip {
  bottom: 118px;
  display: flex;
  flex-flow: row wrap;
  height: auto;
}

#OnboardArrow.onboardPopup.top .canShare .content {
  padding-top: 20px;
}
