.journal .content .entry .journalbody .journaldate {
  display: flex;
  justify-content: space-between;
}

.history-timestamp {
  text-align: right;
}

.journal-history-page-selector {
  position: absolute;
  top: 30px;
  right: -50px;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 5px 10px;
  background-color: #eee;
  border: 1px solid #5b5b5b;
  border-radius: 0 0 10px 10px;
}

.pagerView-section.current.page-selector {
  position: relative;
}

.journal-history-page-selector .page-input {
  width: 40px;
  text-align: center;
  border: 1px solid #5b5b5b;
}

.history-timestamp::after {
  display: none;
}
