.entry.short.misc.custom.refine_pollutinum .journaltext a::before {
  display: none;
}

.entry.short.misc.custom.refine_pollutinum .journaltext a {
  padding: 0;
}

.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=map_clue_stat_item"]::before
{
  left: 1px;
}
