.eggMasterIcon.mh-improved-egg-master-icon {
  position: absolute;
  top: 17px;
  right: -8px;
  z-index: 1;
  float: none;
  width: 30px;
  height: 30px;
  background-image: url(https://www.mousehuntgame.com/images/items/convertibles/large/f28a4a667993ce8ffa65356b69d768d2.png);
  background-size: cover;
}

.mh-improved-egg-master-icon .mousehuntTooltip {
  top: 40px;
  left: -30px;
  width: 90px;
  text-align: center;
}

.mh-improved-fancy-profile .eggMasterIcon.mh-improved-egg-master-icon {
  margin-top: 18px;
  margin-right: -6px;
  background-image: url(https://www.mousehuntgame.com/images/items/convertibles/large/a6c4f3f31d71dffec00210da0e1dd13a.png);
}
