/* adventure book status */
.adventureBookBanner-container {
  padding-bottom: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  line-height: 16px;
  background-color: #fbf8f6;
  border: 1px solid #d3cecb;
  border-radius: 3px;
  box-shadow: inset -1px 1px 3px 0 #d3cecb;
}

.adventureBookBanner-adventureName,
.mh-dark-mode .pageFrameView #mousehuntContainer.PageCamp .adventureBookBanner-adventureName {
  padding: 15px 5px 0;
  margin-left: 75px;
  overflow: hidden;
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  line-height: 15px;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: transparent;
  border-radius: 0;
}

.mh-dark-mode .adventureBookBanner-container {
  color: #000;
  background-color: #999;
  border: 1px solid #d3cecb;
  border-radius: 3px;
  box-shadow: inset -1px 1px 3px 0 #888;
}

.adventureBookBanner-adventureName span {
  display: none;
}

.adventureBookBanner-goalContainer {
  right: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: none;
  box-shadow: none;
}

.adventureBookPopup-adventureContainer.highlight {
  margin-right: 5px;
  margin-bottom: 10px;
  box-shadow: none;
}

.adventureBookBanner-adventureImage {
  background-image: none !important;
}

.adventureBookBanner-goalPadding {
  margin-left: 75px;
}

.adventureBookBanner-goalImage {
  position: absolute;
  top: -25px;
  left: 10px;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  box-shadow: none;
}

.adventureBookBanner-goalName {
  width: auto;
  height: auto;
  max-height: 35px;
}

.adventureBookBanner-goalEnvironment {
  display: inline;
}

.adventureBookBanner-goalName-padding .adventureBookBanner-goalEnvironment::before {
  content: ". ";
}

.adventureBookBanner-moreInfo {
  position: absolute;
  right: 5px;
  bottom: -10px;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 1px;
  padding-left: 10px;
  font-size: 9px;
  color: #3b5998;
  background: none;
  box-shadow: none;
}

.adventureBookBanner-completed b {
  font-size: 10px;
}

.adventureBookBanner-completed {
  top: 0;
  bottom: 20px;
  left: 75px;
  background: none;
  box-shadow: none;
}

.adventureBookBanner-completedCheckmark {
  top: -10px;
  background-color: #fff;
  box-shadow:
    0 0 10px #94ff65,
    0 0 10px #94ff65;
}

.adventureBookBanner-goalName-padding {
  display: block;
  width: auto;
  height: auto;
}

.adventureBookBanner-goalName-padding span {
  display: block;
}

.adventureBookBanner-moreInfo::after {
  content: " →";
}

.adventureBookBanner-container:hover .adventureBookBanner-moreInfo {
  color: #3b5998;
  text-decoration: underline;
  text-shadow: none;
  background: none;
  box-shadow: none;
}

.adventureBookBanner-goalWrapper.multi_choice.spacer {
  min-width: 30px;
}

.adventureBookPopup-adventure-details-block.requirements .adventureBookPopup-adventure-details-block-step.incomplete {
  box-shadow: 0 1px 2px 1px #5c1c1c;
}

.adventureBookPopup-adventure-details-environment-image {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.adventureBookBanner-complete .adventureBookBanner-adventureName {
  display: none;
}

.adventureBookBanner-complete .adventureBookBanner-completedCheckmark {
  top: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  box-shadow: none;
}

.adventureBookBanner-complete .adventureBookBanner-completed {
  font-size: 11px;
}

.adventureBookBanner-complete .adventureBookBanner-completed b {
  margin-bottom: 5px;
  font-size: 13px;
}

.adventureBookBanner-complete .adventureBookBanner-moreInfo {
  top: unset;
}

a.adventureBookPopup-title {
  display: block;
  height: auto;
  margin-bottom: 4px;
  margin-left: 10px;
  text-align: right;
  background: #eee;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 10px 0 0 10px;
}

.adventureBookPopup-title-margin {
  padding: 3px 15px;
}

.mh-dark .adventureBookPopup-title-margin {
  color: var(--d-text);
}

.mh-dark .adventureBookPopup-adventure-header-title,
.mh-dark .adventureBookPopup-adventure-header-duration {
  color: var(--d-black);
}

img.adventureBookPopup-title-icon {
  left: 5px;
  height: 20px;
}

.adventureBookPopup-title.complete .adventureBookPopup-title-status {
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  padding: 2px;
  background: url(https://www.mousehuntgame.com/images/ui/hud/meadow_checkmark.png) 0 0 no-repeat;
  background-color: rgb(238 238 238 / 50%);
  background-size: cover;
  border-radius: 50px;
}

.adventureBookPopup-title-name {
  padding-left: 16px;
  margin: 0;
}

a.adventureBookPopup-title:hover {
  background: #dfdcdc;
}

a.adventureBookPopup-title.active {
  color: #fff;
  background: #354661;
}

.adventureBookPopup-title.active .adventureBookPopup-title-icon {
  top: 6px;
  left: 5px;
}

.adventureBookPopup-titleDirectory {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -5px;
  margin-bottom: 5px;
  border-right: 1px solid #ccc;
}

.adventureBookPopup-header-title {
  margin-bottom: 5px;
}

.adventureBookPopup-adventureContainer.canClaim .adventureBookPopup-adventure-footer {
  box-shadow: -120px 0 50px #6bff75 inset;
}

.adventureBookPopup-adventureContainer.claimed .adventureBookPopup-adventure-footer-claim.adventureBookPopup-adventure-button {
  background-color: #35751a;
  border: 1px solid #158f00;
  box-shadow: none;
}

.adventureBookPopup-adventureContainer.claimed .adventureBookPopup-adventure-image-status {
  background-color: transparent;
  filter: drop-shadow(2px 2px 4px #94ff65);
  box-shadow: none;
}

.adventureBookPopup-adventureContainer {
  margin-right: 5px;
  border-color: #ccc;
  border-radius: 5px;
}

.adventureBookPopup-adventure-header {
  padding: 10px;
  background-color: #eee;
  border-radius: 5px 5px 0 0;
}

.adventureBookPopup-adventure-header-accordion {
  top: 14px;
  filter: brightness(0.4);
  opacity: 0.6;
}

.adventureBookPopup-adventureContainer.available .adventureBookPopup-adventure-favorite {
  top: 6px;
}

.adventureBookPopup-adventure-details-block-step.multi_choice,
.adventureBookPopup-adventure-details-block-step.powerCharm {
  background-color: #ffc20a;
}

.adventureBookPopup-adventure-details-block-step-checkmark {
  border: 1px solid #ababab;
  box-shadow: none;
}

.adventureBookPopup-adventure-details-block-goalGroup-container {
  border-color: #171717;
}

.adventureBookPopup-adventure-footer-claim-reward abbr {
  text-decoration: none;
}

.adventureBookPopup-adventure-details-powerTypeContainer {
  margin: 10px 0;
}

.claimed .adventureBookPopup-adventure-header {
  color: #fff;
  text-shadow: 0 1px 1px #000;
  background: #62aa42;
}

.adventureBookPopup-adventure-footer {
  border-radius: 0 0 5px 5px;
}

.highlight .adventureBookPopup-adventure-header,
.highlight .adventureBookPopup-adventure-footer {
  background-color: #fff0c2;
}

.adventureBookPopup-adventure-button.disabled {
  opacity: 0.6;
}

.adventureBookPopup-adventure-header-duration {
  font-size: 13px;
}

.adventureBookPopup-adventure-details-description-reason {
  display: none;
}

.adventureBookPopup-adventure-details-block-step-name {
  padding-right: 5px;
}

.adventureBookPopup-adventure-details-powerType.physical:nth-child(2) {
  padding-left: 20px;
}

.adventureBookPopup-adventure-footer-claim-reward-image {
  filter: drop-shadow(0 1px 0 #478b2a);
}

.adventureBookBanner-goalName-padding span a {
  color: inherit;
}
