.treasureMapRootView .messageBoardView .messageBoardView-message-container-padding,
.teamPage-messageBoard-corkboard .messageBoardView-message-container-padding,
.PageHunterProfile .messageBoardView-message-container-padding {
  background: none;
}

.treasureMapRootView .messageBoardView div.messageBoardView-message-container,
.teamPage-messageBoard-corkboard div.messageBoardView-message-container,
.hunterInfoView-wrapper div.messageBoardView-message-container {
  margin: 0;
  background: #e9e1c6;
  border: 1px solid #985f42;
  border-radius: 10px;
  box-shadow: -1px 2px 1px #a59f8e;
}

.teamPage-messageBoard-corkboard div.messageBoardView-message-container {
  background: #e2d6b5;
  border-color: #af9969;
  box-shadow: 1px 1px 1px #e2d6b5 inset;
}

.treasureMapRootView .messageBoardView div.messageBoardView-message-container,
.teamPage-messageBoard-corkboard .messageBoardView-message-container {
  background: #eee;
  border-color: #ccc;
  border-radius: 0;
  box-shadow: none;
}

.mh-dark-mode .treasureMapRootView .messageBoardView div.messageBoardView-message-container,
.mh-dark-mode .teamPage-messageBoard-corkboard .messageBoardView-message-container {
  background: #333;
  border-color: #0c0c0c;
}

.treasureMapRootView .messageBoardView .messageBoardView-message,
.teamPage-messageBoard-corkboard .messageBoardView-message,
.hunterInfoView-corkBoardBlock .messageBoardView-message {
  background: #fff;
  border: 1px solid #bea87b;
  border-radius: 8px;
  box-shadow: none;
}

.teamPage-messageBoard-corkboard .messageBoardView-message.new,
.hunterInfoView-corkBoardBlock div.messageBoardView-message.new {
  border: 1px solid #bea87b !important;
}

.treasureMapRootView .messageBoardView div.messageBoardView-message.new {
  border: 1px solid #ccc !important;
}

.mh-dark-mode .treasureMapRootView .messageBoardView div.messageBoardView-message.new {
  border-color: #2e2e2e !important;
}

.treasureMapRootView .messageBoardView input.messageBoardView-message-submit,
.teamPage-messageBoard-corkboard input.messageBoardView-message-submit,
.hunterInfoView-corkBoardBlock input.messageBoardView-message-submit {
  margin: 6px 0;
}

input.messageBoardView-message-submit {
  padding: 2px 15px;
  line-height: 18px;
  color: #000;
  text-shadow: 0 0 1px #fff;
  background-color: #f4e830;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow:
    0 -5px 8px -2px #ffae00 inset,
    1px 1px 1px #eee;
}

.treasureMapRootView .messageBoardView .messageBoardView-message-description,
.teamPage-messageBoard-corkboard .messageBoardView-message-description,
.hunterInfoView-corkBoardBlock .messageBoardView-message-description {
  padding-top: 12px;
}

.treasureMapRootView .messageBoardView a.messageBoardView-message-image,
.teamPage-messageBoard-corkboard a.messageBoardView-message-image,
.hunterInfoView-corkBoardBlock a.messageBoardView-message-image {
  border: 1px solid #ccc;
  box-shadow: none;
}

.treasureMapRootView .messageBoardView a.messageBoardView-message-name,
.teamPage-messageBoard-corkboard a.messageBoardView-message-name,
.hunterInfoView-corkBoardBlock a.messageBoardView-message-name {
  display: block;
  padding-bottom: 5px;
}

.treasureMapRootView .messageBoardView .messageBoardView-message-submitted,
.teamPage-messageBoard-corkboard .messageBoardView-message-submitted,
.hunterInfoView-corkBoardBlock .messageBoardView-message-submitted {
  color: #767676;
}

.treasureMapRootView .messageBoardView .messageBoardView-message-body,
.teamPage-messageBoard-corkboard .messageBoardView-message-body,
.hunterInfoView-corkBoardBlock .messageBoardView-message-body {
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  color: #454545;
}

.treasureMapRootView .messageBoardView .messageBoardView-message::after,
.teamPage-messageBoard-corkboard .messageBoardView-message::after,
.hunterInfoView-corkBoardBlock .messageBoardView-message::after {
  display: none;
}

.treasureMapRootView .messageBoardView .pagerView-section.previous .pagerView-link,
.teamPage-messageBoard-corkboard .pagerView-section.previous .pagerView-link,
.hunterInfoView-corkBoardBlock .pagerView-section.previous .pagerView-link {
  color: #525252;
}

a.messageBoardView-message-image {
  background-position: center;
  background-size: cover;
}

a.messageBoardView-message-delete {
  color: transparent;
}

a.messageBoardView-message-delete::after {
  font-size: 16px;
  color: #e03a3a;
  content: "✕";
}

a.messageBoardView-message-delete:hover::after,
a.messageBoardView-message-delete:focus::after {
  color: #b72929;
}

.friendsProfileView-selfStats {
  padding-top: 15px;
}

.mh-dark-mode .pageFrameView .hunterInfoView-wrapper .hunterInfoView-left a.friendsProfileView-randomFriend {
  color: #242424;
}

.mh-dark-mode .pageFrameView .hunterInfoView-wrapper .messageBoardView-title {
  color: #242424;
}

.mh-dark-mode .treasureMapRootView .messageBoardView .messageBoardView-message-body,
.mh-dark-mode .teamPage-messageBoard-corkboard .messageBoardView-message-body,
.mh-dark-mode .hunterInfoView-corkBoardBlock .messageBoardView-message-body {
  color: #000;
}
