.MiniEventGiveawayCampHUD-popup-content-prize-name span {
  font-size: 11px;
}

.MiniEventGiveawayCampHud-popup-recruit-info {
  padding: 10px;
  color: #939393;
}

.QuestKingsGiveawayCampHUD__dialogItem .quantity {
  color: #000;
}

.QuestKingsGiveawayCampHUD__dialogItem .itemImage {
  border: none;
}

.QuestKingsGiveawayCampHUD__dialog {
  color: #fff;
  background: #7e35c2;
}

.QuestKingsGiveawayCampHUD__tabContent {
  height: auto;
  min-height: 515px;
  max-height: 765px;
}

.QuestKingsGiveawayCampHUD__scoreboard table {
  overflow: hidden;
  border-radius: 10px;
}

.QuestKingsGiveawayCampHUD__scoreboard tbody td:last-child {
  font-size: 13px;
}

.QuestKingsGiveawayCampHUD__scoreboard tbody td {
  font-size: 12px;
}

.QuestKingsGiveawayCampHUD__scoreboardTitle.Recruit::after {
  display: none;
}

.QuestKingsGiveawayCampHUD__scoreboard thead th img {
  width: 50px;
  margin-bottom: 5px;
}

.QuestKingsGiveawayCampHUD__prizeKeyQuantity {
  font-size: 15px;
}

.QuestKingsGiveawayCampHUD__vaultInfoThumbnail {
  width: 75px;
  height: 75px;
}

.QuestKingsGiveawayCampHUD__tabButton span {
  opacity: 0.8;
}

.QuestKingsGiveawayCampHUD__vaultPrizeButton:nth-child(1):hover {
  filter: drop-shadow(-5px 0 5px #7b67aa);
}

.QuestKingsGiveawayCampHUD__vaultPrizeButton:nth-child(3):hover {
  filter: drop-shadow(5px 0 5px #7b67aa);
}

.QuestKingsGiveawayCampHUD__vaultPrizeButton:nth-child(1),
.QuestKingsGiveawayCampHUD__vaultPrizeButton:nth-child(3) {
  transform-origin: center;
}

.QuestKingsGiveawayCampHUD__vaultPrizeButton--selected {
  z-index: 1;
  background-color: #0ffd59;
  filter: drop-shadow(0 2px 5px #7b67aa);
  transform: scale(1.2);
}

.QuestKingsGiveawayCampHUD__claimVaultPrizeButton {
  margin-top: 10px;
}

.QuestKingsGiveawayCampHUD-dateCountdownMiniContainer {
  top: -5px;
  right: 65px;
  left: unset;
}

.QuestKingsGiveawayCampHUD__vaultDoor {
  transition: 0.3s ease-out;
}

.QuestKingsGiveawayCampHUD__vaultDoor:hover {
  transform: translate(-50%, -50%) rotate(3deg);
}

.QuestKingsGiveawayCampHUD__vaultDoor:active {
  transform: translate(-50%, -50%) rotate(10deg);
}

.QuestKingsGiveawayCampHUD::after {
  background-image: url(https://i.mouse.rip/kings_giveaway-journal_buttons.png);
}

.QuestKingsGiveawayCampHUD::before {
  background-image: url(https://www.mousehuntgame.com/images/items/stats/large/6391b886b424174996329aa1eb186a10.png);
  transform-origin: center;
}

.QuestKingsGiveawayCampHUD__icon {
  background-image: url(https://i.mouse.rip/kings_giveaway_vault-icon.png);
}

.QuestKingsGiveawayCampHUD__title {
  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  font-weight: 900;
  text-shadow:
    0 0 1px #000,
    0 0 1px #fede92;
  filter: saturate(0.1);
}

.QuestKingsGiveawayCampHUD__prizePixel.canClaim .QuestKingsGiveawayCampHUD__tile {
  filter: none;
}

.QuestKingsGiveawayCampHUD__openSinglePrizePackButton.mousehuntActionButton.small {
  top: 49%;
  padding: 10px;
  font-weight: 900;
}

.QuestKingsGiveawayCampHUD__prizeWheel {
  background: #463519;
  border-radius: 50%;
  box-shadow: 0 5px 9px 10px #000;
}

.QuestKingsGiveawayCampHUD__prizePixel:nth-child(1) .QuestKingsGiveawayCampHUD__icon {
  top: -13px;
  left: -2px;
}

.QuestKingsGiveawayCampHUD__prizePixel:nth-child(2) .QuestKingsGiveawayCampHUD__icon {
  top: -13px;
  left: -3px;
}

.QuestKingsGiveawayCampHUD__prizePixel:nth-child(3) .QuestKingsGiveawayCampHUD__icon {
  top: -14px;
}

.QuestKingsGiveawayCampHUD__prizePixel:nth-child(4) .QuestKingsGiveawayCampHUD__icon {
  top: -7px;
}

.QuestKingsGiveawayCampHUD__prizePixel:nth-child(5) .QuestKingsGiveawayCampHUD__icon {
  top: -4px;
}

.QuestKingsGiveawayCampHUD__prizePixel:nth-child(6) .QuestKingsGiveawayCampHUD__icon {
  top: 10px;
  left: -2px;
}

.QuestKingsGiveawayCampHUD__prizePixel:nth-child(7) .QuestKingsGiveawayCampHUD__icon {
  top: 1px;
}

.QuestKingsGiveawayCampHUD__prizePixel:nth-child(8) .QuestKingsGiveawayCampHUD__icon {
  top: -7px;
}

.QuestKingsGiveawayCampHUD__prizePixel:nth-child(9) .QuestKingsGiveawayCampHUD__icon {
  top: -10px;
}

.QuestKingsGiveawayCampHUD__prizePixel:nth-child(10) .QuestKingsGiveawayCampHUD__icon {
  top: -13px;
}

.QuestKingsGiveawayCampHUD:hover::before {
  animation: 0.4s mh-improved-shake 1;
}

.QuestKingsGiveawayCampHUD__prizePixel:hover {
  animation: 1.4s mh-improved-glow infinite;
}

@media (prefers-reduced-motion: reduce) {
  .QuestKingsGiveawayCampHUD:hover::before,
  .QuestKingsGiveawayCampHUD__prizePixel:hover {
    animation: none;
  }
}

.QuestKingsGiveawayCampHUD__scoreboard thead th:nth-of-type(2),
.QuestKingsGiveawayCampHUD__scoreboard thead th:nth-of-type(3),
.QuestKingsGiveawayCampHUD__scoreboard thead th:nth-of-type(4),
.QuestKingsGiveawayCampHUD__scoreboard thead th:nth-of-type(5),
.QuestKingsGiveawayCampHUD__scoreboard thead th:nth-of-type(6) {
  vertical-align: top;
}

.QuestBigJaqLilJillPopup-block-item-image {
  background-color: transparent;
}

.QuestBigJaqLilJillPopup-block-item-content b {
  padding: 2px 0;
}

.QuestBigJaqLilJillPopup-title {
  width: 75%;
  margin-left: 12%;
}

.QuestBigJaqLilJillPopup-dateCountdownContainer .dateCountdown__progressBar__icon {
  background-image: url(https://www.mousehuntgame.com/images/ui/events/big_jack/big_jaq_popup_portrait.png);
}
