/* Align the footer contents better */
.pageFrameView-footer {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  margin: -40px 55px 0 70px;
  line-height: 17px;
}

.pageFrameView-footer a img {
  width: auto;
  max-height: 25px;
  margin: 5px 10px 0 0;
  opacity: 0.2;
  transition: 0.2s ease-in;
}

.pageFrameView-footer a:nth-child(4) {
  margin-right: auto;
}

.pageFrameView-footer a:nth-child(4) img {
  filter: sepia(1);
  opacity: 0.7;
}

.pageFrameView-footer:hover a img,
.pageFrameView-footer:hover a:nth-child(4) img {
  filter: none;
  opacity: 1;
}

.pageFrameView-footer-linksContainer {
  display: block;
  width: auto;
  margin-right: auto;
  font-weight: 900;
}

.pageFrameView-footer br {
  display: none;
}

.pageFrameView-footer-ad {
  position: absolute;
  right: -40px;
  bottom: -160px;
  left: -60px;
}

.mousehuntFooter {
  position: relative;
  margin-top: 0;
  border-top: none;
}

.pageFrameView-content {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* Hide the version number */
.mousehuntFooter-image {
  display: flex;
  flex-direction: row-reverse;
  color: transparent;
  background: url(https://i.mouse.rip/footer.png?1) no-repeat top center;
  border-top: none;
  border-bottom: none;
  border-radius: 5px;
}

.mousehuntFooter-image::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 44px;
  content: "";
  box-shadow: inset 0 -4px 7px -6px #755e40;
}

.mousehuntFooter-toggleMobile {
  position: absolute;
  display: flex;
  align-items: center;
  width: 0;
  height: 0;
  color: transparent;
  opacity: 0.4;
  transition: 0.3s;
  transform-origin: center;
}

.mousehuntFooter-toggleMobile:hover {
  opacity: 1;
}

.mousehuntFooter-toggleMobile::after {
  position: absolute;
  inset: -15px 0 0 -30px;
  display: block;
  width: 28px;
  height: 28px;
  padding: 8px;
  margin: 0;
  font-size: 11px;
  font-weight: 100;
  line-height: 10px;
  color: #000;
  text-align: center;
  content: "";
  background-image: url(https://www.mousehuntgame.com/images/ui/hud/menu/camp.png?asset_cache_version=2);
  filter: grayscale(1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
