.sendMapInvite .userInteractionButtonsView-button-buttonOptionContainer .userInteractionButtonsView-button-buttonOption-name {
  padding: 3px 3px 8px;
  margin: -3px;
  font-size: 10px;
  line-height: 11px;
}

.sendMapInvite .userInteractionButtonsView-button-buttonOptionContainer .userInteractionButtonsView-button-buttonOption-image {
  padding-top: 2px;
  margin-top: 2px;
}

.sendMapInvite .mousehuntTooltip.top.tight.hasBuffer {
  font-size: 11px;
}

.sendMapInvite .userInteractionButtonsView-button-buttonOptionContainer .userInteractionButtonsView-button-buttonOption::before {
  background: none;
}

.sendMapInvite .userInteractionButtonsView-button-buttonOptionContainer:hover .userInteractionButtonsView-button-buttonOption:hover .userInteractionButtonsView-button-buttonOption-image, /* stylelint-disable-line prettier/prettier */
.sendMapInvite .userInteractionButtonsView-button-buttonOptionContainer:hover .userInteractionButtonsView-button-buttonOption:hover .userInteractionButtonsView-button-buttonOption-name {
  background-color: #eaf6ea;
}

.friendsPage-community-channel.friends-page-id-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dcf7ff;
  border: 1px solid #a1a1a1;
  box-shadow: 0 1px 2px -1px #b5b5b5;
}

.friends-page-id-search .friendsPage-community-channel-text {
  display: none;
}

.friends-page-id-search .friendsPage-community-channel-action {
  position: relative;
  right: 0;
  margin: 0;
}

.friends-page-id-search input.friendsPage-community-hunterIdForm-input {
  width: 175px;
  padding: 5px;
  border: 1px solid #767676;
}

.friends-page-id-search .friendsPage-community-channel-hunterId {
  display: none;
}

.friends-page-id-search label {
  padding: 0;
}

.friends-page-id-search form.friendsPage-community-hunterIdForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.friendsPage-friendRow-stat-label {
  display: none;
}

.friendsPage-friendRow-stat.online .friendsPage-friendRow-stat-label {
  display: inline-block;
}

.friendsPage-friendRow-stat.map span {
  width: 180px;
}

.friendsPage-friendRow-stat.points,
.friendsPage-friendRow-stat.gold {
  width: 16%;
}

.friendsPage-friendRow-stat.map {
  width: 28%;
}

.friendsPage-friendList-content .friendsPage-friendRow-content {
  width: calc(100% - 125px);
}

.friendsPage-list-filter[data-filter="environment_id"] .friendsPage-list-filter-label,
.friendsPage-list-filter[data-filter="snuid"] .friendsPage-list-filter-label {
  user-select: none;
}

.mousehuntHud-page-subTabContent.community .mousehuntCharacterGuideBox {
  background-image: url(https://www.mousehuntgame.com/images/ui/onboarding/info_arrow_larry.png);
  background-position: center top;
  background-size: 140px;
}
