/* General styles */
#mousehuntContainer.PageCamp {
  background: url(https://i.mouse.rip/bg-wood.png);
  box-shadow: inset 0 0 8px 0 #755e40;
}

.campPage-trap-friendList.full,
.campPage-trap-itemStats,
.campPage-trap-trapEffectiveness,
.campPage-trap-armedItem,
.campPage-trap-armedItem.bait,
.campPage-trap-armedItem.bait.inactive,
.campPage-trap-armedItem.skin,
.campPage-trap-armedItem.mh-favorite-setups-button {
  border: 1px solid #d3cecb;
  border-radius: 3px;
  box-shadow: -1px 1px 3px 0 #d3cecb inset;
}

.campPage-trap-armedItem:hover,
.campPage-trap-armedItem:focus,
.campPage-trap-armedItem.inactive:hover,
.campPage-trap-armedItem.inactive:focus,
.campPage-trap-armedItem.active:hover,
.campPage-trap-armedItem.active:focus {
  background-color: #e9e6df;
}

.campPage-trap-armedItem.active,
.campPage-trap-armedItem.skin.active {
  top: 0;
}

.mh-favorite-setups-button.campPage-trap-armedItem.active,
.campPage-trap-armedItem.active {
  background-color: #e9e6df;
}

.campPage-trap-friendList.full {
  background-color: #fbf8f6;
}

.campPage-trap-armedItem.weapon .campPage-trap-armedItem-image,
.campPage-trap-armedItem.base .campPage-trap-armedItem-image {
  background-position: -1px -1px;
  background-size: 72px;
}

span.campPage-trap-baitQuantity {
  right: -1px;
  bottom: -1px;
  border-color: #d3cecb;
  border-right: none;
  border-bottom: none;
}

/* recipe page */
.mousehuntHud-page-tabContent.crafting .mousehuntHud-page-subTabContent {
  padding: none;
  background: none;
  border: none;
  box-shadow: none;
}

.mousehuntHud-page-tabContent.crafting .mousehuntHud-page-subTabContent-margin {
  padding: 0;
  border: none;
  box-shadow: none;
}

/* subtabs */
.mousehuntHud-page-subTabContent-prefix-filter-options {
  border: 1px solid #8595b0;
  border-radius: 10px;
}

.active.mousehuntHud-page-subTabContent-prefix-filter-option:first-child {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.active.mousehuntHud-page-subTabContent-prefix-filter-option:last-child {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

a.mousehuntHud-page-subTabContent-prefix-filter-option {
  border: 1px solid #8595b0;
  border-top: none;
  border-bottom: none;
}

.mousehuntHud-page-subTabContent-prefix-filter-option:first-child,
.mousehuntHud-page-subTabContent-prefix-filter-option:last-child {
  border: none;
}

.mousehuntHud-page-subTabHeader.active span,
.mousehuntHud-page-subTabHeader:hover span,
.mousehuntHud-page-subTabHeader:focus span {
  color: #fff;
  background-color: #8595b0;
  box-shadow: none;
}

.mousehuntHud-page-subTabHeader span {
  color: #3b5998;
  background: none;
  border-color: #3b5998;
}

.mousehuntHud-page-subTabHeader-prefix,
.mousehuntHud-page-subTabContent-prefix-filter span:first-child {
  display: none;
}

.mousehuntHud-page-subTabHeader-container {
  text-align: center;
}

.mousehuntHud-page-subTabContent-prefix.clear-block {
  margin-left: 30px;
}

/* hunters profile */
.mouseCrownsView-group-mice.favourites > .empty ~ .empty {
  display: none;
}

.scoreboardTableView-availableScoreboards {
  width: 180px;
}

/* Gift window spacing */
.giftSelectorView-content-subtitle {
  padding: 10px 0;
}

/* Team member */
.teamPage-memberRow-identity .teamPage-member-nameContainer {
  width: auto;
}

/* make armed cheese button more visible */
.mousehuntArmNowButton.active {
  filter: hue-rotate(104deg);
}

.mousehuntArmNowButton.active:hover {
  filter: hue-rotate(104deg) brightness(1.2);
}

.mousehuntArmNowButton {
  filter: brightness(1);
}

.mousehuntArmNowButton:hover {
  filter: brightness(1.2);
}

/* make menu sb bold */
.mousehuntHeaderView a.superBrie .quantity {
  font-weight: 600;
}

/* speed up horn transition and make it bigger and stuff */
a.huntersHornView__horn.huntersHornView__horn--default.huntersHornView__horn--ready:hover {
  transition: all .2s .15s;
}

a.huntersHornView__horn.huntersHornView__horn--default.huntersHornView__horn--ready .huntersHornView__hornBannerImage {
  transition: all .6s;
}

a.huntersHornView__horn.huntersHornView__horn--default.huntersHornView__horn--ready:hover .huntersHornView__hornBannerImage {
   filter: saturate(1.8);
}

/* bigger menu icons */
.mousehuntHud-menu ul li ul li a .icon {
  top: 5px;
  left: 2px;
  width: 22px;
  height: 22px;
}

/* events */

/* ronza */
.MiniEventRonzaChromeBitCampHUD-completeQuantity.MiniEventRonzaChromeBitCampHUD-chromeBitQuantity {
  padding: 2px 3px;
  font-size: 13px;
}

/* cleaner trap image on camp page, hide auras a LE until hovered */
.trapImageView-layer.limitedEdition {
  top: unset;
  bottom: -270px;
  left: -135px;
  background-size: 200px;
}

.trapImageView-layer.limitedEdition,
.trapImageView-trapAura,
.trapImageView-trapAura.active,
.trapImageView-trapAura.inactive,
.trapImageView-zoomButton {
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.trapImageView:hover .trapImageView-layer.limitedEdition,
.trapImageView:hover .trapImageView-trapAura,
.trapImageView:hover .trapImageView-trapAura.active,
.trapImageView:hover .trapImageView-trapAura.inactive,
.trapImageView:hover .trapImageView-zoomButton {
  opacity: 1;
}

/* fix zoom button position */
a.trapImageView-zoomButton {
  top: 85%;
}

/* mousepage styles */
.mousehuntHud-page-subTabContent.group .header .mouseListView-categoryContent-subgroup-mouse-stats.catches,
.mousehuntHud-page-subTabContent.group .header .mouseListView-categoryContent-subgroup-mouse-stats.misses {
  width: 12%;
}

.mousehuntHud-page-subTabContent.group .header .mouseListView-categoryContent-subgroup-mouse-stats.name {
  width: 36%;
}

.mousehuntHud-page-subTabContent.group .header .mouseListView-categoryContent-subgroup-mouse-stats.average_weight,
.mousehuntHud-page-subTabContent.group .header .mouseListView-categoryContent-subgroup-mouse-stats.heaviest_catch {
    width: 20%;
}

.mousehuntHud-page-subTabContent.location .header .mouseListView-categoryContent-subgroup-mouse-stats.catches,
.mousehuntHud-page-subTabContent.location .header .mouseListView-categoryContent-subgroup-mouse-stats.misses {
    width: 13%;
}

.mousehuntHud-page-subTabContent.location .header .mouseListView-categoryContent-subgroup-mouse-stats.average_weight,
.mousehuntHud-page-subTabContent.location .header .mouseListView-categoryContent-subgroup-mouse-stats.heaviest_catch {
  width: 15%;
  text-align: center;
}

/* team hover */
.hunterInfoView-idCardTooltipBox-content {
  min-width: 80px;
  text-align: center;
}

.journalThemeSelectorView-preview {
  min-height: 785px;
}

a.inventoryPage-tagDirectory-tag {
  border: 1px solid #ccc;
  border-right: none;
}

.inventoryPage-tagDirectory-tag:hover {
  background-color: #dfdcdc;
  box-shadow: 0 0 1px 0 #354661;
}

/* leppy wow */
a[href="https://www.mousehuntgame.com/item.php?item_type=mystery_satchel_of_gold_convertible"] {
  color: #fff;
  text-shadow: 0 0 #ffdc23;
  filter: drop-shadow(0 0 1px #ffdc23);
}

.claimGiftPage {
  margin-top: 0;
}

.notificationMessageList .message img.profilePic {
  width: 30px;
  height: 30px;
}

/* you caught your 100th mouse popup */
#OnboardArrow.onboardPopup.celebrationPopup .firstCatch .introPopupImage img {
  margin-top: 0;
}

#OnboardArrow.onboardPopup.celebrationPopup .firstCatch .content {
  padding-top: 30px;
}

#OnboardArrow.onboardPopup.celebrationPopup .firstCatch .introPopupContent h2 {
  padding-bottom: 30px;
}

#OnboardArrow.onboardPopup.celebrationPopup .firstCatch .introPopupContent {
  font-size: 14px;
}

#OnboardArrow.onboardPopup.celebrationPopup  .introPopupContent .clear-block img {
  float: none;
  margin-top: -10px;
  margin-left: -10px;
}

#OnboardArrow.onboardPopup.celebrationPopup .closeButton {
  background: url(https://www.mousehuntgame.com/images/ui/buttons/continue.png?asset_cache_version=2) 0 0 no-repeat;
}
