/* General styles */
#mousehuntContainer.PageCamp {
  background: url(https://i.mouse.rip/bg-wood.png);
  box-shadow: inset 0 0 8px 0 #755e40;
}

.campPage-trap-friendList.full,
.campPage-trap-itemStats,
.campPage-trap-trapEffectiveness,
.campPage-trap-armedItem,
.campPage-trap-armedItem.bait.active,
.campPage-trap-armedItem.bait,
.campPage-trap-armedItem.skin,
.campPage-trap-armedItem.mh-favorite-setups-button {
  border: 1px solid #d3cecb;
  border-radius: 4px;
  box-shadow: -1px 1px 3px 0 #d3cecb inset;
}

.campPage-trap-itemStats {
  background-color: transparent;
}

.campPage-trap-armedItem.bait.active {
  box-shadow: -1px -1px 1px #d3cecb inset;
}

.campPage-trap-armedItem:hover,
.campPage-trap-armedItem:focus,
.campPage-trap-armedItem.inactive:hover,
.campPage-trap-armedItem.inactive:focus,
.campPage-trap-armedItem.active:hover,
.campPage-trap-armedItem.active:focus {
  background-color: #e9e6df;
}

.campPage-trap-armedItem.active,
.campPage-trap-armedItem.skin.active {
  top: 0;
}

.mh-favorite-setups-button.campPage-trap-armedItem.active,
.campPage-trap-armedItem.active {
  background-color: #e9e6df;
}

.campPage-trap-friendList.full {
  background-color: #fbf8f6;
}

.campPage-trap-armedItem.weapon .campPage-trap-armedItem-image,
.campPage-trap-armedItem.base .campPage-trap-armedItem-image {
  background-position: -1px -1px;
  background-size: 72px;
}

span.campPage-trap-baitQuantity {
  right: -1px;
  bottom: -1px;
  border-color: #d3cecb;
  border-right: none;
  border-bottom: none;
}

.span.campPage-trap-baitQuantity,
.campPage-trap-armedItem .quantity span {
  border-bottom-right-radius: 0;
}

/* recipe page */
.mousehuntHud-page-tabContent.crafting .mousehuntHud-page-subTabContent {
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;
}

.mousehuntHud-page-tabContent.crafting .mousehuntHud-page-subTabContent-margin {
  padding: 0;
  border: none;
  box-shadow: none;
}

/* subtabs */
.mousehuntHud-page-subTabContent-prefix-filter-options {
  border: 1px solid #8595b0;
  border-radius: 10px;
}

.active.mousehuntHud-page-subTabContent-prefix-filter-option:first-child {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.active.mousehuntHud-page-subTabContent-prefix-filter-option:last-child {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

a.mousehuntHud-page-subTabContent-prefix-filter-option {
  border: 1px solid #8595b0;
  border-top: none;
  border-bottom: none;
}

.mousehuntHud-page-subTabContent-prefix-filter-option:first-child,
.mousehuntHud-page-subTabContent-prefix-filter-option:last-child {
  border: none;
}

.mousehuntHud-page-subTabHeader.active span,
.mousehuntHud-page-subTabHeader:hover span,
.mousehuntHud-page-subTabHeader:focus span {
  color: #fff;
  background-color: #8595b0;
  box-shadow: none;
}

.mousehuntHud-page-subTabHeader span {
  color: #3b5998;
  background: none;
  border-color: #3b5998;
}

.mousehuntHud-page-subTabHeader-prefix,
.mousehuntHud-page-subTabContent-prefix-filter span:first-child {
  display: none;
}

.mousehuntHud-page-subTabHeader-container {
  text-align: center;
}

.mousehuntHud-page-subTabContent-prefix.clear-block {
  margin-left: 30px;
}

/* hunters profile */
.mouseCrownsView-group-mice.favourites > .empty ~ .empty {
  display: none;
}

.scoreboardTableView-availableScoreboards {
  width: 180px;
}

/* Gift window spacing */
.giftSelectorView-content-subtitle {
  padding: 10px 0;
}

/* Team member */
.teamPage-memberRow-identity .teamPage-member-nameContainer {
  width: auto;
}

/* make armed cheese button more visible */
.mousehuntArmNowButton.active {
  filter: hue-rotate(104deg);
}

.mousehuntArmNowButton.active:hover {
  filter: hue-rotate(104deg) brightness(1.2);
}

.mousehuntArmNowButton {
  filter: brightness(1);
}

.mousehuntArmNowButton:hover {
  filter: brightness(1.2);
}

/* make menu sb bold */
.mousehuntHeaderView a.superBrie .quantity {
  font-weight: 600;
}

/* speed up horn transition and make it bigger and stuff */
a.huntersHornView__horn.huntersHornView__horn--default.huntersHornView__horn--ready {
  transition: all 0.2s;
  transform-origin: left;
  will-change: transform;
}

a.huntersHornView__horn.huntersHornView__horn--default.huntersHornView__horn--ready:hover {
  transform: scale(1.1) rotate(-1deg);
}

a.huntersHornView__horn.huntersHornView__horn--default.huntersHornView__horn--ready .huntersHornView__hornBannerImage {
  transition: all 0.6s;
}

a.huntersHornView__horn.huntersHornView__horn--default.huntersHornView__horn--ready:hover .huntersHornView__hornBannerImage {
  filter: saturate(1.8);
}

.huntersHornView__hornImage {
  filter: drop-shadow(1px 1px 0 #fff) drop-shadow(-1px 1px 0 #fff) drop-shadow(1px -1px 0 #fff) drop-shadow(-1px -1px 0 #fff) drop-shadow(1px 4px 3px #6b6b6b);
}

/* bigger menu icons */
.mousehuntHud-menu ul li ul li a .icon {
  top: 5px;
  left: 2px;
  width: 22px;
  height: 22px;
}

/* events */

/* ronza */
.MiniEventRonzaChromeBitCampHUD-completeQuantity.MiniEventRonzaChromeBitCampHUD-chromeBitQuantity {
  padding: 2px 3px;
  font-size: 13px;
}

/* cleaner trap image on camp page, hide auras a LE until hovered */
.trapImageView-layer.limitedEdition {
  top: unset;
  bottom: -270px;
  left: -135px;
  background-size: 200px;
}

.trapImageView-layer.limitedEdition,
.trapImageView-trapAura,
.trapImageView-trapAura.active,
.trapImageView-trapAura.inactive,
.trapImageView-zoomButton,
.min-luck-button {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.trapImageView:hover .trapImageView-layer.limitedEdition,
.trapImageView:hover .trapImageView-trapAura,
.trapImageView:hover .trapImageView-trapAura.active,
.trapImageView:hover .trapImageView-trapAura.inactive,
.trapImageView:hover .trapImageView-zoomButton,
.trapImageView:hover .min-luck-button {
  visibility: visible;
  opacity: 1;
}

.trapImageView-trapAura.active.expiring-soon {
  visibility: visible;
  border-radius: 50%;
  box-shadow: inset 0 0 10px 1px #ff4d4d;
  opacity: 1;
}

/* fix zoom button position */
a.trapImageView-zoomButton {
  top: 85%;
}

/* mousepage styles */
.mousehuntHud-page-subTabContent.group .header .mouseListView-categoryContent-subgroup-mouse-stats.catches,
.mousehuntHud-page-subTabContent.group .header .mouseListView-categoryContent-subgroup-mouse-stats.misses {
  width: 12%;
}

.mousehuntHud-page-subTabContent.group .header .mouseListView-categoryContent-subgroup-mouse-stats.name {
  width: 36%;
}

.mousehuntHud-page-subTabContent.group .header .mouseListView-categoryContent-subgroup-mouse-stats.average_weight,
.mousehuntHud-page-subTabContent.group .header .mouseListView-categoryContent-subgroup-mouse-stats.heaviest_catch {
  width: 20%;
}

.mousehuntHud-page-subTabContent.location .header .mouseListView-categoryContent-subgroup-mouse-stats.catches,
.mousehuntHud-page-subTabContent.location .header .mouseListView-categoryContent-subgroup-mouse-stats.misses {
  width: 13%;
}

.mousehuntHud-page-subTabContent.location .header .mouseListView-categoryContent-subgroup-mouse-stats.average_weight,
.mousehuntHud-page-subTabContent.location .header .mouseListView-categoryContent-subgroup-mouse-stats.heaviest_catch {
  width: 15%;
  text-align: center;
}

/* team hover */
.hunterInfoView-idCardTooltipBox-content {
  min-width: 80px;
  text-align: center;
}

.journalThemeSelectorView-preview {
  min-height: 600px;
}

a.inventoryPage-tagDirectory-tag {
  border: 1px solid #ccc;
  border-right: none;
}

.inventoryPage-tagDirectory-tag:hover {
  color: #3b5998;
  background-color: #dfdcdc;
  box-shadow: 0 0 1px 0 #354661;
}

.claimGiftPage {
  margin-top: 0;
}

.notificationMessageList .message img.profilePic {
  width: 30px;
  height: 30px;
}

/* you caught your 100th mouse popup */
#OnboardArrow.onboardPopup.celebrationPopup .firstCatch .introPopupImage img {
  margin-top: 0;
}

#OnboardArrow.onboardPopup.celebrationPopup .firstCatch .content {
  padding-top: 30px;
}

#OnboardArrow.onboardPopup.celebrationPopup .introPopupContent .clear-block img {
  float: none;
  margin-top: -10px;
  margin-left: -10px;
}

#OnboardArrow.onboardPopup.celebrationPopup .closeButton {
  background: url(https://www.mousehuntgame.com/images/ui/buttons/continue.png?asset_cache_version=2) 0 0 no-repeat;
}

/* stop making the background white when it's a narrow screen */
@media only screen and (max-width: 1000px) {
  body.hasSidebar .pageFrameView-column {
    background-color: #bad4ed !important;
  }
}

.campPage-trap-blueprintContainer {
  border-color: #315871;
  border-width: 1px;
  box-shadow: none;
}

.campPage-trap-itemBrowser-item-description.shortDescription {
  margin-top: 5px;
}

.campPage-trap-itemBrowser-item-image::after {
  border-color: #ccc;
  box-shadow: 2px 2px 3px -1px #cdc9c6 inset;
}

.campPage-trap-itemBrowser-item {
  overflow: hidden;
}

.itemView-action-convertForm {
  font-size: 13px;
}

input.itemView-action-convert-quantity {
  padding: 2px 5px;
  text-align: left;
}

.menuItem.myProfile {
  display: none;
}

.mousehuntHeaderView .menuItem.freeGifts,
.mousehuntHeaderView-gameTabs.small .menuItem.freeGifts {
  padding-right: 12px;
  padding-left: 12px;
}

/* vertically align the sb get more button */
.mousehuntHeaderView a.superBrie .getMore {
  top: 4px;
}

.mousehuntPage-loading {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 51;
  box-shadow:
    2px 2px 10px #999,
    -1px -1px 1px #ccc inset,
    0 0 25px 25px rgb(255 255 255 / 50%);
}

.mousehuntPage-content.hidden {
  display: block;
  margin-top: 35px;
}

/* journal selector preview */
.journalThemeSelectorView-preview .journalThemeSelectorView-preview-details {
  display: none;
}

.journalThemeSelectorView-preview .journal > .content {
  padding: 5px 10px !important;
}

.mousehuntHud-page-subTabContent.trinket .mousehuntHud-page-subTabContent-prefix {
  display: none;
}

.mousehuntHud-userStat-row {
  line-height: 14px;
}

.newsPostBody .flexCenter {
  justify-content: space-evenly;
}

.newsPostBody #news-post-responsive .flexCenter img {
  max-width: 100px;
  transition: 0.2s ease-in;
}

.newsPostBody #news-post-responsive .flexCenter img.huge {
  max-width: 100%;
}

.newsPostBody #news-post-responsive img.huge:hover,
.newsPostBody #news-post-responsive img[style*="width:100%"]:hover {
  transform: none;
}

.newsPostBody #news-post-responsive img {
  transition: 0.2s ease-in;
}

.newsPostBody #news-post-responsive img:hover {
  transform: rotate(4deg) scale(1.1);
}

#overlayPopup {
  animation: MHCheckoutDialogView-frameReveal 0.2s ease-out;
}

@media (prefers-reduced-motion: reduce) {
  #overlayPopup {
    animation: none;
  }
}

.mousehuntHeaderView .dropdownContent a {
  background-position-x: 8px;
}

/* userscripts */
.tsitu-maptem .notification {
  left: 0 !important;
}

.tsitu-maptem .notification[title="No uncaught map mice with this setup (according to TEM)"] {
  display: none;
}

.campPage-trap-itemBrowser-armed-itemContainer.empty .campPage-trap-itemBrowser-item-subtitle {
  color: #671d1d;
}

.mh-dark-mode .campPage-trap-itemBrowser-item.largeQuantity .campPage-trap-itemBrowser-item-quantity .quantity {
  background-color: #333;
}

.mh-dark-mode .campPage-trap-itemBrowser-item-image::after {
  border-color: #000;
  box-shadow: 2px 2px 3px -1px #000 inset;
}

.travelPage-map-pieces-detail-title {
  padding: 5px 10px;
}
