.giftSelectorView-friendRow-returnImage {
  width: 40px;
  height: 40px;
  margin-top: -10px;
  margin-right: 10px;
  background-color: transparent;
  background-size: cover;
  border: none;
  outline: none;
  box-shadow: none;
}

.giftSelectorView-friendRow-action.disabled .giftSelectorView-friendRow-returnImage {
  box-shadow: none;
}

.giftSelectorView-content-title {
  padding-bottom: 5px 0;
}

.giftSelectorView-claimWarning {
  padding: 10px;
}

#overlayPopup.dailyRewardPopup .todaysRewards .reward {
  width: 100px;
  font-size: 13px;
  transition: all 0.25s ease-in-out;
}

.dailyRewardPopup .todaysRewards .reward img {
  width: 100%;
  height: 100%;
}

.dailyRewardPopup .todaysRewards .reward .quantity {
  display: none;
}

.dailyRewardPopup .progress .chest .image {
  transition: 0.2s ease-in;
}

#overlayPopup.dailyRewardPopup .todaysRewards .reward:hover {
  margin-top: -15px;
  margin-bottom: 15px;
  transform: scale(1.2);
}

.dailyRewardPopup .progress .chest:hover .image {
  transform: scale(1.1);
  transform-origin: bottom;
}

.dailyRewardPopup .chest.active .image {
  filter: drop-shadow(0 3px 3px #faae4c);
}

.dailyRewardPopup h2:last-of-type {
  padding-top: 0;
  margin-top: -15px;
}

#overlayPopup.dailyRewardPopup .todaysRewards.day_1 {
  padding-left: 190px;
  background-image: url(https://i.mouse.rip/popup_todays_reward_day1_chest.png);
}

#overlayPopup.dailyRewardPopup .todaysRewards.day_2 {
  background-image: url(https://i.mouse.rip/popup_todays_reward_day2_chest.png);
}

#overlayPopup.dailyRewardPopup .todaysRewards.day_5 {
  background-image: url(https://i.mouse.rip/popup_todays_reward_day5_chest.png);
  background-size: 222px 221px;
}

#overlayPopup.dailyRewardPopup .progress .chest_1.open .image {
  background-image: url(https://i.mouse.rip/popup_todays_reward_day1_chest.png);
  background-size: cover;
}

#overlayPopup.dailyRewardPopup .progress .chest_2.open .image {
  margin-left: -10px;
  background-image: url(https://i.mouse.rip/popup_todays_reward_day2_chest.png);
  background-size: cover;
}

#overlayPopup.dailyRewardPopup .closed .status {
  filter: opacity(0.5);
}
