/* Show the full title of charms, bait, maps when hovering over the icons */
.mousehuntHud-userStat.bait:hover .label,
.mousehuntHud-userStat.trinket:hover .label,
.mousehuntHud-userStat.treasureMap:hover .label {
  position: absolute;
  z-index: 11;
  width: auto;
}

.mousehuntHud-userStat.treasureMap:hover .label {
  padding-right: 3px;
}

.mousehuntHud-userStat.bait:hover .value,
.mousehuntHud-userStat.trinket:hover .value,
.mousehuntHud-userStat.treasureMap:hover .value {
  margin-top: 14px;
}

.mousehuntHud-environmentName {
  width: auto;
  overflow: visible;
  text-shadow:
    2px 2px 2px #d6c8a2,
    -2px -2px 2px #d6c8a2,
    2px -2px 2px #d6c8a2,
    -2px 2px 2px #d6c8a2,
    2px 0 2px #d6c8a2,
    0 2px 2px #d6c8a2,
    -2px 0 2px #d6c8a2,
    0 -2px 2px #d6c8a2;
  filter: drop-shadow(0 1px 1px #d6c8a2) drop-shadow(0 2px 1px #d6c8a2) drop-shadow(-1px 4px 1px #d6c8a2);
}

.mousehuntHud-userStatBar .profileImage {
  box-shadow: 0 2px 2px 1px #0e2c4f;
}

/* shield by progress bar */
.mousehuntHud-userStat.title .shield {
  width: 19px;
  height: 19px;
  margin-top: -4px;
}

.mousehuntHud-userStat .title-container span.label {
  position: absolute;
  top: 2px;
  left: 25px;
  overflow: visible;
}

.mousehuntHud-userStat .title-container span.label.hud_title {
  overflow: hidden;
}

.mousehuntHud-userStat .title-container {
  position: relative;
  min-height: 15px;
}

.mousehuntHud-titleProgressBar .dot,
.mousehuntHud-titleProgressBar .wrapper .bar {
  opacity: 0.8;
  transition: all 0.4s ease-out;
}

.mousehuntHud-userStat.title:hover .mousehuntHud-titleProgressBar .dot,
.mousehuntHud-userStat.title:hover .mousehuntHud-titleProgressBar .wrapper .bar {
  opacity: 1;
}

.mousehuntHud-userStat.empty .icon {
  box-shadow: none;
}

.mousehuntHud-userStat .miceWarning {
  top: -1px;
  left: 11px;
  z-index: 0;
  width: 21px;
  height: 21px;
  background: url(https://i.mouse.rip/map-marker.png) 0 -26px no-repeat;
  background-size: 21px;
  box-shadow: none;
}

.mousehuntHud-userStat .corkboardUpdate {
  top: -4px;
  left: -13px;
  width: 35px;
  height: 27px;
  background-size: 26px;
}

.mousehuntHud-menu .free_gifts .icon {
  background-image: url(https://i.mouse.rip/icons/gift.png);
}

.mousehuntHeaderView .menuItem.dropdown.last .arrow {
  pointer-events: none;
}

.mousehuntHud-titleProgressBar {
  height: 13px;
}
