/* Show the full title of charms, bait, maps when hovering over the icons */
.mousehuntHud-userStat.bait:hover .label,
.mousehuntHud-userStat.trinket:hover .label,
.mousehuntHud-userStat.treasureMap:hover .label {
  position: absolute;
  top: 7px;
  z-index: 11;
  width: auto;
  padding: 3px 10px 2px 0;
  background-image: url(https://www.mousehuntgame.com/images/ui/backgrounds/hud_bg_blue_repeating.png?asset_cache_version=2);
  border-radius: 5px;
  mix-blend-mode: luminosity;
}

.mousehuntHud-userStat.treasureMap:hover .label {
  padding-right: 3px;
}

.mousehuntHud-userStat.bait:hover .value,
.mousehuntHud-userStat.trinket:hover .value,
.mousehuntHud-userStat.treasureMap:hover .value {
  margin-top: 14px;
}

.mousehuntHud-environmentName {
  width: auto;
  overflow: visible;
  text-shadow:
    2px 2px 2px #d6c8a2,
    -2px -2px 2px #d6c8a2,
    2px -2px 2px #d6c8a2,
    -2px 2px 2px #d6c8a2,
    2px 0 2px #d6c8a2,
    0 2px 2px #d6c8a2,
    -2px 0 2px #d6c8a2,
    0 -2px 2px #d6c8a2;
  filter: drop-shadow(0 1px 1px #d6c8a2) drop-shadow(0 2px 1px #d6c8a2) drop-shadow(-1px 4px 1px #d6c8a2);
}

.mousehuntHud-userStatBar .profileImage {
  box-shadow: 0 2px 2px 1px #0e2c4f;
}

/* shield by progress bar */
.mousehuntHud-userStat.title .shield {
  width: 19px;
  height: 19px;
  margin-top: -4px;
}

.mousehuntHud-userStat .title-container span.label {
  position: absolute;
  top: 2px;
  left: 25px;
  overflow: visible;
}

.mousehuntHud-userStat .title-container {
  position: relative;
  min-height: 15px;
}

.mousehuntHud-titleProgressBar .dot,
.mousehuntHud-titleProgressBar .wrapper .bar {
  opacity: 0.8;
  transition: all 0.4s ease-out;
}

.mousehuntHud-userStat.title:hover .mousehuntHud-titleProgressBar .dot,
.mousehuntHud-userStat.title:hover .mousehuntHud-titleProgressBar .wrapper .bar {
  opacity: 1;
}

.mousehuntHud-userStat.empty .icon {
  box-shadow: none;
}

.mousehuntHud-userStat.trinket.empty .label::after {
  content: " 😢️";
}
