.notificationMessageList .message {
  padding: 5px 10px;
  border-left: 1px solid #c8c8c8;
}

.notificationMessageList .message .clear-block {
  padding-top: 5px;
}

/* daily draw */
.notificationMessageList .message.ballot .clear-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  order: 5;
}

.notificationMessageList .message.ballot img.item {
  height: 25px;
  margin: -5px 5px 0 -5px;
}

.notificationMessageList .message.ballot .date {
  flex-grow: 1;
  order: 2;
  font-size: 9px;
  text-align: right;
  white-space: nowrap;
}

.notificationMessageList .message.ballot.new .date {
  font-size: 8px;
}

/* friend requests */
.notificationMessageList .message.friend_invite_pending .clear-block,
.notificationMessageList .message.friend_invite_accepted .clear-block {
  display: flex;
  align-items: center;
}

.notificationMessageList .message .messageText {
  padding: 5px 0;
}

.message.notification.ballot,
.message.notification.ballot.new {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
}

.message.notification .actions.ballot {
  float: none;
}

.notificationMessageList .message .actions.friendRequest,
.notificationMessageList .message .actions.friendRequestAccepted {
  margin-top: 15px;
}

/* keep the inbox tabs in the same order always */
#messengerUINotification .tabs {
  display: flex;
  flex-direction: column;
}

#messengerUINotification .tabs a[data-tab="general"] {
  order: -500;
}

#messengerUINotification .tabs a[data-tab="daily_draw"] {
  order: -400;
}

#messengerUINotification .tabs a[data-tab="friend_requests"] {
  order: -300;
}

#messengerUINotification .tabs a[data-tab="marketplace"] {
  order: -200;
}

#messengerUINotification .tabs a[data-tab="news"] {
  order: -100;
}

#messengerUINotification .notificationMessageList .tab {
  background-color: #f9f9f9;
}

.mh-dark-mode #messengerUINotification .notificationMessageList .tab {
  background-color: #242424;
}

div#messengerUINotification {
  background-color: #f9f9f9 !important;
}

#messengerUINotification .tabs a:hover {
  background-color: #eee;
}

#messengerUINotification .tabs a .counter {
  background-color: #e33f3f;
  box-shadow: inset 0 0 5px 1px #a90000;
}

.mh-dark #messengerUINotification .tabs a .counter {
  background-color: var(--d-red);
  box-shadow: inset 0 0 5px 1px var(--d-red-dark);
}

#messengerUINotification .tabs a.new .counter {
  display: flex;
  line-height: 1.7;
  text-align: center;
}

#messengerUINotification .messengerUINotificationClose {
  top: -14px;
  right: -5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  padding: 5px;
  font-size: 14px;
  line-height: unset;
  color: #e03a3a;
  text-align: center;
  border-color: #d1d0cf;
  box-shadow: 1px 2px 6px -4px #3e3e3e;
}

#messengerUINotification .messengerUINotificationClose:hover {
  color: #fff;
  background-color: #e03a3a;
}

/* mini journal close */
.journal.jsingle .close {
  float: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;

  /* height: 0; */
}

.journal.jsingle .close a::after {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 15;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: unset;
  color: #e03a3a;
  text-align: center;
  content: "✕";
  background: #fff;
  border: 1px solid #ccc;
  border-color: #d1d0cf;
  border-radius: 20px;
}

.giftSelectorView-inboxHeader-closeButton {
  position: absolute;
  top: 3px;
  right: 5px;
  z-index: 15;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  padding: 5px;
  font-size: 12px;
  font-weight: 700;
  line-height: unset;
  color: #e03a3a;
  text-align: center;
  content: "✕";
  background: #fff;
  border: 1px solid #d1d0cf;
  border-color: #d1d0cf;
  border-radius: 20px;
  box-shadow: inset 0 0 3px -1px #d1d0cf;
}

.journal.jsingle .close a {
  display: block;
  width: 0;
  height: 0;
  color: transparent;
}

.giftSelectorView-inboxHeader-closeButton:hover,
.giftSelectorView-inboxHeader-closeButton:focus,
.journal.jsingle .close a:hover::after,
.journal.jsingle .close a:focus::after {
  color: #fff;
  background-color: #e03a3a;
}

#messengerUINotification .notificationMessageList .tab[data-tab="marketplace"] .message .clear-block {
  order: 1;
}

#messengerUINotification .notificationMessageList .tab[data-tab="marketplace"] .message .date {
  order: 3;
  margin-left: 0;
}

.notificationMessageList .message.marketplace .actions {
  transform: translateY(10px);
}

.notificationMessageList .message .date {
  margin: 5px 0;
}

#messengerUINotification .tabs a {
  display: flex;
  align-items: center;
  height: 15px;
  border-right: 1px solid #dcdedd;
}

#messengerUINotification .notificationMessageList {
  box-sizing: border-box;
  width: calc(100% - 150px);
  border-left-width: 0;
}

.notificationMessageList .message .actions.newsPost input[type="button"] {
  padding: 5px 10px;
  border: none;
  outline: 1px solid #000;
  box-shadow: 0 -5px 8px -2px #ffae00 inset;
}

.notificationMessageList .news.message a {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
}

.notificationMessageList .news.message .messageText {
  font-size: 12px;
}

.notificationMessageList .tab[data-tab="news"] .message {
  background-color: #fdf5bf;
}

#messengerUINotification .bumper {
  display: none;
}

#messengerUINotification {
  margin-top: -3px;
  box-shadow: 0 3px 6px -3px #3e3e3e;
}
