.treasureMapView-block.treasureMapView-scavengerHunt {
  min-height: auto;
  padding: 10px;
  background: #edfff2;
}

.treasureMapView-hunter.empty img.treasureMapView-hunter-image {
  opacity: .4;
}
