body.mobile.MobilePageCamp div[data-role="header"]::after {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 85px;
  height: 85px;
  content: "";
  background: url(https://www.mousehuntgame.com/images/ui/elements/golden_shield_page_shield_disabled_320.png) no-repeat;
  background-position: right;
  background-size: cover;
  opacity: 0.3;
  transform: scaleX(-1);
}

body.mobile.MobilePageCamp .headerText > div:first-child {
  font-size: 17px;
}

body.mobile.MobilePageCamp .pageFrameView,
body.mobile.MobilePageCamp.noSidebar .pageFrameView {
  grid-template-columns: [first] auto [content-start] 485px [content-end] auto [last];
}

body.mobile.MobilePageCamp .pageFrameView-column.right,
body.mobile.MobilePageCamp .pageFrameView-column.left {
  border-width: 5px;
}

div#mobileCountdown {
  margin: 10px;
  font-size: 15px;
}

div#mobileJournal {
  margin-top: 10px;
}
