#overlayPopup .imgArray {
  overflow: visible;
}

/* Better buttons to match the modern ones */
#overlayPopup .button,
.notificationMessageList .message .actions input[type="button"],
.notificationMessageList .message .actions input[value="View Profile"],
.notificationMessageList .message .actions input[value="View Profile"].ignoreRequest.ignoreRequest {
  padding: 2px 15px;
  line-height: 18px;
  color: #000;
  text-shadow: 0 0 1px #fff;
  background-color: #f4e830;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: 0 -5px 8px -2px #ffae00 inset, 1px 1px 1px #eee;
}

#overlayPopup .button:hover,
#overlayPopup .button:focus,
.notificationMessageList .message .actions input[type="button"]:hover,
.notificationMessageList .message .actions input[type="button"]:focus,
.notificationMessageList .message .actions input[value="View Profile"]:hover,
.notificationMessageList .message .actions input[value="View Profile"]:focus,
.notificationMessageList .message .actions input[value="View Profile"].ignoreRequest:hover,
.notificationMessageList .message .actions input[value="View Profile"].ignoreRequest:focus {
  background-color: #fff600;
  box-shadow: inset 0 0 16px 2px #fffaab;
}

.notificationMessageList .message .actions input[type="button"] {
  padding: 1px 10px;
  font-size: 12px;
  line-height: 14px;
}

.notificationMessageList .message .actions input[type="button"].delete {
  position: absolute;
  left: -60px;
}

.notificationMessageList .message input[type="button"].delete,
.notificationMessageList .message .actions input[type="button"].ignoreRequest {
  padding: 1px 10px;
  color: #000;
  text-shadow: 0 0 1px #fff;
  background-color: #ffa5a5;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: 0 -5px 8px -2px #f27b6a inset, 1px 1px 1px #eee;
}

.notificationMessageList .message .actions input[type="button"].delete:hover,
.notificationMessageList .message .actions input[type="button"].delete:focus,
.notificationMessageList .message .actions input[type="button"].ignoreRequest:hover,
.notificationMessageList .message .actions input[type="button"].ignoreRequest:focus {
  background-color: #f48686;
}

.mouseView-categoryContent-subgroup-mouse-weaknesses-label {
  border-color: rgb(51 51 51 / 34%);
}

#messengerUINotification .notificationMessageList .tab {
  max-height: 75vh;
  overflow: auto;
}
