#overlayPopup .imgArray {
  overflow: visible;
}

/* Better buttons to match the modern ones */
#overlayPopup .button {
  padding: 0 15px;
  line-height: 24px;
  text-shadow: 0 0 1px #fff;
  background-color: #fff600;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 5px #fff inset, 1px 1px 1px #fff;
}

#overlayPopup .button:hover,
#overlayPopup .button:focus {
  background-color: #ffca00;
  box-shadow: inset 0 0 16px 2px #fffaab;
}

.mouseView-categoryContent-subgroup-mouse-weaknesses-label {
  border-color: rgb(51 51 51 / 34%);
}
