.PageHunterProfile .campPage-trap-trapStat.power .icon {
  display: none;
}

.PageHunterProfile .campPage-trap-trapStat.cheese_effect .value span {
  width: 10px;
  font-size: 11px;
}

.hunterInfoView-wrapper .messageBoardView-title {
  height: 30px;
  margin-bottom: -1px;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  color: #772b0a;
  text-align: center;
  background: linear-gradient(#fff9dc 45%, #f1dc8a 55%);
  border: 1px solid #985f42;
  border-bottom: 1px solid #e9be6c;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: -1px 2px 1px #a59f8e;
}

.hunterInfoView-achievementsBlock .mousehuntTabHeaderContainer .mousehuntTabHeader {
  height: 33px;
  margin-top: 1px;
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  color: #ab755d;
  text-align: center;
  background: linear-gradient(#f6f3e2 45%, #fdf3cb 55%);
  border: 1px solid #985f42;
  border-bottom: none;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: -1px 1px 1px #a59f8e;
}

.hunterInfoView-wrapper div.messageBoardView-message-container {
  border-bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.hunterInfoView-wrapper .hunterInfoView-achievementsBlock .mousehuntTabHeader span {
  margin: 0;
  line-height: 23px;
  background: none;
  border: none;
  box-shadow: none;
}

.hunterInfoView-wrapper .hunterInfoView-achievementsBlock .mousehuntTabHeader::before {
  background: none;
  box-shadow: none;
}

.hunterInfoView-achievementsBlock .mousehuntTabHeaderContainer .mousehuntTabHeader:first-child {
  margin-right: 5px;
  margin-left: -10px;
}

.hunterInfoView-achievementsBlock .mousehuntTabHeaderContainer .mousehuntTabHeader:last-child {
  margin-right: -10px;
  margin-left: 5px;
}

.hunterInfoView-wrapper .hunterInfoView-achievementsBlock .mousehuntTabContentContainer {
  background: #e9e1c6;
  border: 1px solid #985f42;
  border-top-color: #e9be6c;
  border-radius: 0 0 10px 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: -1px 2px 1px #a59f8e;
}

.hunterInfoView-achievementsBlock .mousehuntTabHeaderContainer .mousehuntTabHeader.active {
  color: #772b0a;
  background: linear-gradient(#fff9dc 45%, #f1dc8a 55%);
}

.hunterInfoView-achievementsBlock .mousehuntTabHeaderContainer .mousehuntTabHeader:hover,
.hunterInfoView-achievementsBlock .mousehuntTabHeaderContainer .mousehuntTabHeader:focus {
  color: #772b0a;
  background: linear-gradient(#fff9dc 45%, #f1dc8a 55%);
}

.hunterInfoView-wrapper .hunterInfoView-achievementsBlock .mousehuntTabHeader:hover span {
  background: none;
}

.hunterInfoView-achievementsBlock .mousehuntTabContentContainer-padding {
  background: #e9e1c6;
  border: none;
  box-shadow: none;
}

.hunterInfoView-wrapper .hunterInfoView-treasureMaps-left-currentMap-image {
  width: 55px;
  height: 55px;
  border: none;
}

.hunterInfoView-treasureMaps-left {
  vertical-align: middle;
}

.hunterInfoView-wrapper .hunterInfoView-treasureMaps-left-currentMap-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}

.hunterInfoView-wrapper .hunterInfoView-treasureMaps-right-cluesFound-ranking {
  width: 110px;
  margin-top: 10px;
  margin-bottom: -5px;
  font-size: 11px;
  color: #772b0a;
}

.hunterInfoView-treasureMaps-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10px;
  margin-right: -5px;
}

.hunterInfoView-wrapper .hunterInfoView-treasureMaps-right-cluesFound {
  font-size: 17px;
}

.hunterInfoView-wrapper .hunterInfoView-treasureMaps-right-cluesFound-label {
  font-size: 11px;
}

.hunterInfoView-wrapper .hunterInfoView-achievementsBlock .itemImage {
  width: 45px;
  height: 45px;
  box-shadow: none;
}

.hunterInfoView-wrapper .hunterInfoView-achievementsBlock .itemImage-container {
  display: block;
  padding: 3px;
}

.hunterInfoView-wrapper .hunterInfoView-achievementsBlock .hunterInfoView-teamTab-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 338px;
}

.hunterInfoView-wrapper .hunterInfoView-achievementsBlock .hunterInfoView-teamTab-content .quantity {
  right: 0;
  bottom: 0;
  background-color: #fff;
}

.hunterInfoView-wrapper .hunterInfoView-favoritesBlock .hunterInfoView-favoritesBlock-body {
  background: #e9e1c6;
}

.hunterInfoView-wrapper .hunterInfoView-favoritesBlock-content-mouseImage.empty {
  background-color: #e9e1c6;
  border: 1px solid #a0a0a0;
  box-shadow: none;
  opacity: 0.75;
}

.hunterInfoView-wrapper .hunterInfoView-favoritesBlock-content-mouseImage {
  border-width: 2px;
}

.mouseCrownsView-group-mouse-catches {
  padding: 2px 6px;
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 14px;
}

.mouseCrownsView-group-mouse-name {
  font-size: 11px;
}

.mouseCrownsView-group-mouse.empty.highlight {
  display: none;
}

.mouseCrownsView-group-mouse.highlight .mouseCrownsView-group-mouse-image {
  width: auto;
  height: 200px;
}

.mouseCrownsView-group-mouse.highlight .mouseCrownsView-group-mouse-image .mouseCrownsView-crown {
  top: 5px;
  left: 5px;
}

.mouseCrownsView-group-mouse:hover .mouseCrownsView-group-mouse-image {
  background-size: 120%;
}

.mouseCrownsView-group-mouse.landscape:hover .mouseCrownsView-group-mouse-image {
  background-size: 200%;
}

.mouseCrownsView-group-mouse.highlight .mouseCrownsView-group-mouse-padding {
  padding: 0;
  margin: 0;
  border-radius: 0;
}

.highlight a.mouseCrownsView-group-mouse-favouriteButton.active {
  top: 0;
  right: 0;
}

.mouseCrownsView-group-mouse-padding {
  padding: 0;
  overflow: hidden;
}

.mouseCrownsView-group-mice {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: stretch;
  justify-content: start;
  max-width: 720px;
}

.mouseCrownsView-group-mice.favourites {
  gap: 5px;
}

.mouseCrownsView-group-header b {
  font-size: 13px;
}

.mouseCrownsView-group-header-subtitle {
  margin-left: 10px;
}

.mouseCrownsView-group-mouse {
  width: auto;
}

.mouseCrownsView-group-mouse-image {
  width: 100%;
  height: 160px;
  border: none !important; /* profile+ */
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  transition: 0.2s;
}

.none .mouseCrownsView-group-mouse-catches {
  font-size: 12px;
}

.mouseCrownsView-group-header-name {
  margin-left: 10px;
}

.mouseCrownsView-group {
  padding: 10px;
  margin: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px #a7a7a7;
}

.mouseCrownsView-group.platinum {
  background-color: #d6d6fb;
  box-shadow: 0 0 1px 1px #7e6af9;
}

.mouseCrownsView-group.gold {
  background-color: #fbf5ce;
  box-shadow: 0 0 1px 1px #cfc791;
}

.mouseCrownsView-group.silver {
  background-color: #d2e7fe;
  box-shadow: 0 0 1px 1px #8fb9e6;
}

.mouseCrownsView-group.bronze {
  background-color: #ffe6d4;
  box-shadow: 0 0 1px 1px #d8af91;
}

.mouseCrownsView-group-header {
  display: flex;
  align-items: center;
  padding: 5px;
  border: none !important; /* profile+ */
  border-radius: 5px;
}

.mh-dark-mode.PageHunterProfile .pageFrameView .mouseCrownsView-group-header-subtitle {
  color: #787;
}

.mouseCrownsView-group .mouseCrownsView-group-header {
  background-color: rgb(250 250 250 / 60%) !important;
}

.mouseCrownsView-group-mouse-favouriteButton.active {
  opacity: 0;
  transition: 0.4s;
}

.mouseCrownsView-group-mouse.highlight.favourite:hover .mouseCrownsView-group-mouse-favouriteButton {
  opacity: 1;
}

.mouseCrownsView-group .mouseCrownsView-group-mouse-padding {
  background-color: #fff;
}

.mouseCrownsView-group-mouse.highlight.favourite {
  width: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.mouseCrownsView-group.favourite .mouseCrownsView-group-header .mouseCrownsView-crown,
.mouseCrownsView-group.favourite .mouseCrownsView-group-header-name {
  display: none;
}

.favourite .mouseCrownsView-group-header {
  padding: 0;
}

.hideLeContainer {
  position: absolute;
  top: -7px;
  right: 35px;
  display: flex;
  align-items: center;
  width: auto !important;
}

.hideLeContainer #hideLeCb {
  width: auto !important;
}

.hideLeContainer label {
  font-size: 10px !important;
}

a.friendsProfileView-randomFriend {
  float: right;
  width: 120px;
  margin-top: -25px;
  text-align: center;
  background-color: #e9e1c6;
  border: 1px solid #a0a0a0;
}

.friendsProfileView-selfStats {
  font-size: 11px;
}

.friendsProfileView-randomFriend:hover {
  background-color: #c7bfa3;
}

.eggMasterIcon {
  position: absolute;
  top: 0;
  right: -10px;
  float: none !important;
  width: 40px !important;
  height: 40px !important;
  filter: drop-shadow(2px 2px 2px #e9e1c6);
  background-size: cover !important;
}

.mh-dark-mode.PageHunterProfile .pageFrameView .mouseCrownsView-group-mouse.highlight .mouseCrownsView-group-mouse-name,
.mh-dark-mode.PageHunterProfile .pageFrameView .mouseCrownsView-group-mouse:not(.favourite) .mouseCrownsView-group-mouse-name,
.mh-dark-mode.PageHunterProfile .pageFrameView .mouseCrownsView-group {
  color: #333;
}

.hunterInfoView-wrapper .hunterInfoView-trapBlock-setup-trap-slot-noBait {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: none;
}

.hunterProfileItemsView-categoryContent-item-padding {
  height: auto;
  padding: 0;
}

.hunterProfileItemsView-categoryContent-item-name {
  padding: 0 1px 3px;
}

.hunterProfileItemsView-categoryContent-item .itemImage {
  width: 90px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.hunterProfileItemsView-categoryContent[data-category="map_piece"] .hunterProfileItemsView-categoryContent-item .itemImage,
.hunterProfileItemsView-categoryContent[data-category="collectible"] .hunterProfileItemsView-categoryContent-item .itemImage {
  padding-top: 10px;
  background-position-y: 5px;
}

.hunterProfileItemsView-categoryContent-item.uncollected .itemImage {
  opacity: 0.3;
}

.hunterProfileItemsView-categoryContent-item.uncollected .hunterProfileItemsView-categoryContent-item-padding {
  background-color: #eee;
}

.hunterInfoView-wrapper .hunterInfoView-idCardBlock-teamName {
  width: 89px;
  margin-left: -3px;
}

.hunterInfoView-wrapper .hunterInfoView-idCardBlock-teamName span {
  top: 0;
  right: 0;
  left: 0;
  transform: none;
}

.loyaltyBadgeView .loyaltyBadgeView-years-text {
  top: 6px;
  right: 0;
  left: 0;
  font-size: 22px;
  text-align: center;
  filter: drop-shadow(0 0 2px #fff);
  transform: none;
}

.loyaltyBadgeView {
  width: 50px;
  height: 50px;
}

.loyaltyBadgeView.badgeLevel15 .loyaltyBadgeView-years-text {
  top: 14px;
}

.hunterInfoView-verifiedUserImage {
  width: 14.5px;
  height: 17.5px;
}

.hunterInfoView-wrapper .hunterInfoView-favoritesBlock-content-container {
  padding-top: 15px;
}

.hunterInfoView-wrapper .hunterInfoView-idCardBlock-goldenShield-image {
  left: -5px;
  width: 26px;
  height: 26px;
}

.hunterInfoView-wrapper .hunterInfoView-idCardBlock-goldenShield-text {
  width: auto;
  padding: 2px 7px 3px 20px;
  font-size: 12px;
  white-space: nowrap;
}
