.PageHunterProfile .campPage-trap-trapStat.power .icon {
  display: none;
}

.PageHunterProfile .campPage-trap-trapStat.cheese_effect .value span {
  width: 10px;
  font-size: 11px;
}

.hunterInfoView-wrapper .messageBoardView-title {
  height: 30px;
  margin-bottom: -1px;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  color: #772b0a;
  text-align: center;
  background: linear-gradient(#fff9dc 45%, #f1dc8a 55%);
  border: 1px solid #985f42;
  border-bottom: 1px solid #e9be6c;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: -1px 2px 1px #a59f8e;
}

.hunterInfoView-achievementsBlock .mousehuntTabHeaderContainer .mousehuntTabHeader {
  height: 33px;
  margin-top: 1px;
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  color: #ab755d;
  text-align: center;
  background: linear-gradient(#f6f3e2 45%, #fdf3cb 55%);
  border: 1px solid #985f42;
  border-bottom: none;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: -1px 1px 1px #a59f8e;
}

.hunterInfoView-wrapper div.messageBoardView-message-container {
  border-bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.hunterInfoView-wrapper .hunterInfoView-achievementsBlock .mousehuntTabHeader span {
  margin: 0;
  line-height: 23px;
  background: none;
  border: none;
  box-shadow: none;
}

.hunterInfoView-wrapper .hunterInfoView-achievementsBlock .mousehuntTabHeader::before {
  background: none;
  box-shadow: none;
}

.hunterInfoView-achievementsBlock .mousehuntTabHeaderContainer .mousehuntTabHeader:first-child {
  margin-right: 5px;
  margin-left: -10px;
}

.hunterInfoView-achievementsBlock .mousehuntTabHeaderContainer .mousehuntTabHeader:last-child {
  margin-right: -10px;
  margin-left: 5px;
}

.hunterInfoView-wrapper .hunterInfoView-achievementsBlock .mousehuntTabContentContainer {
  min-height: 68px;
  background: #e9e1c6;
  border: 1px solid #985f42;
  border-top-color: #e9be6c;
  border-radius: 0 0 10px 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: -1px 2px 1px #a59f8e;
}

.hunterInfoView-achievementsBlock .mousehuntTabHeaderContainer .mousehuntTabHeader.active {
  color: #772b0a;
  background: linear-gradient(#fff9dc 45%, #f1dc8a 55%);
}

.hunterInfoView-achievementsBlock .mousehuntTabHeaderContainer .mousehuntTabHeader:hover,
.hunterInfoView-achievementsBlock .mousehuntTabHeaderContainer .mousehuntTabHeader:focus {
  color: #772b0a;
  background: linear-gradient(#fff9dc 45%, #f1dc8a 55%);
}

.hunterInfoView-wrapper .hunterInfoView-achievementsBlock .mousehuntTabHeader:hover span {
  background: none;
}

.hunterInfoView-achievementsBlock .mousehuntTabContentContainer-padding {
  padding: 5px;
  background: #e9e1c6;
  border: none;
  box-shadow: none;
}

.hunterInfoView-wrapper .hunterInfoView-treasureMaps-left-currentMap-image {
  width: 55px;
  height: 55px;
  border: none;
}

.hunterInfoView-treasureMaps-left {
  vertical-align: middle;
}

.hunterInfoView-wrapper .hunterInfoView-treasureMaps-left-currentMap-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}

.hunterInfoView-wrapper .hunterInfoView-treasureMaps-right-cluesFound-ranking {
  width: 110px;
  margin-top: 10px;
  margin-bottom: -5px;
  font-size: 11px;
  color: #772b0a;
}

.hunterInfoView-treasureMaps-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5px;
  margin-right: -5px;
}

.hunterInfoView-wrapper .hunterInfoView-treasureMaps-right-cluesFound {
  font-size: 17px;
}

.hunterInfoView-wrapper .hunterInfoView-treasureMaps-right-cluesFound-label {
  font-size: 11px;
}

.hunterInfoView-wrapper .hunterInfoView-achievementsBlock .itemImage {
  width: 55px;
  height: 55px;
  border-bottom-right-radius: 0;
  box-shadow: none;
}

.hunterInfoView-wrapper .hunterInfoView-achievementsBlock .itemImage-container {
  display: block;
  padding: 2px;
}

.hunterInfoView-wrapper .hunterInfoView-achievementsBlock .mousehuntTabContent[data-tab="team"] .hunterInfoView-teamTab-content {
  margin: 0 -5px;
}

.hunterInfoView-wrapper .hunterInfoView-achievementsBlock .hunterInfoView-teamTab-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 360px;
}

.hunterInfoView-wrapper .hunterInfoView-achievementsBlock .hunterInfoView-teamTab-content .quantity {
  right: 0;
  bottom: 0;
  background-color: #fff;
}

.hunterInfoView-wrapper .hunterInfoView-favoritesBlock .hunterInfoView-favoritesBlock-body {
  background: #e9e1c6;
}

.hunterInfoView-wrapper .hunterInfoView-favoritesBlock-content-mouseImage.empty {
  background-color: #e9e1c6;
  border: 1px solid #a0a0a0;
  box-shadow: none;
  opacity: 0.75;
}

.hunterInfoView-wrapper .hunterInfoView-favoritesBlock-content-mouseImage {
  border-width: 2px;
  transition: 0.2s ease-in;
}

.hunterInfoView-wrapper .hunterInfoView-favoritesBlock-content-mouseImage-overlay-container,
.hunterInfoView-wrapper .hunterInfoView-favoritesBlock-content-mouseImage-overlay {
  width: 54px;
  height: 54px;
}

.hunterInfoView-wrapper .hunterInfoView-favoritesBlock-content-mouseImage:hover {
  background-size: 120%;
}

.mouseCrownsView-group-mouse-catches {
  padding: 2px 6px;
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 14px;
}

.mouseCrownsView-group-mouse-name {
  font-size: 11px;
}

.mouseCrownsView-group-mouse.empty.highlight {
  display: none;
}

.mouseCrownsView-group-mouse.highlight .mouseCrownsView-group-mouse-image {
  width: auto;
  height: 200px;
}

.mouseCrownsView-group-mouse.highlight .mouseCrownsView-group-mouse-image .mouseCrownsView-crown {
  top: 5px;
  right: 5px;
  left: unset;
}

.mouseCrownsView-group-mouse:hover .mouseCrownsView-group-mouse-image {
  background-size: 120%;
}

.mouseCrownsView-group-mouse.landscape:hover .mouseCrownsView-group-mouse-image {
  background-size: auto 230px;
}

.mouseCrownsView-group-mouse.highlight .mouseCrownsView-group-mouse-padding {
  padding: 0;
  margin: 0;
  border-radius: 0;
}

.highlight a.mouseCrownsView-group-mouse-favouriteButton.active {
  top: 0;
  right: 0;
}

.mouseCrownsView-group-mouse-padding {
  padding: 0;
  overflow: hidden;
}

.mouseCrownsView-group-mice {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: stretch;
  justify-content: start;
  max-width: 720px;
  margin-right: -2px;
  margin-left: -5px;
}

.mouseCrownsView-group-mice.favourites {
  gap: 5px;
}

.mouseCrownsView-group-header b {
  font-size: 13px;
}

.mouseCrownsView-group.favourite .mouseCrownsView-group-header-subtitle {
  display: none;
}

.mouseCrownsView-group-mouse {
  width: auto;
}

.mouseCrownsView-group-mouse-image {
  width: 100%;
  height: 200px;
  border: none !important;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  transition: 0.2s ease-in;
}

.mouseCrownsView-crown.none {
  background-image: url(https://www.mousehuntgame.com/images/ui/crowns/crown_none.png) !important;
}

.mouseCrownsView-group-header-name {
  margin-left: 10px;
}

.mouseCrownsView-group {
  padding: 10px;
  margin: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px #cbcbcb;
}

.mouseCrownsView-group.platinum {
  background-color: #d6d6fb;
  box-shadow: 0 0 1px 1px #7e6af9;
}

.mouseCrownsView-group.platinum .mouseCrownsView-group-header {
  box-shadow: inset 0 0 1px 1px #bfb6fc;
}

.mouseCrownsView-group.favourite .mouseCrownsView-group-header {
  box-shadow: inset 0 0 1px 1px #e0e0e0;
}

.mouseCrownsView-group.gold {
  background-color: #fbf5ce;
  box-shadow: 0 0 1px 1px #cfc791;
}

.mouseCrownsView-group.gold .mouseCrownsView-group-header {
  box-shadow: 0 0 1px 1px #ded9b5;
}

.mouseCrownsView-group.silver {
  background-color: #d2e7fe;
  box-shadow: 0 0 1px 1px #8fb9e6;
}

.mouseCrownsView-group.silver .mouseCrownsView-group-header {
  box-shadow: 0 0 1px 1px #b4d0ee;
}

.mouseCrownsView-group.bronze {
  background-color: #ffe6d4;
  box-shadow: 0 0 1px 1px #d8af91;
}

.mouseCrownsView-group.bronze .mouseCrownsView-group-header {
  box-shadow: 0 0 1px 1px #ead3c3;
}

.mouseCrownsView-group.none .mouseCrownsView-group-header {
  box-shadow: 0 0 1px 1px #c5c5c5;
}

.mouseCrownsView-group-header {
  display: flex;
  align-items: center;
  padding: 5px;
  border: none !important;
  border-radius: 5px;
}

.mh-dark-mode.PageHunterProfile .pageFrameView .mouseCrownsView-group-header-subtitle {
  color: #787;
}

.mouseCrownsView-group .mouseCrownsView-group-header {
  background-color: rgb(250 250 250 / 60%) !important;
}

.mouseCrownsView-group-mouse-favouriteButton.active {
  opacity: 0;
  transition: 0.2s ease-in;
}

.mouseCrownsView-group-mouse.favourite:hover .mouseCrownsView-group-mouse-favouriteButton,
.mouseCrownsView-group-mouse.favourite:hover .mouseCrownsView-group-mouse-favouriteButton.active {
  opacity: 1;
}

.mouseCrownsView-group .mouseCrownsView-group-mouse-padding {
  background-color: #fff;
}

.mouseCrownsView-group-mouse.highlight.favourite {
  width: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.mouseCrownsView-group.favourite .mouseCrownsView-group-header .mouseCrownsView-crown,
.mouseCrownsView-group.favourite .mouseCrownsView-group-header-name {
  display: none;
}

.favourite .mouseCrownsView-group-header {
  padding: 0;
}

.mouseCrownsView-crown.favourite {
  width: 45px;
  height: 45px;
  margin: 5px;
}

a.friendsProfileView-randomFriend {
  float: right;
  width: 120px;
  margin-top: -25px;
  text-align: center;
  background-color: #e9e1c6;
  border: 1px solid #a0a0a0;
}

.friendsProfileView-selfStats {
  font-size: 11px;
}

.friendsProfileView-randomFriend:hover {
  background-color: #c7bfa3;
}

.eggMasterIcon {
  position: absolute;
  top: 0;
  right: -10px;
  float: none !important;
  width: 40px !important;
  height: 40px !important;
  filter: drop-shadow(2px 2px 2px #e9e1c6);
  background-size: cover !important;
}

.mh-dark-mode.PageHunterProfile .pageFrameView .mouseCrownsView-group-mouse.highlight .mouseCrownsView-group-mouse-name,
.mh-dark-mode.PageHunterProfile .pageFrameView .mouseCrownsView-group-mouse:not(.favourite) .mouseCrownsView-group-mouse-name,
.mh-dark-mode.PageHunterProfile .pageFrameView .mouseCrownsView-group {
  color: #333;
}

.hunterInfoView-wrapper .hunterInfoView-trapBlock-setup-trap-slot-noBait {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: none;
}

.hunterProfileItemsView-categoryContent-item-padding {
  height: auto;
  padding: 0;
}

.hunterProfileItemsView-categoryContent-item-name {
  width: 95%;
  padding: 0 1px 3px;
}

.hunterProfileItemsView-categoryContent-item-padding .itemImage .quantity {
  right: 0;
  bottom: 5px;
  padding: 5px;
}

.hunterProfileItemsView-categoryContent-item .itemImage {
  width: 90px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: 0.2s ease-in;
}

.hunterProfileItemsView-categoryContent[data-category="map_piece"] .hunterProfileItemsView-categoryContent-item .itemImage,
.hunterProfileItemsView-categoryContent[data-category="collectible"] .hunterProfileItemsView-categoryContent-item .itemImage {
  padding-top: 10px;
  background-position-y: 5px;
}

.hunterProfileItemsView-categoryContent-item.uncollected .itemImage {
  filter: grayscale(1);
  mix-blend-mode: darken;
  opacity: 0.5;
}

.hunterProfileItemsView-categoryContent-item.uncollected .hunterProfileItemsView-categoryContent-item-padding {
  background-color: #eee;
}

.hunterInfoView-wrapper .hunterInfoView-idCardBlock-teamName {
  width: 89px;
  margin-left: -3px;
}

.hunterInfoView-wrapper .hunterInfoView-idCardBlock-teamName span {
  top: 0;
  right: 0;
  left: 0;
  transform: none;
}

.loyaltyBadgeView .loyaltyBadgeView-years-text {
  top: 6px;
  right: 0;
  left: 0;
  font-size: 22px;
  text-align: center;
  filter: drop-shadow(0 0 2px #fff);
  transform: none;
}

.loyaltyBadgeView {
  width: 50px;
  height: 50px;
}

.loyaltyBadgeView.badgeLevel15 .loyaltyBadgeView-years-text {
  top: 14px;
}

.hunterInfoView-verifiedUserImage {
  width: 14.5px;
  height: 17.5px;
}

.hunterInfoView-wrapper .hunterInfoView-favoritesBlock-content-container {
  padding-top: 15px;
}

.hunterInfoView-wrapper .hunterInfoView-idCardBlock-goldenShield-image {
  left: -5px;
  width: 26px;
  height: 26px;
}

.hunterInfoView-wrapper .hunterInfoView-idCardBlock-goldenShield-text {
  width: auto;
  padding: 2px 7px 3px 20px;
  font-size: 12px;
  white-space: nowrap;
}

.mouseCrownsView-group-mouse.landscape .mouseCrownsView-group-mouse-image,
.mouseCrownsView-group-mouse-image {
  background-position: center;
  background-size: 100%;
  transition: 0.4s ease-in;
}

.mouseCrownsView-group-mouse.landscape .mouseCrownsView-group-mouse-image {
  background-position: center;
  background-size: auto 200px;
}

.mouseCrownsView-group-mouse.landscape .mouseCrownsView-group-mouse-image.costumed_horse,
.mouseCrownsView-group-mouse.landscape .mouseCrownsView-group-mouse-image.geyser_eruption_dragon_flaming,
.mouseCrownsView-group-mouse.landscape .mouseCrownsView-group-mouse-image.rift_gaunt_prestige_low,
.mouseCrownsView-group-mouse.landscape .mouseCrownsView-group-mouse-image.crystal_behemoth,
.mouseCrownsView-group-mouse.landscape .mouseCrownsView-group-mouse-image.desert_beast,
.mouseCrownsView-group-mouse.landscape .mouseCrownsView-group-mouse-image.ful_mina_mountain_queen {
  background-position: 80% center;
}

.mouseCrownsView-group-mouse.landscape:hover .mouseCrownsView-group-mouse-image.costumed_horse,
.mouseCrownsView-group-mouse.landscape:hover .mouseCrownsView-group-mouse-image.geyser_eruption_dragon_flaming,
.mouseCrownsView-group-mouse.landscape:hover .mouseCrownsView-group-mouse-image.rift_gaunt_prestige_low,
.mouseCrownsView-group-mouse.landscape:hover .mouseCrownsView-group-mouse-image.crystal_behemoth,
.mouseCrownsView-group-mouse.landscape:hover .mouseCrownsView-group-mouse-image.desert_beast,
.mouseCrownsView-group-mouse.landscape:hover .mouseCrownsView-group-mouse-image.ful_mina_mountain_queen {
  background-position: 78% center;
}

.mouseCrownsView-group-mouse.landscape .mouseCrownsView-group-mouse-image.magmatic_golem,
.mouseCrownsView-group-mouse.landscape .mouseCrownsView-group-mouse-image.empyrean_treasure_guardian,
.mouseCrownsView-group-mouse.landscape .mouseCrownsView-group-mouse-image.richard_rich {
  background-position: 60% center;
}

.mouseCrownsView-group-mouse.landscape:hover .mouseCrownsView-group-mouse-image.magmatic_golem
.mouseCrownsView-group-mouse.landscape:hover .mouseCrownsView-group-mouse-image.empyrean_treasure_guardian,
.mouseCrownsView-group-mouse.landscape:hover .mouseCrownsView-group-mouse-image.richard_rich {
  background-position: 62% center;
}

.mouseCrownsView-group-mouse.landscape .mouseCrownsView-group-mouse-image.rift_claw_master,
.mouseCrownsView-group-mouse.landscape .mouseCrownsView-group-mouse-image.hween_2013_boss,
.mouseCrownsView-group-mouse.landscape .mouseCrownsView-group-mouse-image.spice_sorcerer {
  background-position: 25% center;
}

.mouseCrownsView-group-mouse.landscape:hover .mouseCrownsView-group-mouse-image.rift_claw_master,
.mouseCrownsView-group-mouse.landscape:hover .mouseCrownsView-group-mouse-image.hween_2013_boss,
.mouseCrownsView-group-mouse.landscape:hover .mouseCrownsView-group-mouse-image.spice_sorcerer {
  background-position: 26% center;
}

.mouseCrownsView-group-mouse.landscape .mouseCrownsView-group-mouse-image.ancient_of_the_deep,
.mouseCrownsView-group-mouse.landscape .mouseCrownsView-group-mouse-image.rift_assassin_beast {
  background-position: 15% center;
}

.mouseCrownsView-group-mouse.landscape:hover .mouseCrownsView-group-mouse-image.ancient_of_the_deep,
.mouseCrownsView-group-mouse.landscape:hover .mouseCrownsView-group-mouse-image.rift_assassin_beast {
  background-position: 16% center;
}

.mouseView-group.mouseview-title-group {
  display: flex;
  flex-direction: column;
}

.mh-dark-mode.PageHunterProfile .pageFrameView .mouseCrownsView-group-mouse:hover .mouseCrownsView-group-mouse-padding,
.mouseCrownsView-group-mouse:hover .mouseCrownsView-group-mouse-padding {
  background-color: #fff;
}

.mouseCrownsView-group-mouse-favouriteButton {
  top: 0;
  right: 0;
}

.mouseCrownsView-group-mouse-favouriteButton:hover {
  background-color: transparent;
  border: none;
}

.mouseCrownsView-group-mouse .mouseCrownsView-group-mouse-favouriteButton {
  pointer-events: all !important;
}

.mouseCrownsView-group-mouse .mouseCrownsView-group-mouse-favouriteButton:hover {
  top: 2px;
  right: 2px;
  background: url(https://www.mousehuntgame.com/images/ui/camp/trap/star_favorite.png) 0 0 / cover no-repeat;
}

.hunterProfileItemsView-categoryContent-item .itemImage .limitedEdition,
.hunterProfileItemsView-categoryContent-item .itemImage .quantity {
  opacity: 1;
  transition: 0.2s ease-in;
}

.hunterProfileItemsView-categoryContent-item:hover .itemImage .limitedEdition,
.hunterProfileItemsView-categoryContent-item:hover .itemImage .quantity {
  opacity: 0;
}

.hunterInfoView-wrapper .hunterInfoView-favoritesBlock-content-mouseImage::after {
  width: 30px;
  height: 30px;
}

.hunterInfoView-wrapper .hunterInfoView-favoritesBlock-content-mouseImage::before {
  top: -10px;
  left: -10px;
  width: 25px;
  height: 25px;
}

.hunterInfoView-wrapper .hunterInfoView-idCardBlock-stats-horn-container .hunterInfoView-idCardBlock-stats-horn-image {
  transition: 0.2s ease-in;
}

.hunterInfoView-wrapper .hunterInfoView-idCardBlock-stats-horn-container:hover .hunterInfoView-idCardBlock-stats-horn-image {
  transform: rotate(-6deg) scale(1.5);
}

.hunterInfoView-wrapper hr {
  background-color: #000;
}

.hunterInfoView-wrapper .hunterInfoView-idCardTooltipBox-content > div {
  margin: 5px 0;
}

.hunterInfoView-wrapper .hunterInfoView-idCardTooltipBox-content > div:first-child {
  margin-top: 0;
}

.hunterInfoView-wrapper .hunterInfoView-idCardTooltipBox-content > div:last-child {
  margin-bottom: 0;
}

.hunterInfoView-wrapper div .pagerView-container {
  background-color: #f0ead6;
  border: 1px solid #bea87a;
  border-radius: 5px;
}

.userInteractionButtonsView-button {
  border-radius: 15px;
  box-shadow: inset 0 0 0 2px #eae1c6;
}

.hunterInfoView-wrapper .friendsPage-friendRow-titleBar-titleDetail {
  top: 22px;
  font-size: 13px;
}

.friendsPage-friendRow-titleBar-icon {
  top: -12px;
}

.mousehuntPage-content .mh-improved-scoreboard-dropdown select {
  border: 1px solid #bea87a;
}

.hunterInfoView-wrapper .hunterInfoView-playerActionsBlock {
  margin: 0 10px;
  text-align: left;
  opacity: 0.5;
}

.hunterInfoView-wrapper .hunterInfoView-playerActionsBlock:hover {
  opacity: 1;
}

.hunterInfoView-wrapper .hunterInfoView-idCardBlock-teamInfo-container::before,
.hunterInfoView-wrapper .hunterInfoView-idCardBlock-teamInfo-container,
.hunterInfoView-wrapper .hunterInfoView-idCardBlock-stats-huntingSince,
.hunterInfoView-wrapper .hunterInfoView-idCardBlock-stats-horn-container,
.hunterInfoView-wrapper .hunterInfoView-idCardBlock-stats {
  border-color: #bea87a;
}

.hunterProfileItemsView-categoryContent-item.limited_edition .itemImage .limitedEdition {
  top: 3px;
  right: -3px;
  width: 50px;
  height: 50px;
  background: url(https://www.mousehuntgame.com/images/ui/backgrounds/trap_image_limited_edition_badge.png) no-repeat top right / 90px;
  filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 1px #fff);
}
