.inventoryPage-item.full.recipe.known.reordered .inventoryPage-item-contentContainer,
.inventoryPage-item.full.recipe.known.reordered .inventoryPage-item-imageContainer {
    display: none;
}

.inventoryPage-item.full.recipe.known.reordered .inventoryPage-item-name {
    padding: 5px 0 0 5px;
}

.inventoryPage-item.full.recipe.known.reordered:hover .inventoryPage-item-contentContainer,
.inventoryPage-item.full.recipe.known.reordered:hover .inventoryPage-item-imageContainer {
    display: block;
}

.inventoryPage-item.full.recipe.known.reordered:hover .inventoryPage-item-name {
    padding: 10px;
}
