.scoreboardRelativeRankingTableView table {
  border: 1px solid #ddedff;
}

.scoreboardRelativeRankingTableView th {
  display: flex;
  grid-column: 1 / 6;
  align-items: center;
  justify-content: space-around;
  font-size: 10px;
  font-weight: 400;
  background-color: #dbecff;
  border-bottom: 1px solid #b7c4d2;
}

.scoreboardRelativeRankingTableView td:nth-of-type(3) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scoreboardRelativeRankingTableView tr {
  display: grid;
  grid-template-columns: 25px 20px auto 68px;
  overflow: hidden;
}

.scoreboardTableView-profilePic {
  box-sizing: border-box;
  border: 1px solid #e9e9e9;
  box-shadow: none;
}

.viewer .tournament-team-rank.updated:hover::after {
  border-radius: 2px;
}
