#supplytransfer .tabContent.recipient .listContainer .actions {
  display: none;
}

#supplytransfer .listContainer a.element.recipient {
  width: 97px;
  height: 73px;
  white-space: nowrap;
}

#supplytransfer .tabContent.recipient .listContainer span.content {
  font-size: 12px;
}

#supplytransfer .listContainer a.element:hover {
  background-color: #d8f0ff;
}

#supplytransfer .listContainer a.element.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 82px;
  height: 77px;
}

#supplytransfer .itemList a.element .itemImage {
  width: 50px;
  height: 50px;
}

#supplytransfer .tabContent.item .listContainer {
  width: auto;
  margin-left: 80px;
}

#supplytransfer .categoryMenu {
  width: 70px;
  padding-left: 5px;
  background-color: #fff;
}

#supplytransfer .categoryMenu a {
  margin-bottom: 1px;
  font-size: 12px;
  text-align: left;
}

#supplytransfer .itemList a.element .itemImage img {
  width: 45px;
  height: 45px;
}

#supplytransfer .listContainer a.element .details {
  font-size: 11px;
}

#supplytransfer .categoryMenu a:hover {
  padding-left: 5px;
  margin-left: -5px;
  text-decoration: none;
  background-color: #d8f0ff;
}

#supplytransfer .drawer {
  padding-bottom: 40px;
  margin-bottom: 10px;
}
