/* Tabs */
.campPage-tabs-tabContentContainer {
  margin-bottom: 10px;
  border: 1px solid #cbc6bb;
  box-shadow: -1px -1px 1px #d3cecb inset;
  background-color: #f6f3eb;
  border-radius: 5px;
}

.campPage-tabs-tabRow:hover .campPage-tabs-tabHeader span,
.campPage-tabs-tabRow:focus .campPage-tabs-tabHeader span,
.campPage-tabs-tabHeader span {
  border-bottom: 1px solid #cbc6bb;
}

.campPage-tabs-tabHeader.active span,
.campPage-tabs-tabRow a.campPage-tabs-tabHeader:hover span,
.campPage-tabs-tabRow a.campPage-tabs-tabHeader:focus span {
  border: 1px solid #cbc6bb;
  border-bottom: none;
}

/* tab content */
.campPage-tabs-tabContent[data-tab="quests"],
.campPage-tabs-tabContent[data-tab="journal"] {
  background: none;
}

/* Daily */
a.campPage-daily-chest-info,
.campPage-daily-chest-label,
.campPage-daily-tomorrow-title,
.campPage-daily-tomorrow-availableIn,
.campPage-daily-today,
.campPage-daily-progress.clear-block,
.campPage-daily-draw-details,
.shopsPage-kingsCalibratorPromo b {
  display: none;
}

.campPage-daily-tomorrow {
  position: relative;
  height: 140px;
  overflow: hidden;
  background-position: center;
  border: 1px solid #7d3a08;
  box-shadow: -1px -1px 2px #d3cecb inset;
}

.campPage-daily-tomorrow-reward {
  display: inline-block;
  width: 100%;
  padding: 5px 0;
  margin-top: 0;
  font-size: 12px;
  font-weight: 900;
  color: #87430d;
  text-shadow: 0 0 2px #ffcd6f;
  background-color: #ffffff57;
}

.campPage-daily-draw-prize-description {
  margin: 10px 20px;
}

div#dailyRewardTimer {
  position: absolute;
  right: 0;
  bottom: 1px;
  display: block;
  width: 100%;
  padding: 3px 0;
  font-size: 13px;
  font-weight: 400;
  color: #904811;
  text-align: center;
  background-color: rgb(255 216 152 / 50%);
  border-top: 10px;
}

.campPage-tabs-tabContent.active[data-tab="daily"] {
  margin: 5px;
  background: #f6f3eb;
  border-radius: 3px;
  box-shadow: inset 0 0 5px #707070;
}

.campPage-daily-container {
  padding: 15px;
  margin: 0;
  background: none;
  border: none;
  box-shadow: none;
}

.campPage-daily-container.draw {
  background: none;
  border: none;
  box-shadow: none;
  margin-top: -15px;
}

.campPage-daily-container.draw .campPage-daily-content {
  height: 230px;
  padding-top: 0;
  background: url(https://www.mousehuntgame.com/images/ui/daily/next_day_bkg.png?asset_cache_version=2);
  background-position-x: center;
  background-position-y: 7px;
  background-size: cover;
  border: 1px solid #7d3a08;
  box-shadow: -1px -1px 2px #d3cecb inset;
  border-radius: 0;
}

.campPage-daily-draw-title,
.campPage-daily-draw-prize-name {
  display: inline-block;
  width: 100%;
  padding: 5px 0;
  margin-top: 0;
  font-size: 12px;
  font-weight: 900;
  color: #87430d;
  text-shadow: 0 0 2px #ffcd6f;
}

.campPage-daily-draw-prize-name {
  font-size: 12px;
}

img.campPage-daily-draw-prize-image {
  padding: 0;
  background: none;
}

.shopsPage-kingsCalibratorPromo::after {
  top: 5px;
  width: 45px;
  height: 45px;
  background-image: url(https://i.imgur.com/hxFvB35.png);
  filter: drop-shadow(0 1px 1px #7d3a08);
}

div#dailyRewardTimer::before {
  content: "Available in ";
}

.shopsPage-kingsCalibratorPromo {
  height: 55px;
  padding: 0 55px;
  margin-top: 2px;
  text-align: center;
  border-radius: 0;
  border: 1px solid #7d3a08;
  box-shadow: inset -1px -1px 2px #d3cecb;
  background: #ffe8aa;
  line-height: 13px;
  color: #412814;
}

.campPage-daily-container .shopsPage-kingsCalibratorPromo-button {
  margin: 0;
  background: var(--color-blue);
  border-radius: 5px;
  box-shadow: inset 0 -1px 1px 1px var(--color-blue-dark);
}

.campPage-daily-container .shopsPage-kingsCalibratorPromo-button:hover,
.campPage-daily-container .shopsPage-kingsCalibratorPromo-button:active,
.campPage-daily-container .shopsPage-kingsCalibratorPromo-button:focus {
  background: var(--color-blue-dark);
}

.campPage-tabs-tabContent.active[data-tab=daily],
.campPage-tabs-tabContent-larryTip-container,
.campPage-quests-container {
  line-height: 16px;
  border: 1px solid #d3cecb;
  box-shadow: -1px 1px 3px 0px #d3cecb inset;
  border-radius: 3px;
  background-color: #fbf8f6;
}

.campPage-daily-container.daily .campPage-daily-content{
  margin-top: 15px;
}

.campPage-tabs-tabContent-larryTip-container a.campPage-tabs-tabContent-larryTip-byLine,
img.campPage-larryTip-external-link-icon {
  display: none;
}

.campPage-tabs-tabContent-larryTip-environment {
  padding-bottom: 1em;
}

.campPage-tabs-tabContent-larryTip-container a {
  display: block;
  padding: 1em 0 0;
  text-align: right;
}

.campPage-tabs-tabContent-larryTip-container a::after {
  content: "→";
}
