.teamPage-container .userInteractionButtonsView.small_buttons .userInteractionButtonsView-button {
  width: 33px !important;
  height: 33px !important;
  background-size: cover !important;
}

.teamPage-container .teamPage-memberRow-actions .mousehuntTooltip {
  right: -40px;
  left: -40px;
}

.teamPage-container .userInteractionButtonsView-unfriendLink {
  display: none;
}

.teamPage-profile-header-controls {
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.teamPage-profile-header-controls br {
  content: "";
}

.teamPage-profile-header-controls br::after {
  content: " ";
}

.teamPageConfirm-dialog input.userSelectorView-filter-input {
  width: 600px;
  padding: 10px;
  margin: 0 10px;
}

.teamPageConfirm-dialog .userSelectorView-filterContainer {
  width: 100%;
  padding: 0 0 10px;
}

.teamPageConfirm-dialog a.userSelectorView-filter-clear.active {
  top: 15px;
  right: 15px;
  font-size: 14px;
  color: transparent;
}

.teamPageConfirm-dialog a.userSelectorView-filter-clear.active:hover::after {
  color: #f55;
}

.teamPageConfirm-dialog a.userSelectorView-filter-clear.active::after {
  font-size: 16px;
  color: #b72929;
  content: "\2715";
}

.teamPage-memberJournal-empty {
  line-height: 30px;
  color: #575757;
}

.teamPage-memberJournal-list {
  height: unset;
  min-height: 30px;
}

.teamPage-memberJournals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;
}

.teamPage-memberJournalContainer {
  width: auto;
}

.tournamentPage-tournamentContainer-prizeInfo {
  display: none;
}

.teamPage-memberJournal-trapSetup b {
  display: none;
}

.teamPage-memberJournal-trapSetup i {
  margin-left: 9px;
  font-size: 12px;
  line-height: 17px;
}

.teamPage-memberJournal-identity a.teamPage-member-image.online::before {
  position: absolute;
  top: 3px;
  right: -182px;
  width: 10px;
  height: 10px;
  content: "";
  background-color: #8ff309;
  border: 1px solid #355c1d;
  border-radius: 50%;
}

/* Only show the 'these awards are from all the ppl' message on hover' */
.teamPage-profile-awardContainer-awardList {
  position: relative;
}

.teamPage-profile-awardContainerInfo {
  position: absolute;
  top: -32px;
  right: 0;
  display: block;
  width: 250px;
  font-size: 10px;
  color: #451e00;
  text-shadow: 1px 1px 1px #eee;
  opacity: 0;
  transition: 0.2s ease-in;
}

.teamPage-profile-awardContainer-awardList:hover .teamPage-profile-awardContainerInfo {
  opacity: 1;
}

.teamPage-memberJournal-padding {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: calc(100% - 8px);
}

.teamPage-memberJournal-trapSetup {
  flex-grow: 1;
}

.teamPage-memberJournal-identity:hover a.teamPage-member-image.online::before {
  display: flex;
  justify-content: end;
  line-height: 7px;
  text-shadow:
    0 0 #fff,
    1px 1px #fff,
    2px 2px #fff,
    -1px -1px #fff,
    -2px -2px #fff,
    0 1px #fff,
    0 2px #fff,
    0 -1px #fff,
    0 -2px #fff,
    -1px 0 #fff,
    -2px 0 #fff,
    1px -1px #fff,
    2px -2px #fff,
    -1px 1px #fff,
    -2px 2px #fff;
  white-space: nowrap;
  content: attr(title) "    ";
}
