.campPage-trap-itemBrowser-item.largeQuantity .campPage-trap-itemBrowser-item-quantity .quantity {
  display: inline-block;
  font-size: 12px;
  background-color: #fff;
}

.campPage-trap-itemBrowser-item-description.shortDescription {
  width: auto;
  margin-left: 62px;
  font-size: 10px;
}

.campPage-trap-itemBrowser-item-content {
  width: 81%;
}

.skin .campPage-trap-itemBrowser-item-content {
  width: 79%;
}

.campPage-trap-itemBrowser-item-favorite {
  position: absolute;
  top: 0;
  right: 5px;
  width: 15px;
  height: 15px;
  padding: 5px;
  margin-top: 0;
  background-color: #fff;
  background-size: 15px;
  border-radius: 50%;
  opacity: 0;
  transition: 0.2s ease-in;
}

.campPage-trap-itemBrowser-item:hover .campPage-trap-itemBrowser-item-favorite {
  opacity: 1;
}

.campPage-trap-itemBrowser-item {
  min-height: 80px;
}

.campPage-trap-itemBrowser-item-name {
  margin-bottom: 5px;
}

.trapSelectorView__activeCodex {
  width: 50px;
  height: 50px;
}

.campPage-trap-itemBrowser-armed-item-content {
  position: relative;
  height: auto;
}

.campPage-trap-itemBrowser-armed-item .campPage-trap-itemBrowser-item-quantity {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.campPage-trap-itemBrowser-item-stat.power,
.campPage-trap-itemBrowser-item-stat.powerBonus,
.campPage-trap-itemBrowser-item-stat.luck,
.campPage-trap-itemBrowser-item-stat.attraction_bonus,
.campPage-trap-itemBrowser-item-stat.cheese_effect {
  background-size: 28px;
}

.campPage-trap-itemBrowser-item-stat .value {
  height: 30px;
}

.campPage-trap-itemBrowser-item-statContainer {
  border-radius: 2px;
}

.campPage-trap-itemBrowser-items {
  right: 5px;
  padding-right: 2px;
}

.campPage-trap-itemBrowser-item-stat.cheese_effect span {
  font-size: 8px;
}

.campPage-trap-itemBrowser-item-powerType {
  width: 18%;
  margin-right: 2px;
}

.campPage-trap-itemBrowser-item-image {
  width: 49px;
  height: 49px;
}

.mousehuntActionButton.loading::after {
  position: absolute;
  inset: 0;
  content: "";
  background:
    center / 15px no-repeat url(https://www.mousehuntgame.com/images/ui/loaders/drip_spinner.gif),
    center / contain repeat url(https://www.mousehuntgame.com/images/ui/backgrounds/overlay.png);
}

.campPage-trap-itemBrowser-item.codex.unowned .trapSelectorView__obtainHint {
  display: block;
}

.campPage-trap-itemBrowser-armed-item.trinket .campPage-trap-itemBrowser-item-statContainer {
  display: flex;
  width: auto;
}

.campPage-trap-itemBrowser-armed-item.trinket .campPage-trap-itemBrowser-item-disarmButton {
  margin-right: 10px;
}
