.campPage-trap-itemBrowser-item.largeQuantity .campPage-trap-itemBrowser-item-quantity .quantity {
  display: inline-block;
  font-size: 12px;
  background-color: #fff;
}

.campPage-trap-itemBrowser-item-description.shortDescription {
  width: auto;
  margin-left: 62px;
  font-size: 10px;
}

.campPage-trap-itemBrowser-item-content {
  width: 81%;
}

.campPage-trap-itemBrowser-item-favorite {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin-top: 0;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  transition: 0.2s;
}

.campPage-trap-itemBrowser-item:hover .campPage-trap-itemBrowser-item-favorite {
  opacity: 1;
}

.campPage-trap-itemBrowser-item-armButton {
  height: 25px;
  line-height: 25px;
  color: #fff;
  background-color: #40f446;
  box-shadow: 0 -13px 11px 2px #22b227 inset;
}

.campPage-trap-itemBrowser-item-armButton:hover {
  background-color: #00e608;
  box-shadow: 0 0 1px #26d42c inset;
}

.armed .campPage-trap-itemBrowser-item-armButton {
  box-shadow: 0 -13px 7px #d57229 inset;
}

.armed.canDisarm .campPage-trap-itemBrowser-item-armButton:hover {
  box-shadow: 0 -13px 7px #e87c2d inset;
}

.campPage-trap-itemBrowser-item {
  min-height: 80px;
}

.campPage-trap-itemBrowser-item-name {
  margin-bottom: 5px;
}

.trapSelectorView__activeCodex {
  width: 50px;
  height: 50px;
}

.campPage-trap-itemBrowser-armed-item.trinket .campPage-trap-itemBrowser-item-statContainer {
  position: absolute;
  top: 20px;
  left: 60px;
  display: block;
}

.campPage-trap-itemBrowser-armed-item-content {
  position: relative;
  height: auto;
}

.campPage-trap-itemBrowser-armed-item .campPage-trap-itemBrowser-item-quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
}

a.campPage-trap-itemBrowser-item-disarmButton {
  position: absolute;
  top: 50px;
  left: -85px;
  width: 74px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  background-color: #ff6161;
  border: 1px solid #666;
  box-shadow: 0 -13px 7px #b30000 inset;
}

a.campPage-trap-itemBrowser-item-disarmButton:hover {
  box-shadow: 0 -20px 5px #ff7070 inset;
}
