.campPage-trap-baitLabel {
  display: none;
}

.campPage-trap-armedItem.bait {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.campPage-trap-armedItem.bait.active {
  top: 338px;
}

.campPage-trap-baitDetails {
  color: transparent !important;
  text-shadow: none;
}

.campPage-trap-baitName,
.campPage-trap-baitQuantity {
  color: #8e6642;
  text-shadow:
    0 0 1px #ae9b6d,
    1px 1px #fff;
}

.mh-dark-mode .campPage-trap-baitName,
.mh-dark-mode .campPage-trap-baitQuantity {
  right: 0;
  bottom: 0;
  color: #ffe6d0;
  text-shadow:
    0 0 1px #ae9b6d,
    1px 1px #000;
}

.trapSelectorView__armedItemQuantity span,
.campPage-trap-baitQuantity {
  position: absolute;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 11px;
  text-align: right;
  background-color: hsl(0deg 0% 100% / 70%);
  border: 1px solid #9d917f;
  border-right: none;
  border-bottom: none;
  border-bottom-right-radius: 3px;
  box-shadow: -1px -1px 1px #d3cecb inset;
}

.mh-dark-mode .trapSelectorView__armedItemQuantity span {
  color: #ffe6d0;
  text-shadow: none;
  background-color: #333;
}

.campPage-trap-armedItem.bait .campPage-trap-armedItem-image {
  width: 60px;
  margin-right: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.mh-dark-mode .campPage-trap-baitQuantity,
.mh-dark-mode .campPage-trap-armedItem .quantity span {
  color: #ffe6d0;
  background-color: #333;
}

.mh-dark-mode .pageFrameView #mousehuntContainer.PageCamp .campPage-trap-trapEffectiveness {
  background: #424242;
  border: 1px solid #888;
  box-shadow: 1px 1px 1px #535151;
}

.mh-dark-mode .campPage-trap-trapStat .value {
  color: #fff;
  background-color: #333;
  border-color: #5c5c5c;
}

.campPage-trap-armedItem .quantity span {
  position: absolute;
  right: -6px;
  bottom: 3px;
  padding: 3px;
  text-align: right;
  background-color: hsl(0deg 0% 100% / 80%);
  border: 1px solid #d3cecb;
  border-right: none;
  border-bottom: none;
  border-radius: 0;
  border-bottom-right-radius: 4px;
  box-shadow: -1px -1px 1px #d3cecb inset;
}

.campPage-trap-statsContainer {
  border: 1px solid #d3cecb;
  border-radius: 4px;
  box-shadow: -1px 1px 3px #d3cecb inset;
}

.campPage-trap .trapImageView {
  width: 352px;
  height: 352px;
  margin-top: 0;
  margin-left: 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ceb7a6;
  border-radius: 0;
}

.campPage-trap {
  border: 1px solid #ceb7a6;
  border-right: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Profile page */
.hunterInfoView-wrapper .hunterInfoView-trapBlock-header-container,
.hunterInfoView-wrapper .hunterInfoView-trapBlock-footer {
  border-width: 1px;
  box-shadow: none;
}

.hunterInfoView-wrapper .hunterInfoView-trapBlock-setup-container {
  margin-right: -9px;
  margin-left: -9px;
  border-bottom: 1px solid #ceb7a6;
  box-shadow: none;
}

.hunterInfoView-wrapper .hunterInfoView-trapBlock-footer-stats {
  padding-top: 35px;
  margin-right: -9px;
  margin-left: -9px;
  box-shadow: none;
}

.hunterInfoView-wrapper .trapImageView {
  width: 368px;
  height: 368px;
  margin: 0 auto;
}

.hunterInfoView-wrapper a.trapImageView-zoomButton {
  top: 80%;
}

.hunterInfoView-wrapper .hunterInfoView-trapBlock-header-title-container {
  left: 1px;
  border-width: 1px;
  border-bottom: none;
}

.hunterInfoView-wrapper .hunterInfoView-trapBlock-setup-items {
  background: none;
  border: none;
}

.hunterInfoView-wrapper .hunterInfoView-trapBlock-footer {
  background: #f6f3eb;
  border-top: 0;
  box-shadow: none;
}

.hunterInfoView-wrapper .hunterInfoView-trapBlock-setup-trap-slot-quantity {
  bottom: 0;
  width: 100%;
  background-color: rgb(255 255 255 / 90%);
  border-color: #d3cecb;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-radius: 0;
}

.hunterInfoView-wrapper .hunterInfoView-trapBlock-setup-trap-slot,
.hunterInfoView-wrapper .hunterInfoView-trapBlock-setup-trap-slot.middle {
  width: 60px;
  height: 60px;
  margin: 0;
  background-position: -1px;
  background-size: 61px;
  border: 1px solid #000;
  box-shadow: none;
}

.hunterInfoView-wrapper .campPage-trap-trapStat {
  display: flex;
  background: #fff;
  border: 1px solid #e2d3c8;
  border-radius: 3px;
}

.mh-dark-mode .hunterInfoView-wrapper .campPage-trap-trapStat {
  background: #424242;
  border-color: #5c5c5c;
}

.hunterInfoView-wrapper .campPage-trap-itemStats {
  display: flex;
  padding-bottom: 0;
  margin: 0 5px;
}

.hunterInfoView-wrapper .campPage-trap-trapStat .value {
  background: transparent;
  border: none;
}

.largerTrapView-popup-name,
span.campPage-trap-armedItem-skin-description-content b,
span.campPage-trap-armedItem-skin-description-content br {
  display: none;
}

/* tem meter */
.campPage-trap-trapEffectivenessBar {
  height: 12px;
  margin-top: -1px;
  background: #c6bea8;
  border: 1px solid #9c938e;
}

.mh-dark-mode .campPage-trap-trapEffectivenessBar {
  background-color: #424242;
  border-color: #5c5c5c;
}

.campPage-trap-trapEffectivenessBar.easy::after,
.campPage-trap-trapEffectivenessBar.effortless::after,
.campPage-trap-trapEffectivenessBar.strong::after,
.campPage-trap-trapEffectivenessBar.excellent::after {
  background: #5ccd5e;
}

.campPage-trap-trapEffectivenessBar.near_impossible::after,
.campPage-trap-trapEffectivenessBar.very_poor::after,
.campPage-trap-trapEffectivenessBar.overpowering::after {
  background: #dc7878;
}

.campPage-trap-trapEffectivenessBar.difficult::after,
.campPage-trap-trapEffectivenessBar.challenging::after,
.campPage-trap-trapEffectivenessBar.mild::after,
.campPage-trap-trapEffectivenessBar.moderate::after,
.campPage-trap-trapEffectivenessBar.medium::after {
  background: #e6cd66;
}

.campPage-trap-trapEffectivenessBar.impossible::after {
  width: 100%;
  background: #a83030;
}

/* tem popup */

/* hide subheader */
.campPage-trap-trapEffectiveness-header {
  color: transparent;
}

.campPage-trap-trapEffectiveness-header b {
  color: #8e6642;
}

.campPage-trap-trapEffectiveness-content {
  top: 50px;
}

.campPage-trap-trapEffectiveness-difficultyGroup {
  background: #f6f3eb;
  border-color: #e3dbd5;
  border-radius: 3px;
  box-shadow: inset 0 0 1px #755e40;
}

.campPage-trap-trapEffectiveness-difficultyGroup-label {
  grid-column: span 2;
  font-weight: 400;
  text-align: center;
  border: none;
}

.campPage-trap-armedItem.skin .campPage-trap-armedItem-skin-description-content span {
  font-size: 12px;
  vertical-align: middle;
}

.trapSelectorView__browserContainer .campPage-trap-trapEffectivenessBar {
  display: none;
}

.campPage-trap-armedItem.inactive {
  background: #f6f3eb;
}

.campPage-trap-trapStat.power .value b {
  margin-bottom: -2px;
  line-height: 18px;
}

.itembrowser-skin-image-wrapper {
  width: 330px;
  height: 330px;
  background-image: url(https://www.mousehuntgame.com/images/items/bases/trap_small/a44d6a59ca9c0d11224bb36fd4e16378.png);
  background-size: cover;
}

img.itembrowser-skin-image {
  width: 330px;
  height: 330px;
}

.campPage-trap-trapStat-mathRow {
  font-size: 12px;
  line-height: 23px;
}

.campPage-trap-trapStat-mathRow.label {
  padding-bottom: 2px;
  margin-bottom: 5px;
  font-size: 18px;
}

.campPage-trap-trapStat .math {
  bottom: 90px;
  left: -23px;
  width: 346px;
}

.campPage-trap-trapStat-mathRow-icon {
  width: 25px;
  height: 25px;
}

.campPage-trap-trapStat-mathRow-thumb {
  width: 24px;
  height: 24px;
}

.campPage-trap-trapStat .math .arrow {
  display: none;
}

.campPage-trap-trapStat .value span {
  font-size: 15px;
}

.campPage-trap-trapStat.cheese_effect .value span {
  font-size: 12px;
}

/* hide the "armed" text */
.campPage-trap-itemBrowser-armed-item-image-frame {
  background: none;
  border: none;
  box-shadow: none;
}

/* don't show the quantity if an item isn't armed */
.campPage-trap-armedItem.empty .quantity {
  display: none;
}

/* make the "no charm armed" text look nicer */
.empty .campPage-trap-armedItem-empty {
  top: 11px;
  right: 2px;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  font-size: 12px;
  color: #671d1d;
  border-radius: 10px;
  box-shadow: none;
}

.campPage-trap-itemBrowser-armed-item.empty.clear-block {
  display: flex;
  align-items: center;
  background-color: #e3d4d1;
}

.campPage-trap-itemBrowser-armed-item.empty.clear-block .campPage-trap-itemBrowser-armed-item-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
}

.campPage-trap-itemBrowser-armed-item.empty.clear-block .campPage-trap-itemBrowser-armed-item-content .campPage-trap-itemBrowser-item-name {
  font-size: 18px;
  font-variant: none;
  color: #671d1d;
  background: #e3d4d1;
}

.campPage-trap-armedItem.bait.empty .campPage-trap-armedItem-image {
  background-image: url(https://www.mousehuntgame.com/images/ui/hunters_horn/sandwich_board/icons/bait_empty.png);
}

.campPage-trap-baitDetails .campPage-trap-baitName {
  position: absolute;
  inset: 0 0 0 70px;
  display: flex;
  align-items: center;
}

/* Prevent wrapping in the stat breakdown when hovering over stats on the camp page */
.campPage-trap-trapStat-mathRow-name {
  padding-right: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.campPage-trap-itemBrowser-item-description-consumeMethod {
  white-space: nowrap;
}

.trapSelectorView__browserContainer {
  animation: mh-improved-in-from-left 0.2s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .trapSelectorView__browserContainer {
    animation: none;
  }
}

.trapSelectorView__armedItemBorder,
.trapSelectorView__weaponSkinGroup button {
  border: 1px solid #d3cecb;
  border-radius: 4px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: -1px 1px 3px #d3cecb inset;
}

.trapSelectorView__weaponSkinGroup {
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
}

.trapSelectorView__armedItem[data-item-classification="skin"] .trapSelectorView__armedItemImage,
.trapSelectorView__armedItem[data-item-classification="weapon"] .trapSelectorView__armedItemImage {
  margin: 3px;
  background-position: -1px -1px;
  background-size: 72px;
}

.trapSelectorView__trapStatSummaryContainer {
  background: #f6f3eb;
  border-color: #e3dbd5;
  border-radius: 3px;
  box-shadow: none;
}

.mh-dark-mode .trapSelectorView__trapStatSummaryContainer {
  background: #333;
  border-color: #fff;
  border-radius: 3px;
  box-shadow: none;
}

.trapSelectorView__trapStatSummary,
.trapSelectorView__outerBlock {
  border: 1px solid #d3cecb;
  border-radius: 4px;
  box-shadow: -1px 1px 3px #d3cecb inset;
}

.mh-dark-mode .trapSelectorView__trapStatSummary,
.mh-dark-mode .trapSelectorView__outerBlock,
.mh-dark-mode .pageFrameView #mousehuntContainer.PageCamp .campPage-trap-trapEffectiveness,
.mh-dark-mode .mh-improved-favorite-setups-button {
  background: #424242;
  border: 1px solid #888;
  box-shadow: 1px 1px 1px #535151;
}

.mh-dark-mode .mh-improved-favorite-setups-button {
  background-color: #424242;
  border-color: #5c5c5c;
}

.trapSelectorView__activeCodexList.trapSelectorView__innerBlock {
  background: transparent;
  border: none;
}

.trapSelectorView__activeCodexHeader {
  display: none;
}

.trapSelectorView__armedItemQuantity span {
  position: absolute;
  right: -6px;
  bottom: 3px;
  box-sizing: border-box;
  text-shadow:
    0 0 1px #ae9b6d,
    1px 1px #fff;
  background-color: #fcfbf9;
  border-color: #d3cecb;
  border-right: none;
  border-bottom: none;
  border-radius: 0;
  border-bottom-right-radius: 3px;
}

.trapSelectorView__armedItem[data-item-classification="skin"] {
  margin-right: 0;
}

.trapSelectorView__armedItem[data-item-classification="skin"] .trapSelectorView__armedItemImage,
.trapSelectorView__armedItemImage {
  width: 65px;
  height: 70px;
}

.trapSelectorView__trap {
  padding-top: 0;
}

.trapSelectorView__activeCodexContainer:hover {
  background-color: #fdfaf2;
  filter: none;
}

.mh-dark-mode .trapSelectorView__activeCodexContainer:hover {
  background-color: #494949;
}

.trapSelectorView__armedItem--empty .trapSelectorView__armedItemImage {
  background: transparent;
  box-shadow: none;
}

.campPage-trap-itemBrowser-item.codex .campPage-trap-itemBrowser-item-description {
  line-height: 1.5;
}

input.trapSelectorView__codexListSearch {
  width: auto;
  max-width: 100px;
}

.PageCamp .trapImageView-layer {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#overlayPopup.LargerTrapView #jsDialogClose {
  display: none;
}

#overlayPopup.LargerTrapView .trapImageView-layerWrapper {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

#overlayPopup.LargerTrapView .trapImageView {
  top: 1px;
}

.mh-dark-mode .trapSelectorView__trapStatSummary,
.mh-dark-mode .trapSelectorView__outerBlock,
.mh-dark-mode .pageFrameView #mousehuntContainer.PageCamp .campPage-trap-trapEffectiveness,
.mh-dark-mode .trapSelectorView__armedItemBorder,
.mh-dark-mode .trapSelectorView__weaponSkinGroup button,
.mh-dark-mode .pageFrameView #mousehuntContainer.PageCamp .campPage-trap-armedItem.bait {
  border: 1px solid #5c5c5c;
  border-radius: 5px 5px 4px 4px;
  box-shadow: -1px 1px 3px #515151 inset;
}

.mh-dark-mode .trapSelectorView__weaponSkinGroup.trapSelectorView__armedItemBorder {
  border: none;
  box-shadow: none;
}

.mh-dark-mode .trapSelectorView__armedItemQuantity span,
.mh-dark-mode .campPage-trap-baitName,
.mh-dark-mode .campPage-trap-baitQuantity {
  border-color: #5a5a5a;
  box-shadow: -1px -1px 1px #5c5c5c inset;
}

.mh-dark-mode .mh-improved-favorite-setups-button-label {
  color: #e0d3b3;
}

.campPage-trap-itemBrowser-favorite-item-image-frame {
  top: -1px;
  left: -1px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.trapSelectorView__armedItem--empty[data-item-classification="bait"] .trapSelectorView__armedItemImage::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 70px;
  content: "";
  background: url(https://www.mousehuntgame.com/images/ui/hunters_horn/sandwich_board/icons/bait_empty.png) no-repeat 50% 50% / contain;
}

.trapSelectorView__blueprint.trapSelectorView__blueprint--active {
  background: url(https://www.mousehuntgame.com/images/ui/hud/blueprint_tile.png) repeat;
}

.campPage-trap-trapStat.show-math .math {
  display: block;
}

.campPage-trap-trapStat:hover .value,
.campPage-trap-trapStat.show-math .value {
  background-color: #e5dbd4;
}

.campPage-trap-itemBrowser-item.loaded.skin.cannotArm.cannotDisarm {
  filter: grayscale(1);
}
