#tsitu-supply-search {
  position: absolute;
  top: -2px;
  right: 0;
  display: flex;
  align-items: center;
  vertical-align: middle;
  border: none !important;
}

#tsitu-supply-search label {
  display: none;
}

#tsitu-supply-search button {
  height: 20px;
  padding: 0 10px;
  line-height: 19px;
  color: #000;
  text-shadow: 0 0 1px #fff;
  background-color: #fff600;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #fff,1px 1px 1px #fff;
}

#tsitu-supply-search input {
  padding: 2px;
  margin-right: 2px;
  font-size: 12px !important;
}
