.pageFrameView-contentContainer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
}

.mh-dark-mode .pageFrameView-contentContainer {
  margin-bottom: 0;
}

.pageFrameView-content {
  margin: 0 -10px;
  border: 10px solid #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px #000;
}

.mh-dark-mode .pageFrameView-content {
  margin: 0;
  border: none;
}

@media only screen and (max-width: 810px) {
  body.noSidebar .pageFrameView {
    background: transparent !important;
  }
}

.mh-dark .pageFrameView-content {
  border-color: var(--d);
}

.mh-dark .pageFrameView-column.left,
.mh-dark .pageFrameView-column.right,
.pageFrameView-column.left,
.pageFrameView-column.right {
  background: #bad4ed;
  border-color: #bad4ed;
}

.mousehuntHeaderView {
  padding-top: 0;
  margin-top: 0;
}

#overlayContainer {
  padding-top: 0;
}

#overlayBg {
  top: -5px;
}

.mousehuntHeaderView .menuItem.first {
  border-radius: 9px 0 0;
}

.pageFrameView-column.left,
.pageFrameView-column.right {
  box-shadow: none;
}

/* Fixes for top of page gap */
body .pageFrameView-contentContainer {
  background-color: #bad4ed;
}

body.mh-improved-custom-background .pageFrameView-contentContainer {
  background-color: transparent;
}

body.mh-improved-custom-background.mh-dark .pageFrameView-column.left,
body.mh-improved-custom-background.mh-dark .pageFrameView-column.right,
body.mh-improved-custom-background .pageFrameView-column.left,
body.mh-improved-custom-background .pageFrameView-column.right {
  border-color: transparent;
}

body.kings_giveaway .pageFrameView-contentContainer {
  background-color: #7b67aa;
}

body.kings_giveaway .pageFrameView-column.right,
body.kings_giveaway .pageFrameView-column.left {
  background: #7b67aa;
  border-color: #7b67aa;
}

body.mh-improved-bg-birthday .pageFrameView-column.left,
body.mh-improved-bg-birthday .pageFrameView-column.right {
  border: none;
}

.mh-improved-bg-birthday .pageFrameView-contentContainer {
  background: url(https://www.mousehuntgame.com/images/ui/backgrounds/events/birthday/left.png), url(https://www.mousehuntgame.com/images/ui/backgrounds/events/birthday/right.png);
  background-color: #bad4ed;
  background-repeat: repeat-x;
}

body.great_winter_hunt .pageFrameView-contentContainer {
  background-image: url(https://www.mousehuntgame.com/images/ui/backgrounds/events/great_winter_hunt/right.jpg);
}

body.great_winter_hunt .pageFrameView-column.left,
body.great_winter_hunt .pageFrameView-column.right {
  border-color: #b9d3ec;
}

body.halloween .pageFrameView-contentContainer {
  background: url(https://www.mousehuntgame.com/images/ui/backgrounds/events/halloween/right.png), url(https://www.mousehuntgame.com/images/ui/backgrounds/events/halloween/left.png);
  background-color: #e87e33;
  background-repeat: repeat-x;
}

body.halloween .pageFrameView-column.left,
body.halloween .pageFrameView-column.right {
  border-color: #e87e33;
}

body.lunar_new_year .pageFrameView-contentContainer {
  background-color: #7f071c;
}

body.lunar_new_year .pageFrameView-column.left,
body.lunar_new_year .pageFrameView-column.right {
  border-color: #7f071c;
}

body.spring_hunt .pageFrameView-contentContainer {
  background-color: #86ce5b;
}

body.spring_hunt .pageFrameView-column.left,
body.spring_hunt .pageFrameView-column.right {
  border-color: #86ce5b;
}

body.valentines .pageFrameView-contentContainer {
  background-color: #f69898;
}

body.valentines .pageFrameView-column.left,
body.valentines .pageFrameView-column.right {
  border-color: #f69898;
}
