#tsitu-supply-search {
  position: absolute;
  top: -2px;
  right: 0;
  display: flex;
  align-items: center;
  vertical-align: middle;
  border: none !important;
}

#tsitu-supply-search label {
  display: none;
}

#tsitu-supply-search button {
  height: 20px;
  padding: 0 10px;
  line-height: 19px;
  color: #000;
  text-shadow: 0 0 1px #fff;
  background-color: #fff600;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow:
    inset 0 0 5px #fff,
    1px 1px 1px #fff;
}

#tsitu-supply-search input {
  padding: 2px;
  margin-right: 2px;
  font-size: 12px !important;
}

#tsitu-hunter-id-nav-ui input {
  flex: none !important;
  width: 75px !important;
  margin: 3px;
  border: 1px solid #000 !important;
  border-radius: 2px;
}

#tsitu-hunter-id-nav-ui button {
  padding: 2px !important;
  margin: 3px 1px !important;
  background-color: #d8e3f1;
  border: 1px solid #000 !important;
  border-radius: 3px !important;
}

#tsitu-hunter-id-nav-ui {
  display: inline-flex !important;
  align-items: center;
  border: none;
}

/* LGS reminder script */
span.shieldDurationText,
span.shieldDurationText[data-near-expiry="true"] {
  bottom: -2px;
  z-index: 1;
  font-size: 15px;
  font-weight: 900;
  text-shadow:
    0 0 1px #000,
    0 0 2px #000,
    0 0 3px #000;
}

span.shieldDurationText[data-near-expiry="true"] {
  color: #f12e2e;
}

/* not really a userscript but close enough */
#mhhh_flash_message_div {
  position: fixed !important;
  top: unset !important;
  right: 10px;
  bottom: 10px;
  left: unset !important;
  width: auto !important;
  font-weight: 400 !important;
  white-space: nowrap;
  background-color: #bff890 !important;
  border-radius: 10px;
  box-shadow: 0 1px 3px -1px #000 !important;
  opacity: 1 !important;
}

/* ast's fave setups */
#tsitu-fave-setups {
  z-index: 100;
}

/* Journal historian */
.journalContainer .top:hover .journalContainer-selectTheme[style="position: initial;transform: none;flex: 1 1 auto;height: 20px;background: none rgb(119, 221, 119);padding: 0px 0px 0px 5px;"]:last-child {
  background-image: none;
}

.journalContainer .top:hover .journalContainer-selectTheme[style="position: initial;transform: none;flex: 1 1 auto;height: 20px;background: none rgb(119, 221, 119);padding: 0px 0px 0px 5px;"] {
  display: inline-flex;
  justify-content: center;
  padding: 0 !important;
}

.journalContainer .top:hover .journalContainer-selectTheme[style="position: initial;transform: none;flex: 1 1 auto;height: 20px;background: none rgb(119, 221, 119);padding: 0px 0px 0px 5px;"]:hover {
  background-color: #5dd55d !important;
}

/* Wisdom, add some space below. */
.mousehuntHud-userStat-row.wisdom a {
  display: block;
  margin-bottom: 5px;
}

.mousehuntHud-userStat.goldPoints .wisdom .value {
  vertical-align: top;
}
