.riftBurroughsHud .baitContainer .baitOption .baitQuantity {
  width: 31px;
  font-size: 13px;
  background-color: #464646;
  border-radius: 7px;
}

.brift-ui .mist-display {
  position: absolute;
  top: 15px;
  bottom: 10px;
  left: 260px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 13px;
  font-weight: 900;
  cursor: pointer;
  background-color: #ecf4f5;
  border-radius: 10px;
  box-shadow:
    inset 0 0 0 3px #cbdde0,
    inset 0 0 4px 4px #8d9392,
    0 2px 6px 0 #5b5d5d;
}

.riftBurroughsHud .mistContainer {
  width: 100px;
}

.brift-ui .mist-display.state-yellow {
  background: radial-gradient(circle, #fff4a9 10%, #f4e830 50%);
}

.brift-ui .mist-display.state-green {
  background: radial-gradient(circle, #abe846 10%, #82d953 50%);
}

.brift-ui .mist-display.state-red {
  background: radial-gradient(circle, #ff9a9a 10%, #ff5e5e 50%);
}

.brift-ui .mouse-list {
  position: absolute;
  top: 9px;
  right: 20px;
  bottom: 2px;
  display: flex;
}

.brift-ui .mouse-type {
  display: flex;
  flex-direction: column;
  max-width: 100px;
  padding: 4px;
  margin: 0 5px;
  background-color: rgb(191 206 208 / 81%);
  border-radius: 10px;
  box-shadow:
    inset 0 0 0 3px #cbdde0,
    inset 0 0 4px 4px #8d9392,
    0 2px 6px 0 #5b5d5d;
}

.brift-ui .mouse-type-title {
  min-width: 95px;
  padding: 3px 0;
  margin: -1px;
  font-size: 12px;
  color: #d0f0f3;
  text-align: center;
  cursor: pointer;
  background-color: #828282;
  border-top-left-radius: 7px;
  border-top-right-radius: 8px;
}

.brift-ui .mouse-type-mice {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin: 3px 0;
  font-size: 6px;
}

.brift-ui .mouse-type-title:hover,
.brift-ui .mouse-type-title:focus {
  color: #b1ed71;
  cursor: pointer;
}

.brift-ui .mouse-type-mouse {
  display: block;
  width: 25px;
  height: 25px;
}

.brift-ui img.mouse-type-mouse-image {
  width: 25px;
  height: 25px;
}

.brift-ui .mouse-type-mouse:nth-child(5) .mouse-type-mouse-image {
  border-bottom-left-radius: 4px;
}

.brift-ui .mouse-type-mouse:nth-child(8) .mouse-type-mouse-image {
  border-bottom-right-radius: 4px;
}

.brift-ui .mouse-type-mouse-link {
  position: relative;
}

.brift-ui .mouse-type-mouse-name {
  position: absolute;
  bottom: -30px;
  left: -25px;
  z-index: 2;
  display: none;
  padding: 6px;
  font-size: 10px;
  color: #000;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
}

.brift-ui .mouse-type-mouse-link:hover .mouse-type-mouse-name,
.brift-ui .mouse-type-mouse-link:focus .mouse-type-mouse-name {
  display: block;
}

.brift-ui .mouse-type.active {
  box-shadow:
    inset 0 0 0 2px #a7fc32,
    inset 0 0 4px 4px #8d9392,
    0 2px 6px 0 #5b5d5d;
}

.brift-ui .mouse-type.active .mouse-type-title {
  color: #b1ed71;
}

.riftBurroughsHud .baitOption .toolTip .item .itemImage .quantity {
  font-size: 14px;
  background-color: rgb(255 255 255 / 75%);
}

.riftBurroughsHud .baitWarning {
  top: 36px;
  left: 275px;
  z-index: 20;
  width: 280px;
  padding: 5px;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  background-color: #ffbfbf;
  border: 1px solid #b60000;
  border-radius: 10px;
  box-shadow: 0 0 10px 3px #4d4a4a;
}

.mist-display::after {
  position: absolute;
  right: 0;
  bottom: 6px;
  left: 0;
  font-weight: 900;
  color: #2f3b1c;
  text-align: center;
  content: "↓";
}

.is_misting .mist-display::after {
  top: 9px;
  bottom: unset;
  content: "↑";
}

.is_misting .mist-display.state-red::after {
  content: "";
}

.riftBurroughsHud .mistQuantity {
  left: -7px;
  font-size: 11px;
  letter-spacing: -1px;
}

.riftBurroughsHud {
  border-radius: 10px;
  box-shadow: 6px 7px 5px -1px #161616;
}

.riftBurroughsHud .mistMeter .mistStatus {
  top: 20px;
}

.riftBurroughsHud .mistMeter .mistWrapper span {
  filter: hue-rotate(60deg);
}

.riftBurroughsHud .baitContainer .baitOption .itemImage {
  background: url(https://www.mousehuntgame.com/images/ui/hud/rift_burroughs/mist_meter.png) -5px -15px no-repeat;
  box-shadow: inset 0 0 3px 0 #cbdde0;
}

.riftBurroughsHud .baitContainer .baitOption:hover .itemImage {
  box-shadow: inset 0 0 3px 2px #cbdde0;
}

.riftBurroughsHud .mistCanisters.itemImage {
  margin-top: -2px;
  margin-left: -3px;
}

.riftBurroughsHud .mistCanisters.itemImage,
.riftBurroughsHud .mistCanisters.itemImage img {
  width: 55px;
  height: 55px;
  border-radius: 3px;
  box-shadow: inset 0 0 3px 0 #171717;
}

/* New misting button */
.riftBurroughsHud .mistButton {
  background: none;
}

.riftBurroughsHud .mistButton::after {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: 900;
  text-shadow: 1px 1px #000;
  text-transform: uppercase;
  content: "Mist";
  background: #24cde6;
  border-radius: 3px;
  box-shadow: inset 0 0 4px 1px #067a90;
  transition: 0.15s ease-in;
}

.riftBurroughsHud.is_misting .mistButton::after {
  letter-spacing: -0.25px;
  content: "Misting";
  background: #967fbb;
  box-shadow: inset 0 0 4px 1px #644e88;
}

.riftBurroughsHud .mistButton:hover::after {
  background: #08adc6;
  box-shadow: inset 0 0 4px 1px #067a90;
}

.riftBurroughsHud .mistButton:hover {
  box-shadow: none;
}
