.journal .content .entry.valentines_matchmaker {
  background-position: left;
  animation: slide-background 240s ease-in-out infinite;
}

@media (prefers-reduced-motion: reduce) {
  .animation {
    animation: none;
  }
}

@keyframes slide-background {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}
