/* hide the BONUS HUNT banner on bonus hunts */
.journal .content .bonuscatchsuccess,
.journal .content .bonuscatchfailure {
  box-shadow: none;
}

.journal .content .bonuscatchsuccess::after,
.journal .content .bonuscatchfailure::after {
  top: 10px;
  right: 5px;
  left: unset;
  content: "BONUS";
}

.journal .content .bonuscatchsuccess::before,
.journal .content .bonuscatchfailure::before {
  display: none;
}

.journal .content .bonuscatchfailure::after {
  background-color: #cb0e01;
}
