.inventoryPage-item.convertible .inventoryPage-item-content-action input:first-of-type:not(:only-of-type) {
  pointer-events: all;
  filter: grayscale(0);
}

.inventoryPage-item.convertible .inventoryPage-item-content-action input[data-item-action="all"],
.inventoryPage-item.convertible .inventoryPage-item-content-action input[data-item-action="single"] {
  pointer-events: none;
  filter: grayscale(1);
}

.inventoryPage-item.convertible .inventoryPage-item-content-action input.allButOne {
  pointer-events: all;
  filter: none;
}

.inventoryPage-item.convertible .inventoryPage-item-content-action input:first-of-type:not(:only-of-type),
.inventoryPage-item.convertible .inventoryPage-item-content-action input.allButOne {
  pointer-events: none;
}
