.campPage-trap-trapEffectiveness-mouse-name {
  display: inline-flex;
  flex-flow: column wrap;
  place-content: flex-start space-around;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100px;
  padding-left: 0;
  margin-top: -10px;
}

.campPage-trap-trapEffectiveness-mouse:hover,
.campPage-trap-trapEffectiveness-mouse:focus,
.campPage-trap-trapEffectiveness-mouse:active {
  border: none;
  outline: 1px solid #ccc;
}

.campPage-trap-trapEffectiveness-content {
  overflow: visible;
}

.mh-ui-tem-crown.mousebox {
  position: relative;
  float: none;
  margin: 0;
  border: none;
}

img.mh-ui-tem-crown-icon {
  position: absolute;
  top: -1px;
  right: -5px;
  z-index: 2;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  background-color: #f4f4f4;
  border: 1px solid #8d8282;
  border-right: none;
  border-radius: 50% 0 0 50%;
}

span.mh-ui-tem-crown-text {
  position: absolute;
  top: -1px;
  left: 1px;
  z-index: 1;
  box-sizing: border-box;
  display: inline-block;
  width: auto;
  height: 22px;
  padding: 3px 4px 3px 20px;
  font-size: 12px;
  font-weight: 900;
  color: #8e6642;
  background-color: #f4f4f4;
  border: 1px solid #8d8282;
}

.mh-ui-tem-crown-wrapper {
  position: absolute;
  bottom: 0;
  left: 45px;
}

.campPage-trap-trapEffectiveness-mouse-chance {
  display: block;
  margin-top: 5px;
  color: #628ea9;
}

.campPage-trap-trapEffectiveness-mouse-powerType {
  right: 28px;
  bottom: -9px;
  background-color: #f4f4f4;
  background-size: 70%;
  border-color: #8d8282;
}

.campPage-trap-trapEffectiveness span {
  font-size: 14px;
  vertical-align: bottom;
}

.campPage-trap-trapEffectiveness-difficultyGroup.clear-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center stretch;
  padding-left: 10px;
}

.campPage-trap-trapEffectiveness-mouse {
  width: unset;
  margin: 10px 0;
  overflow: visible;
  border: none;
}

.campPage-trap-trapEffectiveness-difficultyGroup-label {
  grid-column: span 2;
  font-weight: 400;
  text-align: center;
  border: none;
}
