.campPage-trap-trapEffectiveness-mouse-name {
  display: inline-flex;
  flex-direction: column;
}

.campPage-trap-trapEffectiveness-mouse {
  margin: 10px 0;
  overflow: visible;
  border: none;
}

.campPage-trap-trapEffectiveness-mouse:hover {
  border: none;
  outline: 1px solid #ccc;
}

.campPage-trap-trapEffectiveness-content {
  overflow: visible;
}

.mh-ui-tem-crown.mousebox {
  position: relative;
  float: none;
  margin: 0;
  border: none;
}

.mh-ui-tem-crown-wrapper {
  position: absolute;
  top: 0;
  right: 150px;
}

img.mh-ui-tem-crown-icon {
  position: absolute;
  right: -6px;
  bottom: 0;
  z-index: 2;
  width: 23px;
  height: 23px;
  vertical-align: middle;
  background-color: #fdfdfa;
  border: 1px solid #929292;
  border-radius: 50%;
}

span.mh-ui-tem-crown-text {
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;
  display: none;
  width: auto;
  min-width: 40px;
  padding: 5px 0 5px 25px;
  font-weight: 900;
  color: #926944;
  background-color: #f4f4f4;
  border: 1px solid #8d8282;
}

.campPage-trap-trapEffectiveness-mouse:hover .mh-ui-tem-crown-text {
  display: inline-block;
}

.campPage-trap-trapEffectiveness-mouse-chance {
  display: block;
  margin-top: 5px;
  color: #628ea9;
}
