.campPage-trap-trapEffectiveness-mouse-name {
  height: 40px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  width: unset;
}

.campPage-trap-trapEffectiveness-mouse:hover {
  border: none;
  outline: 1px solid #ccc;
}

.campPage-trap-trapEffectiveness-content {
  overflow: visible;
}

.mh-ui-tem-crown.mousebox {
  position: relative;
  float: none;
  margin: 0;
  border: none;
}

img.mh-ui-tem-crown-icon {
  position: absolute;
  right: -6px;
  bottom: 0px;
  z-index: 2;
  width: 21px;
  height: 21px;
  vertical-align: middle;
  background-color: #fdfdfa;
  border: 1px solid #929292;
  border-radius: 50%;
}

span.mh-ui-tem-crown-text {
  position: absolute;
  left: 1px;
  z-index: 1;
  display: inline-block;
  width: auto;
  padding: 4px 10px 2px 15px;
  font-size: 12px;
  font-weight: 900;
  color: #926944;
  background-color: #f4f4f4;
  border: 1px solid #8d8282;
  top: -1px;
  height: 15px;
}

.mh-ui-tem-crown-wrapper {
    margin-left: 5px;
}

.campPage-trap-trapEffectiveness-mouse-chance {
  display: block;
  margin-top: 5px;
  color: #628ea9;
}

.campPage-trap-trapEffectiveness-mouse-powerType {
  right: 27px;
  bottom: -10px;
  background-size: 70%;
}
