/* stylelint-disable stylistic/block-opening-brace-newline-after */
/* stylelint-disable prettier/prettier */
.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=super_brie_cheese"],
.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=chrome_trinket"],
.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=party_trinket"],
.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=snowball_trinket"],
.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=map_clue_stat_item"],
.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=map_clue_stat_item"] {
  position: relative;
  padding-left: 20px;
  white-space: nowrap;
}

.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=super_brie_cheese"]::before,
.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=chrome_trinket"]::before,
.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=party_trinket"]::before,
.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=snowball_trinket"]::before,
.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=scavenger_hunt_hint_stat_item"]::before,
.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=map_clue_stat_item"]::before {
  position: absolute;
  top: -3px;
  left: -2px;
  display: inline-block;
  width: 19px;
  height: 19px;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
}

/* SB+ */
.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=super_brie_cheese"]::before {
  background-image: url(https://www.mousehuntgame.com/images/items/bait/large/32b20c3984d2f03b132c295ea3b99e7e.png?cv=2);
}

/* Chrome charm */
.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=chrome_trinket"]::before {
  background-image: url(https://i.mouse.rip/upscaled/7d9f0e220db8280b84b8bffe39cd803e.png);
}

/* Party charm */
.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=party_trinket"] {
  padding-left: 15px;
}

.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=party_trinket"]::before {
  background-image: url(https://i.mouse.rip/upscaled/8331fe131377c15fcf5c4773bde1fd8f.png);
}

/* Snowball charm */
.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=snowball_trinket"]::before {
  top: -2px;
  background-image: url(https://www.mousehuntgame.com/images/items/trinkets/large/36d3d62f27e2b76944591f86229bc2f0.png?cv=2);
}

.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=scavenger_hunt_hint_stat_item"],
.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=map_clue_stat_item"] {
  padding-left: 24px;
}

.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=scavenger_hunt_hint_stat_item"]::before,
.journaltext a[href="https://www.mousehuntgame.com/item.php?item_type=map_clue_stat_item"]::before {
  left: 1px;
  background-image: url(https://www.mousehuntgame.com/images/items/stats/large/5da5d920ba95f944d4e5b37ae235685e.png?cv=2);
}

/* Don't show the icon in unstable charm trigger */
.journal .entry.unstable_charm_trigger  a[href*="https://www.mousehuntgame.com/item.php?item_type="]:before {
  display: none;
}

.journal .entry.unstable_charm_trigger .journaltext a {
  padding-left: unset;
}
