.journal .content .entry[data-mouse-type="black_widow"] {
  margin: 3px 0;
  background-color: #ffb752;
  outline: 2px solid #000;
}

.mh-dark .journal .content .entry[data-mouse-type="black_widow"] {
  background-color: var(--d-orange-darker);
}
