.journal .entry .journalbody {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 80px;
}

.journal .entry {
  border: 1px solid #a4a4a4;
  border-bottom: none;
}

.journal .entry:last-child {
  border-bottom: 1px solid #a4a4a4;
}

/* Images */
.journal .entry .journalimage {
  margin: 15px 0 0 10px;
}

.journal .entry .journalimage a:hover,
.journal .entry .journalimage a:focus {
  padding: 1px;
  margin: -1px;
  overflow: visible;
}

.journal .entry .journalimage a {
  display: inline-block;
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.journal .entry a img {
  width: 64px;
  height: auto;
  padding: 0;
  margin: -2px;
  border: 1px solid #000;

  /* mix-blend-mode: darken; */
}

.journal .entry a:hover img,
.journal .entry a:focus img {
  padding: 0;
  outline: 1px solid #e70;
  mix-blend-mode: normal;
}

/* Text */
.journal .entry .journalbody .journaltext {
  line-height: 16px;
}

.journal .entry .journaltext b {
  font-weight: 400;
}

.journal .entry .journaltext p:first-of-type {
  margin-top: 0;
}

.journal .entry .journaltext * {
  line-height: 20px;
}

/* Hide lucky clover */
.journal .entry .journaltext .lucky::after {
  display: none;
}

/* Hide lucky clover on mouse image */
.journal .entry.luckycatchsuccess .journalimage::after {
  background: none;
}

/* Date */
.journal .entry .journalbody .journaldate {
  display: inline-block;
  width: calc(100% - 10px);
  margin-bottom: 5px;
  font-size: 10px;
  font-weight: 100;
  color: #626262;
  border-bottom: 1px solid #626262;
}

/* hide the BONUS HUNT banner on bonus hunts */
.journal .content .bonuscatchsuccess,
.journal .content .bonuscatchfailure {
  box-shadow: none;
}

.journal .content .bonuscatchsuccess::after,
.journal .content .bonuscatchfailure::after,
.journal .content .bonuscatchsuccess::before,
.journal .content .bonuscatchfailure::before {
  content: none;
  background: none;
}

.mouseView-image {
  box-shadow: none;
}

/* Donations */
.donationComplete .journalimage img {
  mix-blend-mode: normal;
}

/* Frift sad droid image */
.journal .entry.riftFuroma-energyLost .journalbody {
  margin-left: 80px;
}

.journal .entry.riftFuroma-energyLost .journalbody::before {
  position: absolute;
  top: 0;
  left: -15px;
  display: block;
  width: 75px;
  height: 80px;
  content: "";
  background-image: url(https://www.mousehuntgame.com/images/ui/hud/rift_furoma/droid.png?asset_cache_version=2);
  filter: grayscale(1);
  background-repeat: no-repeat;
  background-position: 0 -100px;
  background-size: 110%;
  mix-blend-mode: luminosity;
}

.journal .entry.riftFuroma {
  position: relative;
}

.journal .cotent .entry.travel,
.journal .content .captchasolved,
.journal .content .supplytransferitem,
.journal .content .entry.socialGift,
.journal .content .entry.relicHunter_start,
.journal .content .entry.relicHunter_complete,
.journal .content .entry.torch_charm_event,
.journal .content .entry.marketplace.marketplace_complete_listing,
.journal .content .entry.catchfailuredamage,
.journal .content .entry.catchfailure,
.journal .content .entry.attractionfailurestale,
.journal .content .entry.floatingIslands.discoveredMod,
.journal .content .entry.floatingIslands.dirigibleTravel,
.journal .content .entry.floatingIslands.defeatedEnemy,
.journal .content .entry.floatingIslands.defeatedVaultEnemy,
.journal .content .entry.floatingIslands.fullyExplored,
.journal .content .entry.sunken_city.zone,
.journal .content .entry.train_station.stoke_furnace,
.journal .content .entry.mousoleum.damage_wall,
.journal .content .entry.mousoleum.repair_wall,
.journal .content .entry.iceberg_advance_prevented,
.journal .content .entry.iceberg_advance,
.journal .content .entry.iceberg_defeated,
.journal .content .entry.iceberg_phase_change,
.journal .content .entry.world_aspect_normal,
.journal .content .entry.jetStreamAuraActivated,
.journal .content .entry.birthday2018-rewind-charm {
  background-position: 10px center;
}

.journal .minimalJournalImage.champions_fire_loot,
.journal .minimalJournalImage.moved_forward {
  background-position: 10px !important;
  background-size: 50px;
}

.journal .content .ultimate_intact {
  background: #22eab4 url(https://i.mouse.rip/uc-intact.png) no-repeat 10px center;
}

/* Progress log */
.journal .entry.log_summary .journalbody {
  margin-left: 10px;
}

.journal .entry.log_summary .journaltext b {
  display: block;
  padding-top: 1em;
  font-weight: 900;
}

/* Progress log */
.mh-ui-progress-log-link {
  display: block;
  width: 90px;
  margin: 1em auto;
}

.log_summary tbody {
  display: block;
  margin: 0 0 0 50px;
}

.entry.short.log_summary {
  background-color: #fff;
}

#overlayPopup.hunting_summary .label {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 13px;
  background-color: #eee;
  border: 1px solid #ccc;
}


#overlayPopup.hunting_summary .leftColumn,
#overlayPopup.hunting_summary .rightColumn {
  margin-bottom: 20px;
}


#overlayPopup.hunting_summary .title {
  margin: 10px;
  font-size: 19px;
  text-align: center;
}

#overlayPopup.hunting_summary .baitContainer,
#overlayPopup.hunting_summary .lootContainer {
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

#overlayPopup.hunting_summary .baitContainer .label,
#overlayPopup.hunting_summary .lootContainer .label {
  border-top: none;
  border-right: none;
  border-left: none;
}

#overlayPopup.hunting_summary .lootContainer a .wrapper {
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.reportTitle {
  padding-bottom: 0.5em;
  font-size: 1.5em;
}

.reportSubtitle {
  padding-bottom: 0.75em;
  font-size: 1.125em;
}


/* Hide set journal link and center detailed journal link */
.journal-detailLinkContainer a:first-child {
  display: none;
}

.journal-detailLinkContainer {
  text-align: center;
}

/* Make the detailed journal link less obnoxious */
a.journal-detailLink.full {
  font-size: 11px;
  text-transform: lowercase;
  background: none;
}

a.journal-detailLink.full::before {
  text-transform: capitalize;
  content: "View ";
}

a.journal-detailLink.full::after {
  content: " →";
}

.pagerView-container {
  background: transparent;
}

.pagerView-link {
  border: none;
}
