.mousehuntHud-page-tabContent.special div[data-tag="adventuring"] .inventoryPage-tagContent-listing,
.mousehuntHud-page-tabContent.special div[data-tag="convertibles"] .inventoryPage-tagContent-listing,
.mousehuntHud-page-tabContent.special div[data-tag="spring_hunt"] .inventoryPage-tagContent-listing,
.mousehuntHud-page-tabContent.special div[data-tag="treasure_chests"] .inventoryPage-tagContent-listing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  place-items: stretch;
}

.mousehuntHud-page-tabContent.special .inventoryPage-item.full,
.mousehuntHud-page-tabContent.special .inventoryPage-item.full:nth-child(odd) {
  display: block;
  width: 282px;
  margin-right: 0;
  margin-left: 0;
}

.mousehuntHud-page-tabContent.special div[data-tag="treasure_chests"] .inventoryPage-item-margin.clear-block {
  height: 100%;
}
