.inventoryPage-item.full {
  width: 100%;
}

.inventoryPage-item-content-action span {
  display: block;
  margin-bottom: 5px;
}

.mousehuntPage-content .inventoryPage-item-button:nth-child(2) {
  margin-left: 0 !important;
}

/* Show the "open:" text when it's half width items */
.inventoryPage-item-content-action > span {
  display: inline-block;
}

.inventoryPage-item.base .itemViewStatBlock.horizontal.base,
.inventoryPage-item.weapon .itemViewStatBlock.horizontal.weapon {
  float: right;
  width: 54%;
}

.inventoryPage-item.base .inventoryPage-item-content-description-text,
.inventoryPage-item.weapon .inventoryPage-item-content-description-text {
  width: 45%;
  height: unset;
  max-height: 115px;
  overflow-y: auto;
}
