.inventoryPage-item.component .inventoryPage-item-imageContainer .itemImage {
  margin: 0 auto;
  border: none;
  border-radius: 0;
}

.inventoryPage-item-content-action {
  margin-top: 15px;
}

.inventoryPage-item-content-description {
  height: auto;
}

.inventoryPage-item.full {
  width: 100%;
}

.inventoryPage-item.torn_page .inventoryPage-item-name,
.inventoryPage-item.stat .inventoryPage-item-name,
.inventoryPage-item.collectible .inventoryPage-item-name,
.inventoryPage-item.message_item .inventoryPage-item-name {
  margin-left: 10px;
}

.inventoryPage-item.torn_page .inventoryPage-item-imageContainer,
.inventoryPage-item.stat .inventoryPage-item-imageContainer,
.inventoryPage-item.collectible .inventoryPage-item-imageContainer,
.inventoryPage-item.message_item .inventoryPage-item-imageContainer {
  margin-top: 0;
}

.inventoryPage-item-name {
  padding: 10px;
  font-size: 1.3em;
  background-color: transparent;
  border: none;
}

.inventoryPage-item-name abbr {
  text-decoration: none;
}

.mousehuntHud-page-subTabContent.trinket.show_tags.trinket.active .mousehuntHud-page-subTabContent-prefix:first-child {
  display: none;
}

.inventoryPage-tagContent-tagTitle {
  padding: 0 5px 10px;
  margin: 0;
  font-size: 1.4em;
  border: none;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-tagContent-tagGroup {
  padding: 8px 0 8px 8px;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-tagContent-tagGroup:nth-child(even) {
  background-color: #f6f6f6;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-tagContent-tagTitle {
  padding: 0 0 10px;
  font-size: 14px;
  font-weight: 400;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-tagContent-listing {
  display: flex;
  flex-wrap: wrap;
  place-content: center flex-start;
  align-items: stretch;
}

.mousehuntHud-page-subTabContent.hammer .mousehuntHud-page-subTabContent.hammer .inventoryPage-item {
  width: 68px;
  margin: 0;
  margin-right: 3px;
  background-color: #fff;
  border-radius: 10px;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-item:nth-child(7n) {
  margin-right: 0;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-item {
  height: auto;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 9px;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-item-margin.clear-block {
  border: none;
  border-radius: 0;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-item:hover .inventoryPage-item-margin {
  background-color: #e3e3e3;
  outline: 1px solid #888;
  box-shadow: none;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-item .tooltip,
.mousehuntHud-page-subTabContent.hammer .inventoryPage-item .newTooltip {
  display: none;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-item:hover .newTooltip {
  display: flex;
  align-items: center;
  width: auto;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-item:hover .tooltip .inventoryPage-item-margin {
  text-align: center;
  background-color: transparent;
  outline: none;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-item.small .tooltip.newTooltip .itemImage {
  float: none;
  width: 60px;
  height: 60px;
  overflow: visible;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-item.small .tooltip.newTooltip .itemImage img {
  width: 55px;
  height: 55px;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-item:hover .newTooltip .inventoryPage-item-content-nameContainer,
.mousehuntHud-page-subTabContent.hammer .inventoryPage-item:hover .newTooltip .inventoryPage-item-content-name {
  height: auto;
}

.mousehuntHud-page-subTabContent.hammer .inventoryPage-item:hover .newTooltip .inventoryPage-item-content-name span {
  min-width: 60px;
}

a.inventoryPage-item-larryLexicon {
  display: none;
}

.itemViewStatBlock.trinket {
  float: right;
  width: 100px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 13px;
}

.itemViewStatBlock.trinket .itemViewStatBlock-padding {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100px;
}

.inventoryPage-item-content-description-text {
  max-height: 75px;
  padding: 0;
  font-size: 10px;
  line-height: 16px;
  color: #6e6e6e;
}

.inventoryPage-item.full.weapon .quantity,
.inventoryPage-item.full.base .quantity {
  display: none;
}

.inventoryPage-item .itemImage {
  margin-bottom: 10px;
  overflow: visible;
}

.inventoryPage-item .itemImage img {
  width: 75px;
  height: 75px;
}

.inventoryPage-item-recipeOptions li {
  margin-left: 5px;
  background-color: #fffcdb;
  border-style: solid;
}


.inventoryPage-item.small .itemImage .quantity {
	overflow: visible;
}

.mousehuntHud-page-subTabContent.recipe .inventoryPage-item .itemImage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
}

.mousehuntHud-page-subTabContent.recipe .inventoryPage-item .itemImage img {
  width: 50px;
  height: 50px;
}

.inventoryPage-item-content-description-consumedItem.error {
  gap: 2px;
  background-color: rgb(245 221 221 / 82%);
  border-radius: 7px;
}

/* search bar */
input.inventoryPage-tagDirectory-searchBar-input {
  width: auto;
  min-width: 50%;
  margin-right: 10px;
}

.mousehuntHud-page-subTabContent-prefix.clear-block {
  height: 25px;
  margin-top: -20px;
  color: transparent;
}

.inventoryPage-tagDirectory-searchBar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 0;
  color: transparent;
}

/* plankrun pages */
.inventoryPage-item.torn_page .quantity {
  display: none;
}

.inventoryPage-item.torn_page .itemImage img {
  width: 40px;
  min-width: unset;
  height: 40px;
  min-height: unset;
}

.inventoryPage-item.full.torn_page {
  width: 32%;
  margin: 5px;
}

.inventoryPage-item.torn_page .inventoryPage-item-name {
  padding-right: 0;
  font-size: 1em;
}

.inventoryPage-item.torn_page .itemImage {
  width: 40px;
  height: 40px;
}

.inventoryPage-item.torn_page .inventoryPage-item-contentContainer {
  margin: 0;
}

.inventoryPage-item.torn_page .inventoryPage-item-content-action div {
  display: flex;
  justify-content: space-around;
  margin-right: 15px;
}

.inventoryPage-item.torn_page .inventoryPage-item-content-description {
  display: none;
}

.inventoryPage-item.torn_page input.viewFront,
.inventoryPage-item.torn_page input.viewBack {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 4px #fff2aa inset;
}

.inventoryPage-craftingTable-title {
  display: none;
}

.mousehuntHud-page-subTabContent.crafting_table .inventoryPage-craftingTable {
  background: #f6f3eb;
  border: 1px solid #d3cecb;
  border-radius: 3px;
  box-shadow: inset -1px 1px 3px 0 #d3cecb;
}

.inventoryPage-craftingTable-slot-item.itemImage {
  margin-bottom: 10px;
}

.inventoryPage-craftingTable-slot-item-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17px;
  margin: 0;
  background: transparent;
}

.inventoryPage-craftingTable-slot-item-controls input {
  height: 24px;
  margin-top: -1px;
}

.inventoryPage-craftingTable-action {
  margin: 10px;
  background: none;
  border: none;
}

.inventoryPage-craftingTable-slot-item[data-owned="1"] .inventoryPage-craftingTable-slot-item-controls-increment {
  opacity: .2;
}

.inventoryPage-craftingTable-slot {
    width: 160px;
    padding: 5px;
    margin: 5px;
    background: #f6f3eb;
    border: 1px solid #d3cecb;
    border-radius: 3px;
    box-shadow: inset -1px 1px 3px 0 #d3cecb;
}

.inventoryPage-craftingTable-slotContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    background-color: #f6f3eb;
}

.inventoryPage-craftingTable-slot-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.inventoryPage-craftingTable-slot-item.empty .inventoryPage-craftingTable-slot-item-controls {
    display: none;
}

.inventoryPage-craftingTable-slot-item.empty  .inventoryPage-craftingTable-slot-item-nameContainer {
    display: none;
}

.inventoryPage-craftingTable-slot-item.empty .inventoryPage-craftingTable-slot-item-name {
    color: transparent;
}

.inventoryPage-craftingTable-slot-item-quantity {
    display: none;
}

.inventoryPage-craftingTable-slot-item-name {
    font-size: 11px;
    font-weight: 100;
}

.inventoryPage-craftingTable-slot-item-nameContainer {
    width: 100%;
    height: auto;
    margin: 5px;
}

.inventoryPage-craftingTable-slot-item .itemImage {
    width: 55px;
    height: 55px;
}

.inventoryPage-craftingTable-slot-item img {
    width: 55px;
    height: 55px;
}

a.inventoryPage-item-larryLexicon.tsitu-lock-convertible {
  top: 5px;  right: 5px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px !important;
  padding: 2px;
  font-size: 13px;
  border: 1px solid #bebebe;
  border-radius: 50%;
}

.inventoryPage-tagContent-tagTitle.tsitu-lock-convertible {
  position: absolute;
  top: -10px;
  right: 0;
}

/* Mark items that have an action with a little dot */
.inventoryPage-item.small.message_item .inventoryPage-item-content-name::after {
  position: absolute;
  top: 5px;
  right: 2px;
  width: 10px;
  height: 10px;
  content: "";
  background-color: #8bf4ed;
  border-radius: 50%;
}

.mhui-craft-warning-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  padding: 10px;
  font-size: 10px;
  font-weight: 900;
  background: #f5c7c7;
  border: 1px solid #e07878;
  border-radius: 5px;
}

#jsDialogAjaxSuffix {
  position: relative;
}

.inventoryPage-item .itemImage .limitedEdition {
  top: -1px;
  left: -5px;
  z-index: 1;
}

#overlayPopup.itemViewPopup .itemViewContainer.message_item .button {
  margin: 10px 0 0;
}

.itemViewStatBlock.horizontal.base,
.itemViewStatBlock.horizontal.weapon {
  float: right;
  width: 350px;
  margin-left: 10px;
}

.inventoryPage-item.base .inventoryPage-item-content-description-text,
.inventoryPage-item.weapon .inventoryPage-item-content-description-text {
  max-height: 115px;
  overflow: visible;
}

.inventoryPage-confirmPopup-itemTable {
  display: flex;
  flex-direction: column;
}

.inventoryPage-confirmPopup-itemRow-description-name {
  margin-bottom: 5px;
}

.inventoryPage-confirmPopup-itemRow-description-owned {
  margin-bottom: 5px;
  font-size: 12px;
}

.inventoryPage-confirmPopup-itemRow-quantity {
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}
