.inventoryPage-item.component .inventoryPage-item-imageContainer .itemImage {
  margin: 0 auto;
  border: none;
  border-radius: 0;
}

.inventoryPage-item-margin {
  padding-bottom: 10px;
}

.inventoryPage-item-content-action {
  margin-top: 15px;
  margin-left: 15px;
}

.inventoryPage-item-content-description {
  height: auto;
}

.inventoryPage-item.full {
  width: 100%;
}

.inventoryPage-item.torn_page .inventoryPage-item-name,
.inventoryPage-item.stat .inventoryPage-item-name,
.inventoryPage-item.collectible .inventoryPage-item-name,
.inventoryPage-item.message_item .inventoryPage-item-name {
  margin-left: 10px;
}

.inventoryPage-item.torn_page .inventoryPage-item-imageContainer,
.inventoryPage-item.stat .inventoryPage-item-imageContainer,
.inventoryPage-item.collectible .inventoryPage-item-imageContainer,
.inventoryPage-item.message_item .inventoryPage-item-imageContainer {
  margin-top: 0;
}

.inventoryPage-item-name {
  padding: 10px;
  font-size: 1.3em;
  background-color: transparent;
  border: none;
}

.inventoryPage-item-name abbr {
  text-decoration: none;
}

.mousehuntHud-page-subTabContent.trinket.show_tags.trinket.active .mousehuntHud-page-subTabContent-prefix:first-child {
  display: none;
}

.inventoryPage-tagContent-tagTitle {
  padding: 10px 0;
  margin: 0;
  font-size: 1.4em;
  border: none;
}

a.inventoryPage-item-larryLexicon {
  display: none;
}

.itemViewStatBlock.trinket {
  margin-top: -5px;
  margin-left: 5px;
  font-size: 13px;
}

.inventoryPage-item-content-description-text {
  padding: 5px;
  font-size: 10px;
  line-height: 16px;
}

.inventoryPage-item.full.weapon .quantity,
.inventoryPage-item.full.base .quantity {
  display: none;
}

.inventoryPage-item .itemImage {
  margin-bottom: 10px;
}

.inventoryPage-item .itemImage img {
  width: 75px;
  height: 75px;
}

.inventoryPage-item-recipeOptions li {
  margin-left: 5px;
  background-color: #fffcdb;
  border-style: solid;
}

/* search bar */
input.inventoryPage-tagDirectory-searchBar-input {
  min-width: 50%;
}

.inventoryPage-tagDirectory-searchBar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 0;
  margin-right: -10px;
}

/* plankrun pages */
.inventoryPage-item.torn_page .quantity {
  display: none;
}

.inventoryPage-item.torn_page .itemImage img {
  width: 40px;
  min-width: unset;
  height: 40px;
  min-height: unset;
}

.inventoryPage-item.full.torn_page {
  width: 32%;
  margin: 5px;
}

.inventoryPage-item.torn_page .inventoryPage-item-name {
  padding-right: 0;
  font-size: 1em;
}

.inventoryPage-item.torn_page .itemImage {
  width: 40px;
  height: 40px;
}

.inventoryPage-item.torn_page .inventoryPage-item-contentContainer {
  margin: 0;
}

.inventoryPage-item.torn_page .inventoryPage-item-content-action div {
  display: flex;
  justify-content: space-around;
  margin-right: 15px;
}

.inventoryPage-item.torn_page .inventoryPage-item-content-description {
  display: none;
}

.inventoryPage-item.torn_page input.viewFront,
.inventoryPage-item.torn_page input.viewBack {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 4px #fff2aa inset;
}
