/* Taller Train Station HUD */
.pendingTrainContainer .trainTableBody {
  height: 340px;
}

.trainStationHUD {
  height: 400px;
}

/* Hide the big wrong environment warning and just show it over the timer bar */
.trainStationHUD .trainStationPhase .wrongEnvironment b {
  background-color: #ffbdbd;
  box-sizing: border-box;
  font-weight: 400;
  height: 32px;
  line-height: 30px;
  padding: 3px 10px;
  position: absolute;
  top: -41px;
  vertical-align: middle;
}

.mousehuntHud-marbleDrawer .tournamentStatusHud.hasError.train {
    height: 32px;
    overflow: hidden;
}
