.draconicDepthsCavernView__maxhuntsRemainingQuantity {
  margin-left: 2px;
  font-size: 15px;
  color: #fff;
}

.draconicDepthsCavernView__huntsRemainingContainer {
  font-size: 10px;
  color: #b5b5b5;
}

.draconicDepthsCavernView__duplicatorChestQuantity {
  left: 52px;
  margin-bottom: -2px;
}

.draconicDepthsCavernView__titleRod {
  width: 10px;
  height: 12px;
  filter: drop-shadow(1px 1px 0 #666);
}

.draconicDepthsCrucibleView__crucibleProgressText {
  font-size: 14px;
  text-shadow:
    0 0 0 rgb(0 0 0 / 75%),
    1px 0 0 #000,
    0 1px 0 #000,
    -1px 0 0 #000,
    0 -1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.draconicDepthsCrucibleView__crucibleProgress::before {
  filter: drop-shadow(1px 1px 1px #000) drop-shadow(1px 1px 2px #000);
}

.draconicDepthsCrucibleView__rerollButton {
  width: 22px;
  height: 22px;
  margin: 2px;
  margin-left: 7px;
}

.draconicDepthsForgeView__enterCavernMessage {
  font-size: 13px;
  text-shadow: 1px 1px 1px #000;
}

.folkloreForestRegionView-dialog-help .draconicDepthsHelp__image {
  background-color: #447228;
  outline: 2px solid #447228;
}

.draconicDepthsCrucibleView__droid {
  animation: mh-improved-glow 1s infinite;
}

.draconicDepthsForgeView__cruciblesContainer .draconicDepthsCrucibleView_crucibleView:nth-child(2) .draconicDepthsCrucibleView__droid {
  animation-delay: 0.3s;
}

.draconicDepthsForgeView__cruciblesContainer .draconicDepthsCrucibleView_crucibleView:nth-child(3) .draconicDepthsCrucibleView__droid {
  animation-delay: 0.6s;
}

#overlayPopup.fabledForestDialog.draconicDepthsPreviewDuplicatorChestDialogPopup #jsDialogClose {
  top: 20px;
  right: 30px;
  filter: opacity(0.8) sepia(1) hue-rotate(358deg);
}

.draconicDepthsCavernView__tierThreshold {
  top: 0;
  height: 18px;
  padding-top: 1px;
  padding-left: 2px;
  border-left: 1px solid #000;
}

.draconicDepthsCavernView__droid {
  transition: transform 0.5s ease;
  transform-origin: bottom;
}

.headsUpDisplayDraconicDepthsView:hover .draconicDepthsCavernView__droid {
  animation: mh-improved-rotate-slightly 1s infinite;
}

.draconicDepthsReinforceCavernDialogView__reinforceHuntsInputContainer {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}

.draconicDepthsReinforceCavernDialogView__decrementButton {
  width: 25px;
  height: 25px;
  text-indent: -9999px;
  cursor: pointer;
  background-image: url(https://www.mousehuntgame.com/images/ui/hud/bountiful_beanstalk/harp_dialog_icons/volume_minus.png?asset_cache_version=3);
  background-repeat: no-repeat;
  background-size: contain;
}

.draconicDepthsReinforceCavernDialogView__incrementButton {
  width: 25px;
  height: 25px;
  text-indent: -9999px;
  cursor: pointer;
  background-image: url(https://www.mousehuntgame.com/images/ui/hud/bountiful_beanstalk/harp_dialog_icons/volume_plus.png?asset_cache_version=3);
  background-repeat: no-repeat;
  background-size: contain;
}

.draconicDepthsReinforceCavernDialogView__decrementButton,
.draconicDepthsReinforceCavernDialogView__incrementButton {
  transition: transform 0.2s ease;
}

.draconicDepthsReinforceCavernDialogView__decrementButton:hover,
.draconicDepthsReinforceCavernDialogView__incrementButton:hover {
  transform: scale(1.1);
}

#reinforceHunts {
  font-size: 19px;
  color: #fff;
  text-align: center;
  background-color: #192517;
  border: 2.5px solid #85d523;
  border-radius: 4px;
}

.draconicDepthsReinforceCavernDialogView__inputContainer {
  color: transparent;
}

.headsUpDisplayDraconicDepthsView__baitCraftableContainer .mousehuntTooltip {
  right: -20px;
  left: -20px;
  line-height: 1.5;
  text-align: center;
}

.headsUpDisplayDraconicDepthsView__baitCraftableContainer[data-item-type="poisonous_provolone_cheese"] .mousehuntTooltip,
.headsUpDisplayDraconicDepthsView__baitCraftableContainer[data-item-type="elemental_emmental_cheese"] .mousehuntTooltip {
  right: -30px;
  left: -30px;
}

.draconicDepthsPopupView #maxButton {
  color: #000;
  text-shadow: 0 0 1px #fff;
  background-color: #f4e830;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: 0 -5px 8px -2px #ffae00 inset;
}

.draconicDepthsPopupView #maxButton:hover,
.draconicDepthsPopupView #maxButton:focus {
  cursor: pointer;
  background-color: #fff600;
  box-shadow: inset 0 0 16px 2px #fffaab;
}

.draconicDepthsReinforceCavernDialogView__inputContainer--disabled {
  pointer-events: unset;
  filter: none;
}

.draconicDepthsCavernView[data-cavern-type*="ice"] .draconicDepthsCavernView__cartNeedle {
  background: linear-gradient(90deg, rgb(24 247 233 / 30%) 0%, rgb(24 247 233 / 70%) 100%);
}

.draconicDepthsCavernView[data-cavern-type*="flame"] .draconicDepthsCavernView__cartNeedle {
  background: linear-gradient(90deg, rgb(255 138 29 / 30%) 0%, rgb(255 138 29 / 70%) 100%);
}

.draconicDepthsCavernView[data-cavern-type*="toxic"] .draconicDepthsCavernView__cartNeedle {
  background: linear-gradient(90deg, rgb(170 230 0 / 30%) 0%, rgb(170 230 0 / 70%) 100%);
}

.draconicDepthsCavernView[data-cavern-type*="elemental"] .draconicDepthsCavernView__cartNeedle {
  background: linear-gradient(90deg, rgb(189 100 220 / 30%) 0%, rgb(189 100 220 / 70%) 100%);
}

.draconicDepthsCavernView__cavernLootMeterContainer {
  padding-right: 1px;
  padding-left: 1px;
}

.draconicDepthsCavernView__cavernProgressContainer:hover .draconicDepthsCavernView__cartBossPip {
  filter: brightness(1.1);
  transition: filter 0.2s;
}

.draconicDepthsDuplicatorChestResultsDialogView.draconicDepthsDuplicatorChestResultsDialogView--burn .itemImage {
  background-image: url(https://i.mouse.rip/upscaled/e82a47642a8157fdaa9a017d0a02889f.png) !important;
}

.mh-improved-quick-reinforce.draconicDepthsCavernView__reinforceCavernButton {
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 3;
}

.headsUpDisplayDraconicDepthsView__baitCraftableContainer[data-item-type="elemental_emmental_cheese"] .mousehuntTooltip {
  right: -50px;
  left: -50px;
}
