.mhui-inventory-lock-and-hide-controls-wrapper {
  position: absolute;
  top: 0;
  right: 10px;
  display: flex;
  gap: 10px;
}

.mousehuntHud-page-tabContent.traps .mhui-inventory-lock-and-hide-controls-wrapper {
  top: -30px;
}

.mhui-inventory-lock-and-hide-bulk-controls {
  display: none;
  gap: 3px;
  margin-left: 3px;
}

.mhui-inventory-lock-and-hide-controls-active .mhui-inventory-lock-and-hide-bulk-controls {
  display: inline-flex;
}

.inventoryPage-tagContent.mhui-inventory-lock-and-hide-controls-active {
  border-radius: 5px;
  outline: 3px solid #f37c7c;
}

.mhui-inventory-lock-and-hide-item-controls {
  position: absolute;
  inset: 0;
  display: none;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: rgb(255 255 255 / 50%);
}

.mhui-inventory-lock-and-hide-controls-active .mhui-inventory-lock-and-hide-item-controls {
  display: flex;
}

.mhui-inventory-lock-and-hide-controls-active .inventoryPage-item.hidden {
  display: inline-block;
}

.mhui-inventory-lock-and-hide-controls-active .inventoryPage-item.hidden .inventoryPage-item-margin {
  background-color: #939393;
}

.mhui-inventory-lock-and-hide-controls-active .inventoryPage-item.locked {
  display: inline-block;
}

.mhui-inventory-lock-and-hide-controls-active .inventoryPage-item.locked .inventoryPage-item-margin {
  background-color: #ff7b00;
}

.mhui-inventory-lock-and-hide-controls-active .locked.message_item.inventoryPage-item.small,
.mhui-inventory-lock-and-hide-controls-active .locked.bait.inventoryPage-item.small {
  pointer-events: auto;
}

.mhui-inventory-lock-and-hide-controls-active .tooltip {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.locked .inventoryPage-item-content-action,
.locked.message_item.inventoryPage-item.small .inventoryPage-item-button,
.locked.bait.inventoryPage-item.small .inventoryPage-item-button,
.locked .inventoryPage-item-recipeOptions,
.locked .campPage-trap-itemBrowser-item-armButton,
.locked .inventoryPage-item-imageContainer-action {
  pointer-events: none;
  filter: grayscale(1);
}

.locked.message_item.inventoryPage-item.small,
.locked.bait.inventoryPage-item.small {
  pointer-events: none;
}

.mousehuntHud-page-subTabContent.trinket .mousehuntHud-page-subTabContent-prefix {
  display: none;
}

.inventoryPage-tagContent-tagTitle {
  display: flex;
  align-items: center;
  padding: 0 5px 10px;
  margin: 0;
  font-size: 1.4em;
  border: none;
}

span.inventoryPage-tagContent-tagTitle.tsitu-lock-convertible {
  top: -5px;
  right: 110px;
  font-size: 0.75em;
}

span.inventoryPage-tagContent-tagTitle.tsitu-lock-convertible button {
  padding: 2px;
  font-size: 1em;
}

.mhui-inventory-lock-and-hide-hidden-count {
  margin-left: 5px;
}

.mhui-inventory-lock-and-hide-controls-lock {
  min-width: 35px;
}

.mhui-inventory-lock-and-hide-controls-hide {
  min-width: 25px;
}

.mhui-inventory-lock-and-hide-controls-active .inventoryPage-item.locked.hidden .inventoryPage-item-margin {
  background-color: #e78932;
}

.mhui-inventory-lock-and-hide-controls-active .inventoryPage-item.locked .inventoryPage-item-recipeOptions li,
.mhui-inventory-lock-and-hide-controls-active .inventoryPage-item.hidden .inventoryPage-item-recipeOptions li {
  opacity: 0.3;
}

.inventory-lock-and-hide-all-hidden {
  display: none;
}
