:root {
  --d: #262b33;
  --d-transparent-10: rgb(255 255 255 / 10%);
  --d-transparent-20: rgb(255 255 255 / 20%);
  --d-transparent-30: rgb(38 43 51 / 30%);
  --d-transparent-50: rgb(38 43 51 / 50%);
  --d-transparent-70: rgb(38 43 51 / 70%);
  --d-transparent-90: rgb(38 43 51 / 90%);
  --d-black: #222;
  --d-alt: #383e49;
  --d-bg: #434651;
  --d-bg-alt: #383838;
  --d-border: #111;
  --d-action: #5e646f;
  --d-text: #c8ced8;
  --d-text-dark: #555;
  --d-text-muted: #a7adb9;
  --d-link: #bf93ff;
  --d-orange: #fcb671;
  --d-orange-dark: #eb7805;
  --d-yellow: #f7e7a2;
  --d-yellow-dark: #4e4a3c;
  --d-blue: #0e7fbf;
  --d-blue-dark: #0a5a7f;
  --d-blue-extra-dark: #08435e;
  --d-green: #40ba12;
  --d-green-dark: #1d5b15;
  --d-purple: #923293;
  --d-purple-alt: #6f2057;
  --d-purple-dark: #6b1e6b;
  --d-red: #c63636;
  --d-red-dark: #a02c2c;
  --d-red-darker: #732639;
}
