.mh-dark .folkloreForestRegionView-dialog-block-name {
  background-color: var(--d-bg);
}

.mh-dark .folkloreForestRegionView-dialog-block-description {
  color: var(--d-text);
  background-color: var(--d-bg);
  border-color: var(--d-border);
}

.mh-dark .upsellItemActionView-action-quantity {
  color: var(--d-text);
  background-color: var(--d-action);
}
