.mh-dark .friendsPage-subduedLink {
  color: var(--d-text-dark);
}

.mh-dark .friendsPage-subduedLink:hover {
  color: var(--d-text-muted);
}

.mh-dark .teamPage-messageBoard-corkboard .messageBoardView-message,
.mh-dark .hunterInfoView-corkBoardBlock .messageBoardView-message {
  color: var(--d-text);
  background-color: var(--d);
}

.mh-dark .teamPage-messageBoard-corkboard .messageBoardView-message-body,
.mh-dark .hunterInfoView-corkBoardBlock .messageBoardView-message-body {
  color: var(--d-text);
}

.mh-dark .hunterInfoView-wrapper .friendsPage-friendRow-statsContainer {
  color: var(--d-text-dark);
}

.mh-dark .hunterInfoView-wrapper .campPage-trap-trapStat {
  background-color: var(--d-bg);
  border-color: var(--d-border);
}

.mh-dark .hunterInfoView-wrapper .hunterInfoView-trapBlock-footer,
.mh-dark .hunterInfoView-wrapper .hunterInfoView-trapBlock-footer-stats {
  background-color: var(--d);
}

.mh-dark .hunterProfileItemsView-content-padding {
  color: var(--d-text);
  background-color: transparent;
}

.mh-dark .hunterProfileItemsView-categoryContent-name {
  color: var(--d-text);
}

.mh-dark .hunterProfileItemsView-category-margin {
  color: var(--d-text-dark);
}

.mh-dark .hunterProfileItemsView-category {
  color: var(--d-text);
}

.mh-dark .hunterProfileItemsView-category.active .hunterProfileItemsView-category-margin {
  color: var(--d-text);
}

.mh-dark .hunterProfileItemsView-categoryContent-item-padding {
  background-color: var(--d-bg-alt);
  border-color: var(--d-border);
}

.mh-dark .friendsPage-list-header {
  background-color: var(--d-bg);
  border-color: var(--d-border);
  box-shadow: none;
}

.mh-dark .friendsPage-list-header label {
  color: var(--d-text);
}

.mh-dark .friendsPage-community-channel {
  background-color: var(--d-bg);
  border: 1px solid var(--d-border);
}

.mh-dark .friendsPage-community-channel h2 {
  color: var(--d-text);
}

.mh-dark .friendsPage-community-channel.friends-page-id-search {
  background-color: var(--d-bg-alt);
  border-color: var(--d-border);
  box-shadow: none;
}

.mh-dark .hunterProfileItemsView-content::before {
  background-color: var(--d-alt);
}

.mh-dark .campPage-trap-friendContainer-environment a {
  color: var(--d-link);
}

.mh-dark .friendsPage-friendRow {
  color: var(--d-text);
  background: var(--d-bg);
  border-color: var(--d-border);
}

.mh-dark .friendsPage-friendRow-statsContainer {
  color: var(--d-text);
  background: var(--d-bg-alt);
  box-shadow: 0 10px 30px var(--d-bg-alt);
}

.mh-dark .friendsPage-friendRow-stat span,
.mh-dark .friendsPage-friendRow-stat a {
  color: var(--d-text);
}

.mh-dark .friendsPage-friendRow-stat.hasHover:hover {
  background-color: transparent;
}

.mh-dark .friendsPage-friendRow-stat:hover .friendsPage-friendRow-stat-fullValue {
  background-color: var(--d);
  border-color: var(--d-border);
}

.mh-dark .userInteractionButtonsView-button {
  box-shadow: none;
}

.mh-dark .hunterInfoView-wrapper .hunterInfoView-idCardBlock-stats-horn-image {
  background-image: url(https://i.mouse.rip/dark-horn_temp.png);
}

.mh-dark .mh-improved-scoreboard-dropdown,
.mh-dark .mousehuntPage-content select.mh-improved-scoreboard-dropdown {
  background-color: var(--d-alt);
  border-color: var(--d-border);
}

.mh-dark .userInteractionButtonsView-button.sendMapInvite {
  background-image: url(https://i.mouse.rip/buttons/send_map_invite.png);
}

.mh-dark .userInteractionButtonsView-button.sendGift {
  background-image: url(https://i.mouse.rip/buttons/send_gift.png);
}

.mh-dark .userInteractionButtonsView-button.sendSupplies {
  background-image: url(https://i.mouse.rip/buttons/send_supplies.png);
}

.mh-dark .userInteractionButtonsView-button.sendTournamentInvite {
  background-image: url(https://i.mouse.rip/buttons/send_tournament_invite.png);
}

.mh-dark .userInteractionButtonsView-button.sendTicket {
  background-image: url(https://i.mouse.rip/buttons/send_ticket.png);
}

.mh-dark .userInteractionButtonsView-button.canAccept,
.mh-dark .userInteractionButtonsView-button.sendRequest {
  background-image: url(https://i.mouse.rip/buttons/send_request.png);
}

.mh-dark .userInteractionButtonsView-button.accepted {
  background-image: url(https://i.mouse.rip/buttons/friends.png);
}

.mh-dark .userInteractionButtonsView-button.requestSent {
  background-image: url(https://i.mouse.rip/buttons/request_sent.png);
}

.mh-dark .userInteractionButtonsView-button.ignored {
  background-image: url(https://i.mouse.rip/buttons/unfriend.png);
}

.mh-dark .userInteractionButtonsView-button.requestMapInvite {
  background-image: url(https://i.mouse.rip/buttons/request_map_invite.png);
}

.mh-dark .userInteractionButtonsView-button.self {
  background-image: url(https://i.mouse.rip/buttons/friends.png);
}

.mh-dark .friendsPage-permissionBlock {
  background-color: var(--d-bg);
}

.mh-dark .friendsPage-community-profileLinkInput input {
  border: 1px solid var(--d-border);
}
