.mh-dark .friendsPage-subduedLink {
  color: var(--d-text-dark);
}

.mh-dark .friendsPage-subduedLink:hover {
  color: var(--d-text-muted);
}

.mh-dark .teamPage-messageBoard-corkboard .messageBoardView-message,
.mh-dark .hunterInfoView-corkBoardBlock .messageBoardView-message {
  color: var(--d-text);
  background-color: var(--d-bg);
}

.mh-dark .teamPage-messageBoard-corkboard .messageBoardView-message-body,
.mh-dark .hunterInfoView-corkBoardBlock .messageBoardView-message-body {
  color: var(--d-text);
}

.mh-dark .hunterInfoView-wrapper .friendsPage-friendRow-statsContainer {
  color: var(--d-text-dark);
}

.mh-dark .hunterInfoView-wrapper .campPage-trap-trapStat {
  background-color: var(--d-bg);
  border-color: var(--d-border);
}

.mh-dark .hunterInfoView-wrapper .hunterInfoView-trapBlock-footer,
.mh-dark .hunterInfoView-wrapper .hunterInfoView-trapBlock-footer-stats {
  background-color: var(--d);
}

.mh-dark .hunterProfileItemsView-content-padding {
  color: var(--d-text);
  background-color: transparent;
}

.mh-dark .hunterProfileItemsView-categoryContent-name {
  color: var(--d-text);
}

.mh-dark .hunterProfileItemsView-category-margin {
  color: var(--d-text-dark);
}

.mh-dark .hunterProfileItemsView-category {
  color: var(--d-text);
}

.mh-dark .hunterProfileItemsView-category.active .hunterProfileItemsView-category-margin {
  color: var(--d-text);
}

.mh-dark .hunterProfileItemsView-categoryContent-item-padding {
  background-color: var(--d-bg-alt);
  border-color: var(--d-border);
}

.mh-dark .friendsPage-list-header {
  background-color: var(--d-bg);
  border-color: var(--d-border);
  box-shadow: none;
}

.mh-dark .friendsPage-list-header label {
  color: var(--d-text);
}

.mh-dark .friendsPage-community-channel {
  background-color: var(--d-bg);
  border: 1px solid var(--d-border);
}

.mh-dark .friendsPage-community-channel h2 {
  color: var(--d-text);
}

.mh-dark .friendsPage-community-channel.friends-page-id-search {
  background-color: var(--d-bg-alt);
  border-color: var(--d-border);
  box-shadow: none;
}

.mh-dark .hunterProfileItemsView-content::before {
  background-color: var(--d-alt);
}

.mh-dark .campPage-trap-friendContainer-environment a {
  color: var(--d-link);
}

.mh-dark .friendsPage-friendRow {
  color: var(--d-text);
  background: var(--d-bg);
  border-color: var(--d-border);
}

.mh-dark .friendsPage-friendRow-statsContainer {
  color: var(--d-text);
  background: var(--d-bg-alt);
  box-shadow: 0 10px 30px var(--d-bg-alt);
}

.mh-dark .friendsPage-friendRow-stat span,
.mh-dark .friendsPage-friendRow-stat a {
  color: var(--d-text);
}
