body.mh-dark {
  color: var(--d-text);
  background-color: var(--d);
  scrollbar-color: var(--d-text-muted) var(--d-alt);
}

.mh-dark .quickSendWrapper {
  background-color: var(--d-alt);
  border-color: var(--d-border);
}

.mh-dark .mousehuntActionButton.lightBlue {
  box-shadow: 1px 1px 1px var(--d-blue-dark);
}

.mh-dark .mousehunt-improved-lgs-reminder-new {
  color: var(--d-text-dark);
}

.mh-dark .mousehuntPage-content select,
.mh-dark .journal .entry .journaltext input.quickSendInput,
.mh-dark .mousehuntPage-content input.quickSendInput,
.mh-dark .quickSendInput,
.mh-dark input.treasureMapView-block-search-text,
.mh-dark .mh-improved-favorite-setups-component-picker-popup-search input,
.mh-dark .mousehuntPage-content textarea,
.mh-dark .mousehuntPage-content input,
.mh-dark #mousehunt-improved-settings-advanced-override-flags input,
.mh-dark .treasureMapView-shareLinkInput,
.mh-dark .userSelectorView-filter-input,
.mh-dark .mhui-marketplace-filter,
.mh-dark #mousehunt-improved-settings-advanced-override-styles textarea {
  color: var(--d-text);
  background-color: var(--d-action);
  border-color: var(--d-border);
}

/* change the placeholder color */
.mh-dark .mousehuntPage-content input::placeholder,
.mh-dark .mousehuntPage-content select::placeholder,
.mh-dark .mousehuntPage-content textarea::placeholder {
  color: var(--d-text-muted);
}

.mh-dark .journal-history-page-selector .page-input {
  border: 1px solid var(--d-border);
}

.mh-dark .huntersHornView__hornImage {
  /* stylelint-disable-next-line */
  filter:
    drop-shadow(1px 1px 0  rgb(175 175 175 / 50%))
    drop-shadow(-1px 1px 0  rgb(175 175 175 / 50%))
    drop-shadow(1px -1px 0 rgb(175 175 175 / 50%))
    drop-shadow(-1px -1px 0  rgb(175 175 175 / 50%))
    drop-shadow(1px 4px 3px #6b6b6b);
}

.mh-dark .treasureMapRootView .messageBoardView .pagerView-section.previous .pagerView-link,
.mh-dark .teamPage-messageBoard-corkboard .pagerView-section.previous .pagerView-link,
.mh-dark .hunterInfoView-corkBoardBlock .pagerView-section.previous .pagerView-link {
  color: var(--d-text-muted);
}

.mh-dark #OnboardArrow.onboardPopup.top {
  z-index: 100;
  color: #000;
}

.mh-dark .travelPage-map-message {
  top: 375px;
  color: #000;
}

.mh-dark #mhhh_flash_message_div {
  color: var(--d-text-dark);
}

.mh-dark .notificationMessageList .message .clear-block {
  color: var(--d-text-dark);
}

.mh-dark code {
  background-color: var(--d-alt);
}

.mh-dark .mousehunt-improved-settings-export-popup code {
  color: var(--d-text);
}

.mh-dark #overlayPopup.mh-improved-update-summary .jsDialogContainer .content {
  color: #000;
  background-color: transparent;
}

.mh-dark #overlayPopup.mh-improved-update-summary .jsDialog.bottom {
  background-color: transparent;
}

.mh-dark #overlayPopup.mh-improved-update-summary .jsDialogContainer .content h2 {
  color: #000;
}

.mh-dark #overlayPopup.loading.mh-improved-loading .jsDialogContainer .suffix {
  background-image: url(https://www.mousehuntgame.com/images/ui/loaders/round_bar_green.gif);
  background-position: 98% 10px;
  background-size: 110px;
}

.mh-dark #mousehuntContainer.PageNewsPost {
  background: transparent;
}

.mh-dark .flexibleDialogWarmBrown.shopDescription b {
  color: #fc6;
  text-shadow: none;
}

.mh-dark .drawPage-ballot .entries,
.mh-dark .recentWinners,
.mh-dark .socialBallots,
.mh-dark .drawPage-ballot,
.mh-dark .ballotEntry {
  color: var(--d-black);
  background-color: var(--d-yellow);
}

.mh-dark input#ballot_qty {
  color: var(--d-text-dark);
  background-color: var(--d-transparent-20);
}

.mh-dark .hunterTitle .titles h1 {
  color: var(--d-text);
}

.mh-dark .hunterTitle .titles .userLevel {
  color: var(--d-text-dark);
}

.mh-dark .harbourHUD-area-title {
  color: #000;
}

.mh-dark #chro-minluck-table {
  color: var(--d-text);
}

.mh-dark #minluck-list {
  color: var(--d-text-muted);
  background-color: var(--d);
}

.mh-dark .chro-minluck-overall-cr.bad-minluck {
  color: var(--d-red);
}

.mh-dark .chro-minluck-overall-cr.good-minluck {
  color: var(--d-green);
}

.mh-dark .QuestKingsGiveawayCampHUD__footer,
.mh-dark .QuestKingsGiveawayCampHUD-quantity {
  color: var(--d-text-dark);
}

.mh-dark #mh-improved-cre.cre-loading::after {
  color: var(--d-text-muted);
}

.mh-dark .pagerView-link {
  background-color: var(--d-alt);
  border-color: var(--d-border);
  border-style: solid;
}

.mh-dark .pagerView-section.previous .pagerView-link,
.mh-dark .pagerView-section.next .pagerView-link {
  color: var(--d-text);
  background-color: var(--d-bg);
  border-color: var(--d-action);
}

.mh-dark .pagerView-section.previous.active .pagerView-link,
.mh-dark .pagerView-section.next.active .pagerView-link {
  color: var(--d-text-muted);
  background-color: var(--d-alt);
  border-color: var(--d-border);
}

.mh-dark .pagerView-section.previous.active .pagerView-link:hover,
.mh-dark .pagerView-section.next.active .pagerView-link:hover {
  background-color: var(--d);
}

.mh-dark .mousehuntPage-content input[type="text"]:hover,
.mh-dark .mousehuntPage-content input[type="password"]:hover,
.mh-dark .mousehuntPage-content input[type="input"]:hover,
.mh-dark .mousehuntPage-content select:hover,
.mh-dark .mousehuntPage-content textarea:hover {
  border-color: var(--d-yellow-dark);
}

.mh-dark .mousehunt-improved-error p {
  color: var(--d-red-dark);
}

.claimGiftPage__giftQuantity,
.claimGiftPage__giftDescription {
  color: var(--d-text-dark);
}

.mh-dark .inventoryPage-confirmPopup-suffix-quantityContainer-setMax {
  color: var(--d-link);
}

.mh-dark .mousehuntPage-message {
  color: var(--d-text-dark);
}

.mh-dark .mhct-msg-display.mhct-toast {
  color: var(--d-text-dark);
}

.mh-dark #OnboardArrow .whiteboard {
  color: var(--d-text-dark);
}

.mh-dark .mh-improved-travel-window-search-label {
  color: var(--d-text-muted);
}
