.mh-dark .mousehuntHud-gameInfo {
  background-color: var(--d);
  border-right: none;
}

.mh-dark .mousehuntHud-menu ul li a {
  height: 25px;
  color: var(--d-border);
  text-shadow: none;
}

.mh-dark .mousehuntHud-menu ul li ul li a {
  height: 31px;
}

.mh-dark .mousehuntHud-menu.default {
  z-index: 90;
  filter: brightness(0.9);
}

.mh-dark .mousehuntHud-marbleDrawer {
  background-blend-mode: exclusion;
}

.mh-dark .mousehuntHud-menu ul li:hover a,
.mh-dark .mousehuntHud-menu ul li.active a {
  color: var(--d-text-dark);
  text-shadow: none;
}

.mh-dark .mousehuntHeaderView .menuItem.dropdown:hover .arrow {
  border-top-color: transparent;
  border-bottom-color: #ededed;
}

.mh-dark .mousehuntHeaderView .menuItem.dropdown.expanded .arrow,
.mh-dark .mousehuntHeaderView .menuItem.dropdown.expanded:hover .arrow {
  border-top-color: #999;
  border-bottom-color: transparent;
}

.mh-dark .mousehuntHud-environmentName {
  color: #000;
  text-shadow: none;
  filter: drop-shadow(0 1px 1px #aea384) drop-shadow(0 2px 1px #aea384);
}

.mh-dark .huntersHornView__messageContainer {
  color: var(--d-text-dark);
}

.mh-dark .mousehuntHeaderView-gameTabs,
.mh-dark .mousehuntHeaderView .menuItem {
  background: url(https://i.mouse.rip/dark/menuItem.png) 0 0 repeat-x;
}

.mh-dark .mousehuntHeaderView-gameTabs {
  border-color: var(--d-border);
}

.mh-dark .mousehuntHeaderView .menuItem {
  color: var(--d-text);
  border-color: var(--d-border);
}

.mh-dark .mousehunt-improved-favorite-setups-icon::before,
.mh-dark .mousehunt-improved-journal-privacy-icon::before {
  filter: invert(1);
}

.mh-dark .mousehuntHud-gameInfo a {
  color: var(--d-link);
}

.mh-dark .mousehuntHeaderView .menuItem.new {
  color: #fff;
  text-shadow: 1px 1px var(--d-black);
  filter: brightness(1.2);
}

.mh-dark .mousehuntHeaderView .menuItem:hover {
  background-position: 0 -40px;
}

.mh-dark .pageFrameView .mousehuntHeaderView .menuItem.mousehunt-improved-icon-menu:hover {
  background-image: url(https://i.mouse.rip/dark/menuItem.png);
  background-position-y: -40px;
}

.mh-dark .mousehuntHeaderView a.superBrie .getMore {
  background-color: var(--d-blue-dark);
  outline: 1px solid var(--d-blue);
}
