.mh-dark .entry.short.misc.custom.unstable_charm_trigger {
  background-color: var(--d-blue-dark);
}

.mh-dark .journal .content .entry.catchsuccessloot,
.mh-dark .journal .content .entry.luckycatchsuccess,
.mh-dark .journal .content .entry.passive,
.mh-dark .journal .content .entry.linked {
  background-color: var(--d-green-darker);
}

.mh-dark .journal .content .entry.catchfailure {
  background-color: var(--d-red-dark);
}

.mh-dark .journal .content .entry.attractionfailure {
  background-color: var(--d-red-darker);
}

.mh-dark .journal .content .entry.catchsuccessprize {
  background-color: var(--d-green-dark);
}

.mh-dark .journal .content .entry.short.misc.custom.chesla_trap_trigger {
  background-color: var(--d-purple);
}

.mh-dark .entry.short.relicHunter_complete,
.mh-dark .entry.short.supplytransferitem {
  background-blend-mode: normal;
}

.mh-dark .journal .content .supplytransfergold,
.mh-dark .journal .content .marketplacesale,
.mh-dark .entry.short.supplytransfergold {
  background-color: var(--d-purple-dark);
  background-image: url(https://i.mouse.rip/gold-journal.png);
  background-blend-mode: normal;
}

.mh-dark .journal .content .entry.marketplace.marketplace_create_listing,
.mh-dark .journal .content .entry.marketplace.marketplace_complete_listing,
.mh-dark .journal .content .entry.marketplace.marketplace_claim_listing,
.mh-dark .journal .content .entry.marketplace.marketplace_cancel_listing {
  background-color: var(--d-purple-dark);
  background-blend-mode: normal;
}

.mh-dark .entry.short.travel {
  background-color: var(--d-yellow-dark);
  background-image: url(https://i.mouse.rip/travel-journal.png);
  background-blend-mode: normal;
}

.mh-dark .journal .content .attractionfailurestale {
  background-image: url(https://i.mouse.rip/stale.png);
  background-blend-mode: normal;
}

.mh-dark .journal .content .captchasolved {
  background-color: var(--d-blue-dark);
  background-image: url(https://i.mouse.rip/journal_puzzle_reward.png);
  background-blend-mode: normal;
}

.mh-dark .journal .content .attractionfailure,
.mh-dark .journal .content .outofsuperbrie,
.mh-dark .journal .content .catchfailure {
  background-color: var(--d-red-darker);
  background-image: url(https://i.mouse.rip/steal.png);
  background-blend-mode: normal;
}

.mh-dark .journal .content .catchfailuredamage {
  background-color: var(--d-red-darker);
  background-image: url(https://i.mouse.rip/pillage.png);
  background-blend-mode: normal;
}

.mh-dark .journal .content .entry.custom.refine_pollutinum {
  background-color: var(--d-green-dark);
  background-image: url(https://www.mousehuntgame.com/images/items/crafting_items/large/af9ffb2d0655dbf62a5e4a086515bb23.png);
  background-blend-mode: normal;
}

.mh-dark .journal .content .entry.relicHunter_slayer_aura_relic_bonus {
  background-color: var(--d);
  background-blend-mode: difference;
}

.mh-dark .journal .entry.socialGift.socialGift-send .journalbody .journaltext {
  box-shadow: inset 0 -20px 15px -16px #151515;
}

.mh-dark .journal .content .entry.harbour {
  background-color: var(--d-yellow-dark);
}

.mh-dark .journal .content .entry.labyrinthSmall.labyrinth-clue {
  background-color: var(--d-yellow-dark);
  background-blend-mode: luminosity;
}

.mh-dark .journal .content .entry.super_rift_vacuum_trigger,
.mh-dark .journal .content .entry.rift-bristlewoods-lootBooster,
.mh-dark .journal .content .entry.short.relicHunter_catch {
  background-color: var(--d-purple-alt);
  background-blend-mode: normal;
}

.mh-dark .journal .content .entry.kings_giveaway_bonus_prize_entry {
  background-color: var(--d-purple-dark);
}
