.mh-dark .mh-ui-quick-invite-wrapper {
  background-color: var(--d);
  border-color: var(--d-border);
}

.mh-dark .treasureMapView-leftBlock .treasureMapView-block {
  background-color: var(--d);
  border-color: var(--d-border);
}

.mh-dark .treasureMapRootView-subTabContainer {
  background-color: var(--d-bg);
  border-color: var(--d-border);
}

.mh-dark .treasureMapRootView-subTab.active,
.mh-dark .treasureMapRootView-subTabContainer:hover .treasureMapRootView-subTab:hover {
  color: var(--d-text-muted);
  background-color: var(--d-bg-alt);
  border-color: var(--d-border);
  border-radius: 0;
}

.mh-dark .treasureMapRootView-subTab,
.mh-dark .treasureMapRootView-subTabContainer:hover .treasureMapRootView-subTab.active {
  color: var(--d-text);
  border-color: var(--d-border);
}

.mh-dark .treasureMapRootView .messageBoardView div.messageBoardView-message-container,
.mh-dark .teamPage-messageBoard-corkboard .messageBoardView-message-container {
  background-color: var(--d-bg);
  border-color: var(--d-border);
}

.mh-dark .treasureMapRootView .messageBoardView div.messageBoardView-message-container {
  border-bottom-color: var(--d-bg);
}

.mh-dark .treasureMapRootView .messageBoardView .messageBoardView-message,
.mh-dark .teamPage-messageBoard-corkboard .messageBoardView-message,
.mh-dark .hunterInfoView-corkBoardBlock .messageBoardView-message {
  background-color: var(--d-bg-alt);
  border-color: var(--d-border);
}

.mh-dark .treasureMapRootView .messageBoardView div.messageBoardView-message.new {
  border-color: var(--d-border) !important;
}

.mh-dark textarea.messageBoardView-message-textarea {
  color: var(--d-text);
  background-color: var(--d-bg);
  border-color: var(--d-border);
}

.mh-dark .treasureMapView-environment.complete .treasureMapView-environment-title {
  color: var(--d-text-dark);
}

.mh-dark .treasureMapView-environment.active .treasureMapView-environment-title a {
  color: var(--d-link);
}

.mh-dark .treasureMapView-mapWarning.treasureMapRootView-padding {
  color: var(--d-text);
  background-color: var(--d-red-dark);
}

.mh-dark .mh-ui-environments-block .treasureMapView-block-content {
  background-color: transparent;
}

.mh-dark .treasureMapView-allyTable .treasureMapView-allyRow:nth-child(even) {
  background-color: var(--d-bg);
}

.mh-dark .treasureMapView-block {
  background-color: var(--d-alt);
  border-color: var(--d-border);
}

.mh-dark .treasureMapRootView-tab-name {
  color: var(--d-text);
}

.mh-dark .treasureMapView-scoreboard {
  background-color: var(--d);
  border-color: var(--d-border);
}

.mh-dark .treasureMapView-block-row.active {
  color: var(--d-purple-dark);
  background-color: var(--d-yellow);
}

.mh-dark .treasureMapInventoryView .treasureMapView-blockWrapper .treasureMapView-leftBlock .treasureMapView-block-content {
  margin-left: 0;
  background-color: var(--d-alt);
  border: 1px solid var(--d-border);
}

.mh-dark .treasureMapPopup-seasonContainer.mousehuntTooltipParent {
  background-color: var(--d);
  border-color: var(--d-border);
}

.mh-dark .treasureMapInventoryView-relicHunter {
  background-color: var(--d);
  border-color: var(--d-border);
}

.mh-dark .mh-ui-goals-sidebar-toggle,
.mh-dark .mh-ui-goals-group-toggle {
  filter: invert(1);
}

.mh-dark .treasureMapView-highlight-content {
  background-color: var(--d);
}

.mh-dark .treasureMapView-highlight-name.mh-ui-mouse-links-map-name,
.mh-dark .treasureMapView-highlight a {
  color: var(--d-link);
}

.mh-dark .mh-ui-mouse-links-map-ars .mhct-data {
  color: var(--d-text-muted);
  background-color: var(--d);
}

.mh-dark .mh-ui-mouse-links-map-ars .mhct-row:nth-child(odd) {
  color: var(--d-text-muted);
  background-color: var(--d-alt);
}

.mh-dark .treasureMapView-highlight {
  outline: 1px solid var(--d-border);
}

.mh-dark .mh-ui-mouse-links-map-ars .mhct-title {
  color: var(--d-text);
  background-color: var(--d-bg-alt);
  border-color: var(--d-border);
}

.mh-dark .treasureMapPopup-shop .treasureMapInventoryView-scrollCase-content,
.mh-dark .treasureMapPopup-shop .treasureMapView-block-content-heading {
  color: var(--d-text-dark);
}

.mh-dark .treasureMapView-environment.wrong .treasureMapView-environment-title {
  background-color: var(--d-red-darker);
}

.mh-dark .treasureMapView-environment.wrong .treasureMapView-environment-title a {
  color: var(--d-text);
}

.mh-dark .treasureMapView-consolationPrize-message {
  color: var(--d-text);
}

.mh-dark .treasureMapRootView-subTab-spacer {
  width: 1px;
}

.mh-dark .treasureMapView-consolationPrize {
  color: var(--d-text);
  background-color: var(--d-bg-alt);
}

.mh-dark .treasureMapView-environment {
  background-color: var(--d);
  border-color: var(--d-border);
}

.mh-dark .treasureMapView-goals-group-goal-name span {
  color: var(--d-text);
}

.mh-dark .treasureMapView-goals-group-goal.complete .treasureMapView-goals-group-goal-name span {
  color: var(--d-text-muted);
}

.mh-dark .treasureMapView-goals-groups .treasureMapView-block-content-heading a {
  color: var(--d-link);
}

.mh-dark .treasureMapRootView .messageBoardView .messageBoardView-message-body,
.mh-dark .teamPage-messageBoard-corkboard .messageBoardView-message-body,
.mh-dark .hunterInfoView-corkBoardBlock .messageBoardView-message-body {
  color: var(--d-text);
}

.mh-dark .treasureMapRootView .messageBoardView a.messageBoardView-message-name,
.mh-dark .teamPage-messageBoard-corkboard a.messageBoardView-message-name,
.mh-dark .hunterInfoView-corkBoardBlock a.messageBoardView-message-name {
  color: var(--d-link);
}

.mh-dark .treasureMapView-allyTable a {
  color: var(--d-link);
}

.mh-dark .treasureMapView-componentContainer {
  border-color: var(--d-border);
}

.mh-dark .treasureMapView-block-content-heading {
  border-color: var(--d-border);
}

.mh-dark .mh-ui-quick-invite-wrapper,
.mh-dark .treasureMapView-leftBlock .treasureMapView-block {
  background-color: var(--d-alt);
  border-color: var(--d-border);
}

.mh-dark .treasureMapView-environment.complete .treasureMapView-environment-title,
.mh-dark .treasureMapView-environment.complete .treasureMapView-environment-title a {
  color: var(--d-text);
  background-color: var(--d-green-dark);
}

.mh-dark .treasureMapView-environment.inactive a.treasureMapView-environment-title-link {
  color: var(--d-link);
}

.mh-dark .treasureMapView-mapLeaveContainer {
  margin-top: 5px;
}

.mh-dark .treasureMapInventoryView-itemList .treasureMapInventoryView-scrollCase {
  color: var(--d-text);
  background-color: var(--d);
}

.mh-dark .treasureMapView-block.noBorder {
  background-color: transparent;
}

.mh-dark .treasureMapView-scoreboard-table a,
.mh-dark a.treasureMapInvitesView-mapImageContainer {
  color: var(--d-link);
}

.mh-dark .treasureMapInvitesView-numRemaining {
  color: var(--d-text);
  background-color: var(--d);
  border-color: var(--d-border);
}

.mh-dark .treasureMapView-scoreboard-table .treasureMapView-block-row:hover {
  background-color: var(--d-bg);
}

.mh-dark .treasureMapView-scoreboard-table .treasureMapView-block-row.active:hover {
  background-color: var(--d-yellow);
}

.mh-dark .treasureMapView-scoreboard-table .treasureMapView-block-row.active:hover .treasureMapView-block-cell-name-cutoff {
  text-decoration: underline;
}

.mh-dark .treasureMapInvitesView-mapImageContainer:hover::before {
  background-color: transparent;
  box-shadow: none;
}

.mh-dark .treasureMapRootView-tab.active,
.mh-dark .treasureMapRootView-tab:hover {
  background-color: var(--d-bg);
}

.mh-dark .treasureMapRootView-tab {
  color: var(--d-text);
  background-color: var(--d-alt);
}

.mh-dark .treasureMapInventoryView-scrollCase-aura {
  background-color: var(--d-purple-dark);
  border-color: var(--d-purple);
}

.mh-dark .treasureMapPopup-season-reward-name {
  color: var(--d-text-muted);
}

.mh-dark .treasureMapPopup-shop .treasureMapView-block-content-heading {
  border-color: transparent;
}

.mh-dark .treasureMapView-reward-chestName {
  color: var(--d);
}

.mh-dark .treasureMapDialogView {
  background-color: var(--d);
}

.mh-dark .treasureMapDialogView a {
  color: var(--d-link);
}

.mh-dark .treasureMapPopup-mapInvite .treasureMapInventoryView-scrollCase {
  background-color: transparent;
}

.mh-dark .treasureMapListingsTableView th {
  background-color: var(--d-bg-alt);
}

.mh-dark .treasureMapListingsTableView tbody tr:nth-child(even) {
  background-color: var(--d-bg);
}

.mh-dark .treasureMapListingsTableView-mapPreviewButton,
.mh-dark .treasureMapListingsTableView tbody tr {
  color: var(--d-text);
}

.mh-dark .mh-improved-map-listing-last-active {
  color: var(--d-text-muted);
}

.mh-dark .treasureMapRootView-header-navigation-item {
  border-color: var(--d-purple-dark);
}

.mh-dark .treasureMapRootView-tabContainer.hasTabs {
  background-color: var(--d-purple);
}

.mh-dark .treasureMapRootView-footer {
  background-color: var(--d-bg-alt);
  border-top: 1px solid var(--d-border);
}

.mh-dark .treasureMapView-environment.active .treasureMapView-environment-title {
  background-color: var(--d-bg);
}

.mh-dark .treasureMapView-goals-group-goal:hover::before {
  background-color: var(--d-bg-alt);
  outline-color: var(--d-border);
}

.mh-dark a.treasureMapDialogView-close {
  color: var(--d);
}

.mh-dark .treasureMapListingsTableView tr.selected,
.mh-dark .treasureMapListingsTableView tr.selected:nth-child(even) {
  background-color: var(--d-bg);
}

.mh-dark .treasureMapView-highlight a {
  color: var(--d-link);
}

.mh-dark .treasureMapView-block-search-label,
.mh-dark .treasureMapView-highlight.sticky .treasureMapView-highlight-close {
  color: var(--d-text-muted);
}

.mh-dark .treasureMapView-goals-group-goal:hover::before,
.mh-dark .treasureMapView-goals-group-goal.sticky::before {
  background-color: var(--d);
  outline-color: var(--d-border);
}

.mh-dark .treasureMapView-goals-group-goal:hover .treasureMapView-goals-group-goal-image {
  mix-blend-mode: normal;
}

.mh-dark .mhct-stage {
  color: var(--d-text-muted);
}

.mh-dark .mhct-location-text {
  color: var(--d-text);
}

.mh-dark .treasureMapView-hunter.captain .treasureMapView-hunter-image {
  box-shadow: 0 0 3px 4px var(--d-bg);
}

.mh-dark .treasureMapView-hunter.upgrader .treasureMapView-hunter-image {
  box-shadow: 0 0 1px 3px #ffb40c;
}

.mh-dark #sorted-mice-container .mouse-container-selected,
.mh-dark #sorted-mice-container .mouse-container:hover,
.mh-dark #sorted-mice-container .mouse-container:focus {
  background: rgb(0 0 0 / 30%);
  outline: 1px solid rgb(0 0 0 / 95%);
}

.mh-dark #sorted-mice-container .mouse-container-selected .mouse-mhct-extra-info-wrapper {
  color: var(--d-text);
  background-color: var(--d);
  border-color: var(--d-border);
}

.mh-dark #sorted-mice-container .mouse-container-selected .mouse-mhct-extra-info-wrapper a {
  color: var(--d-link);
}

.mh-dark .mhct-row {
  color: var(--d-text-muted);
  background-color: var(--d);
}

.mh-dark .mhct-row:nth-child(odd) {
  background-color: var(--d-bg);
}

.mh-dark input.mh-ui-quick-invite-input {
  color: var(--d-text);
  background-color: var(--d);
  border-color: var(--d-border);
}

.mh-dark .treasureMapListingsTableView-filterMessage {
  color: var(--d-text-muted);
  background-color: var(--d);
  border-color: var(--d-border);
}

.mh-dark .treasureMapListingsTableView th.sortable:hover {
  background-color: var(--d-action);
}

.mh-dark .treasureMapListingsTableView th.sortable.active {
  background-color: var(--d-blue-dark);
}

.mh-dark a.mh-ui-invite-refresh-button::after {
  filter: invert(1);
}

.mh-dark .treasureMapListingsTableView-loading::before {
  background-color: var(--d-bg);
}

.mh-dark .messageBoardView-message-body {
  border-color: var(--d-border);
}

.mh-dark a.messageBoardView-message-delete::after {
  color: var(--d-red-dark);
}

.mh-dark a.messageBoardView-message-delete:hover::after,
.mh-dark a.messageBoardView-message-delete:focus::after {
  color: var(--d-red);
}

.mh-dark .mh-improved-map-sidebar-mouse .mh-improved-map-sidebar-goal .mh-improved-map-sidebar-goal-name {
  color: var(--d-text-muted);
}

.mh-dark .mh-improved-map-sidebar-goal.mh-improved-map-sidebar-goal-active .mh-improved-map-sidebar-goal-name,
.mh-dark .mh-improved-map-sidebar-goal:hover .mh-improved-map-sidebar-goal-name {
  color: var(--d-text);
}

.mh-dark .mh-improved-map-sidebar-mouse .mh-improved-map-sidebar-goal .mh-improved-map-sidebar-goal-image {
  opacity: 0.5;
}

.mh-dark .mh-improved-map-sidebar-goal.mh-improved-map-sidebar-goal-active .mh-improved-map-sidebar-goal-image,
.mh-dark .mh-improved-map-sidebar-goal:hover .mh-improved-map-sidebar-goal-image {
  opacity: 1;
}

.mh-dark .treasureMapDialogView-chest-item-padding::before {
  color: var(--d-text-dark);
}

.mh-dark .treasureMapDialogView-chest-item-padding {
  background-color: var(--d-bg);
  border-color: var(--d-bg);
}

.mh-dark .mh-ui-no-ar {
  color: var(--d-text-muted);
  border-color: var(--d-text-muted);
}

.mh-dark .treasureMapView-block-content-heading-image {
  box-shadow: 0 0 1px 1px var(--d);
}

.mh-dark .treasureMapView-previewBar-content {
  color: var(--d-text-dark);
}

.mh-dark .treasureMapDialogView .userSelectorView-header,
.mh-dark .treasureMapDialogView .userSelector-table th {
  color: var(--d-text);
  background-color: var(--d-bg);
}

.mh-dark .marketplaceView-item-input-label,
.mh-dark .treasureMapDialogView .treasureMapUserSelectorView-toggleFavouritesContainer.treasureMapView-block-title label {
  color: var(--d-text);
}

.mh-dark .treasureMapDialogView .userSelector-table th.userSelectorView-sortByLink::after {
  filter: invert(1) opacity(0.5);
}

.mh-dark .treasureMapDialogView .userSelectorView-category,
.mh-dark .treasureMapDialogView .userSelectorView-categoryContainer:hover .userSelectorView-category.active {
  background-color: var(--d-alt);
  border-color: var(--d-border);
}

.mh-dark .treasureMapDialogView .userSelectorView-category-spacer {
  width: 1px;
}

.mh-dark .treasureMapDialogView .userSelectorView-category.active,
.mh-dark .treasureMapDialogView .userSelectorView-categoryContainer:hover .userSelectorView-category:hover {
  background-color: var(--d);
  border-radius: 0;
}

.mh-dark .treasureMapDialogView-header,
.mh-dark .treasureMapDialogView .userSelectorView-user-image,
.mh-dark .treasureMapDialogView .treasureMapDialogView-userSelector .userSelectorView-content,
.mh-dark .treasureMapRootView .messageBoardView a.messageBoardView-message-image,
.mh-dark .treasureMapDialogView .userSelectorView-categoryContainer {
  border-color: var(--d-border);
}

.mh-dark .treasureMapView-hunter-image {
  box-shadow: 0 0 1px 1px var(--d-border);
}

.mh-dark .treasureMapDialogView .userSelectorView-category,
.mh-dark .treasureMapDialogView .userSelectorView-category:hover {
  color: var(--d-text-muted);
}

.mh-dark .treasureMapDialogView .userSelector-table th.userSelectorView-sortByLink.active {
  color: var(--d-text);
  background-color: var(--d-blue-dark);
}

.mh-dark .treasureMapView-favouriteButton.disabled:hover::after {
  background-color: var(--d-action);
  border-right: none;
}

.mh-dark .treasureMapDialogView .userSelector-table tr.selected {
  background-color: var(--d-green-dark);
}

.mh-dark .treasureMapDialogView .userSelector-table tr.empty .userSelectorView-userList-group-message {
  background-color: var(--d-bg-alt);
  border-color: var(--d-border);
}

.mh-dark a.treasureMapView-showCancelInvitesButton {
  color: var(--d-link);
}

.mh-dark .treasureMapDialogView-footer {
  background-color: var(--d-bg);
}

.mh-dark .treasureMapView-block-content-heading-count {
  color: var(--d-text-muted);
}

.mh-dark .treasureMapView-hunter-miceCaught,
.mh-dark .treasureMapRootView-quantity {
  color: var(--d-text);
  background-color: var(--d-action);
  border-color: var(--d-bg-alt);
}

.mh-dark .treasureMapView-allyTable a.treasureMapDialogView-deleteInviteRequest.reject-invite-request {
  color: var(--d-text);
  background-color: var(--d-action);
}

.mh-dark .treasureMapView-allyTable a.treasureMapDialogView-deleteInviteRequest.reject-invite-request:hover {
  background-color: var(--d);
}
