.mh-dark .marketplaceContentContainer #chartArea,
.mh-dark .marketplaceContentContainer #stockChartContainer {
  background-color: #2d2d2d !important;
}

.mh-dark .marketplaceContentContainer #chartArea svg.highcharts-root,
.mh-dark .marketplaceContentContainer #chartArea .highcharts-series,
.mh-dark .marketplaceContentContainer #chartArea .highcharts-markers,
.mh-dark .marketplaceContentContainer #chartArea .highcharts-legend-item path,
.mh-dark .marketplaceContentContainer #chartArea .highcharts-legend-item rect {
  filter: invert(1);
}

.mh-dark .marketplaceView-item-averagePrice.infobox-stat img {
  display: none;
}

.mh-dark .marketplaceView-item-averagePrice.infobox-stat #infoboxSbPrice::after {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: bottom;
  content: "";
  background: url(https://www.mousehuntgame.com/images/items/bait/large/32b20c3984d2f03b132c295ea3b99e7e.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.mh-dark .marketplaceContentContainer #chartArea .cl-switch .label,
.mh-dark .marketplaceContentContainer #chartArea #markethuntInfobox,
.mh-dark .marketplaceContentContainer #chartArea #markethuntInfobox .marketplaceView-goldValue {
  color: var(--d-text-muted);
}

.mh-dark .marketplaceView-table tr .marketplaceView-listingType.buy {
  transition: none;
}

.mh-dark .marketplaceView-table tr:hover .marketplaceView-listingType.buy {
  background-color: var(--d-blue);
}

.mh-dark .jconfirm.jconfirm-light .jconfirm-bg {
  background-color: #000;
  opacity: 0.6;
}

.mh-dark .jconfirm.jconfirm-light .jconfirm-box {
  color: var(--d-text);
  background-color: var(--d-bg);
  border: 1px solid var(--d-border);
  box-shadow: 0 4px 16px rgb(0 0 0 / 50%);
}

.mh-dark .jconfirm.jconfirm-light .jconfirm-box .jconfirm-title-c {
  color: var(--d-white);
}

.mh-dark .jconfirm.jconfirm-light .jconfirm-box .jconfirm-content label {
  color: var(--d-text);
}

.mh-dark .jconfirm.jconfirm-light .jconfirm-box .jconfirm-closeIcon {
  color: var(--d-text-muted);
  opacity: 1;
}

.mh-dark .jconfirm.jconfirm-light .jconfirm-box .jconfirm-closeIcon:hover {
  color: var(--d-white);
}

.mh-dark .jconfirm.jconfirm-light .jconfirm-box input {
  padding: 3px 5px;
  color: var(--d-input-text);
  background-color: var(--d-alt);
  border: 1px solid var(--d-border);
  border-radius: 3px;
}

.mh-dark .jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button {
  color: var(--d-text);
  background-color: var(--d-action);
  border: 1px solid var(--d-border);
}

.mh-dark .jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button:hover {
  color: var(--d-white);
  background-color: #6c727e;
}
