/* Tweak the background sizes to fit a bit nicer */
.mh-dark.mh-dark .mouseListView-categoryContent-subgroup-mouse .mouseListView-categoryContent-subgroup-mouse-margin,
.mh-dark.mh-dark .mouseListView[data-display-mode="images"] .mouseListView-categoryContent-subgroup-mouse-margin[style]::after {
  background-size: 138px 215px;
}

.mh-dark.mh-dark .mouseListView-categoryContent-subgroup-mouse.landscape .mouseListView-categoryContent-subgroup-mouse-margin,
.mh-dark.mh-dark .mouseListView[data-display-mode="images"] .landscape .mouseListView-categoryContent-subgroup-mouse-margin[style]::after {
  background-size: 275px 200px;
}

/* tweak the brightness a tiny bit */
.mh-dark.mh-dark .mouseListView[data-display-mode="images"] .mouseListView-categoryContent-subgroup-mouse-margin[style]::after {
  filter: brightness(0.78);
}
