.mh-dark .mouseView-title {
  color: var(--d-text);
}

.mh-dark .minluck-title,
.mh-dark .mouseview-has-mhct .ar-header {
  border-bottom-color: var(--d-bg);
}

.mh-dark .mouseview-has-mhct .mouse-ar-wrapper {
  background-color: var(--d-bg);
}

.mh-dark .mouseview-has-mhct .mouse-ar-wrapper:nth-child(even) {
  background-color: var(--d-bg-alt);
}

.mh-dark li.minluck-item {
  background-color: var(--d);
  border-color: var(--d-border);
}

.mh-dark .mouseView-categoryContent-subgroup-mouse-weaknesses-label {
  border-color: var(--d-bg-alt);
}

.mh-dark .mouseView-statsContainer-block {
  background-color: var(--d-bg-alt);
}

.mh-dark .minluck-title,
.mh-dark .mouseview-has-mhct .ar-header,
.mh-dark .mouseView-titleContainer {
  border-bottom-color: var(--d-border);
}

.mh-dark .mouseview-has-mhct .ar-link {
  color: var(--d-link);
}

.mh-dark .mouseViewPopup .mouseView-image {
  overflow: hidden;
  border-radius: 0;
}
