.mh-dark #overlayPopup.treasureMapPopup .jsDialogContainer .content,
.mh-dark #overlayPopup.itemViewPopup .jsDialogContainer .content,
.mh-dark #overlayPopup.mouseViewPopup .jsDialogContainer .content,
.mh-dark #overlayPopup.largerImage .jsDialogContainer .content,
.mh-dark #overlayPopup.convertibleOpenViewPopup .jsDialogContainer .content,
.mh-dark #overlayPopup.adventureBookPopup .jsDialogContainer .content,
.mh-dark #overlayPopup.marketplaceViewPopup .jsDialogContainer .content,
.mh-dark #overlayPopup.giftSelectorViewPopup .jsDialogContainer .content,
.mh-dark #overlayPopup.supportPageContactUsForm .jsDialogContainer .content {
  color: var(--d-text);
  background-color: var(--d-bg);
}

.mh-dark #overlayPopup.treasureMapPopup .jsDialogContainer,
.mh-dark #overlayPopup.itemViewPopup .jsDialogContainer,
.mh-dark #overlayPopup.mouseViewPopup .jsDialogContainer,
.mh-dark #overlayPopup.largerImage .jsDialogContainer,
.mh-dark #overlayPopup.convertibleOpenViewPopup .jsDialogContainer,
.mh-dark #overlayPopup.adventureBookPopup .jsDialogContainer,
.mh-dark #overlayPopup.marketplaceViewPopup .jsDialogContainer,
.mh-dark #overlayPopup.giftSelectorViewPopup .jsDialogContainer,
.mh-dark #overlayPopup.supportPageContactUsForm .jsDialogContainer {
  background-color: var(--d-bg);
}

.mh-dark #overlayPopup.treasureMapPopup .jsDialogContainer .suffix,
.mh-dark #overlayPopup.itemViewPopup .jsDialogContainer .suffix,
.mh-dark #overlayPopup.mouseViewPopup .jsDialogContainer .suffix,
.mh-dark #overlayPopup.largerImage .jsDialogContainer .suffix,
.mh-dark #overlayPopup.convertibleOpenViewPopup .jsDialogContainer .suffix,
.mh-dark #overlayPopup.adventureBookPopup .jsDialogContainer .suffix,
.mh-dark #overlayPopup.marketplaceViewPopup .jsDialogContainer .suffix,
.mh-dark #overlayPopup.giftSelectorViewPopup .jsDialogContainer .suffix,
.mh-dark #overlayPopup.supportPageContactUsForm .jsDialogContainer .suffix {
  background-color: var(--d-alt);
  border-color: var(--d-border);
}

.mh-dark #overlayPopup.treasureMapPopup .jsDialogContainer .prefix,
.mh-dark #overlayPopup.itemViewPopup .jsDialogContainer .prefix,
.mh-dark #overlayPopup.mouseViewPopup .jsDialogContainer .prefix,
.mh-dark #overlayPopup.largerImage .jsDialogContainer .prefix,
.mh-dark #overlayPopup.convertibleOpenViewPopup .jsDialogContainer .prefix,
.mh-dark #overlayPopup.adventureBookPopup .jsDialogContainer .prefix,
.mh-dark #overlayPopup.marketplaceViewPopup .jsDialogContainer .prefix,
.mh-dark #overlayPopup.giftSelectorViewPopup .jsDialogContainer .prefix,
.mh-dark #overlayPopup.supportPageContactUsForm .jsDialogContainer .prefix {
  background-color: var(--d-bg);
}

.mh-dark #overlayPopup.treasureMapPopup .jsDialogContainer .jsDialog.bottom,
.mh-dark #overlayPopup.itemViewPopup .jsDialogContainer .jsDialog.bottom,
.mh-dark #overlayPopup.mouseViewPopup .jsDialogContainer .jsDialog.bottom,
.mh-dark #overlayPopup.largerImage .jsDialogContainer .jsDialog.bottom,
.mh-dark #overlayPopup.convertibleOpenViewPopup .jsDialogContainer .jsDialog.bottom,
.mh-dark #overlayPopup.adventureBookPopup .jsDialogContainer .jsDialog.bottom,
.mh-dark #overlayPopup.marketplaceViewPopup .jsDialogContainer .jsDialog.bottom,
.mh-dark #overlayPopup.giftSelectorViewPopup .jsDialogContainer .jsDialog.bottom,
.mh-dark #overlayPopup.supportPageContactUsForm .jsDialogContainer .jsDialog.bottom {
  background-color: var(--d-alt);
  border-radius: 0 0 15px 15px;
}

.mh-dark #overlayPopup.treasureMapPopup .jsDialogContainer h2,
.mh-dark #overlayPopup.itemViewPopup .jsDialogContainer h2,
.mh-dark #overlayPopup.mouseViewPopup .jsDialogContainer h2,
.mh-dark #overlayPopup.largerImage .jsDialogContainer h2,
.mh-dark #overlayPopup.convertibleOpenViewPopup .jsDialogContainer h2,
.mh-dark #overlayPopup.adventureBookPopup .jsDialogContainer h2,
.mh-dark #overlayPopup.marketplaceViewPopup .jsDialogContainer h2,
.mh-dark #overlayPopup.giftSelectorViewPopup .jsDialogContainer h2,
.mh-dark #overlayPopup.supportPageContactUsForm .jsDialogContainer h2,
.mh-dark #overlayPopup.treasureMapPopup .jsDialogContainer h3,
.mh-dark #overlayPopup.itemViewPopup .jsDialogContainer h3,
.mh-dark #overlayPopup.mouseViewPopup .jsDialogContainer h3,
.mh-dark #overlayPopup.largerImage .jsDialogContainer h3,
.mh-dark #overlayPopup.convertibleOpenViewPopup .jsDialogContainer h3,
.mh-dark #overlayPopup.adventureBookPopup .jsDialogContainer h3,
.mh-dark #overlayPopup.marketplaceViewPopup .jsDialogContainer h3,
.mh-dark #overlayPopup.giftSelectorViewPopup .jsDialogContainer h3,
.mh-dark #overlayPopup.supportPageContactUsForm .jsDialogContainer h3 {
  color: var(--d-text);
}

.mh-dark #overlayBg {
  background: var(--d-transparent-70);
}

.mh-dark .mh-improved-travel-window.greatWinterHuntGolemDestinationView {
  background-color: var(--d-bg);
}

.mh-dark .mh-improved-travel-window .greatWinterHuntGolemDestinationView__environmentName {
  color: var(--d-text);
  background-color: var(--d-bg-alt);
  border-color: var(--d-border);
  box-shadow: none;
}

.mh-dark .mh-improved-travel-window .greatWinterHuntGolemDestinationView__environment {
  background-color: var(--d-bg-alt);
  border-color: var(--d-border);
  border-radius: 0;
  box-shadow: none;
}

.mh-dark .mh-improved-travel-window .greatWinterHuntGolemDestinationView__environment:hover .greatWinterHuntGolemDestinationView__environmentName,
.mh-dark .mh-improved-travel-window .greatWinterHuntGolemDestinationView__environment:focus .greatWinterHuntGolemDestinationView__environmentName {
  background-color: var(--d-action);
}

.mh-dark #overlayPopup .button,
.mh-dark .notificationMessageList .message .actions input[type="button"],
.mh-dark .notificationMessageList .message .actions input[value="View Profile"],
.mh-dark .notificationMessageList .message .actions input[value="View Profile"].ignoreRequest.ignoreRequest {
  box-shadow: 0 -5px 8px -2px #ffae00 inset;
}

.mh-dark #overlayPopup.tornPage .tornPageText p {
  color: var(--d-text-muted);
}

.mh-dark .inventoryPage-confirmPopup-itemContainer {
  background-color: var(--d-bg-alt);
}

.mh-dark .inventoryPage-confirmPopup-itemTable {
  background-color: var(--d-bg);
}

.mh-dark .inventoryPage-confirmPopup-itemContainer.received {
  background-color: var(--d-bg-alt);
}

.mh-dark .inventoryPage-confirmPopup-suffix-quantityContainer input {
  color: var(--d-text);
  background-color: var(--d);
  border-color: var(--d-border);
  border-width: 1px;
}

.mh-dark #overlayPopup.floatingIslandsDialog .jsDialogContainer .content {
  color: var(--d-text-dark);
  background-color: transparent;
}

.mh-dark .itemView-loading {
  background: none;
  box-shadow: none;
}

.mh-dark .mh-ui-assignment-meta-wrapper {
  color: var(--d-text);
}

.mh-dark .mh-ui-assignment-wiki-button {
  color: var(--d-link);
}

.mh-dark .mh-ui-assignment-details-summary {
  color: var(--d-text);
}

.mh-dark .mh-ui-assignment-details-task-title,
.mh-dark .mh-ui-assignment-details-title {
  color: var(--d-text-muted);
}

.mh-dark #overlayPopup .img .name {
  color: var(--d-text);
}

.mh-dark .mousehuntCharacterGuideBox-content {
  background-color: var(--d-bg-alt);
}

.mh-dark #overlayPopup.loading .jsDialogContainer .suffix {
  background-blend-mode: darken;
}

.mh-dark .convertibleOpenView-header {
  background-color: var(--d);
}

.mh-dark .convertibleOpenView-header a {
  color: var(--d-link);
}

.mh-dark #overlayPopup.hunting_summary .jsDialogContainer {
  background-color: var(--d-bg);
}

.mh-dark #overlayPopup.hunting_summary .title {
  color: var(--d-text);
}

.mh-dark #overlayPopup.hunting_summary .jsDialogContainer .suffix {
  background-color: var(--d-bg-alt);
  border-color: var(--d-border);
}

.mh-dark .item-data-wrapper-loading,
.mh-dark .mouse-data-wrapper-loading,
.mh-dark .friend-data-wrapper-loading {
  background-color: var(--d);
  background-blend-mode: multiply;
}

.mh-dark .convertibleOpenView-auraContainer {
  background-color: var(--d);
}

.mh-dark .convertibleOpenView-aura.QuestChromeAura {
  background-color: var(--d-bg);
  border-color: var(--d-red-darker);
}

.mh-dark .itemView-largeImageContainer {
  background-color: transparent;
  border-color: transparent;
}

.mh-dark .itemViewContainer.base .itemView-largeImage-image,
.mh-dark .itemViewContainer.weapon .itemView-largeImage-image,
.mh-dark .itemViewContainer.skin .itemView-largeImage-image {
  border-color: var(--d-border);
}
