.mh-dark #overlayPopup.hunting_summary .miceContainer,
.mh-dark #overlayPopup.hunting_summary .environmentContainer,
.mh-dark #overlayPopup.hunting_summary .baitContainer,
.mh-dark #overlayPopup.hunting_summary .lootContainer {
  background-color: var(--d-alt);
  border-color: var(--d-border);
}

.mh-dark #overlayPopup.hunting_summary .label {
  color: var(--d-text);
  background-color: var(--d);
  border-color: var(--d-border);
}

.mh-dark #overlayPopup.hunting_summary .miceContainer a,
.mh-dark #overlayPopup.hunting_summary .baitContainer a,
.mh-dark #overlayPopup.hunting_summary .lootContainer a {
  color: var(--d-text);
}
