.mh-dark .tournamentPage-tournamentHeader a {
  color: var(--d-text);
  background-color: var(--d-alt);
  border-color: var(--d-border);
}

.mh-dark .tournamentPage-tournamentContainer-name,
.mh-dark .tournamentPage-profile-details-generalRules a,
.mh-dark a.teamWrapper {
  color: var(--d-link);
}

.mh-dark .tournamentPage-tournamentRow {
  background-color: var(--d-alt);
  border-color: var(--d-border);
}

.mh-dark .tournamentPage-tournamentRow.tournamentPage-tournamentData.active {
  background-color: var(--d-green-darker);
}

.mh-dark .tournamentPage-tournamentRow.tournamentPage-tournamentData.active:hover {
  background-color: var(--d-green-dark);
}

.mh-dark .tournamentPage-profile-summary,
.mh-dark .tournamentPage-profile-details-generalRules,
.mh-dark .tournamentPage-profile-details-rewardContainer,
.mh-dark .tournamentPage-profile-details-padding {
  color: var(--d-text);
  background-color: var(--d-bg);
  border-color: var(--d-border);
}

.mh-dark .tournamentPage-profile-summaryDetailsContainer {
  background-color: var(--d-alt);
  border-color: var(--d-border);
  border-radius: 0;
}

.mh-dark .tournamentPage-profile-summaryDetail i {
  color: var(--d-text-muted);
  text-shadow: none;
}

.mh-dark .tournamentPage-profile-description,
.mh-dark .tournamentPage-profile-details-generalRules ul li,
.mh-dark .tournamentPage-profile-details-generalRules-title {
  text-shadow: none;
}

.mh-dark .tournamentPage-profile-details-rules-icon {
  background-color: transparent;
}

.mh-dark .tournamentPage-profile-details-rules h2,
.mh-dark .tournamentPage-profile-details-rewardContainer h2 {
  color: var(--d-text);
}

.mh-dark h2.tournamentPage-profile-details-mouseGroup-name {
  color: var(--d-text-muted);
}

.mh-dark .tournamentPage-tournamentContainer-customPrizes {
  color: var(--d-text);
  background-color: var(--d-blue-dark);
}

.mh-dark .tournamentPage-profile-details-environmentWarning {
  color: var(--d-red-light);
}
