.mh-dark .travelPage-regionMenu-environments,
.mh-dark #mh-simple-travel-page .travelPage-regionMenu-item,
.mh-dark #mh-simple-travel-page .travelPage-alpha-wrapper .travelPage-regionMenu-environments {
  background-color: var(--d);
}

.mh-dark .travelPage-regionMenu-environmentLink.relic-hunter-is-here,
.mh-dark .mousehuntHud-page-tabContent.simple-travel .travelPage-regionMenu-environmentLink.relic-hunter-is-here {
  color: var(--d-text);
  background-color: var(--d-green-dark);
  outline-color: var(--d-alt);
}

.mh-dark #mh-simple-travel-page .travelPage-regionMenu-environmentLink:hover,
.mh-dark #mh-simple-travel-page .travelPage-regionMenu-environmentLink:focus,
.mh-dark #mh-simple-travel-page .travelPage-regionMenu .travelPage-regionMenu-environmentLink.active.highlight,
.mh-dark #mh-simple-travel-page .travelPage-alpha-wrapper .travelPage-regionMenu-environmentLink.active.highlight {
  color: var(--d-text);
  background-color: var(--d-blue);
}

.mh-dark .travelPage-regionMenu-stats {
  color: var(--d-text);
  background-color: var(--d-alt);
}

.mh-dark #mh-simple-travel-page .travelPage-regionMenu .travelPage-regionMenu-environmentLink.active.highlight {
  margin-right: -1px;
  border-right: none;
}

.mh-dark .travelPage-regionMenu-item.active .travelPage-regionMenu-regionLink {
  background-color: var(--d-blue-dark);
  box-shadow: 2px 2px 2px var(--d-blue-dark) inset;
}

.mh-dark #mh-simple-travel-page .travelPage-regionMenu-item {
  border-color: var(--d-blue-dark);
}

.mh-dark a.travelPage-regionMenu-environmentLink,
.mh-dark a.travelPage-regionMenu-regionLink {
  background-color: var(--d);
  border-color: var(--d-border);
}

.mh-dark .travelPage-map-pieces-detail-title {
  background-color: var(--d-bg);
  border-color: var(--d-border);
}

.mh-dark .travelPage-map-pieces-row {
  background-color: var(--d-alt);
  border-color: var(--d-border);
}

.mh-dark .travelPage-map-pieces-row.locked {
  background-color: var(--d-bg-alt);
}

.mh-dark .travelPage-map-pieces-row.locked .travelPage-map-pieces-detail-title {
  background-color: var(--d-action);
}

.mh-dark .travelPage-map-pieces-detail-environment-title {
  border: none;
}

.mh-dark .travelPage-map-environment-detailContainer {
  background: var(--d);
  border-color: var(--d-border);
  border-bottom: none;
  box-shadow: none;
}

.mh-dark .travelPage-regionMenu-environmentLink {
  color: var(--d-link);
}

.mh-dark .travelPage-map-pieces-detail-environment-name {
  color: var(--d-text);
}

.mh-dark .travelPage-map-pieces-row a {
  color: var(--d-link);
}

.mh-dark input.mh-improved-travel-window-search-input[type="text"] {
  padding: 10px;
  color: var(--d-text);
  background-color: var(--d-action);
  border-color: var(--d-border);
}

.mh-dark .travelPage-map-environment-detail-wiki-link a {
  color: var(--d-link);
}

.mh-dark .travelPage-map-environment-detail-wiki-link .travelPage-map-environment-detail-link-icon {
  width: 12px;
  filter: hue-rotate(29deg) brightness(1.2);
}
