.huntersHornView__backdrop {
  filter: hue-rotate(180deg);
  opacity: 1;
  transition: none;
}

.huntersHornView__horn--ready {
  filter: hue-rotate(275deg);
  transition: none;
}

.huntersHornMessageView {
  filter: hue-rotate(200deg);
}

.mousehuntHud-menu.default > ul li a {
  filter: hue-rotate(298deg);
  backdrop-filter: hue-rotate(245deg);
}

.mousehuntHud-environmentName {
  text-shadow:
    0 0 1px #eab9cd,
    1px 1px #ffe1f5;
}

.mousehuntHud-environmentIcon {
  box-shadow:
    2px 2px 2px #ffe1f5 inset,
    -2px -2px 2px #eab9cd inset;
}

.mousehuntHud-menu ul li.active .mousehuntHud-menu-item.root,
.mousehuntHud-menu ul li:hover .mousehuntHud-menu-item.root {
  background: url(https://www.mousehuntgame.com/images/ui/hud/menu/menu_seperator.png) 100% 0 no-repeat;
  filter: hue-rotate(328deg);
  backdrop-filter: hue-rotate(292deg);
}
