/* Lets make that shield look great */
.mousehuntHud-shield.default,
.mousehuntHud-shield.golden.default-no-lgs,
.mousehuntHud-shield.default.golden.default-no-lgs {
  top: 4px;
  left: 14px;
  background-image: url(https://i.mouse.rip/shield-no-lgs.png);
  filter: drop-shadow(0 0 5px #e8dbb8);
  background-size: contain;
  transition: opacity 0.3s ease-in-out;
}

.mousehuntHud-shield.golden.default {
  top: 2px;
  left: 10px;
  background-image: url(https://www.mousehuntgame.com/images/mousehunt_gold_logo.png);
  filter: drop-shadow(0 0 5px #e8dbb8);
  background-size: contain;
  transition: opacity 0.3s ease-in-out;
}

.mousehuntHud-shield.default-normal {
  top: unset;
  left: unset;
  background-image: none;
  filter: none;
}

.mousehuntHud-shield.golden.default-normal {
  top: unset;
  left: unset;
  background-image: url(https://www.mousehuntgame.com/images/ui/elements/header_golden_shield.gif);
  filter: none;
}

.mousehuntHud-shield.golden.default-fancy:hover,
.mousehuntHud-shield.golden.default-fancy:focus {
  opacity: 0.9;
}

.mousehuntHud-shield.romeo,
.mousehuntHud-shield.mythweaver,
.mousehuntHud-shield.moustachio,
.mousehuntHud-shield.leprechaun,
.mousehuntHud-shield.plain,
.mousehuntHud-shield.droid,
.mousehuntHud-shield.starry,
.mousehuntHud-shield.glazy {
  top: 2px;
  left: 10px;
  background-image: url(https://i.mouse.rip/shield-glazy.png);
  filter: drop-shadow(0 0 5px #e8dbb8);
  background-size: contain;
}

.mousehuntHud-shield.plain {
  background-image: url(https://i.mouse.rip/shield-plain.png);
}

.mousehuntHud-shield.starry {
  background-image: url(https://i.mouse.rip/shield-starry.png);
}

.mousehuntHud-shield.droid {
  background-image: url(https://i.mouse.rip/shield-droid.png);
}

.mousehuntHud-shield.romeo {
  background-image: url(https://i.mouse.rip/shield-romeo.png);
}

.mousehuntHud-shield.mythweaver {
  background-image: url(https://i.mouse.rip/shield-mythweaver.png);
}

.mousehuntHud-shield.moustachio {
  background-image: url(https://i.mouse.rip/shield-moustachio.png);
}

.mousehuntHud-shield.leprechaun {
  background-image: url(https://i.mouse.rip/shield-leprechaun.png);
}

.mousehuntHud-shield.halloween-text {
  top: 2px;
  left: 1px;
  background-image: url(https://i.mouse.rip/shield-halloween-text.png);
  filter: drop-shadow(0 0 5px #e8dbb8);
  background-size: contain;
}

.mousehuntHud-shield.mhui-custom-shield.pride,
.mousehuntHud-shield.golden.pride {
  background: url(https://i.mouse.rip/shield-pride.png) 0 0/105%;
}

.mousehuntHud-shield.scrambles {
  background-image: url(https://i.mouse.rip/shield-scrambles-bawk.png);
}

.mousehuntHud-shield.golden.scrambles {
  background-image: url(https://i.mouse.rip/shield-scrambles-bawk.png), url(https://www.mousehuntgame.com/images/ui/elements/header_golden_shield.gif);
}

.mousehuntHud-shield.jerry {
  background-image: url(https://i.mouse.rip/shield-jerry.png);
}

.mousehuntHud-shield.golden.jerry {
  background-image: url(https://i.mouse.rip/shield-jerry.png), url(https://www.mousehuntgame.com/images/ui/elements/header_golden_shield.gif);
}

.mousehuntHud-shield.golden.spring-egg-hunt {
  background: url(https://i.mouse.rip/shield-seh.png) 1px 1px/104%;
}

.mousehuntHud-shield.golden.spring-egg-hunt-alt {
  background: url(https://i.mouse.rip/shield-seh-alt.png) 1px 1px/104%;
}

.mousehuntHud-shield.romeno::after {
  position: absolute;
  bottom: 0;
  left: -69px;
  z-index: 1;
  width: 140px;
  height: 140px;
  content: "";
  background-image: url(https://i.mouse.rip/shield-romeno.png);
  filter: drop-shadow(6px 0 14px #fff);
  background-repeat: no-repeat;
  background-size: contain;
}

.mousehuntHud-shield.drawing {
  top: -33px;
  left: 0;
  height: 170px;
  background-image: url(https://i.mouse.rip/shield-drawing.png?1);
  background-size: contain;
}

.mousehuntHud-shield.title,
.mousehuntHud-shield.golden.title {
  top: 2px;
  left: 2px;
  background: url(https://i.mouse.rip/shield-blank-2.png) 0 0 / contain no-repeat;
}

.mousehuntHud-shield.title::after {
  position: absolute;
  inset: 0;
  content: "";
  filter: drop-shadow(0 0 10px #e8dbb8);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 105px;
  transition: background-image 0.5s;
}

.mousehuntHud-shield.title.novice::after,
.mousehuntHud-shield.golden.title.novice::after {
  background-image: url(https://www.mousehuntgame.com/images/titles/84bc1109b5cd7aa8c24d195bc8207c38.png);
}

.mousehuntHud-shield.title.recruit::after,
.mousehuntHud-shield.golden.title.recruit::after {
  background-image: url(https://www.mousehuntgame.com/images/titles/3f1e44bbaa7138da4c326819e9f3f0a8.png);
}

.mousehuntHud-shield.title.apprentice::after,
.mousehuntHud-shield.golden.title.apprentice::after {
  background-image: url(https://www.mousehuntgame.com/images/titles/6f4673dd2d9d1e98b4569667d702a775.png);
}

.mousehuntHud-shield.title.initiate::after,
.mousehuntHud-shield.golden.title.initiate::after {
  background-image: url(https://www.mousehuntgame.com/images/titles/e96387f7261b95c0eeab9291e4e594e1.png);
}

.mousehuntHud-shield.title.journeyman::after,
.mousehuntHud-shield.golden.title.journeyman::after {
  background-image: url(https://www.mousehuntgame.com/images/titles/ad6875955f541159133c6d3798519f81.png);
}

.mousehuntHud-shield.title.master::after,
.mousehuntHud-shield.golden.title.master::after {
  background-image: url(https://www.mousehuntgame.com/images/titles/35ee6056a09037fb13a9195881875045.png);
}

.mousehuntHud-shield.title.grandmaster::after,
.mousehuntHud-shield.golden.title.grandmaster::after {
  background-image: url(https://www.mousehuntgame.com/images/titles/0da3761747914f497c16dc2051ba132d.png);
}

.mousehuntHud-shield.title.legendary::after,
.mousehuntHud-shield.golden.title.legendary::after {
  background-image: url(https://www.mousehuntgame.com/images/titles/fca35751046f4bcc972716ca484b6d61.png);
}

.mousehuntHud-shield.title.hero::after,
.mousehuntHud-shield.golden.title.hero::after {
  background-image: url(https://www.mousehuntgame.com/images/titles/0567284d6e12aaaed35ca5912007e070.png);
}

.mousehuntHud-shield.title.knight::after,
.mousehuntHud-shield.golden.title.knight::after {
  background-image: url(https://www.mousehuntgame.com/images/titles/398dca9a8c7703de969769491622ca32.png);
}

.mousehuntHud-shield.title.lord::after,
.mousehuntHud-shield.golden.title.lord::after {
  background-image: url(https://www.mousehuntgame.com/images/titles/9a6acd429a9a3a4849ed13901288b0b8.png);
}

.mousehuntHud-shield.title.baron::after,
.mousehuntHud-shield.golden.title.baron::after {
  background-image: url(https://www.mousehuntgame.com/images/titles/ea9c0ec2e6d3d81c14e61f5ce924d0e1.png);
}

.mousehuntHud-shield.title.count::after,
.mousehuntHud-shield.golden.title.count::after {
  background-image: url(https://www.mousehuntgame.com/images/titles/dd11711a25b80db90e0306193f2e8d78.png);
}

.mousehuntHud-shield.title.duke::after,
.mousehuntHud-shield.golden.title.duke::after {
  background-image: url(https://www.mousehuntgame.com/images/titles/eb46ac1e8197b13299ab860f07d963db.png);
}

.mousehuntHud-shield.title.grandduke::after,
.mousehuntHud-shield.golden.title.grandduke::after {
  background-image: url(https://www.mousehuntgame.com/images/titles/87937fa96bbb3b2dd3225df883002642.png);
}

.mousehuntHud-shield.title.archduke::after,
.mousehuntHud-shield.golden.title.archduke::after {
  background-image: url(https://www.mousehuntgame.com/images/titles/043efe31de4f0f2e0ddca590fe829032.png);
}

.mousehuntHud-shield.title.viceroy::after,
.mousehuntHud-shield.golden.title.viceroy::after {
  background-image: url(https://www.mousehuntgame.com/images/titles/e2e79f6f9201a4d4e7a89684fbb5356f.png);
}

.mousehuntHud-shield.title.elder::after,
.mousehuntHud-shield.golden.title.elder::after {
  background-image: url(https://www.mousehuntgame.com/images/titles/0f3cf224bf98457f6b5bad91ab1c7bd2.png);
}

.mousehuntHud-shield.title.sage::after,
.mousehuntHud-shield.golden.title.sage::after {
  background-image: url(https://www.mousehuntgame.com/images/titles/cb49e43c5e4460da7c09fe28ca4f44ce.png);
}

.mousehuntHud-shield.title.fabled::after,
.mousehuntHud-shield.golden.title.fabled::after {
  background-image: url(https://www.mousehuntgame.com/images/titles/5daba92a8d609834aa8b789f37544e08.png);
}

.mousehunt-improved-lgs-reminder-new.color-blue,
.huntersHornView__timer--default.color-blue,
.mousehuntHud-shield.golden.color-blue {
  filter: hue-rotate(158deg) drop-shadow(0 0 5px #e8dbb8);
}

.mousehunt-improved-lgs-reminder-new.color-cyan,
.huntersHornView__timer--default.color-cyan,
.mousehuntHud-shield.golden.color-cyan {
  filter: hue-rotate(112deg) drop-shadow(0 0 5px #e8dbb8);
}

.mousehunt-improved-lgs-reminder-new.color-green,
.huntersHornView__timer--default.color-green,
.mousehuntHud-shield.golden.color-green {
  filter: hue-rotate(66deg) drop-shadow(0 0 5px #e8dbb8);
}

.mousehunt-improved-lgs-reminder-new.color-pink,
.huntersHornView__timer--default.color-pink,
.mousehuntHud-shield.golden.color-pink {
  filter: hue-rotate(280deg) drop-shadow(0 0 5px #e8dbb8);
}

.mousehunt-improved-lgs-reminder-new.color-purple,
.huntersHornView__timer--default.color-purple,
.mousehuntHud-shield.golden.color-purple {
  filter: hue-rotate(195deg) drop-shadow(0 0 5px #e8dbb8);
}

.mousehunt-improved-lgs-reminder-new.color-red,
.huntersHornView__timer--default.color-red,
.mousehuntHud-shield.golden.color-red {
  filter: hue-rotate(317deg) saturate(1.6) drop-shadow(0 0 5px #e8dbb8);
}

.mousehuntHud-shield.golden.color-faded {
  filter: sepia(1) drop-shadow(0 0 5px #e8dbb8);
}

.huntersHornView__timer--default.color-blue .huntersHornView__timerState.huntersHornView__timerState--type-countdown.huntersHornView__countdown,
.huntersHornView__timer--default.color-cyan .huntersHornView__timerState.huntersHornView__timerState--type-countdown.huntersHornView__countdown,
.huntersHornView__timer--default.color-green .huntersHornView__timerState.huntersHornView__timerState--type-countdown.huntersHornView__countdown,
.huntersHornView__timer--default.color-pink .huntersHornView__timerState.huntersHornView__timerState--type-countdown.huntersHornView__countdown,
.huntersHornView__timer--default.color-purple .huntersHornView__timerState.huntersHornView__timerState--type-countdown.huntersHornView__countdown,
.huntersHornView__timer--default.color-red .huntersHornView__timerState.huntersHornView__timerState--type-countdown.huntersHornView__countdown {
  mix-blend-mode: hard-light;
}

.huntersHornView__timer--legacy.color-blue .huntersHornView__timerState {
  color: #1875af;
}

.huntersHornView__timer--legacy.color-cyan .huntersHornView__timerState {
  color: #18825f;
}

.huntersHornView__timer--legacy.color-green .huntersHornView__timerState {
  color: #3b7523;
}

.huntersHornView__timer--legacy.color-pink .huntersHornView__timerState {
  color: #ae5385;
}

.huntersHornView__timer--legacy.color-purple .huntersHornView__timerState {
  color: #596eb7;
}

.huntersHornView__timer--legacy.color-red .huntersHornView__timerState {
  color: #a95354;
}

@keyframes mh-improved-shield-hue-rotate {
  0% {
    filter: hue-rotate(0deg) drop-shadow(0 0 5px #e8dbb8);
  }

  50% {
    filter: hue-rotate(360deg) drop-shadow(0 0 5px #e8dbb8);
  }

  100% {
    filter: hue-rotate(0deg) drop-shadow(0 0 5px #e8dbb8);
  }
}

.huntersHornView__timer--legacy.color-rainbow .huntersHornView__timerState {
  color: #625901;
}

.mousehunt-improved-lgs-reminder-new.color-rainbow,
.huntersHornView__timer--default.color-rainbow,
.huntersHornView__timer--legacy.color-rainbow .huntersHornView__timerState,
.mousehuntHud-shield.golden.color-rainbow,
.mousehuntHud-shield.golden.color-rainbow2 {
  animation: mh-improved-shield-hue-rotate 30s infinite;
}

@media (prefers-reduced-motion: reduce) {
  .mousehunt-improved-lgs-reminder-new.color-rainbow,
  .huntersHornView__timer--default.color-rainbow,
  .huntersHornView__timer--legacy.color-rainbow .huntersHornView__timerState,
  .mousehuntHud-shield.golden.color-rainbow,
  .mousehuntHud-shield.golden.color-rainbow2 {
    animation: none;
  }
}

.mh-improved-custom-shield-preview {
  position: absolute;
  top: 0;
  right: 225px;
  bottom: 0;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.custom-shield.custom-preview {
  position: relative;
}

.mh-improved-custom-shield-item-preview img {
  width: 110px;
  height: auto;
}

.mh-improved-custom-background-gradient-preview .custom-shield.custom-preview {
  position: relative;
  background-color: #ddd0ad;
  background-image: url(https://www.mousehuntgame.com/images/environments/6ef3ffe2f90a79250807b46105e77b68.jpg);
  background-repeat: no-repeat;
  background-position: -5px 0;
}

.mh-improved-custom-background-gradient-preview .custom-shield {
  height: 185px;
}

.mh-improved-custom-background-gradient-preview .custom-shield .name {
  margin-top: 125px;
  font-size: 20px;
}

.mh-improved-custom-background-gradient-preview .custom-shield .mousehuntHud-shield.remembrance_day,
.mh-improved-custom-background-gradient-preview .custom-shield .mousehuntHud-shield.halloween,
.mh-improved-custom-background-gradient-preview .custom-shield .mousehuntHud-shield.spring-egg-hunt,
.mh-improved-custom-background-gradient-preview .custom-shield .mousehuntHud-shield.spring-egg-hunt-alt {
  left: -5px;
}

.mh-improved-custom-shield-item-preview .mousehuntHud-shield.pride {
  left: -4px;
}

.custom-shield.custom-preview.romeno {
  background-position-x: 20px;
}

.mh-improved-custom-shield-item-preview .mousehuntHud-shield.romeno {
  left: 20px;
}
