.journal .content .attractionfailure::after,
.journal .content .catchfailure::after,
.journal .content .luckycatchsuccess::after,
.journal .content .passive::after,
.journal .content .linked::after {
  position: absolute;
  top: 10px;
  right: 12px;
  left: unset;
  z-index: 1;
  padding: 1px 3px;
  font-size: 9px;
  font-weight: 700;
  line-height: 11px;
  color: #fff;
  text-transform: uppercase;
  content: "";
  background: #53891b;
  border-radius: 3px;
  opacity: 0;
  transition: 0.2s;
}

.journal .content .catchfailure::after {
  content: "FTC";
  background: #891b1b;
}

.journal .content .linked::after {
  content: "Friend";
}

.journal .content .luckycatchsuccess::after {
  content: "Lucky";
  background-color: #4ac338;
}

.journal .content .passive::after {
  content: "Trap Check";
}

.journal .content .attractionfailure::after {
  content: "FTA";
  background: #959595;
}

.journal .content .linked.attractionfailure::after {
  content: "Friend · FTA";
}

.journal .content .linked.catchfailure::after {
  content: "Friend · FTC";
}

.journal .content .linked.luckycatchsuccess::after {
  content: "Friend · Lucky";
}

.journal .content .passive.attractionfailure::after {
  content: "Trap Check · FTA";
}

.journal .content .passive.catchfailure::after {
  content: "Trap Check · FTC";
}

.journal .content .attractionfailure:hover::after,
.journal .content .catchfailure:hover::after,
.journal .content .luckycatchsuccess:hover::after,
.journal .content .passive:hover::after,
.journal .content .linked:hover::after {
  opacity: 1;
}

.journal .content .bonuscatchsuccess::after,
.journal .content .bonuscatchfailure::after {
  opacity: 0;
  transition: opacity 0.3s;
}

.journal .content .bonuscatchsuccess:hover::after,
.journal .content .bonuscatchfailure:hover::after {
  opacity: 1;
}
