.balacksCoveHUD-tideContainer-timeLeft {
  position: absolute;
  top: 9px;
  right: 55px;
  padding: 3px 10px;
  font-size: 12.5px;
  color: #382924;
  text-shadow: 1px 1px 1px #c7e9ea;
  background-color: #8ad3d5;
  border-radius: 23% 23% 0 0;
  box-shadow: 0 -0.5px 1px 1px #d6f1f2;
}
