.mousehuntTooltipParent > .mousehuntTooltip {
  will-change: transform;
}

.mousehuntTooltipParent:hover > .mousehuntTooltip {
  animation: mh-improved-in-scale 0.35s 1 forwards cubic-bezier(0.4, 0, 1, 1) 0s;
}

.PageHunterProfile .userInteractionButtonsView-button .mousehuntTooltip,
.no-delayed-tooltips .mousehuntTooltip {
  animation: none !important;
}
