.mousehuntTooltipParent > .mousehuntTooltip {
  will-change: transform;
}

.mousehuntTooltipParent:hover > .mousehuntTooltip {
  animation: mh-improved-in-scale 0.6s 1;
}

.PageHunterProfile .userInteractionButtonsView-button .mousehuntTooltip,
.no-delayed-tooltips .mousehuntTooltip {
  animation: none !important;
}
