.mousehuntTooltipParent:hover .mousehuntTooltip {
  opacity: 1;
}

.mousehuntTooltip {
  display: block;
  opacity: 0;
  transition: opacity 0s linear 0.4s;
}

.PageHunterProfile .userInteractionButtonsView-button .mousehuntTooltip,
.no-delayed-tooltips .mousehuntTooltip {
  display: none;
  opacity: unset;
  transition: unset;
}
