.livingGardenHud .essenceContainer .item {
    padding-top: 28px;
    padding-bottom: 5px;
    font-size: 14px;
    text-shadow: 0 0 4px #5e5e5e;
}

.livingGardenHud .itemContainer .itemImage .quantity {
    right: 1px;
    bottom: 1px;
    padding: 2px 3px;
    font-size: 12px;
    font-weight: 400;
}

.livingGardenHud.desert_oasis .minigameContainer .pourEstimate {
    top: 45px;
    font-size: 12px;
}

.livingGardenHud.desert_oasis.corrupted .minigameContainer.drops .itemImage .quantity {
    padding: 1px 2px;
    font-size: 12px;
}

.livingGardenHud .itemContainer .itemImage:hover {
    opacity: .9;
}

.livingGardenHud .essenceContainer .item:hover {
    border-radius: 10px;
    box-shadow: inset 0 0 5px 2px #8cffde;
}

.livingGardenHud .essenceContainer .item:first-child:hover {
    width: 24px;
    padding-right: 2px;
    padding-left: 16px;
    margin-left: 22px;
    text-align: left;
}

