.livingGardenHud .essenceContainer .item {
  padding-top: 26px;
  padding-bottom: 5px;
  font-size: 14px;
  text-shadow: 0 0 4px #5e5e5e;
}

.livingGardenHud .itemContainer .itemImage .quantity {
  right: 1px;
  bottom: 1px;
  padding: 2px 3px;
  font-size: 12px;
  font-weight: 400;
}

.livingGardenHud.desert_oasis .minigameContainer .pourEstimate {
  top: 45px;
  font-size: 12px;
}

.livingGardenHud.desert_oasis.corrupted .minigameContainer.drops .itemImage .quantity {
  padding: 1px 2px;
  font-size: 12px;
}

.livingGardenHud .itemContainer .itemImage:hover {
  opacity: 0.9;
}

.livingGardenHud .essenceContainer .item:hover {
  border-radius: 7px;
  box-shadow: inset 0 0 5px 2px #8cffde;
}

.livingGardenHud .essenceContainer .item.essence_a_crafting_item {
  display: inline;
  padding-left: 0;
  margin-left: 23px;
  text-align: center;
}

.itemImage.dewthief_petal_crafting_item::before,
.itemImage.dreamfluff_herbs_crafting_item::before,
.itemImage.duskshade_petal_crafting_item::before {
  position: absolute;
  top: -26px;
  left: -2px;
  z-index: 1;
  padding: 4px;
  font-size: 12px;
  font-weight: 900;
  text-align: center;
  text-shadow: 1px 1px 0 #2e1800;
  content: "Garden";
  background-color: #412200;
}

.itemImage.dewthief_petal_crafting_item::before {
  right: -2px;
  left: -9px;
  padding-left: 6px;
  color: #2f9d31;
  border-top-left-radius: 10px;
}

.livingGardenHud.desert_oasis .itemImage.dewthief_petal_crafting_item::before {
  color: #7fd981;
}

.itemImage.dreamfluff_herbs_crafting_item::before {
  right: -2px;
  left: -3px;
  color: #079dbb;
  content: "City";
}

.livingGardenHud.lost_city .itemImage.dreamfluff_herbs_crafting_item::before {
  color: #91e9fb;
}

.itemImage.duskshade_petal_crafting_item::before {
  right: -8px;
  left: -3px;
  padding-left: 2px;
  color: #d48321;
  content: "Desert";
  border-top-right-radius: 10px;
}

.livingGardenHud.sand_dunes .itemImage.duskshade_petal_crafting_item::before {
  color: #f4daba;
}

.livingGardenHud .itemContainer .itemImage,
.livingGardenHud .itemContainer .itemImage:hover img,
.livingGardenHud .itemContainer .itemImage:hover .quantity,
.livingGardenHud .itemContainer .itemImage.faded:hover img,
.livingGardenHud .itemContainer .itemImage.faded:hover .quantity {
  overflow: visible;
  opacity: 1;
}

.livingGardenHud .itemContainer .itemImage.faded img,
.livingGardenHud .itemContainer .itemImage.faded .quantity {
  opacity: 0.4;
}

.travelHudLg > div {
  display: none;
}

.livingGardenHud.corrupted .minigameContainer .curseContainer .curse.active::after {
  position: absolute;
  right: 13px;
  bottom: 0;
  left: 15px;
  padding: 2px;
  font-size: 11px;
  font-weight: 900;
  text-align: center;
  content: "cursed!";
  background-color: #050605;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.livingGardenHud.corrupted .minigameContainer .curseContainer .curse.mist.active::after {
  color: #086c6a;
  content: "Clarity";
  background-color: #8bf7f5;
  box-shadow:
    -3px 0 5px 1px #8bf7f5,
    3px 0 5px -1px #8bf7f5;
}

.livingGardenHud.corrupted .minigameContainer .curseContainer .curse.darkness.active::after {
  color: #68a856;
  text-shadow: 0 0 3px #63765f;
  content: "Shine";
  background-color: #050605;
  box-shadow:
    -7px 4px 5px -1px #649e53,
    7px 2px 5px -1px #649e53;
}

.livingGardenHud.corrupted .minigameContainer .curseContainer .curse.fear.active::after {
  text-shadow: 0 0 1px #fee236;
  content: "Bravery";
  background-color: #f09036;
  box-shadow:
    -7px 2px 5px -1px #da7b34,
    5px 2px 5px -1px #da7b34;
}

.livingGardenHud.lost_city.corrupted .curse.active .curseActive {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.livingGardenHud .minigameContainer .curseContainer .curse.active .help {
  inset: 20px;
  right: 18px;
  display: block;
  width: unset;
  height: unset;
  padding: 5px;
  visibility: hidden;
  background-color: transparent;
}

.livingGardenHud .minigameContainer .curseContainer .curse.active .help img {
  inset: 5px 0 0 6px;
  width: 45px;
  height: 45px;
  filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 2px #fff) drop-shadow(0 0 3px #fff) drop-shadow(0 0 4px #fff) drop-shadow(0 0 5px #fff);
}

.livingGardenHud .minigameContainer .curseContainer .curse.active:hover .help {
  visibility: visible;
}

.livingGardenHud .minigameContainer .curseContainer .curse.active .help b {
  position: absolute;
  top: -22px;
  right: -5px;
  left: -5px;
  padding-top: 2px;
  font-size: 12px;
  visibility: visible;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.livingGardenHud .minigameContainer .curseContainer .curse.mist.active .help b {
  color: #086c6a;
  content: "Clarity";
  background-color: #8bf7f5;
  box-shadow:
    -3px 0 5px 1px #8bf7f5,
    3px 0 5px -1px #8bf7f5;
}

.livingGardenHud .minigameContainer .curseContainer .curse.darkness.active .help b {
  color: #68a856;
  text-shadow: 0 0 3px #63765f;
  content: "Shine";
  background-color: #050605;
  box-shadow:
    -5px -3px 5px -2px #649e53,
    6px -2px 5px -2px #649e53;
}

.livingGardenHud .minigameContainer .curseContainer .curse.fear.active .help b {
  text-shadow: 0 0 1px #fee236;
  content: "Bravery";
  background-color: #f09036;
  box-shadow:
    -7px 2px 5px -1px #da7b34,
    5px 2px 5px -1px #da7b34;
}

.livingGardenHud .minigameContainer .curseContainer .curse.active {
  cursor: pointer;
}

.livingGardenHud .minigameContainer .curseContainer .curse.active .help span {
  display: none;
}

.livingGardenHud.lost_city.corrupted .curse {
  display: block !important;
  visibility: hidden;
}

.livingGardenHud.lost_city.corrupted .curse .corruptedispelled {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  visibility: visible;
  background-color: #f6ffd4;
  box-shadow: inset 0 0 5px #000;
}

.livingGardenHud.lost_city.corrupted .curse.active {
  visibility: visible;
}

.livingGardenHud.lost_city.corrupted .curse .corruptedispelled b {
  font-size: 11px;
  text-decoration: line-through;
}

.livingGardenHud.lost_city.corrupted .curse .corruptedispelled br {
  display: none;
}

.livingGardenHud .minigameContainer {
  z-index: 1;
}

.livingGardenHud {
  margin-top: 25px;
  margin-bottom: 20px;
}

.livingGardenHud .spongeDoubleYellow {
  width: 55px;
}

.livingGardenHud .essenceContainer a.livingGardenRecipes:hover {
  background-image: url(https://i.mouse.rip/living-garden/recipe_rollover-new.png);
}

.livingGardenHud.desert_oasis.normal {
  background-image: url(https://i.mouse.rip/living-garden/living_garden_bg.png);
}

.livingGardenHud.desert_oasis.corrupted {
  background-image: url(https://i.mouse.rip/living-garden/twisted_garden_bg.png);
}

.livingGardenHud.lost_city.normal {
  background-image: url(https://i.mouse.rip/living-garden/lost_city_bg.png);
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 15px;
}

.livingGardenHud.lost_city.corrupted {
  background-image: url(https://i.mouse.rip/living-garden/cursed_city_bg.png);
}

.livingGardenHud.sand_dunes.normal {
  background-image: url(https://i.mouse.rip/living-garden/grubling_bg.png);
}

.livingGardenHud.sand_dunes.corrupted {
  background-image: url(https://i.mouse.rip/living-garden/king_grub_bg.png);
}

.livingGardenHud .minigameContainer .minigameHelp {
  font-size: 11px;
  line-height: 1.5;
}

.livingGardenHud.lost_city.corrupted .minigameContainer.blessed {
  visibility: visible;
}

.livingGardenHud.desert_oasis.normal .minigameContainer.drops .itemImage img {
  background-color: rgb(95 175 175 / 50%);
}
