.mousehunt-improved-error {
  position: fixed;
  bottom: 50px;
  left: 5%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 375px;
  padding: 10px 20px;
  background-color: #febebe;
  border: 1px solid #4e2727;
  border-radius: 6px;
  box-shadow: 0 0 10px 1px #bc7b7b;
}

.mousehunt-improved-error h1 {
  margin: 0 0 0.75em;
  font-size: 1.3em;
  font-weight: 900;
  color: #9f2323;
}

.mousehunt-improved-error p {
  margin: 0.5em 0;
  font-size: 1em;
  line-height: 1.5;
}

.mousehunt-improved-error pre {
  margin: 0 0.5em;
  color: #8b0101;
}

.mousehunt-improved-error pre::before {
  content: "> ";
}

.mousehunt-improved-error-close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  background-color: #9f2223;
  border: 1px solid #4e2727;
  border-radius: 1px;
}

.mousehunt-improved-error-close:hover,
.mousehunt-improved-error-close:focus {
  background-color: #c22;
}
