/* full width search bar */
.campPage-trap-itemBrowser-filter input[data-filter="search"] {
  width: 315px;
  padding: 10px;
}

.campPage-trap-itemBrowser-filter:first-child {
  flex: 0 0 100%;
  margin-bottom: 5px;
}

.campPage-trap-itemBrowser-filterContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.campPage-trap-itemBrowser-favorites {
  margin-top: 10px;
}

.campPage-trap-itemBrowser .campPage-trap-itemBrowser-filter select {
  width: 100px;
}

.campPage-trap-itemBrowser.weapon .campPage-trap-itemBrowser-filter select {
  width: 75px;
}

/* filters */
.campPage-trap-itemBrowser-quickLinks {
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  padding: 5px 10px;
  background-color: #f6f3eb;
}

.mh-dark-mode .pageFrameView .campPage-trap-itemBrowser-favorites,
.mh-dark-mode .campPage-trap-itemBrowser-quickLinks {
  background-color: #424242;
}

.campPage-trap-itemBrowser-quickLinks-power {
  padding: 10px 15px;
}

.campPage-trap-itemBrowser-quickLinks-header {
  position: absolute;
  left: 0;
  padding: 5px;
  margin-top: 10px;
  color: #96704b;
  text-align: center;
  transform: rotate(-90deg);
}

.campPage-trap-itemBrowser-quickLinks-header.filter-header {
  left: -2px;
  margin-top: 5px;
}

.campPage-trap-itemBrowser-quickLinks .campPage-trap-itemBrowser-favorite-item-image {
  width: 40px;
  height: 40px;
  background-position: center;
}

.campPage-trap-itemBrowser-quickLinks .campPage-trap-itemBrowser-favorite-item-image-frame {
  width: 40px;
  height: 40px;
}

.campPage-trap-itemBrowser-quickLinks-power .campPage-trap-itemBrowser-favorite-item-image {
  width: 31px;
  height: 30px;
  background-position: 50%;
  background-size: 25px;
}

.campPage-trap-itemBrowser-quickLinks-power .campPage-trap-itemBrowser-favorite-item-image-frame {
  width: 31px;
  height: 30px;
}

.campPage-trap-itemBrowser-quickLinks .campPage-trap-itemBrowser-favorite-item-image:hover,
.campPage-trap-itemBrowser-quickLinks .campPage-trap-itemBrowser-favorite-item-image:focus {
  background-color: #cac0b2;
}

.campPage-trap-itemBrowser-quickLinks .campPage-trap-itemBrowser-favorite-item-image:hover .campPage-trap-itemBrowser-favorite-item-image-frame,
.campPage-trap-itemBrowser-quickLinks .campPage-trap-itemBrowser-favorite-item-image:focus .campPage-trap-itemBrowser-favorite-item-image-frame {
  box-shadow: none;
}

.campPage-trap-itemBrowser-quickLinks .campPage-trap-itemBrowser-favorite-item {
  width: auto;
}

.campPage-trap-itemBrowser-quickLinks-power .campPage-trap-itemBrowser-favorite-item {
  margin: 0 2px;
}

.campPage-trap-itemBrowser-quickLinks-power .campPage-trap-itemBrowser-favorite-item:first-child {
  margin-left: 0;
}

.campPage-trap-itemBrowser-quickLinks-power .campPage-trap-itemBrowser-favorite-item:last-child {
  margin-right: 0;
}

.quicklinks-filter-sortBy-name .campPage-trap-itemBrowser-favorite-item-image {
  background-position: center;
  background-size: 30px;
}

.weapon .campPage-trap-itemBrowser-items {
  top: 250px;
}

.campPage-trap-itemBrowser-items {
  top: 200px;
}

.campPage-wrapper[data-blueprint-type="weapon"] .campPage-trap-itemBrowser-itemDescriptionHover.mousehuntTooltip.tight.left.noEvents,
.campPage-wrapper[data-blueprint-type="base"] .campPage-trap-itemBrowser-itemDescriptionHover.mousehuntTooltip.tight.left.noEvents {
  margin-top: 170px;
}

.campPage-trap-itemBrowser-itemDescriptionHover.mousehuntTooltip.tight.left.noEvents {
  margin-top: 125px;
}

.mh-dark-mode .quicklinks-filter-sortBy-name a,
.mh-dark-mode .quicklinks-filter-sortBy-quantity a {
  background-color: #f2f2f2;
}

.trapSelectorView__browserStateParent--items[data-blueprint-type="skin"] .campPage-trap-itemBrowser-quickLinks {
  display: none;
}

.campPage-trap-itemBrowser-favorite-item.quicklinks-filter.quicklinks-filter-sortBy-name a {
  background-position: 5px 4px;
}
