.mh-catch-stats.mh-catch-stats-crown-none {
  background-color: #e0e0e0;
}

.mh-dark .mh-catch-stats.mh-catch-stats-crown-none {
  background-color: var(--d-bg);
}

.mh-catch-stats.mh-catch-stats-crown-none:nth-child(odd) {
  background-color: #d0d0d0;
}

.mh-dark .mh-catch-stats.mh-catch-stats-crown-none:nth-child(odd) {
  background-color: var(--d-bg-alt);
}

.mh-catch-stats.mh-catch-stats-crown-bronze {
  background-color: #f7c8a6;
}

.mh-catch-stats.mh-catch-stats-crown-bronze:nth-child(odd) {
  background-color: #f4b385;
}

.mh-catch-stats.mh-catch-stats-crown-silver {
  background-color: #bcc7d2;
}

.mh-catch-stats.mh-catch-stats-crown-silver:nth-child(odd) {
  background-color: #acbac8;
}

.mh-catch-stats.mh-catch-stats-crown-gold {
  background-color: #ebdda2;
}

.mh-catch-stats.mh-catch-stats-crown-gold:nth-child(odd) {
  background-color: #f0e5b8;
}

.mh-catch-stats.mh-catch-stats-crown-platinum {
  background-color: #d7f0f0;
}

.mh-catch-stats.mh-catch-stats-crown-platinum:nth-child(odd) {
  background-color: #c1e8e8;
}

.mh-catch-stats.mh-catch-stats-crown-diamond {
  background-color: #f0d7f0;
}

.mh-catch-stats.mh-catch-stats-crown-diamond:nth-child(odd) {
  background-color: #e8bfe8;
}

.mh-dark .mh-catch-stats.mh-catch-stats-crown-bronze,
.mh-dark .mh-catch-stats.mh-catch-stats-crown-silver,
.mh-dark .mh-catch-stats.mh-catch-stats-crown-gold,
.mh-dark .mh-catch-stats.mh-catch-stats-crown-platinum,
.mh-dark .mh-catch-stats.mh-catch-stats-crown-diamond {
  color: var(--d-text);
}

.mh-dark .mh-catch-stats.mh-catch-stats-crown-bronze {
  background-color: #5f4537;
}

.mh-dark .mh-catch-stats.mh-catch-stats-crown-bronze:nth-child(odd) {
  background-color: #6b4d3d;
}

.mh-dark .mh-catch-stats.mh-catch-stats-crown-silver {
  background-color: #464d58;
}

.mh-dark .mh-catch-stats.mh-catch-stats-crown-silver:nth-child(odd) {
  background-color: #505865;
}

.mh-dark .mh-catch-stats.mh-catch-stats-crown-gold {
  background-color: #5a5134;
}

.mh-dark .mh-catch-stats.mh-catch-stats-crown-gold:nth-child(odd) {
  background-color: #665c3a;
}

.mh-dark .mh-catch-stats.mh-catch-stats-crown-platinum {
  background-color: #3d5557;
}

.mh-dark .mh-catch-stats.mh-catch-stats-crown-platinum:nth-child(odd) {
  background-color: #466163;
}

.mh-dark .mh-catch-stats.mh-catch-stats-crown-diamond {
  background-color: #563f56;
}

.mh-dark .mh-catch-stats.mh-catch-stats-crown-diamond:nth-child(odd) {
  background-color: #624862;
}

.mh-dark .mh-catch-stats.mh-catch-stats-crown-bronze:hover,
.mh-dark .mh-catch-stats.mh-catch-stats-crown-bronze:nth-child(odd):hover,
.mh-dark .mh-catch-stats.mh-catch-stats-crown-silver:hover,
.mh-dark .mh-catch-stats.mh-catch-stats-crown-silver:nth-child(odd):hover,
.mh-dark .mh-catch-stats.mh-catch-stats-crown-gold:hover,
.mh-dark .mh-catch-stats.mh-catch-stats-crown-gold:nth-child(odd):hover,
.mh-dark .mh-catch-stats.mh-catch-stats-crown-platinum:hover,
.mh-dark .mh-catch-stats.mh-catch-stats-crown-platinum:nth-child(odd):hover,
.mh-dark .mh-catch-stats.mh-catch-stats-crown-diamond:hover,
.mh-dark .mh-catch-stats.mh-catch-stats-crown-diamond:nth-child(odd):hover,
.mh-dark .mh-catch-stats.mh-catch-stats-crown-bronze:focus,
.mh-dark .mh-catch-stats.mh-catch-stats-crown-bronze:nth-child(odd):focus,
.mh-dark .mh-catch-stats.mh-catch-stats-crown-silver:focus,
.mh-dark .mh-catch-stats.mh-catch-stats-crown-silver:nth-child(odd):focus,
.mh-dark .mh-catch-stats.mh-catch-stats-crown-gold:focus,
.mh-dark .mh-catch-stats.mh-catch-stats-crown-gold:nth-child(odd):focus,
.mh-dark .mh-catch-stats.mh-catch-stats-crown-platinum:focus,
.mh-dark .mh-catch-stats.mh-catch-stats-crown-platinum:nth-child(odd):focus,
.mh-dark .mh-catch-stats.mh-catch-stats-crown-diamond:focus,
.mh-dark .mh-catch-stats.mh-catch-stats-crown-diamond:nth-child(odd):focus {
  background-color: var(--d-action);
}
