div#select2-drop.marketplaceView-header-search-dropdown .select2-result-label {
  white-space: nowrap;
}

div#select2-drop.marketplaceView-header-search-dropdown .select2-result-sub .select2-result-label {
  display: grid;
  grid-template-columns: 25px 4fr 1fr;
  align-items: center;
  justify-items: start;
  padding-left: 10px;
}

.marketplaceView-item-quickListings .marketplaceView-table-listing-quantity:hover,
.marketplaceView-item-quickListings .marketplaceView-table-listing-quantity:focus {
  text-decoration: underline;
}

a.marketplaceView-goldValue.marketplaceView-quantityNotGold::after {
  display: none;
  background-image: none;
}

label.mhui-marketplace-search-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  color: #fff;
  border-radius: 10px;
}

.marketplaceView-header-searchContainer {
  top: 5px;
  height: 70px;
}

.marketplaceView-header-search-title {
  margin-bottom: 2px;
}

.marketplaceView-item-leftBlock {
  margin-top: 20px;
}
