div#select2-drop.marketplaceView-header-search-dropdown {
  top: 105px !important;
  left: 583px !important;
  width: 260px !important;
  padding-top: 5px !important;
  border-top-left-radius: 2px;
  box-shadow: inset -198px 0 0 #fff, inset 0 1px 0 #5897fb;
}

.no-sidebar div#select2-drop.marketplaceView-header-search-dropdown {
  left: 501px !important;
  box-shadow: inset -182px 0 0 #fff, inset 0 1px 0 #5897fb;
}

div#select2-drop.marketplaceView-header-search-dropdown .select2-result-label {
  white-space: nowrap;
}

div#select2-drop.marketplaceView-header-search-dropdown .select2-result-sub .select2-result-label {
  display: grid;
  grid-template-columns: 25px 4fr 1fr;
  align-items: center;
  justify-items: start;
  padding-left: 10px;
}

.marketplaceView-item-quickListings .marketplaceView-table-listing-quantity:hover,
.marketplaceView-item-quickListings .marketplaceView-table-listing-quantity:focus {
  text-decoration: underline;
}

a.marketplaceView-goldValue.marketplaceView-quantityNotGold::after {
  display: none;
  background-image: none;
}
