.inventoryPage-item.full.recipe.known.reordered {
  max-height: 38px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

.mh-dark .inventoryPage-item.full.recipe.known.reordered {
  border-color: var(--d-border);
}

.inventoryPage-item.full.recipe.known.reordered:hover {
  max-height: 500px;
}

.mousehuntHud-page-tabContent.crafting .mousehuntHud-page-subTabContent {
  position: relative;
}

.mousehuntHud-page-tabContent.crafting .mousehuntHud-page-subTabContent-prefix-title {
  display: none;
}

.mousehuntHud-page-tabContent.crafting .mousehuntHud-page-subTabContent-prefix.clear-block {
  position: absolute;
  right: 10px;
}

.mousehuntHud-page-tabContent.crafting .mousehuntHud-page-subTabHeader-container {
  margin-bottom: 20px;
}
