.mh-dark-mode .pageFrameView #mousehuntContainer.PageCamp .adventureBookBanner-goalPadding {
  background-color: transparent;
}

.mh-dark-mode .pageFrameView #mousehuntContainer.PageCamp .adventureBookBanner-adventureName {
  color: #000;
}

.mh-dark-mode .mousehuntActionButton {
  box-shadow: 1px 1px 1px #535151;
}

.mh-dark-mode .journal .relicHunter_complete,
.mh-dark-mode .journal .relicHunter_start,
.mh-dark-mode .journal .content .catchsuccessloot {
  color: #fff !important;
  background-color: #2e2e2e;
}

.mh-dark-mode .journal a {
  color: #009adf;
}

.entry.short.supplytransferitem {
  background: url(https://i.mouse.rip/upscaled/item-add.png) no-repeat 10px center;
  background-color: var(--mhdm-dark7);
}

.entry.short.supplytransferitem a {
  color: #0c5271;
}

.mh-dark-mode .itemPurchaseView-action-goldGost {
  background-color: #0e0e0e;
  border-color: #242424;
}

.mh-dark-mode .itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-container {
  color: #fff;
  background-color: #242424;
}

.mh-dark-mode .inventoryPage-item-recipeOptions li {
  color: #2c2c2c;
}

.mh-dark-mode .treasureMapView-environment.active .treasureMapView-environment-title {
  background-color: #38727b;
}

.mh-dark-mode #overlayPopup.treasureMapPopup .treasureMapView-environment.active .treasureMapView-environment-title a,
.mh-dark-mode #overlayPopup.treasureMapPopup .treasureMapView-environment.wrong .treasureMapView-environment-title a,
.mh-dark-mode .treasureMapView-environment-progress {
  color: #fff;
}

.mh-dark-mode .treasureMapView-environment.wrong .treasureMapView-environment-title {
  background-color: #862f2f;
}

.mh-dark-mode .pageFrameView #overlayPopup.treasureMapPopup .treasureMapRootView-content a.messageBoardView-message-delete {
  color: transparent;
}

.mh-dark-mode .itemPurchaseView-image-container,
.mh-dark-mode .itemPurchaseView-content-container {
  background-color: #000;
}

.mh-dark-mode .itemPurchaseView-action-purchaseHelper-owned {
  background-color: #3d3d3d;
  border-color: #606060;
}

.mh-dark-mode .entry.short.misc.custom.unstable_charm_trigger {
  background: #7ae4ff;
}

.mh-dark-mode .journal .entry.winterTaiga,
.mh-dark-mode .entry.short.misc.custom.winter_hunt_2021.instantReturnGolem.jhMisc,
.mh-dark-mode .entry.short.misc.custom.winter_hunt_2021.claimGolemReward.jhMisc,
.mh-dark-mode .winter_hunt_2021.sendGolem {
  background-color: #7ae4ff;
}

/* journal historian */
.mh-dark-mode #jhButton {
  color: #3b5998;
}

.mh-dark-mode .pageFrameView #overlayPopup.treasureMapPopup .treasureMapRootView-content a.treasureMapView-block-search-clear {
  color: #ccc;
  border-left: none;
}

.mh-dark-mode .treasureMapView-block-search-text {
  color: #fff;
  background-color: #636363;
  border: 1px solid #2c2c2c;
}

.mh-dark-mode #tsitu-hunter-id-nav-ui input {
  color: #fff;
  background-color: #636363;
  border-color: #2c2c2c !important;
}

.mh-dark-mode #tsitu-hunter-id-nav-ui input::placeholder {
  color: #ccc;
}

.mh-dark-mode .marketplaceView-listing-progressLabel {
  color: #fff;
  text-shadow: 0 1px #000;
}

.mh-dark-mode .marketplaceView-listing-progressBar-padding {
  background-color: #434343;
}

.marketplaceView-listing-progressBar span {
  background-color: #956ab4;
}

.mh-dark-mode .marketplaceMyListings s {
  color: #969696;
}

.mh-dark-mode .pageFrameView .itemViewStatBlock .itemViewStatBlock-stat-label {
  background-color: transparent;
}

.mh-dark-mode.shopCustomization .itemViewStatBlock-stat {
  border-color: #404040;
}
