/* LGS reminder script */
span.shieldDurationText,
span.shieldDurationText[data-near-expiry="true"] {
  bottom: -2px;
  z-index: 1;
  font-size: 15px;
  font-weight: 900;
  text-shadow:
    0 0 1px #000,
    0 0 2px #000,
    0 0 3px #000;
}

span.shieldDurationText[data-near-expiry="true"] {
  color: #f12e2e;
}
