.mouseCrownsView-group.favourite .mouseCrownsView-group-header .mouseCrownsView-crown,
.mouseCrownsView-group.favourite .mouseCrownsView-group-header-name {
  display: inline-block;
}

.mouseCrownsView-group-mouse-favouriteButton {
  top: 2px;
  left: 2px;
}

.mouseCrownsView .pt.event {
  border-radius: 50%;
}

.mouseCrownsView #copyCrownsButton {
  width: 16px !important;
  height: 16px !important;
  background-color: transparent !important;
  border: none !important;
}

.mouseCrownsView .pt {
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 2px;
  border-radius: 50%;
}

.mouseCrownsView button.ptbtn {
  font-size: 14px !important;
  background-color: #9fcad8 !important;
  border: 1px solid #008cba;
}

.mouseCrownsView button.ptbtn img {
  width: 20px !important;
  height: 20px !important;
}

.mouseCrownsView #powerTypeBtns {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.mouseCrownsView .toolBar {
  position: absolute;
  top: -1px;
  right: 9px;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: flex-end;
  float: none !important;
  padding: 1px;
  background-color: #ececec;
  border: 1px solid #a7a7a7;
  border-radius: 0 5px;
  opacity: 0.5;
}

.mouseCrownsView .toolBar:hover {
  opacity: 1;
}

.powerCrown .mouseCrownsView-group-header-name,
.mouseCrownsView-crown.powerCrown {
  display: none !important;
}

.mouseCrownsView-group-header.powerCrown {
  padding: 0;
  margin: 0;
  background-color: transparent !important;
}

button.ptbtn img {
  left: unset !important;
  width: auto !important;
  height: 50px !important;
}

.mouseCrownsView button.ptbtn > div {
  top: unset !important;
  right: unset !important;
  bottom: unset !important;
  left: unset !important;
  width: unset !important;
}

button.ptbtn {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  place-content: center flex-start;
  place-items: center center;
  width: 100% !important;
  max-width: 180px;
  height: unset !important;
  background-color: #00b0eb !important;
  border-width: 1px;
}

#powerTypeBtns {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  padding: 6px;
  margin: 0;
  background-color: transparent;
}

.mouseCrownsView-crown.community {
  padding-right: 5px;
}

.mouseCrownsView-group-header.community {
  margin: 10px;
}

.rank.summary {
  line-height: 1.5;
}

img.pt.undefined {
  display: none;
}

a.mouseListView-categoryContent-subgroup-mouse-thumb {
  position: relative;
  border: none !important;
  border-radius: 0 !important;
}

.mouseCrownsView-group-mouse.landscape .mouseCrownsView-group-mouse-image {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.mouseCrownsView-group-mice.favourites img.pt {
  display: none;
}

.hideLeContainer {
  position: absolute;
  top: -9px;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  opacity: 0.5;
}

.hideLeContainer:hover {
  opacity: 1;
}

.hideLeContainer #hideLeCb {
  width: auto !important;
}

.hideLeContainer label {
  font-size: 10px !important;
  line-height: 18px;
  text-align: right;
  vertical-align: middle;
}

.mouseCrownsView-group-mouse-image {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
