.mouseCrownsView-group.favourite .mouseCrownsView-group-header .mouseCrownsView-crown,
.mouseCrownsView-group.favourite .mouseCrownsView-group-header-name {
  display: inline-block;
}

.mouseCrownsView-group-header-subtitle {
  margin-left: 0;
}

.mouseCrownsView-group-mouse-favouriteButton {
  top: 2px;
  left: 2px;
}

.mouseCrownsView .pt.event {
  border-radius: 50%;
}

.mouseCrownsView #copyCrownsButton {
  width: 16px !important;
  height: 16px !important;
  border: none !important;
  background-color: transparent !important;
}

.mouseCrownsView .pt {
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 2px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.mouseCrownsView button.ptbtn {
  font-size: 13px !important;
  background-color: #9fcad8 !important;
  border: 1px solid #008cba;
}

.mouseCrownsView button.ptbtn img {
  width: 20px !important;
  height: 20px !important;
}

.mouseCrownsView #powerTypeBtns {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.mouseCrownsView .toolBar {
  position: absolute;
  top: -1px;
  right: 9px;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: flex-end;
  float: none !important;
  padding: 1px;
  background-color: #d1d1d1;
  border: 1px solid #a7a7a7;
  border-radius: 0 5px;
}

.powerCrown .mouseCrownsView-group-header-name,
.mouseCrownsView-crown.powerCrown {
  display: none !important;
}

.mouseCrownsView-group-header.powerCrown {
  padding: 0;
  margin: 0;
  background-color: transparent !important;
}

button.ptbtn img {
  width: auto !important;
  height: 50px !important;
}

button.ptbtn {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  width: 100% !important;
  justify-content: flex-start;
  align-content: center;
  border-width: 1px;
  max-width: 244px;
  justify-items: center;
  background-color: #00b0eb !important;
}

#powerTypeBtns {
  display: flex;
  flex-wrap: wrap;
  padding: 6px;
  margin: 0;
  justify-content: center;
  background-color: transparent;
  gap: 5px;
}

.mouseCrownsView-crown.community {
  padding-right: 5px;
}

.mouseCrownsView-group-header.community {
  margin: 10px;
}

.rank.summary {
  line-height: 1.5;
}
