/* tsitu location catch stats */
#tsitu-location-stats {
  width: 300px !important;
  padding: 0 !important;
  background: #f6f3eb !important;
  border: 1px solid #534022 !important;
  border-radius: 0 !important;
  box-shadow:
    1px 1px 1px #9d917f,
    1px 3px 5px #6a6969 !important;
}

#tsitu-location-stats span[style="font-weight: bold; font-size: 18px; text-decoration: underline; padding-left: 20px;"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px !important;
  font-size: 1.5em !important;
  font-weight: 400 !important;
  color: #f6f3eb;
  text-decoration: none !important;
  cursor: grab;
  background-color: #926944;
  border-bottom: 1px solid #ceb7a6;
}

#tsitu-location-stats button[style="float: right; font-size: 8px;"] {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  font-size: 16px !important;
  color: #fff;
  background-color: transparent;
  border: none;
}

#tsitu-location-stats button[style="float: right; font-size: 8px;"]:hover {
  color: #926944;
  background-color: #eee;
  border-radius: 50%;
  outline: 1px solid #ccc;
}

#tsitu-location-stats > div br {
  display: none;
}

#tsitu-location-stats > div span > button,
.tsitu-current-detail > span > button,
#tsitu-location-stats > button {
  padding: 2px 15px;
  margin: 10px 0;
  line-height: 1.5;
  color: #000;
  text-shadow: 0 0 1px #fff;
  background-color: #fff600;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow:
    0 -5px 8px -2px #ffae00 inset,
    1px 1px 1px #eee;
}

#tsitu-location-stats > div span > button {
  display: inline;
  padding: 3px 5px;
  margin: 0.25em 0.75em;
  line-height: 1;
}

.tsitu-current-detail > span > button {
  display: block;
  margin: 0.25em auto;
}

#tsitu-hideCaught-box {
  margin: 0 3px;
  vertical-align: bottom;
}

#tsitu-location-stats > span {
  padding: 0.125em;
  font-size: 0.9em;
}

#tsitu-location-stats details {
  position: relative;
  padding: 0.5em;
}

#tsitu-location-stats details details:nth-child(even) {
  background-color: #e8e3d7;
}

#tsitu-location-stats details[style="font-size: 16px;"] {
  margin: 0.25em 0;
  border-top: 1px solid #926944;
}

#tsitu-complete-box,
#tsitu-incomplete-box {
  position: absolute;
  top: 0;
  right: 0;
}

.tsitu-complete-box-label,
.tsitu-incomplete-box-label {
  position: absolute;
  top: 3px;
  right: 20px;
  font-size: 10px !important;
  color: #7b6b47;
  text-align: right;
}

#tsitu-location-stats details[style="font-size: 16px;"] > summary {
  margin: 0.5em 0;
}

.tsitu-current-detail > span {
  line-height: 1.5;
}

#tsitu-location-stats span[style="font-style: italic; font-size: 12px;"] {
  display: block;
  margin-left: 1.5em;
  font-size: 10px !important;
  line-height: 2;
  color: #7b6b47;
}

.tsitu-current-detail > br:first-of-type,
.tsitu-current-detail > span br:nth-of-type(1),
.tsitu-current-detail > span br:nth-of-type(2),
.tsitu-current-detail > span br:nth-last-of-type(1),
.tsitu-current-detail > span br:nth-last-of-type(2) {
  display: none;
}
