.superBrieFactoryHUD-vendingMachine-quantity.quantity,
.superBrieFactoryHUD-item-quantity.quantity {
  font-size: 12px;
  line-height: 14px;
}

.superBrieFactoryHUD-itemContainer.boss_ticket .superBrieFactoryHUD-item-quantity.quantity {
  padding: 1px;
  margin-right: -2px;
  font-size: 12px;
  line-height: 12px;
  background-color: #f6f3eb;
  border: 1px solid #aeb1b0;
  border-radius: 2px;
}

.superBrieFactoryHUD-pipeProgress {
  font-size: 10px;
}
