.campPage-trap-baitLabel {
  display: none;
}

.campPage-trap-armedItem.bait {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.campPage-trap-baitDetails {
  color: transparent;
  text-shadow: none;
}

.campPage-trap-baitName,
.campPage-trap-baitQuantity {
  color: #926944;
  text-shadow: 0 0 1px #ae9b6d, 1px 1px #fff;
}

.campPage-trap-baitQuantity {
  background-color: hsla(0,0%,100%,.7);
  border: 1px solid #9d917f;
  border-bottom-right-radius: 3px;
  bottom: 0px;
  font-size: 12px;
  line-height: 11px;
  padding: 5px;
  position: absolute;
  right: 0px;
  text-align: right;
  box-sizing: border-box;
  box-shadow: -1px -1px 1px #d3cecb inset;
  border-bottom: none;
  border-right: none;
}

.campPage-trap-armedItem .quantity span {
  background-color: hsla(0,0%,100%,.8);
  border: 1px solid #9d917f;
  bottom: 4px;
  font-size: 12px;
  padding: 3px;
  position: absolute;
  right: -5px;
  text-align: right;
  border-radius: 0;
  box-shadow: -1px -1px 1px #d3cecb inset;
  border-bottom: none;
  border-right: none;
}

.campPage-trap-armedItem {
  border-radius: 0;
}
