/* Free up space for dashboard */
.mousehuntHeaderView-gameTabs .menuItem.chat,
.mousehuntHeaderView-gameTabs .community {
  display: none;
}

.mousehuntHeaderView .menuItem.dropdown.dashboard {
  cursor: initial;
}

.mousehuntHeaderView .dashboard .dropdownContent {
  width: 420px;
}

.dashboardWrapper {
  max-height: 60vh;
  padding: 5px;
  overflow: hidden auto;
  border: 1px solid #d7e2f1;
  box-shadow: 0 5px 10px #8f8f8f;
}

.dashboardRefresh {
  display: block;
  margin: 10px auto;
}

.regionWrapper {
  margin-bottom: 5px;
  border: 1px solid #c6c6c6;
}

.regionName {
  padding: 3px 0 2px 5px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 900;
  background-color: #f4f7fc;
  border-bottom: 1px solid #c6c6c6;
}

.regionName:first-child {
  margin-top: 0;
}

.locationWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 26px;
  padding: 9px 5px;
  background-color: #fff;
}

.locationWrapper.locationWrapper-rift_valour {
  height: 35px;
}

.locationWrapper:nth-child(even) {
  background-color: #eee;
}

.locationImageWrapper {
  display: inline-flex;
  flex: 0;
}

img.locationImage {
  width: 28px;
  height: 28px;
  border-radius: 3px;
  outline: 1px solid #838282;
}

.locationName {
  position: relative;
  flex-grow: 1;
  min-width: 105px;
  padding-left: 10px;
  font-size: 12px;
}

.locationProgress p {
  margin: 0;
  line-height: 1;
  text-align: right;
}

.locationProgress {
  font-size: 11px;
  line-height: 17px;
  text-align: right;
  white-space: pre-line;
}

.locationProgress .stats {
  text-align: right;
}

.noLocationData {
  font-size: 12px;
  text-align: center;
}

.dashboard-fi-tiles span {
  display: inline-block;
  width: 18px;
  height: 24px;
  color: transparent;
  background-image: url(https://www.mousehuntgame.com/images/ui/hud/floating_islands/mods.png?v=1&asset_cache_version=2);
  background-position-x: 354px;
  background-size: 354px;
}

.dashboard-fi-tiles .glass,
.dashboard-fi-tiles .gem_bonus {
  background-position-x: 0;
}

.dashboard-fi-tiles .ore,
.dashboard-fi-tiles .ore_bonus {
  background-position-x: 6.6%;
}

.dashboard-fi-tiles .curd,
.dashboard-fi-tiles .sky_cheese {
  background-position-x: 13.3%;
}

.dashboard-fi-tiles .pirate,
.dashboard-fi-tiles .sky_pirates {
  background-position-x: 20%;
}

.dashboard-fi-tiles .key,
.dashboard-fi-tiles .loot_cache {
  background-position-x: 26.6%;
}

.dashboard-fi-tiles .warden-wind,
.dashboard-fi-tiles .wind_shrine {
  background-position-x: 33.3%;
}

.dashboard-fi-tiles .warden-rain,
.dashboard-fi-tiles .rain_shrine {
  background-position-x: 40%;
}

.dashboard-fi-tiles .warden-frost,
.dashboard-fi-tiles .frost_shrine {
  background-position-x: 46.6%;
}

.dashboard-fi-tiles .warden-fog,
.dashboard-fi-tiles .fog_shrine {
  background-position-x: 53.3%;
}

.dashboard-fi-tiles .sprocket,
.dashboard-fi-tiles .paragon_cache_a {
  background-position-x: 60%;
}

.dashboard-fi-tiles .bangle,
.dashboard-fi-tiles .paragon_cache_d {
  background-position-x: 66.6%;
}

.dashboard-fi-tiles .wing,
.dashboard-fi-tiles .paragon_cache_c {
  background-position-x: 73.3%;
}

.dashboard-fi-tiles .silk,
.dashboard-fi-tiles .paragon_cache_b {
  background-position-x: 80%;
}

.dashboard-fi-tiles .glore,
.dashboard-fi-tiles .ore_gem_bonus {
  background-position-x: 86.6%;
}

.dashboard-fi-tiles .seal,
.dashboard-fi-tiles .cloudstone_bonus {
  background-position-x: 93.3%;
}

.dashboard-fi-tiles .jade,
.dashboard-fi-tiles .charm_bonus {
  background-position-x: 100%;
}

.location-refresh-item {
  display: flex;
  align-items: stretch;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 1px -1px #7e7e7e;
}

.mh-improved-location-refresh-popup-progress {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.location-refresh-item.done {
  background-color: #3fcd84;
  border-color: #adadad;
}

.location-refresh-item .locationName {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.location-refresh-item .locationName .name {
  z-index: 1;
}

@keyframes moving-background {
  0% {
    right: 100%;
  }

  100% {
    right: 0;
  }
}

.location-refresh-item.traveling .locationName .progress::after {
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 100%;
  content: "";
  background: #f3c019;
  animation: moving-background 1s linear forwards;
}

.mh-improved-location-refresh-confirm-popup #overlayPopup .jsDialogContainer .suffix {
  display: none;
}

.mh-improved-location-refresh-confirm-popup-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}
