/* Free up space for dashboard */
.mousehuntHeaderView-gameTabs .menuItem.chat,
.mousehuntHeaderView-gameTabs .community {
  display: none;
}

.mousehuntHeaderView .dashboard .dropdownContent {
  width: 420px;
  border-radius: 0;
}

.dashboardWrapper {
  max-height: 60vh;
  padding: 5px;
  overflow: hidden auto;
  border: 1px solid #d7e2f1;
  box-shadow: 0 5px 10px #8f8f8f;
}

.dashboardRefresh {
  display: block;
  margin: 10px auto;
}

.regionWrapper {
  margin-bottom: 5px;
  border: 1px solid #c6c6c6;
}

.regionName {
  padding: 3px 0 2px 5px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 900;
  background-color: #f4f7fc;
  border-bottom: 1px solid #c6c6c6;
}

.regionName:first-child {
  margin-top: 0;
}

.locationWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 26px;
  padding: 9px 5px;
  background-color: #fff;
}

.locationWrapper.locationWrapper-rift_valour {
  height: 35px;
}

.locationWrapper:nth-child(even) {
  background-color: #eee;
}

.locationImageWrapper {
  display: inline-flex;
  flex: 0;
}

img.locationImage {
  width: 28px;
  height: 28px;
  border-radius: 3px;
  outline: 1px solid #838282;
}

.locationName {
  position: relative;
  flex-grow: 1;
  min-width: 105px;
  padding-left: 10px;
  font-size: 12px;
}

.locationProgress p {
  margin: 0;
  line-height: 1;
  text-align: right;
}

.locationProgress {
  font-size: 11px;
  line-height: 17px;
  text-align: right;
}

.locationProgress .stats {
  text-align: right;
}

.noLocationData {
  font-size: 12px;
  text-align: center;
}

.dashboard-fi-tiles span {
  display: inline-block;
  width: 20px;
  height: 22px;
  color: transparent;
  background-size: cover;
}

.dashboard-fi-tiles .glass,
.dashboard-fi-tiles .gem_bonus {
  background-image: url(https://i.mouse.rip/fi-tile-icons/glass.png);
}

.dashboard-fi-tiles .ore,
.dashboard-fi-tiles .ore_bonus {
  background-image: url(https://i.mouse.rip/fi-tile-icons/ore.png);
}

.dashboard-fi-tiles .curd,
.dashboard-fi-tiles .sky_cheese {
  background-image: url(https://i.mouse.rip/fi-tile-icons/curd.png);
}

.dashboard-fi-tiles .pirate,
.dashboard-fi-tiles .sky_pirates {
  background-image: url(https://i.mouse.rip/fi-tile-icons/pirate.png);
}

.dashboard-fi-tiles .key,
.dashboard-fi-tiles .loot_cache {
  background-image: url(https://i.mouse.rip/fi-tile-icons/key.png);
}

.dashboard-fi-tiles .warden-wind,
.dashboard-fi-tiles .wind_shrine {
  background-image: url(https://i.mouse.rip/fi-tile-icons/wind.png);
}

.dashboard-fi-tiles .warden-rain,
.dashboard-fi-tiles .rain_shrine {
  background-image: url(https://i.mouse.rip/fi-tile-icons/rain.png);
}

.dashboard-fi-tiles .warden-frost,
.dashboard-fi-tiles .frost_shrine {
  background-image: url(https://i.mouse.rip/fi-tile-icons/frost.png);
}

.dashboard-fi-tiles .warden-fog,
.dashboard-fi-tiles .fog_shrine {
  background-image: url(https://i.mouse.rip/fi-tile-icons/fog.png);
}

.dashboard-fi-tiles .sprocket,
.dashboard-fi-tiles .paragon_cache_a {
  background-image: url(https://i.mouse.rip/fi-tile-icons/sprocket.png);
}

.dashboard-fi-tiles .bangle,
.dashboard-fi-tiles .paragon_cache_d {
  background-image: url(https://i.mouse.rip/fi-tile-icons/bangle.png);
}

.dashboard-fi-tiles .wing,
.dashboard-fi-tiles .paragon_cache_c {
  background-image: url(https://i.mouse.rip/fi-tile-icons/wing.png);
}

.dashboard-fi-tiles .silk,
.dashboard-fi-tiles .paragon_cache_b {
  background-image: url(https://i.mouse.rip/fi-tile-icons/silk.png);
}

.dashboard-fi-tiles .glore,
.dashboard-fi-tiles .ore_gem_bonus {
  background-image: url(https://i.mouse.rip/fi-tile-icons/glore.png);
}

.dashboard-fi-tiles .seal,
.dashboard-fi-tiles .cloudstone_bonus {
  background-image: url(https://i.mouse.rip/fi-tile-icons/seal.png);
}

.dashboard-fi-tiles .jade,
.dashboard-fi-tiles .charm_bonus {
  background-image: url(https://i.mouse.rip/fi-tile-icons/jade.png);
}

.location-refresh-item {
  display: flex;
  align-items: stretch;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 1px -1px #7e7e7e;
}

.mh-improved-location-refresh-popup-progress {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.location-refresh-item.done {
  background-color: #3fcd84;
  border-color: #adadad;
}

.location-refresh-item.starting {
  background-color: #a3f4ff;
}

.location-refresh-item .locationName {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.location-refresh-item .locationName .travel-button {
  padding: 3px 10px;
  margin-right: 5px;
}

.location-refresh-item .locationName .name {
  z-index: 1;
}

.location-refresh-item.traveling .locationName .progress::after {
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 100%;
  content: "";
  background: #f3c019;
  animation: mh-improved-right-to-left 1s linear forwards;
}

@media (prefers-reduced-motion: reduce) {
  .location-refresh-item.traveling .locationName .progress::after {
    animation: none;
  }
}

.mh-improved-location-refresh-confirm-popup #overlayPopup .jsDialogContainer .suffix {
  display: none;
}

.mh-improved-location-refresh-confirm-popup-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.dashboard-fi-tiles {
  vertical-align: middle;
}

.dashboard-fi-wrap {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: -5px;
}

.dashboard-bb-wrap .tile {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: transparent;
  background-image: url(https://www.mousehuntgame.com/images/ui/hud/bountiful_beanstalk/chevrons.png);
  background-size: 100%;
}

.dashboard-bb-wrap .tile.standard {
  background-position-y: 0%;
}

.dashboard-bb-wrap .tile.super {
  background-position-y: 34%;
}

.dashboard-bb-wrap .tile.extreme {
  background-position-y: 67%;
}

.dashboard-bb-wrap .tile.ultimate {
  background-position-y: 100%;
}

.dashboard-bb-wrap.room-name {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;
}

.dashboard-bb-wrap.embellishments .tile {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: transparent;
}

.dashboard-bb-wrap.embellishments .tile.golden_key {
  background-image: url(https://www.mousehuntgame.com/images/items/stats/large/d855937c33e0fc0db25fbdf1aea70aa2.png);
}

.dashboard-bb-wrap.embellishments .tile.golden_feather {
  background-image: url(https://www.mousehuntgame.com/images/items/stats/large/654d4e0c8308c3ab0ee99d32503bf82a.png);
}

.dashboard-bb-wrap.embellishments .tile.ruby_remover {
  background-image: url(https://www.mousehuntgame.com/images/items/stats/large/6753553ca41cb4754fba0ebf7600378b.png);
}

.locationImageWrapper:hover,
.locationName:hover {
  text-decoration: underline;
  cursor: pointer;
}

.location-refresh-item .locationName:hover {
  text-decoration: none;
  cursor: default;
}
