
.campPage-trap-baitLabel {
  display: none;
}

.campPage-trap-armedItem.bait {display: flex;justify-content: flex-start;align-items: center;}

span.campPage-trap-baitQuantity {
  position: absolute;
  bottom: -1px;
  right: -1px;
  border: 1px solid #9d917f;
  padding: 3px;
  line-height: 11px;
  height: 12px;
  font-size: 12px;
  text-align: right;
  background-color: rgb(255 255 255 / 70%);
  border-bottom-right-radius: 3px;
}

.campPage-trap-armedItem .quantity span {
  position: absolute;
  right: -6px;
  border: 1px solid #9d917f;
  padding: 3px;
  font-size: 12px;
  text-align: right;
  background-color: rgb(255 255 255 / 80%);
  bottom: 3px;
}
