.lunarNewYearCampPopup-content-endDate {
  font-size: 14px;
  line-height: 20px;
}

.lunarNewYearCampPopup-environment .mousehuntTooltip {
  top: -44%;
}

.lunarNewYearCampHUD-window-row-reward::after {
  top: 1px;
  background-color: #9b2034;
  border-color: #f3577c;
}

.lunarNewYearCampHUD-window-row:nth-child(even) .lunarNewYearCampHUD-window-row-reward::after {
  right: 35px;
}

.lunarNewYearCampHUD-window-row:nth-child(odd) .lunarNewYearCampHUD-window-row-reward::after {
  top: 0;
  left: 35px;
}

.lunarNewYearCampHUD-window-row .lunarNewYearCampHUD-window-row-reward::after {
  box-shadow:
    0 -1px 1px 0 #f3577c,
    0 1px 1px 0 #f3577c;
}

.lunarNewYearCampHUD-window-row-reward {
  width: 28px;
  height: 18px;
  border-radius: 6px;
  box-shadow:
    0 -1px 1px 0 #f3577c,
    0 1px 1px 0 #f3577c;
}

.lunarNewYearCampHUD-window-row.lunar_new_year_2018_cheese.reward .lunarNewYearCampHUD-window-row-reward::after,
.lunarNewYearCampHUD-window-row.lunar_new_year_2018_cheese.claimed .lunarNewYearCampHUD-window-row-reward::after {
  width: 180px;
}

.lunarNewYearCampHUD-container .mousehuntItem .mousehuntItem-quantity.quantity {
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 2px;
  font-size: 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.lunarNewYearCampHUD-container .mousehuntItem:hover .mousehuntItem-quantity.quantity,
.lunarNewYearCampHUD-container .mousehuntItem:focus .mousehuntItem-quantity.quantity,
.lunarNewYearCampHUD-container .mousehuntItem.active .mousehuntItem-quantity.quantity {
  border-top: 1px solid #d6a766;
  box-shadow: inset 0 0 5px 5px #ffe344;
}

.lunarNewYearCampHUD-container .mousehuntItem:hover .mousehuntItem-image::after,
.lunarNewYearCampHUD-container .mousehuntItem:focus .mousehuntItem-image::after {
  border-color: #ffe344;
}

.lunarNewYearCampHUD-stat-value {
  font-size: 13px;
  text-shadow: 0 0 10px #fee7a6;
  box-shadow: inset 0 0 3px 1px #b81d3e;
}

.lunarNewYearCampHUD-stat-label {
  text-align: center;
}

.lunarNewYearCampHUD-statsContainer .lunarNewYearCampHUD-stat:nth-child(3) .lunarNewYearCampHUD-stat-value {
  width: 32px;
}

.lunarNewYearCampHUD-window-background .lunarNewYearCampHUD-window-lantern::after {
  transition: 0.7s;
}

.lunarNewYearCampHUD-window-background:hover .lunarNewYearCampHUD-window-lantern::after {
  filter: brightness(1.5) drop-shadow(1px 0 4px #000);
  transform: scale(1.5);
}

.lunarNewYearCampPopup .lunarNewYear2018-claimRow-image {
  text-align: left;
}

.lunarNewYearCampHUD-window-row-height {
  font-size: 12px;
  font-weight: 900;
  text-shadow: 1px 1px 1px #000;
}

.lunarNewYearCampPopup-subtitle {
  margin-bottom: 5px;
}

.lunarNewYearCampPopupContainer .lunarNewYearCampHUD-window.lunarNewYearCampHUD-viewState.hasLantern {
  top: 21px;
  bottom: 22px;
  box-shadow: inset 1px 0 4px 2px #000;
}

.lunarNewYearCampHUD-window-background {
  box-shadow: inset 1px 0 10px 0 #05050a;
}

.lunarNewYearCampPopupContainer .lunarNewYearCampHUD-window-background {
  border: 2px solid #decfb4;
}

.lunarNewYearCampPopup-lanternMap-button.up {
  border-bottom-width: 1px;
}

.lunarNewYearCampPopup-lanternMap-button.down {
  border-top-width: 1px;
}

.lunarNewYearCampPopup-environment:hover .lunarNewYearCampPopup-environment-image {
  box-shadow: 0 -1px 7px -4px #000;
}

.lunarNewYearCampPopup-environment:hover .lunarNewYearCampPopup-environment-name {
  box-shadow: 0 4px 9px -2px #000;
}

.lunarNewYearCampPopup-environment:hover {
  border-radius: 4px;
  box-shadow: 0 1px 5px 0 #2e2e2e;
  transform: scale(1.2);
}

.lunarNewYearCampPopup-environment {
  width: 100%;
  padding: 0;
  border-radius: 6px;
  box-shadow: 0 0 2px 0 #000;
  transition: 0.2s ease-in;
  transform-origin: bottom;
}

.lunarNewYearCampPopup-stockpile-environmentContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
  align-items: start;
}

.lunarNewYearCampPopup-environment:hover .lunarNewYearCampPopup-environment-name,
.lunarNewYearCampPopup-environment.selected .lunarNewYearCampPopup-environment-name {
  color: #fff;
  background-color: #b4383a;
}

.lunarNewYearCampPopup-environment.disabled .lunarNewYearCampPopup-environment-name,
.lunarNewYearCampPopup-environment.disabled .lunarNewYearCampPopup-environment-image {
  opacity: 0.4;
}

.lunarNewYearCampPopup-content-block-image {
  width: auto;
  height: 60px;
  background-repeat: no-repeat;
  box-shadow: none;
}

.lunarNewYearCampPopup-itemContainer {
  display: flex;
  gap: 5px;
  align-content: center;
}

.lunarNewYearCampPopup-content-block {
  width: 100%;
}

.launch-the-fireworks {
  display: block;
}

.launch-the-fireworks .lunarNewYearCampHUD-window-fireworks:nth-child(1)::before {
  animation-delay: 0.1s;
}

.launch-the-fireworks .lunarNewYearCampHUD-window-fireworks:nth-child(1)::after {
  animation-delay: 0.7s;
}

.launch-the-fireworks .lunarNewYearCampHUD-window-fireworks:nth-child(2)::before {
  animation-delay: 0.9s;
}

.launch-the-fireworks .lunarNewYearCampHUD-window-fireworks:nth-child(2)::after {
  animation-delay: 1.1s;
}

.launch-the-fireworks .lunarNewYearCampHUD-window-fireworks:nth-child(3)::before {
  animation-delay: 1.4s;
}

.launch-the-fireworks .lunarNewYearCampHUD-window-fireworks:nth-child(3)::after {
  animation-delay: 1.8s;
}

.launch-the-fireworks .lunarNewYearCampHUD-window-fireworks:nth-child(4)::before {
  animation-delay: 2s;
}

.launch-the-fireworks .lunarNewYearCampHUD-window-fireworks:nth-child(4)::after {
  animation-delay: 2.5s;
}

.launch-the-fireworks .lunarNewYearCampHUD-window-fireworks:nth-child(5)::before {
  animation-delay: 2.8s;
}

.launch-the-fireworks .lunarNewYearCampHUD-window-fireworks:nth-child(5)::after {
  animation-delay: 3.3s;
}

.launch-the-fireworks .lunarNewYearCampHUD-window-fireworks:nth-child(6)::before {
  animation-delay: 3.7s;
}

.launch-the-fireworks .lunarNewYearCampHUD-window-fireworks:nth-child(6)::after {
  animation-delay: 4.1s;
}

.launch-the-fireworks .lunarNewYearCampHUD-window-fireworks:nth-child(7)::before {
  animation-delay: 4.5s;
}

.launch-the-fireworks .lunarNewYearCampHUD-window-fireworks:nth-child(7)::after {
  animation-delay: 5.9s;
}

.launch-the-fireworks-please {
  position: absolute;
  bottom: 1px;
  left: -3px;
  width: 22px;
  height: 24px;
  background-image: url(https://i.mouse.rip/upscaled/festive_firework_stat_item.png);
  filter: hue-rotate(256deg);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
  transform: scaleX(-1);
}

.launch-the-fireworks-please:hover {
  cursor: pointer;
  opacity: 0.9;
  transform: scaleX(-1.2) scaleY(1.2);
}
