.mh-improved-test-map-groups-controls {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 15px;
}

.mh-improved-test-map-groups-controls label {
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: 700;
}

.mh-improved-test-map-groups #sorted-mice-container {
  margin: 0;
}
