* + * {
  transition: .3s;
}

* + * + * {
  filter: hue-rotate(90deg);
  transform: rotate(0.5deg);
}

* + * + * + * {
  transform: rotate(-0.6deg);
}

* + * > * {
  transform: rotate(-0.1deg);
}

* + * + * > * {
  transform: rotate(0.2deg);
}

div + div + div {
  filter: hue-rotate(90deg);
}

* > * > * > * > * > * > * > * > * > * > * {
  transition: .9s;
}

* > * > * > * > * > * > * > * > * > *:hover * {
  transform:rotateX(20deg);
}

* > * > * > * > * > * > * > * > * > * > *:hover {
  transform:rotateX(-20deg);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.lolspin {
  animation: spin 1s linear infinite;
}
