/* Gift of the day width */
.giftSelectorView-giftContainer .giftSelectorView-gift.gift_of_the_day {
  width: 20%;
}

#bulk-gifting-gift-buttons {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

#bulk-gifting-gift-buttons button {
  display: block;
  padding: 10px;
  font-size: 12px;
  color: #000;
  text-align: center;
  text-decoration: none;
  background-color: #eee;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #eee;
}

#bulk-gifting-gift-buttons .mh-gift-buttons-accept {
  margin-right: 10px;
}

#bulk-gifting-gift-buttons .mh-gift-buttons-paid-gifts {
  margin-right: 10px;
}

#bulk-gifting-gift-buttons button:hover,
#bulk-gifting-gift-buttons button:focus,
#bulk-gifting-gift-buttons .mh-gift-buttons-return:hover,
#bulk-gifting-gift-buttons .mh-gift-buttons-return:focus,
#bulk-gifting-gift-buttons .mh-gift-buttons-accept-reverse:hover,
#bulk-gifting-gift-buttons .mh-gift-buttons-accept-reverse:focus {
  background-color: #ffae00;
  box-shadow:
    0 0 5px #fff inset,
    1px 1px 1px #fff;
}

#bulk-gifting-gift-buttons button.disabled:hover,
#bulk-gifting-gift-buttons button.disabled:focus {
  cursor: default;
  background-color: #eee;
  box-shadow: 0 0 3px #f00;
}

#bulk-gifting-gift-buttons .mh-gift-buttons-return {
  background-color: #fff600;
}

.giftSelectorView-inbox-giftContainer {
  height: auto;
  min-height: 300px;
  max-height: 75vh;
}

.giftSelectorView-inbox-giftRow.complete {
  height: 25px;
  padding-top: 5px;
  padding-left: 15px;
  border: none;
  box-shadow: none;
}

.giftSelectorView-inbox-giftRow.complete .giftSelectorView-inbox-gift-thumb {
  display: inline;
}

.giftSelectorView-inbox-giftRow.complete .itemImage {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.giftSelectorView-inbox-giftRow.complete .giftSelectorView-inbox-gift-details {
  width: 90%;
}

.mh-gift-buttons-send-random,
.mh-gift-buttons-send-faves {
  margin-top: -2px;
  margin-left: 10px;
}

.giftSelectorView-gift.sendable.gift.gift_of_the_day {
  flex: 1;
}

.giftSelectorView-gift .giftSelectorView-gift-padding {
  min-width: 75px;
  border: 1px solid #dcdcdc;
  box-shadow: none;
}

.giftSelectorView-gift.gift_of_the_day .giftSelectorView-gift-padding {
  background-color: #a5e3ff;
}

.giftSelectorView-scroller.giftSelectorView-giftContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.giftSelectorView-gift.gift_of_the_day:hover .giftSelectorView-gift-padding {
  background-color: #0090ff;
}

body #overlayPopup .giftSelectorView-scroller.giftSelectorView-giftContainer {
  min-height: unset;
}

.giftSelectorView-friend.complete .giftSelectorView-friend-padding::before {
  bottom: 9px;
  left: 10px;
  z-index: 1;
  filter: drop-shadow(0 0 3px #b9ff5d) drop-shadow(1px 1px 4px #b9ff5d) drop-shadow(-1px -1px 3px #b9ff5d);
}

.mh-gift-buttons-clone-wrapper .giftSelectorView-gift-description {
  display: flex;
  align-items: stretch;
}

.mh-gift-buttons-clone-wrapper .giftSelectorView-gift-padding {
  min-width: unset;
  padding: 0 2px;
  margin: 0;
  border: none;
}

.mh-gift-buttons-clone-wrapper .giftSelectorView-gift-name {
  height: unset;
}

.mh-gift-buttons-clone-wrapper .giftSelectorView-gift-name span {
  padding: 5px;
}

.mh-gift-buttons-clone-wrapper .giftSelectorView-content-leftBar-highlightBlock {
  padding: 5px;
  margin: 0 5px 0 10px;
  margin-top: 0;
  background-color: transparent;
}

.giftSelectorView-friend.complete .giftSelectorView-friend-padding::after,
.mh-gift-buttons-clone-wrapper .giftSelectorView-gift.gift_of_the_day .giftSelectorView-gift-padding::after {
  display: none;
}

.mh-gift-buttons-clone-wrapper .giftSelectorView-gift.gift_of_the_day .giftSelectorView-gift-padding {
  color: #000;
  background-color: #fff;
}

.mh-gift-buttons-clone-wrapper .giftSelectorView-gift.gift_of_the_day:hover .giftSelectorView-gift-padding {
  background-color: #a5e3ff;
}

.giftSelectorView-friend-group-title {
  padding: 3px;
  font-size: 11px;
}

.giftSelectorView-friend-padding,
.giftSelectorView-confirmPopup-block-actionItem .giftSelectorView-friend:hover .giftSelectorView-friend-padding {
  border-radius: 0;
}

.giftSelectorView-friend .giftSelectorView-friend-padding {
  height: 30px;
}

.mh-gift-buttons-clone-wrapper .giftSelectorView-gift .itemImage {
  width: 50px;
  height: 50px;
}

.giftSelectorView-gift .itemImage {
  width: 100%;
  height: 80px;
}

.giftSelectorView-friend-name {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: unset;
  height: unset;
  padding: 0 3px;
  line-height: 1.1;
}

.giftSelectorView-friend-name span {
  display: block;
}

#bulk-gifting-gift-buttons.mh-gift-buttons-send-popup {
  margin-bottom: 0;
}

.giftSelectorView-tabContentContainer .giftSelectorView-tabContent.active .giftSelectorView-actionContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#bulk-gifting-gift-buttons.mh-gift-buttons-send-popup button {
  padding: 6px;
  font-size: 12px;
}

a.mousehuntActionButton.giftSelectorView-action-confirm span {
  display: block;
  width: auto;
  min-width: 80px;
}

.giftSelectorView-friendRow-returnImage:hover {
  margin-top: -10px;
  margin-right: 10px;
  margin-left: 0;
  border: none;
}

.giftSelectorView-claimableGift {
  min-height: 100px;
}

.giftSelectorView-claimableGift.accordion_disabled::after,
.giftSelectorView-claimableGift.expanded::after {
  box-shadow: none;
}

.giftSelectorView-claimableGift.accordion_disabled,
.giftSelectorView-claimableGift.expanded {
  padding: 5px;
  margin-bottom: 11px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.giftSelectorView-claimableGift-title-itemName {
  font-size: 13px;
}

.giftSelectorView-content-subtitle {
  border-bottom: none;
}

.giftSelectorView-inboxGiftOfTheDay {
  padding: 5px 0;
}

.giftSelectorView-inbox-giftRow.paidgift {
  background-color: #fff08c;
  border: none;
}

.giftSelectorView-inbox-gift-details .giftSelectorView-inbox-gift-sent {
  padding-top: 3px;
}

.giftSelectorView-inbox-giftRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
}

.giftSelectorView-inbox-gift-details {
  flex: 1;
  width: auto;
  margin: 0;
  margin-left: 10px;
}

.giftSelectorView-inbox-giftRow.paidgift .giftSelectorView-inbox-gift-actions {
  padding-bottom: 0;
}

.giftSelectorView-inboxGiftOfTheDay-label {
  margin-right: 5px;
}

.giftSelectorView-inboxGiftOfTheDay-gift {
  font-size: 12px;
}

.giftSelectorView-inboxGiftOfTheDay-gift abbr {
  text-decoration: none;
  vertical-align: middle;
}

.mh-gift-buttons-clone-wrapper {
  max-height: 275px;
  overflow: scroll;
}

.paidgift a.giftSelectorView-friendRow-action.return {
  text-indent: -70px;
}
