/* Gift of the day width */
.giftSelectorView-giftContainer .giftSelectorView-gift.gift_of_the_day {
  width: 20%;
}

#bulk-gifting-gift-buttons {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

#bulk-gifting-gift-buttons .mh-gift-button {
  font-weight: 400;
}

#bulk-gifting-gift-buttons .mh-gift-buttons-accept {
  margin-right: 5px;
}

#bulk-gifting-gift-buttons .mh-gift-buttons-paid-gifts {
  margin-right: 10px;
}

.giftSelectorView-inbox-giftContainer {
  height: auto;
  min-height: 300px;
  max-height: 75vh;
}

.giftSelectorView-inbox-giftRow.complete {
  height: 25px;
  padding-top: 5px;
  padding-left: 15px;
  border: none;
  box-shadow: none;
}

.giftSelectorView-inbox-giftRow.complete .giftSelectorView-inbox-gift-thumb {
  display: inline;
}

.giftSelectorView-inbox-giftRow.complete .itemImage {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.giftSelectorView-inbox-giftRow.complete .giftSelectorView-inbox-gift-details {
  width: 90%;
}

.mh-gift-buttons-send-random,
.mh-gift-buttons-send-faves {
  margin-top: -2px;
  margin-left: 10px;
}

.giftSelectorView-gift.sendable.gift.gift_of_the_day {
  flex: 1;
}

.giftSelectorView-gift .giftSelectorView-gift-padding {
  min-width: 75px;
  border: 1px solid #dcdcdc;
  box-shadow: none;
}

.giftSelectorView-gift.gift_of_the_day .giftSelectorView-gift-padding {
  background-color: #a5e3ff;
}

.giftSelectorView-scroller.giftSelectorView-giftContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.giftSelectorView-gift.gift_of_the_day:hover .giftSelectorView-gift-padding {
  background-color: #0090ff;
}

.giftSelectorView-friend.complete .giftSelectorView-friend-padding::before {
  bottom: 10px;
  left: 12px;
  z-index: 1;
  filter: drop-shadow(0 0 3px #b9ff5d) drop-shadow(1px 1px 4px #b9ff5d) drop-shadow(-1px -1px 3px #b9ff5d);
}

.mh-gift-buttons-clone-wrapper {
  scrollbar-color: #938f83 #e9e1c6;
  max-height: calc(75vh - 175px);
  overflow-y: auto;
}

.mh-gift-buttons-clone-wrapper .giftSelectorView-gift-description {
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
}

.mh-gift-buttons-clone-wrapper .giftSelectorView-gift-padding {
  min-width: unset;
  padding: 0 2px;
  margin: 0;
  border: none;
}

.mh-gift-buttons-clone-wrapper .giftSelectorView-gift-name {
  height: unset;
}

.mh-gift-buttons-clone-wrapper .giftSelectorView-gift-name span {
  padding: 5px;
}

.mh-gift-buttons-clone-wrapper .giftSelectorView-content-leftBar-highlightBlock {
  padding: 5px;
  margin: 0 5px 0 10px;
  margin-top: 0;
  background-color: transparent;
}

.mh-gift-buttons-clone-wrapper .giftSelectorView-friendRow-returnCost {
  bottom: 3px;
}

.giftSelectorView-content-leftBar > .giftSelectorView-content-leftBar-highlightBlock::before {
  position: absolute;
  inset: 0;
  z-index: 1;
  content: "";
  border-radius: 10px 0 0 10px;
  box-shadow: -1px 4px 4px -3px #666;
}

.giftSelectorView-content-leftBar > .giftSelectorView-content-leftBar-highlightBlock {
  position: relative;
}

.giftSelectorView-friend.complete .giftSelectorView-friend-padding::after,
.mh-gift-buttons-clone-wrapper .giftSelectorView-gift.gift_of_the_day .giftSelectorView-gift-padding::after {
  display: none;
}

.mh-gift-buttons-clone-wrapper .giftSelectorView-gift.gift_of_the_day .giftSelectorView-gift-padding {
  color: #000;
  background-color: #fff;
}

.mh-gift-buttons-clone-wrapper .giftSelectorView-gift.gift_of_the_day:hover .giftSelectorView-gift-padding {
  background-color: #a5e3ff;
}

.giftSelectorView-friend-group-title {
  padding: 3px;
  font-size: 11px;
}

.giftSelectorView-friend-padding,
.giftSelectorView-confirmPopup-block-actionItem .giftSelectorView-friend:hover .giftSelectorView-friend-padding {
  border-radius: 0;
}

.giftSelectorView-friend .giftSelectorView-friend-padding {
  display: flex;
  align-items: center;
  height: 35px;
}

.mh-gift-buttons-clone-wrapper .giftSelectorView-gift .itemImage {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.giftSelectorView-gift .itemImage {
  width: 80px;
  height: 80px;
}

.giftSelectorView-friend-name {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: unset;
  height: unset;
  padding: 0 3px;
  line-height: 1.1;
}

.giftSelectorView-friend-name span {
  display: block;
}

#bulk-gifting-gift-buttons.mh-gift-buttons-send-popup {
  margin-bottom: 0;
}

.giftSelectorView-tabContentContainer .giftSelectorView-tabContent.active .giftSelectorView-actionContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#bulk-gifting-gift-buttons.mh-gift-buttons-send-popup button {
  padding: 6px;
  font-size: 12px;
}

a.mousehuntActionButton.giftSelectorView-action-confirm span {
  display: block;
  width: auto;
  min-width: 80px;
}

.giftSelectorView-friendRow-returnImage:hover {
  margin-top: -10px;
  margin-right: 10px;
  margin-left: 0;
  border: none;
}

.giftSelectorView-claimableGift {
  min-height: 100px;
}

.giftSelectorView-claimableGift.accordion_disabled::after,
.giftSelectorView-claimableGift.expanded::after {
  box-shadow: none;
}

.giftSelectorView-claimableGift.accordion_disabled,
.giftSelectorView-claimableGift.expanded {
  padding: 5px;
  margin-bottom: 11px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.giftSelectorView-claimableGift-title-itemName {
  font-size: 13px;
}

.giftSelectorView-content-subtitle {
  display: inline-block;
  width: auto;
  border-bottom: none;
}

.giftSelectorView-inboxGiftOfTheDay {
  padding: 5px 0;
  border-color: #d1d0cf;
}

.giftSelectorView-inbox-giftRow.paidgift {
  background-color: #fff08c;
  border-bottom: 1px solid #f0bb05;
}

.giftSelectorView-inbox-giftRow.paidgift.complete:last-child {
  border-bottom: none;
}

.giftSelectorView-inbox-gift-details .giftSelectorView-inbox-gift-sent {
  padding-top: 3px;
}

.giftSelectorView-inbox-giftRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
}

.giftSelectorView-inbox-gift-details {
  flex: 1;
  width: auto;
  margin: 0;
  margin-left: 10px;
}

.giftSelectorView-inbox-giftRow.paidgift .giftSelectorView-inbox-gift-actions {
  padding-bottom: 0;
}

.giftSelectorView-inboxGiftOfTheDay-label {
  margin-right: 5px;
}

.giftSelectorView-inboxGiftOfTheDay-gift {
  font-size: 12px;
}

.giftSelectorView-inboxGiftOfTheDay-gift abbr {
  text-decoration: none;
  vertical-align: middle;
}

.paidgift a.giftSelectorView-friendRow-action.return {
  text-indent: -70px;
}

.giftSelectorView-friendRow-returnQuantity {
  width: 30px;
}

.giftSelectorView-gift.paidgift .giftSelectorView-gift-padding {
  box-shadow: 0 0 1px #000 inset;
}

.giftSelectorView-tabContent.hasSidebar .giftSelectorView-content-rightBar {
  border-bottom-left-radius: 10px;
}

.giftSelectorView-friendRow-sender {
  position: relative;
}

.giftSelectorView-friendRow:hover {
  padding-bottom: 5px;
  margin-bottom: 7px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  outline: 1px solid #dfdfdf;
  box-shadow: none;
}

.giftSelectorView-friend-image {
  top: -7px;
  left: -7px;
  width: 33px;
  height: 33px;
  border: 1px solid #bdbdbd;
}

.giftSelectorView-friend-image.paidgift {
  top: -11px;
  width: 31px;
  height: 31px;
}

#giftSelectorView-inbox {
  border: 1px solid #d1d0cf;
  box-shadow: 0 3px 6px -3px #000;
}

.giftSelectorView-inbox-footer-viewMore a {
  position: relative;
  font-weight: 400;
  line-height: 24px;
  text-shadow: 0 0 1px #fff;
  background: none;
  border: none;
  border-radius: 3px;
  box-shadow: none;
}

.giftSelectorView-inbox-footer-viewMore {
  position: absolute;
  right: 10px;
  width: 135px;
  padding: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  color: #000 !important;
  text-align: center;
  background: #b3edff;
  border: 1px solid #50549c;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #eee;
}

.giftSelectorView-inbox-footer-viewMore:hover {
  background-color: #b3f4ff;
  border-color: #000;
  box-shadow:
    0 0 5px #fff inset,
    1px 1px 1px #fff;
}

.giftSelectorView-inbox-footer-viewMore::before {
  position: absolute;
  inset: 40% 0 0;
  content: "";
  background: #b2e2ff;
  border-radius: 5px;
  box-shadow: 0 0 10px #7bf inset;
}

.giftSelectorView-inbox-footer-viewMore::before:hover {
  background-color: #a5e2ff;
  box-shadow: 0 0 10px #f0f4f7 inset;
}

.giftSelectorView-inbox-footer {
  padding-bottom: 18px;
  border-width: 1px;
}

.giftSelectorView-inbox-giftContainer .mousehuntActionButton.return.disabled,
.giftSelectorView-inbox-giftContainer .mousehuntActionButton.claim.disabled {
  opacity: 0.5;
}

.giftSelectorView-inbox-giftContainer .mousehuntActionButton.return.disabled:hover,
.giftSelectorView-inbox-giftContainer .mousehuntActionButton.claim.disabled:hover {
  opacity: 1;
}

.giftSelectorView-friendRow-action.ignore {
  outline: 1px solid #ededed;
  box-shadow: none;
}

.giftSelectorView-friendRow-action.ignore:hover {
  background-color: #eee;
  outline-color: #c6c6c6;
}

.giftSelectorView-friendRow-action.claim,
.giftSelectorView-friendRow-action.return {
  box-sizing: border-box;
  outline: 1px solid #e7e7e7;
}

.mh-dark .giftSelectorView-friendRow-action.claim,
.mh-dark .giftSelectorView-friendRow-action.return {
  background-color: var(--d-action);
  outline: 1px solid var(--d);
  box-shadow:
    0 0 1px var(--d-alt) inset,
    0 3px 1px var(--d-transparent-20) inset;
}

.giftSelectorView-friendRow-action.claim:hover,
.giftSelectorView-friendRow-action.return:hover {
  box-shadow:
    0 0 1px #000 inset,
    0 -1px 1px #fff inset;
}

.mh-dark .giftSelectorView-friendRow-action.claim:hover,
.mh-dark .giftSelectorView-friendRow-action.return:hover {
  box-shadow:
    0 0 1px var(--d-transparent-20) inset,
    0 3px 1px var(--d-transparent-40) inset;
}

.giftSelectorView-friendRow.new .giftSelectorView-friend-image::after {
  top: -4px;
  left: -4px;
  border-radius: 4px;
  box-shadow: none;
}

.mh-dark-mode #giftSelectorView-inbox {
  border-color: #424242;
}

.mh-dark-mode .giftSelectorView-inboxGiftOfTheDay {
  border-color: #424242;
}

.mh-dark-mode .pageFrameView #mousehuntContainer.PageCamp .campPage-trap-statsContainer:hover {
  background-color: #494949;
}

.complete .giftSelectorView-inbox-gift-details {
  margin-right: 150px;
  margin-left: 0;
}

.giftSelectorView-inbox-footer-label {
  margin-top: -30px;
  text-align: left;
}

#overlayPopup.giftSelectorViewPopup #jsDialogClose {
  z-index: 10;
}

.giftSelectorView-friend-search {
  right: -5px;
  display: inline-block;
  width: auto;
}

.giftSelectorView-friend-search-label {
  display: none;
}

input.giftSelectorView-friend-search-input {
  max-width: 130px;
}

.giftSelectorView-content-viewState.selectFriends {
  position: relative;
}

.giftSelectorView-tabContent[data-tab="friends"] .giftSelectorView-content-viewState .giftSelectorView-friend-search {
  position: absolute;
  top: -30px;
  right: 2px;
}

.giftSelectorView-friend-group.favorite .giftSelectorView-friend-group-title {
  display: none;
}

.giftSelectorView-hiddenFriendsContainer {
  margin-right: 2px;
}

.giftSelectorView-tabContent[data-tab="friends"] .giftSelectorView-content-rightBar-padding {
  padding-bottom: 0;
}

.giftSelectorView-friend.favorite:hover .giftSelectorView-friend-padding,
.giftSelectorView-friend:hover .giftSelectorView-friend-padding {
  color: #fff;
  background-color: #0090ff;
  box-shadow: none;
}

.giftSelectorView-friend:hover {
  text-decoration: none;
}

.giftSelectorView-friend.favorite .giftSelectorView-friend-padding {
  color: #000;
  background-color: #a5e3ff;
  box-shadow: none;
}

.giftSelectorView-friend.selected .giftSelectorView-friend-padding {
  color: #fff;
  background-color: #0090ff;
}

.giftSelectorView-friend.selected:hover .giftSelectorView-friend-padding {
  color: #000;
  background-color: #a5e3ff;
}

input[type="text"].giftSelectorView-friendRow-returnQuantity {
  padding: 2px;
  margin: 2px;
}

.giftSelectorView-confirmPopup-submitCloseButton {
  position: absolute;
  top: -16px;
  right: -11px;
  z-index: 15;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #e03a3a;
  text-align: center;
  background: #fff;
  border: 1px solid #d1d0cf;
  border-radius: 20px;
  box-shadow: 1px 2px 6px -4px #3e3e3e;
}

.giftSelectorView-confirmPopup-submitCloseButton:hover {
  color: #fff;
  text-decoration: none;
  background-color: #e03a3a;
}

.mh-dark .giftSelectorView-confirmPopup-content a.giftSelectorView-confirmPopup-submitCloseButton {
  color: var(--d-text-muted);
  background-color: var(--d-blue);
  border-color: var(--d-border);
}

.mh-dark .giftSelectorView-confirmPopup-content a.giftSelectorView-confirmPopup-submitCloseButton:hover {
  background-color: var(--d-blue-dark);
}
