.floatingIslandsWorkshop-partsContainer.floatingIslandsWorkshop-partsContainer {
  left: 43px;
  width: 673px;
}

.floatingIslandsWorkshop-part.floatingIslandsWorkshop-part {
  width: 24%;
}

.floatingIslandsWorkshop-partsContainer.floatingIslandsWorkshop-partsContainer::after {
  bottom: -4px;
  width: 674px;
  background-repeat: no-repeat;
  background-size: cover;
}

.floatingIslandsWorkshop-partsContainer.floatingIslandsWorkshop-partsContainer::before {
  position: absolute;
  top: -26px;
  left: 0;
  width: 674px;
  height: 30px;
  content: "";
  background-image: url(https://i.mouse.rip/fi-airships-bottom-2.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  transform: rotateX(180deg);
}
