/* Make the 'mice can drop' one line */
.floatingIslandsHUD-islandLoot-label {
  color: transparent;
}

.floatingIslandsHUD-islandLoot-label::before {
  position: absolute;
  top: 2px;
  right: 3px;
  bottom: 3px;
  width: 85px;
  font-size: 13px;
  font-variant: small-caps;
  color: #e2d8b6;
  text-shadow: 1px 1px #43311c;
  content: "Mice can drop";
  background-color: #78502d;
  border-bottom-left-radius: 10px;
}

a.floatingIslandsHUD-islandLoot {
  font-size: 14px;
}

.floatingIslandsAdventureBoardSkyMap-islandMod .floatingIslandsHUD-mod.fog_shrine:first-child,
.floatingIslandsAdventureBoardSkyMap-islandMod .floatingIslandsHUD-mod.frost_shrine:first-child,
.floatingIslandsAdventureBoardSkyMap-islandMod .floatingIslandsHUD-mod.rain_shrine:first-child,
.floatingIslandsAdventureBoardSkyMap-islandMod .floatingIslandsHUD-mod.wind_shrine:first-child,
.floatingIslandsAdventureBoardSkyMap-islandMod .floatingIslandsHUD-mod.paragon_cache_a:first-child,
.floatingIslandsAdventureBoardSkyMap-islandMod .floatingIslandsHUD-mod.paragon_cache_b:first-child,
.floatingIslandsAdventureBoardSkyMap-islandMod .floatingIslandsHUD-mod.paragon_cache_c:first-child,
.floatingIslandsAdventureBoardSkyMap-islandMod .floatingIslandsHUD-mod.paragon_cache_d:first-child {
  background-position-y: 0;
  border-radius: 3px;
  box-shadow:
    inset 0 0 13px 3px #ffd700,
    2px 0 1px 0 #ffd700;
}

.floatingIslandsAdventureBoardSkyMap-horizontalPowerTypes .floatingIslandsHUD-powerType.active::before {
  border-radius: 5px 5px 50px 50px;
  box-shadow: 0 0 20px #ffd700 inset;
}

.floatingIslandsAdventureBoardSkyMap-verticalPowerTypes .floatingIslandsHUD-powerType.active::before {
  top: 1px;
  border-radius: 50px 5px 5px 50px;
  box-shadow: 0 0 20px #ffd700 inset;
}

.floatingIslandsHUD-modPanel.fog_shrine:hover::before,
.floatingIslandsHUD-modPanel.frost_shrine:hover::before,
.floatingIslandsHUD-modPanel.rain_shrine:hover::before,
.floatingIslandsHUD-modPanel.wind_shrine:hover::before {
  position: absolute;
  right: 7px;
  bottom: 6px;
  left: 7px;
  z-index: 1;
  display: flex;
  justify-content: center;
  height: auto;
  padding: 1px;
  font-size: 16px;
  font-variant: small-caps;
  color: #0c3e0e;
  text-shadow: none;
  white-space: nowrap;
  content: "";
  background-color: #d1e19d;
}

.floatingIslandsHUD-modPanel.fog_shrine:hover::before {
  content: "Fog";
}

.floatingIslandsHUD-modPanel.frost_shrine:hover::before {
  content: "Frost";
}

.floatingIslandsHUD-modPanel.rain_shrine:hover::before {
  content: "Rain";
}

.floatingIslandsHUD-modPanel.wind_shrine:hover::before {
  content: "Wind";
}

span.floatingIslandsHUD-huntsRemaining {
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 2px 4px;
  font-size: 16px;
}

.floatingIslandsHUD-huntsRemainingContainer {
  top: -1px;
}

.floatingIslandsHUD-islandTitle {
  top: -3px;
  font-size: 15px;
  text-shadow: none;
}

.floatingIslandsHUD-bait-quantity,
.floatingIslandsHUD-bait-craftingItem-quantity {
  padding-right: 4px;
  font-size: 11px;
}

.floatingIslandsHUD-craftingItem-quantity.quantity {
  font-size: 13px;
}

.floatingIslandsHUD-craftingItem.show-progress .floatingIslandsHUD-craftingItem-quantity.quantity {
  font-size: 11px;
}

.floatingIslandsHUD.island .floatingIslandsHUD-airshipContainer {
  top: 70px;
  left: 524px;
  z-index: 14;
  filter: drop-shadow(0 0 6px #fbe7a4);
  transform: scale(2);
}

.floatingIslandsWorkshop-part-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 15px;
  font-size: 11px;
  text-shadow: none;
}

.floatingIslandsHUD-fuel-quantity.quantity {
  top: 31px;
  right: 0;
  left: 0;
  width: auto;
  padding: 4px;
  margin-right: 8px;
  margin-left: 7px;
  font-size: 14px;
  pointer-events: none;
  background: linear-gradient(218deg, #7baabd, #568295);
  border-radius: 3px;
  box-shadow:
    inset 0 0 2px 2px #09577f,
    0 2px 8px 1px #78aabd;
}

.floatingIslandsHUD-fuel-quantity.quantity:hover,
.floatingIslandsHUD-fuel-quantity.quantity:focus {
  cursor: pointer;
}

.floatingIslandsHUD-fuel-quantity.quantity.active {
  background: linear-gradient(218deg, #0e8eeb 0%, #28eeff 100%);
  box-shadow:
    0 0 2px 2px #09577f inset,
    0 2px 7px 1px #37feff;
}

.floatingIslandsHUD-retreatButton,
.floatingIslandsHUD-retreatButton.disabled,
.floatingIslandsHUD.enemyActive .floatingIslandsHUD-retreatButton {
  margin-top: -1px;
  color: #b0a06c !important;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.floatingIslandsHUD-retreatButton:hover,
.floatingIslandsHUD-retreatButton.disabled:hover,
.floatingIslandsHUD.enemyActive .floatingIslandsHUD-retreatButton:hover,
.floatingIslandsHUD-retreatButton:focus,
.floatingIslandsHUD-retreatButton.disabled:focus,
.floatingIslandsHUD.enemyActive .floatingIslandsHUD-retreatButton:focus {
  color: #fce698 !important;
  background: none;
}

.floatingIslandsHUD-craftingItem-quantity.quantity,
.floatingIslandsHUD-islandLoot,
.floatingIslandsHUD-modPanel-effect {
  text-shadow: 1px 1px 1px #242424;
}

.floatingIslandsHUD-modPanel.active .floatingIslandsHUD-modPanel-effect,
.floatingIslandsHUD-modPanel.complete .floatingIslandsHUD-modPanel-effect {
  color: #0c3e0e;
  text-shadow: 1px 1px 1px #9ab59a;
}

/* Fancy countdown */
.mh-ui-fi-enemy-countdown {
  position: absolute;
  top: 0;
  bottom: -2px;
  left: -1px;
  z-index: 4;
  width: auto;
  min-width: 70px;
  padding-right: 2px;
  padding-left: 6px;
  font-size: 11px;
  line-height: 26px;
  white-space: nowrap;
  background-color: #51250a;
  border-radius: 6px 5px 5px 0;
  box-shadow:
    1px -1px 0 0 #b2630e,
    inset 1px 0 0 1px #7d5430;
}

span.mh-ui-fi-enemy-countdown-hunts {
  font-size: 14px;
  color: #fbe296;
  text-shadow: 1px 1px 1px #000;
  vertical-align: top;
}

.mh-ui-fi-enemy-name {
  position: absolute;
  top: 33px;
  right: 24px;
  left: 26px;
  height: 12px;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 4px;
  text-align: center;
  background: linear-gradient(90deg, #ecc37d 0%, #fde89a 18%, #fde89a 64%, #f2cf86 100%);
  border: 1px solid #b15d18;
  border-top: none;
  border-radius: 19px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 1px 1px 0 #d78c34;
}

.floatingIslandsHUD.enemyActive .floatingIslandsHUD-enemyContainer.hasEnemy .floatingIslandsHUD-enemy-thumb {
  box-shadow: 0 0 4px 3px #fb7660;
}

.floatingIslandsHUD.enemyActive .floatingIslandsHUD-goalContainer .floatingIslandsHUD-enemy-state.enemyActive {
  margin-right: 4px;
  color: #fb7660;
}

.floatingIslandsHUD-fuelContainer:hover {
  filter: brightness(1.2);
}

/* make tooltips wait before showing */
.mousehuntTooltip {
  transition-delay: 0.5s;
}

.floatingIslandsHUD-craftingItem.show-progress {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 3px;
}

.mh-ui-fi-glore-progress {
  margin-left: 2px;
  font-size: 9px;
  text-shadow: 1px 1px 1px #242424;
}

.floatingIslandPaperDoll-mod {
  pointer-events: none;
}

.floatingIslandsAdventureBoardSkyMap-rerollQuantity.quantity {
  font-size: 13px;
}

.floatingIslandsAdventureBoardSkyPalace-wheel-face.loot_cache.real.active {
  margin-left: 1px;
  border-radius: 5px;
  box-shadow: 0 0 13px 2px #ffd700 inset;
}

.floatingIslandsAdventureBoardSkyMap-fuel-quantity {
  padding: 2px;
  margin-top: -2px;
  margin-left: -2px;
  font-size: 13px;
  background-color: #302636;
  border-radius: 3px;
}

.floatingIslandsAdventureBoard-paragonItem.mousehuntTooltipParent {
  font-size: 14px;
}

a.floatingIslandsHUD-flightLogButton.mousehuntTooltipParent {
  top: 2px;
  left: 490px;
  background-image: url(https://i.mouse.rip/upscaled/flight_log_button.png?1);
  background-size: cover;
  transform: scale(1.2);
  transform-origin: left;
}

.floatingIslandsHUD.island .floatingIslandsHUD-bait.sky_cheese.skyCheeseWarning::after {
  top: -10px;
  left: -9px;
  width: 30px;
  height: 30px;
}

.floatingIslandsHUD.island .floatingIslandsHUD-bait.skyCheeseWarning .floatingIslandsHUD-bait-image.sky_cheese {
  box-shadow: inset 0 0 10px 3px #ff1b00;
}

.floatingIslandsHUD-enemy-tooltip .floatingIslandsHUD-wardenShrine-status {
  padding-left: 3px;
  font-size: 13px;
  text-align: center;
  background-position: 10px 20px;
}

a.floatingIslandsHUD-islandLoot:hover,
a.floatingIslandsHUD-islandLoot:focus {
  z-index: 5;
}

.floatingIslandsAirship.highlight .floatingIslandsAirship-part {
  transform: scale(1.1) rotate(2deg);
}

.floatingIslandsHUD-enemyContainer:hover .floatingIslandsHUD-enemy-thumb {
  box-shadow: inset 1px -1px 5px 7px #fb7660;
}

.floatingIslandsHUD-enemy-thumbContainer {
  overflow: hidden;
}

.floatingIslandsAdventureBoard-info span {
  line-height: 1.5;
}

.floatingIslandsHUD-jetstream {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 15;
  width: 30px;
  height: 30px;
}

.floatingIslandsHUD.island .floatingIslandsHUD-airship-animationBoundary {
  z-index: 14;
}

.floatingIslandsHUD-jetstream .mousehuntTooltip {
  z-index: 20;
}

.launch_pad_island .floatingIslandsHUD-jetstream {
  top: 12px;
  right: 47px;
}

.floatingIslandsHUD-jetstream .trapImageView-trapAura.active {
  width: 30px;
  height: 30px;
  margin: 0;
  visibility: visible;
  opacity: 0.5;
}

.floatingIslandsHUD-jetstream .trapImageView-trapAura.active:hover {
  opacity: 1;
}

.floatingIslandsHUD-jetstream .trapImageView-trapAura.active .mousehuntTooltip {
  top: -20px;
  left: -250px;
  z-index: 15;
  width: 235px;
}

.floatingIslandsHUD-jetstream-time {
  position: absolute;
  top: -20px;
  right: 0;
  width: auto;
  min-width: 250px;
  font-size: 13px;
  color: #71d0ff;
  text-align: right;
  text-shadow: 1px 1px 0 rgb(0 0 0 / 50%);
}

.launch_pad_island .floatingIslandsHUD-jetstream-time {
  right: -30px;
}

.floatingIslandsHUD-inventoryBag-item .floatingIslandsHUD-item-image,
.floatingIslandsHUD-inventoryBag-item.active .floatingIslandsHUD-item-image {
  height: 50px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.floatingIslandsHUD-inventoryBag-item:hover .floatingIslandsHUD-item-image {
  background-size: 55px;
}

.inventoryBag .floatingIslandsHUD-inventoryBag-item-quantity.quantity {
  top: 35px;
  padding: 2px;
  font-size: 12px;
  box-shadow:
    0 0 100px rgb(255 255 255 / 80%) inset,
    0 0 2px #333;
}

.floatingIslandsHUD-statItem-quantity {
  z-index: 1;
}

.inventoryBag .floatingIslandsHUD-inventoryBag-item-name {
  margin: 5px 0;
  font-size: 10px;
}

.floatingIslandPaperDoll-mod.sky_pirates.level_1 {
  animation: dirigibleFloat 5s infinite;
}

.floatingIslandsWorkshop-dirigiblePreview .floatingIslandsAirship::before {
  position: absolute;
  top: 45px;
  right: -10px;
  left: -30px;
  display: block;
  height: 170px;
  overflow: hidden;
  content: "";
  background: url(https://i.mouse.rip/airship-shadow.png) no-repeat;
  background-position: bottom center;
  background-size: 190px;
  opacity: 0.2;
  transform: perspective(600px) rotateX(67deg);
}

.floatingIslandsWorkshop-dirigiblePreview .floatingIslandsAirship.animate::before {
  animation: mh-improved-dirigible-float-shadow 2s infinite;
}

@keyframes mh-improved-dirigible-float-shadow {
  0% {
    top: 45px;
    background-size: 180px;
  }

  50% {
    top: 40px;
    background-size: 190px;
  }

  100% {
    top: 45px;
    background-size: 180px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .floatingIslandPaperDoll-mod {
    animation: none;
  }

  .floatingIslandsWorkshop-dirigiblePreview .floatingIslandsAirship::before {
    animation: none;
  }
}

.floatingIslandsHUD-warningContainer {
  top: 20px;
  left: 548px;
}

.floatingIslandsHUD-statItemContainer {
  left: 250px;
  justify-content: space-evenly;
  width: 350px;
}

.floatingIslandsHUD-inventoryBagButton {
  right: 110px;
  background-image: url(https://i.mouse.rip/fi-bag.png);
}

.floatingIslandsHUD-statItem.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.floatingIslandsHUD-bait-image {
  inset: 1px;
  background-repeat: no-repeat;
  background-size: 32px;
  box-shadow:
    1px 1px 1px #b75d06 inset,
    1px 1px 1px #b75d06 inset;
}

a.floatingIslandsHUD-bait-image:hover {
  background-size: 32px;
  box-shadow: 0 0 2px 2px #10ff00 inset;
}

.floatingIslandsHUD-bait-craftingItem-image {
  background-repeat: no-repeat;
  background-position: 1px 2px;
  background-size: 23px;
  box-shadow:
    1px 1px 1px #b75d06 inset,
    1px 1px 1px #b75d06 inset,
    1px -1px 1px 0 #b75d06 inset;
}

.sky_pirate_cheese .floatingIslandsHUD-bait-craftingItem-image {
  background-position: 1px 0;
  background-size: 22px;
  box-shadow:
    1px 1px 1px #b75d06 inset,
    1px 1px 1px #b75d06 inset;
}

.floatingIslandsHUD-bait.sky_cheese.extra_rich_sky_cheese .floatingIslandsHUD-bait-craftingItem-image {
  top: 24px;
}

.floatingIslandsHUD-bait.sky_cheese.extra_rich_sky_cheese .floatingIslandsHUD-bait-image.extra_rich_sky_cheese {
  background-position: 3px 4px;
  background-size: 29px;
}

.floatingIslandsWorkshop-dirigiblePreview .floatingIslandsAirship-part {
  top: -10px;
  background-repeat: no-repeat;
}

.floatingIslandsWorkshop-part.active .floatingIslandsWorkshop-part-border,
.floatingIslandsWorkshop-part:hover .floatingIslandsWorkshop-part-border {
  background-color: #fcfcef;
  border: 1px solid #edd28a;
}

.floatingIslandsWorkshop-part.active {
  order: -1;
}

.floatingIslandsWorkshop-part.active .floatingIslandsWorkshop-part-border::after {
  border-width: 2px;
}

.floatingIslandsWorkshop-part-state.active .mousehuntActionButton.selected,
.floatingIslandsWorkshop-part-state.active .mousehuntActionButton.selected::before {
  background: none;
  border: none;
  box-shadow: none;
}

.floatingIslandsWorkshop-part-state.active .mousehuntActionButton span {
  font-style: normal;
}

.floatingIslandsWorkshop-part .floatingIslandsWorkshop-part-border {
  border: 1px solid #edd28a;
  box-shadow: inset 0 -1px 5px 2px #edd28a;
}

.floatingIslandsWorkshop-part-state .mousehuntActionButton.lightBlue {
  box-shadow: none;
}

.floatingIslandsWorkshop-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.floatingIslandsHUD .floatingIslandsHUD-enemyContainer.hasEnemy:hover .floatingIslandsHUD-enemy-thumb {
  transform: scale(1.3);
}

.floatingIslandsHUD .floatingIslandsHUD-enemyContainer.hasEnemy:active .floatingIslandsHUD-enemy-thumb {
  transform: scale(1.3) rotate(360deg);
}

.floatingIslandsHUD .floatingIslandsHUD-enemyContainer.hasEnemy .floatingIslandsHUD-enemy-thumb {
  transition: 0.2s ease-in;
}

.floatingIslandsHUD-modPanelTooltip-islandEffects.active .floatingIslandsHUD-modPanelTooltip-effectContainer.specialEffect::after,
.floatingIslandsHUD-modPanelTooltip-islandEffects.active .floatingIslandsHUD-modPanelTooltip-effectContainer.reward::after,
.floatingIslandsHUD-modPanelTooltip-islandEffects.complete .floatingIslandsHUD-modPanelTooltip-effectContainer.specialEffect::after,
.floatingIslandsHUD-modPanelTooltip-islandEffects.complete .floatingIslandsHUD-modPanelTooltip-effectContainer.reward::after,
.floatingIslandsHUD-modPanelTooltip-islandEffects.complete .floatingIslandsHUD-modPanelTooltip-effectContainer.oneTimeReward::after {
  bottom: 3px;
}

.floatingIslandsHUD-modPanelTooltip-effect {
  font-size: 12px;
  text-align: center;
}

.floatingIslandsHUD-item-image.cloud_curd_crafting_item {
  margin-right: 3px;
  background-position: 50% 10%;
  background-size: 30px;
}

.floatingIslandsHUD-modPanelTooltip .floatingIslandsHUD-item-image.cloud_curd_crafting_item {
  background-position: 50% 2px;
}

.floatingIslandsHUD-bait.sky_cheese.extra_rich_sky_cheese .floatingIslandsHUD-bait-quantity.sky_cheese {
  top: 8px;
}

.floatingIslandsHUD-navigationButtons.showSkyPalace .floatingIslandsHUD-skyPalaceFuel .quantity {
  font-size: 13px;
}

.floatingIslandsAdventureBoardSkyMap-rerollButton {
  animation: mh-improved-fade-busy 3s 1;
}

.floatingIslandsAdventureBoardSkyMap-rerollButton.busy {
  pointer-events: none;
  animation: none;
}

.floatingIslandsHUD-modPanel.highlight::after {
  border: 1px solid #f1dc8a;
  box-shadow: 0 0 3px 3px #ffdcbe inset;
}

.floatingIslandsHUD-modPanelTooltip-effect-label {
  color: #f4d78c;
  text-align: center;
  text-shadow: 1px 1px 1px #754426;
}

.floatingIslandsHUD-statItem {
  width: auto;
}

.floatingIslandsWorkshop-unlockButton.complete,
.floatingIslandsWorkshop-unlockSkyPalaceItemButton.complete {
  filter: hue-rotate(300deg);
}

.floatingIslandsWorkshop-unlockSkyPalaceItemButton {
  top: unset;
  bottom: 21px;
  left: 340px;
  width: 100%;
  height: 37px;
  background-size: 110px;
}

.floatingIslandsWorkshop-skyPalace:hover .floatingIslandsWorkshop-skyPalace-upgradeImage.active {
  animation-name: mh-improved-shake;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.floatingIslandsHUD-modPanel-progress-pip {
  box-shadow: inset 0 0 2px 1px #6c3718;
}

.floatingIslandsHUD-modPanel-progress-pip.active,
.floatingIslandsHUD-modPanel-progress-pip.enemy,
.floatingIslandsHUD-modPanel-progress-pip.player {
  box-shadow: none;
}

.floatingIslandsHUD-statItem.active.hidden {
  display: none;
}

.floatingIslandsHUD.island .floatingIslandsHUD-trapLibraryButton:hover {
  cursor: pointer;
}

/* Counters */
.floatingIslandsHUD-modPanel-progress,
.floatingIslandsHUD-modPanel-progress-pip.player::before {
  counter-reset: tile tile-bw;
}

.floatingIslandsHUD-modPanel-progress-pip::before {
  position: absolute;
  right: -3px;
  bottom: 18px;
  font-size: 14px;
  text-shadow: 1px 1px #000;
  visibility: hidden;
  content: "";
  counter-increment: tile 1;
}

.usingFuel .floatingIslandsHUD-modPanel-progress-pip:nth-child(odd)::before {
  counter-increment: tile-bw;
}

.floatingIslandsHUD-modPanel-progress-pip.enemy::before,
.floatingIslandsHUD-modPanel-progress-pip.current::before {
  counter-increment: tile -1;
}

.usingFuel .floatingIslandsHUD-modPanel-progress-pip.current::before {
  counter-increment: tile-bw -1;
}

.usingFuel .floatingIslandsHUD-modPanel-progress-pip.enemy::before {
  counter-increment: tile 1;
}

/* counter display */
.active .floatingIslandsHUD-modPanel-progress-pip::before {
  text-shadow: 1px 1px #fff;
}

.usingFuel .floatingIslandsHUD-modPanel-progress-pip::before {
  color: #e0f8fa;
}

.usingFuel .active .floatingIslandsHUD-modPanel-progress-pip::before {
  color: #023a56;
}

.floatingIslandsHUD-modPanel-content:hover .floatingIslandsHUD-modPanel.active .floatingIslandsHUD-modPanel-progress-pip:last-child::before {
  visibility: visible;
  content: counter(tile);
}

.usingFuel .floatingIslandsHUD-modPanel-progress-pip:last-child::before {
  content: counter(tile);
}

.complete .floatingIslandsHUD-modPanel-progress-pip::before {
  visibility: hidden;
}

.floatingIslandsAdventureBoardSkyMap-rerollImage::after {
  top: 3px;
  background-image: url(https://i.mouse.rip/cyclone-stone.png);
}

.floatingIslandsAdventureBoardSkyMap-rerollButton:hover {
  border-radius: 5px;
  box-shadow: inset 0 0 2px 1px #587565;
}

.floatingIslandsAdventureBoardSkyMap-verticalPowerTypes .floatingIslandsHUD-powerType.active::after,
.floatingIslandsAdventureBoardSkyMap-horizontalPowerTypes .floatingIslandsHUD-powerType.active::after {
  border-color: transparent;
}

.floatingIslandsHUD-enemy-wardenProgress {
  top: -11px;
}

.floatingIslandsHUD-inventoryBagButton:hover {
  background-position-y: -1%;
}

.floatingIslandsHUD-modPanelTooltipContainer.active {
  z-index: 17;
}
