.actionportfolio,
.canShare .larryTip,
.journalactions a[data-share-type="journal"],
.journalactions a[data-type="journal"],
.pageSidebarView .fb-page,
.socialLink,
*[src="https://www.mousehuntgame.com//images/ui/buttons/share_green.gif"],
#jsDialog-publishToOwnWall,
.publishToWall,
#OnboardArrow.onboardPopup.top .canShare .larryTip img {
  display: none;
}

#OnboardArrow.onboardPopup.canShare .shareButton {
  display: none !important;
}

#OnboardArrow.onboardPopup.canShare .closeButton {
  top: 205px;
  right: 43px;
  left: unset;
  z-index: 2;
}

#OnboardArrow.onboardPopup.top .canShare .larryTip {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
}
