.headsup .cheeseped a.baiticon img {
  height: 45px;
}

.headsup .cheeseped a.baiticon {
  top: -4px;
  right: 2px;
}

span.hud_titlePercentage::after {
  content: "%";
}

.mousehuntHud-userStat.bait:hover .value,
.mousehuntHud-userStat.trinket:hover .value,
.mousehuntHud-userStat.treasureMap:hover .value {
  margin-top: 0;
}
