.teamPage-memberRow-identity .teamPage-member-nameContainer {
  width: auto;
}

.tournamentPage-tournamentContainer-customPrizes {
  display: none;
}

.tournamentPage-tournamentContainer-name {
  margin-bottom: 5px;
  font-size: 12px;
}

.tournamentPage-tournamentContainer-description {
  padding-top: 2px;
  font-size: 9px;
}

.train .tournamentPage-tournamentContainer-description {
  max-height: 35px;
  padding-right: 10px;
  font-size: 9px;
  line-height: 10px;
}

.tournamentPage-tournamentRow .tournamentPage-tournamentContainer-icon {
  display: none;
}

.tournamentPage-tournament-column.label {
  text-align: center;
}

.tournamentPage-tournament-column.label.nameIcon {
  text-align: left;
}

.tournamentPage-tournamentContainer-labels .tournamentPage-tournament-column:nth-child(6) {
  display: none;
}

.tournamentPage-tournament-column.members_5 .tournamentPage-tournament-teamMember {
  display: block;
  width: 19.6px;
  height: 19.6px;
}

.tournamentPage-tournament-column.value.teamMembers.members_5 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.tournamentPage-tournament-column.members_5 .tournamentPage-tournament-teamMember.empty::after {
  margin-top: 4px;
  margin-left: -5px;
}

.tournamentPage-tournamentContainer-labels {
  display: grid;
  grid-template-columns: 305px 100px 80px 55px;
  justify-items: stretch;
  margin-left: 15px;
}

.tournamentPage-tournament-column .tournamentPage-tournament-teamMember:is(.empty) {
  color: transparent;
}

.tournamentPage-tournament-column .tournamentPage-tournament-teamMember.empty::before {
  content: counter(team);
  counter-increment: team;
}

.tournamentPage-tournament-column.value.teamMembers {
  counter-reset: team;
}

.tournamentPage-tournament-column .tournamentPage-tournament-teamMember.empty:last-child::before {
  position: absolute;
  top: 4px;
  right: -1px;
  display: inline-block;
  width: 22px;
  height: 22px;
  font-size: 18px;
  line-height: 22px;
  color: #474747;
  background-color: #e5e5e5;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 0 #c7c7c7;
}

.tournamentPage-tournament-column.members_5 .tournamentPage-tournament-teamMember.empty:last-child::before {
  top: -2px;
  right: -4px;
  width: 21px;
  height: 21px;
  font-size: 17px;
  line-height: 20px;
}

.tournamentPage-tournament-column.label,
a.tournamentPage-tournament-column.icon,
a.tournamentPage-tournament-column.name,
.tournamentPage-tournament-column.value,
.tournamentPage-tournament-column.actions {
  width: auto;
}

.tournamentPage-tournamentRow {
  display: grid;
  grid-template-columns: 0 300px 1fr 1fr 20px 100px 70px;
  gap: 10px;
  place-items: center stretch;
  padding: 5px 10px 5px 0;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
}

.tournamentPage-tournament-column.label.teamMembers {
  display: none;
  text-align: center;
}

.tournamentPage-tournamentRow.train .tournamentPage-tournamentContainer-icon,
.tournamentPage-tournamentContainer-icon {
  width: 30px;
  height: 30px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: unset;
  background-size: contain;
}

.tournamentPage-profile-summaryContainer {
  min-height: 100px;
  padding-left: 130px;
  margin-right: 20px;
  margin-left: 20px;
  background-size: contain;
}

.tournamentPage-profile-description {
  display: grid;
  grid-template-columns: 1fr 125px;
  place-items: center end;
  min-height: 50px;
  font-size: 13px;
  line-height: 20px;
}

.tournamentPage-profile-action {
  display: block;
  order: 2;
  float: none;
  font-size: 14px;
}

.tournamentPage-profile-prizeWaiting {
  display: grid;
  grid-template-columns: 1fr 100px;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin: 20px 0;
  font-size: 18px;
  font-weight: 400;
}

.tournamentPage-tournamentHeader {
  background: #efe9df;
  border: 1px solid #af9969;
  box-shadow: inset 1px 1px 1px #e2d6b5;
}

.tournamentPage-viewState .mousehuntTabContentContainer {
  background: #efe9df;
  border: 1px solid #af9969;
  box-shadow: inset 1px 1px 1px #e2d6b5;
}

.tournamentPage-profile-details-rules h2:first-of-type {
  display: none;
}

img.tournamentPage-profile-details-rules-icon {
  display: none;
}

.tournamentPage-profile-details-rules br:first-of-type::after,
.tournamentPage-profile-details-rules br:first-of-type::before {
  display: block;
}

.tournamentPage-profile-details-generalRules ul li:nth-of-type(2),
.tournamentPage-profile-details-generalRules ul li:nth-of-type(3) {
  display: none;
}

.tournamentPage-profile-details-generalRules ul {
  margin: 0 0 0 15px;
  list-style: disc;
}

.tournamentPage-profile-details-generalRules-title {
  display: none;
}

.tournamentPage-profile-summary {
  height: auto;
  min-height: 135px;
  background-color: #f6f3eb;
  border: 1px solid #cbc6bb;
  border-radius: 5px;
  box-shadow: inset -1px -1px 1px #d3cecb;
}

.tournamentPage-tournamentHeader,
.tournamentPage-viewState .mousehuntTabContentContainer {
  background-color: #f6f3eb;
  border: 1px solid #cbc6bb;
  border-radius: 5px;
  box-shadow: inset -1px -1px 1px #d3cecb;
}

.tournamentPage-viewState .mousehuntTabHeader span {
  margin-bottom: 1px;
  background: #f6f3eb;
  border: 1px solid #cbc6bb;
  box-shadow: none;
}

.tournamentPage-viewState .mousehuntTabHeader.active span,
.tournamentPage-viewState .mousehuntTabHeader span:hover,
.tournamentPage-viewState .mousehuntTabHeader span:focus {
  border-bottom: none;
}

.tournamentPage-viewState .mousehuntTabHeader::before {
  background: none;
  box-shadow: none;
}

.tournamentPage-viewState .mousehuntTabHeader.active span,
.tournamentPage-viewState .mousehuntTabHeader:hover span {
  border-bottom: 1px solid #f6f3eb;
}

.tournamentPage-profile-details-rewardContainer h2 {
  display: none;
}

.tournamentPage-profile-details-rewardContainer > div:last-child {
  display: none;
}

.tournamentPage-profile-details-rewardContainer {
  background-color: transparent;
}

.tournamentPage-profile-details-padding {
  position: relative;
  background-color: #f6f3eb;
}

.tournamentPage-profile-details-reward-name {
  padding-bottom: 20px;
  margin-left: 30px;
  font-weight: 400;
}

.tournamentPage-profile-details-padding div:nth-child(2) {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  margin-left: 0;
  color: transparent;
  background-size: contain;
}

.tournamentPage-profile-details-reward-item {
  margin-left: 5px;
  mix-blend-mode: multiply;
}

.tournamentPage-profile-details-environmentContainer {
  position: absolute;
  right: 0;
  bottom: -10px;
  display: flex;
  flex-flow: row wrap;
  place-content: center center;
  align-items: stretch;
  width: 290px;
  padding-top: 10px;
  background-color: #f6f3eb;
  border: 1px solid #cbc6bb;
  border-radius: 5px;
  box-shadow: inset -1px -1px 1px #d3cecb;
}

.tournamentPage-profile-details-rules h2 {
  display: none;
  padding-bottom: 11px;
}

.tournamentPage-profile-details-generalRules {
  width: 270px;
  font-size: 11px;
  background-color: #f6f3eb;
  border: 1px solid #cbc6bb;
  border-radius: 5px;
  box-shadow: inset -1px -1px 1px #d3cecb;
}

.tournamentPage-profile-details-environmentWarning {
  display: none;
}

.tournamentPage-profile-details-rules {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 12px;
}

.tournamentPage-profile-details-mouseGroup {
  width: auto;
  padding: 10px;
  margin: 0;
  background-color: #f6f3eb;
  border: 1px solid #cbc6bb;
  border-radius: 5px;
  box-shadow: inset -1px -1px 1px #d3cecb;
}

h2.tournamentPage-profile-details-mouseGroup-name {
  padding-left: 32px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 900;
}

.tournamentPage-profile-details-mouseGroup-miceContainer {
  display: flex;
  flex-flow: column wrap;
  margin: 0;
}

.tournamentPage-profile-details-mice {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.tournamentHelp.clear-block img {
  display: none;
}

.tournamentPage-profile-details-mouseGroup-mouse {
  width: 100%;
}

.tournamentStatusHud .score,
.tournamentStatusHud .rank {
  padding: 15px;
  margin: -15px;
}

.teamMembers:hover .memberHover,
.rank:hover .scoreHover {
  display: block;
}

.score:hover .pointsHover {
  display: grid;
}

.memberHover,
.scoreHover,
.pointsHover {
  position: absolute;
  top: 90%;
  left: -50%;
  z-index: 31;
  display: none;
  width: 275px;
  color: #4e300b;
  background-color: #f6f3eb;
  border: 1px solid #cbc6bb;
  border-radius: 5px;
  box-shadow: inset -1px -1px 1px #d3cecb, 1px 3px 3px 0 #939393;
}

.pointsHover {
  left: -130%;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: stretch stretch;
  width: auto;
}

.scoreRow {
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  place-items: center start;
  padding: 5px;
  margin-bottom: 5px;
}

.pointsTotal {
  text-align: center;
}

img.memberImage {
  width: 20px;
  height: 20px;
  padding: 5px;
}

.memberRow {
  display: flex;
  padding: 2px;
}

.memberHover {
  left: 0;
  width: auto;
  min-width: 120px;
  padding: 5px;
}

.memberRow:nth-child(even) {
  background-color: #e8e4d6;
}

.scoreRow:nth-child(even) {
  background-color: #e5e0de;
}

.scoreIcon {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  overflow: hidden;
  border-radius: 7px;
}

.scoreIcon div {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}

.teamWrapper {
  display: flex;
  align-items: center;
}

.scorePoints {
  justify-self: end;
}

.pointsRow {
  width: 150px;
  border: 1px solid #cbc6bb;
}

img.pointsMouseIcon {
  width: 15px;
  height: 15px;
  margin-right: 4px;
  margin-bottom: 3px;
}

.pointsMouseWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.pointsMouseName {
  font-size: 11px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pointsMice {
  padding: 5px;
}

.pointsTitle {
  padding: 5px 0;
  font-size: 12px;
  text-align: center;
}

.tournamentStatusHud .rank span,
.tournamentStatusHud .score span {
  display: inline-block;
  font-size: 13px;
  line-height: 12px;
}

.tournamentStatusHud a.name,
.tournamentStatusHud a.name:visited,
.tournamentStatusHud a.name:hover,
.tournamentStatusHud a.name:focus {
  left: 33px;
  font-size: 12px;
}

.tournamentStatusHud .timer, .tournamentStatusHud.pending .timer {
  top: 0;
  left: 241px;
  width: auto;
  padding-top: 3px;
  padding-right: 10px;
  font-size: 11px;
  line-height: initial;
  color: #000;
  background: linear-gradient(166deg, #b4d3da 0%, #acc3ca 50%, #b4d3da 96%);
  background-color: #acc3ca;
  border-top-right-radius: 15px;
}

.tournamentStatusHud .title {
  display: none;
}

.tournament-normal-time.tournament-time-display-hover {
  position: absolute;
  inset: 0 -30px;
  z-index: 6;
  display: none;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
  background-color: #f1f1f1;
  border: 1px solid #3c3c3c;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 0 #191919, 0 0 5px 5px #fff;
}

.tournamentPage-tournament-column.value:hover .tournament-time-display-hover {
  display: block;
}

.tournamentPage-tournamentRow.tournamentPage-tournamentData .tournamentPage-tournament-column.value:nth-child(3), .tournamentPage-tournamentRow.tournamentPage-tournamentData .tournamentPage-tournament-column.value:nth-child(4) {
  height: auto;
  min-height: 25px;
}

.tournament-normal-time.tournament-time-display-inline {
  margin-top: 4px;
}

.tournamentPage-tournamentRow:hover::before {
  box-shadow: none;
}

.tournamentPage-tournamentRow:hover {
  background-color: #ececec;
}

.tournamentPage-tournamentRow.signed_up::before {
  background-color: transparent;
  box-shadow: none;
}

.tournamentPage-tournamentRow.tournamentPage-tournamentData.signed_up {
  background-color: #feff8d;
}

.tournamentPage-tournamentRow.tournamentPage-tournamentData.signed_up:hover {
  background-color: #ffda2f;
}
