.sunkenCityHud .leftSidebar {
  border: 1px solid #333;
}

.sunkenCityHud .leftSidebar .craftingItems {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 98px;
  padding: 0;
  border-color: #7e7e7e;
  border-radius: 0;
}

.sunkenCityHud .leftSidebar .craftingItems a {
  line-height: initial;
  border-bottom: 1px solid #7e7e7e;
  border-radius: 0;
}

.sunkenCityHud .leftSidebar .craftingItems a:first-child {
  margin-top: -3px;
}

.sunkenCityHud .leftSidebar .craftingItems a:last-child {
  border-bottom: none;
}

.sunkenCityHud .leftSidebar .craftingItems a img {
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

.sunkenCityHud .leftSidebar .craftingItems a .item.quantity {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
}

.sunkenCityHud .sunkenCharms {
  top: 0;
  right: 131px;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center stretch;
  padding-right: 3px;
  background: #333;
  border: 1px solid #7e7e7e;
  border-radius: 5px 0 0 5px;
}

.sunkenCityHud .sunkenCharms a {
  position: initial;
  padding: 0 1px;
  margin-left: 2px;
  background-color: #646465;
  border: none;
  border-radius: 9px;
}

.sunkenCityHud .sunkenCharms a.active {
  margin-left: 2px;
  background-color: #19a0b8;
}

.sunkenCityHud .sunkenCharms a .toolTip {
  top: 10px;
  right: 130px;
  left: unset;
  font-size: 10px;
}

.sunkenCityHud .sunkenCharms a .toolTip .arrow {
  display: none;
}

.sunkenCityHud .sunkenCharms a:last-child,
.sunkenCityHud .sunkenCharms a:nth-child(5) {
  border-bottom: none;
}

.sunkenCityHud .sunkenCharms a .itemImage {
  float: none;
  width: unset;
  height: unset;
}

.sunkenCityHud .sunkenCharms a .clear-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sunkenCityHud .sunkenCharms a .quantity {
  margin-left: 3px;
  font-size: 13px;
  line-height: initial;
}

.sunkenCityHud .sunkenCharms a .itemImage img {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.sunkenCityHud .sunkenCharms a .armNow,
.sunkenCityHud .sunkenCharms a.disabled .armNow {
  display: none;
}

.sunkenCityHud .sidebar,
.sunkenCityHud .sidebarBox {
  width: 130px;
}

.sunkenCityHud .sidebar {
  height: 98px;
  border: 1px solid #7e7e7e;
  border-bottom-right-radius: 3px;
}

.sunkenCityHud .sidebar .oxygen {
  color: transparent;
}

.sunkenCityHud .sidebar .oxygen .item,
.sunkenCityHud .sidebar .oxygen .item.long {
  margin-left: 3px;
  font-size: 13px;
}

.sunkenCityHud .sidebar .oxygen .item::after {
  position: absolute;
  width: 25px;
  margin-left: 10px;
  font-size: 12px;
  color: #000;
  text-align: left;
  content: "O₂";
}

.sunkenCityHud .sidebar .diveButton {
  width: 35px;
  height: 20px;
  padding: 2px;
  margin-right: 3px;
  font-size: 9px;
  line-height: 22px;
  text-align: center;
  box-shadow: 3px 3px 3px #ee9d47 inset, -5px -5px 50px #c66c0c inset;
}

.sunkenCityHud .sidebarTitle {
  font-size: 14px;
  letter-spacing: 3px;
  background-color: #474747;
  border: none;
}

.sunkenCityHud .sidebarContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 39px;
  border: none;
}

.sunkenCityHud .sidebarContent .zoneName {
  padding-top: 0;
}

.sunkenCityHud .diveControls {
  display: flex;
  align-items: center;
  border-top: 1px solid #8b93a9;
  box-shadow: 0 0 20px #fff inset, 0 -6px 7px #4b587d inset;
}

.sunkenCityHud .baitWarning {
  bottom: 30%;
  left: 154px;
  width: 330px;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  background-color: #ffbfbf;
  border-radius: 10px;
  box-shadow: none;
}
