.message .messageText,
.journal .entry .journalbody {
  position: relative;
}

#friend-data-wrapper {
  position: absolute;
  top: -140px;
  right: -25px;
  z-index: 999999;
  width: 390px;
  border: 1px solid #9a8872;
  border-radius: 10px;
  box-shadow: 0 1px 5px -1px #5e5e5e;
}

#friend-data-wrapper .friendsPage-friendRow {
  margin-bottom: 0;
}

#friend-data-wrapper .friendsPage-friendRow-imageContainer {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-left: 5px;
  vertical-align: top;
}

#friend-data-wrapper .friendsPage-friendRow-content {
  width: 268px;
  min-height: 75px;
}

#friend-data-wrapper .friendsPage-friendRow-titleBar-icon {
  top: -7px;
  left: 0;
  height: 45px;
}

#friend-data-wrapper .friendsPage-friendRow-titleBar-name {
  font-size: 14px;
}

#friend-data-wrapper .friendsPage-friendRow-titleBar {
  padding-left: 50px;
}

#friend-data-wrapper .friendsPage-friendRow-titleBar-titleDetail {
  left: 50px;
}

#friend-data-wrapper .friendsPage-friendRow-environment-icon {
  margin-right: 7px;
  margin-left: -10px;
}

#friend-data-wrapper .friendsPage-friendRow-environment-name {
  font-size: 12px;
}

#friend-data-wrapper .friendsPage-friendRow .friendsPage-friendRow-actions {
  position: absolute;
  top: 38px;
  right: 3px;
}

#friend-data-wrapper .userInteractionButtonsView-button {
  width: 40px;
  height: 40px;
  background-size: 40px;
}

#friend-data-wrapper .mousehuntTooltip {
  position: absolute;
  left: -20px;
  width: auto;
  height: auto;
  background: #fff;
}

#friend-data-wrapper .mousehuntTooltip .userInteractionButtonsView-button-label {
  line-height: normal !important;
}

#friend-data-wrapper .friendsPage-friendRow-statsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  overflow: hidden;
}

#friend-data-wrapper .friendsPage-friendRow-stat {
  display: flex !important;
  align-items: center;
  width: auto;
  font-size: 9px;
}

.hunterInfoView-wrapper #friend-data-wrapper .friendsPage-friendRow-statsContainer .friendsPage-friendRow-stat-value {
  font-size: 9px;
  font-weight: 400;
}

#friend-data-wrapper .friendsPage-friendRow-stat-label,
#friend-data-wrapper .friendsPage-friendRow-stat.team {
  display: none !important;
}

#friend-data-wrapper .quickSendWrapper {
  top: -100px;
  right: 20px;
  left: -65px;
}

.notificationMessageList #friend-data-wrapper {
  left: -50px;
}
