.message .messageText,
.journal .entry .journalbody {
  position: relative;
}

#friend-data-wrapper {
  position: absolute;
  top: -125px;
  z-index: 999999;
  box-sizing: border-box;
  display: none;
  width: 325px;
  height: 125px;
  border: 1px solid #9a8872;
  border-radius: 10px;
  box-shadow: 0 1px 5px -1px #5e5e5e;
}

/* weird bug with the tooltip not showing up on the second hover */
.treasureMapTooltipView #friend-data-wrapper {
  display: none;
}

[data-friend-hover]:hover #friend-data-wrapper,
[data-friend-hover]:focus #friend-data-wrapper,
#friend-data-wrapper:hover,
#friend-data-wrapper:focus {
  display: block;
}

#friend-data-wrapper .friendsPage-friendRow {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  padding-top: 3px;
  margin: 0;
  border: none;
}

#friend-data-wrapper .friendsPage-friendRow-imageContainer {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 65px;
  margin-left: 5px;
  vertical-align: top;
}

#friend-data-wrapper .friendsPage-friendRow-content {
  box-sizing: border-box;
  width: 245px;
}

#friend-data-wrapper .friendsPage-friendRow-titleBar {
  position: relative;
  box-sizing: border-box;
  padding-left: 20px;
  margin-right: -8px;
  margin-bottom: 5px;
  margin-left: -15px;
  line-height: 20px;
}

#friend-data-wrapper .friendsPage-friendRow-titleBar-titleDetail {
  display: none;
}

#friend-data-wrapper .friendsPage-friendRow-titleBar-icon {
  left: 0;
  width: 35px;
  height: 35px;
}

#friend-data-wrapper .friendsPage-friendRow-titleBar-name {
  display: block;
  margin-left: 20px;
  overflow: hidden;
  font-size: 14px;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

#friend-data-wrapper .friendsPage-friendRow-environment-icon {
  width: 25px;
  height: 25px;
  margin-right: 3px;
}

#friend-data-wrapper .friendsPage-friendRow-environment-name {
  width: 100px;
  font-size: 11px;
  line-height: 14px;
}

#friend-data-wrapper .friendsPage-friendRow .friendsPage-friendRow-actions {
  position: absolute;
  top: 35px;
  right: 2px;
}

#friend-data-wrapper .friendsPage-friendRow-actionsContainer {
  top: 0;
}

#friend-data-wrapper .friendsPage-friendRow-actions-interactionButtons {
  padding-right: 0;
}

#friend-data-wrapper .userInteractionButtonsView-button {
  width: 38px;
  height: 38px;
  background-size: 38px;
}

#friend-data-wrapper .userInteractionButtonsView-button.sendTicket,
#friend-data-wrapper .userInteractionButtonsView-button.sendTournamentInvite {
  display: none;
}

#friend-data-wrapper .mousehuntTooltip {
  position: absolute;
  left: -20px;
  width: auto;
  height: auto;
  background: #fff;
}

#friend-data-wrapper .friendsPage-friendRow-environment {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 145px;
  height: 40px;
  padding-right: 10px;
  margin-left: -10px;
}

#friend-data-wrapper .friendsPage-friendRow-statsContainer {
  position: relative;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center center;
  align-content: stretch;
  width: 100%;
  height: auto;
  padding: 2px;
  margin: 0;
}

#friend-data-wrapper .friendsPage-friendRow-stat {
  display: flex !important;
  align-items: center;
  width: auto;
  margin: 0;
  font-size: 10px;
}

#friend-data-wrapper .friendsPage-friendRow-stat-icon {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

#friend-data-wrapper .friendsPage-friendRow-stat.map .friendsPage-friendRow-stat-icon,
#friend-data-wrapper .friendsPage-friendRow-stat.team .friendsPage-friendRow-stat-icon {
  margin-right: 3px;
}

#friend-data-wrapper .friendsPage-friendRow-stat-value {
  font-size: 10px;
  font-weight: 400;
}

#friend-data-wrapper .friendsPage-friendRow-stat-label {
  display: none;
}

#friend-data-wrapper .friendsPage-friendRow-stat.map {
  grid-column: span 2;
}

#friend-data-wrapper .friendsPage-friendRow-stat.map .friendsPage-friendRow-stat-value span,
#friend-data-wrapper .friendsPage-friendRow-stat.online span {
  width: auto;
  max-width: 190px;
}

#friend-data-wrapper .friendsPage-friendRow-stat.team .friendsPage-friendRow-stat-value a {
  width: auto;
  max-width: 70px;
}

#friend-data-wrapper .friendsPage-friendRow-stat:hover .friendsPage-friendRow-stat-fullValue {
  display: none;
}

#friend-data-wrapper .friendsPage-friendRow-stat.hasHover:hover {
  text-decoration: underline;
  background: unset;
}

.mh-dark-mode #friend-data-wrapper .friendsPage-friendRow {
  color: #87270e;
  background: linear-gradient(#decebb 5%, #f0eddf 50%);
}

.mh-dark-mode #friend-data-wrapper .friendsPage-friendRow-statsContainer {
  color: #87270e;
  box-shadow: 0 10px 30px #cdb495 inset;
}

.mh-dark-mode #friend-data-wrapper .friendsPage-friendRow-stat-value a {
  color: #87270e;
}
