.message .messageText,
.journal .entry .journalbody {
  position: relative;
}

#friend-data-wrapper {
  border: 1px solid #9a8872;
  border-radius: 10px;
  box-shadow: 0 1px 5px -1px #5e5e5e;
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: -125px;
  width: 325px;
  z-index: 999999;
  height: 125px;
  display: none;
}

[data-friend-hover]:hover #friend-data-wrapper,
[data-friend-hover]:focus #friend-data-wrapper,
#friend-data-wrapper:hover,
#friend-data-wrapper:focus {
  display: block;
}

#friend-data-wrapper .friendsPage-friendRow {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding-top: 3px;
  position: relative;
  height: 100%;
}

#friend-data-wrapper .friendsPage-friendRow-imageContainer {
  display: inline-block;
  height: 65px;
  margin-left: 5px;
  position: relative;
  vertical-align: top;
  width: 65px;
}

#friend-data-wrapper .friendsPage-friendRow-content {
  box-sizing: border-box;
  width: 245px;
}

#friend-data-wrapper .friendsPage-friendRow-titleBar {
  box-sizing: border-box;
  line-height: 20px;
  margin-bottom: 5px;
  margin-left: -15px;
  margin-right: -8px;
  padding-left: 20px;
  position: relative;
}

#friend-data-wrapper .friendsPage-friendRow-titleBar-titleDetail {
  display: none;
}

#friend-data-wrapper .friendsPage-friendRow-titleBar-icon {
  width: 35px;
  height: 35px;
  left: 0;
}

#friend-data-wrapper .friendsPage-friendRow-titleBar-name {
  vertical-align: middle;
  font-size: 14px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 20px;
  white-space: nowrap;
}

#friend-data-wrapper .friendsPage-friendRow-environment {
  display: flex;
  width: 145px;
  padding-right: 10px;
  box-sizing: border-box;
  display: flex;
  width: 145px;
  padding-right: 10px;
  height: 40px;
  box-sizing: border-box;
  align-items: center;
  margin-left: -10px
}

#friend-data-wrapper .friendsPage-friendRow-environment-icon {
  height: 25px;
  margin-right: 3px;
  width: 25px;
}

#friend-data-wrapper .friendsPage-friendRow-environment-name {
  font-size: 11px;
  line-height: 14px;
  width: 100px;
}

#friend-data-wrapper .friendsPage-friendRow .friendsPage-friendRow-actions {
  position: absolute;
  right: 2px;
  top: 35px;
}

#friend-data-wrapper .friendsPage-friendRow-actionsContainer {
  top: 0;
}

#friend-data-wrapper .friendsPage-friendRow-actions-interactionButtons {
  padding-right: 0;
}

#friend-data-wrapper .userInteractionButtonsView-button {
  width: 38px;
  height: 38px;
  background-size: 38px;
}

#friend-data-wrapper .userInteractionButtonsView-button.sendTicket,
#friend-data-wrapper .userInteractionButtonsView-button.sendTournamentInvite {
  display: none;
}

#friend-data-wrapper .mousehuntTooltip {
  position: absolute;
  left: -20px;
  width: auto;
  height: auto;
  background: #fff;
}

#friend-data-wrapper .friendsPage-friendRow-environment {
  display: flex;
  width: 145px;
  padding-right: 10px;
  height: 40px;
  box-sizing: border-box;
  align-items: center;
}


#friend-data-wrapper .friendsPage-friendRow-statsContainer {
  grid-row-gap: 2px;
  align-content: stretch;
  align-items: center;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: auto;
  justify-items: center;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 2px;
}

#friend-data-wrapper .friendsPage-friendRow-stat {
  font-size: 10px;
  display: flex !important;
  margin: 0;
  width: auto;
  align-items: center;
}

#friend-data-wrapper .friendsPage-friendRow-stat-icon {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

#friend-data-wrapper .friendsPage-friendRow-stat.map .friendsPage-friendRow-stat-icon,
#friend-data-wrapper .friendsPage-friendRow-stat.team .friendsPage-friendRow-stat-icon {
  margin-right: 3px;
}

#friend-data-wrapper .friendsPage-friendRow-stat-value {
  font-weight: 400;
  font-size: 10px;
}

#friend-data-wrapper .friendsPage-friendRow-stat-label {
  display: none;
}

#friend-data-wrapper .friendsPage-friendRow-stat.map {
  grid-column: span 2;
}

#friend-data-wrapper .friendsPage-friendRow-stat.map .friendsPage-friendRow-stat-value span,
#friend-data-wrapper .friendsPage-friendRow-stat.online span {
  width: auto;
  max-width: 190px;
}

#friend-data-wrapper .friendsPage-friendRow-stat.team .friendsPage-friendRow-stat-value a {
  width: auto;
  max-width: 70px;
}

#friend-data-wrapper .friendsPage-friendRow-stat:hover .friendsPage-friendRow-stat-fullValue {
  display: none;
}

#friend-data-wrapper .friendsPage-friendRow-stat.hasHover:hover {
  background: unset;
  text-decoration: underline;
}


/*

#friend-data-wrapper .friendsPage-friendRow-content {
  min-height: 75px;
  padding-left: 15px;
  width: 263px;
}

#friend-data-wrapper .friendsPage-friendRow-titleBar-icon {
  top: -7px;
  left: 0;
  height: 35px;
}

#friend-data-wrapper .friendsPage-friendRow-titleBar-name {
  font-size: 14px;
}

#friend-data-wrapper .friendsPage-friendRow-titleBar {
  padding-left: 40px;
  margin-bottom: 18px;
}

#friend-data-wrapper .friendsPage-friendRow-titleBar-titleDetail {
  left: 34px;
  top: 22px;
}

#friend-data-wrapper .friendsPage-friendRow-environment {
  margin-left: 0;
}

#friend-data-wrapper .friendsPage-friendRow-environment-icon {
  margin-right: 4px;
  width: 24px;
  height: 24px;
}

#friend-data-wrapper .friendsPage-friendRow-environment-name {
  font-size: 10px;
}

#friend-data-wrapper .friendsPage-friendRow .friendsPage-friendRow-actions {
  position: absolute;
  right: 5px;
  top: 40px;
}

#friend-data-wrapper .friendsPage-friendRow-actions-interactionButtons {
  padding-right: 0;
  margin-right: -2px;
}

#friend-data-wrapper .userInteractionButtonsView-button {
  width: 40px;
  height: 40px;
  background-size: 40px;
}

#friend-data-wrapper .mousehuntTooltip {
  position: absolute;
  left: -20px;
  width: auto;
  height: auto;
  background: #fff;
}

#friend-data-wrapper .mousehuntTooltip .userInteractionButtonsView-button-label {
  line-height: normal !important;
}

#friend-data-wrapper .friendsPage-friendRow-statsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  overflow: hidden;
}

#friend-data-wrapper .friendsPage-friendRow-stat {
  display: flex !important;
  align-items: center;
  width: auto;
  font-size: 9px;
}

.hunterInfoView-wrapper #friend-data-wrapper .friendsPage-friendRow-statsContainer .friendsPage-friendRow-stat-value {
  font-size: 9px;
  font-weight: 400;
}

#friend-data-wrapper .friendsPage-friendRow-stat-label,
#friend-data-wrapper .friendsPage-friendRow-stat.team {
  display: none !important;
}






/*
div#friend-data-wrapper {
  box-sizing: border-box;
}

#friend-data-wrapper .friendsPage-friendRow {
  box-sizing: border-box;
}

#friend-data-wrapper .friendsPage-friendRow-content {
  padding-left: 5px;
  box-sizing: border-box;
}
 */
