.journal .entry.queso_geyser.wild_tonic_disabled {
  background-image: url(https://www.mousehuntgame.com/images/items/stats/large/8e292ff717bd65936d2c96707aa77de0.png);
  background-blend-mode: darken;
}

.journal .entry.queso_canyon_queso_pumped {
  background-image: url(https://www.mousehuntgame.com/images/items/bait/transparent_thumb/06c81c66b0f21f2a8b6a2b989f40bd8d.png?cv=2);
  background-position: 10px -5px;
}

.journal .entry.queso_canyon_queso_pumped .journalbody {
  margin-left: 65px;
}

.journal .entry.queso_cannonstorm_base_trigger .journalimage img {
  width: 50px;
  padding-left: 0;
}
