.folkloreForestRegionView-dialog-help .folkloreForestRegionView-dialog-tabContentContainer {
  max-width: 560px;
  padding: 10px;
  margin: 0 auto;
  font-size: 13px;
  line-height: 1.4;
}

.folkloreForestRegionView-dialog-help h3 {
  font-size: 17px;
  color: #fff5cb;
}

.folkloreForestRegionView-dialog-tabHeaderContainer::before,
.folkloreForestRegionView-dialog-tabHeaderContainer::after {
  background: transparent;
}

.folkloreForestRegionView-dialog-tabHeaderContainer {
  padding: 0 20px;
  margin-right: -5px;
  margin-left: -5px;
  border-bottom-color: #416f2a;
}

a.folkloreForestRegionView-dialog-tabHeader {
  background-color: #4d3d00;
  border: 1px solid #416f2a;
  border-bottom: none;
}

#overlayPopup.fabledForestDialog .title {
  margin-top: -19px;
}

.folkloreForestRegionView-environmentInventory-block-quantity {
  font-size: 12px;
  font-weight: 400;
}

.folkloreForestRegionView-environmentInventory-label {
  font-size: 11px;
  line-height: 18px;
}

a.folkloreForestRegionView-upgradeButton.canUnlock::after {
  position: absolute;
  top: 3px;
  right: 5px;
  width: 14px;
  height: 14px;
  content: "";
  background-image: url(https://www.mousehuntgame.com/images/ui/hud/folklore_forest_region/upgrade_arrow_small.png);
  filter: hue-rotate(300deg) brightness(1.1);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
}

.mh-location-prologue_pond a.folkloreForestRegionView-upgradeButton.canUnlock::after {
  filter: hue-rotate(300deg) brightness(1.1);
}

.mh-location-table_of_contents a.folkloreForestRegionView-upgradeButton.canUnlock::after {
  filter: none;
}

a.folkloreForestRegionView-upgradeButton {
  font-size: 13px;
}

.folkloreForestRegionView-upgrade {
  width: 25px;
  height: 25px;
  margin-right: 3px;
  box-shadow:
    0 0 17px #54290a inset,
    0 0 2px 1px #999;
}

.folkloreForestRegionView-upgradeContainer {
  top: 3px;
  left: 20px;
  width: auto;
}

.table_of_contents .folkloreForestRegionView-upgradeContainer {
  left: 15px;
}

.folkloreForestRegionView-upgrade.active {
  box-shadow: inset 0 0 2px 1px #b4e2ee;
}

.folkloreForestRegionView-environmentTitle .folkloreForestRegionView-environmentState {
  font-size: 21px;
  text-shadow: 1px 1px 1px #f7e5a5;
}

/* bigger warning */
.folkloreForestRegionView-trapWarningContainer {
  padding: 20px;
  font-size: 12px;
  color: #870808;
  background-color: #ffbfbf;
}

.folkloreForestRegionView-trapWarningContainer a {
  color: #870808;
}

.folkloreForestRegionView-warning {
  border: none;
}

.folkloreForestRegionView-warning::before {
  display: none;
}

/* estimates userscript */
a.folkloreForestRegionView__estimate-button {
  top: 9px !important;
  right: -7px !important;
  font-size: 20px !important;
  color: #1a5162 !important;
}

a.folkloreForestRegionView__estimate-button:hover {
  color: #064155 !important;
}

.folkloreForestRegionView-dialog-footer {
  margin-top: 5px;
  margin-bottom: 15px;
}

.folkloreForestRegionView-footer-spacer {
  display: none;
}

.folkloreForestRegionView-dialog-block-cost {
  border: 1px solid #ccc;
  box-shadow: none;
}

.folkloreForestRegionView-dialog-block-cost-image {
  height: 40px;
  background-size: contain;
}

.upgrades .folkloreForestRegionView-dialog-block-item-image {
  margin: 4px auto;
  background-color: transparent;
  border: none;
}

.upgrades .folkloreForestRegionView-dialog-block-icon {
  top: 1px;
  left: 0;
  border: none;
}

.upgrades .folkloreForestRegionView-dialog-block-name {
  margin-left: 39px;
  border-top: 1px solid #c6c6c6;
}

.upgrades .folkloreForestRegionView-dialog-block-description {
  border-width: 1px;
}

.upgrades .folkloreForestRegionView-dialog-block {
  border: 1px solid #c6c6c6;
  border-top: none;
}

.upgrades .folkloreForestRegionView-dialog-block.highlight .folkloreForestRegionView-dialog-block-icon {
  margin-top: -1px;
  border-top: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
}

.upgrades .folkloreForestRegionView-dialog-tabHeader-notification {
  font-size: 15px;
  line-height: 25px;
  background-color: #e94e4e;
  box-shadow: 1px 1px 4px -1px #000;
}

/* make the CC hover less sensitive */
.folkloreForestRegionView-fuelContainer.mousehuntTooltipParent {
  /* top: 20px;
  margin-top: -20px; */
  border-radius: 40px 30px 30px;
}

/** TODO: change the markup of the tooltip to be bottom rather than top */
.folkloreForestRegionView-fuelContainer .mousehuntTooltip {
  display: none !important;
}

.folkloreForestRegionView-dialog-blockContainer.upsellRecipe .upsellItemActionView-cost-image {
  box-shadow: none;
}

.folkloreForestRegionView-dialog-block.toggle-added .folkloreForestRegionView-dialog-block-action {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.folkloreForestRegionView-dialog-block-action .mhui-folklore-forest-upgrade-toggle.mousehuntActionButton {
  display: inline !important;
}

.folkloreForestRegionView-dialog-block.toggle-is-hidden {
  filter: grayscale(0.6);
  opacity: 0.8;
}

.upgrades .folkloreForestRegionView-dialog-block .folkloreForestRegionView-dialog-block-icon::after {
  display: none;
}

.upgrades .highlight .folkloreForestRegionView-dialog-block-name {
  background-color: #a2723b;
}

.folkloreForestRegionView-dialog-block-cost.error .folkloreForestRegionView-dialog-block-cost-image {
  box-shadow: 0 0 35px #ffa3a3 inset;
}

a.folkloreForestRegionView-warning:hover {
  background-color: #ffecd9;
}

.folkloreForestRegionView-dialog-blockContainer.upgrades .folkloreForestRegionView-dialog-block-description {
  overflow: visible;
  line-height: 1.3;
}

.folkloreForestRegionView-dialog-blockContainer.num_upgrades_7 .folkloreForestRegionView-dialog-block:nth-child(-n + 4) .folkloreForestRegionView-dialog-block-description {
  height: 80px;
}

/* hide the "this upgrade costs" text */
.folkloreForestRegionView-dialog-block-costLabel {
  display: none;
}

.folkloreForestRegionView-helpButton {
  top: 13px;
  width: 22px;
  height: 22px;
  background: url(https://www.mousehuntgame.com/images/ui/events/egg_sweeper/help_button.png);
  background-position: center;
  background-size: 26px;
  border-radius: 10px;
  mix-blend-mode: darken;
  opacity: 0.3;
}

.folkloreForestRegionView-helpButton:hover {
  opacity: 1;
}

a.folkloreForestRegionView-travelButton {
  top: 16px;
  left: 226px;
  width: 17px;
  height: 17px;
  background: url(https://www.mousehuntgame.com/images/ui/hud/menu/treasure_chests.png);
  background-size: cover;
  opacity: 0.3;
  transform: scaleX(-1) rotate(99deg);
}

a.folkloreForestRegionView-travelButton:hover {
  opacity: 1;
}

.folkloreForestRegionView-dialog-blockContainer.basicBaits .folkloreForestRegionView-dialog-block-description {
  background-color: #668d53;
  border-top: 1px solid #143708;
}

.folkloreForestRegionView-dialog-blockContainer.travel .folkloreForestRegionView-dialog-block {
  background-color: #668d53;
}

.folkloreForestRegionView-dialog-blockContainer.travel .folkloreForestRegionView-dialog-block-description {
  border-top: 1px solid #143708;
}

.folkloreForestRegionView-dialog-recipeResult-content {
  max-height: 110px;
}

.folkloreForestRegionView-travelButton:active,
.folkloreForestRegionView-helpButton:active {
  background-position-y: 50%;
  opacity: 0.9;
}

.headsUpDisplayDraconicDepthsView__fuelQuantity,
.folkloreForestRegionView-fuel-quantity.quantity {
  font-size: 13px;
  color: #d9faca;
  background-color: transparent;
}

.mhui-close-button {
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 15;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  padding: 5px;
  font-size: 12px;
  font-weight: 700;
  color: #e03a3a;
  text-align: center;
  background: #fff;
  border: 1px solid #ff1606;
  border-radius: 20px;
  box-shadow: inset 0 0 3px -1px #af131c;
}

.mhui-close-button:hover {
  cursor: pointer;
  background: #ffc0c0;
}

.folkloreForestRegionView-dialog-blockContainer.upsellRecipe .upsellItemActionView-action-max {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 22px;
  padding: 2px;
  margin-top: -5px;
  border: 1px solid #eee;
  border-radius: 1px;
  box-shadow: 0 0 1px 1px #eee inset;
}

.folkloreForestRegionView-dialog-blockContainer.upsellRecipe .upsellItemActionView-action-max::after {
  display: none;
}

.upsellItemActionView-action-quantityContainer {
  display: flex;
  place-content: center center;
  align-items: baseline;
}

.folkloreForestRegionView-dialog-blockContainer.upsellRecipe .upsellItemActionView-action-max:hover {
  color: #000;
  background-color: #faefbf;
  box-shadow: none;
}

.upsellItemActionView-action-quantity {
  box-sizing: border-box;
  display: block;
  height: 21px;
}

.mh-dark .folkloreForestRegionView-dialog-block-name {
  background-color: var(--d-bg);
}

.mh-dark .folkloreForestRegionView-dialog-block-description {
  color: var(--d-text);
  background-color: var(--d-bg);
  border-top-color: var(--d-bg);
}

.mh-dark .folkloreForestRegionView-dialog-blockContainer.upsellRecipe .upsellItemActionView-recipe.upsell {
  border-top-color: var(--d);
}

.mh-dark .folkloreForestRegionView-dialog-blockContainer.upsellRecipe .upsellItemActionView-action-max {
  border-color: var(--d);
  box-shadow: 0 0 1px 1px var(--d-bg-alt) inset;
}
