ul.better-journal-list {
  margin-left: 15px;
  list-style: disc;
}

.better-journal-list a::after {
  content: "" !important;
}

.journal .content .entry .journaltext .better-journal-list {
  line-height: 16px;
}

.journal .content .entry.bountifulBeanstalk-defeatedGiant .journaltext ul {
  margin-top: -15px;
  line-height: 21px;
  list-style: disc;
}

.journal .content .entry.bountifulBeanstalk-defeatedGiant .journaltext li {
  margin-left: 20px;
}
