.mh-improved-has-update .mousehuntHeaderView .menuItem.mousehunt-improved-icon-menu::before {
  position: absolute;
  top: -12px;
  right: 4px;
  z-index: 2;
  width: 36px;
  height: 25px;
  content: "";
  background-image: url(https://www.mousehuntgame.com/images/ui/events/halloween_boiling_cauldron/book/new.png);
  filter: drop-shadow(-1px 0 5px #fff) hue-rotate(200deg);
  background-repeat: no-repeat;
  background-size: 36px 25px;
  animation: dirigibleFloat ease-in-out 0.4s 3;
  animation-delay: 2s;
}

@media (prefers-reduced-motion: reduce) {
  .mh-improved-has-update .mousehuntHeaderView .menuItem.mousehunt-improved-icon-menu::before {
    animation: none;
  }
}

#overlayPopup.mh-improved-update-summary .jsDialog.top,
#overlayPopup.mh-improved-update-summary .jsDialog.bottom,
#overlayPopup.mh-improved-update-summary .jsDialog.background,
#overlayPopup.mh-improved-update-summary .jsDialogContainer .prefix,
#overlayPopup.mh-improved-update-summary .jsDialogContainer .content,
#overlayPopup.mh-improved-update-summary .jsDialogContainer .suffix {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

#overlayPopup.mh-improved-update-summary .jsDialog.top,
#overlayPopup.mh-improved-update-summary .jsDialog.bottom {
  pointer-events: none;
}

#overlayPopup.mh-improved-update-summary .jsDialogContainer {
  padding: 0 20px;
  background-image: url(https://www.mousehuntgame.com/images/ui/newsposts/np_border.png);
  background-repeat: repeat-y;
  background-size: 100%;
}

#overlayPopup.mh-improved-update-summary .jsDialogContainer::before {
  position: absolute;
  top: -80px;
  right: 0;
  left: 0;
  z-index: -1;
  height: 100px;
  content: "";
  background-image: url(https://www.mousehuntgame.com/images/ui/newsposts/np_header.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

#overlayPopup.mh-improved-update-summary .jsDialogContainer::after {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  height: 126px;
  content: "";
  background-image: url(https://www.mousehuntgame.com/images/ui/newsposts/np_footer.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.mh-improved-update-summary-wrapper {
  margin: 0 25px;
  line-height: 1.5;
}

.mh-improved-update-summary-body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.mh-improved-update-summary h1 {
  padding-bottom: 5px;
  margin-top: -40px;
  font-size: 1.75em;
  font-weight: 700;
  color: #693312;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: #c1915a;
  text-underline-offset: 10px;
}

.mh-improved-update-summary h2 {
  padding-bottom: 3px;
  margin-bottom: 3px;
  font-size: 1.25em;
  font-weight: 900;
  border-bottom: 1px solid #c1915a;
}

.mh-improved-update-summary-links {
  display: flex;
  flex-direction: column;
}

.mh-improved-update-summary ul {
  margin: 0 0 5px 15px;
  list-style: disc;
}

.mh-improved-update-summary-buttons {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  text-align: center;
}

.mh-improved-update-summary-links ul {
  font-size: 1.125em;
  line-height: 2;
}

.mh-improved-update-summary-changes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0 10px;
  justify-items: stretch;
  max-height: 375px;
  padding: 10px;
  overflow: auto;
  background:
    linear-gradient(#e9d5a2 30%, rgb(0 0 0 / 0%)) center top,
    linear-gradient(rgb(0 0 0 / 0%), #e9d5a2 70%) center bottom,
    radial-gradient(farthest-side at 50% 0, rgb(0 0 0 / 40%), rgb(0 0 0 / 0%)) center top,
    radial-gradient(farthest-side at 50% 100%, rgb(0 0 0 / 40%), rgb(0 0 0 / 0%)) center bottom;
  background-repeat: no-repeat;
  background-attachment: local, local, scroll, scroll;
  background-size:
    100% 50px,
    100% 50px,
    100% 15px,
    100% 15px;
  border: 1px solid #b07842;
}

.mh-improved-update-summary-misc {
  margin-bottom: 5px;
}

.mh-improved-update-summary-changes.no-changes {
  border: none;
  box-shadow: none;
}

.mh-improved-update-summary-content p {
  font-size: 12px;
}

.mh-dark h1.mh-improved-update-summary-title {
  color: var(--d-text);
}

.mh-dark .mh-improved-update-summary-body a {
  color: var(--d-link);
}

.mh-dark .mh-improved-update-summary-changes {
  background: var(--d-bg);
}
