.headsUpDisplayBountifulBeanstalkView__baitQuantity.quantity {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
}

.headsUpDisplayBountifulBeanstalk__inventoryBlockQuantity.quantity {
  padding: 1px 2px;
}

.bountifulBeanstalkCastleView__noiseLevel,
.bountifulBeanstalkCastleView__maxNoiseLevel {
  padding: 0 2px;
  font-size: 17px;
}

.bountifulBeanstalkCastleView__noiseMeterLabel {
  color: #ffefc7;
  text-shadow: 0 0 1px #5b4200;
  filter: drop-shadow(1px 1px 1px #000);
}

.headsUpDisplayBountifulBeanstalkView__baitImage {
  top: 0;
  left: 3px;
  width: 35px;
  height: 35px;
}

.headsUpDisplayBountifulBeanstalkView__baitIngredientImage {
  top: 24px;
  left: 28px;
  width: 20px;
  height: 20px;
}

.bountifulBeanstalkCastleView__plinthLootImage .headsUpDisplayBountifulBeanstalkView__loot {
  top: 45px;
  right: 245px;
  width: 45px;
  height: 45px;
  filter: drop-shadow(0 0 5px #f0e1a4);
}

.headsUpDisplayBountifulBeanstalkView__lootMultiplierContainer h3 {
  font-size: 11px;
}

.headsUpDisplayBountifulBeanstalkView__lootMultiplierContainer h3 span {
  font-size: 17px;
}

.headsUpDisplayBountifulBeanstalkView__lootMultiplierContainer {
  left: 22px;
}

.headsUpDisplayBountifulBeanstalkView__castleNextRoomText.headsUpDisplayBountifulBeanstalkView__castleNextRoomText--nextArrow {
  font-size: 13px;
}

.bountifulBeanstalkCastleView__plinthOverlay .mousehuntTooltip {
  top: -20px;
  bottom: unset;
  left: -60px;
  z-index: 30;
  width: 447px;
  line-height: 1.75;
  color: #f2e3a6;
  background: #192518;
  border: 2px solid #85d523;
}

.bountifulBeanstalkCastleView__plinthOverlay .mousehuntTooltip-arrow {
  display: none;
}

.bountifulBeanstalkCastleView__currentRoomName {
  font-size: 12px;
}

.bountifulBeanstalkCastleView__currentRoomLoot b {
  font-size: 10px;
}

.bountifulBeanstalkCastleView__plinthOverlay.mousehuntTooltipParent {
  left: 190px;
  width: 330px;
}

.bountifulBeanstalkCastleView__currentRoomLootMultiplier {
  font-size: 12px;
}

.bountifulBeanstalkPlayHarpDialogView__optionActionLabel {
  margin-bottom: 5px;
}

.headsUpDisplayBountifulBeanstalk__embellishmentBlock:hover .headsUpDisplayBountifulBeanstalk__embellishmentBlockImage {
  filter: brightness(1.3) drop-shadow(0 0 1px #224e1c) drop-shadow(0 0 1px #224e1c);
  transform: scale(1.3);
}

.headsUpDisplayBountifulBeanstalk__embellishmentBlock .headsUpDisplayBountifulBeanstalk__embellishmentBlockImage {
  transition: 0.3s;
  animation: adminShimmer 1s 3;
}

.headsUpDisplayBountifulBeanstalkView__playHarpDialogButton--autoPlaying .headsUpDisplayBountifulBeanstalkView__playHarpDialogButtonHarpImage {
  transition: 0.3s;
  animation: mh-improved-shake 0.5s 2;
}

.headsUpDisplayBountifulBeanstalkView__castleChevronContainer .headsUpDisplayBountifulBeanstalkView__loot:hover {
  animation: mh-improved-shake 0.5s infinite;
}

.bountifulBeanstalkCastleView__content:active .bountifulBeanstalkCastleView__bossMarker {
  animation: mh-improved-shake-scaled 0.5s infinite;
}

.bountifulBeanstalkCastleView__content:hover .bountifulBeanstalkCastleView__bossMarker {
  transform: scale(1.2);
}

@media (prefers-reduced-motion: reduce) {
  .headsUpDisplayBountifulBeanstalk__embellishmentBlock:hover .headsUpDisplayBountifulBeanstalk__embellishmentBlockImage {
    filter: none;
    transform: none;
  }

  .headsUpDisplayBountifulBeanstalk__embellishmentBlock .headsUpDisplayBountifulBeanstalk__embellishmentBlockImage {
    transition: none;
    animation: none;
  }

  .bountifulBeanstalkCastleView__content:active .bountifulBeanstalkCastleView__bossMarker,
  .headsUpDisplayBountifulBeanstalkView__playHarpDialogButton--autoPlaying .headsUpDisplayBountifulBeanstalkView__playHarpDialogButtonHarpImage {
    animation: none;
  }

  .bountifulBeanstalkCastleView__content:hover .bountifulBeanstalkCastleView__bossMarker {
    transform: none;
  }

  .headsUpDisplayBountifulBeanstalkView__castleChevronContainer .headsUpDisplayBountifulBeanstalkView__loot:hover {
    animation-iteration-count: 1;
  }
}

.mh-improved-room-data--open,
.mh-improved-room-data--open .headsUpDisplayBountifulBeanstalkView__lootMultiplierDetailsContainer,
.headsUpDisplayBountifulBeanstalkView__lootMultiplierContainer {
  z-index: 28;
  display: block;
}

.headsUpDisplayBountifulBeanstalk__inventoryContainer {
  z-index: 28;
}

.headsUpDisplayBountifulBeanstalk__inventoryContainer:hover {
  z-index: 31;
}

.bountifulBeanstalkCastleView__content {
  z-index: 27;
}

.headsUpDisplayBountifulBeanstalkView__playHarpDialogButton--autoPlaying:hover .headsUpDisplayBountifulBeanstalkView__playHarpDialogButtonHarpImage {
  transform: scale(1.1) rotate(3deg) translateX(5px);
}

.folkloreForestRegionView-dialog-recipeResult-image.itemImage .quantity {
  background: rgb(255 255 255 / 75%);
}

.bountifulBeanstalkCastleView__bossMarker {
  filter: drop-shadow(2px -1px 4px #000);
  transition: 0.4s;
  transform: scale(1.1);
  transform-origin: bottom;
}

.headsUpDisplayBountifulBeanstalkView__climbNextRoomText,
.headsUpDisplayBountifulBeanstalkView__castleNextRoomText {
  font-size: 12px;
}

.bountifulBeanstalkCastleView__background {
  transition: opacity 0.3s;
}

.bountifulBeanstalkCastleView__background.is-boss-chase {
  opacity: 0.7;
}

.headsUpDisplayBountifulBeanstalk__inventoryBlockImage {
  width: 37px;
  height: 37px;
}

.bountifulBeanstalkCastleView__plinthOverlay .mousehuntTooltip.mh-improved-tooltip-stay-open,
.headsUpDisplayBountifulBeanstalkView__lootMultiplierContainer.mh-improved-room-data--open {
  z-index: 30;
  border-color: #75a23d;
}

.headsUpDisplayBountifulBeanstalkView__ingredientQuantity.quantity {
  top: 26px;
}

.headsUpDisplayBountifulBeanstalkView__baitCraftableContainer .mousehuntTooltip {
  line-height: 1.5;
  text-align: center;
}

.headsUpDisplayBountifulBeanstalkView__baitCraftableContainer[data-item-type="leaping_lavish_beanster_cheese"] .mousehuntTooltip {
  right: -40px;
  left: -40px;
}

.headsUpDisplayBountifulBeanstalkView__castleChevronContainer .mousehuntTooltip {
  line-height: 1.4;
}

.headsUpDisplayBountifulBeanstalkView__castleChevronContainer .mousehuntTooltip > b:first-of-type {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 11px;
  border-bottom: 1px solid #d5d5d5;
}

.headsUpDisplayBountifulBeanstalkView__fuelQuantity.quantity {
  font-size: 13px;
  color: #fff;
  background-color: #2c4d26;
}

.active .headsUpDisplayBountifulBeanstalkView__fuelQuantity.quantity {
  text-shadow: 0 0 2px #5ac976;
}

.headsUpDisplayBountifulBeanstalkView__fuelContainer:hover {
  cursor: pointer;
}

.folkloreForestRegionView-helpButton {
  top: 13px;
  width: 22px;
  height: 22px;
  background: url(https://www.mousehuntgame.com/images/ui/events/egg_sweeper/help_button.png);
  background-position: center;
  background-size: 26px;
  border-radius: 10px;
  mix-blend-mode: darken;
  opacity: 0.3;
}

.folkloreForestRegionView-helpButton:hover {
  opacity: 1;
}

.headsUpDisplayBountifulBeanstalk__embellishmentBlock .mousehuntTooltip {
  right: -70px;
  bottom: 50px;
  left: -70px;
}

/* Bigger tutorial images */
.folkloreForestRegionView-dialog-help .beanstalkHelp__image {
  flex: 1;
  width: 100%;
  height: 150px;
  background-size: contain;
}

.folkloreForestRegionView-dialog-help .beanstalkHelp__section {
  flex-wrap: wrap;
  padding-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #487426;
}

.folkloreForestRegionView-dialog-help .beanstalkHelp__section:nth-child(3) {
  border-top: none;
}

.folkloreForestRegionView-dialog-help .beanstalkHelp__section:nth-child(4) .beanstalkHelp__image {
  order: -1;
}

.headsUpDisplayBountifulBeanstalkView__frame {
  filter: drop-shadow(0 1px 2px #333);
}

.headsUpDisplayBountifulBeanstalkView__multiplier div:nth-child(2) {
  font-size: 13px;
}

.headsUpDisplayBountifulBeanstalkView__lootMultiplierDetailsContainer > div {
  align-items: center;
  margin: 2px;
}

.headsUpDisplayBountifulBeanstalk__embellishmentBlock {
  top: -5px;
  left: -10px;
  width: 34px;
  height: 34px;
}

.headsUpDisplayBountifulBeanstalk__embellishmentBlockImage {
  width: 30px;
  height: 30px;
  filter: drop-shadow(0 0 1px #224e1c) drop-shadow(0 0 1px #224e1c);
  background-position: center;
  transform: scale(1);
}

.headsUpDisplayBountifulBeanstalk__embellishmentBlock.golden_feather {
  left: -6px;
}

.headsUpDisplayBountifulBeanstalk__embellishmentBlock.ruby_remover {
  left: -2px;
}

.loot-displayed.bountifulBeanstalkCastleView__title > div {
  position: absolute;
  top: 18px;
  right: 50px;
  left: 50px;
  height: 18px;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  background: linear-gradient(90deg, #f4e4a6 0%, #faedb1 50%, #f4e4a6 100%);
  border-radius: 42%;
  box-shadow: 0 3px 3px -2px #6d3421;
}

.loot-displayed.bountifulBeanstalkCastleView__title {
  bottom: 243px;
}

.headsUpDisplayBountifulBeanstalkView__multiplier.headsUpDisplayBountifulBeanstalkView__multiplier--feather,
.headsUpDisplayBountifulBeanstalkView__multiplier.headsUpDisplayBountifulBeanstalkView__multiplier--condensed_creativity {
  font-size: 10px;
}

.folkloreForestRegionView-dialog-block-name {
  display: flex;
  justify-content: center;
  height: 40px;
  padding: 0;
  font-size: 13px;
  text-align: center;
}

.folkloreForestRegionView-dialog-blockContainer.basicBaits .mousehuntArmNowButton {
  transform: scale(1.2);
}

/* makes it so that on a full bar the bottom right corner isn't rounded */
.bountifulBeanstalkCastleView__noiseMeterBar {
  padding-right: 1px;
}

button.headsUpDisplayBountifulBeanstalkView__baitBuyButton {
  right: 3px;
}

.active button.headsUpDisplayBountifulBeanstalkView__baitBuyButton {
  right: 2px;
}

.bountifulBeanstalkClimbView__playerUserThumb,
.bountifulBeanstalkCastleView__playerMarkerUserThumb {
  border: 1px solid #0aaa62;
  box-shadow: inset 0 1px 3px 0 #3d3d3d;
}

.bountifulBeanstalkCastleView__playerMarker--player_marker_chase .bountifulBeanstalkCastleView__playerMarkerUserThumb {
  border: 1px solid #d7440d;
}

.mh-crafting-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 5px;
  transition: 0.2s ease-in;
}

.headsUpDisplayBountifulBeanstalkView__baitCraftableContainer.mousehuntTooltipParent::after {
  position: absolute;
  inset: -30px 20px 5px;
  content: "";
}

.mh-crafting-popup.loading::after,
.mh-crafting-popup.success::after {
  position: absolute;
  right: 0;
  bottom: 7px;
  left: 0;
  display: block;
  height: 20px;
  content: "";
  background: url(https://www.mousehuntgame.com/images/ui/loaders/small_spinner.gif) center no-repeat;
}

.mh-crafting-popup.success::after {
  background: url(https://www.mousehuntgame.com/images/ui/hud/meadow_checkmark.png) center no-repeat;
  background-size: contain;
}

.loading .mh-crafting-actions,
.success .mh-crafting-actions {
  opacity: 0.1;
}
