.mh-improved-aura-view.campPage-trap-trapEffectiveness {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 5px;
  margin-bottom: 10px;
  flex-direction: column;
  gap: 10px;
}

.mh-improved-aura-view .trapImageView-trapAura,
.mh-improved-aura-view .trapImageView-trapAura.active {
  width: 35px;
  height: 35px;
  visibility: visible;
  opacity: 1;
}

.mh-improved-aura-view .time {
  font-size: 10px;
}

.mh-improved-aura-view .aura {
  display: grid;
  grid-template-columns: 35px 1fr 4fr;
  place-items: center stretch;
  margin: 3 0;
}

.mh-improved-aura-view .type {
  margin-left: 1em;
  font-size: 12px;
  font-weight: 900;
}

.mh-improved-aura-view .times {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-weight: 400;
  line-height: 1.5;
}
