.mh-improved-aura-view .aura .mousehuntTooltip {
  right: -50px;
  bottom: 60px;
  left: -50px;
  padding: 5px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.mh-improved-aura-view .aura {
  position: relative;
}

.mh-improved-aura-view .QuestJetStreamAura {
  display: none;
}

.mh-improved-aura-view .mousehuntTooltipContentTitle {
  font-size: 12px;
  font-weight: 900;
}
