.mh-crafting-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 5px;
  transition: 0.2s ease-in;
}

.mh-crafting-popup.loading::after,
.mh-crafting-popup.error::after,
.mh-crafting-popup.success::after {
  position: absolute;
  right: 0;
  bottom: 7px;
  left: 0;
  z-index: 31;
  display: block;
  height: 20px;
  pointer-events: none;
  content: "";
  background: url(https://www.mousehuntgame.com/images/ui/loaders/small_spinner.gif) center no-repeat;
}

.mh-crafting-popup.error::after {
  background: url(https://www.mousehuntgame.com/images/icons/bad_idea.png) center no-repeat;
  background-size: contain;
}

.mh-crafting-popup.success::after {
  background: url(https://www.mousehuntgame.com/images/ui/hud/meadow_checkmark.png) center no-repeat;
  background-size: contain;
}

.loading .mh-crafting-actions,
.error .mh-crafting-actions,
.success .mh-crafting-actions {
  opacity: 0.1;
}

.mh-crafting-popup::after {
  position: absolute;
  top: 100%;
  height: 30px;
  content: "";
}

.mh-crafting-popup-parent::after {
  position: absolute;
  inset: -10px 0 0;
  content: "";
}
