.entry.catchsuccess .journalimage img,
.entry.relicHunter_catch .journalimage img,
.entry.catchsuccessloot .journalimage img,
.entry.catchsuccessprize .journalimage img {
  filter: saturate(1.4) hue-rotate(5deg);
  border: none;
  mix-blend-mode: darken;
}

.journal .content .entry.catchsuccess a:hover img,
.journal .content .entry.relicHunter_catch a:hover img,
.journal .content .entry.catchsuccessloot a:hover img,
.journal .content .entry.catchsuccessprize a:hover img {
  margin: 0;
  outline: none;
}

.journal .content .entry.catchsuccess .journalimage a:hover,
.journal .content .entry.relicHunter_catch .journalimage a:hover,
.journal .content .entry.catchsuccessloot .journalimage a:hover,
.journal .content .entry.catchsuccessprize .journalimage a:hover {
  margin: 1px;
  overflow: visible;
  background-color: #fff;
  outline: 1px solid #90d3e4;
}
