.entry.catchsuccess .journalimage img,
.entry.catchsuccessloot .journalimage img,
.entry.catchsuccessprize .journalimage img {
  width: 100%;
  filter: saturate(1.4) hue-rotate(5deg);
  border: none;
  mix-blend-mode: darken;
}

.journal .content .entry.catchsuccess .journalimage a:hover,
.journal .content .entry.catchsuccessloot .journalimage a:hover,
.journal .content .entry.catchsuccessprize .journalimage a:hover {
  background-color: #fff;
}

/* theres a special case for pirate mice */
.entry.catchsuccess[data-mouse-type="pirate"] .journalimage::after,
.entry.catchsuccessloot[data-mouse-type="pirate"] .journalimage::after {
  border-left: none;
}
