.mouseView-titleContainer {
  height: 26px;
}

.mouseView-values {
  float: none;
  font-size: 11px;
  line-height: unset;
}

.mouseView-title {
  font-size: 1.2em;
  line-height: 24px;
}

.mh-ui-mouse-links {
  display: inline-block;
  float: right;
  margin-right: 15px;
}

.mh-ui-mouse-links-map {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.mh-ui-mouse-links a {
  margin-right: 10px;
}

.mh-ui-mouse-links-map a {
  margin: 10px 10px 10px 0;
}

.mouseview-title-group {
  font-size: 11px;
}

.mh-ui-mouse-links-map .mousehuntActionButton.tiny {
  margin: 3px;
}

.mouseView-movedContainer {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.mouseview-has-mhct .mouseView-weaknessContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
}

.mouseview-has-mhct .mouseView-categoryContent-subgroup-mouse-weaknesses {
  width: 100%;
}

.mouseview-has-mhct .mouseView-socialContainer {
  display: none;
}

.mouseview-has-mhct .mouseView-statsContainer {
  display: flex;
  align-items: stretch;
  width: 155px;
}

.mouseview-has-mhct .mouseView-statsContainer-block-padding {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 125px;
  padding: 10px;
}

.mouseview-has-mhct .mouseView-descriptionContainer {
  width: 100%;
}

.mouseView-categoryContent-subgroup-mouse-weaknesses-label {
  font-size: 12px;
  font-weight: 400;
  font-variant: none;
}

.mouseview-has-mhct .mouseView-difficulty {
  display: none;
}

.mouseview-has-mhct .mouse-ar-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 50px;
  gap: 10px;
  place-items: center stretch;
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  font-size: 12px;
}

.mouseview-has-mhct .has-stages .mouse-ar-wrapper {
  grid-template-columns: 1fr 1fr 1fr 50px;
}

.mouseview-has-mhct .mouse-ar-wrapper div {
  padding: 0 2px;
  font-size: 12px;
}

.mouseview-has-mhct .mice-ar-wrapper {
  margin-right: 10px;
}

.mouseview-has-mhct .mouse-ar-wrapper div.rate {
  font-size: 13px;
}

.mouseview-has-mhct .ar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 26px;
  padding-bottom: 2px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 900;
  border-bottom: 1px solid #ccc;
}

.mouseview-has-mhct .ar-link {
  font-weight: 400;
}

.mouseview-has-mhct .rate {
  text-align: right;
}

.mouseview-has-mhct .mouse-ar-wrapper:nth-child(odd) {
  background-color: #e7e7e7;
}

.mouseview-has-mhct .mouseView-description {
  font-weight: 500;
  line-height: 19px;
}

.mh-ui-mouse-links-map-name {
  color: #3b5998;
  cursor: pointer;
}

.treasureMapView-highlight-name {
  padding: 5px 0 10px;
  font-weight: 400;
  text-align: center;
}

.mh-ui-mouse-links-map-name:hover {
  text-decoration: underline;
}

.mh-ui-mouse-links-map .treasureMapView-highlight-group {
  text-align: center;
}

.mouseView-image {
  box-shadow: none;
}

.mouseView-image:hover {
  box-shadow: 1px 1px 2px 0 #e70;
}

.mouseView a.custom-favorite-button,
.mouseView a.custom-favorite-button-small {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 30px;
  background-size: contain;
}

#custom-submenu-item-king-s-crowns .icon {
  filter: sepia(1) brightness(0.5);
}

.mouseView-statsContainer-block-padding abbr {
  text-decoration: none;
}

.mouseView-statsContainer-block-padding {
  padding: 5px;
}

a.mouseListView-categoryContent-subgroup-mouse-thumb {
  position: relative;
}

.crown .mouseListView-categoryContent-subgroup-mouse-thumb::after {
  position: absolute;
  top: -4px;
  left: -8px;
  z-index: 2;
  width: 20px;
  height: 20px;
  content: "";
  background-color: #fdfdfa;
  background-size: contain;
  border: 1px solid #929292;
  border-radius: 50%;
}

.crown.bronze .mouseListView-categoryContent-subgroup-mouse-thumb::after {
  background-image: url(https://www.mousehuntgame.com/images/ui/crowns/crown_bronze.png);
}

.crown.silver .mouseListView-categoryContent-subgroup-mouse-thumb::after {
  background-image: url(https://www.mousehuntgame.com/images/ui/crowns/crown_silver.png);
}

.crown.gold .mouseListView-categoryContent-subgroup-mouse-thumb::after {
  background-image: url(https://www.mousehuntgame.com/images/ui/crowns/crown_gold.png);
}

.crown.diamond .mouseListView-categoryContent-subgroup-mouse-thumb::after {
  background-image: url(https://www.mousehuntgame.com/images/ui/crowns/crown_diamond.png);
}

.crown.platinum .mouseListView-categoryContent-subgroup-mouse-thumb::after {
  background-image: url(https://www.mousehuntgame.com/images/ui/crowns/crown_platinum.png);
}

.mouseListView-categoryContent-subgroup-mouse-thumb,
.mouseListView-categoryContent-subgroup-mouse .mouseListView-categoryContent-subgroup-mouse-margin {
  transition: 0.2s ease-in;
}

.mouseListView-categoryContent-subgroup-mouse-thumb:hover {
  transform: scale(1.2);
}

a.mouseListView-categoryContent-subgroup-mouse:hover .mouseListView-categoryContent-subgroup-mouse-margin {
  background-size: contain;
}

.mouseViewPopup .mouseView-image:hover {
  box-shadow: none;
  transform: scale(0.95);
}

.mouseViewPopup .mouseView-image {
  margin-bottom: 10px;
  transition: 0.2s ease-in;
}

.mouseViewPopup .mouseView-descriptionContainer {
  display: grid;
  grid-template-columns: 3fr 2fr;
  justify-items: stretch;
}

.mouseViewPopup .mouseView-values {
  margin-left: 0;
}

.mouseViewPopup .mouseView-description {
  grid-column: span 2;
  padding-top: 5px;
}

.mouseViewPopup .mouseView-group.mouseview-title-group {
  text-align: right;
}

img.minluck-power-type-img {
  width: 20px;
}

li.minluck-item {
  display: inline-flex;
  gap: 3px;
  align-items: center;
  width: auto;
  padding: 2px;
  margin: 2px;
  font-size: 12px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 8px;
}

ul.minluck-list {
  display: flex;
  flex-wrap: wrap;
  place-content: center flex-start;
  width: auto;
  margin-right: -5px;
}

.minluck-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 900;
  border-bottom: 1px solid #ccc;
}

.mouseview-relicHunter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  background-color: #edd1f3;
  border-radius: 10px;
}
