.mouseView-titleContainer {
  height: 26px;
}

.mouseView-values {
  float: none;
  padding: 5px 0 10px;
  padding-bottom: 8px;
  font-size: 11px;
  line-height: unset;
}

.mouseView-title {
  font-size: 1.2em;
  line-height: 24px;
}

.mh-ui-mouse-links {
  display: inline-block;
  float: right;
  margin-right: 15px;
}

.mh-ui-mouse-links-map {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.mh-ui-mouse-links a {
  margin-right: 10px;
}

.mh-ui-mouse-links-map a {
  margin: 10px 10px 10px 0;
}

.mouseview-title-group {
  padding-bottom: 8px;
  font-size: 11px;
}

.mh-ui-mouse-links-map .mousehuntActionButton.tiny {
  margin: 3px;
}

.mouseView-movedContainer {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.mouseview-has-mhct .mouseView-weaknessContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
}

.mouseview-has-mhct .mouseView-categoryContent-subgroup-mouse-weaknesses {
  width: 100%;
}

.mouseview-has-mhct .mouseView-socialContainer {
  display: none;
}

.mouseview-has-mhct .mouseView-statsContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.mouseview-has-mhct .mouseView-descriptionContainer {
  width: 100%;
}

.mouseview-has-mhct .mouseView-difficulty {
  display: none;
}

.mouseview-has-mhct .mouse-ar-wrapper {
  display: grid;
  grid-template-columns: 150px auto 50px;
  place-items: center stretch;
  padding: 5px;
  margin: 5px 0;
  font-size: 12px;
}

.mouseview-has-mhct .has-stages .mouse-ar-wrapper {
  grid-template-columns: 110px 140px auto 50px;
}

.mouseview-has-mhct .mouse-ar-wrapper div {
  padding: 0 2px;
}

.mouseview-has-mhct .mice-ar-wrapper {
  margin-right: 10px;
}

.mouse-ar-wrapper .stage {
  font-size: 10px;
}

.mouse-ar-wrapper .cheese {
  font-size: 11px;
}

.mouseview-has-mhct .ar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 26px;
  padding-bottom: 2px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 900;
  border-bottom: 1px solid #ccc;
}

.mouseview-has-mhct .ar-link {
  font-weight: 400;
}

.mouseview-has-mhct .rate {
  text-align: right;
}

.mouseview-has-mhct .mouse-ar-wrapper:nth-child(odd) {
  background-color: #e7e7e7;
}

.mouseview-has-mhct .mouseView-description {
  font-weight: 500;
  line-height: 19px;
}

.mh-ui-mouse-links-map-name {
  color: #3b5998;
  cursor: pointer;
}

.treasureMapView-highlight-name {
  padding: 5px 0 10px;
  font-weight: 400;
  text-align: center;
}

.mh-ui-mouse-links-map-name:hover {
  text-decoration: underline;
}

.mh-ui-mouse-links-map .treasureMapView-highlight-group {
  text-align: center;
}

.mouseView-image {
  box-shadow: none;
}

.mouseView-image:hover {
  box-shadow: 1px 1px 2px 0 #e70;
}

.mouseView a.custom-favorite-button,
.mouseView a.custom-favorite-button-small {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 30px;
  background-size: contain;
}

#custom-submenu-item-king-s-crowns .icon {
  filter: sepia(1) brightness(0.5);
}

.mouseView-statsContainer-block-padding abbr {
  text-decoration: none;
}

.mouseView-statsContainer-block-padding {
  padding: 5px;
}
