/* hiding date for entries that come with a hunt */
.journal .content .entry.refractorBaseEffect-empyrean_jewel_base .journalbody .journalenvdate,
.journal .content .entry.refractorBaseEffect-royal_ruby_refractor_base .journalbody .journalenvdate,
.journal .content .entry.refractorBaseEffect-sorcerers_sapphire_refractor_base .journalbody .journalenvdate,
.journal .content .entry.refractorBaseEffect-dragons_breath_opal_refractor_base .journalbody .journalenvdate,
.journal .content .entry.short.refine_pollutinum .journalbody .journalenvdate,
.journal .content .entry.short.torch_charm_event .journalbody .journalenvdate,
.journal .content .entry.short.unstable_charm_trigger .journalbody .journalenvdate,
.journal .content .entry.short.tournamentpointswithloot .journalbody .journalenvdate,
.journal .content .entry.short.tournamentpoints .journalbody .journalenvdate,
.journal .content .entry.short.rift-bristlewoods-acolyteSandStolen .journalbody .journalenvdate,
.journal .content .entry.short.rift-bristlewoods-lootBooster .journalbody .journalenvdate,
.journal .content .entry.short.super_rift_vacuum_trigger .journalbody .journalenvdate,
.journal .content .entry.short.queso_canyon_queso_pumped .journalbody .journalenvdate,
.journal .content .entry.short.custom.chesla_trap_trigger .journalbody .journalenvdate,
.journal .content .entry.short.wordCount.minimalJournal .journalbody .journalenvdate,
.journal .content .entry.short.folkloreForest.folkloreForest-lootFuelBoost .journalbody .journalenvdate,
.journal .content .entry.short.labyrinth.labyrinth-chooseDoor .journalbody .journalenvdate,
.journal .content .entry.short.labyrinth.labyrinth-intersection .journalbody .journalenvdate,
.journal .content .entry.short.labyrinth.labyrinth-scrambleDoors .journalbody .journalenvdate,
.journal .content .entry.short.misc.custom.chesla_trap_trigger .journalbody .journalenvdate,
.journal .content .entry.short.misc.custom.birthday_factory.claim_package .journalenvdate,
.journal .content .entry.folkloreForest-tableOfContents.mythweaverIncrease .journalenvdate,
.journal .content .entry.iceberg_advance .journalbody .journalenvdate,
.journal .content .entry.iceberg_defeated .journalbody .journalenvdate,
.journal .content .entry.iceberg_phase_change .journalbody .journalenvdate,
.journal .content .entry.iceberg_advance_prevented.general .journalbody .journalenvdate,
.journal .content .entry.spring_hunt_charge_trinket_effect .journalbody .journalenvdate,
.journal .content .entry.harbour .journalbody .journalenvdate,
.journal .content .entry.iceberg_drill .journalbody .journalenvdate,
.journal .content .entry.short.desertstreak .journalbody .journalenvdate,
.journal .content .entry.schoolOfSorcery-wandUsed .journalbody .journalenvdate,
.journal .content .entry.short.rift-whisker-woods-increase .journalbody .journalenvdate {
  display: none;
}

/* duplicate these from hg styles just to be sure */
.journal .content .log_summary.stats .journalenvdate,
.journal .entry.birthday2018-anniversary-trap-trigger .journalenvdate,
.journal .birthday2015-trayComplete-special .journalenvdate,
.journal .train_station.progress .journalenvdate,
.journal .entry.furoma_base_trigger .journalenvdate,
.journal .entry.living_grove_base_trigger .journalenvdate,
.journal .entry.desert_heater_base_trigger .journalenvdate,
.journal .entry.queso_cannonstorm_base_trigger .journalenvdate,
.journal .entry.aurora_base_trigger .journalenvdate,
.journal .entry.timepiece_trigger .journalenvdate,
.journal .entry.vegetation_base_trigger .journalenvdate,
.journal .entry.electromagnetic_base_trigger .journalenvdate,
.journal .entry.pirate_sleigh_trigger .journalenvdate,
.journal .entry.slac_in_a_box_trigger .journalenvdate,
.journal .entry.regulator_base_trigger .journalenvdate,
.journal .entry.rift_mist_diffuser_trigger .journalenvdate,
.journal .entry.spring_hunt_relic_hunter_egg_drop .journalenvdate,
.journal .entry.denture_base_saved_trigger .journalenvdate,
.journal .entry.denture_base_decay_trigger .journalenvdate,
.journal .entry.printing_press_base_journal_entry .journalenvdate,
.journal .entry.lunar_lantern .journalenvdate,
.journal .entry.mousoleum .journalenvdate,
.journal .entry.labyrinth-lantern .journaldat,
.journal .entry.labyrinth-base-burnClue .journalenvdate,
.journal .entry.labyrinth-clue .journalenvdate,
.journal .entry.bountifulBeanstalk-goldenHarpStrings .journalenvdate,
.journal .entry.riftFuroma-energyLost .journalenvdate {
  display: none !important;
}

.journal .entry.minimalJournalImage .journalbody .journalenvdate {
  display: none;
}
