/* Hide the period */
.entry.short.log_summary.stats .fullstop {
  display: none;
}

.journal .entry .journaltext br::after {
  content: " ";
}

.journal .entry .journaltext br:last-child,
.journal .content .entry .journaltext > br:last-of-type,
.journal .content .entry .journaltext > br:first-of-type {
  display: none;
}

.journal .content .entry .journaltext > br + br:last-of-type,
.journal .content .entry.floatingIslands.fullyExplored .journaltext br,
.journal .content .entry.floatingIslands.defeatedEnemy .journaltext br,
.journal .content .entry.folkloreForest-plantClaimed .journaltext br,
.journal .content .entry.folkloreForest-lootFuelBoost .journaltext br,
.journal .content .entry.relicHunter_complete .journaltext br:first-of-type,
.journal .content .entry.wanted_poster-complete .journaltext br:first-of-type,
.journal .content .entry.folkloreForest-bookClaimed .journaltext br:first-of-type,
.journal .content .entry.folkloreForest-bookClaimed .journaltext br:last-of-type,
.journal .content .entry.harbour br {
  display: block;
}

.journal .content .entry.kings_giveaway_bonus_prize_entry .journaltext > br + br:last-of-type,
.journal .content .entry.floatingIslands.discoveredMod .journaltext br:last-of-type,
.journal .content .entry.wanted_poster-complete .journaltext br:last-of-type,
.journal .content .entry.floatingIslands.fullyExplored .journaltext br:first-of-type {
  display: none;
}

.journal .entry.catchsuccessloot .journaltext br,
.journal .entry.luckycatchsuccess .journaltext br,
.journal .entry.relicHunter_catch .journaltext br::after,
.journal .entry.relicHunter_complete .journaltext br::after {
  content: "";
}

.entry.socialGift-send .journaltext a:last-of-type::after,
.entry.queso_geyser.eruption_started .journaltext b::after,
.entry.torch_charm_event .journaltext a:last-of-type::after,
.unstable_charm_trigger .journaltext a:last-of-type::after,
.journaltext .loot:last-of-type::after,
.journaltext .lucky:last-of-type::after,
.journaltext .item:last-of-type::after,
.entry.short.supplytransferitem .journaltext a::after,
.entry.gloomyGreenwood-incense .journaltext::after,
.journal .entry.relicHunter_complete .journaltext b:last-of-type::after,
.journal .entry.wanted_poster-complete .journaltext b:last-of-type::after,
.entry.halloween_boiling_cauldron.brew_finished a:last-of-type::after,
.entry.halloween_boiling_cauldron.brew_removed a:last-of-type::after,
.entry.folkloreForest-farmToTable .journaltext a:last-of-type::after,
.entry.folkloreForest-forewordFarm.folkloreForest-plantStarted .journaltext a::after,
.entry.festiveSpiritLootBoost .journaltext a::after,
.entry.golemUpgraded .journaltext a::after,
.entry.workshopPartProduced .journaltext a::after,
.entry.birthday_factory.enter_room b::after,
.entry.potionuse .journaltext span:last-of-type::after,
.entry.labyrinth-clue.labyrinth-clue-good .journaltext::after,
.entry.donationComplete .journaltext a:last-of-type::after {
  display: inline;
  content: ".";
}

.journaltext .better-journal-list a.lucky:last-of-type::after,
.journaltext .better-journal-list a.item:last-of-type::after,
.journaltext .better-journal-list a.loot:last-of-type::after,
.entry.alchemists_cookbook_base_bonus .journaltext .loot:last-of-type::after,
.entry.short.dailyreward a:last-of-type::after,
.entry.short.log_summary.stats .journaltext .loot:last-of-type::after,
.entry.convertible_open .journaltext .item:last-of-type::after,
.entry.short.craft.convertible_open .journaltext .item:last-of-type::after,
.entry.short.supplytransferitem .journaltext #friend-data-wrapper a::after,
.entry.folkloreForest-plantClaimed .journaltext a:last-of-type::after,
.entry.folkloreForest-forewordFarm.folkloreForest-plantStarted .journaltext a::after,
.entry.mountain-boulderLooted a:last-of-type::after,
.entry.short.craft.convertible_open a.item::after {
  display: none;
  content: "";
}

.entry.floatingIslands.fullyExplored .journaltext .item:last-of-type::after {
  content: "";
}

.journaltext .lucky:last-of-type::after,
.journaltext .lucky::after {
  display: none;
}
