.journalEntries {
  background-color: #f1f1f1;
}

.journal .content {
  padding: 0 5px;
}

.journal .content .entry .journalbody {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 75px;
}

.journal .content .entry.minimalJournal .journalbody {
  margin-left: 10px;
}

.journal .content .entry {
  position: relative;
  min-height: 48px;
  padding: 6px 3px 6px 0;
  transition: box-shadow 0.1s;
}

.journal .content .entry:not(.highlight) {
  margin-bottom: 1px;
  border: none;
  outline: 1px solid #5b5b5b;
}

.mh-dark .journal .content .entry:not(.highlight) {
  outline-color: var(--d-border);
}

.journal .content .entry:not(.highlight):last-child {
  margin-bottom: 0;
}

.journal .content .entry.highlight {
  box-shadow:
    -1px 0 0 0 #5b5b5b,
    1px 0 0 0 #5b5b5b;
}

.mh-dark .journal .content .entry.highlight {
  border-bottom-color: var(--d-border);
  box-shadow:
    -1px 0 0 0 var(--d-border),
    1px 0 0 0 var(--d-border);
}

.journal .content .entry.short {
  min-height: unset;
}

.journal .entry.highlight .journalhighlightbadge {
  display: flex;
  align-items: center;
}

.journal .entry.highlight .journalhighlightbadge .jounalhighlightbadgeimage::after {
  line-height: 14px;
}

/* Images */
.journal .content .entry .journalimage {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: auto;
  margin: 10px 0 0 10px;
}

.shop_purchase .journal .content .entry .journalimage {
  margin: 15px 0 0 10px;
}

.journal .content .entry .journalimage a:hover,
.journal .content .entry .journalimage a:focus {
  overflow: visible;
}

.journal .content .entry .journalimage a {
  display: inline-block;
  width: 59px;
  height: 59px;
  overflow: hidden;
}

/* Text */
.journal .content .entry .journalbody .journaltext {
  margin-right: 5px;
  line-height: 20px;
}

.journal .content .entry .journaltext b {
  font-weight: 400;
}

.journal .content .entry.labyrinth-clue .journaltext b {
  font-weight: 700;
}

.journal .content .entry .journaltext p:first-of-type {
  margin-top: 0;
}

.journal .content .entry .journaltext > * {
  line-height: 24px;
}

/* Date */
.journal .content .entry .journalbody .journalenvdate {
  width: calc(100% - 10px);
  padding-top: 5px;
  padding-bottom: 3px;
  margin-bottom: 5px;
  font-size: 11px;
  font-weight: 400;
  border-bottom: 1px solid rgb(0 0 0 / 30%);
}

.mh-dark .journal .content .entry .journalbody .journalenvdate {
  border-bottom-color: var(--d-transparent-30);
}

/* Hide set journal link and center detailed journal link */
.journal-detailLinkContainer a:first-child {
  display: none;
}

.journal-detailLinkContainer {
  text-align: center;
}

/* Make the detailed journal link less obnoxious */
a.journal-detailLink.full {
  font-size: 11px;
  text-transform: lowercase;
  background: none;
}

a.journal-detailLink.full::before {
  text-transform: capitalize;
  content: "View ";
}

a.journal-detailLink.full::after {
  content: " →";
}

.journalContainer .pagerView-container {
  border: 1px solid #5b5b5b;
  border-right: none;
  border-left: none;
}

.journal .content .entry a:focus img,
.journal .content .entry a:hover img {
  margin: 1px;
  filter: brightness(1.1);
  border: none;
  outline: 1px solid #90d3e4;
}

.journal .content .entry .journaltext p:last-of-type {
  margin-bottom: 0;
}

.journal .content .entry .journaltext .decoration {
  margin-right: 65px;
}

.journal .content .entry .journaltext .decoration::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 28px;
  height: 28px;
  content: "";
  background: url(https://www.mousehuntgame.com/images/items/trinkets/large/430b05beed99ba1995f5ab78e394f5d6.png) no-repeat;
  background-size: contain;
}

/* move the share button */
.journal .content .entry .journalbody .journalactions {
  position: absolute;
  right: 5px;
  float: none;
}

.journal .content .entry .journaltext p.double {
  margin-top: 1em;
}

.jsingle.journal .content .log_summary table {
  margin: 0 auto;
}

.journal .content .entry.minimalJournalImage .journalbody .journaldate {
  display: none;
}

p.mhi-x-entry {
  display: block;
  padding: 0;
  margin: 0;
  line-height: 22px !important;
}

.journal .content .entry:not(.highlight):hover {
  box-shadow: inset 0 0 5px rgb(0 0 0 / 40%);
}

.journal .content .entry.craft.item {
  padding-bottom: 10px;
}

.journal .content .entry.out_of_candles {
  background-color: #bd7f89;
}

.journal .content .entry.desert_heater_base_trigger.fail {
  background-image: url(https://i.mouse.rip/upscaled/flameshard_crafting_item.png);
  background-blend-mode: luminosity;
}

.journal .content .entry.alchemists_cookbook_base_bonus {
  background-position: 10px;
}

.journal .content .entry.electromagnetic_base_trigger::after {
  display: none;
}

.journal .content .entry.halloween-special-loot,
.journal .content .entry.halloween2019_shot_supplies {
  padding-left: 0;
}

.journal .content .entry.outofsuperbriebutton {
  margin-left: 0;
}

.journal .content .entry.pirate_sleigh_trigger {
  background: #4fa9e6;
}

.journal .content .entry.queso_cannonstorm_base_trigger.fail {
  background-color: #f9d99a;
  background-image: url(https://www.mousehuntgame.com/images/items/stats/large/fe36041df0bec6dcc887ce67feefc4c8.png);
  background-blend-mode: luminosity;
}

/* stylelint-disable-next-line */
.journal .content .entry.queso_cannonstorm_base_trigger .journaltext a[href*="https://www.mousehuntgame.com/item.php?item_type=amber_queso_stat_item"] {
  padding-left: 0;
}

/* stylelint-disable-next-line */
.journal .content .entry.queso_cannonstorm_base_trigger .journaltext a[href*="https://www.mousehuntgame.com/item.php?item_type=amber_queso_stat_item"]::before {
  display: none;
}

.journal .content .entry.short.queso_canyon_queso_pumped .journalbody {
  margin-left: 85px;
}

.journal .content .entry.valentines_matchmaker {
  padding-left: 0;
  margin-left: 0;
  background-position: center;
  background-size: cover;
}

.journal .entry.luckycatchsuccess .journalimage::after,
.journal .entry.short.misc.custom.donationComplete br:last-of-type,
.journal .content .entry.short.relicHunter_complete .journaltext > br + br:last-of-type,
.journal .entry.short.relicHunter_complete br:nth-of-type(2),
.journal .entry.vegetation_base_trigger::after {
  display: none;
}

.journal .content .entry.vending_machine_purchase {
  background-position: top, bottom, center;
  background-size: contain;
}

.journal .content .entry .journaltext,
.journal .content .entry .journaltext p {
  font-size: 11px;
}

.journal.jdouble .content .entry:not(.highlight):last-child {
  border-bottom: 1px solid #5b5b5b;
}

.journal.jdouble .leftcol {
  border: none;
}

.journal.jdouble .rightcol {
  margin-left: 10px;
  border: none;
}

.journal.jdouble .journalEntries {
  display: flex;
  padding: 10px;
}
