.travelPage-map-spacer,
.travelPage-map-simpleToggle,
.mousehuntHud-page-tabContent.map.full .travelPage-map-simpleToggle.full,
.mousehuntHud-page-tabContent.map.full .travelPage-map-prefix.full {
  display: none;
}

.travelPage-regionMenu {
  width: 22%;
  overflow: scroll;
}

.travelPage-map-environment-detailContainer {
  left: 22%;
  width: 78%;
}

.travelPage-regionMenu-environmentLink.active {
  color: #000;
  background: #a4cafc;
}

.travelPage-regionMenu-stats {
  color: #4d4d4d;
  background-color: #d8d8d8;
}

.travelPage-regionMenu-numFriends {
  padding: 0;
  background: none;
}

.travelPage-mapContainer.full {
  height: auto;
  min-height: 800px;
  max-height: 900px;
  border: none;
}

.travelPage-map-imageContainer {
  width: 78%;
}

.travelPage-map-zoomContainer {
  bottom: 300px;
  transform: scale(1.5);
}

.travelPage-map-image-environment-name {
  top: 70px;
  z-index: 15;
  font-size: 22px;
  font-variant: none;
  text-shadow:
    1px 1px #000,
    0 0 10px #000,
    8px 12px 9px #000;
}

.travelPage-map-image-environment.locked .travelPage-map-image-environment-status {
  z-index: 1;
  opacity: 0.5;
}

.travelPage-map-image-environment-star {
  z-index: 10;
}

.travelPage-map-image-environment-button {
  top: 100px;
  transform: scale(1.2);
}

.travelPage-regionMenu-environmentLink.mystery {
  display: inline-block;
  color: #9e9e9e;
  pointer-events: none;
}

.travelPage-regionMenu-item[data-region="riftopia"] {
  display: block !important;
}

.travelPage-regionMenu-item[data-region="riftopia"] .travelPage-regionMenu-item-contents {
  display: block !important;
}

.travelPage-regionMenu-regionLink:hover,
.travelPage-regionMenu-regionLink:focus {
  cursor: unset;
}

#mh-simple-travel-page .travelPage-map-prefix {
  display: block;
}

#mh-simple-travel-page .travelPage-regionMenu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  margin-bottom: 10px;
  overflow: visible;
  background-color: transparent;
}

#mh-simple-travel-page .travelPage-regionMenu-item {
  margin: 1px;
  background-color: #e2e2e2;
  border: 1px solid #4c71b4;
}

#mh-simple-travel-page .travelPage-regionMenu-item[data-region="gnawnia"],
#mh-simple-travel-page .travelPage-regionMenu-item[data-region="valour"],
#mh-simple-travel-page .travelPage-regionMenu-item[data-region="whisker_woods"],
#mh-simple-travel-page .travelPage-regionMenu-item[data-region="burroughs"],
#mh-simple-travel-page .travelPage-regionMenu-item[data-region="furoma"] {
  min-height: 215px;
}

#mh-simple-travel-page .travelPage-regionMenu-item[data-region="riftopia"] {
  min-height: 250px;
}

#mh-simple-travel-page .travelPage-regionMenu-environments {
  width: 145px;
  box-shadow: none;
}

#mh-simple-travel-page .travelPage-regionMenu-item-contents {
  overflow: visible !important;
}

#mh-simple-travel-page .travelPage-regionMenu-environmentLink.active {
  color: #4e6081;
}

#mh-simple-travel-page .travelPage-regionMenu-environmentLink:hover,
#mh-simple-travel-page .travelPage-regionMenu-environmentLink:focus {
  color: #fff;
  background-color: #6383bf;
}

.huntersHornView__messageContent strong {
  font-weight: 900;
}

#mh-simple-travel-page .travelPage-alpha-wrapper .travelPage-regionMenu {
  display: block;
  width: 100%;
}

#mh-simple-travel-page .travelPage-alpha-wrapper .travelPage-regionMenu-environments {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  justify-content: flex-start;
  width: 754px;
  height: 425px;
  padding: 4px 1px;
}

#mh-simple-travel-page .travelPage-alpha-wrapper a.travelPage-regionMenu-environmentLink {
  width: 112px;
  margin-left: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mhui-region-travel-item .icon {
  border-radius: 5px;
}

.mousehuntHud-menu ul li ul li.mhui-region-travel-item a .icon {
  top: 6px;
  left: 3px;
  width: 22px;
  height: 22px;
}

#mh-simple-travel-page .travelPage-regionMenu .travelPage-regionMenu-environmentLink.active.highlight {
  margin-right: -4px;
  border-right: 1px solid #4c71b4;
}

#mh-simple-travel-page .travelPage-alpha-wrapper .travelPage-regionMenu-environmentLink.active.highlight {
  margin-right: 0;
  border-right: none;
  border-radius: 3px;
}

.travelPage-regionMenu-environmentLink.relic-hunter-is-here::after {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url(https://www.mousehuntgame.com/images/mice/thumb/d6980f1b00ff8ec688804706cba9370c.gif?cv=2);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
}

.travelPage-regionMenu-environments:hover .travelPage-regionMenu-environmentLink.relic-hunter-is-here::after,
.travelPage-regionMenu-environments:focus .travelPage-regionMenu-environmentLink.relic-hunter-is-here::after,
.travelPage-regionMenu-environmentLink.relic-hunter-is-here:hover::after,
.travelPage-regionMenu-environmentLink.relic-hunter-is-here:focus::after {
  display: block;
}

.travelPage-alpha-wrapper .travelPage-regionMenu-environmentLink.relic-hunter-is-here {
  padding-left: 35px;
  margin: 0;
  background-color: #ffe67a;
  border: none;
  border-radius: 6px;
  outline: 1px solid #ccc;
}

.travelPage-regionMenu-environmentLink.relic-hunter-is-here {
  margin-right: -3px;
  background-color: #ffe67a;
  outline: 1px solid #ccc;
}

.travelPage-map-image-environment .map-relic-hunter-is-here {
  position: absolute;
  top: -40px;
  left: 46px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-image: url(https://www.mousehuntgame.com/images/mice/thumb/d6980f1b00ff8ec688804706cba9370c.gif?cv=2);
  background-repeat: no-repeat;
  border-radius: 30px;
}

.travelPage-map-image-environment .map-relic-hunter-is-here-image {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  background-image: url(https://www.mousehuntgame.com/images/mice/thumb/d6980f1b00ff8ec688804706cba9370c.gif?cv=2);
  filter: hue-rotate(-326deg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  transform: rotate(-70deg);
}

.map-relic-hunter-is-here.travelPage-map-image-environment-pointer {
  top: 41px;
  left: 86px;
  z-index: 9;
  filter: hue-rotate(326deg);
  transform: rotate(70deg);
}

.travelPage-alpha-wrapper .travelPage-regionMenu-environmentLink.relic-hunter-is-here,
.travelPage-regionMenu-environmentLink.relic-hunter-is-here {
  padding-left: 35px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #e0f2d5;
  border-top: none;
  border-bottom: none;
  border-radius: 5px;
}

.relic-hunter-is-here .travelPage-regionMenu-environmentLink-image {
  margin-left: -6px;
}

.travelPage-alpha-wrapper .relic-hunter-is-here .travelPage-regionMenu-environmentLink-image {
  margin-left: 0;
}

/* Bold the first letter of each of the first occurrences of the letters in the alphabet */
#mh-simple-travel-page .first-letter::first-letter {
  font-size: 12px;
  font-weight: 900;
}

/* on hover, underline the letters to make it easier to see which letters are bolded */
#mh-simple-travel-page .travelPage-alpha-wrapper:hover .first-letter::first-letter {
  border-bottom: 1px solid #4e6081;
}

#mh-simple-travel-page .travelPage-regionMenu .travelPage-regionMenu-environmentLink.active.highlight.event-location,
#mh-simple-travel-page .travelPage-regionMenu .travelPage-regionMenu-environmentLink.event-location {
  color: #c01dff;
}

#mh-simple-travel-page .travelPage-regionMenu .travelPage-regionMenu-environmentLink.active.highlight.event-location::after,
#mh-simple-travel-page .travelPage-regionMenu .travelPage-regionMenu-environmentLink.event-location::after {
  position: absolute;
  top: 1px;
  left: 4px;
  width: 15px;
  height: 15px;
  content: "";
  background-image: url(https://www.mousehuntgame.com/images/ui/camp/trap/star_favorite.png?asset_cache_version=2);
  filter: drop-shadow(0 0 1px #fff);
  background-repeat: no-repeat;
  background-size: contain;
}

.travelPage-map-environment-detail-title .custom-favorite-button {
  margin-top: -1px;
  margin-left: 10px;
}

.mousehuntHud-menu ul li ul li.mh-improved-better-travel-favorites-divider {
  height: 1px;
  pointer-events: none;
  background-color: rgb(108 61 14 / 50%);
}

.mh-improved-better-travel-favorite-location::after {
  position: absolute;
  top: 6px;
  right: 4px;
  bottom: 0;
  display: block;
  width: 20px;
  height: 20px;
  content: "";
  background: url(https://www.mousehuntgame.com/images/ui/map/star_gold_320.png?asset_cache_version=2);
  background-size: contain;
  opacity: 0.3;
}

.mh-improved-better-travel-favorite-location:hover::after,
.mh-improved-better-travel-favorite-location:focus::after {
  opacity: 0.1;
}

.mh-improved-better-travel-menu-item .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Fix it so that the icon is clickable */
.mousehuntHud-environmentName {
  padding-top: 0;
  margin-top: 29px;
}
