.travelPage-map-spacer,
.travelPage-map-simpleToggle,
.mousehuntHud-page-tabContent.map.full .travelPage-map-simpleToggle.full,
.mousehuntHud-page-tabContent.map.full .travelPage-map-prefix.full {
  display: none;
}

.travelPage-regionMenu {
  width: 22%;
  overflow: scroll;
}

.travelPage-map-environment-detailContainer {
  left: 22%;
  width: 78%;
}

.travelPage-regionMenu-environmentLink.active {
  color: #000;
  background: #a4cafc;
}

.travelPage-regionMenu-stats {
  color: #4d4d4d;
  background-color: #d8d8d8;
}

.travelPage-regionMenu-numFriends {
  padding: 0;
  background: none;
}

.travelPage-mapContainer.full {
  height: auto;
  min-height: 800px;
  max-height: 900px;
  border: none;
}

.travelPage-map-imageContainer {
  width: 78%;
}

.travelPage-map-zoomContainer {
  bottom: 300px;
  transform: scale(1.5);
}

.travelPage-map-image-environment-name {
  top: 70px;
  z-index: 15;
  font-size: 22px;
  font-variant: none;
  text-shadow: 1px 1px #000, 0 0 10px #000, 8px 12px 9px #000;
}

.travelPage-map-image-environment.locked .travelPage-map-image-environment-status {
  z-index: 1;
  opacity: 0.5;
}

.travelPage-map-image-environment-star {
  z-index: 10;
}

.travelPage-map-image-environment-button {
  top: 100px;
  transform: scale(1.2);
}

.travelPage-regionMenu-environmentLink.mystery {
  display: inline-block;
  color: #9e9e9e;
  pointer-events: none;
}

.travelPage-regionMenu-item[data-region="riftopia"] {
  display: block !important;
}

.travelPage-regionMenu-item[data-region="riftopia"] .travelPage-regionMenu-item-contents {
  display: block !important;
}

.travelPage-regionMenu-regionLink:hover,
.travelPage-regionMenu-regionLink:focus {
  cursor: unset;
}

#mh-simple-travel-page .travelPage-map-prefix {
  display: block;
}

#mh-simple-travel-page .travelPage-regionMenu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  margin-bottom: 10px;
  overflow: visible;
  background-color: transparent;
}

#mh-simple-travel-page .travelPage-regionMenu-item {
  margin: 1px;
  background-color: #e2e2e2;
  border: 1px solid #4c71b4;
}

#mh-simple-travel-page .travelPage-regionMenu-item[data-region="gnawnia"],
#mh-simple-travel-page .travelPage-regionMenu-item[data-region="valour"],
#mh-simple-travel-page .travelPage-regionMenu-item[data-region="whisker_woods"],
#mh-simple-travel-page .travelPage-regionMenu-item[data-region="burroughs"],
#mh-simple-travel-page .travelPage-regionMenu-item[data-region="furoma"] {
  min-height: 215px;
}

#mh-simple-travel-page .travelPage-regionMenu-item[data-region="riftopia"] {
  min-height: 250px;
}

#mh-simple-travel-page .travelPage-regionMenu-environments {
  width: 145px;
  box-shadow: none;
}

#mh-simple-travel-page .travelPage-regionMenu-item-contents {
  overflow: visible !important;
}

#mh-simple-travel-page .travelPage-regionMenu-environmentLink.active {
  color: #4e6081;
}

#mh-simple-travel-page .travelPage-regionMenu-environmentLink:hover,
#mh-simple-travel-page .travelPage-regionMenu-environmentLink:focus {
  color: #fff;
  background-color: #6383bf;
}

.huntersHornView__messageContent strong {
  font-weight: 900;
}

#mh-simple-travel-page .travelPage-alpha-wrapper .travelPage-regionMenu {
  display: block;
  width: 100%;
}

#mh-simple-travel-page .travelPage-alpha-wrapper .travelPage-regionMenu-environments {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 380px;
}

#mh-simple-travel-page .travelPage-alpha-wrapper a.travelPage-regionMenu-environmentLink {
  max-width: 129px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mhui-region-travel-item .icon {
  border-radius: 5px;
}

.mousehuntHud-menu ul li ul li.mhui-region-travel-item a .icon {
  top: 6px;
  left: 3px;
  width: 22px;
  height: 22px;
}

#mh-simple-travel-page .travelPage-regionMenu .travelPage-regionMenu-environmentLink.active.highlight {
  margin-right: -4px;
  border-right: 1px solid #4c71b4;
}

#mh-simple-travel-page .travelPage-alpha-wrapper .travelPage-regionMenu-environmentLink.active.highlight {
  margin-right: 0;
  border-right: none;
}

.travelPage-regionMenu-environmentLink.relic-hunter-is-here:after {
  background-image: url(https://www.mousehuntgame.com/images/mice/thumb/d6980f1b00ff8ec688804706cba9370c.gif?cv=2);
  position: absolute;
  height: 20px;
  width: 20px;
  content: "";
  background-size: contain;
  border-radius: 5px;
  background-repeat: no-repeat;
  right: 5px;
  top: 5px;
}

.travelPage-alpha-wrapper  .travelPage-regionMenu-environmentLink.relic-hunter-is-here {
  background-color: #ffe67a;
  outline: 1px solid #acacac;
  border-radius: 6px;
}

.travelPage-regionMenu-environmentLink.relic-hunter-is-here {
  background-color: #ffe67a;
  outline: 1px solid #4c71b4;
  margin-right: -3px;
}

.travelPage-map-image-environment  .map-relic-hunter-is-here {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  overflow: hidden;
  background-image: url(https://www.mousehuntgame.com/images/mice/thumb/d6980f1b00ff8ec688804706cba9370c.gif?cv=2);
  background-repeat: no-repeat;
  top: -40px;
  left: 46px;
}

.travelPage-map-image-environment .map-relic-hunter-is-here-image {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background-image: url(https://www.mousehuntgame.com/images/mice/thumb/d6980f1b00ff8ec688804706cba9370c.gif?cv=2);
  background-repeat: no-repeat;
  top: 5px;
  left: 5px;
  background-size: contain;
  transform: rotate(-70deg);
  filter: hue-rotate(-326deg);
}

.map-relic-hunter-is-here.travelPage-map-image-environment-pointer {
    left: 86px;
    top: 41px;
    transform: rotate(70deg);
    z-index: 9;
    filter: hue-rotate(326deg);
}






.travelPage-regionMenu-environmentLink.relic-hunter-is-here {
  outline: none;
}

.travelPage-alpha-wrapper .travelPage-regionMenu-environmentLink.relic-hunter-is-here,
.travelPage-regionMenu-environmentLink.relic-hunter-is-here {
  background-color: #d1ecc0;
  margin-right: -3px;
  border-top: none;
  border-bottom: none;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid #acacac;
  padding-left: 30px;
}

.travelPage-alpha-wrapper .travelPage-regionMenu-environmentLink.relic-hunter-is-here {
  margin: 0;
  border: none;
  padding-left: 35px;
}

.relic-hunter-is-here .travelPage-regionMenu-environmentLink-image {
  margin-left: -6px;
}

.travelPage-alpha-wrapper .relic-hunter-is-here .travelPage-regionMenu-environmentLink-image {
  margin-left: 0;
}

.travelPage-regionMenu-environmentLink.relic-hunter-is-here:after {
  background-image: url(https://www.mousehuntgame.com/images/mice/thumb/d6980f1b00ff8ec688804706cba9370c.gif?cv=2);
  position: absolute;
  height: 20px;
  width: 20px;
  content: "";
  background-size: contain;
  border-radius: 5px;
  background-repeat: no-repeat;
  right: 5px;
  top: 5px;
}
