.journal .entry.refractorBaseEffect-empyrean_jewel_base {
  background-color: rgb(22 249 155 / 50%);
  background-image: url(https://i.mouse.rip/upscaled/bases/0314ad5d2428777c9ff0e91bdc803218.png);
  background-size: 50px;
}

.journal .entry.refractorBaseEffect-royal_ruby_refractor_base {
  background-color: rgb(244 75 145 / 50%);
  background-image: url(https://i.mouse.rip/upscaled/bases/24e306ffd63ef1c14412597ed995f2ca.png);
  background-size: 50px;
}

.journal .entry.refractorBaseEffect-sorcerers_sapphire_refractor_base {
  background-color: rgb(114 213 255 / 50%);
  background-image: url(https://i.mouse.rip/upscaled/bases/5686d2d3f6106d95ce2966db6400c639.png);
  background-size: 50px;
}

.journal .entry.refractorBaseEffect-dragons_breath_opal_refractor_base {
  background-color: rgb(216 155 202 / 50%);
  background-image: url(https://www.mousehuntgame.com/images/newsposts/2024/jewel_bases/new_refractor_base_thumbnail.gif);
  background-size: 50px;
}

.journal .entry.refractorBaseEffect-empyrean_jewel_base .journaltext,
.journal .entry.refractorBaseEffect-royal_ruby_refractor_base .journaltext,
.journal .entry.refractorBaseEffect-sorcerers_sapphire_refractor_base .journaltext,
.journal .entry.refractorBaseEffect-dragons_breath_opal_refractor_base .journaltext {
  margin-left: 60px;
}
