.warpathHUD.wave_1::after,
.warpathHUD.wave_2::after,
.warpathHUD.wave_3::after,
.warpathHUD.wave_4::after {
  position: absolute;
  bottom: 1px;
  left: 5px;
  display: flex;
  align-items: center;
  width: 53px;
  height: 25px;
  font-size: 15px;
  color: #f5d172;
  content: "Wave";
  background-color: #633e29;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: inset 0 -2px 2px -1px #3e2417;
}

.warpathHUD.wave_1::after {
  content: "Wave 1";
}

.warpathHUD.wave_2::after {
  content: "Wave 2";
}

.warpathHUD.wave_3::after {
  content: "Wave 3";
}

.warpathHUD.wave_4::after {
  content: "Wave 4";
}

.warpathHUD-streak-quantity {
  top: 1px;
  left: 60px;
  width: 17px;
  padding: 2px;
  font-size: 17px;
  color: #f5d172;
  background-color: #633e29;
  border-radius: 2px;
  box-shadow: inset -2px 1px 2px 0 #af7756;
}

.warpathHUD-clearWaveQuantity.quantity {
  top: 46px;
  left: 8px;
  padding: 2px;
  font-size: 13px;
  font-weight: 400;
  background-color: #49362b;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px inset #38281d;
}

.warpathHUD-wave-mouse-population {
  font-size: 13px;
  line-height: 22px;
}

.warpathHUD-wave-mouse.mousehuntTooltipParent.active.laser_targetted {
  color: #ff824c;
  filter: drop-shadow(0 -2px 3px #ea4700);
}

.warpathHUD-wave-mouse-powerType {
  width: 32px;
  height: 32px;
  margin-top: 0;
  margin-right: 10px;
}

.warpathHUD-wave-mouse .mousehuntTooltip.tight.top {
  height: 33px;
  color: transparent;
}

.warpathHUD-wave-mouse .mousehuntTooltip .warpathHUD-wave-mouse-name {
  line-height: 34px;
  color: #000;
}

.warpathHUD-wave-mouse .mousehuntTooltip.hasCharms .warpathHUD-wave-mouse-name {
  line-height: 14px;
}

.warpathHUD-wave-mouse.desert_general .mousehuntTooltip .warpathHUD-wave-mouse-name,
.warpathHUD-wave-mouse.desert_supply .mousehuntTooltip .warpathHUD-wave-mouse-name {
  text-align: center;
}

.warpathHUD-wave-mouse.desert_general .mousehuntTooltip .warpathHUD-wave-mouse-name {
  line-height: 28px;
}

.warpathHUD-streakContainer::before {
  background: linear-gradient(0deg, #2ffd2d 50%, #f7f718 75%, #c32222 100%);
  filter: brightness(0.8);
}

.warpathHUD-streak-image-empty {
  font-weight: 900;
  box-shadow: inset 0 0 10px 5px #2f1816;
}

.warpathHUD-wave-mouse.laser_targetted .warpathHUD-wave-mouse-image {
  box-shadow: inset 0 0 10px 6px #ff824c;
}
