.pageFrameView-column.left {
  box-shadow: inset -10px 0 10px -10px #333;
}

.pageFrameView-column.right {
  box-shadow: inset 10px 0 10px -10px #333;
}

/* color backgrounds */
body.mh-improved-bg-background-color-blue .pageFrameView-column.right,
body.mh-improved-bg-background-color-blue .pageFrameView-column.left {
  filter: none;
}

body.mh-improved-bg-background-color-cyan .pageFrameView-column.right,
body.mh-improved-bg-background-color-cyan .pageFrameView-column.left {
  filter: hue-rotate(312deg);
}

body.mh-improved-bg-background-color-green .pageFrameView-column.right,
body.mh-improved-bg-background-color-green .pageFrameView-column.left {
  filter: hue-rotate(266deg);
}

body.mh-improved-bg-background-color-pink .pageFrameView-column.right,
body.mh-improved-bg-background-color-pink .pageFrameView-column.left {
  filter: hue-rotate(80deg);
}

body.mh-improved-bg-background-color-purple .pageFrameView-column.right,
body.mh-improved-bg-background-color-purple .pageFrameView-column.left {
  filter: hue-rotate(51deg);
}

body.mh-improved-bg-background-color-red .pageFrameView-column.right,
body.mh-improved-bg-background-color-red .pageFrameView-column.left {
  filter: hue-rotate(146deg);
}

body.mh-improved-bg-background-color-faded .pageFrameView-column.right,
body.mh-improved-bg-background-color-faded .pageFrameView-column.left {
  filter: sepia(1);
}

#mousehunt-improved-settings-feature-custom-background .PagePreferences__settingLabel {
  position: relative;
}

.mh-improved-custom-bg-preview {
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  display: flex;
  align-items: center;
}

.mh-improved-custom-background-gradient-preview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 80vh;
  padding-right: 10px;
  margin-right: -10px;
  overflow: auto;
}

.mh-improved-custom-background-gradient-preview .gradient {
  display: flex;
  flex-direction: column;
  place-content: center space-between;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 10px 0;
  border: 1px solid #626262;
  border-radius: 5px;
}

.mh-improved-custom-background-gradient-preview .name {
  font-size: 22px;
  font-weight: 900;
  color: #fff;
  text-shadow: 0 1px 2px #000;
}
