/* color backgrounds */
body.mh-improved-bg-background-color-blue .pageFrameView-contentContainer {
  background-color: #bad4ed;
}

body.mh-improved-bg-background-color-blue .pageFrameView-column.right,
body.mh-improved-bg-background-color-blue .pageFrameView-column.left {
  background: #bad4ed;
  border: none;
}

body.mh-improved-bg-background-color-cyan .pageFrameView-contentContainer {
  background-color: #abdbd3;
}

body.mh-improved-bg-background-color-cyan .pageFrameView-column.right,
body.mh-improved-bg-background-color-cyan .pageFrameView-column.left {
  background: #e8c6eb;
  border: none;
}

body.mh-improved-bg-background-color-green .pageFrameView-contentContainer {
  background-color: #b4dbb8;
}

body.mh-improved-bg-background-color-green .pageFrameView-column.right,
body.mh-improved-bg-background-color-green .pageFrameView-column.left {
  background: #b4dbb8;
  border: none;
}

body.mh-improved-bg-background-color-pink .pageFrameView-contentContainer {
  background-color: #e8c6eb;
}

body.mh-improved-bg-background-color-pink .pageFrameView-column.right,
body.mh-improved-bg-background-color-pink .pageFrameView-column.left {
  background: #e8c6eb;
  border: none;
}

body.mh-improved-bg-background-color-purple .pageFrameView-contentContainer {
  background-color: #d8caf3;
}

body.mh-improved-bg-background-color-purple .pageFrameView-column.right,
body.mh-improved-bg-background-color-purple .pageFrameView-column.left {
  background: #d8caf3;
  border: none;
}

body.mh-improved-bg-background-color-red .pageFrameView-contentContainer {
  background-color: #f2c7c5;
}

body.mh-improved-bg-background-color-red .pageFrameView-column.right,
body.mh-improved-bg-background-color-red .pageFrameView-column.left {
  background: #f2c7c5;
  border: none;
}

body.mh-improved-bg-background-color-faded .pageFrameView-contentContainer {
  background-color: #fff4c5;
}

body.mh-improved-bg-background-color-faded .pageFrameView-column.right,
body.mh-improved-bg-background-color-faded .pageFrameView-column.left {
  background: #fff4c5;
  border: none;
}

/* Settings & Preview */
#mousehunt-improved-settings-feature-custom-hud .PagePreferences__settingLabel,
#mousehunt-improved-settings-feature-custom-background .PagePreferences__settingLabel {
  position: relative;
}

.mh-improved-custom-hud-preview,
.mh-improved-custom-camp-bg-preview,
.mh-improved-custom-bg-preview {
  position: absolute;
  top: 0;
  right: 225px;
  bottom: 0;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.mh-improved-custom-background-gradient-preview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 80vh;
  padding-right: 10px;
  margin-right: -10px;
  overflow: auto;
}

.mh-improved-custom-background-gradient-preview .gradient {
  display: flex;
  flex-direction: column;
  place-content: center space-between;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 10px 0;
  border: 1px solid #626262;
  border-radius: 5px;
}

.mh-improved-custom-background-gradient-preview .name {
  font-size: 22px;
  font-weight: 900;
  color: #fff;
  text-shadow: 0 1px 2px #000;
}

.mh-improved-custom-preview-popup-custom-hud .mh-improved-custom-background-gradient-preview .gradient {
  height: 55px;
}

.mh-improved-custom-preview-popup-custom-hud .mh-improved-custom-background-gradient-preview .name {
  font-size: 18px;
}

.mh-improved-custom-background-gradient-preview .mh-improved-custom-bg-action-button {
  margin: 0 3px;
}
