.mh-improved-aura-view.campPage-trap-trapEffectiveness {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 10px;
  margin: 5px 0;
  cursor: default;
}

.mh-improved-aura-view .trapImageView-trapAura,
.mh-improved-aura-view .trapImageView-trapAura.active {
  width: 40px;
  height: 40px;
  visibility: visible;
  opacity: 1;
}

.mh-improved-aura-view .type,
.mh-improved-aura-view .times,
.mh-improved-aura-view .expiry {
  display: none;
}
