.mousehuntHud-page-tabContent.game_settings.mousehunt-improved-settings.active.two-column {
  display: grid;
  grid-template-columns: 49% 49%;
  justify-content: space-between;
}

.two-column.mousehunt-improved-settings .PagePreferences__title {
  max-width: 350px;
}

.two-column.mousehunt-improved-settings #mousehunt-improved-settings-location-hud.PagePreferences__title {
  grid-column: 1 / 3;
  max-width: unset;
}

.two-column.mousehunt-improved-settings .PagePreferences__setting {
  flex-wrap: wrap;
}

.two-column.mousehunt-improved-settings #mousehunt-improved-settings-design-wrapper .PagePreferences__setting {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
}

.two-column.mousehunt-improved-settings .mh-improved-custom-bg-preview,
.two-column.mousehunt-improved-settings .mh-improved-custom-horn-show-horn {
  top: 10px;
  right: 0;
}

#mousehunt-improved-settings-design .PagePreferences__settingAction {
  max-width: 200px;
}

.two-column.mousehunt-improved-settings #mousehunt-improved-settings-feature-ultimate-checkmark-show.PagePreferences__subSetting .multi-toggle-row .PagePreferences__settingName {
  max-width: 65px;
  padding: 0;
  overflow: hidden;
  line-height: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.two-column.mousehunt-improved-settings #mousehunt-improved-settings-feature-ultimate-checkmark-show.PagePreferences__subSetting .multi-toggle-row {
  gap: 0;
  justify-items: stretch;
}

.two-column.mousehunt-improved-settings .PagePreferences__settingsList.PagePreferences__subSetting {
  margin-left: 5px;
}

.two-column.mousehunt-improved-settings #mousehunt-improved-settings-location-hud-wrapper .PagePreferences__settingsList.PagePreferences__subSetting {
  padding: 0 5px;
  border-right: 1px solid #e0cfb4;
  border-radius: 0;
}

.two-column.mousehunt-improved-settings .PagePreferences__settingsList-textarea .PagePreferences__setting,
.two-column.mousehunt-improved-settings .PagePreferences__settingsList-input .PagePreferences__setting {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: stretch;
  padding: 0;
  margin: 0;
}

.two-column.mousehunt-improved-settings #mousehunt-improved-settings-advanced-mh-improved-advanced-settings {
  position: relative;
  top: unset;
  right: unset;
  display: flex;
  align-items: flex-start;
  padding: 0 0 10px;
  margin: 0 0 10px;
  border-bottom: 1px solid #e0cfb4;
}

.two-column.mousehunt-improved-settings #mousehunt-improved-settings-feature-quick-send-supplies-items .inputBoxContainer.multiSelect {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.two-column.mousehunt-improved-settings #mousehunt-improved-settings-feature-quick-send-supplies-items .multiSelect {
  width: auto;
  max-width: 140px;
}

.two-column #mousehunt-improved-settings-better-better-gifts-ignore-bad-gifts select.inputBox.multiSelect {
  max-width: 200px;
}

.two-column select.inputBox.multiSelect {
  max-width: 140px;
  margin: 0;
}

.two-column .inputBoxContainer.multiSelect {
  gap: 5px 10px;
  justify-content: flex-start;
  margin-top: 5px;
}

.two-column #mousehunt-improved-settings-location-hud {
  padding-bottom: 0;
}

.two-column #mousehunt-improved-settings-location-hud-wrapper {
  gap: 0;
  height: 725px;
  padding: 10px 0 0;
  margin: 0 -11px;
  border-left: 1px solid #e0cfb4;
}

.two-column #mousehunt-improved-settings-location-hud .PagePreferences__title {
  border-bottom: 1px solid #f2ebde;
}

.two-column.mousehunt-improved-settings .PagePreferences .mousehuntHud-page-tabContent.game_settings.mousehunt-improved-settings .mhui-setting-toggle,
.PagePreferences .mousehuntHud-page-tabContent.game_settings.two-column.mousehunt-improved-settings .mhui-setting-toggle,
.two-column #mousehunt-improved-settings-feature-quick-send-supplies-items .PagePreferences__settingLabel {
  display: none;
}

.two-column #mousehunt-improved-settings-better-better-send-supplies-pinned-items .settingRow-action-inputContainer {
  width: 300px;
}

.two-column #mousehunt-improved-settings-advanced-override-styles,
.two-column #mousehunt-improved-settings-advanced-override-flags {
  margin-left: 0;
}

.two-column #mousehunt-improved-settings-advanced-override-styles .PagePreferences__settingName,
.two-column #mousehunt-improved-settings-advanced-override-flags .PagePreferences__settingName {
  margin-bottom: 10px;
}

.two-column .PagePreferences__settingsList .PagePreferences__subSetting {
  opacity: 0.4;
}

.two-column .PagePreferences__settingsList:hover .PagePreferences__subSetting {
  opacity: 1;
}

.two-column .mousehunt-improved-settings .PagePreferences__titleText {
  padding-bottom: 0;
}

.two-column .mousehunt-improved-settings .PagePreferences__settingsList-textarea .PagePreferences__setting,
.two-column .mousehunt-improved-settings .PagePreferences__settingsList-input .PagePreferences__setting {
  gap: 5px;
}

.two-column .mousehunt-improved-settings .PagePreferences__settingDescription {
  display: none;
}

.two-column .mousehunt-improved-settings .PagePreferences__subSetting .PagePreferences__settingName {
  font-size: 11px;
  line-height: 1.5;
}
