.harbourHUD-map-mapImage {
  filter: drop-shadow(1px -2px 2px #000);
  transition: 0.3s ease-in-out;
}

.harbourHUD-mapContainer:hover .harbourHUD-map-mapImage {
  transform: rotate(5deg) scale(1.1);
}

.harbourHUD-mouse-name {
  text-shadow:
    1px 1px 2px #000,
    0 0 4px #fff;
}

.harbourHUD-popup-title {
  text-shadow: none;
}
