.journal .content .entry.spookyAuraActivated {
  background-color: #9df327;
}

.entry.short.misc.custom.anniversaryAuraActivated i {
  font-size: 10px;
}

.entry.short.misc.custom.anniversaryAuraActivated br:nth-of-type(3) {
  display: none;
}
