.journal .content .entry.spookyAuraActivated {
  background-color: #9df327;
}

.entry.short.misc.custom.anniversaryAuraActivated i {
  font-size: 10px;
}

.entry.short.misc.custom.anniversaryAuraActivated br:nth-of-type(3) {
  display: none;
}

.entry.short.misc.custom.minimalJournalImage.relicHunter_slayer_aura_relic_bonus .journaltext {
  line-height: 25px;
}
