.journal .entry.drawwinner {
  box-shadow: inset 0 0 4px 2px #8fc68f;
  animation: warpathWiggle 1s 5;
}

.journal .entry.drawwinner::after {
  position: absolute;
  inset: 0;
  content: "";
  background: url(https://www.mousehuntgame.com/images/ui/journal/donation_shimmer.png) no-repeat -130px 0;
  animation: donationShimmer 5s infinite;
}

@media (prefers-reduced-motion: reduce) {
  .journal .entry.drawwinner,
  .journal .entry.drawwinner::after {
    animation: none;
  }
}
