.journal .entry.ronza_chrome_voucher_claim {
  background-color: #cae5e8;
  background-image: url(https://www.mousehuntgame.com/images/items/stats/large/a3be8c11176c289f6c79068cbe813968.png);
}

.journal .entry.halloween-candy {
  background-color: #f1b7dc;
}

.journal .entry.lunar_lantern {
  background-color: #ffd0b3;
  border: 1px solid #5b5b5b;
  border-bottom: none;
}

.entry.short.misc.custom.chocolateshop_reward_claimed {
  background-color: #e7cdaa;
}

.spring_hunt_charge_trinket_effect .journalimage img {
  width: 30px;
}

.journal .entry.spring_hunt_charge_trinket_effect {
  display: flex;
  align-items: center;
  min-height: 35px;
  padding-bottom: 6px;
}

.journal .entry.spring_hunt_charge_trinket_effect .journalimage {
  margin: 0;
}
