.mousehunt-improved-lgs-reminder.lgs-warning {
  background: linear-gradient(#fff,#ffbfbf);
}

.mousehunt-improved-lgs-reminder.lgs-danger {
  color: #f1d7d7;
  background: #b32d26;
  transition: 1.75s;
  animation: mh-improved-slight-fade 1.75s infinite;
}

/* if they have prefers reduced motion enabled, don't animate */
@media (prefers-reduced-motion: reduce) {
  .mousehunt-improved-lgs-reminder.lgs-danger {
    animation: none;
  }
}

.mousehunt-improved-lgs-reminder-wrapper {
  position: absolute;
  bottom: 0;
  left: 15px;
  font-size: 9px;
  white-space: nowrap;
}

.mousehunt-improved-lgs-reminder {
  border: 1px solid #d4af37;
  background: linear-gradient(#fff 45%,#f8e7bb 55%);
  padding: 2px 5px;
  display: flex;
  align-items: center;
  border-radius: 6px 6px 0 0;
  justify-content: center;
  border-bottom: none;
}
