#minluck-button {
  margin-top: 10px;
}

#minluck-list {
  padding: 10px;
  margin-top: -2px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#minluck-list table {
  width: 100%;
  margin: 0 10px 10px;
}

#minluck-list table th {
  font-weight: 700;
  text-align: center;
}

#minluck-list table th.mousename-header {
  text-align: left;
}

#minluck-list table:first-child {
  text-align: left;
}

.minlucklist-minluck-name {
  min-width: 85px;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.minlucklist-minluck-data {
  min-width: 70px;
  text-align: center;
}

.minlucklist-minluck-data-good {
  color: #138f13;
}

.minlucklist-minluck-data-bad {
  color: #bb4646;
}

.minluck-indicator-all-good {
  border-top: 5px solid #103a70;
}

.minluck-indicator-good {
  border-top: 5px solid #2f82ec;
}

.minluck-indicator-bad {
  border-top: 5px solid #900;
}

.minluck-indicator-all-good,
.minluck-indicator-good,
.minluck-indicator-bad {
  border-top: none;
}
