#mh-improved-cre {
  padding-right: 5px;
  margin: 10px 0;
}

#mh-improved-cre table {
  width: 100%;
}

#mh-improved-cre thead {
  box-shadow: 0 -1px 0 0 #d3cecb inset;
}

#mh-improved-cre table th {
  font-weight: 700;
  text-align: center;
}

#mh-improved-cre table th.name {
  text-align: left;
}

#mh-improved-cre table:first-child {
  text-align: left;
}

.mh-improved-cre-data {
  min-width: 70px;
  text-align: center;
}

.mh-improved-cre-data-good {
  color: #138f13;
}

.mh-improved-cre-data-bad {
  color: #bb4646;
}

.mh-improved-cre-name {
  padding-left: 5px;
}
