#mh-improved-cre {
  padding: 3px;
  margin: 5px 0;
  cursor: default;
}

#mh-improved-cre table {
  width: 100%;
}

#mh-improved-cre thead {
  box-shadow: 0 -1px 0 0 #d3cecb inset;
}

.mh-dark-mode #mh-improved-cre thead {
  box-shadow: 0 -1px 0 0 #5c5c5c inset;
}

#mh-improved-cre table th {
  font-weight: 700;
  text-align: center;
}

#mh-improved-cre table th.name {
  padding-left: 5px;
  text-align: left;
}

#mh-improved-cre table th:last-of-type {
  padding-right: 5px;
}

#mh-improved-cre table:first-child {
  text-align: left;
}

.mh-improved-cre-data {
  min-width: 70px;
  font-size: 12px;
  text-align: center;
}

.mh-improved-cre-data-good {
  color: #138f13;
}

.mh-dark-mode .mh-improved-cre-data-good {
  color: #4fe54f;
}

.mh-improved-cre-data-bad {
  color: #bb4646;
}

.mh-dark-mode .mh-improved-cre-data-bad {
  color: #fb9b9b;
}

.mh-improved-cre-data-ultimate {
  color: #0fa4bd;
}

.mh-improved-cre-name {
  max-width: 170px;
  padding-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mh-improved-cre-name:hover {
  overflow: visible;
  text-overflow: revert;
}

.mh-improved-cre-name a {
  color: inherit;
}

#mh-improved-cre.cre-loading {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  min-height: 50px;
  padding: 20px 0;
  background-image: url(https://www.mousehuntgame.com/images/ui/loaders/round_bar_green.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

#mh-improved-cre.cre-loading::after {
  position: absolute;
  right: 0;
  bottom: -5px;
  left: 0;
  font-weight: 400;
  color: #926944;
  text-align: center;
  content: "Loading Catch Rate Estimator…";
}

span.mh-improved-cre-no-mice {
  font-size: 12px;
}
