.pageFrameView-contentContainer {
  padding-bottom: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pageFrameView-content {
  margin: 0 -10px;
  background-color: transparent;
  border: 10px solid #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px -2px #000;
}

.mh-dark .pageFrameView-content {
  border-color: var(--d);
}

.mh-dark .pageFrameView-column.left,
.mh-dark .pageFrameView-column.right,
.pageFrameView-column.left,
.pageFrameView-column.right {
  border-color: transparent;
  box-shadow: none;
}

.mousehuntHeaderView {
  padding-top: 0;
  margin-top: 0;
}

#overlayContainer {
  padding-top: 0;
}

#overlayBg {
  top: -5px;
}

.mousehuntHeaderView .menuItem.first {
  border-radius: 9px 0 0;
}
