/* Taller Train Station HUD */
.pendingTrainContainer .trainTableBody {
  height: 340px;
}

.trainStationHUD {
  height: 400px;
}

/* Hide the big wrong environment warning and just show it over the timer bar */
.trainStationHUD .trainStationPhase .wrongEnvironment b {
  position: absolute;
  top: -41px;
  box-sizing: border-box;
  height: 32px;
  padding: 3px 10px;
  font-weight: 400;
  line-height: 30px;
  vertical-align: middle;
  background-color: #ffbfbf;
}

.mousehuntHud-marbleDrawer .tournamentStatusHud.hasError.train {
  height: 32px;
  overflow: hidden;
}

.pendingTrainContainer .trainRow:hover,
.pendingTrainContainer .trainRow:nth-child(even):hover {
  background-color: #645052;
}

.trainStationHUD.expanded .trainTableBody {
  height: 75px;
}

.trainStationHUD.expanded {
  height: 150px;
}

.trainStationHUD .trainStationBar::after {
  position: absolute;
  inset: 0 9px 0 8px;
  content: "";
  background: linear-gradient(180deg, #26191a, #6d5659);
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #fff;
}

.trainTitle {
  position: relative;
  z-index: 1;
}

.pendingTrainContainer {
  filter: drop-shadow(0 3px 2px #3d2c2e);
}
