.folkloreForestRegionView-libraryStatsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin: 10px 0 10px 10px;
}

.folkloreForestRegionView-libraryStats.bestBook {
  padding: 10px 15px;
  margin: 10px 0;
  border: 1px solid #2e602b;
  border-top: none;
  border-radius: 30px;
}

.folkloreForestRegionView-libraryStats.bestBook::after {
  display: none;
}

.folkloreForestRegionView-libraryStats-label {
  max-width: 130px;
  height: unset;
  padding: 5px;
  font-size: 13px;
  font-weight: 400;
}

.folkloreForestRegionView-libraryStats.bestBook .folkloreForestRegionView-libraryStats-value {
  gap: 10px;
}

.folkloreForestRegionView-libraryBestBook-name {
  min-width: 100px;
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 15px;
}

.folkloreForestRegionView-libraryStats.bestBook .folkloreForestRegionView-libraryStats-label {
  position: absolute;
  top: -16px;
  left: -10px;
  max-width: unset;
  padding: 5px 10px;
  background-color: #6a9e43;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0 #070707;
  rotate: -10deg;
}

.folkloreForestRegionView-libraryStats {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px;
}

.folkloreForestRegionView-libraryStats-value {
  height: unset;
}

.folkloreForestRegionView-libraryStats-value.longestWritingSession {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  align-items: baseline;
  justify-content: center;
  margin-left: 30px;
}

.folkloreForestRegionView-libraryBooksContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.folkloreForestRegionView-libraryBook {
  width: auto;
  min-width: 150px;
}

.folkloreForestRegionView-libraryBook-words {
  font-size: 12px;
  color: #b4c2ab;
}

.folkloreForestRegionView-libraryBook-name {
  font-size: 14px;
  font-weight: 400;
}

.folkloreForestRegionView-libraryBook-quantity {
  font-size: 30px;
  color: #81eb00;
  text-shadow:
    1px 1px 1px #143706,
    0 1px 1px #143706,
    1px 0 1px #143706,
    0 0 1px #143706;
  filter: drop-shadow(0 0 2px #000);
}

.folkloreForestRegionView-libraryStats-value.bigText {
  color: #81eb00;
  text-shadow:
    1px 1px 1px #143706,
    0 1px 1px #143706,
    1px 0 1px #143706,
    0 0 1px #143706;
}

.folkloreForestRegionView-libraryStats.totalWords {
  flex: 1;
}

.folkloreForestRegionView-libraryBook.disabled .tableOfContentsView-bookCover {
  filter: opacity(0.8) grayscale(1);
}

.folkloreForestRegionView-libraryBook.disabled .folkloreForestRegionView-libraryBook-name {
  color: #979797;
}

#overlayPopup.fabledForestDialog .title {
  font-size: 19px;
  letter-spacing: 1px;
}

.tableOfContentsProgressView-nextBookContainer {
  position: absolute;
  bottom: -33px;
  padding: 3px;
  font-size: 11px;
  white-space: nowrap;
  background-color: #fdebab;
  box-shadow: 0 1px 1px 1px #f1b960;
  transform: translate(-50%);
}

.tableOfContentsView-wordMeter-value {
  margin-right: 2px;
  font-size: 14px;
  border-radius: 3px;
}

.tableOfContentsProgressView-nextBook-wordsRequired {
  text-decoration: none;
}

.tableOfContentsProgressView-book-huntsRemaining span {
  font-size: 13px;
}

.tableOfContentsProgressView-book-wordCount {
  margin: 10px 0 5px;
}

a.tableOfContentsProgressView-claimButton.reveal {
  filter: hue-rotate(80deg) brightness(1.2);
}

.tableOfContentsClaimDialogView-miceLoot .itemImage .quantity {
  font-size: 13px;
  background-color: rgb(255 255 255 / 60%);
}

.folkloreForestRegionView-boost {
  display: none;
}

.tableOfContentsView-initialFuel-checkboxContainer {
  background-color: transparent;
}

/* maybe? this makes the writing way less gold and fancy */
.tableOfContentsProgressView-progressBar-value {
  filter: sepia(1);
}

.tableOfContentsProgressView-progressBar {
  background: none;
  box-shadow: none;
}

/* move the X cancel writing button slightly */
.tableOfContentsProgressView-cancelButton.active {
  top: -31px;
  left: 338px;
  filter: opacity(0.9) grayscale(0.5);
  border-radius: 50%;
  box-shadow:
    0 0 0 4px #48762a,
    inset 0 -1px 3px 1px #d7a086;
}

.tableOfContentsProgressView-cancelButton.active:hover {
  filter: opacity(1) grayscale(0);
}

.tableOfContentsView-wordMeterContainer {
  margin-right: -15px;
}

.tableOfContentsView-wordMeter-label {
  width: 50px;
}

.folkloreForestRegionView-baitTOCCraftableContainer .folkloreForestRegionView-bait-image {
  position: absolute;
  top: 0;
  left: -2px;
  width: 40px;
  height: 40px;
}

.folkloreForestRegionView-bait-image:hover {
  background-size: 100%;
  transform: scale(1.2);
}

a.folkloreForestRegionView-bait-image {
  transition: 0.2s ease-in;
}

.folkloreForestRegionView-bait-range {
  padding-top: 5px;
  font-size: 13px;
  font-weight: 900;
  text-align: center;
}

.folkloreForestRegionView-baitTOCCraftableContainer .mousehuntTooltip {
  right: -40px;
  left: -40px;
  text-align: center;
}

.folkloreForestRegionView-baitTOCCraftableContainer[data-item-type="thousandth_draft_derby_cheese"] .mousehuntTooltip {
  right: -55px;
  left: -55px;
}

.folkloreForestRegionView-baitTOCCraftableContainer .mousehuntTooltip b {
  font-size: 12px;
  line-height: 18px;
}

/* Make the little inventory window less wide for table of contents */
.folkloreForestRegionView-environmentInventory-blockContainer {
  width: auto;
}

.expanded .folkloreForestRegionView-environmentInventory-blockContainer {
  width: 110px;
}

.folkloreForestRegionView.table_of_contents .expanded .folkloreForestRegionView-environmentInventory.table_of_contents {
  width: auto;
}

.folkloreForestRegionView-environmentInventory-label {
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableOfContentsClaimDialogView-bestStats {
  left: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 170px;
  place-items: center;
  align-content: stretch;
  width: calc(100% - 60px);
  text-align: center;
  text-shadow: 1px 1px 1px #333;
}

.mh-best-stats-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.mh-best-stats-content {
  font-size: 1.25em;
}

.tableOfContentsClaimDialogView-bookStats {
  top: 240px;
  left: 90px;
  display: grid;
  justify-content: normal;
  justify-items: stretch;
  width: 160px;
  font-size: 15px;
  line-height: 22px;
  color: #574228;
  text-shadow: 1px 1px 1px #c8aa85;
}

.mh-book-stats-wrapper {
  display: flex;
}

.mh-book-stats-header {
  margin-right: auto;
  font-size: 13px;
}

.folkloreForestRegionView-libraryBestBook-words {
  font-size: 13px;
}

.tableOfContentsClaimDialogView .tableOfContentsClaimDialogView-wordCount span {
  font-size: 15px;
}

.blank_page .tableOfContentsProgressView-rowContainer::before {
  position: absolute;
  top: 45px;
  right: 8px;
  width: 140px;
  font-size: 11px;
  font-weight: 900;
  color: #d2815f;
  content: attr(data-blank-page-text);
}

.blank_page .tableOfContentsProgressView-rowContainer::after {
  position: absolute;
  top: 0;
  right: 10px;
  width: 40px;
  height: 40px;
  content: "";
  background-image: url(https://i.mouse.rip/upscaled/81389af6f5cbe78d73c2bcdba6dfdc85.png);
  background-size: contain;
  opacity: 0.7;
  transform: rotate(-25deg);
}

.tableOfContentsProgressView-progressBar-diff {
  mix-blend-mode: saturation;
}

.tableOfContentsView-bookContainer.encyclopedia .tableOfContentsProgressView-rowContainer.num_rows_7 .tableOfContentsProgressView-progressBar:first-child,
.tableOfContentsView-bookContainer.encyclopedia .tableOfContentsProgressView-rowContainer.num_rows_8 .tableOfContentsProgressView-progressBar:first-child,
.tableOfContentsView-bookContainer.encyclopedia .tableOfContentsProgressView-rowContainer.num_rows_9 .tableOfContentsProgressView-progressBar:first-child {
  width: 120px;
  margin-left: 0;
}

.tableOfContentsView-bookContainer.encyclopedia .tableOfContentsProgressView-rowContainer.num_rows_7 .tableOfContentsProgressView-progressBar:nth-child(2),
.tableOfContentsView-bookContainer.encyclopedia .tableOfContentsProgressView-rowContainer.num_rows_8 .tableOfContentsProgressView-progressBar:nth-child(2),
.tableOfContentsView-bookContainer.encyclopedia .tableOfContentsProgressView-rowContainer.num_rows_9 .tableOfContentsProgressView-progressBar:nth-child(2) {
  width: 125px;
  margin-left: 0;
}
