/* Cheese Selector */
.mh-ui-cheese-selector-wrapper {
  margin-top: 10px;
}

.mh-ui-cheese-selector .townOfGnawniaHUD-baitContainer {
  flex-wrap: wrap;
}

.mh-ui-cheese-selector .townOfGnawniaHUD-bait {
  width: 145px;
  margin: 3px 0;
  cursor: pointer;
}

.mh-ui-cheese-selector .townOfGnawniaHUD-bait-image {
  left: 2px;
  filter: none;
  background-repeat: no-repeat;
  background-size: 75%;
}

.mh-ui-cheese-selector .townOfGnawniaHUD-bait-name {
  margin-left: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
