.springEggHuntCampHUD-chocolate-quantity {
  font-size: 14px;
}

.springHuntHUD-popup-region-environment.active::before {
  left: -9px;
  outline: 1px solid #364661;
  box-shadow:
    0 0 125px #bbffb3 inset,
    0 1px 6px -2px #000;
}

.springHuntHUD-popup-egg-quantity {
  right: 0;
  bottom: 0;
  padding: 5px;
  font-size: 14px;
}

.springHuntHUD-popup-region-environment-header {
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.springHuntHUD-popup-region-environment-header .mousehuntActionButton {
  bottom: 5px;
}

.springHuntHUD-popup-region-environment-margin {
  margin-bottom: 15px;
}

.springHuntHUD-totalEggStats {
  top: -7px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-end;
  font-size: 12px;
}

.springHuntHUD-popup-tabHeader span {
  top: 0;
  padding-top: 8px;
}

.springHuntHUD-popup-tabHeader.active,
.springHuntHUD-popup-tabHeader:hover {
  padding-top: 5px;
}

.springHuntHUD-shop-cost {
  margin-top: -2px;
  font-size: 12px;
}

.springHuntHUD-shelf .springHuntHUD-shelf-itemsContainer {
  margin-bottom: 5px;
}

.springHuntHUD-shelf-unlockContainer::before,
.springHuntHUD-shelf.locked:nth-of-type(6) .springHuntHUD-shelf-unlockContainer::before,
.springHuntHUD-shelf.locked:nth-of-type(3) .springHuntHUD-shelf-unlockContainer::before {
  height: 155px;
}

.springHuntHUD-shelf.locked:nth-of-type(4) .springHuntHUD-shelf-unlockContainer::before {
  height: 282px;
}

.springHuntHUD-shelf.locked:nth-of-type(5) .springHuntHUD-shelf-unlockContainer::before {
  height: 292px;
}

.springHuntHUD-unlockShelfButton {
  display: flex;
  align-items: center;
}

.springHuntHUD-shelf-unlockContainer span {
  display: flex;
  align-items: center;
}

.springHuntHUD-unlockShelfButton .springHuntHUD-shop-cost {
  margin: -1px -6px -1px 10px;
}

.springHuntHUD-shelf-unlock-reward-image {
  filter: drop-shadow(0 1px 1px #c7f4ff);
  transition: 0.3s;
}

.springHuntHUD-shelf-unlock-reward-image:hover {
  transform: scale(1.35);
}

.springHuntHUD-interfaceEgg::after {
  border: none;
  transform-origin: center;
  animation: 2s wallDamageWiggle infinite;
}

.eggSweeper-inventoryReminder-quantity,
.eggSweeper-play-upgradeQuantity {
  font-size: 12px;
}

.eggSweeper-dialog-title {
  margin-bottom: 10px;
}

.eggSweeper-dialog-state.rewards {
  margin-top: -10px;
}

.springEggHuntCampHUD-fuelQuantity {
  top: 15px;
  left: 27px;
  font-size: 13px;
}

.springEggHuntCampHUD-buyFuelButton {
  top: 14px;
  border: 1px solid #5f221e;
  border-radius: 7px;
  mix-blend-mode: luminosity;
}

.eggSweeper-eggConvertible .itemImage {
  background-color: transparent;
}

.highlight .springHuntHUD-popup-egg.found {
  opacity: 0.2;
}

.springHuntHUD-popup-egg.found::after {
  top: 60px;
  left: 0;
}

.springHuntHUD-popup-moreInfo-content-paragraph-container img {
  transition: 0.2s ease-in;
}

.springHuntHUD-popup-moreInfo-content-paragraph-container img:hover {
  transform: scale(1.2) rotate(-2deg);
}

.springHuntHUD-shelf-item.mousehuntTooltipParent:hover .mousehuntTooltip {
  display: none;
}

.springHuntHUD-shelf-item-name {
  margin: 2px -30px;
  line-height: 1.4;
}

.springHuntHUD-shop-cost:hover {
  filter: brightness(1.3);
}

.mousehuntTooltipParent:hover .springEggHuntCampHUD-fuelButtonBackground::after {
  position: absolute;
  top: 9px;
  right: 24px;
  width: 14px;
  height: 11px;
  content: "";
  background: linear-gradient(90deg, #5b201c 0%, #4e1915 100%);
  border-radius: 0 0 40px 36px;
  box-shadow:
    0 -0.7px 0 0 #652c1c,
    0 -1px 0 0 #eda934,
    0 -3px 0 0 #f5a02d;
}

.springHuntHUD-setMaxQuantityButton {
  font-size: 14px;
}

.springHuntHUD-popup-dialogContainer {
  top: 50vh;
}

.springHuntHUD-popup-dialogFrame-content {
  max-height: 60vh;
  overflow-y: auto;
}
