/* Iceberg */
.icebergHud.bonus .bonus_timeline .turnsLeft {
  top: 0;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  border-color: #666;
  border-radius: 0;
}

.remaining-distance,
.remaining-stage-distance {
  margin: 0.25em 0;
}

.icebergStatusTooltip {
  bottom: -3px;
  left: 170px;
  width: 330px;
  padding: 5px 5px 0;
  background-color: #edf1f8;
  border: 1px solid #a4b5bf;
  box-shadow: 0 1px 0 1px #9caab4;
}

.icebergStatusTooltip .mousehuntTooltip-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  align-items: center;
}

.icebergStatusTooltip .hunts-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.icebergStatusTooltip .hunts-wrapper .average-hunts {
  font-size: 1.25em;
}

.icebergStatusTooltip .hunts-wrapper div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
}

.icebergStatusTooltip .hunts-wrapper div:first-child {
  margin-top: 0;
  text-align: center;
}

.icebergStatusTooltip .iceberg-sections {
  width: 175px;
}

.icebergStatusTooltip .iceberg-section {
  position: relative;
  display: flex;
  place-items: center start;
  justify-content: space-between;
  width: auto;
  margin-bottom: 0.25em;
  overflow: visible;
}

.icebergStatusTooltip .iceberg-section.complete {
  color: #989898;
  opacity: 0.6;
}

.icebergStatusTooltip .iceberg-section.complete .iceberg-section-name::before {
  position: absolute;
  top: 1px;
  left: -10px;
  width: 10px;
  height: 10px;
  content: "";
  background: url(https://www.mousehuntgame.com/images/ui/hud/meadow_checkmark.png) 0 0 no-repeat;
  background-size: contain;
  opacity: 1;
}

.icebergStatusTooltip .iceberg-section.incomplete {
  color: #488589;
}

.icebergStatusTooltip .iceberg-section.current::before {
  position: absolute;
  top: 1px;
  left: -7px;
  font-size: 8px;
  color: #6aa9af;
  vertical-align: middle;
  content: "•";
  border-radius: 3px;
}

.deep-warning {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 175px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 1em;
  color: #000;
  text-align: center;
  background-color: #ffbfbf;
  border-radius: 10px;
  opacity: 0.8;
}

.deep-warning-text {
  max-width: 250px;
  font-size: 11px;
  line-height: 15px;
  color: #000;
  text-align: left;
}

.icebergHud .timeline .resetIceberg {
  top: 10px;
  right: 25px;
  z-index: 4;
  cursor: pointer;
}

.icebergHud .timeline .resetIceberg:hover,
.icebergHud .timeline .resetIceberg:focus {
  color: #a5cedf;
  opacity: 1;
}

.icebergHud .cutaway .wax .quantity,
.icebergHud .cutaway .sticky .quantity {
  box-sizing: border-box;
  width: 38px;
  padding: 0;
  margin-top: 22px;
  margin-left: 4px;
  font-size: 12px;
  font-weight: 400;
  border-color: #89989e;
  border-radius: 2px 2px 6px 6px;
}

.icebergHud .cutaway .sticky .quantity {
  margin-top: 26px;
}

.icebergHud .cutaway .drill .quantity {
  top: 28px;
  left: 110px;
  font-size: 14px;
  text-align: left;
  text-shadow: 1px 1px #000;
}

.iceberg-section.current {
  font-weight: 900;
}

.icebergHud .cutaway .depth {
  top: 3px;
  z-index: 4;
  padding-top: 6px;
  background-color: rgb(0 0 0 / 35%);
  border-color: #8d98a0;
  border-radius: 0;
}

.icebergHud .cutaway .drill .heatContainer .heat {
  mix-blend-mode: overlay;
}

.icebergStatusTooltip .hunts-wrapper strong {
  margin: 0;
  font-size: 11px;
  font-weight: 900;
  line-height: 1.125;
  text-align: center;
}

.icebergStatusTooltip.mousehuntTooltip {
  pointer-events: all;
}

.icebergStatusTooltip.mousehuntTooltip .mousehuntTooltip-arrow {
  top: 70%;
  left: -24px;
  border-color: transparent #a4b5bf transparent transparent;
  border-width: 12px;
}

.icebergStatusTooltip.mousehuntTooltip .mousehuntTooltip-arrow::after {
  bottom: -10px;
  left: -8px;
  border-color: transparent #edf1f8 transparent transparent;
  border-width: 10px;
}

.icebergHud .cutaway .icebergContainer .label {
  font-size: 12px;
}

.icebergMap img {
  width: 600px;
}

/* .bonus_timeline .icebergContainer {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.bonus_timeline {
  position: relative;
  height: 30px;
} */

.icebergHud .cutaway .drill .help b.warning {
  display: block;
}

.icebergHud .cutaway .drill .help {
  width: 400px;
}

.icebergHud .timeline .waterline {
  bottom: -2px;
}
