.forewordFarmPlotView-plot-progress-label {
  font-size: 13px;
  line-height: 18px;
  vertical-align: middle;
  filter: drop-shadow(0 0 1px #000);
  -webkit-text-stroke: 1px rgb(255 255 255 / 50%);
}

span.forewordFarmPlotView-plot-progress-catchText {
  font-size: 11px;
  vertical-align: bottom;
}

.folkloreForestRegionView-basicBait-quantity.quantity {
  top: 13px;
  font-size: 12px;
}

.forewordFarmView-growthRate-value span {
  margin-right: 2px;
}

.forewordFarmView-growthRate-value {
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0 0 20px 0 #000 inset;
}

.forewordFarmView-growthRate-label {
  margin-left: 2px;
  font-size: 11px;
  font-variant: all-small-caps;
}

.forewordFarmView-harvestBin-quantity {
  top: -12px;
  padding: 2px;
  font-size: 20px;
}

.forewordFarmView-harvestBin-claimButton-label {
  margin-left: 64px;
  font-size: 12px;
  color: #224e1c !important;
  text-shadow: 1px 1px 1px #d1d0cf;
}

.forewordFarmPlotView-plot-queue-item-spacer {
  height: 15px;
  background-color: #ccc;
}

.forewordFarmPlotView-plot-queue-name {
  height: 40px;
}

.forewordFarmPlotView-plot-queue-name.active {
  -webkit-line-clamp: 3;
}

a.forewordFarmPlotView-plot-queue-cancelButton {
  top: -12px;
  right: -4px;
  padding: 2px;
  background-color: #ffbfbf;
  box-shadow: 0 0 3px -1px #000 inset;
}

.forewordFarmPlotView-plot-progressContainer .mousehuntTooltip {
  border-width: 1px;
}

.forewordFarmPlotView-plot-queue-item:hover .forewordFarmPlotView-plot-queue-cancelButton:hover {
  z-index: 1;
  color: #000 !important;
  background-color: #eb7c73;
}

.forewordFarmPlotView.showQueues .forewordFarmPlotView-plot-queue-item {
  width: 50%;
}

.forewordFarmPlotView-plot-queue-list:hover {
  background: none;
}

.forewordFarmPlotView-plot-queue-item:hover a.forewordFarmPlotView-plot-queue-cancelButton {
  background-color: #ffbfbf;
}

.folkloreForestRegionView-fuel-quantity.quantity {
  font-size: 13px;
}

.forewordFarmPlantDialogView-plant-yieldContainer table {
  margin-top: 5px;
}

.forewordFarmPlantDialogView-plant-yieldContainer {
  width: 45%;
  padding-top: 5px;
}

.forewordFarmPlantDialogView-plant-costContainer.num_items_3 {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
}

.forewordFarmPlantDialogView .folkloreForestRegionView-dialog-block-item {
  margin: 0;
}

.forewordFarmPlantDialogView-plant-name {
  width: 100%;
  font-size: 12px;
  text-align: center;
}

.forewordFarmPlantDialogView-plant .folkloreForestRegionView-button.big {
  width: 95px;
  font-size: 12px;
}

#overlayPopup.fabledForestDialog .jsDialog.background {
  padding: 18px 5px 10px;
}

.folkloreForestRegionView-dialog-block.highlight,
.folkloreForestRegionView-dialog-block {
  border-top: none;
  border-radius: 0;
  box-shadow: none;
}

.forewordFarmPlantDialogView-row {
  border: 1px solid #897225;
  border-radius: 0;
}

.forewordFarmPlantDialogView-plant {
  border: none;
}

.forewordFarmPlantDialogView-plant-header {
  border-bottom: 1px solid #897225;
  box-shadow: 0 0 6px 0 #134220 inset;
}

.forewordFarmPlantDialogView-row .forewordFarmPlantDialogView-plant:nth-child(2) .forewordFarmPlantDialogView-plant-content {
  margin-left: -1px;

  /* outline: 1px solid red; */
  border-left: 1px solid #897225;
}

.forewordFarmPlotView-plot-progress-bar {
  top: -2px;
  bottom: -1px;
  border-right: none;
  border-left: none;
  box-shadow:
    0 1px 0 0 #999,
    0 -1px 0 0 #999;
}

.forewordFarmPlotView-plot-progress-plantIcon.current {
  top: -5px;
  left: -24px;
}

.forewordFarmPlotView.showQueues .forewordFarmPlotView-plot-progressContainer {
  width: 80px;
  height: 20px;
  margin-top: 114px;
}

.forewordFarmPlotView-plot-progress-plantIcon.queued {
  top: -1px;
  right: -17px;
  width: 22px;
  height: 22px;
}

.forewordFarmPlotView.showPlantIconHighlight .forewordFarmPlotView-plot.highlight .forewordFarmPlotView-plot-progress-plantIcon.highlight {
  box-shadow: 0 0 1px 2px rgb(106 223 79 / 83%);
}

.forewordFarmHarvestBin-itemImage .quantity {
  font-size: 16px;
}

.folkloreForestRegionView-dialog-block-name {
  justify-content: center;
  padding: 0;
  text-align: center;
}

.folkloreForestRegionView-dialog-title {
  padding-top: 5px;
}

.forewordFarmPlantDialogView-plant-header .folkloreForestRegionView-dialog-block-icon {
  width: 32px;
  height: 32px;
  margin-top: 4px;
  margin-left: 5px;
  border: 1px solid #897225;
  box-shadow: none;
}

.folkloreForestRegionView-button.disabled {
  opacity: 0.5;
}

.forewordFarmPlantDialogView-plant:hover .folkloreForestRegionView-button.disabled {
  opacity: 1;
}

.forewordFarmPlantDialogView-plant-costContainer .folkloreForestRegionView-dialog-block-item-image {
  background-color: transparent;
  border: none;
}

.forewordFarmHarvestBin {
  filter: drop-shadow(0 3px 5px #161616);
}
