.journal .content .ultimate_intact,
.journal .content .ultimate_pop {
  background-position: 10px;
}

.journal .content .ultimate_intact::after,
.journal .content .ultimate_pop::after {
  position: absolute;
  top: 17px;
  left: 11px;
  width: 48px;
  height: 48px;
  content: "";
  outline: 1px solid #22eab4;
}
