#overlayPopup.mh-vrift-popup .jsDialogContainer {
  background: linear-gradient(#20216f, #703271, #20216f);
  outline: 1px solid #20216f;
}

#overlayPopup.mh-vrift-popup .title {
  padding: 10px;
  font-size: 18px;
  color: #fff;
}

.mh-vrift-sim-results {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 0 1em;
  color: #fff;
}

.mh-vrift-sim-results .stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1rem;
  margin-bottom: 2em;
}

.mh-vrift-sim-results .result {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.mh-vrift-sim-results .label {
  width: 100%;
  padding-left: 10px;
  font-size: 13px;
  line-height: 30px;
  color: #eaeaea;
  vertical-align: middle;
  background-color: rgb(195 195 195 / 10%);
  border-radius: 5px;
}

.mh-vrift-sim-results .value {
  position: relative;
  left: -25px;
  width: 35px;
  line-height: 30px;
  font-size: 14px;
  color: #eaeaea;
  text-align: center;
  background: linear-gradient(#07041d, #4d3bac);
  border: 1px solid #6d86de;
  border-radius: 5px;
}

.mh-vrift-sim-results .eclipses {
  padding: 10px;
  margin-bottom: 2em;
  background-color: rgb(195 195 195 / 10%);
  border-radius: 5px;
  font-size: 13px;
}

.mh-vrift-sim-results .eclipses h3 {
  padding-bottom: 11px;
  font-size: 16px;
  color: #fff;
}

.mh-vrift-sim-results .eclipses .header {
  padding-bottom: 3px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: unset;
  color: rgb(175 175 175 / 85%);
  border-bottom: 1px solid rgb(175 175 175 / 85%);
}

.mh-vrift-sim-results .eclipses li {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  text-align: right;
}

.mh-vrift-sim-results .eclipses .guaranteed {
  color: #80e472;
}

.mh-vrift-sim-results .number {
  text-align: left;
}

.valourRiftHUD-dialog-inventory-item-quantity.quantity {
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
  text-shadow: none;
  background-color: #282659;
  box-shadow: none;
}

.valourRiftHUD-dialog-inventory-item-name {
  text-align: center;
}

.valourRiftHUD-towerUpgradeLevel-costTotal {
  font-size: 14px;
}

span.valourRiftHUD-towerUpgrade-currentValue {
  font-size: 13px;
  font-weight: 900;
  line-height: 20px;
  color: #fff;
  background-color: #282659;
}

.valourRiftHUD-towerUpgrade-currentValueContainer {
  display: block;
  line-height: 20px;
  vertical-align: middle;
}

.valourRiftHUD-towerUpgrade-header-title {
  padding: 10px;
  font-size: 15px;
}

.valourRiftHUD-towerUpgrade-header {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  justify-items: stretch;
}

.valourRiftHUD-towerUpgrade-content {
  padding: 10px;
}

.valourRiftHUD-powerUp-currentLevel {
  font-size: 13px;
  color: #fff;
}

.valourRiftHUD-powerUp.canUpgrade::after {
  top: 6px;
  left: 13px;
  filter: drop-shadow(1px 4px 6px #40f5ff) hue-rotate(73deg);
  box-shadow: 0 0 6px 3px #2d9ba2;
}

.valourRiftHUD-powerUp-level span {
  margin-left: -1px;
  border-radius: 0
}

.valourRiftHUD-powerUp-level:first-child span {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.valourRiftHUD-powerUp-level:last-child span {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.valourRiftHUD-powerUp-currentLevel {
  padding: 2px 1px;
  top: 6px;
  right: 10px;
}

.valourRiftHUD-gauntletBait-quantity.quantity {
  font-size: 13px;
  font-weight: 900;
  top: 45px;
}

.valourRiftHUD-towerLoot-quantity.quantity {
  font-size: 12px;
  font-weight: 900;
}

.valourRiftHUD-bait-quantity.quantity {
  line-height: 18px;
  font-size: 13px;
  width: 60px;
}

.valourRiftHUD-crafting-quantity.quantity {
  width: 42px;
  font-size: 12px;
}

.valourRiftHUD-fuelContainer-quantity.quantity {
  padding: 1px 2px;
  margin-top: -7px;
  margin-right: -3px;
  font-size: 14px;
  background-color: #281c55;
  border: 1px solid #7db4dc;
  box-shadow: 0 0 0 1px #7eaacd;
}

.valourRiftHUD-fuelContainer-buyButton {
  top: -4px;
  left: 98px;
}

.valourRiftHUD-previewTower {
  top: 45px;
  filter: grayscale(1);
  opacity: .4;
}

span.valourRiftHUD-huntsRemaining-value {
  margin-right: 5px;
  font-size: 13px;
  font-weight: 900;
  line-height: 14px;
}

span.valourRiftHUD-stepsTaken-value {
  font-size: 12px;
  font-weight: 900;
  color: #2d2964;
}

#mh-vrift-floor-name {
  display: none;
}

.valourRiftHUD-currentFloor:hover #mh-vrift-floor-name {
  background-color: #231857f2;
  border: 1px solid #9bcfff;
  border-radius: 5px;
  display: block;
  position: absolute;
  left: 25px;
  right: 25px;
  z-index: 1;
  top: 20px;
  font-size: 10px;
  line-height: 18px;
}

.bottom.mh-vrift-floor-tooltip {
  bottom: -60px;
  right: -50px;
  left: -60px;
  font-size: 11px;
}

.valourRiftHUD-stepsTaken .mousehuntTooltip {
  min-width: 170px;
  width: auto;
  top: -5px;
  left: 107%;
}

.valourRiftHUD-huntsRemaining .mousehuntTooltip {
  min-width: 335px;
  width: auto;
  top: 5px;
  left: 105%;
}
