#overlayPopup.mh-vrift-popup .jsDialogContainer {
  background: linear-gradient(#20216f, #703271, #20216f);
  outline: 1px solid #20216f;
}

#overlayPopup.mh-vrift-popup .title {
  padding: 10px;
  font-size: 18px;
  color: #ffffff;
}

.mh-vrift-sim-results {
  display: grid;
  grid-template-columns: 2fr repeat(1, 1fr);
  margin: 0 1em;
  color: #ffffff;
}

.mh-vrift-sim-results .stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1rem;
  margin-bottom: 2em;
}

.mh-vrift-sim-results .result {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.mh-vrift-sim-results .label {
  color: #eaeaea;
  vertical-align: middle;
  line-height: 30px;
  background-color: rgb(195 195 195 / 10%);
  width: 100%;
  padding-left: 10px;
  border-radius: 5px;
  font-size: 13px;
}

.mh-vrift-sim-results .value {
  background: linear-gradient(#07041d, #4d3bac);
  border: 1px solid #6d86de;
  text-align: center;
  width: 35px;
  line-height: 30px;
  color: #eaeaea;
  font-weight: 700;
  border-radius: 5px;
  position: relative;
  left: -25px;
}

.mh-vrift-sim-results .eclipses {
  background-color: rgb(195 195 195 / 10%);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 2em;
}

.mh-vrift-sim-results .eclipses h3 {
  color: white;
  font-size: 16px;
  padding-bottom: 11px;
}

.mh-vrift-sim-results .eclipses .header {
  color: rgb(175 175 175 / 85%);
  font-size: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(175 175 175 / 85%);
  padding-bottom: 3px;
  line-height: unset;
}

.mh-vrift-sim-results .eclipses li {
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  line-height: 20px;
  justify-items: stretch;
  text-align: right;
}

.mh-vrift-sim-results .eclipses .guaranteed {
  color: #80e472;
}

.mh-vrift-sim-results .number {
  text-align: left;
}

.valourRiftHUD-dialog-inventory-item-quantity.quantity {
  line-height: 20px;
  font-size: 14px;
  font-weight: 900;
  text-shadow: none;
  box-shadow: none;
  background-color: #282659;
}

.valourRiftHUD-dialog-inventory-item-name {
  text-align: center;
}

.valourRiftHUD-towerUpgradeLevel-costTotal {
  font-size: 14px;
}

span.valourRiftHUD-towerUpgrade-currentValue {
  background-color: #282659;
  color: #fff;
  font-weight: 900;
  line-height: 20px;
  font-size: 13px;
}

.valourRiftHUD-towerUpgrade-currentValueContainer {
  vertical-align: middle;
  display: block;
  line-height: 20px;
}

.valourRiftHUD-towerUpgrade-header-title {
  font-size: 15px;
  padding: 10px;
}

.valourRiftHUD-towerUpgrade-header {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  justify-items: stretch;
}

.valourRiftHUD-towerUpgrade-content {
  padding: 10px;
}

.valourRiftHUD-powerUp-currentLevel {
  font-size: 13px;
  color: white;
}

.valourRiftHUD-powerUp.canUpgrade:after {
  left: 13px;
  top: 6px;
  box-shadow: 0 0 6px 3px #2d9ba2;
  filter: drop-shadow(1px 4px 6px #40f5ff) hue-rotate(73deg);
}

.valourRiftHUD-powerUp-level span {
  border-radius: 0;
  margin-left: -1px
}

.valourRiftHUD-powerUp-level:first-child span {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.valourRiftHUD-powerUp-level:last-child span {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.valourRiftHUD-gauntletBait-quantity.quantity {
  font-size: 12px;
  font-weight: 900;
  margin-top: 1px;
}

.valourRiftHUD-towerLoot-quantity.quantity {
  font-size: 12px;
  font-weight: 900;
}

.valourRiftHUD-previewTower {
  opacity: .4;
  top: 45px;
  filter: grayscale(1);
}

span.valourRiftHUD-huntsRemaining-value {
  font-size: 13px;
  line-height: 14px;
  font-weight: 900;
  margin-right: 5px;
}

span.valourRiftHUD-stepsTaken-value {
  color: #2d2964;
  font-weight: 900;
  font-size: 12px;
}

.valourRiftHUD-fuelContainer-quantity.quantity {
  font-size: 14px;
  background-color: #281c55;
  padding: 1px 2px;
  margin-top: -7px;
  border: 1px solid #7db4dc;
  margin-right: -3px;
  box-shadow: 0 0 0 1px #7eaacd;
}
