.floatingIslandsAdventureBoardSkyMap-islandMod .floatingIslandsHUD-mod.rain_shrine:first-child {
  background-position-y: 0;
  border-radius: 3px;
  box-shadow: 0 0 13px 3px #ffd700 inset;
}



.floatingIslandsHUD-modPanel.rain_shrine:hover::before {
  position: absolute;
  right: 7px;
  bottom: 6px;
  left: 7px;
  z-index: 1;
  display: flex;
  justify-content: center;
  height: auto;
  padding: 1px;
  font-size: 16px;
  font-variant: small-caps;
  color: #0c3e0e;
  text-shadow: none;
  white-space: nowrap;
  content: "Rain";
  background-color: #d1e19d;
}




  /* .floatingIslandsHUD-retreatButton.disabled {
    .floatingIslandsHUD-retreatButton {
      background-color: #ae5d18;
      color: #b0a06c!important;
      border-radius: 0;
      border: none;
      background-color: transparent;
      margin-top: -1px;
  }

  .floatingIslandsHUD-retreatButton.disabled:hover {
    background: none;
    color: #fce698!important;
} */
