/* Make the 'mice can drop' one line */
.floatingIslandsHUD-islandLoot-label {
  color: transparent;
}

.floatingIslandsHUD-islandLoot-label::before {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 100px;
  font-size: 13px;
  font-variant: small-caps;
  color: #e2d8b6;
  text-shadow: 1px 1px #43311c;
  content: "Mice can drop";
}

a.floatingIslandsHUD-islandLoot {
  font-size: 14px;
}

.floatingIslandsAdventureBoardSkyMap-islandMod .floatingIslandsHUD-mod.fog_shrine:first-child,
.floatingIslandsAdventureBoardSkyMap-islandMod .floatingIslandsHUD-mod.frost_shrine:first-child,
.floatingIslandsAdventureBoardSkyMap-islandMod .floatingIslandsHUD-mod.rain_shrine:first-child,
.floatingIslandsAdventureBoardSkyMap-islandMod .floatingIslandsHUD-mod.wind_shrine:first-child {
  background-position-y: 0;
  border-radius: 3px;
  box-shadow: 0 0 13px 3px #ffd700 inset;
}

.floatingIslandsAdventureBoardSkyMap-islandMod .floatingIslandsHUD-mod.paragon_cache_a:first-child,
.floatingIslandsAdventureBoardSkyMap-islandMod .floatingIslandsHUD-mod.paragon_cache_b:first-child,
.floatingIslandsAdventureBoardSkyMap-islandMod .floatingIslandsHUD-mod.paragon_cache_c:first-child,
.floatingIslandsAdventureBoardSkyMap-islandMod .floatingIslandsHUD-mod.paragon_cache_d:first-child {
  background-position-y: 0;
  border-radius: 3px;
  box-shadow: 0 0 13px 3px #ffd700 inset;
}

.floatingIslandsHUD-modPanel.fog_shrine:hover::before,
.floatingIslandsHUD-modPanel.frost_shrine:hover::before,
.floatingIslandsHUD-modPanel.rain_shrine:hover::before,
.floatingIslandsHUD-modPanel.wind_shrine:hover::before {
  position: absolute;
  right: 7px;
  bottom: 6px;
  left: 7px;
  z-index: 1;
  display: flex;
  justify-content: center;
  height: auto;
  padding: 1px;
  font-size: 16px;
  font-variant: small-caps;
  color: #0c3e0e;
  text-shadow: none;
  white-space: nowrap;
  content: "";
  background-color: #d1e19d;
}

.floatingIslandsHUD-modPanel.fog_shrine:hover::before {
  content: "Fog"
}

.floatingIslandsHUD-modPanel.frost_shrine:hover::before {
  content: "Frost";
}

.floatingIslandsHUD-modPanel.rain_shrine:hover::before {
  content: "Rain";
}

.floatingIslandsHUD-modPanel.wind_shrine:hover::before {
  content: "Wind";
}

span.floatingIslandsHUD-huntsRemaining {
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 2px 4px;
  font-size: 16px;
}

.floatingIslandsHUD-huntsRemainingContainer {
  top: -1px;
}

.floatingIslandsHUD-islandTitle {
  top: -3px;
  font-size: 15px;
  text-shadow: none;
}

.floatingIslandsHUD-bait-quantity,
.floatingIslandsHUD-bait-craftingItem-quantity {
  padding-right: 4px;
  font-size: 12px;
}

.floatingIslandsHUD-statItem-quantity.quantity {
  font-size: 12px;
}

.floatingIslandsHUD-craftingItem-quantity.quantity {
  font-size: 13px;
}

.floatingIslandsHUD-craftingItem.show-progress .floatingIslandsHUD-craftingItem-quantity.quantity {
  font-size: 11px;
}

.floatingIslandsHUD.island .floatingIslandsHUD-airshipContainer {
  top: 70px;
  left: 524px;
  z-index: 3;
  filter: drop-shadow(0 0 6px #fbe7a4);
  transform: scale(2);
}

.floatingIslandsWorkshop-part-name {
  font-size: 11px;
  text-shadow: none;
}

.floatingIslandsHUD-fuel-quantity.quantity {
  top: 31px;
  right: 0;
  left: 0;
  width: auto;
  padding: 4px;
  margin-right: 8px;
  margin-left: 7px;
  font-size: 14px;
  pointer-events: none;
  background: linear-gradient(218deg, #7baabd, #568295);
  border-radius: 3px;
  box-shadow: inset 0 0 2px 2px #09577f, 0 2px 8px 1px #78aabd;
}

.floatingIslandsHUD-fuel-quantity.quantity:hover,
.floatingIslandsHUD-fuel-quantity.quantity:focus {
  cursor: pointer;
}

.floatingIslandsHUD-fuel-quantity.quantity.active {
  background: linear-gradient(218deg, #0e8eeb 0%, #28eeff 100%);
  box-shadow: 0 0 2px 2px #09577f inset, 0 2px 7px 1px #37feff;
}

.floatingIslandsHUD-retreatButton,
.floatingIslandsHUD-retreatButton.disabled,
.floatingIslandsHUD.enemyActive .floatingIslandsHUD-retreatButton {
  margin-top: -1px;
  color: #b0a06c !important;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.floatingIslandsHUD-retreatButton:hover,
.floatingIslandsHUD-retreatButton.disabled:hover,
.floatingIslandsHUD.enemyActive .floatingIslandsHUD-retreatButton:hover,
.floatingIslandsHUD-retreatButton:focus,
.floatingIslandsHUD-retreatButton.disabled:focus,
.floatingIslandsHUD.enemyActive .floatingIslandsHUD-retreatButton:focus {
  color: #fce698 !important;
  background: none;
}

.floatingIslandsHUD-craftingItem-quantity.quantity,
.floatingIslandsHUD-islandLoot,
.floatingIslandsHUD-modPanel-effect {
    text-shadow: 1px 1px 1px #242424;
}

.floatingIslandsHUD-modPanel.active .floatingIslandsHUD-modPanel-effect,
.floatingIslandsHUD-modPanel.complete .floatingIslandsHUD-modPanel-effect {
    text-shadow: 1px 1px 1px #9ab59a;
}

/* Fancy countdown */
.mh-ui-fi-enemy-countdown {
  position: absolute;
  top: 3px;
  bottom: -4px;
  left: -1px;
  z-index: 4;
  width: auto;
  min-width: 70px;
  padding-left: 5px;
  white-space: nowrap;
  background-color: #51250a;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  box-shadow: 1px 0 0 1px #7d5430, inset 1px 0 0 1px #9a6f43;
}

.floatingIslandsHUD-goalContainer .floatingIslandsHUD-enemy-state.enemyApproaching {
  color: transparent;
}

span.mh-ui-fi-enemy-countdown-hunts {
  font-size: 14px;
  color: #fbe296;
  text-shadow: 1px 1px 1px #000;
  vertical-align: top;
}

.mh-ui-fi-enemy-name {
  position: absolute;
  top: 33px;
  right: 24px;
  left: 26px;
  height: 12px;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 4px;
  text-align: center;
  background: linear-gradient(90deg, #ecc37d 0%, #fde89a 18%, #fde89a 64%, #f2cf86 100%);
  border: 1px solid #b15d18;
  border-top: none;
  border-radius: 19px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 1px 1px 0 #d78c34;
}

.floatingIslandsHUD.enemyActive .floatingIslandsHUD-enemyContainer.hasEnemy .floatingIslandsHUD-enemy-thumb {
  box-shadow: 0 0 4px 3px #fb7660;
}

.floatingIslandsHUD.enemyActive .floatingIslandsHUD-goalContainer .floatingIslandsHUD-enemy-state.enemyActive {
  color: #fb7660;
}

.floatingIslandsHUD-fuelContainer:hover {
  filter: brightness(1.2);
}

/* make tooltips wait before showing */
.mousehuntTooltip {
  transition-delay: 0.5s;
}

.floatingIslandsHUD-craftingItem.show-progress {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 3px;
}

.mh-ui-fi-glore-progress {
  margin-left: 2px;
  font-size: 9px;
  text-shadow: 1px 1px 1px #242424;
}

.floatingIslandPaperDoll-mod {
  pointer-events: none;
}

.floatingIslandsAdventureBoardSkyMap-rerollQuantity.quantity {
  font-size: 13px;
}

.floatingIslandsAdventureBoardSkyPalace-wheel-face.loot_cache.real.active {
  margin-left: 1px;
  border-radius: 5px;
  box-shadow: 0 0 13px 2px #ffd700 inset;
}

.floatingIslandsAdventureBoardSkyMap-fuel-quantity {
  padding: 2px;
  margin-top: -2px;
  font-size: 13px;
  background-color: #302636;
}

.floatingIslandsAdventureBoard-paragonItem.mousehuntTooltipParent {
  font-size: 14px;
}

a.floatingIslandsHUD-flightLogButton.mousehuntTooltipParent {
  top: 2px;
  left: 490px;
  background-image: url(https://i.mouse.rip/upscaled/flight_log_button.png?1);
  background-size: cover;
  transform: scale(1.2);
  transform-origin: left;
}

.floatingIslandsHUD.island .floatingIslandsHUD-bait.sky_cheese.skyCheeseWarning::after {
  top: -10px;
  left: -9px;
  width: 30px;
  height: 30px;
}

.floatingIslandsHUD.island .floatingIslandsHUD-bait.skyCheeseWarning .floatingIslandsHUD-bait-image.sky_cheese {
    box-shadow: inset 0 0 10px 3px #ff1b00;
}
