.adventureBookPopup-titleContent,
.convertibleOpenView-itemContainer,
.marketplaceView-browse-content,
.MHCheckoutAllRewardsPageView,
.treasureMapListingsView-tableView,
.treasureMapView-block-content,
.treasureMapView-block-content.halfHeight,
.treasureMapView-block-content.tall,
.treasureMapView-blockWrapper.tall .treasureMapView-block-content,
#messengerUINotification .notificationHeader,
#messengerUINotification .notificationMessageList,
#supplytransfer .drawer .listContainer,
#supplytransfer .drawer .tabContent,
#supplytransfer .drawer {
  height: auto;
  max-height: 75vh;
}

.treasureMapDialogView.limitHeight .treasureMapDialogView-content {
  max-height: 70vh;
  overflow-y: visible;
}

.giftSelectorView-inbox-giftContainer,
#overlayPopup .giftSelectorView-scroller {
  height: auto;
  min-height: 300px;
  max-height: 75vh;
}

#overlayPopup.giftSelectorViewPopup {
  top: 50px !important;
}

.springHuntHUD-popup-regionContainer {
  display: contents;
}

#overlayPopup .imgArray {
  min-height: 105px; /* specifcally to fit scrambles at the least */
  max-height: 500px;
}
