#supplytransfer .drawer,
#supplytransfer .drawer .tabContent,
#supplytransfer .drawer .listContainer,
.treasureMapView-blockWrapper.tall .treasureMapView-block-content,
.treasureMapView-block-content.tall,
.treasureMapView-block-content,
.MHCheckoutAllRewardsPageView,
.treasureMapListingsView-tableView,
.marketplaceView-browse-content,
.adventureBookPopup-titleContent,
.treasureMapView-block-content.halfHeight,
#messengerUINotification .notificationHeader,
#messengerUINotification .notificationMessageList,
.convertibleOpenView-itemContainer {
  height: auto;
  max-height: 75vh;
}

.giftSelectorView-inbox-giftContainer {
  height: auto;
  min-height: 300px;
  max-height: 75vh;
}

.giftSelectorView-scroller {
  height: auto;
  min-height: 320px;
  max-height: 55vh;
}
