.springHuntHUD-popup-allEggs,
.adventureBookPopup-titleContent,
.convertibleOpenView-itemContainer,
.marketplaceView-browse-content,
.MHCheckoutAllRewardsPageView,
.treasureMapView-block-content.tall,
.treasureMapView-blockWrapper.tall .treasureMapView-block-content,
#messengerUINotification .notificationHeader,
#supplytransfer .drawer .listContainer,
#supplytransfer .drawer .tabContent,
#supplytransfer .drawer {
  height: auto;
  max-height: 75vh;
}

#messengerUINotification .notificationMessageList,
.treasureMapView-block-content,
.treasureMapView-block-content.halfHeight {
  height: auto;
  max-height: 55vh;
}

#supplytransfer .drawer {
  padding-bottom: 75px;
}

.adventureBookPopup-titleContent {
  max-height: unset;
}

.treasureMapDialogView.limitHeight .treasureMapView-block-content {
  max-height: 75vh;
}

.treasureMapDialogView.wide.limitHeight.confirm .treasureMapView,
.treasureMapDialogView.limitHeight .treasureMapDialogView-content {
  max-height: 500px;
}

.giftSelectorView-inbox-giftContainer,
#overlayPopup .giftSelectorView-scroller {
  height: auto;
  min-height: 300px;
  max-height: 65vh;
}

body #overlayPopup .giftSelectorView-scroller.giftSelectorView-giftContainer {
  min-height: unset;
}

#overlayPopup.giftSelectorViewPopup {
  top: 50px !important;
}

.springHuntHUD-popup-regionContainer {
  display: contents;
}

#overlayPopup .imgArray {
  min-height: 105px;

  /* specifcally to fit scrambles at the least */
  max-height: 500px;
}

.floatingIslandsWorkshop-partsContainer {
  top: 263px;
  left: 113px;
  width: 533px;
  height: auto;
  background-image: url(https://i.mouse.rip/fi-airships-middle.png);
  background-size: contain;
  border-radius: 12px;
}

.floatingIslandsWorkshop-parts-content {
  position: relative;
  height: 100%;
  max-height: 60vh;
}

.floatingIslandsWorkshop-parts-title {
  padding: 5px 10px 0;
  margin-top: -23px;
  margin-right: -1px;
  background: radial-gradient(circle, #fdf9bd 0%, #fff9dc 50%, #fdf9bd 100%);
  border: none;
  border-radius: 4px 5px 0 0;
}

.floatingIslandsWorkshop-partsContainer::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 533px;
  height: 30px;
  content: "";
  background-image: url(https://i.mouse.rip/fi-airships-bottom-2.png);
  background-position: bottom;
}

.floatingIslandsWorkshop-stabilizer {
  position: absolute;
  top: 250px;
  left: 430px;
}

/* select 2 */
.select2-results {
  max-height: 50vh;
}

.giftSelectorView-scroller {
  height: auto;
}

.mh-gift-buttons-clone-wrapper {
  max-height: calc(75vh - 175px);
}

.mh-ui-goals-block .treasureMapView-block-content {
  max-height: unset;
}

.mh-ui-environments-block {
  max-height: unset;
  overflow-y: auto;
}

.treasureMapView-block-content {
  height: unset;
}

.treasureMapView-blockWrapper.tall .treasureMapView-block-content.treasureMapShopsView-shopItems {
  height: 100%;
  max-height: unset;
  overflow-x: hidden;
}
