.remaining-distance,
.remaining-stage-distance {
  margin: .25em 0;
}

.icebergStatusTooltip {
  bottom: -25px;
  left: calc(100% + 4px);
  margin-left: 1em;
  width: 320px;
}

.icebergStatusTooltip .mousehuntTooltip-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
}

.icebergStatusTooltip .hunts-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
}

.icebergStatusTooltip .hunts-wrapper .average-hunts {
  font-size: 1.25em
}

.icebergStatusTooltip .hunts-wrapper div {
  margin-top: 0.75em;
}

.icebergStatusTooltip .hunts-wrapper div:first-child {
  margin-top: 0;
}

.icebergStatusTooltip .iceberg-sections {
  width: 190px;
}

.icebergStatusTooltip .iceberg-section {
  align-items: center;
  display: flex;
  justify-items: start;
  position: relative;
  overflow: visible;
  width: 180px;
  justify-content: space-between;
  margin-bottom: 0.25em;
}

.icebergStatusTooltip .iceberg-section-name {
  min-width: 110px;
  width: auto;
}

.icebergStatusTooltip .iceberg-section.complete {
  color: #989898;
}

.icebergStatusTooltip .iceberg-section.complete:after {
  content: '';
  position: absolute;
  right: -15px;
  top: -2px;
  width: 12px;
  height: 12px;
  background: url(https://www.mousehuntgame.com/images/ui/hud/meadow_checkmark.png?asset_cache_version=2) 0 0 no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  opacity: .6;
}

.icebergStatusTooltip .iceberg-section.incomplete {
  color: #52969b;
}

.icebergStatusTooltip .iceberg-section.current:before {
  color: #579ca2;
  border-radius: 3px;
  content: "•";
  position: absolute;
  top: 0;
  left: -7px;
  vertical-align: middle;
  font-size: 9px;
}

.deep-warning {
  align-items: center;
  background-color: #ffbfbf;
  border-radius: 10px;
  bottom: 5px;
  color: #000;
  display: flex;
  justify-content: center;
  left: 175px;
  opacity: .8;
  padding: 1em;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 300px;
  z-index: 3;
}

.deep-warning-text {
  max-width: 250px;
  line-height: 15px;
  font-size: 11px;
  color: black;
  text-align: left;
}
