.journal .content .entry.relicHunter_catch .journalimage a,
.journal .content .entry.catchsuccess .journalimage a,
.journal .content .entry.catchsuccessloot .journalimage a,
.journal .content .entry.catchsuccessprize .journalimage a {
  width: auto;
  height: auto;
}

.entry.relicHunter_catch .journalimage img,
.entry.catchsuccess .journalimage img,
.entry.catchsuccessloot .journalimage img,
.entry.catchsuccessprize .journalimage img {
  width: auto; /* reset to 60 if the image sizes are too big */
  max-width: 95px;
  height: auto;
  background-color: #fff;
  border: 1px solid #000;
}

.mh-dark .entry.relicHunter_catch .journalimage img,
.mh-dark .entry.catchsuccess .journalimage img,
.mh-dark .entry.catchsuccessloot .journalimage img,
.mh-dark .entry.catchsuccessprize .journalimage img {
  background-color: var(--d);
}

.journal .content .entry.short.relicHunter_catch,
.journal .content .entry.short.catchsuccess,
.journal .content .entry.short.catchsuccessloot,
.journal .content .entry.short.catchsuccessprize {
  min-height: 120px;
}

.journal .content .entry.relicHunter_catch .journalimage,
.journal .content .entry.catchsuccess .journalimage,
.journal .content .entry.catchsuccessloot .journalimage,
.journal .content .entry.catchsuccessprize .journalimage {
  width: 95px; /* remove if image sizes are too big */
  margin: 0 10px;
}

.journal .content .entry.relicHunter_catch .journalbody,
.journal .content .entry.catchsuccess .journalbody,
.journal .content .entry.catchsuccessloot .journalbody,
.journal .content .entry.catchsuccessprize .journalbody {
  margin-left: 115px; /* remove if image sizes are too big */
}

/**
 * Fixes for some mice. might break depending on other module enabled.
 * When adding, also undo it in experiments/modules/full-mice-images-no-border.
 */
.entry.catchsuccess[data-mouse-type="pirate"] .journalimage img,
.entry.catchsuccessloot[data-mouse-type="pirate"] .journalimage img {
  position: relative;
  margin-left: -20px;
}

.entry.catchsuccess[data-mouse-type="pirate"] .journalimage::after,
.entry.catchsuccessloot[data-mouse-type="pirate"] .journalimage::after {
  position: absolute;
  top: calc(50% - 47px);
  left: 10px;
  display: block;
  width: 0;
  height: 92px;
  content: "";
  border-left: 1px solid #000;
}

/* Relic Hunter */
.journal .content .entry.relicHunter_catch .journalimage {
  width: 75px;
}

.journal .content .entry.relicHunter_catch .journalimage img {
  width: 80px;
}

.PageHunterProfile .entry.relicHunter_catch .journalimage img,
.PageHunterProfile .entry.catchsuccess .journalimage img,
.PageHunterProfile .entry.catchsuccessloot .journalimage img,
.PageHunterProfile .entry.catchsuccessprize .journalimage img {
  width: auto;
  max-width: 95px;
  height: 100%;
  max-height: 100px;
}

.PageHunterProfile .entry.catchsuccess[data-mouse-type="pirate"] .journalimage img,
.PageHunterProfile .entry.catchsuccessloot[data-mouse-type="pirate"] .journalimage img {
  position: initial;
  margin-left: initial;
}

.PageHunterProfile .entry.catchsuccess[data-mouse-type="pirate"] .journalimage::after,
.PageHunterProfile .entry.catchsuccessloot[data-mouse-type="pirate"] .journalimage::after {
  display: none;
}
