/* Utility */
.transparent-text {
  color: transparent;
}

.text-black {
  color: #000;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.full-opacity {
  opacity: 1;
}

.outline {
  outline: 1px solid #f00;
}

/* adblock */
a[onclick="hg.utils.PageUtil.setPage('JoinDiscord'); return false;"],
.pageSidebarView-block.ad,
.communityGroupView-ad,
.pageSidebarView-mobileApps,
.pageSidebarView-title,
.pageSidebarView-block-description {
  display: none;
}
