/* Variables */
:root {
  --main-bg-color: #bad4ed;
  --body-bg-color: #cbc6bb;
  --bg-color: #f6f3eb;
  --border-color: #534022;
  --border-light-color: #9d917f;
  --text-color: #4e300b;
  --shadow-color: #534022;
  --tan: #e8e3db;
  --color-green: #4caf50;
  --color-green-dark: #117903;
  --color-red: #ffbfbf;
  --color-blue: #2a98ff;
  --color-blue-dark: #2d76ba;
  --color-gold: #ffe05c;
  --color-yellow: #f6ff00;
  --progress-bar-bg: #876c30;
  --progress-bar-fill: #4e300b;
  --crafting-tan: #e3d5b6;
  --crafting-border: #b7a276;
  --crafting-shadow: #ebe0d4;
}

/* Utility */
.transparent-text {
  color: transparent;
}

.text-black {
  color: #000;
}

/*
 * Styles for Utils
*/
.mh-ui-cheese-selector-frame {
  height: 10px;
  background: none;
}

.mh-ui-cheese-selector .townOfGnawniaHUD-bait {
  width: 145px;
}

/*
 *
 * Fixes
 *
*/

/* Iceberg */
.icebergHud.bonus .bonus_timeline .turnsLeft {
  top: 0;
  display: inline-flex;
  align-items: center;
  border-color: #666;
  border-radius: 0;
}

/* Align the friends checkbox on the scoreboard */
.scoreboardTableView-friends,
.scoreboardTableView-weekly {
  margin-top: 1px;
  vertical-align: middle;
}

/* Fix the scoreboard dropdown width */
.scoreboardTableView-availableScoreboards {
  width: auto;
  min-width: 200px;
}

/* Fix the team icon */
.mousehuntHud-menu .friends .team .icon {
  background-image: url(https://www.mousehuntgame.com/images/ui/hud/menu/team.png?asset_cache_version=2);
}

/* Top menu, fix dropdown arrow direction */
.mousehuntHeaderView .menuItem.dropdown .arrow {
  top: 10px;
  transform: rotate(180deg);
}

.mousehuntHeaderView .menuItem.dropdown.expanded .arrow {
  top: 5px;
}

/* Fix HUD shadow */
.mousehuntHud-marbleDrawer {
  background:
    url(https://www.mousehuntgame.com/images/ui/hud/mousehuntHudPedestal.gif?asset_cache_version=2) -46px 0 no-repeat,
    url(https://www.mousehuntgame.com/images/ui/hud/mousehuntHudPedestal.gif?asset_cache_version=2) 731px 0 no-repeat,
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAuwAAAA3BAMAAAClaAIKAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAB5QTFRFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAtyhvagAAAAp0Uk5TJiUkACMcECEOC8BWQuoAAAFtSURBVHic7dm7SgNBAIXhnXjv3DxBkicQ1KhdQOwFxVoQsRUEwS7gCwgWvq6XXTUz0cyK2fyQc75mi93i8DvGJBZFpEyu9k/d6hK2mzxV9Nsdo+Nv2X3a56QOmcn+eXv2U9ZYqC+9mU91qtuZH441VpfMBa1+KULba2SE6q9kN5O9834/9FoeI6T8CJp99ei/PTHwa8zclIMi/w5l11rye/OTK3rbMhue/xj9nt61/G6mq2/SmxSMp7I/05MUHPmwI9LjvkIP0rCTZD+mB2nYS7Kf0YM07CfZ/ZZ9IYZJdnqPCmdHODvC2RHOjoirr9JzVIyi7Gv0HBWnUfZ1eo6Kyyj7HT1HxYE/pBKij6kb9BodtxPZt+gxOp4msj/SY3Qcflf3v5YWaOzDTvg67g/0Ei0v1fcCF/QONdcjfwfGcHaEsyOcHeHsCGdHODvC2RHOjnB2hLMjnB3h7AhnRzg7wtkRzo5wdoSzI5wd8QpdUG7hbOg+GQAAAABJRU5ErkJggg==) 6px 0 no-repeat,
    url(https://www.mousehuntgame.com/images/ui/backgrounds/hud_bg_blue_repeating.png?asset_cache_version=2) repeat-y bottom center;
}

/* Full width for the map link text box */
input.treasureMapView-shareLinkInput {
  width: 95%;
  margin: 0 auto;
}

/* Gift window spacing */
.giftSelectorView-content-subtitle {
  padding: 10px 0;
}

/* Gift of the day width */
.giftSelectorView-giftContainer .giftSelectorView-gift.gift_of_the_day {
  width: 20%;
}

/* SEH Choco shop item background */
.springHuntHUD-dialog-item-image .itemImage.large {
  background-color: transparent;
}

.springHuntHUD-dialog-item-image .floatingIslandsAirship {
  background-color: transparent;
}

.mousehuntTooltip.left .mousehuntTooltip-arrow::after {
  right: -6px;
}

.mousehuntTooltip.right .mousehuntTooltip-arrow::after {
  left: -6px;
}


/* maintenance mouse */
@keyframes rotate40 {
  0% { transform: rotate(0deg); } /* eslint-disable-line */
  50% { transform: rotate(40deg); }  /* eslint-disable-line */
  100% { transform: rotate(0deg); }  /* eslint-disable-line */
}

.PageMaintenance .maintenanceBody {
  background-image: url(https://i.mouse.rip/maintenance-mouse.png);
  background-size: 240px 240px;
}

.PageMaintenance .maintenanceBody:before {
  content: "";
  position: absolute;
  height: 40px;
  width: 30px;
  z-index: 1;
  background: transparent url(https://i.mouse.rip/maintenance-mouse-wrench.png) no-repeat left center;
  transform-origin: bottom left;
  background-size: 30px;
  top: 75px;
  left: 118px;
  animation: rotate40 .5s linear infinite;
}

.PageMaintenance .maintenanceBody {
  position: relative;
}
