.shopsPage-header-container,
.itemPurchaseView-container.kingsCartItem .itemPurchaseView-content-accordion,
.itemPurchaseView-action-itemCost.required .itemPurchaseView-action-itemCost-table-cell.owned,
.itemPurchaseView-container.flaming_spice_crafting_item.kingsCartItem,
.itemPurchaseView-container.dragonshard_sparkling_nest_convertible.kingsCartItem,
.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-itemCost-description,
.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-itemCost-title {
  display: none !important;
}

.itemPurchaseView-action-form.clear-block,
.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-form {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.itemPurchaseView-container.own_max:hover,
.itemPurchaseView-container.own_max:focus {
  opacity: 1;
}

.itemPurchaseView-container.own_max .itemPurchaseView-content-container .itemPurchaseView-content-description {
  overflow-y: auto;
}

.itemPurchaseView-action-quantity span,
.itemPurchaseView-action-purchaseHelper-maxPurchases-container,
.itemPurchaseView-content-accordion,
.itemPurchaseView-action-kingsCreditCostContainer,
.itemPurchaseView-container.own_max .itemPurchaseView-action-purchaseHelper-maxPurchasesLimitReached,
.shopCustomization .itemPurchaseView-container.own_max .itemPurchaseView-content-container .itemViewStatBlock,
.shopCustomization .itemPurchaseView-container.own_max .itemViewStatBlock-stat.title,
.shopCustomization .itemPurchaseView-container.own_max .itemViewStatBlock-stat.powerType,
.itemPurchaseView-content-skin b,
a.itemPurchaseView-image-trapPreview-link,
.itemPurchaseView-action-itemCost-title,
.itemPurchaseView-action-itemCost-description {
  display: none;
}

.itemPurchaseView-content-skin {
  margin-top: -10px;
  margin-bottom: 5px;
}

.itemPurchaseView-content-description {
  padding-right: 5px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
  overflow-y: auto;
  color: #626262;
}

.itemPurchaseView-action-itemCost-table {
  width: 250px;
  padding: 0;
  margin-right: -10px;
  margin-left: -10px;
  background: #f9f9f9;
  border-right: none;
  border-left: none;
}

.itemPurchaseView-action-itemCost-table-cell.cost {
  padding-left: 11px;
  background-position: 0 0;
  background-size: 10px;
}

.itemPurchaseView-action-itemCost-table-row.error {
  background-color: rgb(255 173 173 / 55%);
}

.mh-dark-mode .itemPurchaseView-action-itemCost-table-row.error {
  background-color: rgb(128 45 45 / 55%);
}

.mh-dark-mode .itemPurchaseView-action-itemCost-table-row.error .itemPurchaseView-action-itemCost-table-cell.cost {
  color: #f66060;
}

.itemPurchaseView-container.own_max .itemPurchaseView-action-container {
  display: none;
}

.itemPurchaseView-container {
  width: calc(100% - 1px);
}

.itemPurchaseView-action-container {
  padding: 8px 0 0;
  border-right: 1px solid #ccc;
}

/* Marketplace close button - make the normal X button */
#overlayPopup .marketplaceView input.button:first-child {
  position: absolute;
  top: -3px !important;
  right: -10px !important;
  display: block;
  width: 28px;
  height: 27px;
  padding: 0;
  overflow: hidden;
  text-align: center;
  text-indent: 34px;
  background-image: url(https://www.mousehuntgame.com/images/ui/backgrounds/jsDialogCloseButton.png);
  background-repeat: no-repeat;
  border: none;
  border-bottom: 0;
  border-left: 0;
  box-shadow: none;
}

#overlayPopup .marketplaceView input.button:first-child:hover,
#overlayPopup .marketplaceView input.button:first-child:focus {
  background-color: transparent;
  background-image: url(https://www.mousehuntgame.com/images/ui/backgrounds/jsDialogCloseButton.png);
  background-repeat: no-repeat;
  background-position: 0 -27px;
  border-bottom: none;
  border-left: none;
}

a.itemPurchaseView-content-skin-link {
  display: flex;
  align-items: center;
  min-height: 25px;
  padding-left: 30px;
  line-height: unset;
  background-size: 25px;
}

/* Hide the marketplace footer */
#overlayPopup.marketplaceViewPopup .suffix {
  display: none;
}

/* Align stats that were moved to the description */
.shopCustomization .PageShops .itemViewStatBlock-padding {
  display: flex;
  align-items: center;
}

.shopCustomization .PageShops .itemViewStatBlock,
.shopCustomization .PageShops .itemViewStatBlock-stat {
  margin-top: 10px;
  border: none;
}

.shopCustomization .PageShops .itemViewStatBlock-stat {
  padding: 2px;
  padding-right: 4px;
  margin-top: 3px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.shopCustomization .PageShops .itemViewStatBlock-stat-helper {
  right: unset;
  left: unset;
  white-space: nowrap;
}

.shopCustomization .PageShops .itemViewStatBlock-stat-label {
  margin-right: 0;
  background: none;
}

.shopCustomization .PageShops .itemViewStatBlock-stat-value {
  max-width: unset;
  background: none;
  border-radius: 0;
}

.shopCustomization .PageShops .itemPurchaseView-container .itemViewStatBlock-stat.cheeseEffect {
  width: auto;
  border-bottom: 1px solid #ccc;
}

.shopCustomization .PageShops .itemPurchaseView-container .itemViewStatBlock-stat.cheeseEffect .itemViewStatBlock-stat-value {
  width: auto;
  max-width: 150px;
}

.item_set,
.mh-dark-mode .item_set {
  background-color: rgb(238 171 42 / 27%);
  border: none;
}

/* kings cart */
.itemPurchaseView-container.kingsCartItem {
  cursor: initial;
}

.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-container {
  display: table-cell;
  width: 250px;
  min-height: unset;
  color: #000;
  background: #eee;
  box-shadow: none;
}

.mh-dark-mode .itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-container {
  color: #fff;
  background-color: #242424;
}

.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-state.view {
  padding-top: unset;
}

.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-itemCost.consumed,
.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-goldGost,
.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-marketplace,
.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-confirm-refund-container {
  display: block !important;
}

.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-quantity {
  display: block;
  width: auto;
}

.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-quantity input {
  width: 100%;
  margin-top: 0;
}

.itemPurchaseView-container.kingsCartItem .itemPurchaseView-content-details::after {
  display: none;
}

.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-confirm-button-row a,
.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-complete-title {
  color: #3b5998;
}

span.itemPurchaseView-action-confirm-refund.noRefund {
  position: relative;
  display: block;
  color: transparent;
}

span.itemPurchaseView-action-confirm-refund.noRefund::after {
  position: absolute;
  top: 10px;
  right: 0;
  left: 0;
  height: 10px;
  color: #000;
  content: "Cannot be refunded.";
}

.itemPurchaseView-container.has_refund_value .itemPurchaseView-action-confirm-refund.hasRefund {
  margin-top: 20px;
}

.itemPurchaseView-action-confirm-title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
}

.itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-complete-title,
.itemPurchaseView-container .itemPurchaseView-action-complete-title,
.itemPurchaseView-action-complete-title,
.itemPurchaseView-action-armed-title {
  margin: 10px;
  font-weight: 400;
  color: #000;
}

.itemPurchaseView-container .itemPurchaseView-action-state.complete a.itemPurchaseView-action-complete-return {
  position: relative;
  display: block;
  float: none;
  margin: 0;
  color: transparent;
}

.itemPurchaseView-container .itemPurchaseView-action-state.complete a.itemPurchaseView-action-complete-return::after {
  position: absolute;
  top: 10px;
  right: 78px;
  left: 78px;
  padding: 10px 15px;
  line-height: 10px;
  color: #000;
  text-shadow: 0 0 1px #fff;
  content: "Continue";
  background-color: #fff600;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow:
    inset 0 0 5px #fff,
    1px 1px 1px #fff;
}

/* limit one items */
.itemPurchaseView-container.marketplace_buy_regal_stool_collectible.kingsCartItem.cannot_sell.own_max,
.itemPurchaseView-container.marketplace_sell_regal_display_case_collectible.kingsCartItem.cannot_sell.own_max,
.itemPurchaseView-container.kings_calibrator_message_item.kingsCartItem.cannot_sell.own_max {
  display: none !important;
}

.itemPurchaseView-action-itemCost-table-row.error .itemPurchaseView-action-itemCost-table-cell.cost {
  color: #a21010;
}

.mh-dark-mode .itemPurchaseView-action-goldGost {
  background-color: #0e0e0e;
  border-color: #242424;
}

.itemPurchaseView-content-details {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-bottom: 10px;
}

.itemPurchaseView-content-container .itemViewStatBlock.horizontal.base,
.itemPurchaseView-content-container .itemViewStatBlock.horizontal.weapon {
  width: auto;
  margin-bottom: 10px;
  margin-left: 0;
}

.shopCustomization .PageShops .itemPurchaseView-container .title .itemViewStatBlock-stat-value span a {
  max-width: 60px;
  font-size: 10px;
  text-overflow: ellipsis;
}

.itemPurchaseView-image-container .itemViewStatBlock-stat.title.error {
  background-color: #ffc9c9;
}

.itemPurchaseView-image-container .itemViewStatBlock-stat-icon {
  width: 20px;
  height: 17px;
}

.itemViewStatBlock-stat.powerType .itemViewStatBlock-stat-icon {
  width: 26px;
  height: 24px;
}

.itemViewStatBlock.horizontal .itemViewStatBlock-stat.powerType .itemViewStatBlock-stat-icon {
  height: 30px;
}

.itemViewStatBlock-stat.title .itemPurchaseView-image-container .itemViewStatBlock-stat-icon {
  background-size: 100%;
}

.itemViewStatBlock-stat.error .itemViewStatBlock-stat-value {
  background-color: unset;
}

a.shopsPage-kingsCalibratorPromo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
}

.shopsPage-kingsCalibratorPromo-button {
  top: unset;
}

.shopsPage-kingsCalibratorPromo br {
  display: none;
}

.shopsPage-compareEquipment-stats {
  width: auto;
}

.shopsPage-compareEquipment-stats .itemViewStatBlock.horizontal.weapon {
  float: none;
  width: auto;
  margin-left: 0;
}

.shopsPage-compareEquipment-stats .itemPurchaseView-content-name {
  display: flex;
  gap: 5px;
  justify-content: flex-start;
}

.shopsPage-compareEquipment {
  background-color: #dbe9ff;
}

.itemPurchaseView-container.own_max {
  display: block !important;
  height: 25px;
  overflow: hidden;
  opacity: 0.3;
  transition: 0.4s;
}

.hasShop .itemPurchaseView-container.donation .itemPurchaseView-content-container,
.itemPurchaseView-container.own_max .itemPurchaseView-content-container {
  width: calc(100% - 10px);
}

.mh-dark-mode .itemPurchaseView-container.own_max {
  background-color: #000;
}

.itemPurchaseView-container.own_max:hover {
  display: table !important;
  height: unset;
  overflow-y: visible;
}

.itemPurchaseView-container.own_max:hover .itemPurchaseView-action-container {
  display: table-cell;
}

.mh-dark-mode .itemPurchaseView-container.own_max .itemPurchaseView-content-container {
  border-color: transparent;
}

.itemPurchaseView-container.own_max .itemPurchaseView-content-name b::after {
  font-size: 10px;
  content: " (maximum owned)";
}

.mh-dark-mode .shopCustomization .itemPurchaseView-container .itemViewStatBlock-stat.cheeseEffect,
.mh-dark-mode .shopCustomization .itemPurchaseView-container .itemViewStatBlock-stat {
  background-color: #3d3d3d;
  border-color: #606060;
}

.shopCustomization .shopCustomization .itemViewStatBlock-stat.powerType {
  position: absolute;
  color: #000;
  background-color: #e6e6e6;
}

.shopCustomization .itemViewStatBlock-stat.powerType .itemViewStatBlock-stat-value {
  display: none;
}

.mh-dark-mode .itemPurchaseView-container .itemViewStatBlock-stat.title,
.mh-dark-mode .itemPurchaseView-container .itemViewStatBlock-stat.powerType {
  background-color: #3d3d3d;
  border-color: #606060;
}

.mh-dark-mode .itemPurchaseView-container .itemPurchaseView-image-container .itemViewStatBlock-stat.powerType {
  background-color: transparent;
  border: none;
}

.itemPurchaseView-container.new .itemPurchaseView-margin::after {
  top: 5px;
}

.itemPurchaseView-action-marketplace b,
.itemPurchaseView-action-marketplace br {
  display: none;
}

.itemPurchaseView-action-marketplace a:last-of-type::after {
  content: " in the Marketplace";
}

.itemPurchaseView-action-marketplace {
  padding: 5px 0;
}

a.itemPurchaseView-action-buySuperBrie {
  display: inline-block;
  margin: 0 auto;
}

.super_brie_cheese .itemPurchaseView-action-purchaseHelper {
  display: block;
}

.donation .itemPurchaseView-action-itemCost-table-row {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.itemPurchaseView-container.donation .itemPurchaseView-action-container,
.itemPurchaseView-container.donation .itemPurchaseView-action-itemCost-table {
  border-top-color: #ffc62b;
  border-bottom-color: #c7991c;
}

.mh-dark-mode .itemPurchaseView-container.donation .itemPurchaseView-action-container {
  background-color: #e6b963;
}

.mh-dark-mode .itemPurchaseView-container.donation .itemPurchaseView-action-itemCost-table {
  background-color: #f4eeca;
}

.itemPurchaseView-container:hover .itemPurchaseView-margin,
.itemPurchaseView-container:hover .itemPurchaseView-image-container,
.itemPurchaseView-container:hover .itemPurchaseView-content-container {
  background-color: #f9f9f9;
}

.mh-dark-mode .itemPurchaseView-container:hover .itemPurchaseView-margin,
.mh-dark-mode .itemPurchaseView-container:hover .itemPurchaseView-image-container,
.mh-dark-mode .itemPurchaseView-container:hover .itemPurchaseView-content-container {
  background-color: #242424;
}

.itemPurchaseView-container.trinket .itemViewStatBlock {
  margin-top: 0;
  margin-bottom: 10px;
}

.itemViewStatBlock-stat-helper {
  padding: 10px;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background: #000;
  border: none;
  border-radius: 10px;
}

.itemViewStatBlock-stat-helper-arrow::after {
  border-top: 10px solid #000;
}

.itemPurchaseView-container .itemPurchaseView-action-form {
  min-height: 50px;
}

.itemPurchaseView-action-confirm-button:focus,
.itemPurchaseView-action-confirm-button:hover {
  filter: hue-rotate(50deg);
}

.shopsPageTrapPreview .trapImageView-layerWrapper {
  top: 10px;
}

.shopsPageTrapPreview .trapImageView {
  height: 370px;
}

.itemViewPopup .itemViewStatBlock-stat.title {
  order: 1;
}

.itemViewPopup .itemViewStatBlock-stat.powerType {
  order: 2;
}

.itemViewPopup .itemViewStatBlock-stat.points {
  order: 3;
}

.itemViewPopup .itemViewStatBlock-stat.power,
.itemViewPopup .itemViewStatBlock-stat.luck,
.itemViewPopup .itemViewStatBlock-stat.powerBonus,
.itemViewPopup .itemViewStatBlock-stat.attraction {
  order: 4;
}

.itemViewPopup .itemViewStatBlock-stat.cheeseEffect {
  order: 5;
}

.itemViewContainer .itemViewStatBlock.trinket .itemViewStatBlock-stat.empty {
  display: flex;
  opacity: 0.6;
}

.itemViewPopup .itemView-thumbnailContainer a {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.itemViewPopup .itemViewStatBlock-stat:last-child .itemViewStatBlock-stat-label {
  border-radius: 0 0 0 5px;
}

.itemViewPopup .itemViewStatBlock-stat.powerType .itemViewStatBlock-stat-icon::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  font-weight: 900;
  content: "";
}

.itemViewPopup .itemViewStatBlock-stat.powerType .itemViewStatBlock-stat-label {
  position: relative;
  width: 26px;
}

.itemViewPopup .itemViewStatBlock-stat-value {
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemPurchaseView-container.kingsCartItem .itemPurchaseView-content-details {
  height: auto;
  max-height: 180px;
  overflow-y: auto;
}

.itemPurchaseView-container.kingsCartItem.expanded .itemPurchaseView-content-details {
  height: 100%;
  max-height: unset;
  overflow-y: visible;
}

.itemPurchaseView-container[data-max-inventory-quantity="1"]::after {
  position: absolute;
  top: 17px;
  right: 5px;
  z-index: 1;
  color: #3b3b3b;
  content: "(Limit " attr(data-max-inventory-quantity) ")";
}

.itemPurchaseView-action-buySuperBrie {
  border-radius: 7px;
}
