.itemViewStatBlock.trinket {
  order: 3;
}

.itemPurchaseView-content-container {
  display: flex;
  flex-direction: column;
}

.itemPurchaseView-content-name {
  order: 1;
}

.itemPurchaseView-content-details {
  display: flex;
  order: 4;
}

.itemPurchaseView-content-description {
  order: 2;
}
