.puzzleView__imageContainer {
  background-color: transparent;
  border-color: #73332a;
  border-width: 1px;
}

.puzzleView__image img {
  filter: hue-rotate(333deg);
  transform: scale(1.3) translate(-10px, 5px);
  transform-origin: left;
}

.puzzleView__requestNewPuzzleButton {
  background-color: #a35721;
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out;
}

.puzzleView__requestNewPuzzleButton:hover,
.puzzleView__requestNewPuzzleButton:focus {
  border-color: transparent;
  opacity: 1;
}

.puzzleView__requestNewPuzzleButtonIcon {
  filter: invert(1);
  opacity: 0.8;
}

input.puzzleView__code {
  font-size: 28px;
  letter-spacing: 8px;
}
