.sort-button {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 1px;
  cursor: pointer;
  content: "";
  border-top: 9px solid #777;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.sort-button.reverse {
  border-top: 0;
  border-right: 6px solid transparent;
  border-bottom: 9px solid #777;
  border-left: 6px solid transparent;
}

.sort-button.unsorted {
  opacity: 0.5;
}

.mousehuntActionButton.success::before {
  background-color: #00ff59;
  box-shadow: 0 0 10px #beff99 inset;
}

.mousehuntActionButton.success {
  background-color: #97f990;
}

.mousehuntActionButton.success:hover::before,
.mousehuntActionButton.success:focus::before {
  background-color: #00ff59;
}

.mousehuntActionButton.danger::before {
  background-color: #f27b6a;
  box-shadow: 0 0 10px #ffa5a5 inset;
}

.mousehuntActionButton.danger {
  background-color: #ffa5a5;
}

.mousehuntActionButton.danger:hover::before,
.mousehuntActionButton.danger:focus::before {
  background-color: #ffa5a5;
}

.mousehuntActionButton:hover::before {
  pointer-events: none;
}

.mousehuntActionButton.gray {
  background-color: #e5e5e5;
  border: 1px solid #8e8e8e;
  box-shadow: 1px 1px 1px #eee;
}

.mousehuntActionButton.gray::before {
  background: #dedede;
  box-shadow: 0 0 10px #e8e8e8 inset;
}

.mousehuntActionButton.gray:hover,
.mousehuntActionButton.gray:focus {
  background-color: #f3f3f3;
}

.mh-improved-math-button {
  font-family: monospace;
  user-select: none;
}
