.sort-button {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 1px;
  cursor: pointer;
  content: "";
  border-top: 9px solid #777;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.sort-button.reverse {
  border-top: 0;
  border-right: 6px solid transparent;
  border-bottom: 9px solid #777;
  border-left: 6px solid transparent;
}

.sort-button.unsorted {
  opacity: 0.5;
}

a.mousehuntActionButton.success::before {
  background-color: #00ff59;
  box-shadow: 0 0 10px #beff99 inset;
}

a.mousehuntActionButton.success {
  background-color: #97f990;
}

a.mousehuntActionButton.success:hover::before,
a.mousehuntActionButton.success:focus::before {
  background-color: #00ff59;
}

a.mousehuntActionButton.danger::before {
  background-color: #f27b6a;
  box-shadow: 0 0 10px #ffa5a5 inset;
}

a.mousehuntActionButton.danger {
  background-color: #ffa5a5;
}

a.mousehuntActionButton.danger:hover::before,
a.mousehuntActionButton.danger:focus::before {
  background-color: #ffa5a5;
}

.mousehuntActionButton:hover::before {
  pointer-events: none;
}
