.PageLockError .pageFrameView-content {
  min-height: calc(100vh - 130px);
}

.PageLockError .pageFrameView-column {
  min-height: 100vh;
}

.PageLockError .pageFrameView-footer {
  display: flex;
  flex-flow: row wrap;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
}

.PageLockError .pageFrameView-footer-linksContainer {
  flex: 0 0 100%;
}

.PageLockError .pageFrameView-footer a img {
  opacity: 0.4;
  transition: 0.3s;
  transform: scale(0.8);
}

.PageLockError .pageFrameView-footer-links.terms {
  text-align: center;
}

.PageLockError .pageFrameView-content > div:first-of-type {
  border: none !important;
}

.PageLockError .pageFrameView-content > div:first-of-type > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 200px;
  padding: 0 10px;
}

.PageLockError .pageFrameView-footer a:hover img {
  opacity: 1;
  transform: scale(1);
}

/* 404 page because why not? and it'll be a nice surprise for anyone who sees it.
and yes, this super weird selector is necessary because nothing has classes. */
div[style="margin: 0 auto; text-align: center; width: 100%; font-size: 20px;"] img {
  transform-origin: bottom;
  animation-name: mh-improved-sway-side-to-side;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

div[style="margin: 0 auto; text-align: center; width: 100%; font-size: 20px;"] a:hover {
  text-decoration: underline;
}

div[style="margin: 0 auto; text-align: center; width: 100%; font-size: 20px;"] a {
  color: #00901c;
  text-decoration: none;
}
