.pageFrameView-column {
  min-height: 100vh;
}

code {
  padding: 0 3px;
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  background-color: #eee;
  border-radius: 3px;
}

/* Make sure the tab fits */
.mousehuntHud-page-tabHeader.userscript-settings span {
  height: 16px;
  font-size: 12px;
  white-space: nowrap;
}

.pageSidebarView-block {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.pageSidebarView .fb-page {
  order: 1000;
}

.support-link {
  padding: 10px;
  background: #8dff7d;
  border-radius: 10px;
  box-shadow: -1px -1px 1px #ccc inset;
}

.support-link p {
  margin-top: 0;
  font-size: 14px;
  font-weight: 900;
}

.support-link a {
  font-size: 16px;
  font-weight: 900;
}
