.PreferencesPage__blackTooltip.mh-improved-tooltip {
  width: 20px;
  height: 20px;
  margin-right: auto;
  margin-left: 5px;
}

.PreferencesPage__blackTooltip.mh-improved-tooltip:hover .PreferencesPage__blackTooltipText {
  right: -65px;
  bottom: 165%;
  left: -65px;
  font-weight: 400;
  line-height: 16px;
}
