.campPage-trap-itemBrowser-favorite-item-image-frame {
  top: -1px;
  left: -1px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.campPage-trap-itemBrowser-favorites .campPage-trap-itemBrowser-favorite-item-quantity span.campPage-trap-baitQuantity,
.campPage-trap-itemBrowser-item-leftBar span.campPage-trap-baitQuantity {
  right: 1px;
  bottom: 1px;
  left: 1px;
  padding: 3px;
  font-size: 13px;
  text-align: center;
  background-color: rgb(255 255 255 / 80%);
  border-radius: 0 0 3px 3px;
}

.campPage-trap-itemBrowser-favorites .campPage-trap-itemBrowser-favorite-item-quantity span.campPage-trap-baitQuantity {
  right: -1px;
  bottom: -1px;
  left: -1px;
  border: 1px solid #4e2e0b;
}
