.campPage-trap-baseQuantity {
  color: #926944;
  text-shadow:
    0 0 1px #ae9b6d,
    1px 1px #fff;
}

.trapSelectorView__armedItemQuantity span,
.campPage-trap-baseQuantity {
  position: absolute;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 11px;
  text-align: right;
  background-color: #ffffffb3;
  border: 1px solid #9d917f;
  border-right: none;
  border-bottom: none;
  border-bottom-right-radius: 3px;
  box-shadow: -1px -1px 1px #d3cecb inset;
}

.campPage-trap-itemBrowser-favorites .campPage-trap-itemBrowser-favorite-item-quantity span.campPage-trap-baseQuantity,
.campPage-trap-itemBrowser-item-leftBar span.campPage-trap-baseQuantity {
  padding: 3px;
  font-size: 13px;
  text-align: center;
  background-color: #fffc;
  border-radius: 0 0 3px 3px;
}

.campPage-trap-itemBrowser-favorites .campPage-trap-itemBrowser-favorite-item-quantity span.campPage-trap-baseQuantity {
  right: -1px;
  bottom: -1px;
  left: -1px;
  border: 1px solid #4e2e0b;
}

.campPage-trap-itemBrowser-favorite-item-image-quantity.base-quantity {
  background-color: rgb(255 255 255 / 75%);
}
