.riftWhiskerWoodsHUD-zone-title {
  right: 20%;
  left: 20%;
  font-size: 12px;
}

span.riftWhiskerWoodsHUD-zone-rageLevel {
  padding-top: 0;
  margin-top: -3px;
  font-size: 18px;
}

span.riftWhiskerWoodsHUD-zone-rageMax {
  position: unset;
  display: block;
  font-size: 10px;
}

.riftWhiskerWoodsHUD-zone-rageContainer {
  top: -9px;
  left: -4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #5b3b1a;
  border-radius: 10px;
  box-shadow:
    0 0 1px 2px inset #b78c5c,
    0 0 3px 3px inset #292928;
}

.riftWhiskerWoodsHUD-baitWarning {
  right: 20%;
  left: 20%;
  padding: 10px 60px;
  font-size: 12px;
  text-align: center;
  background-color: #ffa5a5;
  border-color: #992023;
}

.riftWhiskerWoodsHUD-zone-charm-quantity.quantity {
  width: 30px;
  font-size: 12px;
}

.riftWhiskerWoodsHUD-zone .mousehuntArmNowButton {
  right: -2px;
}

.riftWhiskerWoodsHUD-zone-charm-craftingItem {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.riftWhiskerWoodsHUD-zone-charm-craftingItem-container {
  display: inline-flex;
  align-items: stretch;
  width: 270px;
}

.riftWhiskerWoodsHUD-zone-charm-craftButtonContainer {
  width: 110px;
}

.riftWhiskerWoodsHUD-zone-charm-craftingItem-quantity {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
  align-items: end;
}

.riftWhiskerWoodsHUD-zone-charm-craftingItem-quantity br {
  display: none;
}

.riftWhiskerWoodsHUD-zone-charm-craftingItem-quantity-label {
  display: block;
  margin: 0;
}

.riftWhiskerWoodsHUD-zone-charm-craftingItem .itemName {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 4px;
}

.riftWhiskerWoodsHUD-zone-charm-craftButton {
  display: inline-block;
  float: none;
  width: 30px;
}

.riftWhiskerWoodsHUD-zone-charm-craftButtonMargin {
  margin-right: 0;
}

.riftWhiskerWoodsHUD-zone-charm-description > b {
  display: inline-block;
  padding-bottom: 5px;
  font-size: 11px;
  text-align: center;
}

.riftWhiskerWoodsHUD:hover .riftWhiskerWoodsHUD-zone.boss .riftWhiskerWoodsHUD-zone-progress::after,
.riftWhiskerWoodsHUD:focus .riftWhiskerWoodsHUD-zone.boss .riftWhiskerWoodsHUD-zone-progress::after,
.riftWhiskerWoodsHUD:hover .riftWhiskerWoodsHUD-zone.high .riftWhiskerWoodsHUD-zone-progress::after,
.riftWhiskerWoodsHUD:focus .riftWhiskerWoodsHUD-zone.high .riftWhiskerWoodsHUD-zone-progress::after,
.riftWhiskerWoodsHUD:hover .riftWhiskerWoodsHUD-zone.low .riftWhiskerWoodsHUD-zone-progress::after,
.riftWhiskerWoodsHUD:focus .riftWhiskerWoodsHUD-zone.low .riftWhiskerWoodsHUD-zone-progress::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 9px;
  display: flex;
  align-items: center;
  padding: 2px;
  font-size: 14px;
  text-shadow: 1px 1px #000;
  content: "Low";
  background-color: rgb(0 0 0 / 40%);
}

.riftWhiskerWoodsHUD:hover .riftWhiskerWoodsHUD-zone.high .riftWhiskerWoodsHUD-zone-progress::after,
.riftWhiskerWoodsHUD:focus .riftWhiskerWoodsHUD-zone.high .riftWhiskerWoodsHUD-zone-progress::after {
  content: "High";
}

.riftWhiskerWoodsHUD:hover .riftWhiskerWoodsHUD-zone.boss .riftWhiskerWoodsHUD-zone-progress::after,
.riftWhiskerWoodsHUD:focus .riftWhiskerWoodsHUD-zone.boss .riftWhiskerWoodsHUD-zone-progress::after {
  content: "Boss";
}

.boss .riftWhiskerWoodsHUD-zone-rageContainer {
  box-shadow:
    0 0 1px 3px inset #b72929,
    0 0 1px 2px inset #b78c5c,
    0 0 3px 3px inset #292928;
}

.mhui-taunting-warning {
  top: 36px;
  left: 150px;
  width: 414px;
  padding: 10px 20px;
  border-color: #992023;
}

.mhui-taunting-warning-close {
  position: absolute;
  top: -6px;
  right: -6px;
  z-index: 15;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 17px;
  padding: 5px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: #fff;
  text-align: center;
  background-color: #e03a3a;
  border: 1px solid #992023;
  border-color: #d1d0cf;
  border-radius: 20px;
}

.mhui-taunting-warning-close:hover {
  color: #ffb4b4;
  background-color: #992023;
}
