.pollutionOutbreakHUD {
  z-index: 1;
  filter: drop-shadow(0 2px 1px #000);
}

/* cheese/charm icons */
.pollutionOutbreakHUD-item-image {
  height: 30px;
  padding: 0;
  margin: 0;
  background-color: rgb(255 255 255 / 75%);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  box-shadow: none;
}

.active .pollutionOutbreakHUD-item-image {
  background-color: #fff;
}

/* move the countdown to the top left */
.pollutionOutbreakHUD-timer {
  top: 4px;
  bottom: unset;
  left: 18px;
  z-index: 29;
  padding: 2px 7px 2px 3px;
  font-size: 12px;
  border-top: 1px solid #999;
  border-radius: 5px 0 10px;
}

.pollutionOutbreakHUD-totalPollution-direction-status {
  font-size: 10px;
}

/* move the 'hunters cleaning' to the top right */
.pollutionOutbreakHUD-hunters {
  top: 5px;
  right: 145px;
  left: unset;
  padding: 2px 5px;
  font-size: 12px;
  border-right: none;
  border-left: 1px solid #999;
  border-radius: 0 5px 0 10px;
}

.pollutionOutbreakHUD-timer,
.pollutionOutbreakHUD-hunters,
.pollutionOutbreakHUD-totalPollution-direction .mousehuntTooltip {
  background: rgb(244 244 244 / 90%);
}

/* stylelint-disable prettier/prettier */

/* Upscale the shield icons */
.pollutionOutbreakHUD-pollution-title-block-icon[style*="https://www.mousehuntgame.com/images/titles/50f10ec5c7bc01cb99af2003b30d400d.png"] {
  background-image: url(https://www.mousehuntgame.com/images/titles/0567284d6e12aaaed35ca5912007e070.png) !important;
}

.pollutionOutbreakHUD-pollution-title-block-icon[style*="https://www.mousehuntgame.com/images/titles/2e17d44079e1538b28409c05da497440.png"] {
  background-image: url(https://www.mousehuntgame.com/images/titles/398dca9a8c7703de969769491622ca32.png) !important;
}

.pollutionOutbreakHUD-pollution-title-block-icon[style*="https://www.mousehuntgame.com/images/titles/322d0b6d9527f1f09c0e213c2fc7abbe.png"] {
  background-image: url(https://www.mousehuntgame.com/images/titles/9a6acd429a9a3a4849ed13901288b0b8.png) !important;
}

.pollutionOutbreakHUD-pollution-title-block-icon[style*="https://www.mousehuntgame.com/images/titles/8ed26547b6ce5606faed7ce7d3494232.png"] {
  background-image: url(https://www.mousehuntgame.com/images/titles/ea9c0ec2e6d3d81c14e61f5ce924d0e1.png) !important;
}

.pollutionOutbreakHUD-pollution-title-block-icon[style*="https://www.mousehuntgame.com/images/titles/53f8ec71d1a26beec6277152afdcc9ba.png"] {
  background-image: url(https://www.mousehuntgame.com/images/titles/dd11711a25b80db90e0306193f2e8d78.png) !important;
}

.pollutionOutbreakHUD-pollution-title-block-icon[style*="https://www.mousehuntgame.com/images/titles/759a709a33a52b2fb70f0d6d994afc16.png"] {
  background-image: url(https://www.mousehuntgame.com/images/titles/eb46ac1e8197b13299ab860f07d963db.png) !important;
}

.pollutionOutbreakHUD-pollution-title-block-icon[style*="https://www.mousehuntgame.com/images/titles/56ff0615bc3f03729b1d2b2bb52693c1.png"] {
  background-image: url(https://www.mousehuntgame.com/images/titles/87937fa96bbb3b2dd3225df883002642.png) !important;
}

.pollutionOutbreakHUD-pollution-title-block-icon[style*="https://www.mousehuntgame.com/images/titles/e258cd2f5606d678cc0bba000b930500.png"] {
  background-image: url(https://www.mousehuntgame.com/images/titles/043efe31de4f0f2e0ddca590fe829032.png) !important;
}

/* stylelint-enable prettier/prettier */

/* remove the color backgrounds from the shield icons */
.pollutionOutbreakHUD-pollution-title-block.active .pollutionOutbreakHUD-pollution-title-block-icon,
.pollutionOutbreakHUD-pollution-title-block .pollutionOutbreakHUD-pollution-title-block-icon,
.pollutionOutbreakHUD-pollution-title-block.complete .pollutionOutbreakHUD-pollution-title-block-icon {
  top: 0;
  left: -1px;
  width: 13px;
  height: 15px;
  background-color: #9b9d9d;
  background-position: center;
  background-size: contain;
  border-radius: 0;
}

/* rank text */
.pollutionOutbreakHUD-pollution-title-block-name {
  right: 0;
  left: 16px;
  font-size: 11px;
  line-height: 21px;
  text-align: center;
}

.pollutionOutbreakHUD-pollution-title-block-icon {
  top: -2px;
  left: 1px;
  width: 16px;
  height: 15px;
  background-color: transparent;
  background-position: center;
  background-size: contain;
}

.pollutionOutbreakHUD-layer {
  z-index: 7;
}

.pollutionOutbreakHUD-pollution-title-block-progressBar {
  background-color: rgb(70 157 48 / 75%);
  box-shadow: -3px 2px 1px 0 #6a6969 inset;
}

.pollutionOutbreakHUD-pollution-title-block.active .pollutionOutbreakHUD-pollution-title-block-progressBar::after {
  border: none;
}

.pollutionOutbreakHUD-pollution-title-block.complete .pollutionOutbreakHUD-pollution-title-block-name {
  color: #d1d0cf;
  box-shadow: inset 0 2px 1px 0 #6a6969;
}

.pollutionOutbreakHUD-pollution-title-block.active .pollutionOutbreakHUD-pollution-title-block-progressBar {
  border-right: 1px solid #a13427;
  border-radius: 0;
  box-shadow: -1px 2px 1px 0 #6a6969 inset;
}

.pollutionOutbreakHUD-pollution-title-block.hero {
  width: 60px !important;
}

.pollutionOutbreakHUD-pollution-title-block.knight {
  width: 60px !important;
}

.pollutionOutbreakHUD-pollution-title-block.lord_lady {
  width: 60px !important;
}

.pollutionOutbreakHUD-pollution-title-block.baron_baroness {
  width: 60px !important;
}

.pollutionOutbreakHUD-pollution-title-block.count_countess {
  width: 75px !important;
}

.pollutionOutbreakHUD-pollution-title-block.duke_dutchess {
  width: 75px !important;
}

.pollutionOutbreakHUD-pollution-title-block.grand_duke {
  width: 85px !important;
}

.pollutionOutbreakHUD-pollution-title-block.archduke_archduchess {
  width: 80px !important;
}

.pollutionOutbreakHUD-refineQuantityContainer {
  margin-top: -1px;
  font-weight: 900;
}

.pollutionOutbreakHUD-pollutinumContainer.active .pollutionOutbreakHUD-refineQuantityContainer,
.pollutionOutbreakHUD-refineQuantityContainer {
  display: inline-block;
  width: 23px;
  margin-right: 0;
  line-height: 17px;
  vertical-align: middle;
  background: #000;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 1px #3fa126 inset;
}

.pollutionOutbreakHUD-scumContainer {
  padding-right: 10px;
  padding-left: 5px;
  overflow: hidden;
  background-color: #2a2a2a;
}

.pollutionOutbreakHUD-scumContainer::after {
  display: none;
}

.pollutionOutbreakHUD-scumContainer .quantity,
.pollutionOutbreakHUD-scumContainer .maxQuantity {
  font-size: 12px;
  line-height: 17px;
}

span.pollutionOutbreakHUD-refineQuantity {
  font-size: 11px;
  font-weight: 900;
}

.pollutionOutbreakHUD-refineQuantity::before {
  content: "+";
}

a.pollutionOutbreakHUD-refineButton {
  top: 0;
  width: 52px;
  height: 17px;
  margin-right: 5px;
  background-position: 0 center;
  background-size: 100%;
  border: 1px solid #000;
  border-radius: 3px;
}

a.pollutionOutbreakHUD-refineButton:hover {
  filter: sepia(1);
}

.pollutionOutbreakHUD-refineButton::after,
.pollutionOutbreakHUD-refineButton.busy::before {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #494949;
  content: "Refine";
  background-color: #95ff7e;
  border-radius: 2px;
}

.pollutionOutbreakHUD-refineButton.busy::after {
  display: none;
}

.pollutionOutbreakHUD-refineButton.active::after {
  content: "Refining";
  background-color: #55edff;
}

.pollutionOutbreakHUD-refineButton.busy {
  background-color: #d0f4f9;
}

.pollutionOutbreakHUD-refineButton.busy::before {
  content: "···";
  background-color: #d0f4f9;
}

.pollutionOutbreakHUD-refineButton {
  background: none;
}

.pollutionOutbreakHUD-pollution-title-block .mousehuntTooltip b.pollutionOutbreakHUD-pollution-title-block-gender {
  display: none !important;
}

.pollutionOutbreakHUD-pollution-title-block .mousehuntTooltip {
  font-size: 12px;
  text-align: center;
}

.pollutionOutbreakHUD-layer-fog {
  display: none;
}

.pollutionOutbreakHUD-totalPollution-direction .mousehuntTooltip {
  bottom: 24px;
  left: 4px;
  display: block;
  width: auto;
  padding: 2px 5px;
  font-size: 12px;
  background: url(https://www.mousehuntgame.com/images/ui/backgrounds/overlay.png) top right;
  background-color: rgb(244 244 244 / 80%);
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-left: none;
  border-radius: 0 10px 0 2px;
  box-shadow: none;
  animation: none !important;
}

.pollutionOutbreakHUD-totalPollution-direction .mousehuntTooltip-arrow {
  display: none;
}

.pollutionOutbreakHUD-totalPollution-direction .mousehuntTooltip b {
  font-weight: 400;
}

.pollutionOutbreakHUD-item-quantity.quantity {
  font-size: 10px;
  line-height: 15px;
  background-color: #333;
  border-top: none;
  border-radius: 0 0 3px 3px;
  box-shadow: none;
}

.pollutionOutbreakHUD-itemContainer {
  top: 3px;
  right: 14px;
}

.pollutionOutbreakHUD-item-padding {
  margin: 1px 2px;
  border: 1px solid #000;
  border-radius: 6px;
}

.pollutionOutbreakHUD-item {
  margin-top: 1px;
}

.pollutionOutbreakHUD-item.active .pollutionOutbreakHUD-item-padding::after {
  display: none;
}

.pollutionOutbreakHUD-item:hover .pollutionOutbreakHUD-item-image,
.pollutionOutbreakHUD-item:focus .pollutionOutbreakHUD-item-image {
  background-color: #fff;
}

.pollutionOutbreakHUD-item.active .pollutionOutbreakHUD-item-image a {
  z-index: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: inset 0 0 20px 0 #8dd06c;
}

.pollutionOutbreakHUD-item.active .pollutionOutbreakHUD-item-quantity.quantity,
.pollutionOutbreakHUD-item.focus .pollutionOutbreakHUD-item-quantity.quantity,
.pollutionOutbreakHUD-item:hover .pollutionOutbreakHUD-item-quantity.quantity {
  color: #bcf1a2;
}

.pollutionOutbreakHUD-item:hover .pollutionOutbreakHUD-item-padding::after {
  border: none;
}

.pollutionOutbreakHUD-pollution-title-block.hero::after {
  width: 41px;
  content: "30 hrs";
}

.pollutionOutbreakHUD-pollution-title-block.knight::after {
  width: 41px;
  content: "16 hrs";
}

.pollutionOutbreakHUD-pollution-title-block.lord_lady::after {
  width: 41px;
  content: "18 hrs";
}

.pollutionOutbreakHUD-pollution-title-block.baron_baroness::after {
  width: 41px;
  content: "18 hrs";
}

.pollutionOutbreakHUD-pollution-title-block.count_countess::after,
.pollutionOutbreakHUD-pollution-title-block.duke_dutchess::after {
  width: 56px;
  content: "1 day";
}

.pollutionOutbreakHUD-pollution-title-block.grand_duke::after {
  right: 1px;
  width: 67px;
  content: "1 day";
}

.pollutionOutbreakHUD-pollution-title-block.archduke_archduchess::after {
  right: 0;
  width: 62px;
  content: "1 day";
}

.pollutionOutbreakHUD-pollution-title-block:hover::after {
  display: flex;
}

.pollutionOutbreakHUD-pollution-title-block.mousehuntTooltipParent:hover .mousehuntTooltip {
  display: none;
}

.pollutionOutbreakHUD-pollution-title-block::after {
  position: absolute;
  top: -22px;
  right: 1px;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 12px;
  color: #ccc;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  vertical-align: middle;
  content: "";
  background: linear-gradient(180deg, #1d1d1d 0%, #242424 100%);
  border-radius: 10px 10px 0 0;
  box-shadow:
    0 1px 0 0 #9b9d9d,
    0 2px 0 0 #6a6969,
    0 0 0 2px #9b9d9d,
    0 1px 1px 0 #6a6969 inset;
}

.pollutionOutbreakHUD-pollution-title-block.complete::after,
.pollutionOutbreakHUD-pollution-title-block.active::after {
  box-shadow:
    0 1px 0 0 #9b9d9d,
    0 2px 0 0 #6a6969,
    0 0 0 2px #9b9d9d,
    0 1px 1px 0 #6a6969 inset;
}

.pollutionOutbreakHUD-pollution-title-block.complete::after {
  background: #449830;
}

.pollutionOutbreakHUD-pollution-title-block.active::after {
  background: #822515;
}

.pollutionOutbreakHUD-totalPollution-direction-image {
  width: 24px;
  height: 22px;
  margin-left: -1px;
}

.pollutionOutbreakHUD-pollution-title-block.active .pollutionOutbreakHUD-pollution-title-block-name {
  right: 2px;
  font-weight: 400;
}

/* Animate the direction of the spill */
.pollutionOutbreakHUD.rising .pollutionOutbreakHUD-pollution-title-blockContainer::after,
.pollutionOutbreakHUD.falling .pollutionOutbreakHUD-pollution-title-blockContainer::after {
  position: absolute;
  inset: 5px 0 0 25px;
  pointer-events: none;
  content: "";
  background-image: linear-gradient(-45deg, rgb(255 255 255 / 25%) 25%, transparent 25%, transparent 50%, rgb(255 255 255 / 25%) 50%, rgb(255 255 255 / 25%) 75%, transparent 75%, transparent);
  background-size: 50px 50px;
  opacity: 0;
  transition: opacity 0.5s;
}

.pollutionOutbreakHUD.rising:hover .pollutionOutbreakHUD-pollution-title-blockContainer::after,
.pollutionOutbreakHUD.falling:hover .pollutionOutbreakHUD-pollution-title-blockContainer::after {
  opacity: 1;
  animation: mh-improved-background-to-right 3s linear infinite;
}

.pollutionOutbreakHUD.falling:hover .pollutionOutbreakHUD-pollution-title-blockContainer::after {
  animation-name: mh-improved-background-to-left;
}

@media (prefers-reduced-motion: reduce) {
  .pollutionOutbreakHUD.rising:hover .pollutionOutbreakHUD-pollution-title-blockContainer::after,
  .pollutionOutbreakHUD.falling:hover .pollutionOutbreakHUD-pollution-title-blockContainer::after {
    animation: none;
  }
}

.pollutionOutbreakHUD-scumContainer::before {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: var(--pollution-outbreak-width, 0%);
  height: 5px;
  content: "";
  background-color: #418132;
}

.pollutionOutbreakHUD-layer.level_1 .pollutionOutbreakHUD-layer-water,
.pollutionOutbreakHUD-layer.level_2 .pollutionOutbreakHUD-layer-water,
.pollutionOutbreakHUD-layer.level_3 .pollutionOutbreakHUD-layer-water,
.pollutionOutbreakHUD-layer.level_4 .pollutionOutbreakHUD-layer-water,
.pollutionOutbreakHUD-layer.level_5 .pollutionOutbreakHUD-layer-water {
  opacity: 0.8;
}

.pollutionOutbreakHUD-layer-island {
  transform: translateY(-20px);
}
