.journal.jdouble .entry.fortRox-nightJournal,
.journal.jdouble .entry.fortRox-nightDone {
  max-height: 120px;
  overflow-y: auto;
}

.journal .content .entry.fortRox-boss .journaltext b {
  font-weight: 700;
}
