.entry.short.misc.custom.labyrinth.labyrinth-chooseDoor,
.entry.short.misc.custom.labyrinth.labyrinth-intersection {
  display: flex;
  align-items: center;
}

.journal .content .entry.ancient-stealth .journalbody {
  margin-left: 20px;
}

.journal .content .entry.ancient-stealth .journaldate {
  display: none;
}

.journal .entry.labyrinth-intersection {
  background-color: #acc8dc;
}

.journal .entry.ancient-stealth {
  padding: 1px 0;
}

.entry.short.misc.custom.labyrinth.labyrinth-exitMaze li {
  padding: 0;
  line-height: 1.6;
}

.entry.short.misc.custom.labyrinth.labyrinth-exitMaze br {
  display: block;
}
