.entry.short.misc.custom.refine_pollutinum {
  display: flex;
  align-items: center;
  height: 45px;
  background-color: #7f7;
  background-position: 10px;
  background-size: 50px;
}

.entry.short.misc.custom.torch_charm_event .refine_pollutinum {
  width: 55px;
}
