.journal .content .entry.short.rift-whisker-woods-increase {
  padding: 6px 0;
}

.journal .content .entry.short.rift-whisker-woods-increase .journalbody {
  margin: 0 30px;
  font-size: 10px;
  text-align: center;
}

.journal .content .entry.short.rift-whisker-woods-increase .journalbody br {
  display: block;
}

.journal .content .entry.rift-whisker-woods-catch-miniboss {
  background-color: #d8d479;
}

.journal .content .entry.rift-whisker-woods-catch-boss {
  background-color: #fac75f;
}

.journal .content .entry.rift-whisker-woods-increase-high {
  background-color: #e3d981;
}

.journal .content .entry.rift-whisker-woods-increase-miniboss {
  background-color: #ffba4e;
}
