.halloweenBoilingCauldronHUD-bait-quantity {
  top: 29px;
  left: 40px;
  font-size: 13px;
  text-shadow: 1px 1px 1px #282828;
}

.halloweenBoilingCauldronHUD-bait-ingredientQuantity {
  top: 45px;
  width: 38px;
  font-size: 12px;
}

body .halloweenBoilingCauldronHUD-bait.basic_baits .halloweenBoilingCauldronHUD-bait-quantity {
  top: 29px;
  left: 42px;
  width: 58px;
  padding-right: 8px;
  background: linear-gradient(0deg, #2b3320 0%, #4b5837 50%, #2b3320 100%);
  border: 1px solid #6f8d70;
  border-radius: 6px;
}

body .halloweenBoilingCauldronHUD-bait.basic_baits.active .halloweenBoilingCauldronHUD-bait-quantity {
  background: linear-gradient(0deg, #03461a 0%, #03792d 50%, #03461a 100%);
  border-color: #03d14c;
}

a.halloweenBoilingCauldronHUD-cauldron-boundingBox {
  font-size: 14px;
}

.halloweenBoilingCauldronHUD-cauldron-imageContainer .halloweenBoilingCauldronHUD-cauldron-queue-brewTime {
  width: auto;
  padding-right: 4px;
  font-size: 19px;
  color: #f9e8b1;
  text-align: center;
  text-shadow: 1px 1px 1px #515b3a;
  background-image: none;
}

.halloweenBoilingCauldronHUD-cauldron-tooltip {
  top: 0;
  height: 50px;
  font-size: 13px;
  line-height: 1.3;
  background-color: #292827;
  transition: .3s ease-in-out;
}

.halloweenBoilingCauldronHUD-cauldron-tooltip i {
  font-size: 15px;
  color: #f8e7b0;
}

.halloweenBoilingCauldronHUD-cauldron-tooltip b {
  font-weight: 400;
  color: #ccc;
}

.halloweenBoilingCauldronHUD-bait-cauldronButton {
  box-shadow: none;
}

.halloweenBoilingCauldronHUD-cauldron.active:hover .halloweenBoilingCauldronHUD-cauldron-instantFinishButton {
  opacity: 1;
}

.halloweenBoilingCauldronHUD-cauldron-instantFinishButton {
  display: block;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.halloweenBoilingCauldronHUD-shutdownButton {
  left: 271px;
  width: 198px;
}

.itemPurchaseView-container.apothecary .itemPurchaseView-content-name {
  display: block;
  padding-top: 3px;
}

.itemPurchaseView-container.apothecary .itemPurchaseView-image-container {
  background-color: transparent;
}

.itemPurchaseView-container.apothecary .itemPurchaseView-action-purchaseHelper-owned {
  padding-left: 0;
  margin: 0;
  text-shadow: none;
  background-color: transparent;
  border: none;
}

.itemPurchaseView-container.apothecary .itemPurchaseView-content-description {
  height: 80px;
}

.itemPurchaseView-container.apothecary.no_gold_cost .itemPurchaseView-action-goldGost {
  display: none;
}

.itemPurchaseView-container.apothecary .itemPurchaseView-action-itemCost-table {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  background-color: #e8f2e5;
}

.itemPurchaseView-container.apothecary .itemPurchaseView-action-itemCost-table-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 50px;
  padding: 0;
  margin: 0;
}

.itemPurchaseView-container.apothecary .itemPurchaseView-action-quantity {
  margin-top: -1px;
}

.itemPurchaseView-container.apothecary .itemPurchaseView-action-quantity input {
  width: 90px
}

.itemPurchaseView-container.apothecary .itemPurchaseView-action-container {
  height: 130px;
}

.itemPurchaseView-container.apothecary .itemPurchaseView-action-itemCost-table-cell a {
  padding: 20px 6px 20px 29px;
  font-size: 13px;
  background-position: -10px 50%;
  background-size: 42px;
}

.itemPurchaseView-container.apothecary .itemPurchaseView-action-itemCost-table .itemPurchaseView-action-itemCost-table-cell.cost {
  width: 20%;
  font-size: 17px;
  font-weight: 400;
  text-shadow: 1px 1px 1px #788c59;
}

.itemPurchaseView-container.apothecary .itemPurchaseView-content-container {
  background-color: transparent;
}

.halloweenBoilingCauldronHUD-dialog-boonImage {
  display: flex;
  align-items: center;
}

.halloweenBoilingCauldronHUD-dialog-reward.complete::after {
  top: 45px;
  filter: drop-shadow(0 5px 6px #000);
  transform: rotate(348deg);
}

a.halloweenBoilingCauldronHUD-dialog-closeButton {
  top: 0;
  right: -6px;
  width: 46px;
  height: 38px;
  background-size: 100%;
}

#overlayPopup.halloweenBoilingCauldronRecipePopup #jsDialogClose {
  top: 146px;
  right: 22px;
  z-index: 1;
  width: 46px;
  height: 37px;
  color: transparent;
  background-size: cover;
}

#overlayPopup.halloweenBoilingCauldronRecipePopup #jsDialogClose:hover {
  background-size: cover;
}

.halloweenBoilingCauldronRecipeView-recipe-ingredientContainer table {
  border: none;
}

.halloweenBoilingCauldronRecipeView-recipe-ingredientContainer {
  padding: 0;
  border-radius: 5px;
}

.halloweenBoilingCauldronRecipeView-recipe-ingredient-header {
  display: none;
}

.halloweenBoilingCauldronRecipeView-recipe-ingredientContainer td:first-child {
  padding-left: 10px;
}

.halloweenBoilingCauldronRecipeView-recipe-ingredientContainer td:last-child {
  padding-right: 10px;
}

.halloweenBoilingCauldronRecipeView-recipe-ingredientContainer td {
  font-size: 12px;
}

.halloweenBoilingCauldronRecipeView-recipe-description {
  line-height: 1.3;
  color: #4c4d37;
}

.halloweenBoilingCauldronRecipeView-recipe-mouse {
  font-size: 11px;
}


.halloweenBoilingCauldronRecipeView-recipe-mice-list.num_5 .halloweenBoilingCauldronRecipeView-recipe-mouse {
  width: 33%;
}

.halloweenBoilingCauldronHUD-cauldron-queue-brewTime {
  padding-top: 4px;
  margin-left: 3px;
  font-size: 13px;
  text-shadow: 0 1px 1px #efd28e;
  background-color: #efd28e;
  background-position-y: bottom;
  border-radius: 10px;
}

.halloweenBoilingCauldronRecipeView-cauldron-queueSlot.cauldron .halloweenBoilingCauldronHUD-cauldron-queue-brewTime {
  padding-top: 2px;
  font-size: 13px;
  font-weight: 900;
}

a.halloweenBoilingCauldronRecipeView-cauldron-queueSlot-cancelButton {
  top: -17px;
  right: 7px;
  left: unset;
}

.halloweenBoilingCauldronRecipeView-content {
  font-size: 12px;
}

.hudLocationContent .halloweenBoilingCauldronHUD-cauldron-imageContainer .halloweenBoilingCauldronHUD-cauldron-queue-brewTime {
  padding: 0;
  background-color: transparent;
}

.campHudSpookyShuffleView__quantity {
  font-size: 12px;;
}

.halloweenBoilingCauldronHUD-cauldron-imageContainer,
.fuelActive .halloweenBoilingCauldronHUD-reward-progress-bar {
  transition: all 0.2s ease-in-out;
}

.fuelActive .halloweenBoilingCauldronHUD-cauldron-imageContainer {
  background-image: url(https://i.mouse.rip/mh-improved/cauldrons.png);
  filter: drop-shadow(2px 4px 6px #ff8b1c);
}

.fuelActive a.halloweenBoilingCauldronHUD-moreInfoButton {
  filter: hue-rotate(256deg);
}

.halloweenBoilingCauldronHUD.fuelReveal .halloweenBoilingCauldronHUD-candle {
  animation-delay: .5s;
}

.halloweenBoilingCauldronHUD-yield-huntsRemaining {
  right: 30px;
  left: 30px;
  height: 6px;
  border-width: 1px;
  border-radius: 0;
}

.halloweenBoilingCauldronHUD-yield-huntsRemaining-progress-bar {
  height: 5px;
  background-color: #03cd4a;
  box-shadow: inset 0 0 2px 0 #037e2d;
}

.halloweenBoilingCauldronHUD-dialog-state.item .halloweenBoilingCauldronHUD-dialog-title{
  margin-right: 20px;
}
