.itemView-titleContainer {
  height: 26px;
}

.itemView-header-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mh-item-links {
  display: flex;
  justify-content: flex-end;
  margin-right: -10px;
}

.mh-item-links a {
  margin-right: 5px;
}

.itemView-header-name .mh-item-links span {
  display: inline-block;
  font-size: 11px;
  font-weight: 400;
}

.mouseview-has-mhct .mouse-ar-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 50px;
  gap: 10px;
  place-items: center stretch;
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  font-size: 12px;
}

.mouseview-has-mhct .has-stages .mouse-ar-wrapper {
  grid-template-columns: 1fr 1fr 1fr 50px;
}

.itemView-has-mhct .mouse-ar-wrapper div {
  padding: 0 2px;
}

.itemView-has-mhct .mice-ar-wrapper {
  margin-right: 10px;
}

.mouse-ar-wrapper .stage {
  font-size: 10px;
}

.mouse-ar-wrapper .cheese {
  font-size: 11px;
}

.itemView-has-mhct .ar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 26px;
  padding-bottom: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 900;
  border-bottom: 1px solid #ccc;
}

.itemView-has-mhct .ar-link {
  font-size: 9px;
}

.itemView-has-mhct .rate {
  text-align: right;
}

.itemView-has-mhct .mouse-ar-wrapper:nth-child(odd) {
  background-color: #e7e7e7;
}

.itemView-has-mhct .itemView-description {
  font-weight: 500;
  line-height: 19px;
}

.itemView-action.crafting_item b {
  display: none;
}

.itemView-action.crafting_item::before {
  content: "This can be used to craft other items!";
}

.itemViewContainer.map_piece .itemView-action-text.map_piece,
.itemViewContainer.base .itemView-action-text.base,
.itemViewContainer.weapon .itemView-actio-textn.weapon,
.itemViewContainer.bait .itemView-action-text.bait,
.itemViewContainer.trinket .itemView-action-text.trinket,
.itemViewContainer.potion .itemView-action-text.potion,
.itemViewContainer.readiness_item .itemView-action-text.readiness_item,
.itemViewContainer.convertible .itemView-action-text.convertible,
.itemViewContainer.torn_page .itemView-action-text.torn_page,
.itemViewContainer.crafting_item .itemView-action-text.crafting_item,
.itemViewContainer.collectible .itemView-action-text.collectible,
.itemViewContainer.message_item .itemView-action-text.message_item,
.itemViewContainer.bonus_loot .itemView-action-text.bonus_loot,
.itemViewContainer.stat .itemView-action-text.stat,
.itemViewContainer.quest .itemView-action-text.quest,
.itemViewContainer.skin .itemView-action-text.skin {
  display: none !important;
}

.itemViewContainer .shopCustomization .itemViewStatBlock-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemViewContainer .itemViewStatBlock-stat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.itemViewContainer .itemViewStatBlock-stat-value {
  flex: 1;
  text-align: left;
}

.itemViewContainer .itemViewStatBlock-stat.cheeseEffect {
  font-size: 9px;
  text-align: center;
}

.itemViewContainer .itemViewStatBlock.trinket .itemViewStatBlock-padding {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100px;
}

.itemViewContainer .itemViewStatBlock.trinket {
  width: 100px;
  font-size: 13px;
}

#overlayPopup.itemViewPopup #jsDialogClose {
  z-index: 1;
  border-top-right-radius: 10px;
}

#overlayPopup.itemViewPopup .itemView-header-classification {
  right: 25px;
}

.itemView-actionContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.itemView-action {
  border-top: none;
}

.itemViewContainer.potion .inventoryPage-item-recipeOptions li {
  width: 365px;
}

/* wider item view */
.itemView-character-image {
  width: auto;
  height: 84px;
  margin-top: -15px;
  margin-left: -9px;
}

.itemView-character-name {
  left: -11px;
  width: 75px;
  font-size: 15px;
}

.itemView-padding {
  margin-left: 70px;
}

.itemView-thumbnail {
  width: 200px;
  height: 200px;
  margin-left: -15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.itemView-thumbnail.large {
  background-size: 100%;
}

input.itemView-action-convert-quantity {
  width: 50px;
}

.itemViewPopup .itemViewStatBlock-padding {
  flex-direction: column;
}

/* hovering over larry makes him rotate slightly */
.itemView-character .itemView-character-image {
  transition: all 0.4s ease-out;
  transform-origin: bottom;
}

.itemView-character:hover .itemView-character-image {
  transform: scale(1.2) rotate(-10deg) translateX(5px);
}

.itemView-header-classification {
  visibility: hidden;
}

.itemView-header-classification span {
  visibility: visible;
}

.itemViewStatBlock-stat {
  display: flex;
  align-items: center;
}

.itemView-sidebar-checklistItem:nth-child(1),
.itemView-sidebar-checklistItem:nth-child(2),
.itemView-sidebar-checklistItem.checked {
  display: block;
}

.itemView-sidebar-checklistItem {
  background: url(https://www.mousehuntgame.com/images/icons/bad_idea.png) 1px 4px no-repeat;
  background-size: 14px;
}

.itemView-partsContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: 15px;
  border-top: 1px solid #666;
}

.convertibleOpenView-item-imageContainer {
  margin-right: auto;
}

.convertibleOpenView-itemContainer.num_items_1 .convertibleOpenView-item {
  gap: 20px;
  width: 100%;
}

.itemView-obtainHint {
  margin-left: 190px;
}

.itemViewContainer iframe.socialLink-facebookLike {
  margin-right: 5px;
}

.convertibleOpenView-itemContainer {
  padding-top: 10px;
  margin-top: 0;
}

.itemViewContainer.skin .itemView-thumbnail {
  background-size: cover;
}
