.itemView-titleContainer {
  height: 26px;
}

.itemView-header-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mh-item-links {
  display: flex;
  justify-content: flex-end;
  margin-right: -10px;
}

.mh-item-links a {
  margin-right: 5px;
}

.itemView-header-name .mh-item-links span {
  display: inline-block;
  font-size: 11px;
  font-weight: 400;
}

.itemView-has-mhct .mouse-ar-wrapper {
  display: grid;
  grid-template-columns: 150px auto 50px;
  place-items: center stretch;
  padding: 5px;
  margin: 5px 0;
  font-size: 12px;
}

.itemView-has-mhct .has-stages .mouse-ar-wrapper {
  grid-template-columns: 110px 140px auto 50px;
}

.itemView-has-mhct .mouse-ar-wrapper div {
  padding: 0 2px;
}

.itemView-has-mhct .mice-ar-wrapper {
  margin-right: 10px;
}

.mouse-ar-wrapper .stage {
  font-size: 10px;
}

.mouse-ar-wrapper .cheese {
  font-size: 11px;
}

.itemView-has-mhct .ar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 26px;
  padding-bottom: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 900;
  border-bottom: 1px solid #ccc;
}

.itemView-has-mhct .ar-link {
  font-size: 9px;
}

.itemView-has-mhct .rate {
  text-align: right;
}

.itemView-has-mhct .mouse-ar-wrapper:nth-child(odd) {
  background-color: #e7e7e7;
}

.itemView-has-mhct .itemView-description {
  font-weight: 500;
  line-height: 19px;
}

.itemView-action.crafting_item b {
  display: none
}

.itemView-action.crafting_item::before {
  content: "This can be used to craft other items!";
}

.itemViewContainer.map_piece .itemView-action-text.map_piece,
.itemViewContainer.base .itemView-action-text.base,
.itemViewContainer.weapon .itemView-actio-textn.weapon,
.itemViewContainer.bait .itemView-action-text.bait,
.itemViewContainer.trinket .itemView-action-text.trinket,
.itemViewContainer.potion .itemView-action-text.potion,
.itemViewContainer.readiness_item .itemView-action-text.readiness_item,
.itemViewContainer.convertible .itemView-action-text.convertible,
.itemViewContainer.torn_page .itemView-action-text.torn_page,
.itemViewContainer.crafting_item .itemView-action-text.crafting_item,
.itemViewContainer.collectible .itemView-action-text.collectible,
.itemViewContainer.message_item .itemView-action-text.message_item,
.itemViewContainer.bonus_loot .itemView-action-text.bonus_loot,
.itemViewContainer.stat .itemView-action-text.stat,
.itemViewContainer.quest .itemView-action-text.quest,
.itemViewContainer.skin .itemView-action-text.skin {
  display: none !important;
}

.itemViewContainer .shopCustomization .itemViewStatBlock-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemViewContainer .itemViewStatBlock-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 46px;
}

.itemViewContainer .itemViewStatBlock-stat.cheeseEffect {
  font-size: 9px;
  text-align: center;
}

#overlayPopup.itemViewPopup #jsDialogClose {
  z-index: 1;
}

#overlayPopup.itemViewPopup .itemView-header-classification {
  right: 25px;
  color: transparent;
}

.itemView-actionContainer {
  display: flex;
}

.itemView-header-classification {
  color: transparent;
}

.itemView-action {
  border-top: none;
}
