.mountainHUD-boulder-health-percent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mountainHUD-boulder-health-percent span {
  font-size: 12px;
}

.mountainHUD-boulder-health-progressBar span {
  top: -2px;
  bottom: -2px;
  box-shadow: inset 0 0 2px 1px #000;
}

.mountainHUD-boulder-state,
.mousehuntItem.mountainHUD-conduit-charm .mousehuntItem-image {
  transition: 0.2s ease-in;
}

.mountainHUD-boulder:hover .mountainHUD-boulder-state {
  filter: brightness(0.9);
  transform: translateY(4px);
}

.mountainHUD-boulderHelper {
  top: 3px;
  left: 128px;
  width: 76px;
  font-size: 11px;
}

.mountainHUD-conduit-charm .mousehuntItem-image {
  background-color: #835327;
  background-size: 80px;
  border-radius: 0;
  box-shadow: -1px -1px 0 0 #835327;
}

.mountainHUD-conduit-charm .mousehuntItem-image::after {
  border: none;
  border-radius: 40px;
}

.mountainHUD-conduit-charm:hover .mousehuntItem-image {
  background-size: 100px;
  transform: rotate(5deg);
}

.mountainHUD-conduit-power {
  padding-left: 19px;
  font-size: 15px;
}

.mountainHUD-conduit-power::after {
  top: -2px;
  width: 20px;
  height: 21px;
  padding-right: 5px;
  background-size: 20px;
}

.mountainHUD-conduit-suggestions .mousehuntItem-quantity {
  right: 0;
  bottom: -11px;
  left: 0;
  font-size: 12px;
  border: 1px solid #858585;
}

.mountainHUD-footer-item .mousehuntItem-image {
  width: 25px;
  height: 25px;
  background-color: transparent;
}

.mountainHUD-footer-item .mousehuntItem-image,
.mountainHUD-phaseContainer .mousehuntItem-image,
.mountainHUD-conduit-suggestions .mousehuntItem-image {
  background-color: transparent;
  background-size: cover;
  box-shadow: none;
}

.mountainHUD-conduit-suggestions .mousehuntItem-image {
  background-size: 125%;
}

.mountainHUD-footer-item .mousehuntItem-image::after,
.mountainHUD-phaseContainer .mousehuntItem-image::after {
  border: none;
}

.mountainHUD-footer-item .mousehuntItem-quantity {
  bottom: 4px;
  font-size: 12px;
  background-color: #de9c5f;
  box-shadow: inset 0 0 3px 2px #835327;
}

.mountainHUD-footer-item-name {
  font-size: 10px;
}

.mountainHUD-footer-item:nth-child(1) .mountainHUD-footer-item-name {
  font-size: 10px;
  line-height: 10px;
}

.mountainHUD-footer-item:nth-child(2) .mountainHUD-footer-item-name {
  width: 82px;
  margin-left: 24px;
  font-size: 12px;
}

.mountainHUD-footer-item:nth-child(3) .mountainHUD-footer-item-name {
  font-size: 12px;
}

.mountainHUD-footer-item:nth-child(4) .mountainHUD-footer-item-name {
  font-size: 9px;
}

.mountainHUD-footer-item:nth-child(5) .mountainHUD-footer-item-name {
  width: 80px;
  margin-left: 27px;
  font-size: 11px;
}

.mountainHUD-footer-item .mousehuntItem.disabled .mousehuntItem-image {
  filter: opacity(0.3);
}

.mountainHUD-phase-description {
  line-height: 10px;
}

.mountainHUD-phase-title span {
  font-size: 10px;
  font-variant: none;
  text-shadow: 1px 1px 2px #000;
}

.mountainHUD-phaseContainer .mousehuntItem-quantity.quantity {
  font-size: 12px;
  border: 1px solid #858585;
}

.mountainHUD.none .mountainHUD-conduit-charm .mousehuntItem-image {
  border-radius: 50%;
}

.mousehuntItem.mountainHUD-conduit-charm {
  background-color: #835327;
}

.mountainHUD-conduit .mousehuntItem.disabled {
  height: auto;
  background-color: #5f3e1f;
}

.mountainHUD-conduit .mousehuntItem-image.disabled::after {
  border: none;
}

.mountainHUD-conduit .mousehuntItem.disabled .mousehuntItem-quantity {
  display: none;
}

.mountainHUD-conduit-suggestion-item .mousehuntTooltip {
  font-size: 12px;
}

.mountainHUD-conduit-suggestions .mousehuntItem-image.power_trinket {
  background-image: url(https://www.mousehuntgame.com/images/items/trinkets/large/b0fb665f8649eb72432c66b0575c9516.png);
}

.mountainHUD-conduit-suggestions .mousehuntItem-image.super_power_trinket {
  background-image: url(https://i.mouse.rip/upscaled/625bef6da38dc44ddcd70d0da47244ae.png);
}

.mountainHUD-conduit-suggestions .mousehuntItem-image.weak_power_trinket {
  background-image: url(https://www.mousehuntgame.com/images/items/trinkets/large/47a2b0f87d6ec8a9d86f39417a619f85.png);
}

.active .mousehuntItem-image.power_trinket {
  box-shadow: 0 0 5px 3px #00e505 inset;
}

.mountainHUD-minibossHelper {
  padding: 2px;
  margin-left: -3px;
  font-size: 10px;
}

.mountainHUD-mouse {
  transition: 0.2s ease-in ease-out;
  transform-origin: bottom;
  will-change: transform;
}

.mountainHUD-mouse:nth-child(1):hover {
  transform: scale(1.1) rotate(-3deg);
}

.mountainHUD-mouse:nth-child(2):hover {
  transform: scale(1.1);
}

.mountainHUD-mouse:nth-child(3):hover {
  transform: scale(1.1) rotate(3deg);
}

.mountainHUD-mouse .mountainHUD-mouse-image {
  border-radius: 15px 15px 0 0;
}

.mountainHUD-conduit-suggestions .mountainHUD-conduit-suggestion-item:hover .mousehuntItem-image {
  background-size: 150%;
}

.mountainHUD-miniBoulderContainer .mountainHUD-miniBoulder-health-percent {
  font-size: 10px;
}

.mountainHUD-miniBoulderContainer .mountainHUD-miniBoulder-health-percent span {
  font-size: 12px;
}

.mountainHUD-miniBoulderContainer .mountainHUD-miniBoulder-health-progressBar {
  top: 7px;
  height: 11px;
  background-color: #815026;
  box-shadow: inset 0 0 1px 1px #100802;
}

.mountainHUD-miniBoulderContainer .mountainHUD-miniBoulder-health-progressBar span {
  box-shadow: inset 1px 0 2px 1px #000;
  transition: 0.2s ease-in;
}

.mountainHUD-miniBoulder-state {
  filter: drop-shadow(0 0 1px #fff15b);
  transition: all 0.2s ease-out;
  transform-origin: center;
}

.mountainHUD-miniBoulder-state:hover {
  filter: drop-shadow(0 0 3px #fff15b);
  transform: scale(1.4);
}

.mountainHUD-mouse-difficulty {
  font-size: 13px;
}

.mountainHUD-miniBoulderContainer .mountainHUD-miniBoulder-health-progressBar:hover span {
  filter: hue-rotate(105deg);
}
