.treasureMapView-goals-group-goal .mh-improved-catch-date {
  margin-top: 2px;
  font-size: 9px;
  color: #666;
}

.mh-improved-map-start {
  width: 100%;
  margin: 5px;
  font-size: 11px;
  color: #666;
  text-align: right;
}

.mh-dark .treasureMapView-goals-group-goal .mh-improved-catch-date,
.mh-dark .mh-improved-map-start {
  color: var(--d-text-dark);
}

.complete .treasureMapView-goals-group-goal-name {
  display: flex;
  flex-direction: column;
}
