/* Sidebar */
.treasureMapView-singleEnvironment-label {
  padding-bottom: 8px;
}

.treasureMapView-block.treasureMapView-singleEnvironment {
  border-radius: 2px;
}

.treasureMapView-block-content.halfHeight {
  padding: 0;
  border-radius: 0;
}

.treasureMapView-block,
.treasureMapView-block > .treasureMapView-block-content {
  border-radius: 3px;
}

.treasureMapView-mapMenu-group.rewards .treasureMapView-mapMenu-group-title {
  display: none;
}

.treasureMapView-ally-ownerLabel {
  display: none;
}

input.treasureMapView-shareLinkInput {
  display: inline-block;
  width: 87px;
  padding: 3px;
  margin-right: 2px;
}

.treasureMapView-ownerRequestActions {
  display: block;
  width: 61px;
  margin: 0 auto;
}

.treasureMapView-mapMenu-group.rewards {
  display: flex;
  flex-direction: row-reverse;
  margin-top: -10px;
  margin-right: -5px;
}

.rewards .treasureMapView-mapMenu-subgroup.chest.mousehuntTooltipParent {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  align-items: center;
}

.rewards .treasureMapView-mapMenu-group-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 360px;
}

.max_hunters_10 .rewards .treasureMapView-mapMenu-group-content {
  max-width: 200px;
}

.rewards .treasureMapView-mapMenu-auraIcon {
  width: 33px;
  height: 33px;
  margin-right: 5px;
}

.treasureMapView-mapMenu.max_hunters_8 .treasureMapView-mapMenu-auraIcon,
.treasureMapView-mapMenu.max_hunters_9 .treasureMapView-mapMenu-auraIcon,
.treasureMapView-mapMenu.max_hunters_10 .treasureMapView-mapMenu-aura-name .treasureMapView-mapMenu-auraIcon,
.treasureMapView-mapMenu.max_hunters_10 .treasureMapView-mapMenu-auraIcon {
  width: 44px;
  height: 44px;
}

.rewards .treasureMapView-mapMenu-auraIconContainer {
  margin: 0;
}

.rewards .treasureMapView-mapMenu-group-actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  width: auto;
}

.rewards .treasureMapView-mapMenu-group-actions .mousehuntActionButton {
  margin-top: 5px;
  margin-right: 4px;
  margin-bottom: 0 !important;
}

.treasureMapView-allyCell.name {
  padding-left: 10px;
}

.treasureMapView-ally-name {
  padding-bottom: 5px;
}

.treasureMapView-mapMenu-mapIcon {
  width: 45px;
}

.max_hunters_10 .treasureMapView-mapMenu-mapIcon {
  width: 60px;
}

img.treasureMapView-reward-chestIcon {
  box-sizing: border-box;
  width: 160px;
  height: 160px;
  padding: 0;
  margin: 20px auto;
  background: transparent;
  box-shadow: none;
}

.treasureMapInvitesView .treasureMapView-leftBlock:first-child .treasureMapView-block-title:first-child {
  display: none;
}

.treasureMapView-block-content.noMinHeight.noPadding.treasureMapInvitesView-scoreboards .treasureMapView-block-title:nth-child(3),
.treasureMapView-block-content.noMinHeight.noPadding.treasureMapInvitesView-scoreboards .treasureMapView-scoreboard:nth-child(4) {
  display: none;
}

.treasureMapInventoryView-scrollCase-aura {
  overflow: hidden;
  font-size: 9px;
  line-height: 15px;
}

.treasureMapInventoryView-scrollCase-aura br {
  display: none;
}

.treasureMapInventoryView-scrollCase-aura b:first-of-type {
  display: block;
  font-size: 10px;
}

.treasureMapView-block-content-heading {
  margin: 10px 0 5px;
}

.treasureMapInventoryView-scrollCase {
  align-items: center;
  padding: 10px;
  margin: 5px;
  background-color: rgb(255 255 255 / 65%);
  border: 1px solid rgb(150 150 150 / 50%);
  border-radius: 5px;
}

.mh-dark-mode .treasureMapInventoryView-scrollCase {
  color: #000;
  background-color: rgb(50 50 50 / 25%);
  border-color: #424242;
}

.treasureMapView-block-content-heading-image {
  margin-right: 10px;
}

.mh-dark-mode .treasureMapShopsView-shopItems .treasureMapView-block-content-heading,
.mh-dark-mode .treasureMapShopsView-shopItems .treasureMapView-block-content-heading-count {
  color: #000;
}

.treasureMapPopup-shop-item-description-costContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5px;
  margin-top: 10px;
}

.treasureMapInventoryView-scrollCase-name {
  padding-bottom: 5px;
}

.mapper-self img {
  border-radius: 50%;
  outline: 2px solid #73ddff;
}

.treasureMapView-block-title.mh-ui-scavenger-hunt-title,
.treasureMapView-block.treasureMapView-scavengerHunt {
  display: none;
}

.treasureMapView-hunter-image {
  width: 90%;
}

.treasureMapListingsTableView-profilePic {
  box-shadow: 0 0 1px 1px #999;
}

.treasureMapView-hunter.empty img.treasureMapView-hunter-image {
  opacity: 0.4;
}

.treasureMapDialogView-userSelector .userSelectorView-content {
  height: 550px;
}

.treasureMapDialogView .userSelector-cell.name {
  font-size: 12px;
}

td.userSelector-cell.map_num_clues_found.number {
  font-size: 8px;
}

th.userSelector-column.is_favourite {
  color: transparent;
}

.userSelector-table th.userSelectorView-sortByLink {
  text-align: center;
}

.userSelector-table th.userSelectorView-sortByLink::after {
  margin-right: 10px;
  margin-left: 1px;
}

.userSelectorView-filterContainer {
  font-size: 12px;
}

label.userSelectorView-filter-label {
  color: transparent;
}

.treasureMapUserSelectorView-toggleFavouritesContainer.treasureMapView-block-title label {
  font-weight: 400;
}

.treasureMapDialogView .userSelector-cell abbr {
  text-decoration: none;
}

.treasureMapDialogView-userSelector-selectedUserList-content {
  counter-reset: sent left;
}

.treasureMapDialogView-userSelector-selectedUser {
  position: relative;
  counter-increment: sent;
}

.treasureMapDialogView-userSelector-selectedUser.empty {
  counter-increment: left;
}

.treasureMapUserSelectorView-actions:hover .treasureMapDialogView-userSelector-selectedUser::after {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  text-shadow:
    -1px 0 1px #000,
    1px 0 1px #000,
    0 0 0 #000,
    0 -1px 1px #000,
    0 1px 1px #000,
    0 0 0 #000;
  content: counter(sent);
}

.treasureMapUserSelectorView-actions:hover .treasureMapDialogView-userSelector-selectedUser.empty::after {
  content: counter(left);
}

.userSelector-table .userSelector-groupHeading td {
  padding: 5px 0 2px 5px;
  border-right: none;
  border-left: none;
}

.userSelector-table .userSelector-groupHeading td:first-child {
  border-top: none;
}

.treasureMapView-environment-hunters .treasureMapView-hunter.captain .treasureMapView-hunter-image {
  width: 20px;
  height: 20px;
  outline: 1px solid #ffe298;
  box-shadow: none;
}

/* consolation prizes */
.mh-mapper-consolation-prizes {
  display: flex;
  flex-direction: column;
}

h2.mh-mapper-consolation-prizes-title {
  padding: 5px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
}

.mh-mapper-consolation-prize {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img.mh-mapper-consolation-prize {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.treasureMapView-block-title.mh-ui-environments-title,
.treasureMapView-block-title.mh-ui-map-location-title,
.treasureMapView-block-title.mh-ui-consolation-prizes-title {
  display: none;
}

.treasureMapView-block-title.mh-ui-goals-title {
  margin: -7px;
  color: transparent;
}

.treasureMapRootView-subTab-label {
  display: none;
}

input.treasureMapView-block-search-text {
  width: 80px;
  height: 18px;
  margin-right: 7px;
  font-size: 12px;
  border: 1px solid #ccc;
}

.treasureMapRootView-subTabRow {
  align-items: center;
}

.treasureMapView-highlight {
  padding: 0;
  border-radius: 6px;
  outline: 1px solid #505050;
  box-shadow:
    0 2px 3px -1px #292929,
    0 2px 10px -2px #ababab;
}

.treasureMapView-highlight-content {
  padding: 6px 0;
}

.treasureMapView-highlight.goal.active.mouse,
.treasureMapView-highlight.goal.active.sticky.mouse.has-mhct-ars {
  width: 40%;
}

.treasureMapView-highlight-weakness-types img {
  width: 17px;
}

.treasureMapView-highlight.environment .treasureMapView-highlight-content,
.treasureMapView-highlight-description {
  padding: 10px;
}

.mh-ui-environments-block {
  max-height: 490px;
  padding: 6px;
  margin: -1px;
  overflow-y: auto;
}

.mh-ui-environments-block .treasureMapView-block-content.halfHeight {
  max-height: unset;
}

.treasureMapView-goals-group-goal {
  width: calc(33% - 5px);
  margin: 3px 5px 3px 0;
}

.treasureMapView-highlight .treasureMapView-goals-group-goal {
  width: auto;
}

.treasureMapView-goals-group-goal.notAvailable {
  opacity: 0.7;
}

.treasureMapView-goals-group-goal.notAvailable.m400.mouse,
.treasureMapView-goals-group-goal.notAvailable:hover,
.treasureMapView-goals-group-goal.notAvailable.sticky {
  opacity: 1;
}

.complete .treasureMapView-goals-group-goal-name,
.complete .treasureMapView-goals-group-goal-padding {
  height: 35px;
}

.treasureMapView-goals-group-goal.complete::after {
  top: 12px;
  left: 7px;
  width: 21px;
  height: 21px;
}

.treasureMapView-mapLeaveContainer {
  margin-top: 5px;
}

.treasureMapView-mapLeaveContainer .mousehuntActionButton.lightBlue.treasureMapView-leaveMapButton,
.mousehuntActionButton.mh-ui-leave-map-button {
  background: #ffa5a5;
}

.treasureMapView-mapLeaveContainer .mousehuntActionButton.lightBlue.treasureMapView-leaveMapButton::before,
.mousehuntActionButton.mh-ui-leave-map-button::before {
  background: #f27b6a;
  box-shadow: 0 0 10px #ffa5a5 inset;
}

.treasureMapView-mapLeaveContainer .mousehuntActionButton.lightBlue.treasureMapView-leaveMapButton:hover::before,
.treasureMapView-mapLeaveContainer .mousehuntActionButton.lightBlue.treasureMapView-leaveMapButton:focus::before,
.mousehuntActionButton.mh-ui-leave-map-button:hover::before,
.mousehuntActionButton.mh-ui-leave-map-button:focus::before {
  background: #ffa5a5;
}

.treasureMapView-block-content.treasureMapInvitesView-scoreboards {
  padding: 2px;
  margin-top: -20px;
  overflow-x: hidden;
}

.mh-dark-mode .pageFrameView #overlayPopup.treasureMapPopup .treasureMapRootView-content a.treasureMapView-block-row.active {
  color: #000;
  background: #f2eb6f;
}

.treasureMapView-hunter.upgrader .treasureMapView-hunter-image {
  box-shadow: 0 0 1px 3px #ffb40c;
}

.treasureMapView-hunter-miceCaught.active {
  background-color: #eee;
}

.mh-dark-mode .pageFrameView .treasureMapView-rightBlock {
  padding: 0;
  background-color: transparent;
}

.treasureMapView-highlight-catcher {
  display: inline-block;
  height: auto;
  background: none;
  border: none;
}

.treasureMapView-highlight-group,
.treasureMapView-highlight-environments {
  text-align: center;
}

.treasureMapView-highlight-catcher-title {
  display: inline-block;
  margin-top: -20px;
  margin-left: 12px;
  vertical-align: middle;
}

.treasureMapView-highlight-weakness-title {
  font-size: 8.4px;
}

.treasureMapView-highlight.goal {
  width: 35%;
}

.treasureMapView-highlight-weaknessContainer {
  display: flex;
  align-items: baseline;
  margin: 0 1px;
}

.treasureMapInventoryView-relicHunter-hintSuffix {
  margin-bottom: 10px;
  font-size: 10px;
  font-style: italic;
  text-align: center;
}

/* Make the relic hunter image bigger */
.treasureMapInventoryView-relicHunter {
  padding-top: 120px;
  border-radius: 3px;
}

.treasureMapInventoryView-relicHunter::before {
  height: 110px;
  border-bottom: 1px solid #ccc;
}

.treasureMapPopup-season-reward-name {
  padding: 2px;
  font-size: 11px;
}

.treasureMapPopup-seasonContainer.mousehuntTooltipParent {
  font-size: 11px;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.treasureMapView-block-search {
  right: 0;
  bottom: 13px;
}

.treasureMapInventoryView .treasureMapView-block-title,
.treasureMapShopsView .treasureMapView-block-title {
  height: 0;
  margin-bottom: 0;
  visibility: hidden;
}

.treasureMapInventoryView .treasureMapView-block-search,
.treasureMapShopsView .treasureMapView-block-search {
  visibility: visible;
}

.treasureMapRootView-footer .treasureMapRootView-footer-item {
  font-size: 11px;
}

.treasureMapRootView-footer .treasureMapRootView-footer-item:nth-child(3) .treasureMapRootView-footer-item-thumb,
.treasureMapRootView-footer .treasureMapRootView-footer-item:nth-child(4) .treasureMapRootView-footer-item-thumb {
  height: 21px;
  padding-left: 3px;
  margin-right: -10px;
  background-color: #7b789a;
  background-repeat: no-repeat;
  background-position: center;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.treasureMapRootView-footer .treasureMapRootView-footer-item:nth-child(3) .treasureMapRootView-footer-item-quantity,
.treasureMapRootView-footer .treasureMapRootView-footer-item:nth-child(4) .treasureMapRootView-footer-item-quantity {
  height: 13px;
  padding: 4px;
  margin-left: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.treasureMapView-mapMenu.treasureMapRootView-padding {
  margin-bottom: 20px;
}

.mh-ui-map-completed .treasureMapView-mapMenu.treasureMapRootView-padding {
  margin-bottom: 40px;
}

.treasureMapView-mapMenu.treasureMapRootView-padding.max_hunters_10 {
  margin-bottom: 50px;
}

.mh-ui-we-did-it-title {
  display: none;
}

.treasureMapView-block.treasureMapView-reward.mh-ui-we-did-it-block {
  background-color: #95ef9b;
  border-color: #14851b;
}

.treasureMapPopup-mapInvite .treasureMapView-hunter-wrapper.mousehuntTooltipParent {
  font-size: 10px;
}

.treasureMapPopup-mapInvite .treasureMapView-hunter {
  margin: 3px 0;
}

.treasureMapView-mapMenu-group-content.upgraded .treasureMapView-mapMenu-mapIcon,
.treasureMapListingsTableView-mapThumbnail.rare {
  filter: drop-shadow(0 0 1px #ffb40c) drop-shadow(0 0 1px #ffb40c);
  box-shadow: none;
}

.treasureMapDialogView-inviteFriend-completeContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: stretch stretch;
}

.treasureMapDialogView-inviteFriend-complete {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.treasureMapDialogView-environmentGoals {
  max-height: unset;
}

.treasureMapView-hunter-icon {
  top: -9px;
}

.treasureMapDialogView-overlay.active .treasureMapView-hunter-icon {
  left: 22px;
}

.mh-ui-user-on-map .treasureMapTooltipView.active {
  display: flex;
  flex-direction: column;
  place-content: flex-start space-around;
  align-items: center;
}

.treasureMapView-mapWarning.treasureMapRootView-padding {
  padding-left: 5px;
  margin-bottom: 10px;
  font-size: 10px;
  line-height: 1.5;
  text-align: center;
  box-shadow: 0 0 1px 1px #ffa5a5;
}

.treasureMapView-consolationPrizeMessage {
  margin: 15px 0;
  box-shadow: 0 0 1px 1px #ffa5a5;
}

.treasureMapView-mapWarning::before {
  display: none;
}

.treasureMapDialogView-title {
  margin-bottom: 5px;
}

.mh-improved-preview.treasureMapDialogView-title {
  margin-top: -10px;
  margin-bottom: 5px;
}

.incomplete .treasureMapView-goals-group-goal-padding {
  overflow: visible;
}

.treasureMapView-goals-group-goal-image {
  width: 34px;
  height: 100%;
  border-radius: 5px;
}

.treasureMapView-goals-group-goal.landscape .treasureMapView-goals-group-goal-image {
  height: 48px;
  background-position: center;
}

.treasureMapView-goals-group-goal.complete.landscape .treasureMapView-goals-group-goal-image {
  height: 33px;
}

.treasureMapView-goals-group-goal:hover::before,
.treasureMapView-goals-group-goal.sticky::before {
  inset: -1px;
  outline: 1px solid #ccc;
  box-shadow: none;
}

.treasureMapView-goals-group-goal.item {
  width: calc(20% - 5px);
  padding: 5px 0;
}

.full-width .treasureMapView-goals-group-goal {
  width: calc(20% - 5px);
}

.full-width .treasureMapView-goals-group-goal.item {
  width: calc(14% - 5px);
}

.treasureMapView-goals-group-goal.item.complete {
  width: calc(14% - 5px);
}

.full-width .treasureMapView-goals-group-goal.item.complete {
  width: calc(10% - 5px);
}

.treasureMapView-goals-group-goal.item.complete::after {
  top: 15px;
  right: 20px;
}

.treasureMapView-goals-group-goal.complete .treasureMapView-goals-group-goal-image {
  width: 34px;
  height: 100%;
  background-size: cover;
  border-radius: 5px;
}

.complete.treasureMapView-goals-group-goal.item .treasureMapView-goals-group-goal-name {
  height: 20px;
}

.treasureMapView-goals-group-goal:hover::before {
  background-color: #ececec;
}

.treasureMapView-goals-group-goal:hover .treasureMapView-goals-group-goal-image {
  mix-blend-mode: multiply;
}

.treasureMapView-highlight.environment {
  top: 25px;
  right: 175px;
  left: unset;
  width: 45%;
}

.treasureMapView-highlight-environments {
  max-height: 126px;
  margin-left: 10px;
  overflow-y: auto;
}

.treasureMapView-scoreboard-table .treasureMapView-block-row:hover {
  background-color: #eee;
}

.treasureMapView-previewBar {
  display: flex;
  height: 20px;
  padding-left: 15px;
  margin: 0;
  margin-top: -10px;
  background: #d9ffbf;
}

.treasureMapView-previewBar::before {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100px;
  height: 40px;
  content: "";
  background: #d9ffbf url(https://www.mousehuntgame.com/images/ui/elements/larry_circle_large.gif) 0 -16px no-repeat;
  background-size: 90px;
  transform: scaleX(-1);
}

.treasureMapView-previewBar-content {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}

.treasureMapView-previewBar .mousehuntActionButton[onclick*="hg.controllers.TreasureMapController.showCommunity();"] {
  display: none;
}

.treasureMapView-previewBar-padding {
  display: flex;
  align-items: center;
}

.treasureMapView-previewBar-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mh-improved-map-listing-last-active-wrapper {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.mh-improved-map-listing-full {
  opacity: 0.5;
}

.treasureMapPopup-mapInvite .treasureMapInventoryView-scrollCase {
  padding: 0;
  margin: 5px 0;
  border: none;
}

.treasureMapView-block-content.tall.treasureMapInvitesView-inviteList {
  padding: 5px;
}

.treasureMapPopup-mapInvite .treasureMapView-block-content-heading {
  margin: 0;
}

.treasureMapPopup-mapInvite {
  padding: 5px;
}

.treasureMapView-scoreboard {
  border-radius: 3px;
}

.treasureMapView-scoreboard .treasureMapView-block-cell.rank {
  padding-left: 2px;
}

.treasureMapInventoryView .treasureMapView-blockWrapper .treasureMapView-leftBlock .treasureMapView-block {
  padding: 0;
  border: none;
}

.treasureMapInventoryView .treasureMapView-blockWrapper .treasureMapView-block-content-heading {
  margin: 10px 10px 5px;
  border: none;
}

.treasureMapInventoryView-scrollCase-content br + br {
  display: none;
}

.treasureMapInventoryView-scrollCase-content {
  line-height: 15px;
}

.treasureMapInventoryView-scrollCase-content br + br + b {
  display: inline-block;
}

.treasureMapView-block-title.mh-ui-maps-title,
.treasureMapView-block-title.mh-ui-map-scrolls-title,
.treasureMapView-block-title.mh-ui-scroll-shop-title {
  display: none;
}

.treasureMapShopsView .treasureMapView-block-search {
  bottom: 10px;
}

.treasureMapTooltipView-hunterText-state.captain {
  position: absolute;
  top: 3px;
  left: 3px;
  visibility: hidden;
}

.treasureMapTooltipView-hunterText-state.captain::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 10px;
  visibility: visible;
  content: "";
  background: url(https://www.mousehuntgame.com/images/ui/tournaments/captain_icon.png?asset_cache_version=3) no-repeat 50% 50% / contain;
}

.treasureMapTooltipView-hunterText-state.upgrader {
  position: absolute;
  top: 2px;
  right: 2px;
  visibility: hidden;
}

.treasureMapTooltipView-hunterText-state.upgrader::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 14px;
  visibility: visible;
  content: "";
  background: #ffb615;
  border-radius: 50%;
}

.treasureMapView-hunter-wrapper .quickSendWrapper {
  top: 60px !important;
  left: 30px;
}

.mh-ui-user-on-map .treasureMapTooltipView {
  min-height: 40px;
}

.treasureMapDialogView.wide.limitHeight.confirm .treasureMapDialogView-description {
  display: none;
}

.treasureMapDialogView.wide.limitHeight.confirm .treasureMapDialogView-header {
  margin-bottom: 0;
}

.mh-ui-environments-block .treasureMapView-block-content:first-child {
  display: none;
}

.treasureMapView-block.mh-ui-listed-maps-block {
  display: none;
}

.treasureMapView-block-title.mh-ui-listed-maps-title {
  display: none;
}

.item .treasureMapView-highlight-description {
  max-height: 80px;
  overflow-y: auto;
}

.treasureMapInventoryView-relicHunter-hint {
  justify-content: center;
}

.treasureMapInventoryView .treasureMapView-blockWrapper.tall {
  margin-left: 0;
}

.treasureMapInventoryView-scrollCase-action.has-link {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
  text-align: center;
}

.treasureMapInventoryView-scrollCase-content .scroll-text {
  max-height: 60px;
  overflow: auto;
}

#overlayPopup.treasureMapPopup #jsDialogClose {
  z-index: 12;
}

.treasureMapView-consolationPrizeButton {
  margin-bottom: 5px;
}

.treasureMapView-block-search-clear {
  top: 0;
  right: 5px;
  border-left: none;
}

.treasureMapView.poster .treasureMapView-goals-group-goal.complete .treasureMapView-goals-group-goal-name {
  background: #949494;
  box-shadow:
    1px 1px 1px #fff inset,
    3px 3px 30px #786d64 inset,
    0 0 2px #9c9c9c inset,
    2px 2px 2px #000;
}

.treasureMapView.poster .treasureMapView-goals-group-goal.complete .treasureMapView-goals-group-goal-name span {
  color: #e5e0d6;
  text-decoration: none;
}

.treasureMapRootView-subTabContainer:hover .treasureMapRootView-subTab.active,
.treasureMapRootView-subTab.active,
.treasureMapRootView-subTabContainer:hover .treasureMapRootView-subTab:hover {
  border-color: #999;
}

.treasureMapRootView-subTabContainer:hover .treasureMapRootView-subTab.active,
.treasureMapRootView-subTab.active {
  color: #000;
  border-color: #333;
}

.treasureMapView-environment {
  border-radius: 3px;
}

.treasureMapView-environment:last-child {
  margin-bottom: 0;
}

.treasureMapRootView-subTab,
.treasureMapRootView-subTabContainer:hover .treasureMapRootView-subTab.active,
.treasureMapRootView-subTab.active,
.treasureMapRootView-subTabContainer:hover .treasureMapRootView-subTab:hover {
  padding: 0 16px;
}

.tsitu-rh-helper {
  display: none;
}

.treasureMapView-mapMenu-group.allies {
  z-index: 1;
}

.mh-ui-map-solver-links-container.treasureMapRootView-padding {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.mh-ui-map-solver-links {
  display: flex;
  gap: 10px;
}

.treasureMapView-highlight.goal.active.item {
  display: none;
}

.treasureMapView-highlight.goal.active.item.sticky {
  display: block;
}

.mh-ui-multiple-maps .treasureMapTooltipView {
  margin-top: 5px;
}

.treasureMapTooltipView.mh-ui-map-preview-tooltip {
  margin-top: -90px;
  margin-left: -7px;
}

.treasureMapDialogView-overlay.active .treasureMapView-mapName {
  padding-bottom: 20px;
}
