.treasureMapView-componentContainer {
  width: 130px;
}

.treasureMapView-block.treasureMapView-invitedHuntersList {
  margin: 20px 0;
}

.treasureMapView-block.treasureMapView-invitedHuntersList .userSelectorView-user-image {
  width: 20px;
  height: 20px;
}

.treasureMapView-block.treasureMapView-invitedHuntersList .treasureMapView-invitedHuntersList-row-link {
  font-size: 10px;
}

.treasureMapView-invitedHuntersList-row {
  margin-top: 3px;
}

.treasureMapDialogView-deleteInviteRequest.reject-invite-request {
  display: inline-block;
  width: 12px;
  padding: 3px;
  margin-right: 6px;
  color: #242424;
  text-align: center;
  background-color: #dcd5d5;
  border-radius: 50%;
}

.treasureMapDialogView-deleteInviteRequest.reject-invite-request:hover,
.treasureMapDialogView-deleteInviteRequest.reject-invite-request:focus,
.treasureMapDialogView-deleteInviteRequest.reject-invite-request:active {
  text-decoration: none;
  background-color: #a3a3a3;
}

.treasureMapView-allyRow:last-child .treasureMapView-allyCell.hunters-last-slot {
  display: inline-block;
  width: 90px;
  margin-top: 16px;
  margin-left: 10px;
  font-style: italic;
  white-space: nowrap;
  vertical-align: middle;
}

.treasureMapView-mapMenu-group-invite.mh-ui-invite-wrapper {
  display: flex;
  gap: 5px;
}

.treasureMapView-mapMenu-group-invite .mousehuntActionButton.mh-ui-invite-button {
  margin-bottom: 0 !important;
}

.mh-ui-find-hunters-title,
.mh-ui-map-settings-title,
.mh-ui-share-title {
  display: none;
}

.mh-ui-find-hunters-block {
  margin-top: 18px;
}

.mh-ui-map-settings-block .treasureMapView-block-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: stretch;
  justify-content: center;
}

.treasureMapView-block.mh-ui-share-block .treasureMapView-block-content {
  display: flex;
  gap: 3px;
  align-items: center;
}

a.mousehuntActionButton.lightBlue.treasureMapView-inviteModeButton {
  margin-top: 0;
}

.mh-ui-find-hunters-block .treasureMapView-mapMenu-group-invite {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.treasureMapView-mapMenu-group-invite .mousehuntActionButton {
  margin-bottom: 0 !important;
}

.treasureMapView-header .treasureMapView-hunter-image {
  min-width: 44px;
  min-height: 44px;
}

.mh-ui-quick-invite-wrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 185px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input.mh-ui-quick-invite-input {
  width: auto;
  max-width: 100px;
  padding: 5px;
  margin: 0;
  border: 1px solid #c6c6c6;
}

.mh-ui-quick-invite-indicator {
  position: absolute;
  top: 15px;
  right: 65px;
  width: 20px;
  height: 20px;
}

.mh-ui-quick-invite-indicator.mh-ui-quick-invite-spinner {
  background-image: url(https://www.mousehuntgame.com/images/ui/loaders/small_spinner.gif);
  background-repeat: no-repeat;
  background-size: 16px;
}

.mh-ui-quick-invite-indicator.mh-ui-quick-invite-success {
  background-image: url(https://www.mousehuntgame.com/images/ui/hud/meadow_checkmark.png);
  background-repeat: no-repeat;
  background-size: 16px;
}

.mh-ui-quick-invite-wrapper .mh-ui-error-message {
  position: absolute;
  top: 42px;
  right: 5px;
  left: 5px;
  text-align: center;
}

span.treasureMapView-shareLinkInputStatus {
  display: none;
}

.treasureMapView-mapMenu-group-invite {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.treasureMapView-inviteModeDescription {
  margin-bottom: 5px;
}

.treasureMapView-hunter-wrapper.mousehuntTooltipParent {
  padding-top: 20px;
  margin-top: -10px;
}

.mh-mapper-invite-request-action {
  padding: 0 10px;
}
