.treasureMapView.treasure .treasureMapView-goals-group-goal[data-mh-ui-ar="true"] .treasureMapView-goals-group-goal-name,
.treasureMapView.event .treasureMapView-goals-group-goal[data-mh-ui-ar="true"] .treasureMapView-goals-group-goal-name {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.mh-ui-ar {
  padding: 3px;
  font-size: 10px;
  color: #000;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.poster .mh-ui-ar {
  position: absolute;
  right: 0;
  bottom: -7px;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 10px;
  color: #000;
  text-shadow: none;
}

.mh-ui-ar-hidden .mh-ui-ar {
  display: none;
}

.complete .mh-ui-ar {
  background-color: #e5e5e5;
}

.mh-ui-ar-guaranteed {
  background-color: #0ef;
  border-color: #8fb1b3;
}

.mh-ui-ar-super-easy {
  background-color: #8ffaab;
  border-color: #73b484;
}

.mh-ui-ar-easy {
  background-color: #b9ff9e;
  border-color: #8fb17a;
}

.mh-ui-ar-medium {
  background-color: #ffdab9;
  border-color: #c5a381;
}

.mh-ui-ar-hard {
  background-color: #ffc440;
  border-color: #c59c40;
}

.mh-ui-ar-super-hard {
  background-color: #ff9e9e;
  border-color: #c55a5a;
}

.mh-ui-ar-extreme {
  color: #fff;
  background-color: #ed6464;
  border-color: #a64a4a;
}

.mh-ui-ar-impossible {
  color: #fff;
  background-color: #c92222;
  border-color: #5a2121;
}

.mh-ui-toggle-ar-button {
  margin-left: 10px;
}

.mh-ui-ar-failed {
  margin-left: 10px;
}

.treasure .treasureMapView-goals-group-goal[data-mh-ui-ar="true"].item .treasureMapView-goals-group-goal-name,
.event .treasureMapView-goals-group-goal[data-mh-ui-ar="true"].item .treasureMapView-goals-group-goal-name {
  align-items: center;
}
