.treasureMapDialogView-chest-item.guaranteed .treasureMapDialogView-chest-item-padding::before,
.treasureMapDialogView-chestPreview.rare .treasureMapDialogView-chest-item.doubled .treasureMapDialogView-chest-item-padding::before,
.treasureMapDialogView-chest-item.very_likely .treasureMapDialogView-chest-item-padding::before,
.treasureMapDialogView-chest-item.common .treasureMapDialogView-chest-item-padding::before,
.treasureMapDialogView-chest-item.uncommon .treasureMapDialogView-chest-item-padding::before,
.treasureMapDialogView-chest-item.rare .treasureMapDialogView-chest-item-padding::before,
.treasureMapDialogView-chest-item.very_rare .treasureMapDialogView-chest-item-padding::before,
.treasureMapDialogView-chest-item.extremely_rare .treasureMapDialogView-chest-item-padding::before {
  display: none;
}

.treasureMapDialogView-chest-item.guaranteed:hover .treasureMapDialogView-chest-item-padding::before,
.treasureMapDialogView-chestPreview.rare .treasureMapDialogView-chest-item.doubled:hover .treasureMapDialogView-chest-item-padding::before,
.treasureMapDialogView-chest-item.very_likely:hover .treasureMapDialogView-chest-item-padding::before,
.treasureMapDialogView-chest-item.common:hover .treasureMapDialogView-chest-item-padding::before,
.treasureMapDialogView-chest-item.uncommon:hover .treasureMapDialogView-chest-item-padding::before,
.treasureMapDialogView-chest-item.rare:hover .treasureMapDialogView-chest-item-padding::before,
.treasureMapDialogView-chest-item.very_rare:hover .treasureMapDialogView-chest-item-padding::before,
.treasureMapDialogView-chest-item.extremely_rare:hover .treasureMapDialogView-chest-item-padding::before {
  display: block;
}

.treasureMapDialogView-chest-item-padding::before {
  border-radius: 0 0 0 5px;
}

.treasureMapDialogView-chest-item.guaranteed .treasureMapDialogView-chest-item-padding::before {
  content: "Guaranteed";
  background-color: #ccc;
}

.treasureMapDialogView-chestPreview.guaranteed .treasureMapDialogView-chest-item-padding::before {
  background-color: #ccc;
}

.treasureMapDialogView-chestPreview.rare .treasureMapDialogView-chest-item.doubled .treasureMapDialogView-chest-item-padding::before {
  background-color: #accde6;
}

.treasureMapDialogView-chest-item.very_likely .treasureMapDialogView-chest-item-padding::before {
  background-color: #98fffb;
}

.treasureMapDialogView-chest-item.common .treasureMapDialogView-chest-item-padding::before {
  color: #fff;
  background-color: #51a6e7;
}

.treasureMapDialogView-chest-item.uncommon .treasureMapDialogView-chest-item-padding::before {
  background-color: #51e2bb;
}

.treasureMapDialogView-chest-item.rare .treasureMapDialogView-chest-item-padding::before {
  background-color: #12ff00;
}

.treasureMapDialogView-chest-item.very_rare .treasureMapDialogView-chest-item-padding::before {
  background-color: #c0ff00;
}

.treasureMapDialogView-chest-item.extremely_rare .treasureMapDialogView-chest-item-padding::before {
  background-color: #ffde00;
}

.treasureMapDialogView-chest-item-padding:before {
  right: 0;
  left: unset;
}

.treasureMapView-mapMenu-subgroup.chest {
  position: absolute;
  top: 0;
  left: 10px;
}

.treasureMapDialogView-overlay .treasureMapView-mapMenu-subgroup.chest {
  top: 5px;
}

.mh-ui-map-preview .treasureMapView-mapMenu-subgroup.chest {
  top: 45px;
}

.rewards .treasureMapView-mapMenu-rewardName {
  display: none;
}

.treasureMapView-mapMenu-subgroup.chest:hover .treasureMapView-mapMenu-rewardName {
  position: absolute;
  top: 32px;
  left: 50px;
  display: block;
  width: 260px;
  max-width: unset;
}

.treasureMapView-mapMenu-group-content {
  position: inherit;
}

.treasureMapView-mapMenu-group.rewards {
  position: inherit;
}

.treasureMapView-mapName {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  margin-left: 10px;
}

.mh-ui-user-on-map .treasureMapView-mapName {
  padding-top: 10px;
  margin-left: 10px;
}

.treasureMapView-mapMenu-group:first-child .treasureMapView-mapMenu-group-title {
  margin: 5px 0;
}

.mh-ui-map-name-auras {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.mh-ui-map-name-auras .treasureMapView-mapMenu-auraIcon {
  width: 25px;
  height: 25px;
}

.treasureMapView-mapMenu-group-content .treasureMapView-mapMenu-group-actions {
  position: absolute;
  top: 0;
}

.mh-ui-map-preview .treasureMapView-mapMenu-group-content .treasureMapView-mapMenu-group-actions {
  top: 50px;
}

.treasureMapView-mapMenu-aura-name {
  display: none;
}

.treasureMapView-mapMenu-auraIcon:hover + .treasureMapView-mapMenu-aura-name {
  position: absolute;
  top: 30px;
  left: 55px;
  display: block;
  width: 260px;
}

.mh-improved-reward-quantity {
  padding-bottom: 3px;
  font-style: italic;
}

.mh-improved-reward-chance {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
  font-size: 9px;
  border-radius: 0 0 5px;
}

.treasureMapDialogView-chest-item.guaranteed .mh-improved-reward-chance {
  background-color: #ccc;
}

.treasureMapDialogView-chest-item.very_likely .mh-improved-reward-chance {
  background-color: #98fffb;
}

.treasureMapDialogView-chest-item.common .mh-improved-reward-chance {
  color: #fff;
  background-color: #51a6e7;
}

.treasureMapDialogView-chest-item.uncommon .mh-improved-reward-chance {
  background-color: #51e2bb;
}

.treasureMapDialogView-chest-item.rare .mh-improved-reward-chance {
  background-color: #12ff00;
}

.treasureMapDialogView-chest-item.very_rare .mh-improved-reward-chance {
  background-color: #c0ff00;
}

.treasureMapDialogView-chest-item.extremely_rare .mh-improved-reward-chance {
  background-color: #ffde00;
}
