.pageFrameView-column.right {
  border-left-width: 10px;
}

.pageFrameView-column.left {
  border-right-width: 10px;
}

.pageFrameView {
  grid-template-columns: [first] auto [content-start] 760px [sidebar] 210px [content-end] auto [last];
}

/* Style the sidebar block */
.mh-improved-map-sidebar {
  padding: 0;
  margin: 5px 0 15px;
  border: 1px solid #ddedff;
}

.mh-improved-map-sidebar-title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 5px;
  font-size: 11px;
  text-align: center;
  background-color: #ddedff;
}

.mh-improved-map-sidebar-title:hover {
  cursor: pointer;
}

.mh-improved-map-sidebar-subtitle {
  font-style: italic;
}

.mh-improved-map-sidebar-goals {
  display: flex;
  flex-direction: column;
}

.mh-improved-map-sidebar-goal {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  padding: 1px 5px;
}

.mh-improved-map-sidebar-goal-image {
  width: 20px;
  height: 20px;
  background-size: cover;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px #fff;
}

.mh-improved-map-sidebar-goal-name {
  font-size: 10px;
}

.mh-improved-map-sidebar-goal:hover {
  cursor: pointer;
  background-color: #eee;
}

.mh-improved-map-sidebar-goal-active {
  background-color: #fdfbcc;
}

.mh-improved-map-sidebar-title::after {
  position: absolute;
  top: 2px;
  right: 0;
  box-sizing: border-box;
  display: block;
  width: 17px;
  height: 17px;
  padding: 9px;
  margin: 1px;
  content: "";
  background: url(https://www.mousehuntgame.com/images/ui/puzzle/refresh.png) no-repeat center center / contain;
  border-radius: 50%;
  opacity: 0.3;
}

.mh-improved-map-sidebar-title:hover::after {
  opacity: 1;
}

.loading .mh-improved-map-sidebar-title::after {
  animation: mh-improved-spin 1s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .loading .mh-improved-map-sidebar-title::after {
    animation: none;
  }
}

.poster .mh-ui-goals-sidebar-toggle {
  display: none;
}
