#sorted-mice-container .mouse-category-twilight-midnight-pitch .mouse-category-title {
  font-size: 13px;
}

#sorted-mice-container .mouse-category-first-light-utter-darkness .mouse-category-title {
  font-size: 12px;
}

#sorted-mice-container .mouse-subcategory-wrapper.mouse-subcategory-sp {
  background-color: rgb(175 203 255 / 75%);
}
