#sorted-mice-container .mouse-category-twilight-midnight-pitch .mouse-category-title {
  font-size: 13px;
}

#sorted-mice-container .mouse-category-first-light-utter-darkness .mouse-category-title {
  font-size: 12px;
}

.mh-dark #sorted-mice-container .mouse-category-wrapper.mouse-category-sos-boss,
.mh-dark #sorted-mice-container .mouse-category-wrapper.mouse-category-school-of-sorcery,
.mh-dark #sorted-mice-container .mouse-category-wrapper.mouse-category-fantasy {
  color: var(--d-text-dark);
}

.mh-dark #sorted-mice-container .mouse-category-sos-boss .mouse-subcategory-wrapper,
.mh-dark #sorted-mice-container .mouse-category-school-of-sorcery .mouse-subcategory-wrapper,
.mh-dark #sorted-mice-container .mouse-category-fantasy .mouse-subcategory-wrapper {
  color: var(--d-text);
}
