#sorted-mice-container {
  margin: 20px 5px;
}

#sorted-mice-container .mouse-category-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  place-items: stretch stretch;
  margin-bottom: 25px;
}

#sorted-mice-container .mouse-category-wrapper {
  position: relative;
  color: #000;
  background-color: #e6e6e6;
  border: 1px solid rgb(5 5 5 / 50%);
  border-radius: 0;
  box-shadow: 0 2px 1px -1px #909090;
}

#sorted-mice-container .mouse-category-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 6px 10px;
  margin-bottom: 3px;
  color: #000;
  background-color: rgb(255 255 255 / 65%);
  border-bottom: 1px solid rgb(5 5 5);
}

#sorted-mice-container .mouse-category-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#sorted-mice-container .mouse-category-icon-title-wrapper {
  display: flex;
  align-items: center;
}

#sorted-mice-container .mouse-category-title {
  font-size: 14px;
}

#sorted-mice-container .mouse-category-subtitle {
  margin-top: 2px;
  font-size: 11px;
  font-style: italic;
}

#sorted-mice-container .mouse-category-mice {
  padding: 4px;
}

#sorted-mice-container .mouse-container {
  padding-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 4px;
}

#sorted-mice-container .mouse-data {
  position: relative;
  display: flex;
  align-items: center;
}

#sorted-mice-container .mouse-name {
  flex: 1;
}

#sorted-mice-container .mouse-extra-info {
  display: none;
}

#sorted-mice-container .mouse-container-selected,
#sorted-mice-container .mouse-container:hover,
#sorted-mice-container .mouse-container:focus {
  position: relative;
  background: rgb(255 255 255 / 50%);
  outline: 1px solid rgb(25 25 25 / 35%);
}

#sorted-mice-container .mouse-container-selected .mouse-mhct-extra-info-wrapper {
  position: absolute;
  z-index: 10;
  display: block;
  padding: 10px 5px;
  margin: -5px -10px;
  background-color: #eaeaea;
  border: 1px solid #000;
  border-radius: 3px;
  box-shadow: 0 10px 15px 0 rgb(0 0 0 / 53%);
}

#sorted-mice-container .mouse-subcategory-mice .mouse-container-selected .mouse-mhct-extra-info-wrapper {
  right: -15px;
  left: -15px;
}

#sorted-mice-container .mouse-container-selected .mouse-extra-info {
  display: block;
}

#sorted-mice-container .mouse-image {
  width: auto;
  height: 35px;
  margin: 5px;
  border-radius: 3px;
  outline: 1px solid #989898;
}

#sorted-mice-container .scavenger-sorted-page .mouse-image {
  outline: none;
}

.mh-dark-mode #sorted-mice-container .mouse-image {
  border-radius: 3px;
}

#sorted-mice-container .mouse-category-wrapper-hidden {
  display: none;
}

#sorted-mice-container .mouse-subcategory-wrapper {
  margin: 3px;
  background-color: rgb(255 255 255 / 60%);
  border: 1px solid rgb(0 0 0 / 60%);
  box-shadow: inset 1px 1px 2px -1px rgb(0 0 0 / 60%);
}

#sorted-mice-container .mouse-subcategory-header {
  position: relative;
  padding: 8px;
  margin-bottom: 3px;
  font-size: 11px;
  border-bottom: 1px solid #999;
}

#sorted-mice-container .mouse-subcategory-mice {
  padding: 0 5px;
}

#sorted-mice-container .mouse-locations {
  display: flex;
  flex-direction: column;
}

#sorted-mice-container .mouse-location {
  display: inline-block;
  margin-bottom: 5px;
}

#sorted-mice-container .mhct {
  margin-top: 15px;
}

#sorted-mice-container .location-text-wrapper {
  text-align: center;
}

#sorted-mice-container .mouse-weakness {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#sorted-mice-container .weakness-type {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#sorted-mice-container .power-types img {
  width: 15px;
  height: 15px;
  margin: 1px;
}

#sorted-mice-container .weakness-name {
  flex: 0 0 100%;
  margin-right: 2px;
  margin-bottom: 2px;
  font-size: 10px;
  text-align: center;
}

#sorted-mice-container .mouse-locations-wrapper {
  display: flex;
}

.mouse-category-wrapper.mouse-category-current-floor .mouse-category-header::after,
.mouse-subcategory-wrapper.mouse-subcategory-current-floor .mouse-subcategory-header::after {
  position: absolute;
  top: -4px;
  right: 2px;
  z-index: 1;
  width: 25px;
  height: 25px;
  margin: 0;
  content: "";
  background-color: #fff;
  background-image: url(https://www.mousehuntgame.com//images/ui/friends/anonymous_user.png);
  background-size: cover;
  border-radius: 50%;
}

.mouse-subcategory-wrapper.mouse-subcategory-current-floor .mouse-subcategory-header::after {
  top: 5px;
  border: 1px solid #9f9f9f;
}

.mouse-category-wrapper.mouse-category-current-floor .mouse-category-header::before {
  position: absolute;
  top: -8px;
  right: -4px;
  width: 37px;
  height: 48px;
  content: "";
  background-image: url(https://www.mousehuntgame.com/images/ui/hud/bountiful_beanstalk/player.png);
  filter: hue-rotate(275deg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 0;
  background-size: 100%;
}

#sorted-mice-container .mouse-subcategory-wrapper .mouse-subcategory-header {
  margin-bottom: 3px;
  background-color: rgb(255 255 255 / 75%);
  border-bottom: 1px solid #070707;
}

.mhct-row.mhct-row-no-env {
  cursor: not-allowed;
}

.scavenger-location-content,
.sorted-page-content.generic-sorted-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 30px;
}

.scavenger-location-content .mh-ui-ar {
  margin-left: 5px;
}

.poster .sorted-page-content .mh-ui-ar {
  position: relative;
  right: unset;
  bottom: unset;
}

.sorted-page-content .mhct-stage {
  max-width: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.treasureMapView-leftBlock {
  position: relative;
}

.mh-ui-goals-sidebar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 15px;
  height: 15px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" width="28" fill="currentColor"><path d="M4 0h12a4 4 0 0 1 4 4v12a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4zm0 2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H4zm7.828 8L8.293 6.464A1 1 0 0 1 9.707 5.05l4.243 4.243a1 1 0 0 1 0 1.414L9.707 14.95a1 1 0 1 1-1.414-1.414L11.828 10z"></path></svg>'); /* stylelint-disable-line */
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.5;
}

.mh-ui-goals-sidebar-toggle.closed {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" width="28" fill="currentColor"><path d="M4 2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H4zm0-2h12a4 4 0 0 1 4 4v12a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4z"></path><path d="M8.414 9H14a1 1 0 1 1 0 2H8.414l2.536 2.536a1 1 0 0 1-1.414 1.414l-4.243-4.243a.997.997 0 0 1 0-1.414L9.536 5.05a1 1 0 1 1 1.414 1.414L8.414 9z"></path></svg>'); /* stylelint-disable-line */
}

.mh-ui-goals-sidebar-toggle:hover {
  opacity: 1;
}

.treasureMapView-leftBlock.full-width {
  width: 100%;
}

.full-width .treasureMapView-goals-group-goal {
  width: calc(20% - 5px);
}

.scavenger-toggle-wrapper {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.sorted-page[data-scavenger-sorted-by="none"] .sorted-page-content.treasureMapView-block-content.scavenger-sorted-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 30px;
}
