.journal .entry.folkloreForest.folkloreForest-lootFuelBoost {
  min-height: unset;
  background-color: #b6f1d1;
}

.entry.folkloreForest-farmToTable .journaltext a:nth-last-of-type(2)::after {
  content: " and ";
}

.journal .entry.folkloreForest-tableOfContents.wordCount {
  background-color: #fff9ee;
  box-shadow: inset 0 0 9px -2px #a78f77;
}

.journal .entry.folkloreForest-tableOfContents.wordCount .journaltext {
  max-width: 275px;
  margin: 0 auto;
  font-size: 11px;
}

/* add a quill to the word count entry */
.journal .entry.folkloreForest-tableOfContents.wordCount::after {
  position: absolute;
  top: 20%;
  left: 2px;
  width: 37px;
  height: 37px;
  color: #d9bb92;
  content: "";
  background-image: url(https://www.mousehuntgame.com/images/folklore_forest_upgrades/golden_quill_thumb.png?cv=2);
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: luminosity;
}
