/* Frift droid */
.journal .content .entry.riftFuroma {
  position: relative;
}

.journal .content .entry.riftFuroma-energyLost .journalbody {
  margin-left: 80px;
}

.journal .content .entry.riftFuroma-energyLost .journalbody::before {
  position: absolute;
  top: -12px;
  left: -96px;
  display: block;
  width: 75px;
  height: 80px;
  content: "";
  background-image: url(https://www.mousehuntgame.com/images/ui/hud/rift_furoma/droid.png?asset_cache_version=2);
  filter: grayscale(1);
  background-repeat: no-repeat;
  background-position: 0 -100px;
  background-size: 110%;
  mix-blend-mode: luminosity;
}

.journal .content .entry.riftFuroma-energyLost .journaltext {
  display: flex;
  align-items: center;
  min-height: 54px;
}

.journal .content .entry.riftFuroma-retreat {
  background-color: #f4c3b2;
}

.journal .content .entry.riftFuroma-energyLost {
  min-height: 60px;
}

.journal .content .entry.riftFuroma-enterPagoda,
.journal .content .entry.riftFuroma-unlockBattery {
  background-color: #f3b782;
}

.journal .content .entry.riftFuroma-exitPagoda {
  background-color: #e3bfb4;
}
