.lunarNewYearCampPopup-content-endDate {
  font-size: 14px;
  line-height: 20px;
}

.lunarNewYearCampPopup-environment .mousehuntTooltip {
  top: -44%;
}

.lunarNewYearCampHUD-window-row-reward::after {
  top: 1px;
  background-color: #9b2034;
  border-color: #ef617e;
}

.lunarNewYearCampHUD-window-row:nth-child(even) .lunarNewYearCampHUD-window-row-reward::after {
  right: 35px;
}

.lunarNewYearCampHUD-window-row:nth-child(odd) .lunarNewYearCampHUD-window-row-reward::after {
  top: 0;
  left: 35px;
}

.lunarNewYearCampHUD-window-row .lunarNewYearCampHUD-window-row-reward::after {
  box-shadow:
    0 -1px 1px 0 #f3577c,
    0 1px 1px 0 #f3577c;
}

.lunarNewYearCampHUD-window-row-reward {
  width: 28px;
  height: 18px;
  border-radius: 6px;
  box-shadow:
    0 -1px 1px 0 #f3577c,
    0 1px 1px 0 #f3577c;
}

.lunarNewYearCampHUD-window-row.lunar_new_year_2018_cheese.reward .lunarNewYearCampHUD-window-row-reward::after,
.lunarNewYearCampHUD-window-row.lunar_new_year_2018_cheese.claimed .lunarNewYearCampHUD-window-row-reward::after {
  width: 180px;
}

.lunarNewYearCampHUD-container .mousehuntItem .mousehuntItem-quantity.quantity {
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 2px;
  font-size: 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.lunarNewYearCampHUD-container .mousehuntItem.active .mousehuntItem-quantity.quantity {
  border-top: 1px solid #d6a766;
  box-shadow: inset 0 0 5px 5px #ffe344;
}

.lunarNewYearCampHUD-stat-value {
  font-size: 13px;
  text-shadow: 0 0 10px #fee7a6;
  box-shadow: inset 0 0 3px 1px #b81d3e;
}

.lunarNewYearCampHUD-stat-label {
  text-align: center;
}

.lunarNewYearCampHUD-statsContainer .lunarNewYearCampHUD-stat:nth-child(3) .lunarNewYearCampHUD-stat-value {
  width: 32px;
}

.lunarNewYearCampHUD-window-background .lunarNewYearCampHUD-window-lantern::after {
  transition: 0.7s;
}

.lunarNewYearCampHUD-window-background:hover .lunarNewYearCampHUD-window-lantern::after {
  filter: brightness(1.5) drop-shadow(1px 0 4px #000);
  transform: scale(1.5);
}

.lunarNewYearCampPopup .lunarNewYear2018-claimRow-image {
  text-align: left;
}
